<include file='Template:header' />
<style>
  .wrap{
    margin-top:50px;
    width:1000px;
    margin:0 auto;
  }
</style>
<body>
  <div class="container">
    <div class="wrap">
      <div class="title" style="text-align:center;padding-top:20px;"><h3>{$content['title']}</h3></div>  
      <div class="pub_time" style="text-align:center;">{$content['pub_time']}</div>  
      <div class="source" style="text-align:center;">{$content['source']}</div> 
      <div class="source">{$content['content']}</div> 
    </div> 
  </div>
</body>
</html>
