<include file="template:header" />
<title>信息审核</title>
<style>
.til_email {
    padding: 60px 0 30px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 24px;
    color: #666;
}
.til_email h4 {
    font-weight: normal;
}
.icon_email {
    display: inline-block;
    margin: 0 15px;
    margin-top: -3px;
    width: 24px;
    height: 28px;
    vertical-align: middle;
    background-position: -74px 0;
}
.icon {
    background: url(../../images/aut_icon.png) no-repeat 0 0;
}
i {
    font-style: normal;
}
.select{
    float:left;
}
.upload-photo-box {
    float: left;
    width: 120px;
    height: 120px;
    margin-right: 30px;
    cursor: pointer;
    margin-bottom: 20px;
    padding-top:10px;
}
.upload-photo-addimg {
    width: 120px;
    height: 120px;
    background: url(__PUBLIC__/Admin/images/ptdatybg.png) 0 0 no-repeat;
}
</style>
</head>
<body>
<div class="til_email">
    <h4><i class="icon icon_email"></i>企业信息审核</h4>
</div>
<div class="pd-20">
    <form action="{:U('UL/picture_edit')}" method="post" class="form form-horizontal" id="form-article-add">
        <div class="row cl">
            <label class="form-label col-2"><span class="c-red">*</span>名称：(企业/个人)</label>
            <div class="formControls col-5">
                <input type="text" class="input-text" value="{$picinfo['title']}" placeholder="" name="title">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-2">经营范围：</label>
            <div class="formControls col-2"> 
                <span class="select-box">
                    <select name="column" class="select">
                        <option value="0">请选择</option>
                        <option value="1">养殖</option>
                        <option value="2">农产品</option>
                        <option value="3">租赁</option>
                        <option value="4">杂项</option>  
                    </select>
                </span> 
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-2"><span class="c-red">*</span>地址：</label>
            <div class="formControls col-2 div-residecity"> 
                <span class="select-box">
                    {$residecity_component}
                </span> 
            </div>
        <div class="row cl">
            <label class="form-label col-2">上传照片：</label>
            <div class="formControls col-5">
                <div class="upload-photo-box">
                    <div class="upload-photo-addimg" title="点击添加图片" role="dialog" role-api="addOrEditor|add,data[ptimg123][],0,0,0,editorfn,deletefn,,data[pdesc][]" num="2" max="infinite">
                    </div>
                </div>    
               <span class="c-red">
                上传营业执照、税务登记证、组织机构代码证或三证合一扫描 件，并在上加盖公章且手写申请日期。</span>
            </div>
        </div>


  <!--       <div class="upload-photo">
            <div class="clearfix">
                <div class="upload-photo-box">
                    <div class="upload-photo-addimg" title="上传盖章授权公函" role="dialog" role-api="addOrEditor|add,data[authorizationletter],0,0,0,editorfn,deletefn" num="0" max="1">
                    </div>
                </div>
                <div class="upload-text-box"><a href="/uploads/authorizationletter.docx" class="upload-text-download" title="授权公函模板下载">授权公函模板下载</a></div>
            </div>
             <div class="upload-photo-explain">请先下载授权公函，填好后盖章,再上传授权公函。 </div>
        </div> -->
        <div class="row cl">
            <label class="form-label col-2">授权公函：</label>
            <div class="formControls col-5">
                <input type="text" class="input-text" value="0" placeholder="" id="" name="keywords"><span class="c-red">请先下载授权公函，填好后盖章,再上传授权公函。</span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-2">实名信息：</label>
            <div class="formControls col-5">
                <span style="display:inline-block;font-size: 14px;height: 31px;line-height: 1.42857;padding: 4px;">郭书伟&nbsp;&nbsp;140****2910</span><a href="">去实名认证</a>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-2">企业描述：</label>
            <div class="formControls col-10">
                <textarea name="description" cols="" rows="" class="textarea"  placeholder="说点什么...最少输入10个字符" datatype="*10-100" dragonfly="true" nullmsg="备注不能为空！" onKeyUp="textarealength(this,200)"></textarea>
                <p class="textarea-numberbar"><em class="textarea-length">0</em>/200</p>
            </div>
        </div>
        <div class="row cl">
            <div class="col-10 col-offset-2">
                <button class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存并提交审核</button>
            </div>
        </div>
    </form>
</div>
</div>
<include file="template:common_script_template"/>
<include file="template:footer" />
<script type="text/javascript">
$(function(){ 
    var ue = UE.getEditor('editor');

});
  window.showdistrict = function (container, elems, totallevel, changelevel, containertype) {
        var resideprovince = $('#resideprovince option:selected').attr('did');
        var residecity = $('#residecity option:selected').attr('did');
        var residedist = $('#residedist option:selected').attr('did');
        var residecommunity = $('#residecommunity option:selected').attr('did'); 
        if(residecity==undefined){
            residecity=''
        }
        if(residedist==undefined){
            residedist=''
        }
        if(residecommunity==undefined){
            residecommunity=''
        }
        var url = "container="+container+"&containertype="+containertype
          +"&province="+elems[0]+"&city="+elems[1]+"&district="+elems[2]+"&community="+elems[3]
      +"&pid="+resideprovince + "&cid="+residecity+"&did="+residedist+"&coid="+residecommunity+"&level="+totallevel+'&handlekey='+container+'&inajax=1'+(!changelevel ? '&showdefault=1' : '')

        $.ajax({
            url: 'ajaxGetDistrict',
            data: url,
            dataType: "json",
            type: "POST",
            traditional: true,
            success: function (res) {
                // alert(12345);
                if (res.code == 200) {
                    var district = res.data.district;
                    $('.div-residecity').html(district);
                }
            }
        })
    }
</script>
<script type="text/javascript" src="/js/libs/webuploader/webuploader.js"></script>
<script type="text/javascript" src="/scripts/pc/companycertification_com.js?" init="pc/companycertification"></script>
</body>
</html>