<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!-- IE / Chrome -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<!-- 360极速模式 -->
	<meta name="renderer" content="webkit" />
	<title> 福利政策 </title>
	<link rel="stylesheet" href="../css/common.css">
	<link rel="stylesheet" href="../css/policy.css">
</head>
<body>

<div class="g-site-wrap">
	<div class="g-site-top">

		<!-- g-head -->
		<%- include ../tpl/site-hd.html %>

	</div>
	<div class="J_SiteBody g-site-body">
		<%- include ../tpl/site-side.html %>
		<div class="J_SiteMain g-site-main">

			<!--p-policy-->
			<div class="p-policy">
				<div class="p-subnav">
					<div class="p-subnav-inner J_SubNav">
						<dl>
							<dt><a class="title" href="javascript:;">福利政策总览</a></dt>
						</dl>
						<dl>
							<dt><a class="title" href="javascript:;"><i class="arr"></i>考勤与休假</a></dt>
						</dl>
						<dl>
							<dt><a class="title" href="javascript:;"><i class="arr"></i>公积金</a></dt>
							<dd>
								<ul>
									<li><a class="item" href="javascript:;">公积金支取</a></li>
									<li><a class="item" href="javascript:;">联名卡</a></li>
									<li><a class="item" href="javascript:;">转移</a></li>
									<li><a class="item" href="javascript:;">缴纳规则</a></li>
								</ul>
							</dd>
						</dl>
						<dl>
							<dt><a class="title" href="javascript:;"><i class="arr"></i>保险福利总览</a></dt>
						</dl>
						<dl>
							<dt><a class="title" href="javascript:;"><i class="arr"></i>医疗保险及报销</a></dt>
						</dl>
						<dl>
							<dt><a class="title" href="javascript:;"><i class="arr"></i>生育保险及报销</a></dt>
						</dl>
						<dl>
							<dt><a class="title" href="javascript:;"><i class="arr"></i>个人信息变更</a></dt>
						</dl>
						<dl>
							<dt><a class="title" href="javascript:;"><i class="arr"></i>证明开具</a></dt>
						</dl>
						<dl>
							<dt><a class="title" href="javascript:;"><i class="arr"></i>工作居住证</a></dt>
						</dl>
						<dl>
							<dt><a class="title" href="javascript:;"><i class="arr"></i>档案管理</a></dt>
						</dl>
						<dl>
							<dt><a class="title" href="javascript:;"><i class="arr"></i>户口办理</a></dt>
						</dl>
					</div>

					<div class="p-subnav-handle J_SubnavHandle"></div>
				</div>
				<div class="p-content J_Content">
					<div class="m-layout clearfix">
						<h2 class="m-title2">公积金支取</h2>

						<div class="m-wrap">
							<div class="p-article">
								<h3 class="title">公积金支取</h3>
								<p class="update">2015.03.14</p>

								<p class="digest">摘要: 住房公积金提取关系到许多家庭的切身利息。北京住房公积金提取需要符合哪些条件?北京住房公积金可以提取的额度是多少呢?本文为您介绍的的是北京住房 公积金提取条件、提取材料、提取流程等信息的整合,供您参考。</p>

								<dl>
									<dt>【购房提取】</dt>
									<dd>1、住房公积金的缴存职工;</dd>
									<dd>2、提取原因为购买具有所有权的住房。</dd>
									<dd>注:异地购房亦可提取公积金</dd>

									<dt>【租房提取】</dt>
									<dd>最新消息: 1月29日起公积金提取条件放宽 连续缴存三月即可提取</dd>
									<dd>
										<ol class="list">
											<li>1、申请人为住房公积金的缴存职工;</li>
											<li>2、房租支出超出家庭工资收入5%。(提示:根据1月28日发行最新政策,取消房租支出占家庭收入比例的限制,职工连续足额缴存住房公积金满3个月,本人及配偶在缴存城市无自有住房且租赁住房的,可提取夫妻双方住房公积金支付房租。但是北京相应细则暂未出台,本地宝将第一时间为您更新。)</li>
										</ol>
									</dd>

									<dt>【其他提取】</dt>
									<dd>北京市住房公积金提取条件(房屋类)</dd>
									<dd>北京市住房公积金提取条件(非房屋类)</dd>

									<dt>【推荐阅读】</dt>
									<dd>租房提取公积金新政策关注热点(1月28日起)</dd>
									<dd>第一,职工连续足额缴存满三个月,本人及配偶在缴存城市无自有住房且租房的,可提取双方住房公积金支付房租;</dd>
									<dd>第二,租住公租房,可按照实际房租支出全额提取;</dd>
									<dd>第三,租住商品房,各地根据当地租金水平和住房面积确定提取额度。</dd>
									<dd>关于放宽提取住房公积金支付房租条件的通知全文</dd>
									<dd>住房公积金提取新政2015:租房提取公积金条件放宽</dd>
								</dl>
							</div>
						</div>

						<!-- 返回顶部 -->
						<a class="J_ToTop m-totop" href="javascript:;"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="../libs/jquery/jquery.min.js"></script>
<script src="../libs/jquery/jquery.slimscroll.min.js"></script>
<script src="../js/common.js"></script>
<script src="../js/policy.js"></script>
</body>
</html>