<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!-- IE / Chrome -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<!-- 360极速模式 -->
	<meta name="renderer" content="webkit" />
	<title> 组织架构 </title>
	<link rel="stylesheet" href="../css/common.css">
	<link rel="stylesheet" href="../css/chart.css">
</head>
<body>

<div class="g-site-wrap">
	<div class="g-site-top">

		<!-- g-head -->
		<%- include ../tpl/site-hd.html %>

	</div>
	<div class="J_SiteBody g-site-body">
		
		<%- include ../tpl/site-side.html %>
		
		<div class="J_SiteMain g-site-main">
			<div class="m-layout">
				<h2 class="m-title2">组织架构</h2>

				<div class="p-structure m-wrap">
					<a href="#" class="m-chart-superior ico ico-chart-arr-top"></a>
					<table class="m-chart">
						<tr>
							<td colspan="3">
								<div class="item item-retract">
									<dl>
										<dt><img src="../img/tmp/avatar1-PAGE.jpg"></dt>
										<dd class="name">张晓晓</dd>
										<dd>公共用户产品 T1</dd>
									</dl>
								</div>
							</td>
						</tr>
						<tr>
							<td colspan="3" class="line-y"><div class="line"></div></td>
						</tr>
						<tr>
							<td class="empty tr"><span class="line"></span></td>
							<td class="line-group"><span class="line"></span></td>
							<td class="empty tl"><span class="line"></span></td>
						</tr>
						<tr>
							<td colspan="3" class="m-chart-item J_ChartItemBox">
								<div class="item item-unfold">
									<dl>
										<dt class="m-coverimg" style="background-image: url(../img/tmp/avatar1-PAGE.jpg)"></dt>
										<dd class="name">张晓晓</dd>
										<dd>公共用户产品 T1</dd>
									</dl>
									<a class="more" href="#"><i class="ico ico-chart-arr-bottom"></i></a>
								</div>

								<div class="item item-unfold">
									<dl>
										<dt class="m-coverimg" style="background-image: url(../img/tmp/avatar1-PAGE.jpg)"></dt>
										<dd class="name">张晓晓</dd>
										<dd>公共用户产品 T1</dd>
									</dl>
									<a class="more" href="#"><i class="ico ico-chart-arr-bottom"></i></a>
								</div>

								<div class="item item-unfold">
									<dl>
										<dt class="m-coverimg" style="background-image: url(../img/tmp/avatar1-PAGE.jpg)"></dt>
										<dd class="name">张晓晓</dd>
										<dd>公共用户产品 T1</dd>
									</dl>
									<a class="more" href="#"><i class="ico ico-chart-arr-bottom"></i></a>
								</div>

								<div class="item item-unfold">
									<dl>
										<dt class="m-coverimg" style="background-image: url(../img/tmp/avatar1-PAGE.jpg)"></dt>
										<dd class="name">张晓晓</dd>
										<dd>公共用户产品 T1</dd>
									</dl>
									<a class="more" href="#"><i class="ico ico-chart-arr-bottom"></i></a>
								</div>

								<div class="item item-unfold">
									<dl>
										<dt class="m-coverimg" style="background-image: url(../img/tmp/avatar1-PAGE.jpg)"></dt>
										<dd class="name">张晓晓</dd>
										<dd>公共用户产品 T1</dd>
									</dl>
									<a class="more" href="#"><i class="ico ico-chart-arr-bottom"></i></a>
								</div>

								<div class="item item-unfold">
									<dl>
										<dt class="m-coverimg" style="background-image: url(../img/tmp/avatar1-PAGE.jpg)"></dt>
										<dd class="name">张晓晓</dd>
										<dd>公共用户产品 T1</dd>
									</dl>
									<a class="more" href="#"><i class="ico ico-chart-arr-bottom"></i></a>
								</div>

								<div class="item item-unfold">
									<dl>
										<dt class="m-coverimg" style="background-image: url(../img/tmp/avatar1-PAGE.jpg)"></dt>
										<dd class="name">张晓晓</dd>
										<dd>公共用户产品 T1</dd>
									</dl>
									<a class="more" href="#"><i class="ico ico-chart-arr-bottom"></i></a>
								</div>

								<div class="item item-unfold">
									<dl>
										<dt class="m-coverimg" style="background-image: url(../img/tmp/avatar1-PAGE.jpg)"></dt>
										<dd class="name">张晓晓</dd>
										<dd>公共用户产品 T1</dd>
									</dl>
									<a class="more" href="#"><i class="ico ico-chart-arr-bottom"></i></a>
								</div>

								<div class="item item-unfold">
									<dl>
										<dt class="m-coverimg" style="background-image: url(../img/tmp/avatar1-PAGE.jpg)"></dt>
										<dd class="name">张晓晓</dd>
										<dd>公共用户产品 T1</dd>
									</dl>
									<a class="more" href="#"><i class="ico ico-chart-arr-bottom"></i></a>
								</div>

								<div class="item item-unfold">
									<dl>
										<dt class="m-coverimg" style="background-image: url(../img/tmp/avatar1-PAGE.jpg)"></dt>
										<dd class="name">张晓晓</dd>
										<dd>公共用户产品 T1</dd>
									</dl>
									<a class="more" href="#"><i class="ico ico-chart-arr-bottom"></i></a>
								</div>

								<div class="item item-unfold">
									<dl>
										<dt class="m-coverimg" style="background-image: url(../img/tmp/avatar1-PAGE.jpg)"></dt>
										<dd class="name">张晓晓</dd>
										<dd>公共用户产品 T1</dd>
									</dl>
									<a class="more" href="#"><i class="ico ico-chart-arr-bottom"></i></a>
								</div>

								<div class="item item-unfold">
									<dl>
										<dt class="m-coverimg" style="background-image: url(../img/tmp/avatar1-PAGE.jpg)"></dt>
										<dd class="name">张晓晓</dd>
										<dd>公共用户产品 T1</dd>
									</dl>
									<a class="more" href="#"><i class="ico ico-chart-arr-bottom"></i></a>
								</div>

								<div class="item item-unfold">
									<dl>
										<dt class="m-coverimg" style="background-image: url(../img/tmp/avatar1-PAGE.jpg)"></dt>
										<dd class="name">张晓晓</dd>
										<dd>公共用户产品 T1</dd>
									</dl>
									<a class="more" href="#"><i class="ico ico-chart-arr-bottom"></i></a>
								</div>

								<a class="item handle J_ChartHandle" href="#">
									<i class="ico ico-chart-retract"></i>收起
									<!--<i class="ico ico-chart-unfold"></i>展开-->
								</a>
							</td>
						</tr>
					</table>
				</div>
			</div>

		</div>
	</div>
</div>

<script src="../libs/jquery/jquery.min.js"></script>
<script src="../libs/jquery/jquery.slimscroll.min.js"></script>
<script src="../js/common.js"></script>
<script>
$(function(){
	// 展开收起
	(function(){
		var bChartHandle = !0,
				oBox = $('.J_ChartItemBox'),
				oHandle = $('.J_ChartHandle');

		oHandle.on('click', function(){
			var sUnfold = '<i class="ico ico-chart-unfold"></i>展开',
					sRetract = '<i class="ico ico-chart-retract"></i>收起';

			if(bChartHandle){
				$(this).html(sUnfold);
				oBox.find('.item:gt(5):not(:last-child)').hide();
			} else {
				$(this).html(sRetract);
				oBox.find('.item').show();
			}
			bChartHandle = !bChartHandle;
			return false;
		});
	}());


});
</script>
</body>
</html>