@-webkit-keyframes loadingmove{
  from{
    left: 0;
  }

  to{
    left: px2remcolumnviews(182px);
  }

}

.ui-balloon-foot-gameloop{
  position: relative;
  margin: px2remcolumnviews(20px) auto 0;
  width: px2remcolumnviews(244px);
  height: px2remcolumnviews(15px);
  background: url(/styles/images/topic/xtyyh/pc/balloons-loading.png) no-repeat 0 0;
  background-repeat: no-repeat;
  background-size: px2remcolumnviews(244px) px2remcolumnviews(30px);
}
.ui-balloon-foot-gameloop-inner{
  position: absolute;
  top: px2remcolumnviews(1px);
  left: 0;
  width: px2remcolumnviews(60px);
  height: px2remcolumnviews(13px);
  -webkit-animation:loadingmove 1s infinite;
  background: url(/styles/images/topic/xtyyh/pc/balloons-loading.png) no-repeat 0 px2remcolumnviews(-17px);
  background-repeat: no-repeat;
  background-size: px2remcolumnviews(244px) px2remcolumnviews(30px);
}
.ui-balloon-foot-gameword{
  font-size: px2remcolumnviews(14px);
  color: #fad132;
  line-height: px2remcolumnviews(85px);
  text-align: center;
  text-indent: px2remcolumnviews(40px);
}

.ui-balloon-head-time,
.ui-balloon-head-gift-icons,
.ui-balloon-head-gift-up,
.ui-balloon-head-close{
  background-image: url(/styles/images/topic/xtyyh/pc/balloons-start.png);
  background-repeat: no-repeat;
  background-size: px2remcolumnviews(300px) px2remcolumnviews(220px);
}
.ui-balloon{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  min-height: px2remcolumnviews(540px);
  width: 100%;
  background-color: #1a1a1a;
  z-index: 5;
}
.ui-balloon-head{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: px2remcolumnviews(40px) 0 px2remcolumnviews(30px);
  background-color: #1a1a1a;
  z-index: 2;
}
.ui-balloon-head-time{
  width: px2remcolumnviews(130px);
  height: px2remcolumnviews(44px);
  line-height: px2remcolumnviews(44px);
  margin: px2remcolumnviews(5px) 0 0 px2remcolumnviews(50px);
  font-size: px2remcolumnviews(16px);
  color: #fff;
  padding-left: px2remcolumnviews(65px);
  background-position: px2remcolumnviews(-1px) px2remcolumnviews(-1px);
}
.ui-balloon-head-time-inner{
  margin: 0 px2remcolumnviews(5px);
  font-size: px2remcolumnviews(28px);
  color: #fffc00;
  vertical-align: middle;
}
.ui-balloon-head-gift{
  height: px2remcolumnviews(55px);
  line-height: px2remcolumnviews(55px);
  padding-left: px2remcolumnviews(43px);
  margin-left: px2remcolumnviews(43px);
  border-left:2px solid #5a3321;
}
.ui-balloon-head-gift-icons{
  width: px2remcolumnviews(78px);
  height: px2remcolumnviews(56px);
  background-position: px2remcolumnviews(-1px) px2remcolumnviews(-65px);
}
.ui-balloon-head-gift-num{
  width: px2remcolumnviews(50px);
  line-height: px2remcolumnviews(63px);
  color: #fff;
  font-size: px2remcolumnviews(28px);
  padding-left: px2remcolumnviews(10px);
}
.ui-balloon-head-gift-up{
  display: none;
  float: left;
  width: px2remcolumnviews(58px);
  height: px2remcolumnviews(56px);
  background-position: px2remcolumnviews(-131px) px2remcolumnviews(-60px);
}
.ui-balloon-head-close{
  float: left;
  margin-right: px2remcolumnviews(50px);
  margin-top: px2remcolumnviews(9px);
  width: px2remcolumnviews(140px);
  height: px2remcolumnviews(36px);
  background-position: px2remcolumnviews(-2px) px2remcolumnviews(-172px);
  &:hover{
    box-shadow: 0 0 px2remcolumnviews(15px) #ff7e00;
    background-position: px2remcolumnviews(-2px) px2remcolumnviews(-133px);
  }
}
.ui-game-gonglue,
.ui-balloon-music-open,
.ui-balloon-music-close,
.ui-backhome,
.ui-record-btn,
.ui-prizelist-btn{
  background-image: url(/styles/images/topic/xtyyh/pc/bg-game-main.png);
  background-repeat: no-repeat;
  background-size: px2remcolumnviews(300px) px2remcolumnviews(244px);
}
.ui-game-gonglue{
  float: left;
  margin-top: px2remcolumnviews(10px);
  width: px2remcolumnviews(150px);
  height: px2remcolumnviews(36px);
  margin-right: px2remcolumnviews(20px);
  background-position: 0px px2remcolumnviews(-37px);
  &:hover{
    box-shadow: 0 0 px2remcolumnviews(15px) #ff7e00;
    background-position: px2remcolumnviews(-150px) px2remcolumnviews(-37px);
  }
}
.ui-gameother-gonglue{
  position: fixed;
  margin: 0;
  right: px2remcolumnviews(50px);
  top: px2remcolumnviews(45px);
  z-index: 1;
}


.ui-balloon-music-open{
  float: left;
  width: px2remcolumnviews(39px);
  height: px2remcolumnviews(39px);
  margin-right: px2remcolumnviews(30px);
  margin-top: px2remcolumnviews(9px);
  background-position: px2remcolumnviews(-40px) px2remcolumnviews(-83px);
}
.ui-balloon-music-close{
  float: left;
  width: px2remcolumnviews(39px);
  height: px2remcolumnviews(39px);
  margin-right: px2remcolumnviews(30px);
  margin-top: px2remcolumnviews(9px);
  background-position: 0px px2remcolumnviews(-83px);
}
.ui-balloon-body-rules{
  position: absolute;
  top:50%;
  left: 50%;
  margin-top: px2rem(-110px);
  margin-left: px2rem(-301px);
  width: px2rem(603px);
  height: px2rem(310px); 
  background: url(/styles/images/topic/xtyyh/pc/balloons-rules.png) no-repeat 0 0;
  background-size: px2rem(603px) px2rem(310px);
}
.ui-balloon-body-rules-start{
  display: block;
  margin: px2rem(244px) auto 0;
  width: px2rem(140px);
  height: px2rem(36px);
  background-image: url(/styles/images/topic/xtyyh/pc/balloons-start.png);
  background-repeat: no-repeat;
  background-size: px2rem(300px) px2rem(220px);
  background-position: px2rem(-145px) px2rem(-172px);
  &:hover{
    box-shadow: 0 0 15px #ff7e00;
    background-position: px2rem(-145px) px2rem(-133px);
  }

}
.ui-balloon-body-rules-descripe{
  margin-top: px2rem(25px);
  font-size: px2rem(12px);
  color: #ffe4d8;
  text-align: center;
}
.ui-balloon-foot{
  position: absolute;
  top: px2rem(-215px);
  left: 0;
  width: 100%;
  z-index: 3;
}
.ui-balloon-foot-timeout{
  display: block;
  margin: 0 auto;
}
.ui-balloon-foot-gameover{
  display: block;
  margin: 0 auto;
}
.ui-balloon-body-item{
  position: fixed;
  background-image: url(/styles/images/topic/xtyyh/pc/balloons.png);
  background-repeat: no-repeat;
  background-size: px2remcolumnviews(800px) px2remcolumnviews(402px);
}






.balloon{
  display: block;
}
.balloon1{
  height: px2remcolumnviews(88px);
  width: px2remcolumnviews(62px);
  background-position: px2remcolumnviews(-2px) 0;
  animation: balloon 4s .5s linear infinite;
}
.balloon1 .balloon{
  width: px2remcolumnviews(55px);
  height: px2remcolumnviews(45px);
  margin-top: px2remcolumnviews(20px);
  margin-left: px2remcolumnviews(4px);
}
.balloon2{
  height: px2remcolumnviews(97px);
  width: px2remcolumnviews(68px);
  background-position: px2remcolumnviews(-71px) 0;
  animation: balloon 3s .8s linear infinite;
}
.balloon2 .balloon{
  width: px2remcolumnviews(60px);
  height: px2remcolumnviews(55px);
  margin-top: px2remcolumnviews(20px);
  margin-left: px2remcolumnviews(4px);
}
.balloon3{
  height: px2remcolumnviews(106px);
  width: px2remcolumnviews(99px);
  background-position: px2remcolumnviews(-148px) 0;
}
.balloon3 .balloon{
  width: px2remcolumnviews(90px);
  height: px2remcolumnviews(75px);
  margin-top: px2remcolumnviews(12px);
  margin-left: px2remcolumnviews(5px);
}
.balloon4{
  height: px2remcolumnviews(100px);
  width: px2remcolumnviews(94px);
  background-position: px2remcolumnviews(-258px) 0;
  animation: balloon 2s .1s linear infinite;
}
.balloon4 .balloon{
  width: px2remcolumnviews(80px);
  height: px2remcolumnviews(70px);
  margin-top: px2remcolumnviews(12px);
  margin-left: px2remcolumnviews(7px);
}
.balloon5{
  height: px2remcolumnviews(124px);
  width: px2remcolumnviews(94px);
  background-position: px2remcolumnviews(-363px) 0;
  animation: balloon 6s .5s linear infinite;
}
.balloon5 .balloon{
  width: px2remcolumnviews(75px);
  height: px2remcolumnviews(90px);
  margin-top: px2remcolumnviews(12px);
  margin-left: px2remcolumnviews(13px);
}
.balloon6{
  height: px2remcolumnviews(113px);
  width: px2remcolumnviews(112px);
  background-position: px2remcolumnviews(-468px) 0;
}
.balloon6 .balloon{
  width: px2remcolumnviews(80px);
  height: px2remcolumnviews(85px);
  margin-top: px2remcolumnviews(12px);
  margin-left: px2remcolumnviews(13px);
}
.balloon7{
  height: px2remcolumnviews(119px);
  width: px2remcolumnviews(82px);
  background-position: px2remcolumnviews(-587px) 0;
}
.balloon7 .balloon{
  width: px2remcolumnviews(65px);
  height: px2remcolumnviews(80px);
  margin-top: px2remcolumnviews(12px);
  margin-left: px2remcolumnviews(10px);
}
.balloon8{
  height: px2remcolumnviews(104px); 
  width: px2remcolumnviews(75px);
  background-position: px2remcolumnviews(-680px) 0;
}
.balloon8 .balloon{
  width: px2remcolumnviews(60px);
  height: px2remcolumnviews(75px);
  margin-top: px2remcolumnviews(12px);
  margin-left: px2remcolumnviews(8px);
}
.balloon9{
  height: px2remcolumnviews(112px);
  width: px2remcolumnviews(100px);
  background-position: px2remcolumnviews(-1px) px2remcolumnviews(-121px);
}
.balloon9 .balloon{
  width: px2remcolumnviews(82px);
  height: px2remcolumnviews(75px);
  margin-top: px2remcolumnviews(12px);
  margin-left: px2remcolumnviews(8px);
}
.balloon10{
  height: px2remcolumnviews(122px);
  width: px2remcolumnviews(108px);
  background-position: px2remcolumnviews(-116px) px2remcolumnviews(-121px);
}
.balloon10 .balloon{
  width: px2remcolumnviews(90px);
  height: px2remcolumnviews(85px);
  margin-top: px2remcolumnviews(12px);
  margin-left: px2remcolumnviews(8px);
}
.balloon-click{
  height: px2remcolumnviews(250px);
  width: px2remcolumnviews(252px);
  margin-left: px2remcolumnviews(-126px);
  margin-top: px2remcolumnviews(-125px);
  background-position: px2remcolumnviews(-542px) px2remcolumnviews(-140px);
  z-index: 1;
}
.bombs{
  height: px2remcolumnviews(120px);
  width: px2remcolumnviews(150px);
  background-position: px2remcolumnviews(-245px) px2remcolumnviews(-122px);
  animation: bomb .3s 2s linear infinite;
}
.bombs .bomb{
  display: block;
  width: px2remcolumnviews(70px);
  height: px2remcolumnviews(70px);
  margin-top: px2remcolumnviews(42px);
  margin-left: px2remcolumnviews(8px);
}