.mod-charge{
	display:none;
	.hd{
		height: 48px;
		line-height: 48px;
		color:#787878;
		font-size: 14px;
	}
	.bd{
		width: 100%;
		td{
			height: 80px;
			background:#fff;
			border-bottom:10px solid #f0f0f0;
			-webkit-transition: all .25s ease-in-out; 
			-moz-transition: all .25s ease-in-out; 
			transition: all .25s ease-in-out;
		}
		.selected td{
			background:#e6e6e6;
		}
		img{
			width: 40px;
			height: 40px;
			vertical-align: middle;
			margin-left: 37px;
			margin-right: 5px;
		}
		i,span{
			display: block;
			text-align: center;
		}
		i{
			font-size: 14px;
			color: #787878;
			font-style: normal;
			line-height: 2em;
		}
		span{
			font-size: 16px;
			color:#383838;
		}
		span.red{
			color: #ea544a;
		}
		.tit{
			font-size: 16px;
			font-family: Microsoft YaHei;
		}

		tr.hover td{
			background-color:#e6e6e6;
			cursor: pointer;
		}
		.close{
			color :#EA544A;
			display: none;
		}
		.hover .close{
			display: inline;
		}
	}
	.ft{
		padding:10px 140px 35px;
		.ui-more{
			margin-top:0;
		}
	}
}
.mod-target{
	display:none;
	padding-top:20px;
	.hd{
		height: 48px;
		line-height: 48px;
		color: #787878;
		font-size: 14px;
	}
}
.mod-target.active,.mod-charge.active{
	display:block;
}
.mod-charge-btn{
	width:98px;
	height:28px;
	display:inline-block;
	*display:inline;
	*zoom:1;
	border:1px solid #0080cc;
	color:#0080cc;
	line-height:28px;
	text-align:center;
	font-size:16px;
	font-family:Microsoft YaHei;
	border-radius:8px;
}
.mod-charge-btn:hover{
	text-decoration:none;
	background:#0080cc;
	color:#fff;
}