.mod-common-list{
    .common-list-inner{
        padding-left: px2rem(32px);
        background-color: #fff;
        &:active{
            background-color: #F8F8F8;
        }
    }    
    .common-list-item{
        padding-right: px2rem(32px);       
        line-height: px2rem(100px);             
        a{
            display: block;
            font-size: px2rem(32px);
            color: #404040;
        }
        .ui-icons-more-empty{
            float: right;
            width: px2rem(14px);
            height: px2rem(24px);
            margin-top: px2rem(37px);
            margin-left: px2rem(20px);
        }
        .ui-icons-more{
            float: right;
            margin-top: px2rem(38px);
            margin-left: px2rem(20px);
            width: px2rem(20px);
            height: px2rem(30px);
            background: url(/styles/images/common/mobile/icons.png) no-repeat px2rem(-12px) px2rem(-171px);
            background-size: px2rem(358px) px2rem(209px);
        }
    }
    .common-list-item-border{
        border-bottom: px2rem(2px) solid #E9E9E9;
    }
} 
