.mod-date{
	.tools{
		position: relative;
		text-align: center;
		height: 47px;
		line-height: 47px;
		font-size: 22px;
		color: #383838;

		a{
			display: block;
			width: 47px;
			height: 47px;
			position:absolute;
			background:url(/styles/images/common/icons.png);
		}

		a.prev{
			background-position: -202px 7px;
			top:0;
			left: 0;
		}
		a.next{
			background-position: -247px 7px;
			top:0;
			right: 0;
		}

		a.prev:hover{
			background-position: -202px -40px;
		}
		a.next:hover{
			background-position: -247px -40px;
		}

		a.prev.none{
			background-position: -202px -87px;
		}
		a.next.none{
			background-position: -247px -87px;
		}
	}
}