.mod-floatlayer{
    position:fixed;
    bottom:50px;
    right:20px;
    z-index:30;
    li{
        width:49px;
        height:49px;
        font-size:14px;
        color:#fff;
        background-color:rgba(56,56,56,0.6);
        background-color:#383838\9;
        background-image:url(/styles/images/common/icons.png);
        background-repeat:no-repeat;
        margin-bottom:7px;
        border-radius:3px;
        cursor:pointer;
        .a{
            display:none;
            margin: 0 auto;
            text-align: center;
            width: 34px;
            height:38px;
            line-height:16px;
            padding:9px 7px 2px;
            &:link{
                color:#fff;
                text-decoration:none;
            }
            &:visited{
                color:#fff;
                text-decoration:none;
            }
            &:hover{
                color:#fff;
                text-decoration:none;
                background: none;
                font-size: 14px;
            }
        }
        &:hover{
            background:#0080cc none 0 0;
            img{
                display:block;
            }
            a{
                display: block;

            }
            .qqnumber{
                display: block;
            }
        }
    }
    .qq{
        background-position: -78px -581px;
        position:relative;
        .qqnumber{
            display:none;
            position:absolute;
            top:0;
            right:52px;
            height: 49px;
            line-height: 49px;
            padding-left: 50px;
            width: 115px;
            font-size: 18px;
            color:#383838;
            background:url(/styles/images/common/icons.png) no-repeat -636px -405px;
            z-index: 2;
        }
    }
    .share{
        background-position:11px -239px;

    }
    .account{
        background-position:10px -295px;
    }
    .scancode{
        background-position:11px -355px;
        position:relative;
        img{
            position:absolute;
            top:-44px;
            right:52px;
            display:none;
        }
    }
    .contrast{
        display: none;
        background: #383838\9;
        background-image: none;
        .a{
            display: block;
            line-height: 30px;
        }
    }
    .baidushare{
        background-position: 11px -238px;
    }
    .home{
        display:none;
        background-position:11px -418px;
    }
    .service{
        background-position:-145px -581px;
    }
    li.redland{
      position: relative;
      width: 49px;
      height: 62px;
      background-image: none;
      background-color: transparent;
      .a{
        display: block;
        width: 100%;
        height: 100%;
        padding: 0;
        img{
          position: absolute;
          top: 0;
          left: 0;
          height: 62px;
        }
        .qiandao{
          display: none;
        }
        ._logo2{
          //display: none;
          width: 49px;
          height: 62px;
        }
      }

    }
    li.redland:hover{
      background-color: transparent;
    }
    /*li.redland1{
        height: 62px;
        background: transparent url('/styles/images/common/icons.png') -365px -1138px;
        @include ratioBackground(transparent,'/styles/images/common/icons.png',400px 600px,-76px,-538px);
        &:hover{
            @include ratioBackground(transparent,'/styles/images/common/icons.png',400px 600px,-76px,-538px);
        }
    }
    li.redland2{
        height: 62px;
        background: transparent url('/styles/images/common/icons.png') -421px -1138px;
        @include ratioBackground(transparent,'/styles/images/common/icons.png',400px 600px,-130px,-538px);
        &:hover{
            @include ratioBackground(transparent,'/styles/images/common/icons.png',400px 600px,-130px,-538px);
        }
    }*/
}

.mod-right-empty,
.mod-left-empty,
.emptycanvas{
    background-color:#fff;
    text-align:center;
    height:200px;
    line-height:200px;
    img{
        width:60px;
        height:60px;
        vertical-align: middle;
    }
    span{
        display:inline-block;
        color:#787878;
        font-size:16px;
        height:200px;
        line-height:200px;
        margin-left:10px;
    }
}
.mod-right-empty{
    height:100px;
    line-height:100px;
    span{
        display:inline-block;
        color:#787878;
        font-size:16px;
        height:100px;
        line-height:100px;
        margin-left:10px;
    }

}
.emptycanvas{
    height:370px;
    line-height:370px;
    span{
        display:inline-block;
        color:#787878;
        font-size:16px;
        height:370px;
        line-height:370px;
        margin-left:10px;
    }
}
.bdshare_popup_bottom{
    display: none;
}
/*@-webkit-keyframes flipInY {
  from {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(400px);
  }
}
@-moz-keyframes flipInY {
  from {
    -moz-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -moz-animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -moz-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -moz-animation-timing-function: ease-in;
  }

  60% {
    -moz-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    -moz-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  to {
    -moz-transform: perspective(400px);
  }
}
@-ms-keyframes flipInY {
  from {
    -ms-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -ms-animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -ms-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -ms-animation-timing-function: ease-in;
  }

  60% {
    -ms-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    -ms-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  to {
    -ms-transform: perspective(400px);
  }
}
@-o-keyframes flipInY {
  from {
    -o-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -o-animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -o-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -o-animation-timing-function: ease-in;
  }

  60% {
    -o-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    -o-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  to {
    -o-transform: perspective(400px);
  }
}
.flipInY {
  -webkit-backface-visibility: visible !important;
  -moz-backface-visibility: visible !important;
  -ms-backface-visibility: visible !important;
  -o-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInY;
  -moz-animation-name: flipInY;
  -ms-animation-name: flipInY;
  -o-animation-name: flipInY;
  animation-name: flipInY;
}
.flipInY_90 {
  //transform: rotateY(90deg);
  width: 0 !important;
  margin-right: 12.25px;
}
.flipInY_270 {
  //transform: rotateY(270deg);
  width: 0 !important;
  margin-right: 12.25px;
}
.flipInY_360 {
  //transform: rotateY(360deg);
  width: 49px !important;
  margin-right: 0;

}
.animated_in{
  -webkit-transition: width .4s cubic-bezier(.9, 0, 1, 1),margin .4s cubic-bezier(.9, 0, 1, 1),opacity .4s cubic-bezier(.9, 0, 1, 1);
  -moz-transition: width .4s cubic-bezier(.9, 0, 1, 1),margin .4s cubic-bezier(.9, 0, 1, 1),opacity .4s cubic-bezier(.9, 0, 1, 1);
  transition: width .4s cubic-bezier(.9, 0, 1, 1),margin .4s cubic-bezier(.9, 0, 1, 1),opacity .4s cubic-bezier(.9, 0, 1, 1);
}
.animated_out {
  -webkit-transition: width .6s cubic-bezier(0, 0, .1, 1),margin .6s cubic-bezier(0, 0, .1, 1),opacity .6s cubic-bezier(0, 0, .1, 1);
  -moz-transition: width .6s cubic-bezier(0, 0, .1, 1),margin .6s cubic-bezier(0, 0, .1, 1),opacity .6s cubic-bezier(0, 0, .1, 1);
  transition: width .6s cubic-bezier(0, 0, .1, 1),margin .6s cubic-bezier(0, 0, .1, 1),opacity .6s cubic-bezier(0, 0, .1, 1);
}*/
