.ui-hotloan{
    position: relative;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    background-color: #fff;
}
.ui-hotloan-table{
    float: right;
}
.ui-hotloan-table-item{
    display: none;
    border-radius: 8px;
    background-color: #fff;
    overflow: hidden;
}
.ui-hotloan-table-item-active{
    display: block;
}
.ui-hotloan-tab{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
    height: 25px;
    line-height: 25px;
    text-align: center;
    color: #999;
    font-size: 12px;
}
.ui-hotloan-tab-item{ 
    float: left;
    width: 64px;
    border-radius: 3px 3px 0 0;
    background-color: #e8e8e8; 
    cursor: pointer;
}
.ui-hotloan-tab-item-current{
    color: #fff;
    background-color: #ff2c27;
    cursor: default;
}
.ui-hotloan-tab1{
    margin-left: 50px;
}
.ui-hotloan-tab2{
    margin-left: 5px;
}
.ui-hotloan-item-time{
    position: absolute;
    top: 0px;
    right: 55px;
    z-index: 1;
    width: 80px;
    height: 38px;
    background: #fff;
    border-radius: 0px 0px 5px 5px;
    overflow: hidden;
    text-align: center;
    line-height: 18px;
    padding: 2px 0px 0px;
    font-size: 12px;
    color: #292e73;
    strong{
        display: block;
        font-size: 14px;
        line-height: 15px;
    }
}
.ui-hotloan-item-box{
    padding: 20px 0;
    width: 230px;
    height: 110px;
}
.ui-hotloan-item-logo{
    display: block;
    height: 50px;
    text-align: center;
    img{
        max-height: 50px;
        _height: 50px;
        line-height: 50px;
        vertical-align: middle;
    }
}
.ui-hotloan-item-bg{
    margin-top: 20px;
    height: 20px;
    text-align: center;
    .ui-bg-item{
        display: inline-block;
        height: 18px;
        line-height: 18px;
        padding: 0 10px;
        margin: 0 5px;
        border-radius: 3px;
        color: #292e73;
        border: 1px solid #c8cbe3;
        font-size: 12px;
    }
}
.ui-hotloan-item-loans{
    float: left;
    width: 770px;
    height: 110px;
    padding-top: 15px;
    padding-bottom: 25px;
    background-color: #80f;
}
.ui-hotloan-item-name{
    line-height: 44px;
    font-size: 20px;
    color: #fff;
    max-width: 202px;
    margin-right: 18px;
    @include text-ellipsis;
    vertical-align: middle;
    display: inline-block;
}
.ui-hotloan-item-notetag{
    display: inline-block;
    border-radius: 3px;
    background-color: #fff;
    height: 20px;
    width: 125px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #292e73;
    vertical-align: middle;
}
.ui-hotloan-item-list{
    text-align: center;
}
.ui-hotloan-item-rate-num{
    height: 50px;
    font-size: 50px;
    span{
        font-size: 20px;
    }
    em{
        font-size: 20px;
        font-style: normal;
    }
    i{
        font-size: 14px;
        font-style: normal;
    }
}
.ui-hotloan-item-note-name{
    font-size: 13px;
    line-height: 22px;
    color: #bfc1d5;
    font-weight: normal;
}
.ui-hotloan-item-rate-default{
    float: left;
    width: 15%;
    line-height: 45px;
    font-size: 50px;
    color: #fff;
}
.ui-hotloan-item-rate-add{
    float: left;
    width: 13%;
    line-height: 45px;
    font-size: 50px;
    font-weight: bold;
    color: #ffff16;
}
.ui-hotloan-item-rate-symbol{
    float: left;
    width: 7%;
    text-align: center;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    line-height: 45px;
}
.ui-hotloan-item-deadline{
    float: left;
    width: 12%;
    padding-top: 18px;
    font-size: 20px;
    line-height: 32px;
    color: #fff;
}
.ui-hotloan-item-descript{
    float: left;
    width: 24%;
    padding-top: 18px;
    font-size: 20px;
    line-height: 32px;
    color: #fff;
}
.ui-hotloan-item-btn{
    float: right;
    margin-right: 40px;
    margin-top: 17px;
    a{
        display: block;
        width: 120px;
        height: 45px;
        text-align: center;
        font-size: 16px;
        line-height: 45px;
        font-weight: bold;
        color: #fff;
        border-radius: 5px;
        background-color: #ff2c27;
        @include fadein(0.25s);
        &:hover{
            text-decoration: none;
            background-color: #a50814;
            @include fadein(0.25s);
        }
    }
}
.ui-hotloan-item-btned{
    float: right;
    margin-right: 40px;
    margin-top: 17px;
    a{
        display: block;
        width: 120px;
        height: 45px;
        text-align: center;
        font-size: 16px;
        line-height: 45px;
        font-weight: bold;
        color: #999;
        border-radius: 5px;
        background-color: #e8e8e8;
        cursor: default;
    }
}
 
.ui-hotloan-item-timedown{
    margin: 10px auto 0;
    width: 233px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    background: url(/styles/images/topic/brand718/pc/icons.png) no-repeat 0 -52px;
    background-size: 350px 350px;
}

.ui-hotloan-item-rateadd-num{
    width: 350px;
    text-align: center;
    padding-top: 10px;
    font-size: 70px;
    font-weight: bold;
    color: #fffc00;
    line-height: 72px;
    strong{
        font-size: 30px;
        font-style: normal;
        vertical-align: bottom;
        line-height: 72px;
    }
    span{
        font-size: 30px;
        vertical-align: bottom;
        line-height: 45px;
    }
    i{
        font-size: 20px;
        font-style: normal;
        vertical-align: bottom;
        line-height: 37px;
    }
}
.ui-hotloan-item-rateadd-name{
    width: 350px;
    text-align: center;
    font-size: 14px;
    line-height: 29px;
    color: #fff;
}
.ui-hotloan-item-timedown-five{
    span{
        display: inline-block;
        width: 40px;
        height: 66px;
        font-size: 50px;
        line-height: 66px;
        margin: 0 8px;
        border-radius: 5px;
        background-color: #fff;
        text-align: center;
        color: #80f;
        font-family: airil;
        font-weight: bold;
    }
    em{
        display: inline-block;
        margin: 0 5px;
        height: 66px;
        line-height: 58px;
        font-size: 60px;
        font-weight: bold;
        color: #fff;
        vertical-align: top;
    }
}

.ui-hotloan-item-empty{
    width: 100%;
    text-align: center;
    img{
        height: 145px;
    }
}
/* hotloans add*/
.ui-hotloan-wait{
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    height: 100px;
    text-align: center;
    border-radius: 8px;
    background-color: #fff;
    overflow: hidden;
}
.ui-hotloan-wait-left{
    width: 230px;
    height: 100px;
    background-color: #fff;
}
.ui-hotloan-wait-right{
    width: 770px;
    height: 100px;
    background-color: #80f;
}
.ui-hotloan-wait-title{
    width: 225px;
    padding-left: 5px;
    padding-top: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    line-height: 35px;
}
.ui-hotloan-wait-note{
    width: 225px;
    padding-left: 5px;
    font-size: 14px;
    color: #333;
    line-height: 30px;
}
.ui-hotloan-wait-descripe{
    float: left;
    margin: 25px 75px 0 120px;
    width: 300px;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    font-size: 16px;
    color: #80f;
    border-radius: 20px;
    background-color: #ffff16;
}
.ui-hotloan-wait-time{
    float: left;
    margin-top: 26px;
    width: 224px;
}
.ui-hotloan-wait-time-number{   
    font-size: 26px;
    font-weight: bold;
    span{
        float: left;
        margin: 0 5px;
        border-radius: 3px;
        width: 24px;
        height: 38px;
        line-height: 38px;
        color: #80f;
        background-color: #fff;
    }
    em{
        float: left;
        font-size: 26px;
        width: 10px;
        height: 38px;
        line-height: 38px;
        color: #fff;
    }
}
.ui-hotloan-wait-time-note{
    margin-top: 38px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    color: #bfc1d5;
    background: url(/styles/images/topic/brand1218/pc/icons.png) no-repeat 3px -5px;
}
.ui-hidden{
    display: none;
}