.mod-invest-popup{
	.txt_cnt{
		padding-bottom: 12px;
		font-size: 16px;
	}
	.holder{
		input{
			width: 98%;
			height: 28px;
			line-height: 28px;
		}
	}

	input{
		border:1px solid #ccc;
		padding-left:10px;
	}

	.invest-btn{
		display: inline-block;
		*display:inline;
		*zoom:1;
		border:1px solid #0080cc;
		padding:0 30px;
		line-height: 35px;
		margin: 0 auto;
		background:#fff;
		color: #0080cc;
		font-size: 16px;
		font-family: Microsoft YaHei;
		border-radius:8px;
		-webkit-transition: all .25s ease-in-out; 
		-moz-transition: all .25s ease-in-out; 
		transition: all .25s ease-in-out; 
		cursor: pointer;
	}
	.invest-btn:hover,.invest-btn.current{
		background:#0080cc;
		color: #fff;
		text-decoration: none;
	}
	.align-center{
		text-align: center;
	}
	.align-right{
		text-align: right;
	}


	dt,dd{
		display: inline-block;
		*display: inline;
		*zoom:1;
	}
	dl{
		height: 30px;
		padding-bottom:10px;
	}
	dt{
		height: 30px;
		line-height: 30px;
		color: #383838;
		width: 115px;
		text-align:right;
	}
	.input{
		height: 28px;
		line-height: 28px;
		padding-left:10px;
	}

	.way,.aradio{
		display: inline-block;
		*display: inline;
		*zoom:1;
		height: 30px;
		line-height: 30px;
		color: #ccc;
		font-size: 14px;
		padding:0 12px;
		background:#f0f0f0;
		margin-right: 10px;
	}
	.way:hover,.way.selected,.aradio:hover,.aradio.selected{
		color: #fff;
		background:#3dbbf9;
		text-decoration: none;
		-webkit-transition: all .25s ease-in-out; 
		-moz-transition: all .25s ease-in-out; 
		transition: all .25s ease-in-out; 

	}
	.red{
		color: #ea544a;
	}
	.green{
		color: #009966;
	}
	.tiper{
		font-size: 12px;
		color: #ea544a;
		display: none;
	}
	.onerror .tiper{
		display: inline;
	}

	.infoinvest-title{
		height: 30px;
		line-height: 30px;
		text-align: center;
		font-size: 14px;
		color: #787878;
		background:#f0f0f0;
	}
	.infoinvest-table-parent{
		height: 180px;
		overflow-y: scroll;
	}
	.infoinvest-table{
		width: 100%;
		color: #787878;
		th{
			line-height: 30px;
			text-align: center;
			font-size: 13px;
			border-bottom:1px dashed #f0f0f0;
		}
		td{
			line-height: 15px;
			text-align: center;
			font-size: 13px;
			padding-top:10px;
		}

	}
}





