//loans
.ui-laons,
.ui-laons-body-title-iconsl,
.ui-laons-body-title-iconsr,
.ui-laons-body-end-title-iconsr,
.ui-laons-body-end-title-iconsl,
.ui-laons-waiting-time,
.ui-laons-waiting-tag,
.ui-laons-ing-time-top-icons,
.ui-laons-end-hot-item-toloans,
.ui-laons-loading-time-top-icons,
.move-btn-prev,
.move-btn-next{
  background-image: url(/styles/images/topic/xtyyh/pc/loans-bg.png);
  background-size: px2remcolumnviews(1186px) px2remcolumnviews(392px);
  background-repeat: no-repeat;
}
.ui-laons{
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: px2remcolumnviews(-215px);
  margin-left: px2remcolumnviews(-593px);
  width: px2remcolumnviews(1186px);
  height: px2remcolumnviews(480px);//407px;
  background-position: 0 px2remcolumnviews(85px);
  z-index: 6;
}

.ui-laons-body{
  background-color: #ef3a3a;
  border-radius: px2remcolumnviews(5px);
  width: px2remcolumnviews(1080px);
  overflow: hidden;
  //height: 398px);
  //padding: 0 40px 30px);
  margin-left: px2remcolumnviews(57px);
  margin-top: px2remcolumnviews(70px);
  margin: px2remcolumnviews(70px) auto 0;
}
.ui-laons-body-bottom{
  height: px2remcolumnviews(30px);
  line-height: px2remcolumnviews(30px);
  text-align: center;
  color: #fff;
  font-size: px2remcolumnviews(14px);
}
.ui-laons-body-title{
  height: px2remcolumnviews(70px);
}
.ui-laons-body-end-title{
  height: px2remcolumnviews(70px);
}
.ui-laons-body-title-iconsl,
.ui-laons-body-end-title-iconsl{
  float: left;
  margin-left: px2remcolumnviews(180px);
  margin-top: px2remcolumnviews(19px);
  width: px2remcolumnviews(91px);
  height: px2remcolumnviews(70px);
  background-position: px2remcolumnviews(-478px) px2remcolumnviews(-73px);
}
.ui-laons-body-end-title-iconsl{
  margin-left: px2remcolumnviews(85px);
}
.ui-laons-body-title-iconsr,
.ui-laons-body-end-title-iconsr{
  float: right;
  margin-right: px2remcolumnviews(180px);
  margin-top: px2remcolumnviews(19px);
  width: px2remcolumnviews(91px);
  height: px2remcolumnviews(70px);
  background-position: px2remcolumnviews(-618px) px2remcolumnviews(-73px);
}
.ui-laons-body-end-title-iconsr{
  margin-right: px2remcolumnviews(85px);
}
.ui-laons-body-title-word,
.ui-laons-body-end-title-word{
  font-size: px2remcolumnviews(38px);
  color: #faf3e1;
  font-family: Microsoft YaHei;
  text-align: center;
  line-height: px2remcolumnviews(70px);
}
.ui-laons-body-title-word-small{
  font-size: px2remcolumnviews(20px);
  color: #faf3e1;
}
.ui-laons-body-inner{
  margin: 0 auto;
  width: px2remcolumnviews(920px);
  height: px2remcolumnviews(230px);
  border-radius: px2remcolumnviews(5px);
  background-color: #fff3c6;
}
.ui-laons-waiting,
.ui-laons-loading
.ui-laons-ing,
.ui-laons-empty{
  padding: 0 px2remcolumnviews(40px) px2remcolumnviews(30px);
}
.ui-laons-waiting-empty{
  height: px2remcolumnviews(63px);
}
.ui-laons-waiting-time{
  width: px2remcolumnviews(596px);
  height: px2remcolumnviews(100px);
  margin: 0 auto;
  background-position: px2remcolumnviews(-302px) px2remcolumnviews(-156px);
}
.ui-laons-waiting-tag{
  margin: px2remcolumnviews(15px) auto 0;
  width: px2remcolumnviews(600px);
  height: px2remcolumnviews(32px);
  line-height: px2remcolumnviews(32px);
  text-align: center;
  font-size: px2remcolumnviews(20px);
  color: #787878;
  background-position: px2remcolumnviews(-298px) px2remcolumnviews(-272px);
}
.ui-laons-waiting-time-item{
  float: left;
  width: px2remcolumnviews(66px);
  height: px2remcolumnviews(100px);
  line-height: px2remcolumnviews(100px);
  text-align: center;
  font-size: px2remcolumnviews(72px);
  font-weight: bold;
  color: #fff;
  border-radius: px2remcolumnviews(5px);
  background-color: #383838;
  margin: 0 px2remcolumnviews(5px);
}
.ui-laons-waiting-time-icons{
  float: left;
  width: px2remcolumnviews(70px);
  height: px2remcolumnviews(100px);
  font-weight: bolder;
  color: #383838;
}
.ui-laons-loading{
  padding: px2remcolumnviews(58px) 0 0 px2remcolumnviews(65px);
  width: px2remcolumnviews(860px);
  height: px2remcolumnviews(202px);
}
.ui-laons-loading-logo{
  float: left;
  width: px2remcolumnviews(260px);
  height: px2remcolumnviews(140px);
  border: 1px solid #beb17e;
  vertical-align: middle;
  text-align: center;
}
.ui-laons-loading-logo-img{
  max-width: px2remcolumnviews(260px);
  max-height: px2remcolumnviews(140px);
  line-height: px2remcolumnviews(140px);
}
.ui-laons-loading-add{
  float: left;
  font-weight: bolder;
  font-size: px2remcolumnviews(60px);
  color: #ef5350;
  line-height: px2remcolumnviews(140px);
  margin-left: px2remcolumnviews(40px);
  margin-right: px2remcolumnviews(15px);
}
.ui-laons-loading-rate{
  float: left;
  text-align: center;
}
.ui-laons-loading-rate-top{
  font-weight: bold;
  color: #ef5350;
  font-size: px2remcolumnviews(40px);
  height: px2remcolumnviews(110px);
  line-height: px2remcolumnviews(100px);
  strong{
    font-size: px2remcolumnviews(112px);
  }
}
.ui-laons-loading-rate-bottom{
  font-size: px2remcolumnviews(24px);
  color: #787878;
  line-height: px2remcolumnviews(30px);
}
.ui-laons-loading-time{
  float: left;
  margin-left: px2remcolumnviews(20px);
  text-align: center;
}
.ui-laons-loading-time-top{
  height: px2remcolumnviews(110px);
}
.ui-laons-loading-time-top-item{
  float: left;
  width: px2remcolumnviews(52px);
  height: px2remcolumnviews(80px);
  line-height: px2remcolumnviews(80px);
  font-size: px2remcolumnviews(60px);
  font-weight: bold;
  color: #fff;
  border-radius: px2remcolumnviews(5px);
  margin: 0 px2remcolumnviews(4px);
  background-color: #383838;
}
.ui-laons-loading-time-top-icons{
  float: left;
  width: px2remcolumnviews(26px);
  height: px2remcolumnviews(80px);
  background-position: px2remcolumnviews(-226px) px2remcolumnviews(-59px);
}
.ui-laons-loading-time-bottom{
  font-size: px2remcolumnviews(24px);
  color: #787878;
  line-height: px2remcolumnviews(30px);
}
.ui-laons-ing{
  width: px2remcolumnviews(1000px);
}
.ui-laons-ing-name{
  text-align: center;
}
.ui-laons-ing-name-word{
  line-height: px2remcolumnviews(70px);
  font-size: px2remcolumnviews(24px);
  font-weight: bold;
  color: #333!important;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ui-laons-ing-name-tag,
.ui-laons-ed-name-tag{
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-left: px2remcolumnviews(10px);
  width: px2remcolumnviews(100px);
  height: px2remcolumnviews(30px);
  line-height: px2remcolumnviews(30px);
  text-align: center;
  font-size: px2remcolumnviews(16px);
  color: #fff;
  border-radius: px2remcolumnviews(15px);
  background-color: #05ac73;
}
.ui-laons-ed-name-tag{
  background-color: #aaa;
}
.ui-laons-ing-item{
  margin: 0 px2remcolumnviews(70px);
  border-top: 1px dashed #999;
  padding-left: px2remcolumnviews(25px);
}
.ui-laons-ing-item-list{
  float: left;
  width: px2remcolumnviews(200px);
  line-height: px2remcolumnviews(42px);
}
.ui-laons-ing-item-list-top{
  font-size: px2remcolumnviews(14px);
  color: #999;
  line-height: px2remcolumnviews(20px);
  padding-top: px2remcolumnviews(10px);
}
.ui-laons-ing-item-list-red{
  color: #ff1c1c;
  font-size: px2remcolumnviews(36px);
  font-weight: bold;
}
.ui-laons-ing-item-list-red-small{
  font-size: px2remcolumnviews(24px);
}
.ui-laons-ing-item-list-black{
  font-weight: bold;
  font-size: px2remcolumnviews(20px);
  color: #333;
  white-space: nowrap;
}
.ui-laons-ing-toloansing, 
.ui-laons-ing-toloansed{
  display: block;
  margin: px2remcolumnviews(15px) auto 0;
  width: px2remcolumnviews(184px);
  height: px2remcolumnviews(50px);
  background: url(/styles/images/topic/xtyyh/mobile/loans-btn.png) no-repeat 0 0;
  background-size: px2remcolumnviews(368px) px2remcolumnviews(50px);
}
.ui-laons-ing-toloansed{
  background-position: px2remcolumnviews(-184px) 0;
}
.ui-laons-empty{
  background-image: url(/styles/images/topic/xtyyh/pc/loans-empty.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.ui-laons-end{
  position: relative;
  height: px2remcolumnviews(346px);
  padding-bottom: px2remcolumnviews(11px);
  overflow: hidden;
  background-color: #ef3a3a;
  .bx-wrapper{
    margin: 0 auto;
  }
  .move-btn-prev{
    display: none;
    position: absolute;
    top: px2remcolumnviews(92px);
    left: 0;
    width: px2remcolumnviews(35px);
    height: px2remcolumnviews(70px);
    background-position: px2remcolumnviews(-147px) px2remcolumnviews(-66px);
    z-index: 1;
    a{
      display: block;
      width: px2remcolumnviews(35px);
      height: px2remcolumnviews(70px);
    }
  }
  .move-btn-next{
    display: none;
    position: absolute;
    top: px2remcolumnviews(92px);
    right: 0;
    width: px2remcolumnviews(35px);
    height: px2remcolumnviews(70px);
    background-position: px2remcolumnviews(-182px) px2remcolumnviews(-66px);
    z-index: 1;
    a{
      display: block;
      width: px2remcolumnviews(35px);
      height: px2remcolumnviews(70px);
    }
  }
}
.ui-laons-end-hot{
  padding: 0 px2remcolumnviews(4px);
}
.ui-laons-end-hot-item{
  width: px2remcolumnviews(220px);
  height: px2remcolumnviews(302px);
  margin: 0 px2remcolumnviews(5px);
  padding: px2remcolumnviews(18px) px2remcolumnviews(15px);
  border: px2remcolumnviews(4px) solid #fff3c6;
  background-color: #fff;
}
.ui-laons-end-hot-item-logo{
  display: block;
  height: px2remcolumnviews(45px);
  margin-bottom: px2remcolumnviews(10px);
  text-align: center;
}
.ui-laons-end-hot-item-logo-img{
  cursor: pointer;
  display: block;
  height: px2remcolumnviews(45px);
  margin: 0 auto;
  @include fadein(0.25s);
  &:hover{
    @include scale;
    @include fadein(0.25s);
  }
}
.ui-laons-end-hot-item-name{
  text-align: center;
  word-break: break-all;
  color: #333;
  font-size: px2remcolumnviews(14px);
  @include text-ellipsis;
}
.ui-laons-end-hot-item-bg{
  text-align: center;
  height: px2remcolumnviews(22px);
  padding-top: px2remcolumnviews(10px);
}
.ui-laons-end-hot-item-bg-item{
  display: inline-block;
  *display:inline;
  *zoom: 1;
  border: 1px solid #1e88e5;
  border-radius: px2remcolumnviews(2px);
  color: #1e88e5;
  font-size: px2remcolumnviews(12px);
  line-height: px2remcolumnviews(18px);
  margin-right: px2remcolumnviews(2px);
  padding: 0 px2remcolumnviews(4px);
}
.ui-laons-end-hot-item-rate{
  text-align: center;
  border-bottom: 2px dashed #e4e4e4;
}
.ui-laons-end-hot-item-rate-left{
  float: left;
}
.ui-laons-end-hot-item-rate-center{
  float: left;
  color: #b2b2b2;
  font-size: px2remcolumnviews(24px);
  height: px2remcolumnviews(42px);
  line-height: px2remcolumnviews(42px);
  text-align: center;
  width: px2remcolumnviews(20px);
}
.ui-laons-end-hot-item-rate-right{
  float: left;
}
.ui-laons-end-hot-item-rate-left-top{
  font-size: px2remcolumnviews(34px);
  font-style: italic;
  font-weight: bold;
  text-align: center;
  width: px2remcolumnviews(100px);
  span{
    font-size: px2remcolumnviews(12px);
  }
}
.ui-laons-end-hot-item-rate-right-top{
  color: #ea544a;
  font-size: px2remcolumnviews(34px);
  font-style: italic;
  font-weight: bold;
  text-align: center;
  width: px2remcolumnviews(100px);
  span{
    font-size: px2remcolumnviews(12px);
  }
}
.ui-laons-end-hot-item-rate-bottom{
  color: #999;
  font-size: px2remcolumnviews(14px);
  margin-bottom: px2remcolumnviews(10px);
  margin-top: px2remcolumnviews(5px);
  padding-bottom: px2remcolumnviews(10px);
}
.ui-laons-end-hot-item-limit{
  padding: px2remcolumnviews(10px) 0;
}
.ui-laons-end-hot-item-limit-item{
  line-height: px2remcolumnviews(30px);
  color: #333;
  font-size: px2remcolumnviews(14px);
  span{
    color: #b2b2b2;
    margin-right: px2remcolumnviews(5px);
    padding-left: px2remcolumnviews(10px);
  }
}

.ui-laons-end-hot-item-toloans{
  display: none;
  width: px2remcolumnviews(218px);
  height: px2remcolumnviews(40px);
  background-position: px2remcolumnviews(-73px) px2remcolumnviews(-142px);
}