.mod-nrank{
	overflow:hidden;
	.hd{
		background-color: #1e88e5;
		width: 300px;
		.item{
			height: 30px;
			line-height: 30px;
			border-top:2px solid #1e88e5;
			float: left;
			width: 98px;
			text-align: center;
			color: #fff;
			font-size: 14px;
			cursor: pointer;
			border-right: 1px solid #fff;
		}
		.current{
			background:#fff;
			color: #383838;
		}
	}
	&.green,&.red{
		.hd .item{
			cursor: initial;
		}
	}
	.bd.active{
		display: block;
	}
	.bd{
		padding:12px 15px;
		display: none;
		span{
			display: inline-block;
			*display: inline;
			*zoom:1;
		}
		.num{
			width: 44px;
			text-align: center;
			em{
				display: inline-block;
				*display: inline;
				*zoom:1;
				width: 14px;
				height: 14px;
				background-color:#aaa;
				border-radius:1px;
				text-align: center;
				line-height: 14px;
				font-size: 12px;
				color: #fff;
			}
		}
		.name{
			width: 153px;
			text-align: center
		}
		.count{
			width: 63px;
			text-align: center;
		}
		.rank-hd{
			border-bottom:1px solid #e7e7e7;
			span{
				line-height: 30px;
				text-align: center;
			}
		}
		.rank-bd{
			padding:5px 0;
			font-size: 14px;
			li{
				height: 27px;
				line-height: 27px;
			}
			a{
				color: #787878;
			}
			color: #787878;
			.hot{
				span em{
					background-color:#1e88e5;
				}
				color: #3a92e7;
				a{
					color: #3a92e7;
				}
			}
		}
	}
}