.mod-pk{
	overflow:hidden;

	.pk-line{
		width: 100%;
		float: left;
		.pk-line-inner{
			margin:0 46px;
			height: 13px;
			border-radius: 7px;
			background:#0080cc;
			margin-top:15px;
			overflow: hidden;
		}
		.pk-line-rate{
			height: 13px;
			background:#ea544a;
			-webkit-transition: all .25s ease-in-out;
			-moz-transition: all .25s ease-in-out; 
			transition: all .25s ease-in-out; 
		}
	}
	.pk-number{
		overflow: hidden;
		margin:0 46px;
		span{
			line-height: 1.5em;
			font-size: 14px;
		}
		.l-num{
			color: #ea544a;
		}
		.r-num{
			color: #0080cc;
		}
	}
	.l-side,.r-side{
		width: 42px;
		float: left;
		background: url(/styles/images/common/icons.png) no-repeat;
		padding-top:42px;
		text-align:center;
		line-height: 22px;
		color: #787878;
		font-size: 14px;
	}
	.l-side{
		margin-left: -100%;
		background-position:-351px -120px;
	}
	.r-side{
		margin-left: -42px;
		background-position:-407px -120px;
	}

	.l-side:hover{
		background-position:-351px -197px;
		text-decoration: none;
		color: #ea544a;
	}
	.r-side:hover{
		background-position:-407px -197px;
		text-decoration: none;
		color: #0080cc;
	}
}
