.mod-platinfo{
	padding:35px 0;
	overflow:hidden;
	.bd{
		width: 100%;
		float: left;
		.wrap{
			float: right;
		}
	}
	.hd{
		float: left;
		margin-left: -100%;
		.logo{
			margin-right: 28px;
			img{
				float: left;
			}
		}
		.box{
			display: inline-block;
			*display:inline;
			*zoom:1;
		}
		.title{
			line-height: 45px;
			font-size: 30px;
			font-weight: bold;
			font-family: Microsoft YaHei;
			color: #474f59;
		}
		.title:hover{
			text-decoration: none;
		}

		.ui-follow{
			margin-top: 9px;
			margin-left: 15px;
			*margin-top:0px;
		}
		.count{
			font-size: 16px;
			color: #333;
			display: block;
			line-height: 23px;
		}
	}

	.bd{
		overflow: hidden;
		height: 70px;
		.l{
			float: left;
		}
		.l .item{
			padding-bottom:18px;
			font-size: 16px;
			font-family: Microsoft YaHei;
			a{
				font-size: 20px;
				color: #0080cc;
				font-weight: bold;
				display: inline-block;
				width: 75px;
				text-align: center;
				font-style: italic;
				cursor: default;
			}
			a:hover{
				text-decoration: none;
			}
		}
		.r{
			width: 180px;
			float: left;
			padding-left:30px;
			border-left: 1px dashed #555;
			height: 70px;
			font-size: 16px;
			font-family: Microsoft YaHei;
			h3{
				font-size: 16px;
				font-family: Microsoft YaHei;
			}
			a{
				font-size: 12px;
			}
		}
	}
}