.mod-plathead{
	padding:29px 44px;
	.logo{
		display: block;
		width: 120px;
		height: 70px;
		border:5px solid #f0f0f0;
		img{
			width: 120px;
			height: 70px;
		}
	}
	.tit{
		padding-left:30px;
		font-size: 24px;
		font-weight: bold;
		font-family: Micrsoft YaHei;
		line-height: 1.8em;
		a{
			color: #383838;
		}
	}
	.tools{
		padding-left:30px;
	}
	.summary{
		line-height: 2em;
		font-size: 14px;
		text-align: center;
		color: #5e5e5e;
		span{
			color: #ea544a;
		}
	}
}