.mod-praise-block{
	position: relative;
	height:151px;
	overflow:hidden;
	.prev,.next{
		width: 47px;
		height: 93px;
		position:absolute;
		top:50%;
		margin-top: -47px;
		z-index: 1;
		background:url(/styles/images/common/icons.png) no-repeat;
		display: none;
		a{
			display: block;
			width: 47px;
			height: 93px;
		}
		a:hover{
			text-decoration: none;
		}
	}
	.prev{
		left:0;
		background-position:-234px -356px;
	}
	.next{
		right:0;
		background-position:-232px -465px;
	}
	.top{
		overflow:hidden;
	}
	.slider{
		height: 151px;
		overflow:hidden;
	}
	.slider-item{
		overflow:hidden;
	}
	.comment-inner{
		width: 110%;
	}
	.feed-detail{
		float: left;
		margin-right: 10px;
	}
}
.mod-praise-block.platcomment{
	box-shadow:none;
	.mod-comment .feed-detail{
		width:260px;
		padding:15px;
		height: 121px;
	}
	.mod-comment .feed-detail.more{
		background:#fff url(/styles/images/index/more-pl.png) no-repeat center;
	}
	.mod-comment .detail .detail-wrap{
		padding-left:50px;
	}
	.mod-comment .floor .info .score{
		font-size: 12px;
	}
	.mod-comment .feed-detail .detail{
		border-bottom: none;
	}
	.mod-comment .floor{
		padding-bottom:0;
		
	}
	.countinfo{
		a{
			color: #787878;
		}
	    .blue{
		  color: #0080cc;
		}
	}
}

