@mixin fonthide{
  text-align: center;
  overflow: hidden;
  word-break: break-all;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.mod-fromlayer {
  position:fixed;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  z-index: 200;
  .mod-fromlayer-mask {
    width:100%;
    height:100%;
    background:#000;
    @include opacity(0.4);
  }
  .mod-fromlayer-wrap {
    width:790px;
    height:440px;
    position: absolute;
    top:50%;
    left:50%;
    margin-top:-220px;
    margin-left:-395px;
    background: #fff;
    border-radius: 2px;
    box-shadow:0px 0px 10px #000;
  }
  .mod-fromlayer-close {
    position:absolute;
    width:24px;
    height:24px;
    top:-32px;
    right:-30px;
    background: url("/styles/images/help/enroll/enroll2_close.png") top right no-repeat;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    &:hover {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  .mod-fromlayer-new {
    position:absolute;
    width:149px;
    height:134px;
    top:-10px;
    right:-10px;
    background: url("/styles/images/help/enroll/enroll2_layer_biao.png") top right no-repeat;
  }
  .mod-fromlayer-main {
    padding:30px 0px;
    width:100%;
    height:380px;
    overflow: hidden;
  }
  .mod-fromlayer-main-right {
    float: left;
    width:100%;
  }
  .mod-fromlayer-main-right-wrap {
    padding-left:436px;
  }
  .mod-fromlayer-main-left {
    float: left;
    width:435px;
    height:100%;
    border-right:1px solid #e0e0e0;
    margin-left:-100%;
  }
  .mod-fromflayer-main-left-wrap {
    padding:0px 46px;
    text-align: center;
  }
  .from-wrap {
    padding:0px 0px 0px 50px;
    width:250px;
    height:100%;
    background: #fff;
    border-radius: 6px;
    .hd {
      padding:0px 0px 22px 0px;
      .inner {
        line-height: 18px;
        color:#f9625e;
        font-size: 16px;
        font-weight: bold;
      }
    }
    .bd {
      .item {
        width:250px;
        height:34px;
        padding:0px 0px 20px;
        overflow: hidden;
      }
      .box {
        width:228px;
        height:16px;
        padding: 8px 10px;
        border: 1px solid #dfdfdf;
        border-radius: 5px;
        position: relative;
      }
      .placeholder {
        display: none;
        font-size:13px;
        position: absolute;
        color:#ccc;
        top:6px;
        line-height: 18px;
        left:38px;
        z-index: 0;
      }
      .boxfocus {
        border:1px solid #fb615a;
      }
      .icon {
        float: left;
        width: 16px;
        height: 18px;
        margin:0px 10px 0px 2px;
        background: url(/styles/images/help/enroll/enroll2-from-icon.png) 0 0 no-repeat;
      }
      .icon_name{
        background-position:-16px -18px;
      }
      .icon_password{
        background-position:-16px -69px;
      }
      .icon_captcha{
        background-position:-16px -121px;
      }
      .icon_phone{
        background-position:-16px -173px;
      }
      .icon_phonecode{
        background-position:-16px -225px;
      }
      .text{
        float:left;
        width:200px;
        height:18px;
        border:none;
        font-size:13px;
        line-height: 18px;
        background: transparent;
        position:relative;
        z-index: 2;

      }
      .captcha {
        .box {
          width:118px;
          float:left;
          .text {
            width:78px;
          }
        }
        .disabled {
          background: #787878;
          border:1px solid #787878;
          color:#fff;
        }
        .captcha_img {
          float:right;
          width:100px;
          height:34px;
          cursor: pointer;
          img {
            width:100px;
            height:34px;
          }
        }
      }
      .box-left {
        float: left;
        width: 118px;
        .text {
          width:78px;
        }
      }
      .phonecode {
        float:right;
        padding:0px 0px 0px 10px;
        color:#1482c9;
        background: #fff;
        border:none;
        border-left:1px solid #ccc;
        line-height: 19px;
        font-size:13px;
        cursor: pointer;
      }
      .disabled {
        color: #787878;
      }
      .text:focus{outline:none;}
      .text:required:invalid{box-shadow: none;}
    }
    .old {
      .bd {
        padding:78px 0px 0px ;
      }
      .item {
        padding:0px 0px 30px;
      }
      .old-phone {
        font-size:26px;
        font-family: arial;
        font-weight: bold;
        line-height: 48px;
        height: 48px;
        padding:0px 0px 5px 0px;
        overflow: hidden;
        color:#f9625e;
        @include fonthide;
        text-align: left;
      }
      .desc {
        font-size:14px;
        .text1 {
          color:#404040;
          font-size:14px;
          line-height: 20px;
        }
        .text2 {
          font-size:12px;
          color:#aaa;
          line-height: 36px;
        }
      }
    }
    .boxfocus {
      border:1px solid #fc756f;
      .icon_name{
        background-position:-68px -18px;
      }
      .icon_password{
        background-position:-68px -69px;
      }
      .icon_phone{
        background-position:-68px -173px;
      }
      .icon_phonecode{
        background-position:-68px -225px;
      }
      .icon_captcha{
        background-position:-68px -121px;
      }
    }
    .promptbox {
      line-height: 20px;
      font-size:13px;
      color:#f9625e;
      padding:0px 0px 0px 10px;
      .prompt {
        display: none;
      }
      .yqylbg {
        float:left;
        height: 20px;
        width:15px;
        background: url(/styles/images/help/enroll/enroll2-icon.png) -366px -30px no-repeat;
      }
      span {
        float: left;
      }
    }
    .submit {
      width:250px;
      height:38px;
      background:#f9625e;
      color:#fff;
      font-size:16px;
      display:block;
      border:none;
      text-align:center;
      line-height:38px;
      border-radius:5px;
      font-weight: bold;
      cursor:pointer;
      &:hover {
        background: #ea4044;
      }
    }
    .submit-color {
      background: #ea4044;
    }
    .protocol {
      line-height: 32px;
      font-size:13px;
      color:#787878;
      a {
        color:#1582c9;
      }
    }
  }
  .mpd-fromlayer-main-left-img {
    padding:28px 0px 4px;
    text-align: right;
  }
  .mod-fromlayer-left-text {
    line-height: 36px;
    font-size:15px;
    color:#ef9144;
    text-align: center;
  }
  .mod-fromlayer-left-text2 {
    width:342px;
    height:35px;
    font-size:14px;
    color:#fff;
    line-height: 31px;
    text-align:center;
    background: url("/styles/images/help/enroll/enroll2_layer_bg.png") center center no-repeat;
  }
  .successs {
    padding:0px  50px;
    text-align: center;
  }
  .success-img {
    padding:110px 0px 0px;
  }
  .success-img-main {
    margin: 0px auto;
    width: 82px;
    height: 82px;
    background: url("/styles/images/help/enroll/enroll2-icon.png") -529px 0 no-repeat;
  }
  .success-desc {
    line-height: 62px;
    font-weight: bold;
    font-size:22px;
    color:#404040;
  }
  .success-time {
    line-height: 14px;
    color:#aaa;
    font-size: 14px;
  }
}