//全站加侧边广告
.ui-seoadvert{
  position: fixed;
  top: 175px;
  right: 10px;
  width: auto;
  height: auto;
  z-index: 1000;
  .ui-seoadvert-close{
    position:absolute;
    top:0px;
    right:0px;
    width:15px;
    height:15px;
    cursor: pointer;
    background:url("//www.p2peye.com/static/styles/images/common/huodong_icon.png") right 0px no-repeat;
    @include ratioBackground($url:'//www.p2peye.com/static/styles/images/common/huodong_icon_2x.png',$x:right,$size:125px 99px);
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    &:hover {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  .ui-seoadvert-item{
    display: block;
    width: 100%;
    height: 100%;
  }
  .ui-seoadvert-item-img{
    width: 100%;
    height: 100%;
  }
}