#shareinvest{
	
	position:fixed;
	z-index:31;
	width:1024px;
	height:515px;
	top:50%;
	left:50%;
	margin-left:-512px;
	margin-top:-259px;
	display:none;
	.shareinvest-wrap{
		position:relative;
		width:1024px;
		height:515px;
	}
	.bd{
		width:1006px;
		background:#fff;
		border-radius:7px;
		padding:9px;
		height: 497px;
		.inner{
			width: 49.5%;
			height: 497px;
			background:#3dbbf9;
		}
	}
	.close{
		position:absolute;
		width: 20px;
		height: 20px;
		top: 10px;
		right: 10px;
		display: block;
		cursor: pointer;
		background: url(/styles/images/common/icons.png) no-repeat -178px -165px;    
	}
	.ft{
		position:absolute;
		width:1024px;
		height:515px;
		top:0;
		left: 0;
		background:#fff;
		text-align: center;
		font-size: 20px;
		font-family: Microsoft YaHei;
		span{
			padding-top:182px;
			padding-bottom:20px;
			display: block;
			text-align: center;
		}
		em{
			font-size: 12px;
			color: #ccc;
			display: block;
			text-align: center;

		}
		ul{
			width:310px;
			margin: auto;
			overflow: hidden;
			padding-bottom:15px;
			li{
				float: left;
				height: 12px;
				width: 12px;
				border:1px solid #697381;
				border-radius:1px;
				margin-left: 1px;
			}
			li.ed{
				background:#697381;
			}
		}
	}
	
}

#share-invest-popup-form{
	padding-top:15px;
	textarea{
		height: 168px;
		margin-bottom: 12px;
		width: 98%;
		border:1px solid #ebebeb;
		color: #383838;
		padding: 5px 2px 0px 6px;
		font-size: 14px; 
		word-wrap: break-word;
		line-height: 18px;
		overflow: hidden;
		outline: none;
	}
	.submit{
		width: 132px;
		height: 39px;
		border:1px solid #0080cc;
		color: #0080cc;
		line-height: 39px;
		text-align: center;
		font-size: 18px;
		border-radius:5px;
		background:#fff;
		cursor: pointer;
	}
	.submit.current{
		background:#0080cc;
		color: #fff;
	}
}

.mod-shareinvest{
	.hd{
		line-height: 60px;
		font-size: 16px;
		color: #383838;
		font-family: Microsoft YaHei;
	}
	.bd{
		textarea{
			float: right;
			width: 99%;
			border:1px solid #ebebeb;
			color: #383838;
			margin: 0px;
			padding: 5px 2px 0px 6px;
			font-size: 14px; 
			word-wrap: break-word;
			line-height: 18px;
			overflow: hidden;
			outline: none;
			height: 120px;
			-webkit-transition: all .25s ease-in-out;
			-moz-transition: all .25s ease-in-out; 
			transition: all .25s ease-in-out; 
		}
	}
	.ft{
		text-align: right;
		padding-top:13px;
		span{
			font-size: 13px;
			color: #ccc;
			i{
				font-style: italic;
			}
		}
		.shownum{
			color: #ea544a;
		}
		a{
			display: inline-block;
			*display:inline;
			*zoom:1;
			width: 104px;
			height: 28px;
			line-height: 28px;
			text-align: center;
			font-size: 16px;
			font-family: Microsoft YaHei;
			border-radius:5px;
			margin-left: 8px;
			-webkit-transition: all .25s ease-in-out;
			-moz-transition: all .25s ease-in-out; 
			transition: all .25s ease-in-out; 
		}
		a:hover{
			text-decoration: none;
		}
		a.submit{
			color: #fff;
			background:#3dbbf9;
			border:1px solid #3dbbf9;
		}
		a.submit:hover{
			background:#0080c7;
			border-color:#0080c7;
		}
		a.cancel{
			color: #3dbbf9;
			border:1px solid #ccc;
		}
		a.cancel:hover{
			background:#3dbbf9;
			color: #fff;
			border-color:#3dbbf9;
		}
		a.disabled{
			background:#9eddfc;
			color: #fff;
			border-color:#9eddfc;
		}
		a.disabled:hover{
			background:#9eddfc;
			color: #fff;
			border-color:#9eddfc;
		}
	}
}
#openshare{
	display:none;
	position:fixed;
	height:230px;
	width:944px;
	top:50%;
	left:50%;
	margin-top:-115px;
	margin-left:-512px;
	padding: 0 37px 16px 42px;
	z-index:31;
	.openshare-wrap{
		width: 100%;
		height: 100%;
		position:relative;
	}
	.close{
		position:absolute;
		width: 20px;
		height: 20px;
		top: 10px;
		right: -30px;
		display: block;
		cursor: pointer;
		background: url(/styles/images/common/icons.png) no-repeat -178px -165px;    
	}
}