.Wdate{
    border: 1px solid #e3e9ef;
    height:20px;
    background:#fff url(/styles/images/common/datePicker.png) no-repeat right;
}
.Wdate::-ms-clear{display:none;}

.WdateFmtErr{
    font-weight:bold;
    color:red;
}
.Wdatel{
	background:#fff url(/styles/images/common/datePickerl.png) no-repeat 5px center;
}