.ui-footer{
    height: px2rem(380px);
    line-height: px2rem(34px);
    font-size: px2rem(24px);
    color: #A4A4A4;
    text-align: center;
    background-color: #efefef; 
}
.ui-footer-top{
    padding-top: px2rem(64px);
    margin-bottom: px2rem(32px);
}
.ui-footer-bottom{
    padding-bottom:px2rem(120px);
}