.header {
  width: 100%;
  border-bottom: 1px solid #e6e6e6;
  background-color: #fff;
  height: 90px;
  .logo{
	float: left;
	height: 90px;
	line-height: 90px;
  }
  .title{
	float: left;
	height: 90px;
	line-height: 90px;
	font-size: 24px;
	.line{
	  float: left;
	  height: 40px;
	  margin: 26px 20px 0;
	  border-left: 1px solid #e6e6e6;
	}
	h1{
	  float: left;
	  a{
		color: #999;
		text-decoration: none;
	  }
	}
	a{
	  color: #999;
	  text-decoration: none;
	}
  }
  .level-two-title{
  	height: 90px;
  	line-height: 90px;
  	.level-two-title-pipe{
  		margin-top: 27px;
  	}
  	.level-two-title-word{
  		line-height: 90px;
  	}
  }
  .nav{
  	height: 90px;
  	li{
  		height: 90px;
  		line-height: 90px;
  	}
  	a{
  		line-height: 88px;
  	}
  	.icon-haoli{
  		top: 18px;
  		right: 14px;
  	}
  	.icon-new{
  		top: 18px;
  		right: 14px;
  	}
  	.icon-jiaxi{
		position: absolute;
		width: 26px;
		height: 18px;
		top: 20px;
		right: 0px;
		font: 0/0 a;
		background-image: url(/styles/images/member/jiaxi_normal.png);
		background-position: -200px 0px;
		@include ratioBackground($url:'/styles/images/member/jiaxi_double.png', $size: 25px 18px, $x:0px, $y:0px);
	}
  }
  .search_box{
	position: relative;
	float: right;
	width: 461px;
	margin-top: 27px;
	.text{
	  float: left;
	  width: 364px;
	  height: 38px;
	  line-height: 38px;
	  //padding: 0 10px 0 35px;
	  padding: 0 10px 0 6px;
	  border-left: 1px solid #d4d4d4;
	  border-top: 1px solid #d4d4d4;
	  border-bottom: 1px solid #d4d4d4;
	  border-right: 0;
	  border-radius: 5px 0px 0px 5px;
	  font-size: 14px;
	  color: #545454;
	  &::-ms-clear { display: none; }
	}
	.searchrandom-placeholder {
	  font-size: 14px;
	  color: #787878;
	}
	.search_icon{
	  position: absolute;
	  top: 12px;
	  left: 10px;
	  width: 15px;
	  height: 16px;
	  background-position: 0 -400px;
	  background-image: url("//www.p2peye.com/static/styles/images/common/icons.png");
	}
	.drop_menu{
	  display: none;
	  width: 380px;
	  max-height: 320px;
	  position: absolute;
	  top: 100%;
	  left: 0;
	  border: 1px solid #d4d4d4;
	  border-top: 0;
	  background-color: #fff;
	  border-radius: 4px;
	  overflow: auto;
	  z-index: 101;
	  .hov {
		background-color: #f6f6f6 !important;
	  }
	  .no_data{
		position: relative;
		height: 40px;
		line-height: 40px;
		font-size: 14px;
		cursor: pointer;
		padding-left: 10px;
		color: #999999;
	  }
	  li{
		position: relative;
		height: 40px;
		line-height: 40px;
		font-size: 14px;
		cursor: pointer;
		padding-left: 10px;
		.txt{
		  display: block;
		  width: 90%;
		  float: left;
		  color: #333333;
		  overflow: hidden;
		  text-overflow: ellipsis;
		  white-space: nowrap;
		  word-break: keep-all;
		  word-wrap: normal;
		  text-decoration: none;
		}
		.txt1{

		}
	  }
	}
	.submit{
	  float: left;
	  width: 80px;
	  height: 40px;
	  line-height: 40px;
	  font-size: 16px;
	  background-color: #0099e5;
	  color: #fff;
	  border: 0;
	  border-radius: 0 3px 3px 0;
	  cursor: pointer;
	  &:hover{
		background-color: #0079c3;
	  }
	}
  }
}
.ui-wechart{
	padding-top: 20px;
}
.header-right{
	float: right;
	padding-top: 30px;
}
.header-right-href{
	display: block;
	padding: 0 16px;
	height: 28px;
	line-height: 28px;
	border: 1px solid #ff3141;
	background-color: #fff;
	color: #ff3141;
	font-size: 16px;
	border-radius: 14px;
	&:hover{
		background-color: #ff3141;
		color: #fff;
		text-decoration: none;
	}
}





