@mixin pd-pt{
  padding-left: px2rem(24px);
  padding-right:px2rem(24px);
}
header {
  @keyframes navshow {
    0% {
      height: 0px;
    }
    100% {
      height: px2rem(260px);
    }
  }
  @-webkit-keyframes navshow {
    0% {
      height: 0px;
    }
    100% {
      height: px2rem(260px);
    }
  }
  @keyframes navhide {
    0% {
      height: px2rem(260px);
    }
    100% {
      height: 0px;
    }
  }
  @-webkit-keyframes navhide {
    0% {
      height: px2rem(260px);
    }
    100% {
      height: 0px;
    }
  }
  .header-title {
    height:px2rem(100px);
    background-color:#2a8ce7;
    position:relative;
    .header-title-left {
      float: left;
      width:px2rem(66px);
      height:px2rem(100px);
      padding-left:px2rem(13px);
      text-align:center;
      vertical-align: middle;
      line-height:px2rem(100px);
      a {
        display: block;
        width:px2rem(66px);
        height:px2rem(100px);
        background: url("../images/mobile/index/left.png") center center no-repeat;
        background-size: px2rem(22px) px2rem(40px);
      }
    }
    .header-title-center {
      @include text-ellipsis;
      margin:0px px2rem(95px);
      height:px2rem(100px);
      color: #fff;
      font-size: px2rem(38px);
      line-height: px2rem(100px);
      text-align: center;
    }
    .header-title-right{
      right:px2rem(35px);
      top:px2rem(32px);
      display: block;
      width:px2rem(42px);
      height:px2rem(40px);
      position:absolute;
      background: url("../images/mobile/index/position.png") center center no-repeat;
      background-size: px2rem(42px) px2rem(40px);
    }
  }
  .header-nav-animation {
    height: 0px;
    overflow: hidden;
  }
  .header-nav-animation-show {
    -webkit-animation: navshow .4s ease-in-out	 forwards;
    animation: navshow .4s ease-in-out	 forwards;
  }
  .header-nav-animation-hide {
    -webkit-animation: navhide .4s ease-in-out	 forwards;
    animation: navhide .4s ease-in-out	 forwards;
  }
  .header-nav {
    background: #fff;
    padding:px2rem(40px) px2rem(24px) 0px;
    overflow: hidden;
    border-bottom: px2rem(1px) solid #dadada;
    .header-nav-list {
      width: px2rem(720px);
    }
    .header-nav-item {
      float: left;
      width: px2rem(180px);
      height: px2rem(110px);
    }
    .item-link{
      display: block;
      width: px2rem(158px);
      height: px2rem(58px);
      border:px2rem(1px) solid #C3C3C3;
      border-radius: px2rem(4px);
      background: #f8f8f8;
      font-size: px2rem(28px);
      line-height: px2rem(58px);
      text-align: center;
      color:#333;
    }
    .link-active {
      background: #f0f8ff;
      border-color: #2a8ce7;
    }
  }
}
.cpcactive {
  background: #fff;
  height: px2rem(88px);
  overflow: hidden;
  .cpcactive-link {
    display: block;
    padding: 0px px2rem(24px);
    line-height: px2rem(88px);
    height: px2rem(88px);
    &:hover {
      background:#f0f8ff;
    }
  }
  .cpcactive-left {
    float: left;
    width:100%;
  }
  .cpcactive-title-wrap {
    height: px2rem(88px);
    overflow: hidden;
    padding-left: px2rem(48px);
    margin-right: px2rem(40px);
    font-size: px2rem(28px);
    color:#333;
    @include text-ellipsis;
    background: url("../images/mobile/index/horn.png") left center no-repeat;
    background-size: px2rem(27px) px2rem(22px);
  }
  .returnrecord-icon {
    background: url("../images/common/mobile/returncrash.png") left center no-repeat;
    background-size: px2rem(30px) px2rem(30px);
  }
  .cpcactive-right {
    float: left;
    margin-left:px2rem(-40px);
    width: px2rem(40px);
    height: px2rem(88px);
    background: url("../images/mobile/index/more.png") right center no-repeat;
    background-size: px2rem(13px) px2rem(22px);
  }
}

@mixin pd-pt22{
  padding-left: px2rem(22px);
  padding-right:px2rem(22px);
}
.font-arial {
  font-family: Arial;
}
a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
.mod-nodata {
  height: px2rem(1000px);
  width: 100%;
  background: #fff;
  text-align: center;
  .nodata-img {
    padding-top: px2rem(116px);
    img {
      width: px2rem(167px);
      height: px2rem(172px);
    }
  }
  .nodata-text {
    padding-top: px2rem(10px);
    font-size: px2rem(28px);
    line-height: px2rem(86px);
    color: #666;
  }
  .return-home-btn {
    display: inline-block;
    border-radius: px2rem(4px);
    width: px2rem(198px);
    height: px2rem(66px);
    font-size: px2rem(28px);
    line-height: px2rem(66px);
    color: #2a8ce7;
    border: px2rem(1px) solid #2a8ce7;
  }
}
@mixin font-break {
  word-wrap: break-word;
  word-break: break-all;
  overflow: hidden;
}
//导航修改start
.mod-more-link-bluebg{
    background-color: #3692e8;
    .mod-more-link-txt{
        color: #fff;
        .mod-more-link-icon{
            width: px2rem(24px);
            height: px2rem(23px);
            top: px2rem(32px);
            background: url("../images/mobile/index/dianping_double.png") right center no-repeat;
            background-size: px2rem(24px) px2rem(23px);
            background-position: 0 0;
        }
    }
}
.directory-btn{
    position: fixed;
    right: 0;
    top: px2rem(815px);
    width: px2rem(134px);
    height: px2rem(179px);
    background: url(/styles/images/mobile/index/mulubtn_double.png) 0 0 no-repeat;
    background-size: px2rem(134px) px2rem(179px);
    z-index:100;
}
.mask-layer {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.45;
  filter: alpha(opacity=45);
  -ms-filter: alpha(opacity=45);
  z-index: 99;
}
.right-sliding,.right-slidingnav{
    position: fixed;
    left:100%;
    top: 0;
    z-index:101;
    width: 65%;
}
.right-sliding-box{
    background-color: #fff;
}
.ui-directory{
    padding-top: px2rem(75px);
}
.ui-directory-item{
    display: block;
    height: px2rem(98px);
    padding-left: px2rem(70px);
    em{
        float: left;
        width: px2rem(26px);
        height: px2rem(26px);
        margin-top: px2rem(34px);
        margin-right: px2rem(24px);
    }
    span{
        float: left;
        height: px2rem(98px);
        line-height: px2rem(98px);
        font-size: px2rem(28px);
        color: #666;
    }
    img{
        width: px2rem(26px);
        height: px2rem(26px);
    }
}
.ui-directory-item-title{
    border-bottom: px2rem(2px) solid #f0f0f0;
    span{
        font-weight: bold;
        color: #333;
    }
}
.ui-directory-item-active {
  span {
    color:#0099ee;
  }
}
@keyframes rightSlidingInnav {
    0%{
        left: 100%;
    }
    50%{
        left: 70%;
    }
    100%{
        left: 35%;
    }
}
@-webkit-keyframes rightSlidingInnav {
    0%{
        left: 100%;
    }
    50%{
        left: 70%;
    }
    100%{
        left: 35%;
    }
}
@keyframes rightSlidingOutnav {
    0%{
        left: 35%;
    }
    50%{
        left: 70%;
    }
    99%{
        left: 99%;
    }
    100%{
        left: 100%;
    }
}
@-webkit-keyframes rightSlidingOutnav {
    0%{
        left: 35%;
    }
    50%{
        left: 70%;
    }
    99%{
        left: 99%;
    }
    100%{
        left: 100%;
    }
}
.right-sliding-innav{
    -webkit-animation: rightSlidingInnav .4s linear;
    animation: rightSlidingInnav .4s linear;
    -webkit-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
}
.right-sliding-outnav{
    -webkit-animation: rightSlidingOutnav .4s linear;
    animation: rightSlidingOutnav .4s linear;
    -webkit-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
}

//seo广告
.name-iconrebate{
  float: left;
  width: px2rem(73px);
  height: px2rem(57px);
  vertical-align: middle;
  margin-top:px2rem(10px);
  background: url("/styles/images/common/mobile/seoh_icon.png") no-repeat;
  background-position:px2rem(-260px) px2rem(-250px);
  background-size:px2rem(400px) px2rem(400px);
  margin-right:px2rem(20px);
}

.ui-more {
  display: block;
  @include pd-pt;
  background: #fff;
  color:#222c38;
  line-height: px2rem(89px);
  border-top:px2rem(10px) solid #f0f0f0;
}
.ui-moreline {
  width: 100%;
  color: #ff515c;
  border-top:px2rem(1px) solid #e5e5e5;
}
.ui-moreline-text{
  float: left;
  width: px2rem(520px);
  font-size:px2rem(26px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ui-platinfo{
  margin-top: px2rem(20px);
  padding-top: px2rem(24px);
  background-color: #fff;
  width: 100%;
}
.ui-platinfo-ulist{
  height: px2rem(114px);
  li{
    float: left;
    height: px2rem(114px);
  }
}
.ui-platinfo-item{
  float: left;
  width: px2rem(162px);
  height: px2rem(114px); 
  margin-right: px2rem(26px);
}
.ui-platinfo-item-last{
  margin-right: px2rem(0px);
}
.ui-platinfo-img{
  width: px2rem(162px);
  height: px2rem(74px);
  line-height: px2rem(74px);
  text-align: center;
  span{
    display: inline-block;
  }
}
.ui-platinfo-imgbg-ptjj{
  width: px2rem(56px);
  height: px2rem(57px);
  background: url('/styles/images/mobile/index/plat_ptjj.png') 0 0 no-repeat;
  background-size: px2rem(56px) px2rem(57px);
}
.ui-platinfo-imgbg-zfsm{
  width: px2rem(56px);
  height: px2rem(58px);
  background: url('/styles/images/mobile/index/plat_zfsm.png') 0 0 no-repeat;
  background-size: px2rem(56px) px2rem(58px);
}
.ui-platinfo-imgbg-gsba{
  width: px2rem(57px);
  height: px2rem(64px);
  background: url('/styles/images/mobile/index/plat_gsba.png') 0 0 no-repeat;
  background-size: px2rem(57px) px2rem(64px);
}
.ui-platinfo-imgbg-ptyq{
  width: px2rem(61px);
  height: px2rem(70px);
  background: url('/styles/images/mobile/index/plat_ptyq.png') 0 0 no-repeat;
  background-size: px2rem(61px) px2rem(70px);
}
.ui-platinfo-imgbg-ptgg{
  width: px2rem(52px);
  height: px2rem(61px);
  background: url('/styles/images/mobile/index/plat_ptgg.png') 0 0 no-repeat;
  background-size: px2rem(52px) px2rem(61px);
}
.ui-platinfo-imgbg-tpzl{
  width: px2rem(57px);
  height: px2rem(56px);
  background: url('/styles/images/mobile/index/plat_tpzl.png') 0 0 no-repeat;
  background-size: px2rem(57px) px2rem(56px);
}
.ui-platinfo-imgbg-lxpt{
  width: px2rem(53px);
  height: px2rem(63px);
  background: url('/styles/images/mobile/index/plat_lxpt.png') 0 0 no-repeat;
  background-size: px2rem(53px) px2rem(63px);
}
.ui-platinfo-imgbg-qwpt{
  width: px2rem(48px);
  height: px2rem(67px);
  background: url('/styles/images/mobile/index/plat_qwpt.png') 0 0 no-repeat;
  background-size: px2rem(48px) px2rem(67px);
}
.ui-platinfo-txt{
  display: block;
  width: px2rem(162px);
  height: px2rem(40px);
  line-height: px2rem(40px);
  text-align: center;
  font-size: px2rem(24px);
  color: #666;
}
.ui-platinfo{
  .swiper-pagination{
    height: px2rem(30px);
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .swiper-pagination-bullet{
    width: px2rem(28px);
    height: px2rem(9px);
    border-radius: px2rem(5px);
    background: #cecece;
  }
  .swiper-pagination-bullet-active{
    background: #09e;
  }
}
//导航修改end