/* 江湖救急 start */
.jiuji-float{
  display: none;
}
.jiuji-float-mask {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000;
  @include opacity(0.8);
  z-index: 100;
}
.jiuji-float-main {
  position: fixed;
  left: 50%;
  top: 50%;
  margin: -193px 0 0 -300px;
  width: 600px;
  height: 336px;
  padding-top: 50px;
  z-index: 101;
}
.jiuji-close{
  position: absolute;
  height: 17px;
  width: 16px;
  top: 25px;
  right: 0;
  cursor: pointer;
  background-image: url(/styles/images/activity/hongbao/jiuji-icon.png);
  background-position: 0 -250px;
  @include ratioBackground($url:'/styles/images/activity/hongbao/jiuji-icon-2x.png', $size: 300px 750px, $x:0px, $y:-250px);
  transition: all .2s ease-in-out;
}
.jiuji-close:hover{
  transform: rotate(90deg);
}
.jiuji-title{
  position: absolute;
  top: 0;
  left: 150px;
  height: 81px;
  width: 300px;
  background-image: url(/styles/images/activity/hongbao/jiuji-icon.png);
  background-position: 0 0;
  @include ratioBackground($url:'/styles/images/activity/hongbao/jiuji-icon-2x.png', $size: 300px 750px, $x:0px, $y:0px);
}
.jiuji-box{
  height: 296px;
  padding-top: 40px;
  background-color: #fff;
}
.jiuji-tips{
  display: block;
  text-align: center;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  color: #383838;
  padding-bottom: 45px;
}
.jiuji-list{
  width: 532px;
  margin: 0 auto;
}
.jiuji-item{
  text-align: center;
  float: left;
  height: 143px;
  width: 100px;
  cursor: pointer;
}
.jiuji-item-shoutou{
  background-image: url(/styles/images/activity/hongbao/jiuji-icon.png);
  background-position: 0 -100px;
  @include ratioBackground($url:'/styles/images/activity/hongbao/jiuji-icon-2x.png', $size: 300px 750px, $x:0px, $y:-100px);
}
.jiuji-item-shenquan{
  background-image: url(/styles/images/activity/hongbao/jiuji-icon.png);
  background-position: -100px -100px;
  @include ratioBackground($url:'/styles/images/activity/hongbao/jiuji-icon-2x.png', $size: 300px 750px, $x:-100px, $y:-100px);
}
.jiuji-item-futou{
  background-image: url(/styles/images/activity/hongbao/jiuji-icon.png);
  background-position: -200px -100px;
  @include ratioBackground($url:'/styles/images/activity/hongbao/jiuji-icon-2x.png', $size: 300px 750px, $x:-200px, $y:-100px);
}




.jiuji-item-shoutou.jiuji-item-yiling{
  background-position: 0 -275px;
  @include ratioBackground($url:'/styles/images/activity/hongbao/jiuji-icon-2x.png', $size: 300px 750px, $x:0px, $y:-275px);
}
.jiuji-item-shenquan.jiuji-item-yiling{
  background-position: -100px -275px;;
  @include ratioBackground($url:'/styles/images/activity/hongbao/jiuji-icon-2x.png', $size: 300px 750px, $x:-100px, $y:-275px);
}
.jiuji-item-shenquan.not-now{
  background-position: 0px -425px;;
  @include ratioBackground($url:'/styles/images/activity/hongbao/jiuji-icon-2x.png', $size: 300px 750px, $x:0px, $y:-425px);
}
.jiuji-item-futou.jiuji-item-yiling{
  background-position: -200px -275px;
  @include ratioBackground($url:'/styles/images/activity/hongbao/jiuji-icon-2x.png', $size: 300px 750px, $x:-200px, $y:-275px);
}


.jiuji-item+.jiuji-item{
  margin-left: 8px;
}

.jiuji-item-got{
  display: block;
  height: 143px;
  width: 100px;
}
.jiuji-item-got:hover{
  text-decoration: none;
}
.jiuji-item-word{
  display: block;
  padding-top: 50px;
  height: 16px;
  line-height: 16px;
  font-size: 12px;
  color: #4c4c4c;
}
.jiuji-item-money{
  display: block;
  height: 16px;
  line-height: 16px;
  font-size: 15px;
  font-weight: bold;
  color: #ff5050;
}
.jiuji-item-money em{
  font-size: 12px;
  font-weight: normal;
}
.jiuji-item-type{
  display: block;
  height: 17px;
  width: 75px;
  line-height: 16px;
  color: #ddd;
  border: 1px solid #ddd;
  margin: 3px auto 15px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  font-size: 12px;
}
.jiuji-item-ling{
  height: 16px;
  line-height: 16px;
  font-size: 12px;
  color: #fff;
  transition: color .2s ease-in-out;
}

.jiuji-item-yiling .jiuji-item-ling{
  color: #999;
  transition: color .2s ease-in-out;
}
.jiuji-item-yiling:hover .jiuji-item-ling{
  color: #333;
}

.jiuji-item-yiling .jiuji-item-word{
  color: #ddd;
}
.jiuji-item-yiling .jiuji-item-money{
  color: #ddd;
}
.jiuji-item-yiling .jiuji-item-type{
  color: #ddd;
  border-color: #ddd;
}
.jiuji-tips-bottom{
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30px;
  line-height: 30px;
  color: #fff;
  background-color: #ff5050;
  font-size: 14px;
  text-align: center;
}
/* 江湖救急 end */