@-webkit-keyframes motion {
	0% {
		left: 53px;
	}

	100% {
		left: 0px;
	}
}

@-moz-keyframes motion {
	0% {
		left: 53px;
	}

	100% {
		left: 0px;
	}
}

@-o-keyframes motion {
	0% {
		left: 53px;
	}

	100% {
		left: 0px;
	}
}

@keyframes motion {
	0% {
		left: 53px;
	}

	100% {
		left: 0px;
	}
}


.member-header {
	position: relative;
	z-index: 1;
	*zoom: 1;
  	.nav{
	  width: 1120px;
	  height: 40px;
	  padding: 0 40px;
	  margin: 0 auto;
	  background-color: #fff;
	  position: relative;
	  border-bpttm:1px solid #eee;
	  .loanslead{
		display: none;
		position: absolute;
		top:-60px;
		left: 787px;
		width: 132px;
		height: 70px;
		font-size: 12px;
		color: #fff;
		background: url(/styles/images/member/icons.png) no-repeat 0 0;
		.hd{
		  height: 15px;
		  width: 15px;
		  margin: 6px 12px 0 0;
		  background: url(/styles/images/member/icons.png) no-repeat 0 -98px;
		}
		.bd{
		  padding-top: 3px;
		  padding-left: 10px;
		  strong{
			font-size: 18px;
		  }
		}
		.fd{
		  padding-left: 35px;
		}

	  }
	}
    .user{
	  width: 1200px;
	  height: 200px;
	  margin: 0 auto;
	  background: url(/styles/images/member/bg.png) no-repeat 0 0;
	  overflow: hidden;
	  .user-inner{
		width: 680px;
		padding: 52px 0px 52px 52px;
		margin: 0 auto;
	  }
	  .pic{
		float: left;
		width: 88px;
		height: 88px;
		background: #cacbcc;
		border-radius: 50%;
		padding: 6px;
		overflow: hidden;
		img {
		  width: 88px;
		  height: 88px;
		  border-radius: 50%;
		}
	  }
	  .about{
		float: left;
		margin-left: 15px;
		.name{
		  font-size: 18px;
		  color: #fff;
		  margin-top: 12px;
		}
		.myhomepage{
			color: #ff702a;
			font-size: 14px;
			padding-left: 10px;
		}
		.time{
		  font-size: 12px;
		  color: #b8b8b8;
		  line-height: 20px;
		}
		.bind{
		  float: left;
		  display: block;
		  position: relative;
		  width: 26px;
		  height: 26px;
		  background: url(/styles/images/member/icon.png) no-repeat;
		}
		.relname{
		  background-position: -746px -591px;
		}
		.yzname{
		  background-position: -775px -591px;
		}
		.phltel{
		  background-position: -144px -45px;
		  @include ratioBackground($url:'/styles/images/member/icon.png',$size:550px 140px);
		  @include ratioBackgroundPosition($x:-144px ,$y:-80px );
		}
		.phtel{
		  background-position: 0px -45px;
		  @include ratioBackground($url:'/styles/images/member/icon.png',$size:550px 140px);
		  @include ratioBackgroundPosition($x:0px ,$y:-80px );
		}
		.qqltel{
		  background-position: -180px -45px;
		  @include ratioBackground($url:'/styles/images/member/icon.png',$size:550px 140px);
		  @include ratioBackgroundPosition($x:-180px ,$y:-80px );
		}
		.qqtel{
		  background-position: -36px -45px;
		  @include ratioBackground($url:'/styles/images/member/icon.png',$size:550px 140px);
		  @include ratioBackgroundPosition($x:-36px ,$y:-80px );
		}
		.wxltel{
		  background-position: -216px -45px;
		  @include ratioBackground($url:'/styles/images/member/icon.png',$size:550px 140px);
		  @include ratioBackgroundPosition($x:-216px ,$y:-80px );
		}
		.wxtel{
		  background-position: -72px -45px;
		  @include ratioBackground($url:'/styles/images/member/icon.png',$size:550px 140px);
		  @include ratioBackgroundPosition($x:-72px ,$y:-80px );
		}
		.yxltel{
		  background-position: -252px -45px;
		  @include ratioBackground($url:'/styles/images/member/icon.png',$size:550px 140px);
		  @include ratioBackgroundPosition($x:-252px ,$y:-80px );
		}
		.yxtel{
		  background-position: -108px -45px;
		  @include ratioBackground($url:'/styles/images/member/icon.png',$size:550px 140px);
		  @include ratioBackgroundPosition($x:-108px ,$y:-80px );
		}
		.mglf10{
		  margin-left: 10px;
		}
		.wrapBox {
		  display: none;
		  position: absolute;
		  top: 32px;
		  left: -28px;
		  padding-bottom:8px;

		}
		.hint {
		  display: block;
		  width: 80px;
		  height: 24px;
		  background: #fff;
		  border-radius: 2px;
		  font-size: 12px;
		  line-height: 24px;
		  text-align: center;
		  border-top: 1px solid #9b9da1;
		  border-left: 1px solid #9b9da1;
		  margin-bottom:8px;
		  box-shadow: 0 0 5px 0;
		  .hintT {
			color: #383838;
		  }
		  .hintC {
			color: #eb5257;
			text-decoration: none;
			&:hover {
			  text-decoration:underline;
			}
		  }
		}

		.hint:after {
		  content: "";
		  width: 0;
		  height: 0;
		  display: inline-block;
		  border: 6px solid transparent;
		  border-bottom-color: #fff;
		  position: absolute;
		  top: -10px;
		  left: 50%;
		  margin-left: -6px;
		}
	  }
	  .r-item{

		float: left;
		margin: 10px 10px 0 0;
	  }
	  .user-sign {
		width:278px;
		padding:62px 0px 0px;
		text-align: center;
	  }
	  .user-sign-btn {
		display: inline-block;
		width: 140px;
		height: 40px;
		line-height: 40px;
		background: #ea544a;
		color: #fff;
		font-size: 16px;
		font-weight: bold;
		text-decoration: none;
		border-radius: 3px;
		&:hover {
		  background: #c11511;
		}
	  }
	  .user-sign-fail{
		display: inline-block;
		width: 140px;
		height: 40px;
		line-height: 40px;
		background: #a9a9a9;
		color: #fff;
		font-size: 16px;
		font-weight: bold;
		text-decoration: none;
	  }
	  .user-sign-text {
		display: block;
		line-height: 64px;
		font-size: 12px;
		color:#999;
	  }
	  .user-sign-color {
		color:#ea544a;
	  }
	}
	.item {
		width: 25%;
		float: left;
		height: 40px;
		text-align: center;
		line-height: 40px;
	  position:relative;
	  left: 0px;
	  top:0px;
	}
  .prize-num {
	position:absolute;
	display: block;
	min-width: 8px;
	min-height:20px;
	line-height: 20px;
	text-align: center;
	border-radius:10px;
	background: #ea544a;
	color:#fff;
	font-size: 13px;
	padding:0px 6px;
	top:2px;
	left:50%;
	margin-left:30px;
  }

	.item a {
		font-size: 16px;
		color: #666;
	}

	.item a:hover,.item.current a{
	    text-decoration: none;
	    font-weight: bold;
	  	color:#333;
		display: block;
	    margin: 0 25%;
		border-bottom: 2px solid #ea544a;
	}
	.ui-member-brand98{
		position: absolute;
		left: 156px;
		top: 2px;
	}

}

/* 新手任务 satrt */
.welfare-wrap{
  width: 173px;
  height: 156px;
  padding: 44px 40px 0 0;

}
.welfare-red-box{
  width: 173px;
  height: 156px;
  text-align: center;
  background-image:  url(/styles/images/welfare/newbie-task.png);
  @include ratioBackground($url:'/styles/images/welfare/newbie-task-2x.png', $size: 173px 156px );
}
.welfare-red-box-tips{
  display: block;
  height: 16px;
  line-height: 16px;
  font-size: 12px;
  color: #d49c4c;
  padding-top: 31px;
}
.welfare-red-box-money{
  display: block;
  height: 28px;
  line-height: 28px;
  font-size: 24px;
  color: #fc3547;
  font-weight: bold;
  padding-top: 7px;
}
.welfare-red-box-money em{
  font-size: 14px;
  font-weight: normal;
}
.welfare-red-box-link{
  display: block;
  height: 30px;
  line-height: 30px;
  width: 109px;
  margin: 31px auto 0;
  color: #c35928;
  font-size: 12px;
  text-decoration: none;
}


/* 新手任务 end */
