.ui-search{
    background-color:transparent;
    .bd{
        .wrap{
            background-color:#fff;
            border-radius:3px;
        }
    }
    .ft{
        border-radius:3px;
    }
}
.search-header{
	background:#475059;
	height:161px;
    background:#475059 url(/styles/images/index/licaibg.png) no-repeat center center;
	.col-main{
		width: 100%;
		float: left;
		.col-wrap{
			margin:0 270px;
			padding-top: 42px;
			.ui-search {
				.ft{
					width: 129px;
					margin-left: -130px;
				}
				.bd .wrap{
					margin-right:132px;
				    padding: 0 10px 0 42px;
				}
			}
		}
	}
	.col-sub{
		width: 680px;
        margin:0 auto;
		padding-top: 5px;
		line-height: 43px;
		height: 43px;
		overflow: hidden;
		.label{
			font-size: 14px;
			color: #c7c7c7;
			margin-left: 53px;
			margin-right: 10px;
		}
		a{
			color: #fff;
			font-size: 14px;
			padding-right:50px;
		}
	}
}

