@charset "UTF-8";
@import '../../alice_modules/grid/grid';
@import '../../base/utils';
@import '../../base/reset';
@import '../../base/grid';


.box{
	div{
		a{
			color: red;
			height: 20px;
			font-size: 20px;
			
		}
	}
}



