@charset "UTF-8";
@import '../base/utils'; 
@import '../base/reset';
@import '../base/grid';
@import '../inc/ui';
@import '../mod/dialog';
@import '../inc/site-nav';
@import '../inc/header';
@import '../inc/member-header';
@import '../inc/search-header';
@import '../inc/footer';
@import '../mod/bind';
@import '../mod/platinfo';
@import '../mod/star';
@import '../mod/asidelist';
@import '../mod/comment';
@import '../mod/invest-popup';
@import '../mod/shareInvest';
@import '../mod/autocomplete';
@import '../mod/floatlayer';  
   
.main{ 
    .wrap{
        padding-top:50px; 
        margin-top:30px;
    }     
}

.mod-comment{
    .mc-bd{
        padding:0;
    }
}
.advert{
    box-shadow:1px 2px 5px #ccc;
    margin-bottom:36px;
    img{
        display:block;
    }
}
.hotshare{
    margin-bottom:36px;
    box-shadow: 1px 2px 5px #ccc;
    .countinfo{
        span{
            color:#787878;
            em{
                font-style:none;
            }
        }
    }
    .mod-comment{
        .floor{
            padding-bottom:20px;
        }
        .feed-detail{
            padding:20px 20px 0;
            border-bottom:none;
        }
    }
    .bgcolor{
        background-color:#faf9f9;
    }
}
.platcomment{
    margin-bottom: 36px;
    box-shadow: 1px 2px 5px #ccc;
    .mod-comment{
        .floor{
            padding-bottom:20px;
            .countinfo{
                a{
                    color:#383838;
                    word-wrap: break-word;
                    word-break: break-word;
                }
            }
            .info{
                .username{
                    font-size:13px;
                    color:#0080cc;
                    line-height:24px;
                }
                .breakup{
                    margin:0 10px;
                    font-size:14px;
                    font-family:Microsoft YaHei;
                    line-height:24px;
                }
                .score{
                    font-size:14px;
                    line-height:24px;
                    em{
                        font-style:normal;
                        font-size:14px;
                        color:#ea544a; 
                    }
                }
                
            }
        }
        .feed-detail{
            padding:20px 30px 0 20px;
            border-bottom:none;
            .detail{
                border-bottom: 1px dashed #f2f2f2;
            }
        }
    }
}
.mod-platnav{
    background-color:#fff;
    padding: 19px 20px 0;
    box-shadow: 1px 2px 5px #ccc;
    .hd{
        font-size:14px;
        color:#383838;
        background:none;
        border:none;
        padding:0;
        li{
            float:left;
            padding:0 5px;
            position:relative;            
            margin:0 5px;
            height:28px;
            line-height:28px;  
            cursor:pointer;          
            span{
                display:none;                       
            }
        }
        li.current{
            color:#fff;
            border-radius:3px;
            background-color:#21bdf3;
            span{
                display:block;
                position:absolute;                 
                border:4px solid transparent;
                border-top:4px solid #21bdf3; 
                top:28px;
                left:50%;
                margin-left:-4px;                       
            }
        }
    }
    .bd{
        font-size:12px;
        padding:0 0 15px 0;
        display:none;
        a{
            color:#787878;
            height:auto;
            line-height:24px;
            white-space:nowarp;
            word-break:keep-all;
            display:inline-block;
            margin:0 8px 10px 0;
            *display:inline;
            *zoom:1;
            &:hover{
                text-decoration:underline;
            }
        }
    }
    div.active{
            display:block;
        }
}
.content{
    padding-top:0;
    .mod-platfixed{
        box-shadow: 1px 2px 5px #ccc;
        height:auto;
    }
}









.main{
    .content{
        position:relative;
    }
}

.nav-platfixed{
    width: 100%;
    -webkittransform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 11;
    box-shadow: 0px 0px 5px #ccc;
    position:absolute;
    top:0;
    left:0;
    background-color:#fff;
    .a{
            border-right: 1px solid #e6e6e6;
            color: #383838;
            display: block;
            float: left;
            font-family: Microsoft YaHei;
            font-size: 16px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            transition: background 0.25s ease-in-out 0s;
            width: 155px;
            margin-left:0;
        &:hover{
            background: #0080cc none repeat scroll 0 0;
            border-right: medium none;
            color: #fff;
            font-weight: bold;
            text-decoration: none;
            width: 156px;
        }
    }
    .a.current{
        background: #0080cc none repeat scroll 0 0;
        border-right: medium none;
        color: #fff;
        font-weight: bold;
        text-decoration: none;
        width: 156px;
    }
    .blue:hover{
        a{
            color:#fff;
            text-decoration:none;
        }        
    }
}
.mod-desclist{
    display:none;
    padding-bottom:50px;
}
.mod-desclist.active{
    display:block
}

.mod-shareinvest{
    margin-top:30px;
    margin-bottom:36px;
    box-shadow: 0px 0px 5px #ccc;
    .hd{
        padding-left:14px;
    }
	.bd{
		textarea{
            display:block;
			float: none;
			width: 352px;
            height:38px;
			margin: 0 auto;
            border:1px solid #86d5fb;
            box-shadow: 0 0 1px #b7e6fd;
		}
	}
	.ft{
	    display:none;
		padding:13px 14px 0;
	}
    padding-bottom:14px;
}
.mod-shareinvest.show{
	.bd{
		textarea{
		  height:120px;
		}
	}
	.ft{
		display:block;
	}
}
.indextender{
    position:relative;
    margin-top:30px;
    .hd{
        position:absolute;
        top:-11px;
        left:0;
        width:92px;
        height:179px;
        background:url(/styles/images/index/tendervip.png) no-repeat;
    }
    .bd{
        padding:11px 0 11px 12px;
        background-color:#fff;
        margin-left:78px;
    }
    .fd{
        display:none;
        position:absolute;
        top:0;
        right:0;
        a{   
            display:block;
            width:30px;
            height:117px;
            padding-top:40px;
            background-color:#666;
            opacity:0.55;
            color:#fff;
            text-align:center;
            line-height:20px;
        }
    }
    a{
        display:block;
        &:hover{
            text-decoration:none;
        }
    }
    .item{
        float:left;
        width:210px;
        height:135px;
        background-color:#f4f5fa;
        margin-right:12px;
        h3{
            height:30px;
            line-height:30px;
            background-color:#3dbbf9;
            text-align:center;
            color:#fff;
            font-size:16px;
            font-weight:bold;
            font-family:Microsoft YaHei;
            margin-bottom:10px;
        }
        .data{
            padding-left:10px;
            span{
                display:block;
                float:left;
            }
            .yeartit{
                width:67%;
                font-family:Microsoft YaHei;
                font-size:14px;
                color:#787878;
            }
            .year{
                width:67%;
                font-size:22px;
                font-family:Microsoft YaHei;
                color:#e05a54;
                .tit{
                    font-size:14px;
                    color:#787878;
                }
                i{
                    color:#e05a54;
                    font-style:normal;
                }
                .symbol{
                    font-size:14px;
                }
                .add{
                    font-size:21px;
                }
            }
            .monthtit{
                font-family:Microsoft YaHei;
                font-size:14px;
                color:#787878;
            }
            .month{
                font-size:22px;
                font-family:Microsoft YaHei;
                color:#383838;
                .tit{
                    font-size:14px;
                    color:#787878;
                }
                i{
                    font-style:normal;
                    color:#383838;
                }
                .symbol{
                    font-size:14px;
                }
            }
        }
        .name{
            font-size:14px;
            text-align:center;
            color:#383838; 
            height:36px;
            line-height:36px;
            border-top:1px dashed #fff;
            width:190px;
            padding:0 10px;
            text-overflow: ellipsis;
            white-space: nowrap;
            word-break: keep-all;
            overflow: hidden;
        }
        
    }
}
.books{
    background-color:#fff;
    .hd{
        height: 40px;
		line-height: 40px;
		background:#faf9f9;
		font-size: 16px;
		padding:0 22px;
		border-left:5px solid #0080cc;
		color: #383838;
        font-family: Microsoft YaHei;
		border-bottom:1px solid #ececec;
    }
    .notice{
        height:30px;
        line-height:30px;        
        text-align:center;
        background-color:#fffdf3;
        border:1px solid #ff702a;
        font-size:14px;
        color:#ff702a;
        margin:13px 13px 0;
        strong{
            color:#ea544a;
            font-size:24px;
            vertical-align:middle;
        }
        a{
            color:#0080cc;
        }
    }
    .bd{
        margin-top:20px;
        .left{
            display:block;
            float:left;
            margin-left:80px;
            margin-right:30px;
            width:120px;
            text-align:left;
        }
        .right{
            display:block;
            float:left;
            width:120px;
            text-align:left;
        }
        .tit{
            color:#787878;
            font-size:14;
            text-align:center;
            margin-bottom:12px;
        }
        .num{
            font-size:36px;
            color:#383838;
            text-align:center;
            margin-bottom:30px;
        }
        .decimal{
            font-size:24px;
        }
    }
    .charge{
    	text-align:center;
    	padding-bottom:40px;
    	.btn{
    		display: inline-block;
    		*display:inline;
    		*zoom:1;
    		width: 196px;
    		height: 50px;
    		line-height: 50px;
    		text-align: center;
    		font-size: 20px;
    		font-family: Microsoft YaHei;
    		background:#ea544a;
    		color: #fff;
    		border-radius:26px;
    		-webkit-transition: all .25s ease-in-out;
    		-moz-transition: all .25s ease-in-out; 
    		transition: all .25s ease-in-out; 
    		em{
    			display: inline-block;
    			*display:inline;
    			*zoom:1;
    			width: 29px;
    			height: 29px;
    			background:url(/styles/images/common/icons.png) no-repeat -173px -29px;
    			vertical-align: top;
    			*vertical-align: middle;
    			margin-top:10px;
    			*margin-top:0;
    
    		}
    	}
    	.btn:hover{
    		text-decoration: none;
    		background:#e23030;
    	}
    } 
}
.ui-link{
    display:none;
    float:right;
    margin-top:10px;
    margin-right:20px;
}
.header{
    .nav{
        width: 605px;
    }
}