/**
 * 待办流程
 *
 * @author: XieJun
 * @e-mail: jununx@qq.com
 * @q    q: 121318538
 * @update: 2015/10/16
 */

/* p-backlog */
.p-backlog {
    position: relative;
}

/* p-examine */
.p-examine {
    padding-top: 20px;
    border-bottom: 1px #e6e6e6 solid;
}
.p-examine .m-date {
    width: 166px;
}
.p-examine .m-label {
    width: 90px;
    text-align: right;
}
.p-examine li {
    margin-left: 20px;
    height: 60px;
}
.p-examine .query {
    margin-left: 40px;
}

/*p-table*/
.p-table {
    margin: 0px 30px;
    text-align: center;
    color: #7a7b7d;
    font-size: 12px;
}
.p-table tr:hover {
    background: #f4f4f4;
}
.p-table th,
.p-table td {
    border-bottom: 1px #e6e6e6 solid;
}
.p-table th {
    font-size: 14px;
}
.p-table .handle .ico,
.p-table .handle .details {
    display: inline-block;
    vertical-align: top;
}
.p-table .handle .details {
    color: #fa8919;
}
.p-table .handle a:hover {
    text-decoration: underline;
}

/*m-pagination*/
.p-backlog .m-pagination {
    margin: 20px 0;
}

/*p-entry*/
.p-entry {
    padding: 22px 30px 0;
}
.p-entry .hd {
    position: relative;
    line-height: 60px;
    margin-bottom: 22px;
}
.p-entry .hd .tit {
    font-size: 24px;
    font-weight: 400;
    color: #434446;
    text-align: center;
}
.p-entry .hd .nos {
    position: absolute;
    top: 40px;
    left: 28px;
    color: #ccc;
    line-height: 34px;
}
/*p-item*/
.p-item {
    margin-bottom: 10px;
    line-height: 40px;
    color: #7a7b7d;
    border-top: 1px #e6e6e6 solid;
}
.p-item dt {
    text-indent: 28px;
    font-weight: 700;
    margin-top: 10px;
}
.p-item .list {
    padding: 0 28px;
}
.p-item .list-high ul {
    background-color: #fafafa;
    border: 1px dashed #efefef;
}
.p-item .list-high .list {
    padding: 0 28px;
}
.p-item .label {
    min-width: 110px;
    color: #a4a4a6;
}
.p-item .m-textarea {
    display: block;
    width: 864px;
    height: 48px;
    margin: 10px auto 20px;
}

.p-item .mw60 {
    min-width: 60px;
}
.p-item .mw90 {
    min-width: 90px;
}
.p-item .mw120 {
    min-width: 120px;
}

/*p-step*/
.p-step {
    padding: 0 28px;
}
.p-step .item {
    width: 139px;
    height: 76px;
    border-radius: 2px;
    margin: 10px 0;
    border: 1px #e6e6e6 solid;
    border-left: 0 none;
}
.p-step .item .tit {
    width: 14px;
    height: 40px;
    padding: 19px 10px;
    text-align: center;
    line-height: 14px;
    color: #fff;
    margin-top: -1px;
}
.p-step .item .row {
    display: block;
    width: 14px;
}
.p-step .item .info {
    display: table;
    width: 105px;
    height: 76px;
    color: #7a7b7d;
    text-align: center;
    font-size: 12px;
}
.p-step .item .info ul {
    display: table-cell;
    vertical-align: middle;
}
.p-step .item .info li {
    width: 105px;
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.p-step .item .approved {
    background: #3dbd76;
}
.p-step .item .await {
    background: #edc53b;
}
.p-step .item .sendback {
    background: #bd493d;
}
.p-step .item .unapproved {
    background: #c4c4c4;
}
.p-step .gap {
    position: relative;
    width: 13px;
    height: 10px;
    margin: 44px 16px 34px 17px;
}
.p-step .gap .ico {
    display: block;
}

/*p-commit*/
.p-commit {
    text-align: center;
    padding-bottom: 20px;
}
.p-commit .m-btn {
    margin: 0 10px;
}
