


@media screen{

	.qt-col { display:table; width:100%; }

	.qt-col1 { float:left; width:20%; }
	.qt-col2 { float:right; width:20%; }
	.qt-col3 { width:auto; margin:0 20%; }

	.qt-cbox { padding: 0 10px }
	.qt-cbox-left { padding: 0 10px 0 0 }
	.qt-cbox-right { padding: 0 0 0 10px }
	


	/**
	* @ Grid Module
	*/

	.qt-grid {
		display:table;
		width:100%;
		table-layout:fixed;
		list-style-type: none;
		padding-left:0;
		padding-right:0;
		margin-left:0;
		margin-right:0;
	}
	.qt-flow{
		display:block;
		clear:both;
		margin:0 auto;
		padding:0 20px 20px 20px;
		max-width:1200px;
	}

	.qt-gl { float:left; margin: 0; }
	.qt-gr { float:right; margin: 0 0 0 -5px; }

	.qt-por{
		position:relative;
	}

	.qt-g10{width:10%;}
	.qt-g16{width:16%;}
	.qt-g20 { width:20%; }
	.qt-g40 { width:40%; }
	.qt-g60 { width:60%; }
	.qt-g80 { width:80%; }
	.qt-g24 { width:24%; }
	.qt-g25 { width:25%; }
	.qt-g30 { width:30%; }
	.qt-g33 { width:33.333%; }
	.qt-g50 { width:50%; }
	.qt-g66 { width:66.666%; }
	.qt-g65 { width:65%; }
	.qt-g75 { width:75%; }
	.qt-g38 { width:38.2%; }
	.qt-g62 { width:61.8%; }
	.qt-g84 { width:84%;}
	.qt-g90{  width:89.99%;}

	/*等高*/
	.qt-eqh { 
		overflow:hidden; 
	}
	/*等高元素*/
	.qt-eqh .qt-eqh-item  {
		padding-bottom: 10000px;
		margin-bottom: -10000px;
		*padding-bottom:0px;
		*margin-bottom:0px;
	}

}

.qt-w{
	margin:0 auto;
	width:1200px;
}

.qt-pr{
	position: relative;
}
.qt-pa{
	position: absolute;
}
.qt-m{
	width: 100%;
}
.qt-pr20{padding-right: 20px;}

.qt-pt0{padding-top: 0 !important;}
.qt-pt10{padding-top: 10px;}
.qt-pt15{padding-top: 15px;}
.qt-pt20{padding-top: 20px;}
.qt-pt25{padding-top: 25px;}
.qt-pt30{padding-top: 30px;}
.qt-pt35{padding-top: 35px;}
.qt-pt40{padding-top: 40px;}
.qt-pt45{padding-top: 45px;}

.qt-pr0{padding-right: 0 !important;}
.qt-pr10{padding-right: 10px;}
.qt-pr15{padding-right: 15px;}
.qt-pr20{padding-right: 20px;}
.qt-pr25{padding-right: 25px;}
.qt-pr30{padding-right: 30px;}
.qt-pr35{padding-right: 35px;}
.qt-pr40{padding-right: 40px;}
.qt-pr45{padding-right: 45px;}

.qt-pb0{padding-bottom: 0 !important;}
.qt-pb10{padding-bottom: 10px;}
.qt-pb15{padding-bottom: 15px;}
.qt-pb20{padding-bottom: 20px;}
.qt-pb25{padding-bottom: 25px;}
.qt-pb30{padding-bottom: 30px;}
.qt-pb35{padding-bottom: 35px;}
.qt-pb40{padding-bottom: 40px;}
.qt-pb45{padding-bottom: 45px;}

.qt-pl0{padding-left: 0 !important;}
.qt-pl10{padding-left: 10px;}
.qt-pl15{padding-left: 15px;}
.qt-pl20{padding-left: 20px;}
.qt-pl25{padding-left: 25px;}
.qt-pl30{padding-left: 30px;}
.qt-pl35{padding-left: 35px;}
.qt-pl40{padding-left: 40px;}
.qt-pl45{padding-left: 45px;}

.qt-mt5{margin-top:5px;}
.qt-mt10{margin-top:10px;}
.qt-mt15{margin-top:15px;}
.qt-mt20{margin-top:20px;}
.qt-mt22{margin-top:22px;}
.qt-mt25{margin-top:25px;}
.qt-mt30{margin-top:30px;}
.qt-mt35{margin-top:35px;}
.qt-mt40{margin-top:40px;}
.qt-mt45{margin-top:45px;}
.qt-mt50{margin-top:50px;}

.qt-mr5{margin-right:5px;}
.qt-mr10{margin-right:10px;}
.qt-mr15{margin-right:15px;}
.qt-mr20{margin-right:20px;}
.qt-mr22{margin-right:22px;}
.qt-mr25{margin-right:25px;}
.qt-mr30{margin-right:30px;}
.qt-mr35{margin-right:35px;}
.qt-mr40{margin-right:40px;}
.qt-mr45{margin-right:45px;}
.qt-mr50{margin-right:50px;}

.qt-mb5{margin-bottom:5px;}
.qt-mb10{margin-bottom:10px;}
.qt-mb15{margin-bottom:15px;}
.qt-mb20{margin-bottom:20px;}
.qt-mb22{margin-bottom:22px;}
.qt-mb25{margin-bottom:25px;}
.qt-mb30{margin-bottom:30px;}
.qt-mb35{margin-bottom:35px;}
.qt-mb40{margin-bottom:40px;}
.qt-mb45{margin-bottom:45px;}
.qt-mb50{margin-bottom:50px;}

.qt-ml5{margin-left:5px;}
.qt-ml10{margin-left:10px;}
.qt-ml15{margin-left:15px;}
.qt-ml20{margin-left:20px;}
.qt-ml22{margin-left:22px;}
.qt-ml25{margin-left:25px;}
.qt-ml30{margin-left:30px;}
.qt-ml35{margin-left:35px;}
.qt-ml40{margin-left:40px;}
.qt-ml45{margin-left:45px;}
.qt-ml50{margin-left:50px;}

.qt-flowhidden{
	overflow:hidden;
}

#lightbox_wrap{
	position:absolute;
	top:0;
	bottom:0;
	background-color:#000;
	opacity:0.75;
	filter:alpha(opacity=75);  
	-ms-filter:alpha(opacity=75); 
	z-index:998;
}

.qt-white{
	background-color:#fff;
	border-radius:2px;
}

.main{
	width:100%;
	float:left;
	.wrap{
		margin-right:420px;
		position:relative;
		padding-top:51px;
	}
}
.sub{
	width:390px;
	float:left;
	margin-left: -390px;
}

.mod-userinfo{
	height:72px;
	line-height:72px;
	overflow:hidden;
	.qt-gl{
		font-size: 14px;
		color: #383838;
		span{
			font-size: 30px;
			color: #383838;
			font-family: Micorsoft YaHei;
			line-height: 72px;
			font-weight: bold;
			margin-right: 10px;
		}
	}
	.ui-follow{
		float: left;
		margin-left: 20px;
		margin-top:21px;
	}
}

.mod-sbox{
	background:#fff;
	.hd{
		height: 40px;
		line-height: 40px;
		background:#faf9f9;
		font-size: 16px;
		padding:0 22px;
		border-left:5px solid #0080cc;
		color: #383838;
		border-bottom:1px solid #ececec;
		h3{
			font-family: Microsoft YaHei;
			display: inline;
			float: left;

		}
		a{
			color:#787878;
			font-family: arial;
			float: right;
			font-size: 14px;
		}
	}
}

.qt-1920{
	position:relative;
	overflow:hidden;
}
.qt-1920-wrap{
	width: 1920px;
    position: relative;
    left: 50%;
    margin-left: -960px;
    overflow: hidden;
}

.page_section{
	min-height:600px;
	padding-bottom:50px;
}
.nowrap{
  white-space: nowrap;
  word-wrap: normal;
  word-break: normal;
}
.mod-leftfixed{
   .sub{float:left;margin-left:-100%;}
   .main{float:left;width:100%;}
}
._logo1 {
	display: block;
}
._logo2 {
	display: none;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
	._logo1 {
		display: none;
	}
	._logo2 {
		display: block;
	}
}
@media only screen and (min--moz-device-pixel-ratio: 1.5) {
	._logo1 {
		display: none;
	}
	._logo2 {
		display: block;
	}
}
@media only screen and (min-device-pixel-ratio: 1.5) {
	._logo1 {
		display: none;
	}
	._logo2 {
		display: block;
	}
}
@media only screen and (-o-min-device-pixel-ratio: 3/2) {
	._logo1 {
		display: none;
	}
	._logo2 {
		display: block;
	}
}