a:hover {
  text-decoration: none;
}

//margin-top
.qt-mt10{
    margin-top: px2rem(10px);
}
.qt-mt20{
    margin-top: px2rem(20px);
}
.qt-mt30{
    margin-top: px2rem(30px);
}
.qt-mt40{
    margin-top: px2rem(40px);
}
.qt-mt50{
    margin-top: px2rem(50px);
}

//margin-right
.qt-mr10{
    margin-right: px2rem(10px);
}
.qt-mr20{
    margin-right: px2rem(20px);
}
.qt-mr30{
    margin-right: px2rem(30px);
}
.qt-mr40{
    margin-right: px2rem(40px);
}
.qt-mr50{
    margin-right: px2rem(50px);
}
.qt-mr220{
    margin-right: px2rem(220px);
}
//margin-bottom
.qt-mb10{
    margin-bottom: px2rem(10px);
}
.qt-mb20{
    margin-bottom: px2rem(20px);
}
.qt-mb30{
    margin-bottom: px2rem(30px);
}
.qt-mb40{
    margin-bottom: px2rem(40px);
}
.qt-mb50{
    margin-bottom: px2rem(50px);
}

//margin-left
.qt-ml10{
    margin-left: px2rem(10px);
}
.qt-ml20{
    margin-left: px2rem(20px);
}
.qt-ml25{
    margin-left: px2rem(25px);
}
.qt-ml30{
    margin-left: px2rem(30px);
}
.qt-ml40{
    margin-left: px2rem(40px);
}
.qt-ml50{
    margin-left: px2rem(50px);
}

//padding-top
.qt-pt10{
    padding-top: px2rem(10px);
}
.qt-pt15{
    padding-top: px2rem(15px);
}
.qt-pt20{
    padding-top: px2rem(20px);
}
.qt-pt30{
    padding-top: px2rem(30px);
}
.qt-pt40{
    padding-top: px2rem(40px);
}
.qt-pt50{
    padding-top: px2rem(50px);
}
//padding-right
.qt-pr10{
    padding-right: px2rem(10px);
}
.qt-pr20{
    padding-right: px2rem(20px)!important;
}
.qt-pr30{
    padding-right: px2rem(30px);
}
.qt-pr40{
    padding-right: px2rem(40px);
}
.qt-pr50{
    padding-right: px2rem(50px);
}

//padding-bottom
.qt-pb10{
    padding-bottom: px2rem(10px)!important;
}
.qt-pb20{
    padding-bottom: px2rem(20px);
}
.qt-pb30{
    padding-bottom: px2rem(30px);
}
.qt-pb40{
    padding-bottom: px2rem(40px);
}
.qt-pb50{
    padding-bottom: px2rem(50px);
}

//padding-left
.qt-pl10{
    padding-left: px2rem(10px);
}
.qt-pl20{
    padding-left: px2rem(20px);
}
.qt-pl30{
    padding-left: px2rem(30px);
}
.qt-pl40{
    padding-left: px2rem(40px);
}
.qt-pl50{
    padding-left: px2rem(50px);
}
.qt-gl{
    float: left;
}
.qt-gr{
    float: right;
}
.ui-font-arial{
    font-family: arial;
}
.ui-icons-more{
    width: px2rem(14px);
    height: px2rem(24px);
    background: url(/styles/images/common/mobile/icons.png) no-repeat px2rem(-12px) px2rem(-171px);
    background-size: px2rem(358px) px2rem(209px);
}
#lightbox_wrap{
    position: fixed;
    top: 0;
    background: rgba(0,0,0,0.83);
    z-index: 998;
}