.return{float: right; position: relative;top: -40px; right:45px; color: #fa8919;}

.cp{margin:0px auto; border-bottom:1px #ebebeb solid;}
.cp .txt_nav{width:870px; margin:0px auto;}
.cp h1{font-size: 18px; text-align: center; margin:10px auto;}
.cp .txt{text-indent: 2em; color:#7a7b7d; margin-bottom: 20px;}
.indicators{ margin:0px auto; height: auto; text-align:left;}
.indicators h3{font-size:16px; color:#333;margin:14px auto 10px;}
.indicators .indicators_txt{color:#7a7b7d; font-size:14px; padding-bottom:16px;}

.pr_m{ position: relative; top: -5px;}
.default{ position:relative;}
.default a{color:#fa8919; text-decoration:none;}
.hover_img{width:70px; height:70px; margin-right:12px; margin-bottom:12px; border-radius: 5px;}
.default:hover .tipboxinfo{
	display:block;
	transform-origin: 100% 0%;
	-webkit-animation: fadeIn 1s ease-in-out;
	animation: fadeIn 1s ease-in-out;
	color:#fa8919; }

.default .tipboxinfo{
	display: none;
    text-align: left;
    background-color: #fff;
    padding: 10px;
    width: 200px;
    border-radius: 3px;
    border: 1px solid #d2d2d2;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
    left: 0px;
    color: #FFF;
    font-size: 13px;
    line-height: 1.4;
    z-index: 11111111;
   
    left: 129px;
    top: -90px;
    position: absolute;
}

.default .tipboxinfo:after{
	width:100%;
	height:40px;
	content:'';
	position: absolute;
	top:-40px;
	left:0;
}
.tipboxinfo table tr th, .tipboxinfo table tr td {
    vertical-align: middle;
    font-size: 12px;
    text-align: left;
}        

.tipboxinfo p {
    color: #7f8286;
    white-space: nowrap;
    margin: 0px;
    line-height: 1.8;
}
.tipboxinfo td{border:0px; background:#fff;}

.m-table{ border-top:1px #ebebeb solid;clear:both;}
.m-table .radio-inline input{position:relative; top:3px;}
.measure-foot{position:relative; margin:10px 30px; height:70px}
.measure-foot .m-pagination{position:absolute; left:0px;}
.measure-foot .measure-btn{position:absolute; right:0px; top:17px}
.measure-foot .measure-btn .m-btn:last-child{ margin-left:10px} 
/*测评题列表*/
.pad_l label{margin:0px 20px;}
        .definition{border-top:0px; border-bottom:1px solid #ebebeb; clear:both; text-align: left;line-height: 27px; margin-top: 18px; padding-bottom: 18px;}
        .cp_div th, .cp_div td{border:0px;}
        .mdiv_b .bd .active{padding-bottom: 30px;}
        .definition th{line-height: 28px;}
        .definition p{line-height: 24px;  font-size: 14px; margin-bottom: 6px;}


