@charset "utf-8";
/* CSS Document */
.s-active{ color:#ff0869; }
.index_body{
	margin:0 auto;
	font-family:"微软雅黑";
	background:#ffffff;
	color:#787878;
	}
a{ color:#787878; }
.index_top{
	height:100px;
	width:960px;
	margin:0 auto;
	}
.index_top .top_logo{
	float:left;
	margin:18px 0 0 5px;
	}
.index_top .top_img{
	float:left;
	margin:20px 0 0 20px;
	}
.index_top .top_phone{
	float:right;
	margin:25px 18px 0 0;
	}
.index_nav{
	height:40px;
	background:#fd97bf;
	}
.index_nav ul{
	width:960px;
	margin:0 auto;
	}
.index_nav ul li.has-line{
	/*padding:0 26px;*/
	/*line-height:40px;
	color:#ffffff;
	float:left;*/
	background:url(../images/nav_line_bg.png) right center no-repeat;
	cursor:pointer;
	}
.index_nav ul li:hover{
	color:#ff0869;
	}

.flexslider{height:350px;overflow:hidden;position:relative;top:0;margin:0 auto;}
.flexslider .slides{verflow:hidden;position:relative;height:350px; margin:0 auto;}
.flexslider .slides li{top:0;left:0;height:350px;position:relative; overflow:hidden;text-align:center;margin:0 auto;}
.flexslider .slides li .img{width:100%; min-width:1920px; position:absolute; text-align:center;margin:0 auto; left:50%;
margin-left:-960px;}
<!--.flex-viewport{max-height:2000px;-webkit-transition:all 1s ease;-moz-transition:all 1s ease;transition:all 1s ease;}-->

.flex-direction-nav a{width:60px;height:90px;line-height:99em;overflow:hidden;margin:-60px 0 0;display:block;background:url(../images/ad_ctr.png) no-repeat;position:absolute;top:50%;z-index:10;cursor:pointer;opacity:0;filter:alpha(opacity=0);-webkit-transition:all .3s ease;}
#demo01 .flex-direction-nav .flex-next{background-position:0 -90px;right:0;}
#demo01 .flex-direction-nav .flex-prev{left:0;}
.flexslider:hover .flex-next{opacity:0.8;filter:alpha(opacity=25);}
.flexslider:hover .flex-prev{opacity:0.8;filter:alpha(opacity=25);}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover{opacity:1;filter:alpha(opacity=50);}
.flex-control-nav{width:100%;position:absolute;bottom:10px;text-align:center;}
.flex-control-nav li{margin:0 5px;display:inline-block;zoom:1;*display:inline;}
.flex-control-paging li a{background:url(../../images/dot.png) no-repeat 0 -16px;display:block;height:16px;overflow:hidden;text-indent:-99em;width:16px;cursor:pointer;}
.flex-control-paging li a.flex-active{background-position:0 0;}

.index_guide{
	clear:both;
	overflow:hidden;
	
	}
.index_guide .guide_cont{
	width:960px;
	margin:0 auto;
	overflow:hidden;
	padding-bottom:30px;
	}
.index_guide .guide_cont .gu_ul{
	overflow:hidden;
	margin-top:30px;
	}
.index_guide .guide_cont .gu_ul li{
	width:70px;
	float:left;
	margin-left:98px;
	}
.index_guide .guide_cont .gu_ul li img{
	margin-left:5px;
	}
.index_guide .guide_cont .gu_ul li p{
	text-align:center;
	font-size:14px;
	line-height:18px;
	color:#666666;
	}
.index_guide .guide_cont .gu_inform{
	height:60px;
	/*background:url(../images/tongzhi_icon.png) 30px center no-repeat #f9f9f9;*/
	width:100%;
	margin-top:25px;
	position:relative;
	overflow:hidden;
	}
.index_guide .guide_cont .gu_inform .btnBox{
	position:absolute;
	right:22px;
	top:19px;
}	
.index_guide .guide_cont .gu_inform .btnBox img{
	float:left;
	margin-left:16px;
	cursor: pointer;
}
.index_guide .guide_cont .gu_inform .s-inform_ul{
	margin-left:75px;
	margin-top:5px;
	overflow:hidden;
	width:780px;
	position:relative;
	left: 0;
	top: 0;
	}
.index_guide .guide_cont .gu_inform .s-inform_ul li{
	height:50px; 
	transition:.5s all ease;
	}
.index_guide .guide_cont .gu_inform .s-inform_ul li .inform_p{
	line-height:50px;
	font-size:14px;
	color:#69767c;
	}
.index_guide .guide_cont .gu_inform .s-inform_ul li .inform_p span{
	margin-left:50px;
	}
.index_guide .guide_cont .gu_inform .inform_page{
	margin-left:855px;
	}
.index_guide .guide_cont .gu_inform .inform_page .left_a{
	float:left;
	width:22px;
	height:60px;
	background:url(../images/left_icon.png) left center no-repeat;
	display:block;
	margin-left:20px;
	}
.index_guide .guide_cont .gu_inform .inform_page .right_a{
	float:left;
	width:22px;
	height:60px;
	background:url(../images/right_icon.png) left center no-repeat;
	display:block;
	margin-left:20px;
	}



.index_dynamic{
	overflow:hidden;
	background:#f9f9f9;
	}
.index_dynamic .dynamic_cont{
	width:960px;
	margin:0 auto;
	padding-bottom:15px;
	overflow:hidden;
	}
.index_dynamic .dynamic_cont .dy_mod{
	float:left;
	width:445px;
	}
.mod_title{
	height:42px;
	border-bottom:2px solid #61b2f7;
	margin-top:10px;
	}
.mod_title p{
	line-height:42px;
	font-size:20px;
	color:#333333;
	}
.index_dynamic .dynamic_cont .dy_mod .mod_ul{
	overflow:hidden;
	}
.index_dynamic .dynamic_cont .dy_mod .mod_ul li{
	height:52px;
	border-bottom:1px dashed #65bbfe;
	}
.index_dynamic .dynamic_cont .dy_mod .mod_ul li .mod_p1{
	width:320px;
	float:left;
	line-height:52px;
	font-family:"宋体";
	color:#666666;
	background:url(../images/yuan_icon.png) 5px center no-repeat;
	padding-left:20px;
	overflow:hidden;
	height:52px;
	}
.index_dynamic .dynamic_cont .dy_mod .mod_ul li .mod_p2{
	float:right;
	line-height:52px;
	font-family:"宋体";
	color:#999999;
	margin-right:17px;
	}
.mod_more{
	overflow:hidden;
	}
.mod_more a{
	width:44px;
	height:15px;
	background:url(../images/more_icon.png) no-repeat;
	float:right;
	margin:10px 10px 0 0;
	}
.index_health{
	overflow:hidden;
	}
.health_cont{
	width:960px;
	margin:0 auto;
	padding-bottom:20px;
	}
.health_cont .health_ul{
	overflow:hidden;
	margin-top:30px;
	}
.health_cont .health_ul li{
	width:184px;
	float:left;
	height:390px;
	margin-left:10px;
	overflow:hidden;
	cursor:pointer;
	}
.health_cont .health_ul .li1{
	background:#f0a6c2;
	}
.health_cont .health_ul .li2{
	background:#75cae5;
	}
.health_cont .health_ul li .heal_img2{
	margin-top:32px;
	}
.heal_content{
	margin:20px 30px 0 30px;
	overflow:hidden;
	height:88px;
	overflow:hidden;
	}
.heal_content .heal_title{
	font-size:18px;
	color:#ffffff;
	font-weight:bold;
	}
.heal_content .heal_p{
	/*margin-top:12px;*/
	font-size:12px;
	color:#ffffff;
	line-height:16px;
	}




.index_open{
	overflow:hidden;
	background:#f9f9f9;
	}
.index_open .open_cont{
	width:960px;
	margin:0 auto;
	padding-bottom:15px;
	}
.open_ul{
	overflow:hidden;
	margin-top:20px;
	}
.open_ul .open_li{
	float:left;
	width:313px;
	height:170px;
	margin-left:10px;
	}
.open_ul .open_li .open_img{
	width:60px;
	float:left;
	margin-top:40px;
	}
.open_ul .open_li .open_img p{
	font-size:14px;
	color:#69767c;
	font-weight:bold;
	text-align:center;
	}

.open_ul2{
	margin-left:73px;
	overflow:hidden;
	}
.open_ul2 li{
	height:35px;
	background:url(../images/yuan_icon.png) left center no-repeat;
	line-height:35px;
	font-size:14px;
	color:#666666;
	padding-left:15px;
	}



.index_expert{
	overflow:hidden;
	}
.index_expert .expert_cont{
	width:960px;
	margin:0 auto;
	}
.expert_physician{
	width:388px;
	height:527px;
	float:left;
	background:#75cae5;
	margin-top:18px;
	}
.expert_physician .physician_cont{
	margin:20px 100px 0 35px;
	height:160px;
	}
.phy_p1{
	font-size:18px;
	color:#ffffff;
	}
.phy_p2{
	font-size:14px;
	color:#304959;
	margin-top:20px;
	}
.phy_p3{
	font-size:12px;
	color:#304959;
	margin-top:14px;
	line-height:16px;
	}
.phy_p4{
	font-size:14px;
	color:#ffffff;
	margin-top:20px;
	}

.expert_physician2{
	margin:18px 0 0 10px;
	}
.expert_physician2 .phys_cont{
	overflow:hidden;
	margin:0 0 0 10px;
	/*height:250px;*/
	}
.expert_physician2 .phys_cont .phys_inform{
	height:85px;
	overflow:hidden;
	}
.expert_physician2 .phys_cont .inf1{
	background:#f0a6c2;
	}
.expert_physician2 .phys_cont .inf2{
	background:#75cae5;
	}
.expert_physician2 .phys_cont .phys_inform .inf_p1{
	font-size:18px;
	color:#ffffff;
	margin:20px 0 0 20px;
	}
.expert_physician2 .phys_cont .phys_inform .inf_p2{
	font-size:14px;
	color:#304959;
	margin:5px 0 0 20px;
	}
.index_bottom1{
	overflow:hidden;
	background:#75cae5;
	height:200px;
	}
.index_bottom1 ul{
	width:660px;
	margin:50px auto 0;
	overflow:hidden;
	}
.index_bottom1 ul li{
	width:219px;
	float:left;
	height:112px;
	border-right:1px dashed #fff;
	}
.index_bottom1 ul li .bottom_p1{
	color:#ffffff;
	font-size:18px;
	padding-bottom:10px;
	text-align:center;
	}
.index_bottom1 ul li .bottom_p2{
	color:#ffffff;
	font-size:14px;
	padding-top:12px;
	line-height:14px;
	text-align:center;
	}
.bottom_p4{
	float:right;
	margin-right:15px;
	font-size:12px;
	color:#2a373d;
	}
.bottom_p4 span{
	color:#f7649b;
	font-size:16px;
	padding:0 3px;
	font-family:"方正综艺简体";
	
	}

.index_bottom2{
	height:60px;
	overflow:hidden;
	background:#67b1c9;
	}
.index_bottom2 p{
	text-align:center;
	font-size:12px;
	font-family:"宋体";
	color:#FFF;
	line-height:60px;
	}
.clearfix{
	clear:both;
}
.index_bottom1 div{
            width: 660px;
        margin: 23px auto 0;
        overflow: hidden;
    }
    .index_bottom1 .bottom_p2{
    color: #ffffff;
    font-size: 14px;
    padding-top: 12px;
    line-height: 14px;
    text-align: center;
    }
    .index_bottom1 .bottom_p1 {
        color: #ffffff;
        font-size: 18px;
        padding-bottom: 10px;
        text-align: center;
    }
   /* #_ideConac{
      position: absolute;
        bottom: 90px;
        right: 56px;
    }*/










