<include file='Template:header' />
<?php 
$re_leftsublist = $leftsublist;
?>
<style>
    .item{
        display:none;
    }
    .active{display:block;}
</style>
<link href="__PUBLIC__/Home/css/page.css" rel="stylesheet" type="text/css" />
	<div class="index_body">
        <div class="index_page">
        	<div class="page_cont m-tab J_Tab">
            	<div class="page_nav">
                	<div class="nav_title">
                    	<p class="title_p1">临床科室</p>
                        <p class="title_p2">Departments</p>
                    </div>
                    <ul class="hd nav_ul ">
                        <foreach name="leftsublist" item="leftsublist" key="k">
                             <if condition="($k eq $_GET['sid']) or ($leftsublist.index eq 0)">
                                <li class="sublist active">
                                   {$leftsublist.name}
                                </li>
                            <else/>
                                <li class="sublist">
                                    {$leftsublist.name}
                                </li>
                            </if>
                        </foreach>
                    </ul>
                </div>
                <div class="bd page_introduce smt">
                    <foreach name="re_leftsublist" item="re_leftsublist">
                        <if condition="$re_leftsublist.index eq 0">
                            <ul class="item active">
                                <foreach name="re_leftsublist.sub.content" item="content" key="k">  
                                    <li>
                                        <?php echo stripslashes($content);?>
                                    </li>
                                </foreach>
                            </ul>
                        <else/>
                            <ul class="item">
                                 <foreach name="re_leftsublist.sub.content" item="content" key="k">  
                                    <li>
                                        <?php echo stripslashes($content);?>
                                    </li>
                                </foreach>  
                            </ul>
                        </if>
                    </foreach>
                </div>
            </div>
        </div>
    </div>
<include file='Template:footer' />
