<link href="__PUBLIC__/Home/css/home.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Home/css/main.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Home/css/style-responsive.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Home/lib/bootstrap4/bootstrap.min.css" rel="stylesheet" type="text/css" />

<div id="demo01" class="flexslider">
            <ul class="slides">
            <foreach name="bannerlist" item="bannerlist">
                <li><div class="img" style="background-color:#ddf"><a href=""><?php echo stripslashes(trim($bannerlist['src'],"\"")) ;?></a></div></li>
            </foreach>
            </ul>
        </div>
     <!-- contain second2 -->
<div class="col-lg-10 offset-lg-1 row mt10">
    <div class="col-md-4 col-sm-4 mb">
      <div class="owl-carousel owl-focus clearfix">
        <li class="item"><a href="http://news.ef360.com/Articles/2018-11-16/376950.html" target="_blank"><img src="http://img.ef360.com/EditManager/File/news/201811/201811161100399274_400x300.jpg" width="320" height="240" alt="Liber Fashion，锻造内涵与个性兼具的时尚服务平台"><span><em>Liber Fashion，锻造内涵与个性兼具的时尚服务平台</em></span></a></li>  
      </div>
    </div>
    <div class="col-md-4 col-sm-4 mb">
      <div class="hd">
            
            <div style="float:right; width:300px; text-align: right; font-size: 14px; height:37px; line-height:37px; overflow: hidden;"><a href="http://fashionszshow.ef360.com/" target="_blank" style="height:37px;overflow: hidden; display:block;color:#f00">2019中国（深圳）国际品牌服装服饰交易会</a></div>
            
        <h2>服装头条</h2>
      </div>
      <div class="bd">
        
        <div class="headline" style="font-size: 20px; height:50px; line-height:50px; overflow: hidden; font-weight: bold;"><a href="http://news.ef360.com/Articles/2018-11-16/376950.html" target="_blank">Liber Fashion，锻造内涵与个性兼具的时尚服务平台</a></div>
         
        <ul class="ul-round clearfix">
          
          <li><a href="http://news.ef360.com/Articles/2018-11-15/376917.html" target="_blank">真·名媛养成记从一身瑞比克童装开始</a></li>
          
          <li><a href="http://news.ef360.com/Articles/2018-11-15/376916.html" target="_blank">碲铂（DIBO）【梵心&#8226;律动】2019春夏新品时尚发布会亮相中国广州</a></li>
          
          <li><a href="http://news.ef360.com/Articles/2018-11-14/376847.html" target="_blank">底色原创设计师女装 轻松打造高级感穿搭</a></li>
          
          <li><a href="http://news.ef360.com/Articles/2018-11-14/376846.html" target="_blank">依路佑妮亮片装 火到没朋友的单品必须不能少!</a></li>
          
          <li><a href="http://news.ef360.com/Articles/2018-11-13/376836.html" target="_blank">点亮职场 你需要一件YOSUM衣诗漫OL风女装</a></li>
          
          <li><a href="http://news.ef360.com/Articles/2018-11-13/376834.html" target="_blank">狂欢不打烊 She's 2018双11返场浪漫不停歇</a></li>
          
          <li><a href="http://news.ef360.com/Articles/2018-11-13/376827.html" target="_blank">暇步士童装2018秋冬新品 你还缺一件时髦又百搭的棒球服</a></li>
          
        </ul>
        
      </div>
    </div>
    <div class="col-md-4 col-sm-4 mb">
      <div class="hd">
        <h2><a href="http://research.ef360.com/" target="_blank">服装行业观察</a></h2>
      </div>
      <div class="bd">
        <ul class="ul-round clearfix" style="padding: 12px 15px;">
          
          <li><a href="http://news.ef360.com/a/20181115/10003287.html" target="_blank">百圆裤业母公司未来三年向网易“考拉”平台供货30亿！</a></li>
          
          <li><a href="http://news.ef360.com/a/20181115/10003286.html" target="_blank">电商周报：双11电商最终数据出炉 苏宁开出1万家店</a></li>
          
          <li><a href="http://news.ef360.com/a/20181115/10003285.html" target="_blank">eBay2018最大时尚赢家：潮牌、限量版球鞋、新晋英国王妃</a></li>
          
          <li><a href="http://news.ef360.com/a/20181115/10003284.html" target="_blank">唯品会11.11大促交易额102亿 同比增27%</a></li>
          
          <li><a href="http://news.ef360.com/a/20181114/10003283.html" target="_blank">二胎政策完全放开，2020年我国校服市场规模有望破千亿</a></li>
          
          <li><a href="http://news.ef360.com/a/20181114/10003282.html" target="_blank">奢侈品线上销售竞争加剧，对线下格局有何影响？</a></li>
          
          <li><a href="http://news.ef360.com/a/20181114/10003281.html" target="_blank">亚马逊“先试后买”Prime Wardrobe服务正式在欧洲上线</a></li>
          
          <li><a href="http://news.ef360.com/a/20181114/10003280.html" target="_blank">每天刷的朋友圈，成为奢侈品新的线上销售平台</a></li>
          
        </ul>
      </div>
    </div>
</div>
        <style>
            .wrapper ul li{float:left;}
            .clearfix:after {
                visibility: hidden;
                clear: both;
                display: block;
                content: ".";
                height: 0;
            }
        </style>
        <div class="index_health">
        	<div class="health_cont">
            	<div class="mod_title">
                    <p>招商</p>
                </div>
                <div class="wrapper"> 
                    <div class="banner-240-60-1000 clearfix">
                      <ul class="b-inner icon-ad-tip clearfix">
                        <li><a href="http://zs.ef360.com/Items/dins/" target="_blank" class="ef360_ad" data-adcode="banner-240-60-1000_4"><img src="http://www.ef360.com/_Public/_UpFile/dins_240_60.gif" width="240" height="60"></a></li>
                        <li><a href="http://zs.ef360.com/Items/hokabr/" target="_blank" class="ef360_ad" data-adcode="banner-240-60-1000_2"><img src="http://www.ef360.com/_Public/_UpFile/hokabr_240_60.gif" width="240" height="60"></a></li>
                        <li><a href="http://zs.ef360.com/items/ouyue/" target="_blank" class="ef360_ad" data-adcode="banner-240-60-1000_3"><img src="http://www.ef360.com/_Public/_UpFile/ouyue_240_60.gif" width="240" height="60"></a></li>
                        <li><a href="http://www.ef360.com/app/#4" target="_blank" class="ef360_ad" data-adcode="banner-240-60-1000_1" rel="nofollow"><img src="http://www.ef360.com/_Public/_UpFile/ef360wx_240_60.gif" width="240" height="60"></a></li>
                        <li><a href="http://brand.ef360.com/12709/" target="_blank" class="ef360_ad" data-adcode="banner-240-60-1000_5"><img src="http://www.ef360.com/_Public/_UpFile/girdear_240_60.gif" width="240" height="60"></a></li>
                        <li><a href="http://zs.ef360.com/items/xiabushi/" target="_blank" class="ef360_ad" data-adcode="banner-240-60-1000_6"><img src="http://www.ef360.com/_Public/_UpFile/xiabushi_240_60.gif" width="240" height="60"></a></li>
                        <li><a href="http://brand.ef360.com/16078/" target="_blank" class="ef360_ad" data-adcode="banner-240-60-1000_7"><img src="http://www.ef360.com/_Public/_UpFile/PeaceBird_240_60.gif" width="240" height="60"></a></li>
                        <li><a href="http://zs.ef360.com/Items/YOSUM/" target="_blank" class="ef360_ad" data-adcode="banner-240-60-1000_8"><img src="http://www.ef360.com/_Public/_UpFile/YOSUM_240_60.gif" width="240" height="60"></a></li>
                      </ul>
                    </div>
                </div>
        </div>
        <div class="index_open">
        	<div class="open_cont">
            	<div class="mod_title">
                    <p>品牌</p>
                </div>
                <div class="focus-ad-box clearfix mt10">
        <div class="lft">
          <ul>
            
            <li><a href="http://product.ef360.com/album-103371/" target="_blank">欧玥女装2018春季新品</a></li>
            
            <li><a href="http://zs.ef360.com/items/xiaolingdang/" target="_blank">智能童装领导者小铃铛</a></li>
            
            <li><a href="http://zs.ef360.com/Items/mengdukids/" target="_blank">萌度小童邀您加盟！</a></li>
            
            <li><a href="http://brand.ef360.com/11797/" target="_blank">桃花季内衣加盟万元起步</a></li>
            
            <li><a href="http://zs.ef360.com/Items/guimi/" target="_blank">消费者青睐的闺秘内衣</a></li>
            
          </ul>
        </div>
        <div class="mid">
          <ul class="mid-1 clearfix">
            
            <li><a href="http://zs.ef360.com/Items/hokabr/" target="_blank">源自巴黎轻奢女装红凯贝尔</a></li>
            
            <li><a href="http://brand.ef360.com/102682/" target="_blank">依路佑妮女装开1店送2店</a></li>
            
            <li><a href="http://zs.ef360.com/Items/Loucymiel/" target="_blank">路西·米儿童装品牌招商</a></li>
            
          </ul>
          <div class="focus-ad mid-3 clearfix">
            <ul class="focus-ad-pic cont">
              
              <li><i class="icon-ad-tip2"></i><a href="http://fashion.ef360.com/Articles/2018-10-19/176709.html" target="_blank" class="ef360_ad" data-adcode="index_FocusPic_580_80_1"><img src="http://img.ef360.com/EditManager/FileCustomer/news/201810/201810210137094564_580x80.jpg" width="580" height="80" alt="YING CHOI 2019S上海时装周GALALAND大秀" /></a></li>
              
              <li><i class="icon-ad-tip2"></i><a href="http://www.ef360.com/activity/2338.html" target="_blank" class="ef360_ad" data-adcode="index_FocusPic_580_80_2"><img src="http://www.order.ef360.com/_Public/_UpFile/TARGUO_595_80.gif" width="580" height="80" alt="TARGUO它钴男装2019春夏新品发布会诚邀您的莅临" /></a></li>
              
              <li><i class="icon-ad-tip2"></i><a href="http://news.ef360.com/Articles/2018-9-14/375571.html" target="_blank" class="ef360_ad" data-adcode="index_FocusPic_580_80_3"><img src="http://img.ef360.com/EditManager/FileCustomer/news/201809/201809181055452122_580x80.jpg" width="580" height="80" alt="RBIGX全国小模特征集令正式启动" /></a></li>
              
              <li><i class="icon-ad-tip2"></i><a href="http://zs.ef360.com/items/dins/" target="_blank" class="ef360_ad" data-adcode="index_FocusPic_580_80_4"><img src="http://img.ef360.com/EditManager/FileCustomer/news/201809/201809291537072391_580x80.jpg" width="580" height="80" alt="原创设计师女装底色：因你而生 为你而美" /></a></li>
              
              <li><i class="icon-ad-tip2"></i><a href="http://brand.ef360.com/102720/" target="_blank" class="ef360_ad" data-adcode="index_FocusPic_580_80_5"><img src="http://img.ef360.com/EditManager/File/news/201807/201807161501072467_580x80.jpg" width="580" height="80" alt="YOSUM衣诗漫快时尚女装" /></a></li>
              
            </ul>
            <ul class="focus-ad-tab tab">
              <li><a href="javascript:;">1</a></li>
              <li><a href="javascript:;">2</a></li>
              <li><a href="javascript:;">3</a></li>
              <li><a href="javascript:;">4</a></li>
              <li><a href="javascript:;">5</a></li>
            </ul>
          </div>
          <ul class="mid-2 clearfix">
            
            <li><a href="http://zs.ef360.com/Items/Yosum/" target="_blank">YOSUM衣诗漫女装诚邀加盟</a></li>
            
            <li><a href="http://zs.ef360.com/items/dins/" target="_blank"><b>棉麻文艺女装--底色</b></a></li>
            
            <li><a href="http://zs.ef360.com/Items/jiemilandi/" target="_blank">快时尚童装品牌杰米兰帝</a></li>
            
          </ul>
        </div>
        <div class="rgt">
          <ul>
            
            <li><a href="http://zs.ef360.com/Items/janefavor/" target="_blank">珍妮芬快时尚平价内衣</a></li>
            
            <li><a href="http://zs.ef360.com/items/dambolo/" target="_blank">快时尚女装品牌丹比奴</a></li>
            
            <li><a href="http://brand.ef360.com/103146/" target="_blank">维尼叮当时尚潮流童装</a></li>
            
            <li><a href="http://zs.ef360.com/items/gmf-kids/" target="_blank">捷米梵童装加盟启动</a></li>
            
            <li><a href="http://brand.ef360.com/103311/" target="_blank">瑞比克轻奢童装加盟</a></li>
            
          </ul>
        </div>
      </div>
            </div>
        </div>
        <style type="text/css">
        .specialImg img{width:130px;padding-left:10px;padding-right:10px;}
        .ml10{margin-left:10px !important;}
        .warp img{}
        #first img{padding-left:0px !important;}
        #last img{padding-right:0px !important;}
        </style>
<div class="index_expert" style="">
        	<div class="expert_cont">
            	<div class="mod_title">
                    <p>供求信息</p>
                </div>
                <div class="infoPub infobox" style="float:left">
                    <div class="infoPub_box">
      <h3 class="boxh3">玉米供求信息<a href="/yumioffer" class="modList_more" target="_blank">>>更多</a> </h3>
      

      <div class="subTit">
        <ul>
          <li id="hoverst" class="hovertab" onmousemove="infoPub_change(0)"><a href="/zhuce" target="_blank"><img src="/yumi-images/index_box.gif" /></a></li>
        </ul>
      </div>
      
      <div class="subTit">
        <ul class="ulhei">
            <li class="bgclor">
              <p class="tit_1of3">地点</p>
              <p class="tit_2of3">价格</p>
              <p class="tit_3of3">类型</p>
            </li>
        </ul>
      </div>
      
      <div class="subCont subCont2">
        <div class="infoPub_sub">
          <ul>
          
            <div class="box">
                <div class="bcon">
                    <div class="list_lh">
                        <ul>
            
                        <li>
                            <p class="tit_1of3"><a href="/Yumioffer/index/c_id/2565.html" target="_blank" >德阳市</a></p>
                            <p class="tit_2of3"><a href="/Yumioffer/show/id/56226.html" target="_blank" >2200</a></p>
                            <p class="tit_3of3"><a href="/Yumioffer/show/id/56226.html" target="_blank" >购买</a></p>
                          </li><li>
                            <p class="tit_1of3"><a href="/Yumioffer/index/c_id/2565.html" target="_blank" >德阳市</a></p>
                            <p class="tit_2of3"><a href="/Yumioffer/show/id/56151.html" target="_blank" >2200</a></p>
                            <p class="tit_3of3"><a href="/Yumioffer/show/id/56151.html" target="_blank" >购买</a></p>
                          </li><li>
                            <p class="tit_1of3"><a href="/Yumioffer/index/c_id/2520.html" target="_blank" >成都市</a></p>
                            <p class="tit_2of3"><a href="/Yumioffer/show/id/55121.html" target="_blank" >2150</a></p>
                            <p class="tit_3of3"><a href="/Yumioffer/show/id/55121.html" target="_blank" >购买</a></p>
                          </li><li>
                            <p class="tit_1of3"><a href="/Yumioffer/index/c_id/2565.html" target="_blank" >德阳市</a></p>
                            <p class="tit_2of3"><a href="/Yumioffer/show/id/55117.html" target="_blank" >2200</a></p>
                            <p class="tit_3of3"><a href="/Yumioffer/show/id/55117.html" target="_blank" >购买</a></p>
                          </li><li>
                            <p class="tit_1of3"><a href="/Yumioffer/index/c_id/2565.html" target="_blank" >德阳市</a></p>
                            <p class="tit_2of3"><a href="/Yumioffer/show/id/55099.html" target="_blank" >2200</a></p>
                            <p class="tit_3of3"><a href="/Yumioffer/show/id/55099.html" target="_blank" >购买</a></p>
                          </li><li>
                            <p class="tit_1of3"><a href="/Yumioffer/index/c_id/2565.html" target="_blank" >德阳市</a></p>
                            <p class="tit_2of3"><a href="/Yumioffer/show/id/55068.html" target="_blank" >2200</a></p>
                            <p class="tit_3of3"><a href="/Yumioffer/show/id/55068.html" target="_blank" >购买</a></p>
                          </li><li>
                            <p class="tit_1of3"><a href="/Yumioffer/index/c_id/2565.html" target="_blank" >德阳市</a></p>
                            <p class="tit_2of3"><a href="/Yumioffer/show/id/55044.html" target="_blank" >2200</a></p>
                            <p class="tit_3of3"><a href="/Yumioffer/show/id/55044.html" target="_blank" >购买</a></p>
                          </li><li>
                            <p class="tit_1of3"><a href="/Yumioffer/index/c_id/2520.html" target="_blank" >成都市</a></p>
                            <p class="tit_2of3"><a href="/Yumioffer/show/id/55042.html" target="_blank" >2150</a></p>
                            <p class="tit_3of3"><a href="/Yumioffer/show/id/55042.html" target="_blank" >购买</a></p>
                          </li><li>
                            <p class="tit_1of3"><a href="/Yumioffer/index/c_id/1884.html" target="_blank" >黄石市</a></p>
                            <p class="tit_2of3"><a href="/Yumioffer/show/id/55041.html" target="_blank" >2050</a></p>
                            <p class="tit_3of3"><a href="/Yumioffer/show/id/55041.html" target="_blank" >购买</a></p>
                          </li><li>
                            <p class="tit_1of3"><a href="/Yumioffer/index/c_id/2264.html" target="_blank" >河源市</a></p>
                            <p class="tit_2of3"><a href="/Yumioffer/show/id/55039.html" target="_blank" >1000</a></p>
                            <p class="tit_3of3"><a href="/Yumioffer/show/id/55039.html" target="_blank" >销售</a></p>
                          </li><li>
                            <p class="tit_1of3"><a href="/Yumioffer/index/c_id/2565.html" target="_blank" >德阳市</a></p>
                            <p class="tit_2of3"><a href="/Yumioffer/show/id/53735.html" target="_blank" >2180</a></p>
                            <p class="tit_3of3"><a href="/Yumioffer/show/id/53735.html" target="_blank" >购买</a></p>
                          </li><li>
                            <p class="tit_1of3"><a href="/Yumioffer/index/c_id/2565.html" target="_blank" >德阳市</a></p>
                            <p class="tit_2of3"><a href="/Yumioffer/show/id/53734.html" target="_blank" >2080</a></p>
                            <p class="tit_3of3"><a href="/Yumioffer/show/id/53734.html" target="_blank" >购买</a></p>
                          </li><li>
                            <p class="tit_1of3"><a href="/Yumioffer/index/c_id/2520.html" target="_blank" >成都市</a></p>
                            <p class="tit_2of3"><a href="/Yumioffer/show/id/53727.html" target="_blank" >2150</a></p>
                            <p class="tit_3of3"><a href="/Yumioffer/show/id/53727.html" target="_blank" >购买</a></p>
                          </li><li>
                            <p class="tit_1of3"><a href="/Yumioffer/index/c_id/2565.html" target="_blank" >德阳市</a></p>
                            <p class="tit_2of3"><a href="/Yumioffer/show/id/53725.html" target="_blank" >2180</a></p>
                            <p class="tit_3of3"><a href="/Yumioffer/show/id/53725.html" target="_blank" >购买</a></p>
                          </li><li>
                            <p class="tit_1of3"><a href="/Yumioffer/index/c_id/2520.html" target="_blank" >成都市</a></p>
                            <p class="tit_2of3"><a href="/Yumioffer/show/id/53723.html" target="_blank" >2150</a></p>
                            <p class="tit_3of3"><a href="/Yumioffer/show/id/53723.html" target="_blank" >购买</a></p>
                          </li><li>
                            <p class="tit_1of3"><a href="/Yumioffer/index/c_id/2565.html" target="_blank" >德阳市</a></p>
                            <p class="tit_2of3"><a href="/Yumioffer/show/id/53699.html" target="_blank" >2180</a></p>
                            <p class="tit_3of3"><a href="/Yumioffer/show/id/53699.html" target="_blank" >购买</a></p>
                          </li><li>
                            <p class="tit_1of3"><a href="/Yumioffer/index/c_id/2520.html" target="_blank" >成都市</a></p>
                            <p class="tit_2of3"><a href="/Yumioffer/show/id/53688.html" target="_blank" >2150</a></p>
                            <p class="tit_3of3"><a href="/Yumioffer/show/id/53688.html" target="_blank" >购买</a></p>
                          </li><li>
                            <p class="tit_1of3"><a href="/Yumioffer/index/c_id/1884.html" target="_blank" >黄石市</a></p>
                            <p class="tit_2of3"><a href="/Yumioffer/show/id/53303.html" target="_blank" >2020</a></p>
                            <p class="tit_3of3"><a href="/Yumioffer/show/id/53303.html" target="_blank" >购买</a></p>
                          </li><li>
                            <p class="tit_1of3"><a href="/Yumioffer/index/c_id/1992.html" target="_blank" >湖北省辖单位</a></p>
                            <p class="tit_2of3"><a href="/Yumioffer/show/id/53302.html" target="_blank" >2300</a></p>
                            <p class="tit_3of3"><a href="/Yumioffer/show/id/53302.html" target="_blank" >销售</a></p>
                          </li><li>
                            <p class="tit_1of3"><a href="/Yumioffer/index/c_id/2565.html" target="_blank" >德阳市</a></p>
                            <p class="tit_2of3"><a href="/Yumioffer/show/id/53300.html" target="_blank" >2180</a></p>
                            <p class="tit_3of3"><a href="/Yumioffer/show/id/53300.html" target="_blank" >购买</a></p>
                          </li>                            
                        </ul>
                    </div>
                </div>
            </div>

            <li>
              <p id="infoPub_picb"><a href="/Member/index.html" target="_blank"><img src="/yumi-images/index_0box.gif" width="136" height="33" /></a></p>
              
            </li>
          </ul>
        </div>
                        </div>
                    </div>
                </div>
                <div class="infoPub infobox" style="float:left">
                    <div class="infoPub_box">
      <h3 class="boxh3">玉米供求信息<a href="/yumioffer" class="modList_more" target="_blank">>>更多</a> </h3>
      

      <div class="subTit">
        <ul>
          <li id="hoverst" class="hovertab" onmousemove="infoPub_change(0)"><a href="/zhuce" target="_blank"><img src="/yumi-images/index_box.gif" /></a></li>
        </ul>
      </div>
      
      <div class="subTit">
        <ul class="ulhei">
            <li class="bgclor">
              <p class="tit_1of3">地点</p>
              <p class="tit_2of3">价格</p>
              <p class="tit_3of3">类型</p>
            </li>
        </ul>
      </div>
      
      <div class="subCont subCont2">
        <div class="infoPub_sub">
          <ul>
          
            <div class="box">
                <div class="bcon">
                    <div class="list_lh">
                        <ul>
            
                        <li>
                            <p class="tit_1of3"><a href="/Yumioffer/index/c_id/2565.html" target="_blank" >德阳市</a></p>
                            <p class="tit_2of3"><a href="/Yumioffer/show/id/56226.html" target="_blank" >2200</a></p>
                            <p class="tit_3of3"><a href="/Yumioffer/show/id/56226.html" target="_blank" >购买</a></p>
                          </li><li>
                            <p class="tit_1of3"><a href="/Yumioffer/index/c_id/2565.html" target="_blank" >德阳市</a></p>
                            <p class="tit_2of3"><a href="/Yumioffer/show/id/56151.html" target="_blank" >2200</a></p>
                            <p class="tit_3of3"><a href="/Yumioffer/show/id/56151.html" target="_blank" >购买</a></p>
                          </li><li>
                            <p class="tit_1of3"><a href="/Yumioffer/index/c_id/2520.html" target="_blank" >成都市</a></p>
                            <p class="tit_2of3"><a href="/Yumioffer/show/id/55121.html" target="_blank" >2150</a></p>
                            <p class="tit_3of3"><a href="/Yumioffer/show/id/55121.html" target="_blank" >购买</a></p>
                          </li><li>
                            <p class="tit_1of3"><a href="/Yumioffer/index/c_id/2565.html" target="_blank" >德阳市</a></p>
                            <p class="tit_2of3"><a href="/Yumioffer/show/id/55117.html" target="_blank" >2200</a></p>
                            <p class="tit_3of3"><a href="/Yumioffer/show/id/55117.html" target="_blank" >购买</a></p>
                          </li><li>
                            <p class="tit_1of3"><a href="/Yumioffer/index/c_id/2565.html" target="_blank" >德阳市</a></p>
                            <p class="tit_2of3"><a href="/Yumioffer/show/id/55099.html" target="_blank" >2200</a></p>
                            <p class="tit_3of3"><a href="/Yumioffer/show/id/55099.html" target="_blank" >购买</a></p>
                          </li><li>
                            <p class="tit_1of3"><a href="/Yumioffer/index/c_id/2565.html" target="_blank" >德阳市</a></p>
                            <p class="tit_2of3"><a href="/Yumioffer/show/id/55068.html" target="_blank" >2200</a></p>
                            <p class="tit_3of3"><a href="/Yumioffer/show/id/55068.html" target="_blank" >购买</a></p>
                          </li><li>
                            <p class="tit_1of3"><a href="/Yumioffer/index/c_id/2565.html" target="_blank" >德阳市</a></p>
                            <p class="tit_2of3"><a href="/Yumioffer/show/id/55044.html" target="_blank" >2200</a></p>
                            <p class="tit_3of3"><a href="/Yumioffer/show/id/55044.html" target="_blank" >购买</a></p>
                          </li><li>
                            <p class="tit_1of3"><a href="/Yumioffer/index/c_id/2520.html" target="_blank" >成都市</a></p>
                            <p class="tit_2of3"><a href="/Yumioffer/show/id/55042.html" target="_blank" >2150</a></p>
                            <p class="tit_3of3"><a href="/Yumioffer/show/id/55042.html" target="_blank" >购买</a></p>
                          </li><li>
                            <p class="tit_1of3"><a href="/Yumioffer/index/c_id/1884.html" target="_blank" >黄石市</a></p>
                            <p class="tit_2of3"><a href="/Yumioffer/show/id/55041.html" target="_blank" >2050</a></p>
                            <p class="tit_3of3"><a href="/Yumioffer/show/id/55041.html" target="_blank" >购买</a></p>
                          </li><li>
                            <p class="tit_1of3"><a href="/Yumioffer/index/c_id/2264.html" target="_blank" >河源市</a></p>
                            <p class="tit_2of3"><a href="/Yumioffer/show/id/55039.html" target="_blank" >1000</a></p>
                            <p class="tit_3of3"><a href="/Yumioffer/show/id/55039.html" target="_blank" >销售</a></p>
                          </li><li>
                            <p class="tit_1of3"><a href="/Yumioffer/index/c_id/2565.html" target="_blank" >德阳市</a></p>
                            <p class="tit_2of3"><a href="/Yumioffer/show/id/53735.html" target="_blank" >2180</a></p>
                            <p class="tit_3of3"><a href="/Yumioffer/show/id/53735.html" target="_blank" >购买</a></p>
                          </li><li>
                            <p class="tit_1of3"><a href="/Yumioffer/index/c_id/2565.html" target="_blank" >德阳市</a></p>
                            <p class="tit_2of3"><a href="/Yumioffer/show/id/53734.html" target="_blank" >2080</a></p>
                            <p class="tit_3of3"><a href="/Yumioffer/show/id/53734.html" target="_blank" >购买</a></p>
                          </li><li>
                            <p class="tit_1of3"><a href="/Yumioffer/index/c_id/2520.html" target="_blank" >成都市</a></p>
                            <p class="tit_2of3"><a href="/Yumioffer/show/id/53727.html" target="_blank" >2150</a></p>
                            <p class="tit_3of3"><a href="/Yumioffer/show/id/53727.html" target="_blank" >购买</a></p>
                          </li><li>
                            <p class="tit_1of3"><a href="/Yumioffer/index/c_id/2565.html" target="_blank" >德阳市</a></p>
                            <p class="tit_2of3"><a href="/Yumioffer/show/id/53725.html" target="_blank" >2180</a></p>
                            <p class="tit_3of3"><a href="/Yumioffer/show/id/53725.html" target="_blank" >购买</a></p>
                          </li><li>
                            <p class="tit_1of3"><a href="/Yumioffer/index/c_id/2520.html" target="_blank" >成都市</a></p>
                            <p class="tit_2of3"><a href="/Yumioffer/show/id/53723.html" target="_blank" >2150</a></p>
                            <p class="tit_3of3"><a href="/Yumioffer/show/id/53723.html" target="_blank" >购买</a></p>
                          </li><li>
                            <p class="tit_1of3"><a href="/Yumioffer/index/c_id/2565.html" target="_blank" >德阳市</a></p>
                            <p class="tit_2of3"><a href="/Yumioffer/show/id/53699.html" target="_blank" >2180</a></p>
                            <p class="tit_3of3"><a href="/Yumioffer/show/id/53699.html" target="_blank" >购买</a></p>
                          </li><li>
                            <p class="tit_1of3"><a href="/Yumioffer/index/c_id/2520.html" target="_blank" >成都市</a></p>
                            <p class="tit_2of3"><a href="/Yumioffer/show/id/53688.html" target="_blank" >2150</a></p>
                            <p class="tit_3of3"><a href="/Yumioffer/show/id/53688.html" target="_blank" >购买</a></p>
                          </li><li>
                            <p class="tit_1of3"><a href="/Yumioffer/index/c_id/1884.html" target="_blank" >黄石市</a></p>
                            <p class="tit_2of3"><a href="/Yumioffer/show/id/53303.html" target="_blank" >2020</a></p>
                            <p class="tit_3of3"><a href="/Yumioffer/show/id/53303.html" target="_blank" >购买</a></p>
                          </li><li>
                            <p class="tit_1of3"><a href="/Yumioffer/index/c_id/1992.html" target="_blank" >湖北省辖单位</a></p>
                            <p class="tit_2of3"><a href="/Yumioffer/show/id/53302.html" target="_blank" >2300</a></p>
                            <p class="tit_3of3"><a href="/Yumioffer/show/id/53302.html" target="_blank" >销售</a></p>
                          </li><li>
                            <p class="tit_1of3"><a href="/Yumioffer/index/c_id/2565.html" target="_blank" >德阳市</a></p>
                            <p class="tit_2of3"><a href="/Yumioffer/show/id/53300.html" target="_blank" >2180</a></p>
                            <p class="tit_3of3"><a href="/Yumioffer/show/id/53300.html" target="_blank" >购买</a></p>
                          </li>                            
                        </ul>
                    </div>
                </div>
            </div>

            <li>
              <p id="infoPub_picb"><a href="/Member/index.html" target="_blank"><img src="/yumi-images/index_0box.gif" width="136" height="33" /></a></p>
              
            </li>
          </ul>
        </div>
                        </div>
                    </div>
                </div>
<div class="infoPub infobox" style="float:left">
                    <div class="infoPub_box">
      <h3 class="boxh3">大米供求信息<a href="/yumioffer" class="modList_more" target="_blank">>>更多</a> </h3>
      

      <div class="subTit">
        <ul>
          <li id="hoverst" class="hovertab" onmousemove="infoPub_change(0)"><a href="/zhuce" target="_blank"><img src="/yumi-images/index_box.gif" /></a></li>
        </ul>
      </div>
      
      <div class="subTit">
        <ul class="ulhei">
            <li class="bgclor">
              <p class="tit_1of3">地点</p>
              <p class="tit_2of3">价格</p>
              <p class="tit_3of3">类型</p>
            </li>
        </ul>
      </div>
      
      <div class="subCont subCont2">
        <div class="infoPub_sub">
          <ul>
          
            <div class="box">
                <div class="bcon">
                    <div class="list_lh">
                        <ul>
            
                        <li>
                            <p class="tit_1of3"><a href="/Yumioffer/index/c_id/2565.html" target="_blank" >德阳市</a></p>
                            <p class="tit_2of3"><a href="/Yumioffer/show/id/56226.html" target="_blank" >2200</a></p>
                            <p class="tit_3of3"><a href="/Yumioffer/show/id/56226.html" target="_blank" >购买</a></p>
                          </li><li>
                            <p class="tit_1of3"><a href="/Yumioffer/index/c_id/2565.html" target="_blank" >德阳市</a></p>
                            <p class="tit_2of3"><a href="/Yumioffer/show/id/56151.html" target="_blank" >2200</a></p>
                            <p class="tit_3of3"><a href="/Yumioffer/show/id/56151.html" target="_blank" >购买</a></p>
                          </li><li>
                            <p class="tit_1of3"><a href="/Yumioffer/index/c_id/2520.html" target="_blank" >成都市</a></p>
                            <p class="tit_2of3"><a href="/Yumioffer/show/id/55121.html" target="_blank" >2150</a></p>
                            <p class="tit_3of3"><a href="/Yumioffer/show/id/55121.html" target="_blank" >购买</a></p>
                          </li><li>
                            <p class="tit_1of3"><a href="/Yumioffer/index/c_id/2565.html" target="_blank" >德阳市</a></p>
                            <p class="tit_2of3"><a href="/Yumioffer/show/id/55117.html" target="_blank" >2200</a></p>
                            <p class="tit_3of3"><a href="/Yumioffer/show/id/55117.html" target="_blank" >购买</a></p>
                          </li><li>
                            <p class="tit_1of3"><a href="/Yumioffer/index/c_id/2565.html" target="_blank" >德阳市</a></p>
                            <p class="tit_2of3"><a href="/Yumioffer/show/id/55099.html" target="_blank" >2200</a></p>
                            <p class="tit_3of3"><a href="/Yumioffer/show/id/55099.html" target="_blank" >购买</a></p>
                          </li><li>
                            <p class="tit_1of3"><a href="/Yumioffer/index/c_id/2565.html" target="_blank" >德阳市</a></p>
                            <p class="tit_2of3"><a href="/Yumioffer/show/id/55068.html" target="_blank" >2200</a></p>
                            <p class="tit_3of3"><a href="/Yumioffer/show/id/55068.html" target="_blank" >购买</a></p>
                          </li><li>
                            <p class="tit_1of3"><a href="/Yumioffer/index/c_id/2565.html" target="_blank" >德阳市</a></p>
                            <p class="tit_2of3"><a href="/Yumioffer/show/id/55044.html" target="_blank" >2200</a></p>
                            <p class="tit_3of3"><a href="/Yumioffer/show/id/55044.html" target="_blank" >购买</a></p>
                          </li><li>
                            <p class="tit_1of3"><a href="/Yumioffer/index/c_id/2520.html" target="_blank" >成都市</a></p>
                            <p class="tit_2of3"><a href="/Yumioffer/show/id/55042.html" target="_blank" >2150</a></p>
                            <p class="tit_3of3"><a href="/Yumioffer/show/id/55042.html" target="_blank" >购买</a></p>
                          </li><li>
                            <p class="tit_1of3"><a href="/Yumioffer/index/c_id/1884.html" target="_blank" >黄石市</a></p>
                            <p class="tit_2of3"><a href="/Yumioffer/show/id/55041.html" target="_blank" >2050</a></p>
                            <p class="tit_3of3"><a href="/Yumioffer/show/id/55041.html" target="_blank" >购买</a></p>
                          </li><li>
                            <p class="tit_1of3"><a href="/Yumioffer/index/c_id/2264.html" target="_blank" >河源市</a></p>
                            <p class="tit_2of3"><a href="/Yumioffer/show/id/55039.html" target="_blank" >1000</a></p>
                            <p class="tit_3of3"><a href="/Yumioffer/show/id/55039.html" target="_blank" >销售</a></p>
                          </li><li>
                            <p class="tit_1of3"><a href="/Yumioffer/index/c_id/2565.html" target="_blank" >德阳市</a></p>
                            <p class="tit_2of3"><a href="/Yumioffer/show/id/53735.html" target="_blank" >2180</a></p>
                            <p class="tit_3of3"><a href="/Yumioffer/show/id/53735.html" target="_blank" >购买</a></p>
                          </li><li>
                            <p class="tit_1of3"><a href="/Yumioffer/index/c_id/2565.html" target="_blank" >德阳市</a></p>
                            <p class="tit_2of3"><a href="/Yumioffer/show/id/53734.html" target="_blank" >2080</a></p>
                            <p class="tit_3of3"><a href="/Yumioffer/show/id/53734.html" target="_blank" >购买</a></p>
                          </li><li>
                            <p class="tit_1of3"><a href="/Yumioffer/index/c_id/2520.html" target="_blank" >成都市</a></p>
                            <p class="tit_2of3"><a href="/Yumioffer/show/id/53727.html" target="_blank" >2150</a></p>
                            <p class="tit_3of3"><a href="/Yumioffer/show/id/53727.html" target="_blank" >购买</a></p>
                          </li><li>
                            <p class="tit_1of3"><a href="/Yumioffer/index/c_id/2565.html" target="_blank" >德阳市</a></p>
                            <p class="tit_2of3"><a href="/Yumioffer/show/id/53725.html" target="_blank" >2180</a></p>
                            <p class="tit_3of3"><a href="/Yumioffer/show/id/53725.html" target="_blank" >购买</a></p>
                          </li><li>
                            <p class="tit_1of3"><a href="/Yumioffer/index/c_id/2520.html" target="_blank" >成都市</a></p>
                            <p class="tit_2of3"><a href="/Yumioffer/show/id/53723.html" target="_blank" >2150</a></p>
                            <p class="tit_3of3"><a href="/Yumioffer/show/id/53723.html" target="_blank" >购买</a></p>
                          </li><li>
                            <p class="tit_1of3"><a href="/Yumioffer/index/c_id/2565.html" target="_blank" >德阳市</a></p>
                            <p class="tit_2of3"><a href="/Yumioffer/show/id/53699.html" target="_blank" >2180</a></p>
                            <p class="tit_3of3"><a href="/Yumioffer/show/id/53699.html" target="_blank" >购买</a></p>
                          </li><li>
                            <p class="tit_1of3"><a href="/Yumioffer/index/c_id/2520.html" target="_blank" >成都市</a></p>
                            <p class="tit_2of3"><a href="/Yumioffer/show/id/53688.html" target="_blank" >2150</a></p>
                            <p class="tit_3of3"><a href="/Yumioffer/show/id/53688.html" target="_blank" >购买</a></p>
                          </li><li>
                            <p class="tit_1of3"><a href="/Yumioffer/index/c_id/1884.html" target="_blank" >黄石市</a></p>
                            <p class="tit_2of3"><a href="/Yumioffer/show/id/53303.html" target="_blank" >2020</a></p>
                            <p class="tit_3of3"><a href="/Yumioffer/show/id/53303.html" target="_blank" >购买</a></p>
                          </li><li>
                            <p class="tit_1of3"><a href="/Yumioffer/index/c_id/1992.html" target="_blank" >湖北省辖单位</a></p>
                            <p class="tit_2of3"><a href="/Yumioffer/show/id/53302.html" target="_blank" >2300</a></p>
                            <p class="tit_3of3"><a href="/Yumioffer/show/id/53302.html" target="_blank" >销售</a></p>
                          </li><li>
                            <p class="tit_1of3"><a href="/Yumioffer/index/c_id/2565.html" target="_blank" >德阳市</a></p>
                            <p class="tit_2of3"><a href="/Yumioffer/show/id/53300.html" target="_blank" >2180</a></p>
                            <p class="tit_3of3"><a href="/Yumioffer/show/id/53300.html" target="_blank" >购买</a></p>
                          </li>                            
                        </ul>
                    </div>
                </div>
            </div>

            <li>
              <p id="infoPub_picb"><a href="/Member/index.html" target="_blank"><img src="/yumi-images/index_0box.gif" width="136" height="33" /></a></p>
              
            </li>
          </ul>
        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
          <div class="box-w mt30">
        <div class="hd">
          <h2><a href="http://zs.ef360.com/" target="_blank">服装品牌招商</a></h2>
          <div class="sub"><a href="http://zs.ef360.com/" target="_blank">更多</a></div>
        </div>
        <div class="bd">
          <ul class="zs-txt clearfix">
            
            <li><a href="http://zs.ef360.com/Items/soumei/" target="_blank" style="color:"><i class="icon-vip"></i>搜美掌上智能服装超市</a></li>
            
            <li><a href="http://zs.ef360.com/Items/edkids/" target="_blank" style="color:blue"><i class="icon-vip"></i>E-DONE(伊顿风尚童装)</a></li>
            
            <li><a href="http://zs.ef360.com/Items/bodibody/" target="_blank" style="color:">芭蒂欧无痕内裤专家</a></li>
            
            <li><a href="http://zs.ef360.com/items/xiaolingdang/" target="_blank" style="color:">小铃铛童装开启互联网+的财富热潮</a></li>
            
            <li><a href="http://zs.ef360.com/items/rbigx/" target="_blank" style="color:"><i class="icon-vip"></i>贵族的选择 轻奢童装品牌瑞比克</a></li>
            
            <li><a href="http://zs.ef360.com/Items/xiabushi/" target="_blank" style="color:goldenrod"><i class="icon-vip"></i>国际品牌 暇步士中高档休闲童装</a></li>
            
            <li><a href="http://zs.ef360.com/Items/guimi/" target="_blank" style="color:"><i class="icon-vip"></i>闺秘内衣加盟势头足</a></li>
            
            <li><a href="http://zs.ef360.com/Items/eluuni/" target="_blank" style="color:"><i class="icon-vip"></i>依路佑妮 开1店送2店</a></li>
            
            <li><a href="http://zs.ef360.com/Items/qgmy/" target="_blank" style="color:"><i class="icon-vip"></i>亲闺密语原生态健康内衣</a></li>
            
            <li><a href="http://zs.ef360.com/Items/thj/" target="_blank" style="color:">桃花季内衣诚邀加盟商</a></li>
            
            <li><a href="http://zs.ef360.com/Items/shes/" target="_blank" style="color:red"><i class="icon-vip"></i>she's茜子欧洲白领配饰</a></li>
            
            <li><a href="http://zs.ef360.com/Items/Yosum/" target="_blank" style="color:"><i class="icon-vip"></i>YOSUM衣诗漫女装火热招商</a></li>
            
            <li><a href="http://zs.ef360.com/items/dins/" target="_blank" style="color:blue"><i class="icon-vip"></i>底色女装加盟邀您共享</a></li>
            
            <li><a href="http://zs.ef360.com/Items/CHIHIRO/" target="_blank" style="color:red">CHIHIRO BY S.K.诚邀加盟</a></li>
            
            <li><a href="http://zs.ef360.com/Items/Banjilu/" target="_blank" style="color:green"><i class="icon-vip"></i>始于1998 班吉鹿邀您共享童装财富</a></li>
            
            <li><a href="http://zs.ef360.com/items/niessing/" target="_blank" style="color:"><i class="icon-vip"></i>时尚潮牌童装尼辛加盟</a></li>
            
            <li><a href="http://zs.ef360.com/Items/sznr100/" target="_blank" style="color:black"><i class="icon-vip"></i>100%女人内衣加盟开启</a></li>
            
            <li><a href="http://zs.ef360.com/items/sunei/" target="_blank" style="color:">苏内之家内衣诚邀加盟</a></li>
            
            <li><a href="http://zs.ef360.com/Items/xiaoluqinqin/" target="_blank" style="color:"><i class="icon-vip"></i>小鹿亲亲原创设计童装</a></li>
            
            <li><a href="http://zs.ef360.com/Items/TARGUO/" target="_blank" style="color:black"><i class="icon-vip"></i>它钴全国优势加盟男装品牌</a></li>
            
          </ul>
        </div>
      </div>
        <script type="text/javascript">
 
         
        </script>
	    <script src="__PUBLIC__/Home/lib/bootstrap4/popper.js"></script>
        <script src="__PUBLIC__/Home/lib/bootstrap4/bootstrap.min.js"></script>