	    <!-- Main Navigation -->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/plugins/vanilla-js-carousel.css">
    <nav class="main_nav">
      <div class="container">
        <div class="row">
          <div class="col">
            
            <div class="main_nav_content d-flex flex-row">
              <!-- Main Nav Menu -->
              <div class="main_nav_menu">
                <ul class="standard_dropdown main_nav_dropdown">
                  <li><a href="#">首页<i class="fas fa-chevron-down"></i></a></li>
                  <foreach name="navlist" item="navlist" key="k">
	                  <li class="hassubs">
	                    <a href="{:U($navlist['jump_url'])}">{$navlist['name']}<i class="fas fa-chevron-down"></i></a>
	                  </li>
                  </foreach>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>

<!-- Banner -->

  <div class="banner">
  	
    <div class="banner_background" style="background-color:#f3f3f3">
    	<div class="js-Carousel" id="carousel" style="height:350px;">
    		<ul>
    		<foreach name="bannerlist" item="item" key="k">
    			<li>{$item['src']}</li>
    		</foreach>
    		</ul>
    	</div>
    </div> 
  </div>
	<div class="deals_featured">
		<div class="container">
			<div class="row">
				<div class="col d-flex flex-lg-row flex-column align-items-center justify-content-start">
					<!-- Deals -->
					<div class="deals" style="height:403px;">
						<div class="deals_title">一周内排行</div>
						<div class="deals_slider_container" id="slider_container_1">
							<div class="js-Carousel" id="carousel_2" style="width:300px;background:#fff;opacity:0.9;">
					    		<ul style="z-index:50">
					    		<foreach name="index_weeklist_item" item="item" key="k">
					    			<li style="width:300px;"><img src="/myproject/imgs/index/201805141320292249.jpg" alt="">
					    			<span style="display:inline-block;height:40px;overflow:hidden;">	
					    				<a href="{:U('content/week','id='.$k)}">{$item['title']}</a>
					    			</span>
					    			</li>
					    		</foreach>
					    		</ul>
					    	</div>
						</div>
					</div>
					<!-- Deals -->
					<div class="deals" style="height:403px;">
						<div class="deals_title">头条</div>
						<div class="deals_slider_container" id="slider_container_1">
							<div style="width:300px;background:#fff;opacity:0.9;">
					    		<ul style="z-index:50" >
									<foreach name="toutiaolist" item="list" key="k">	
						          	<li><a href="{:U('content/toutiao','id='.$k)}">{$list['title']}</a></li>
						        </foreach>  
						        </ul>
					    	</div>
						</div>
					</div>
					<!-- Deals -->
					<!-- Deals -->
					<div class="deals" style="height:403px;">
						<div class="deals_title">行业观察</div>
						<div class="deals_slider_container" id="slider_container_1">
							<div style="width:300px;background:#fff;opacity:0.9;">
					    		<ul style="z-index:50" >
									<foreach name="hygclist" item="list" key="k">	
									    <li><a href="{:U('content/hygc','id='.$k)}">{$list['text']}</a></li>
									</foreach>
						        </ul>
					    	</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<style>
		.col-lg-3{
			/*max-width:24% !important*/
		}
		.mid ul.mid-1 li, .focus-ad-box .mid ul.mid-2 li {
		    width: 31.333333%;
		    margin-left: 2%;
		    float: left;
		}
		.mid ul.mid-1 li, .focus-ad-box .mid ul.mid-2 li {
		    width: 31.333333%;
		    margin-left: 2%;
		    float: left;
		}
		.focus-ad-pic li {
		    height: 80px;
		    position: relative;
		    overflow: hidden;
		}
		.focus-ad-box {
		    border: 2px solid #7aaf1c;
		    margin-left: 10px;
    		margin-right: 10px;
		}
	</style>
	<div class="container">
			<!-- <div class="viewed_title_container">
				<h3 class="viewed_title">招商</h3>
			</div> -->
		<div class="row" style="margin-left:10px;margin-right:10px;">
			<img src="/myproject/imgs/index/guanggao1.jpg" alt="" style="width:1120px;">
		</div>
	</div>
	<!-- 招商 -->
	<div class="container">
		<div class="row">
			<!-- Char. Item -->
			<div class="col-lg-3 col-md-6 char_col">
				
				<div class="char_item d-flex flex-row align-items-center justify-content-start">
					<div class="char_icon">
						<a href="/myproject/business/application.php" target="_blank" class="ef360_ad" data-adcode="banner-240-60-1000_4"><img src="/myproject/imgs/jinnong/bb.jpg" width="240" height="80"></a>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 char_col">
				
				<div class="char_item d-flex flex-row align-items-center justify-content-start">
					<div class="char_icon">
						<a href="{:U('/zhaoshang/list','id=1')}" target="_blank" class="ef360_ad" data-adcode="banner-240-60-1000_4"><img src="/myproject/imgs/jinnong/1.gif" width="240" height="80"></a>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 char_col">
				
				<div class="char_item d-flex flex-row align-items-center justify-content-start">
					<div class="char_icon">
						<a href="{:U('/zhaoshang/list','id=2')}" target="_blank" class="ef360_ad" data-adcode="banner-240-60-1000_4"><img src="/myproject/imgs/jinnong/mq.gif" width="240" height="80"></a>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 char_col">
				
				<div class="char_item d-flex flex-row align-items-center justify-content-start">
					<div class="char_icon">
						<a href="{:U('/zhaoshang/list','id=3')}" target="_blank" class="ef360_ad" data-adcode="banner-240-60-1000_4"><img src="/myproject/imgs/jinnong/c.gif" width="240" height="80"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
			<!-- <div class="viewed_title_container">
				<h3 class="viewed_title">品牌</h3>
			</div> -->
			<div class="row focus-ad-box">
				<div class="col-md-3 mb">
	                <div class="weather pn">
	                  	<div class="lft" style="float:left;line-height:32px;margin-left:27px;">
				          <ul>
				            
				            <li><a href="{:U('branch/list')}">欧玥女装2018春季新品</a></li>
				            
				            <li><a href="http://zs.ef360.com/items/xiaolingdang/" target="_blank">智能童装领导者小铃铛</a></li>
				            
				            <li><a href="http://zs.ef360.com/Items/mengdukids/" target="_blank">萌度小童邀您加盟！</a></li>
				            
				            <li><a href="http://brand.ef360.com/11797/" target="_blank">桃花季内衣加盟万元起步</a></li>
				            
				            <li><a href="http://zs.ef360.com/Items/guimi/" target="_blank">消费者青睐的闺秘内衣</a></li>
				            
				          </ul>
				        </div>
	                </div>
              	</div>

				<!-- Char. Item -->
				<div class="col-md-6 mb">
	                <div class="message-p pn">
	                  <div class="message-header">
	                    <h5>DIRECT MESSAGE</h5>
	                  </div>
	                  <div class="row">
	                    <div class="mid">
				          <ul class="mid-1 clearfix">
				            
				            <li><a href="http://zs.ef360.com/Items/hokabr/" target="_blank">源自巴黎轻奢女装红凯贝尔</a></li>
				            
				            <li><a href="http://brand.ef360.com/102682/" target="_blank">依路佑妮女装开1店送2店</a></li>
				            
				            <li><a href="http://zs.ef360.com/Items/Loucymiel/" target="_blank">路西·米儿童装品牌招商</a></li>
				            
				          </ul>
				          <div class="focus-ad mid-3 clearfix">
				            <ul class="focus-ad-pic cont">
				              
				              <li><i class="icon-ad-tip2"></i><a href="http://fashion.ef360.com/Articles/2018-10-19/176709.html" target="_blank" class="ef360_ad" data-adcode="index_FocusPic_580_80_1"><img src="http://img.ef360.com/EditManager/FileCustomer/news/201810/201810210137094564_580x80.jpg" width="580" height="80" alt="YING CHOI 2019S上海时装周GALALAND大秀"></a></li>
				            
				            </ul>
				          </div>
				          <ul class="mid-2 clearfix">
				            
				            <li><a href="http://zs.ef360.com/Items/Yosum/" target="_blank">YOSUM衣诗漫女装诚邀加盟</a></li>
				            
				            <li><a href="http://zs.ef360.com/items/dins/" target="_blank"><b>棉麻文艺女装--底色</b></a></li>
				            
				            <li><a href="http://zs.ef360.com/Items/jiemilandi/" target="_blank">快时尚童装品牌杰米兰帝</a></li>
				            
				          </ul>
				        </div>
	                  </div>
	                </div>
	                <!-- /Message Panel-->
	             </div>


				<!-- Char. Item -->
				<div class="col-md-3 mb">
	                <div class="weather pn">
	                  	<div class="rft" style="float:left;line-height:32px;margin-left:27px">
				          <ul>
				            
				            <li><a href="http://product.ef360.com/album-103371/" target="_blank">欧玥女装2018春季新品</a></li>
				            
				            <li><a href="http://zs.ef360.com/items/xiaolingdang/" target="_blank">智能童装领导者小铃铛</a></li>
				            
				            <li><a href="http://zs.ef360.com/Items/mengdukids/" target="_blank">萌度小童邀您加盟！</a></li>
				            
				            <li><a href="http://brand.ef360.com/11797/" target="_blank">桃花季内衣加盟万元起步</a></li>
				            
				            <li><a href="http://zs.ef360.com/Items/guimi/" target="_blank">消费者青睐的闺秘内衣</a></li>
				            
				          </ul>
				        </div>
	                </div>
              	</div>
			</div>
	</div>
	<style>	
		.custom-box{
			padding-top:20px;
		}

		.table td, .table th {
    		padding: .75rem;
    		vertical-align: top;
    		border-top: 0px solid #e9ecef
		}; 
	</style>
	<div class="container">
		
		<div class="row">
          <div class="col-lg-12">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="float:left">
            	<div class="custom-box">
	                <div class="content-panel">
	              		<h4><i class="fa fa-angle-right"></i>玉米价格</h4>
	              		<hr>
			              <table class="table">
			                <tbody>
			                	<foreach name="yumi_index_item" item="item" key="k">
			                  		<tr>
										<td><a href="{$item['link']}">{$item['title']}</a></td>
			                  		</tr>
			                  	</foreach>
			                </tbody>
			              </table>
	            	</div>
	              </div>
              <!-- end custombox -->
            </div>
            <!-- end col-4 -->
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="float:left">
                <div class="custom-box">
	                <div class="content-panel">
	              		<h4><i class="fa fa-angle-right"></i>大米价格</h4>
	              		<hr>
			             <table class="table">
			                <tbody>
			                	<foreach name="dami_index_item" item="item" key="k">
			                  		<tr>
										<td><a href="{$item['link']}">{$item['title']}</a></td>
			                  		</tr>
			                  	</foreach>
			                </tbody>
			            </table>
	            	</div>
	              </div>
              <!-- end custombox -->
            </div>
            <!-- end col-4 -->
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="float:left">
            	<div class="custom-box">
	                <div class="content-panel">
	              		<h4><i class="fa fa-angle-right"></i>猪肉价格</h4>
	              		<hr>
			              <table class="table">
			                	<foreach name="zhu_index_item" item="item" key="k">
			                  		<tr>
										<td><a href="{$item['link']}">{$item['title']}</a></td>
			                  		</tr>
			                  	</foreach>
			              </table>
	            	</div>
	              </div>  
              <!-- end custombox -->
            </div>
            <!-- end col-4 -->
          </div>
          <!--  /col-lg-12 -->
        </div>
	</div>
	<include file='Template:footer' />
	<script type="text/javascript" src="__PUBLIC__/Home/scripts/pc/index_com.js" init="pc/index"></script>