@charset "UTF-8";
@import '../base/utils';
@import '../base/reset';
@import '../base/grid';
@import '../inc/ui';
@import '../mod/dialog';
@import '../inc/site-nav';
@import '../inc/header';
@import '../inc/member-header';
@import '../inc/footer';
@import '../mod/animate';
@import '../mod/cardimg';
@import '../mod/asidelist';
@import '../mod/bind';
@import '../mod/floatlayer';
@import '../mod/activity';
iframe{
	overflow-x:hidden;
	overflow-y:hidden;
}
.mod-actor-summary{
  .infobox{
	.img{
	  margin-left: auto;
	}
	.uname{
	  text-align: center;
	}
  }
}
