@charset "UTF-8";
@import '../base/utils';
@import '../base/reset';
@import '../base/grid';
@import '../inc/ui';
@import '../inc/site-nav-ty';
@import '../inc/header';
@import '../inc/header-ty';
@import '../inc/footer';
@import '../mod/dialog';
@import '../inc/jianghujiuji';   // 江湖救急
@import '../mod/bind';
@import '../mod/floatlayer';

html{
  background-color: #f8f8f8;
}
.page_section{
  padding-bottom: 0;
}
.content-hd-bg{
  padding-top: 20px;
  height: 273px;
  background-image: url(/styles/images/club/index-bg.jpg);
  background-position: center;
  @include ratioBackground($url:'/styles/images/club/index-bg-2x.jpg', $size: 1920px 340px, $x: center, $y: center );
}
.content-hd{
  height: 233px;
}
.person{
  height: 203px;
  padding: 30px 20px 0;
  width: 245px;
  margin-right: 20px;
  float: left;
  background-color: #fff;
  -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 0 15px rgba(0,0,0,0.1);
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}
.person-hd{
  width: 228px;
  margin: 0 auto;
}
.person-hd-img-box{
  width: 80px;
  height: 80px;
  border: 1px solid #e8e8e8;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin-right: 10px;
  float: left;
  overflow: hidden;
}


.person-hd-img{
  height: 80px;
  width: 80px;

}
.person-hd-right{
  float: left;
}
.person-name{
  display: block;
  line-height: 52px;
  font-size: 16px;
  color: #333;
  max-width: 135px;
  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
}
.person-link{
  display: block;
  position: relative;
  line-height: 18px;
  font-size: 12px;
  color: #0098ed;
  padding-right: 10px;
  float: left;
}
.person-link-icon{
  position: absolute;
  display: block;
  width: 6px;
  height: 8px;
  background-image: url(/styles/images/club/club-icon.png);
  background-position: -175px -75px;
  @include ratioBackground($url:'/styles/images/club/club-icon-2x.png', $size: 500px 500px, $x:-175px, $y:-75px);
  top: 6px;
  right: 0;

}
.person-info{
  height: 50px;
  width: 240px;
  margin: 42px auto 0;
  background-color: #f0f1f1;
  overflow: hidden;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.vip-level-icon{
  display: block;
  float: left;
  height: 27px;
  width: 67px;
  margin: 11px 0 0 16px;
}


.person-info-score{
  display: block;
  float: left;
  margin: 17px 0 0 10px;
  height: 19px;
  line-height: 19px;
  font-size: 12px;
  color: #fff;
  padding: 0 11px;
  background-color: #0098ed;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.person-info-go{
  display: block;
  float: right;
  width: 41px;
  height: 50px;
  background-color: #0098ed;
}
.person-info-go-icon{
  display: block;
  float: left;
  height: 23px;
  width: 13px;
  margin: 13.5px 0 0 15px;
  background-image: url(/styles/images/club/club-icon.png);
  background-position: -175px 0;
  @include ratioBackground($url:'/styles/images/club/club-icon-2x.png', $size: 500px 500px, $x:-175px, $y:0px);
}

.person-hd-unlogin{
  height: 80px;
  width: 80px;
  margin: 0 auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-image: url(/styles/images/club/unlogin.png);
  background-repeat: no-repeat;
  background-size: 38px 32px;
  background-color: #f0f1f1;
  background-position: center;
  @include ratioBackground($bgcolor : #f0f1f1,$url:'/styles/images/club/unlogin-2x.png', $size: 38px 32px, $x:center, $y:center);
}
.person-unlogin-tips{
  display: block;
  line-height: 14px;
  height: 14px;
  color: #666;
  text-align: center;
  font-size: 14px
}
.person-unlogin-btn{
  display: block;
  height: 40px;
  line-height:40px;
  width: 115px;
  text-align: center;
  font-size: 14px;
  background-color: #0098ec;
  color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
  transition: all .2s ease-out;
  margin: 28px auto 15px;
}
.person-unlogin-btn:hover{
  text-decoration: none;
  background-color: #0079c3;
}

/* 入口列表 start */
.enter-list-wrap{
  float: left;
  width: 590px;
  height: 233px;
  margin-right: 20px;
  background-color: #e8e8e8;
  overflow: hidden;
  -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 0 15px rgba(0,0,0,0.1);
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}
.enter-list{
  height: 234px;
  width: 591px;
}
.enter-item{
  display: block;
  float: left;
  width: 196px;
  height: 116px;
  background-color: #fff;
  transition: background-color .2s ease-out;
  cursor: pointer;
  margin: 0 1px 1px 0;
  position: relative;
  .fljb {
    height: 116px;
    width: 196px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(/styles/images/club/fljb.png);
    background-repeat: no-repeat;
    @include ratioBackground($url:'/styles/images/club/fljb2.png', $size: 70px 70px, $x:-0px, $y:0px);
    z-index: 20;
  }
}
.enter-yuyue {
  position: relative;
  .enter-yuyue-icon {
      height: 70px;
      width: 70px;
      position: absolute;
      left: 0px;
      top: 0px;
      background-image: url(/styles/images/club/club-icon.png?v=20171225);
      background-position: -150px -150px;
      @include ratioBackground($url:'/styles/images/club/club-icon-2x.png?v=20171225', $size: 500px 500px, $x:-150px, $y:-150px);

  }
}
.enter-item:hover{
  background-color: #fafafa;
  text-decoration: none;
}
//.enter-item-jqqd{
//  cursor: default;
//}
//.enter-item-jqqd:hover{
//  background-color: #fff;
//}
//.enter-item-jqqd .enter-title{
//  color: #999;
//}
.enter-icon{
  display: block;
  height: 47px;
  width: 47px;
  margin: 27px auto 0;
}
.enter-icon-lczt{
  background-image: url(/styles/images/club/club-icon.png?v=20171225);
  background-position: -75px -100px;
  @include ratioBackground($url:'/styles/images/club/club-icon-2x.png?v=20171225', $size: 500px 500px, $x:-75px, $y:-100px);
}
.enter-icon-flhb{
  background-image: url(/styles/images/club/club-icon.png?v=20171225);
  background-position: -125px -100px;
  @include ratioBackground($url:'/styles/images/club/club-icon-2x.png?v=20171225', $size: 500px 500px, $x:-125px, $y:-100px);
}
.enter-icon-wylq{
  background-image: url(/styles/images/club/club-icon.png?v=20171225);
  background-position: -175px -100px;
  @include ratioBackground($url:'/styles/images/club/club-icon-2x.png?v=20171225', $size: 500px 500px, $x:-175px, $y:-100px);
}
.enter-icon-jfsc{
  background-image: url(/styles/images/club/club-icon.png?v=20171225);
  background-position: -225px -100px;
  @include ratioBackground($url:'/styles/images/club/club-icon-2x.png?v=20171225', $size: 500px 500px, $x:-225px, $y:-100px);
}
.enter-icon-jchd{
  background-image: url(/styles/images/club/club-icon.png?v=20171225);
  background-position: -275px -100px;
  @include ratioBackground($url:'/styles/images/club/club-icon-2x.png?v=20171225', $size: 500px 500px, $x:-275px, $y:-100px);
}

.enter-icon-jqqd {
  background: url(/styles/images/club/club-icon.png?v=20171225) no-repeat center center;
  background-position: -325px -100px;
  @include ratioBackground($url:'/styles/images/club/club-icon-2x.png?v=20171225', $size: 500px 500px, $x:-325px, $y:-100px);
}

.enter-icon-flr{
  background: url(/styles/images/topic/welfare/pc/18-icon.png?v=20171225) no-repeat center center;
  @include ratioBackground($url:'/styles/images/topic/welfare/pc/18-icon-2x.png?v=20171225', $size: 75px 56px, $x:center, $y:center);
}
.enter-title{
  display: block;
  height: 34px;
  line-height: 34px;
  font-size: 14px;
  color: #333;
  text-align: center;
}
/* 入口列表 end */








/* 签到 start */

.sign-box{
  float: left;
  height: 224px;
  width: 245px;
  padding: 6px 20px 0;
  border-top: 3px solid #ff3141;
  background-color: #fff;
  -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 0 15px rgba(0,0,0,0.1);
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.sign-title-box{
  height: 38px;
  line-height: 38px;

}
.sing-title-word{
  display: block;
  float: left;
  height: 16px;
  line-height: 16px;
  font-size: 16px;
  border-left: 3px solid #ff3141;
  padding-left: 9px;
  font-weight: bold;
  margin-top: 11px;
}
.sign-tips{
  display: block;
  height: 20px;
  line-height: 20px;
  color: #989898;
  font-size: 14px;
  text-align: center;
  margin-bottom: 10px;
}
.accumulative-total-wrap{
  display: block;
  text-align: center;
  height: 40px;
  line-height: 40px;
  font-size: 50px;
  font-weight: bold;
}
.accumulative-total-small{
  font-weight: normal;
  font-size: 18px;
}
.sign-btn{
  display: block;
  height: 36px;
  width: 90px;
  margin: 20px auto 0;
  line-height: 36px;
  font-size: 16px;
  text-align: center;
  background-color: #ff3141;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.sign-btn:hover{
  text-decoration: none;
}

.sing-info-enter-wrap{
  text-align: center;
}
.sign-info-enter{
  position: relative;
  display: inline-block;
  line-height: 20px;
  height: 20px;
  font-size: 12px;
  color: #989898;
  padding-right: 10px;
  margin: 12px auto 0;
  cursor: pointer;
}
.sign-info-enter-icon{
  position: absolute;
  display: block;
  height: 9px;
  width: 5px;
  top: 6px;
  right: 0;
  background-image: url(/styles/images/club/club-icon.png);
  background-position: -175px -50px;
  @include ratioBackground($url:'/styles/images/club/club-icon-2x.png', $size: 500px 500px, $x:-175px, $y:-50px);
}
/* 签到 end */



/* 大标题 start */

.section-title{
  height: 38px;
  line-height: 38px;
  padding-top: 10px;
}
.section-title-left{
  float: left;
}
.section-title-right{
  float: right;
}
.section-title-word{
  display: block;
  height: 18px;
  line-height: 18px;
  border-left: 3px solid #ff3141;
  padding-left: 10px;
  margin-top: 10px;
}
.section-title-more{
  display: block;
  position: relative;
  height: 38px;
  padding-right: 9px;
  font-size: 12px;
  color: #666;

}
.section-title-more-icon{
  position: absolute;
  display: block;
  height: 9px;
  width: 5px;
  top: 14.5px;
  right: 0;
  background-image: url(/styles/images/club/club-icon.png);
  background-position: -175px -50px;
  @include ratioBackground($url:'/styles/images/club/club-icon-2x.png', $size: 500px 500px, $x:-175px, $y:-50px);
}





.mod-title{
  padding: 24px 0 20px 0;
}
.mod-title-top{
  height: 66px;
  line-height: 66px;
}
.left-line,.right-line{
  float: left;
  width: 150px;
  height: 2px;
  margin-top: 32px;
  background-color: #000;
}
.left-line{
  margin-left: 370px;
}
.mod-title-word{
  float: left;
  width: 162px;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  color: #333;
}
.mod-title-more{
  position: relative;
  display: block;
  height: 24px;
  line-height: 25px;
  width: 50px;
  color: #ff3141;
  font-size: 12px;
  padding: 0 37px 0 27px;
  border: 1px solid #ff3141;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
  margin: 0 auto;
  transition: all .2s ease-out;
}
.more-icon{
  position: absolute;
  top: 8px;
  right: 25px;
  width: 8px;
  height: 9px;
  background-image: url(/styles/images/club/club-icon.png);
  background-position: -100px 0;
  @include ratioBackground($url:'/styles/images/club/club-icon-2x.png', $size: 500px 500px, $x:-100px, $y:0px);
}
.mod-title-more:hover{
  text-decoration: none;
  background-color: #ff3141;
  color: #fff;
}
.mod-title-more:hover .more-icon{
  background-image: url(/styles/images/club/club-icon.png);
  background-position: -125px 0;
  @include ratioBackground($url:'/styles/images/club/club-icon-2x.png', $size: 500px 500px, $x:-125px, $y:0px);
}
/* 大标题 end */

/* section 标题 start */
.section-title{
  height: 38px;
  line-height: 38px;

}

/* section 标题 start */



.section-content{
  padding-bottom:43px;
}
.events-list{
  width: 1220px;
}
.events-item{
  width: 285px;
  float: left;
  margin: 0 20px 0 0;
}
.events-link{
  position: relative;
  display: block;
  top: 0;
  color: #333;
  font-size: 16px;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.1);
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  transition: all .2s ease-out;
}
.events-link:hover{
  text-decoration: none;
  top: -4px;
  -webkit-box-shadow: 0 2px 15px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 2px 15px rgba(0,0,0,0.2);
  box-shadow: 0 2px 15px rgba(0,0,0,0.2);
}
.events-img{
  display: block;
  width: 285px;
  height: 200px;
}

.events-info{
  height: 100px;
  background-color: #fff;
}
.events-title{
  display: block;
  padding-top: 20px;
  width: 240px;
  height: 18px;
  line-height: 18px;
  margin: 0 auto 18px;
  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
}
.events-time{
  width: 240px;
  margin: 0 auto;
}
.events-time-icon{
  display: block;
  float: left;
  height: 13px;
  width: 13px;
  margin: 6px 6px 0 0;
  background-image: url(/styles/images/club/club-icon.png);
  background-position: -150px 0;
  @include ratioBackground($url:'/styles/images/club/club-icon-2x.png', $size: 500px 500px, $x:-150px, $y:0px);

}
.events-time-word{
  display: block;
  float: left;
  margin-top: 6px;
  height: 14px;
  line-height:14px;
  font-size: 12px;
  color: #999;
}
.events-time-type{
  display: block;
  float: right;
  width: 63px;
  height: 19px;
  border: 1px solid #999;
  text-align: center;
  font-size: 12px;
  line-height: 19px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
}
.events-time-type.doing{
  background-color: #ff3141;
  color: #fff;
  border-color: #ff3141;
}
.events-time-type.done{
  background-color: #fff;
  color: #999;
  border-color: #999;
}


/* 商品列表 start */
.shop-list{
  width: 1220px;
}
.shop-item{
  float: left;
  margin: 0 20px 0 0;
  width: 285px;
}
.shop-item:hover{
  text-decoration: none;
}
.shop-item-wrap{
  background-color: #fff;
  position: relative;
  display: block;
  padding: 20px 0 30px;
  top: 0;
  color: #333;
  font-size: 16px;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.1);
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  transition: all .2s ease-out;
}
.shop-item-wrap:hover{
  text-decoration: none;
  top: -4px;
  -webkit-box-shadow: 0 2px 15px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 2px 15px rgba(0,0,0,0.2);
  box-shadow: 0 2px 15px rgba(0,0,0,0.2);
}
.shop-item-wrap:hover .shop-btn{
  background:#ff3141;
  color:#fff;
  text-decoration:none;
}
.shop-img{
  display: block;
  height: 170px;
  width: 170px;
  margin: 20px auto;
}
.shop-title{
  display: block;
  margin: 0 auto;
  width: 240px;
  height: 26px;
  line-height: 26px;
  font-size: 16px;
  color: #333;
  font-weight: bold;
  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
  text-align: center;
}
.shop-score{
  display: block;
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  color: #ff3141;
  text-align: center;
}
.shop-btn{
  display: block;
  margin: 5px auto 0;
  width:188px;
  height:38px;
  line-height: 38px;
  color: #666;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  border: 1px solid #ececec;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  transition: all .2s ease-out;
}

/* 商品列表 end */

/* 平台 start */
.plant-list{
  top: 0;
  left: 0;
  width: 1220px;
  height: 100%;
}
.plant-item-wrap{
  margin: 0 20px 0 0;
  float: left;
}
.plant-item{
  width: 285px;
  padding: 25px 0 35px;
  background: #fff;
  position: relative;
  text-align: center;
  top: 0;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.1);
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  transition: all .2s ease-out;
  &:hover{
    text-decoration: none;
    top: -4px;
    -webkit-box-shadow: 0 2px 15px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 2px 15px rgba(0,0,0,0.2);
    box-shadow: 0 2px 15px rgba(0,0,0,0.2);
    .btn{
      text-decoration: none;
      background-color: #ff3141;
      color: #fff;
    }
  }
  .putaway-icon{
    position: absolute;
    top: 0;
    left: 0;
    width: 90px;
    height: 90px;
    display: block;
  }
  .title{
    a {
      line-height: 50px;
      text-align: center;
      display: block;
      img{
        height: 50px;
        vertical-align: middle;
      }
    }
  }
  .message{
    text-align: center;
    margin-top: 12px;
    margin-bottom: 20px;
    span{
      display: inline-block;
      position: relative;
      padding: 0 5px;
      height: 19px;
      line-height: 20px;
      color: #999;
      font-size: 12px;
      border: 1px solid #ccc;
      margin-right: 4px;
      border-radius: 4px;
      background: #fff;
    }
  }
  .desc{
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: #999999;
    margin-bottom: 20px;
  }
  .total-txt{
    font-size: 14px;
    color: #333333;
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
    .total-txt-b{
      font-size: 16px;
      font-weight: bold;
    }
  }
  .total{
    display: block;
    height: 60px;
    font-size: 60px;
    line-height: 60px;
    font-weight: bold;
    background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(#fe7213), to(#fc3f38));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: -2px;
    color: #ff3141;
    position: relative;
    .atr{
      margin-left: 3px;
      font-size: 20px;
      background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(#fe7213), to(#fc3f38));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      color: #ff3141;
    }
    .add{
      font-size: 12px;
      color: #fff;
      display: block;
      background: #1ca51c;
      padding: 4px 5px;
      position: absolute;
      right: 55px;
      -webkit-text-fill-color: #fff;
    }
  }
  .detail{
    height: 19px;
    line-height: 19px;
    border: 1px solid #e8e8e8;
    margin: auto;
    margin-top: 23px;
    font-size: 12px;
    color: #999999;
    padding: 0 13px;
    display: inline-block;
  }
  .btn{
    display: block;
    margin: 0 auto;
    width: 188px;
    height: 38px;
    line-height: 38px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 14px;
    color: #666;
    border: 1px solid #ececec;
    background-color: #fff;
    cursor: pointer;
    transition: all .2s ease-out;
    &:hover{
      text-decoration: none;
      background-color: #ff3141;
      color: #fff;
    }
  }
  .day_money{
    display: block\9;
    position: relative;
    //width: 210px;
    width: 80%;
    margin: auto;
    margin-top: 29px;
    @include clearfix;
    font-size: 16px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out; /* Firefox 4 */
    -webkit-transition: all .5s ease-in-out; /* Safari 和 Chrome */
    -o-transition: all .5s ease-in-out; /* Opera */
    z-index: 1;
    .day{
      height: 45px;
      line-height: 45px;
      border-top: 2px solid #f2f2f2;
      color: #666;
    }
    .left{
      float: left;
      width: 50%;
    }
    .right{
      width: 50%;
      float: right;
    }
    .virtical_line{
      position: absolute;
      width: 0;
      height: 100%;
      top: 0;
      left: 50%;
      border-left: 1px solid #e8e8e8;
    }
    .top{
      height: 1em;
      line-height: 1em;
      font-size: 12px;
      color: #818181;
    }
    .bottom{
      margin-top: 0.625em;
      height: 1.25em;
      line-height: 1.25em;
      font-size: 1.0625em;
      color: #383838;
    }
  }
  &:hover{
    .btn{
      bottom: 15px;
      display: block\9;
    }
    .day_money{
      display: none\9;
      transform: scale(0);
      -moz-transform: scale(0);
      -webkit-transform: scale(0);
      -o-transform: scale(0);
      //margin-top: 15px;
    }
  }
}

/* 平台 end */
/*returnrecord start*/
.returnrecord-list {
  width:1220px;
  .returnrecord-item {
    width:305px;
    position: relative;
    em{
      display: inline-block;
      height: 250px;
      width:285px;
      position: absolute;
      left: 0px;
      top: 0px;
      background-image: url(/styles/images/club/fljb.png);
      background-repeat: no-repeat;
      @include ratioBackground($url:'/styles/images/club/fljb2.png', $size: 70px 70px, $x:-0px, $y:0px);
      z-index: 20;
    }
  }
  .returnrecord-item-wrap {
    display: block;
    width:285px;
    height:250px;
    text-align:center;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.1);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background:#fff;
    position: relative;
    top: 0;
    transition: all .2s ease-out;
    &:hover{
      text-decoration: none;
      top: -4px;
      -webkit-box-shadow: 0 2px 15px rgba(0,0,0,0.2);
      -moz-box-shadow: 0 2px 15px rgba(0,0,0,0.2);
      box-shadow: 0 2px 15px rgba(0,0,0,0.2);
      .returnrecord-link {
        padding-top:30px;
        span {
          background:#ff3141;
          color:#fff;
          text-decoration:none;
        }
      }
    }
  }
  .returnrecord-platneme {
    font-size:16px;
    color:#333;
    line-height:36px;
    font-weight:bold;
    padding:20px 0px 0px;
  }
  .returnrecord-crash {
    font-size:34px;
    line-height:68px;
    color:#ff3141;
    span {
      font-weight:bold;
    }
  }
  .returnrecord-desc {
    font-size:12px;
    color:#666;
    display:inline-block;
    line-height:24px;
    padding:0px 16px;
    border-radius:24px;
    background:#f0f1f1;
    span {
      color:#ff3141;
    }
  }
  .returnrecord-link {
    padding-top:30px;
    span {
      display:inline-block;
      width:188px;
      height:38px;
      border:1px solid #ececec;
      border-radius:3px;
      font-size:14px;
      color:#666;
      line-height:38px;
      transition: all .2s ease-out;
    }
  }
  .returnrecord-cover {
    width:100%;
    height:100%;
    background:url("/styles/images/club/returnrecord_cover.png")  top center no-repeat;
    @include ratioBackground($url:'/styles/images/club/returnrecord_cover_2x.png', $size: 285px 250.5px, $x: center, $y: top );
  }
  .returnrecord-cover-text {
    font-size:12px;
    color:#999;
    padding:160px 0px 0px;
  }
}
/*returnrecord end*/


/* 签到 start */
.ajaxprocess {
  position: fixed;
  width:100%;
  height:100%;
  top:0px;
  left: 0px;
  z-index: 1000;
  .ajaxprocess-mask {
    width:100%;
    height:100%;
    background: #000;
    @include opacity(0.8);
  }
  .ajaxprocess-main {
    width:330px;
    height:450px;
    text-align: center;
    background: #fff;
    position: absolute;
    top:50%;
    left: 50%;
    margin-left: -165px;
    margin-top:-225px;
  }
  .pd-tp39 {
    padding-top:39px;
  }
  .pd-tp50 {
    padding-top:50px;
  }
  //公用的关闭start
  .ajaxprocess-close {
    line-height: 16px;
    position:absolute;
    font-size: 30px;
    color: #fff;
    top:0px;
    right:-36px;
    text-decoration: none;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    &:hover {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  .ajaxprocess-know-btn {
    display: inline-block;
    width:110px;
    height:34px;
    line-height: 34px;
    background: #0099ee;
    border:3px;
    font-size: 12px;
    color:#fff;
    text-decoration: none;
    &:hover {
      background: #2eb4ff;
    }
    &:active {
      background: #0088d3;
    }
  }
  .ajaxprocess-know-link {
    display: inline-block;
    width:110px;
    height:34px;
    line-height: 34px;
    background: #0099ee;
    border:3px;
    font-size: 12px;
    color:#fff;
    text-decoration: none;
    &:hover {
      background: #2eb4ff;
    }
    &:active {
      background: #0088d3;
    }
  }
  //公用的关闭end
  //等待返回结果start
  .ajaxprocess-ing {
    .ajaxprocess-main-img {
      padding:100px 0px 0px;
    }
    .ajaxprocess-text {
      line-height: 105px;
      font-size: 14px;
      color:#303030;
    }
    .ajaxprocess-bar {
      width:160px;
      height:8px;
      border-radius: 8px;
      overflow: hidden;
      background: #e7e7e7;
      margin:0px auto;
    }
    .ajaxprocess-bar-ing {
      height: 8px;
      border-radius: 8px;
      background: #ff8010;
      width:20%;
    }
  }
  //等待返回结果end
  //点击红包没有奖品展示start
  .ajaxprocess-noopen {
    .ajaxprocess-main-img {
      padding:95px 0px 62px;
    }
    .ajaxprocess-text {
      line-height: 22px;
      font-size: 16px;
      color:#303030;
      font-weight: bold;
      .icon {
        display: inline-block;
        width:22px;
        height: 30px;
        background: url("/styles/images/activity/hongbao/icon.png") no-repeat 9px -108px;
        vertical-align: middle;
        padding:0px 4px 0px 9px;
      }
    }
    .ajaxprocess-text2 {
      line-height: 30px;
      font-size: 12px;
      color:#999;
      .color {
        color:#0099ee;
      }
    }
    .ajaxprocess-know {
      padding:40px 0px 0px;
    }
  }
  //点击红包没有奖品展示end
  //点击红包有奖品展示start
  .ajaxprocess-win {
    background: url("/styles/images/activity/hongbao/win.png") no-repeat center center;
    background-size: contain;
    padding:0px 45px;
    height: 100%;
    .win-title {
      padding:46px 0px 30px;
      border-bottom:1px dashed #9a100e;
      text-align: center;
    }
    .win-title-text {
      line-height: 40px;
      font-size: 30px;
      color:#ffea01;
      font-weight: bold;
    }
    .win-title-text1 {
      line-height: 30px;
      font-size: 18px;
      color:#f9f9f9;
    }
    .win-body {
      height: 152px;
      padding:24px 0px 14px;
      border-bottom:1px dashed #9a100e;
    }
    .win-body-item {
      padding-bottom:10px;
      height: 70px;
    }
    .win-body-item-link {
      display: inline-block;
      background: #c33916;
      width:220px;
      height: 70px;
      border-radius: 3px;
      text-decoration: none;
    }
    .win-body-item-link-wrap {
      width:100%;
      display: block;
      height: 68px;
      background: #f9f9f9;
      border-radius:3px;
      overflow: hidden;
    }
    .win-body-item-left {
      float: left;
      padding:22px 0px 0px 20px;
      width:40px;
      .win-body-item-icon {
        width:24px;
        height: 24px;
        display: block;
        background: url("/styles/images/activity/hongbao/icon.png") no-repeat 0px 0px;
      }
      .win-body-item-cash {
        background-position: 0px 0px;
      }
      .win-body-item-volume {
        background-position: 0px -55px;
      }
    }
    .win-body-item-right {
      float: left;
      padding:0px 0px  0px 15px;
      border-left:1px dashed #eaeaea;
      line-height: 68px;
      font-size: 12px;
      color:#999;
      max-width:142px;
      text-align: left;
      @include text-ellipsis;
      .color {
        color:#ff8010;
      }
      .font {
        font-size: 22px;
        font-weight: bold;
      }
    }
    .ajaxprocess-know {
      padding: 24px 0px 0px;
    }
    .ajaxprocess-know-link {
      display: block;
      margin:0px auto;
      width:110px;
      height: 34px;
      background: #c33222;
      border-radius: 3px;
      overflow: hidden;
      font-size:14px;
      color:#7e5903;
      text-decoration: none;
      .ajaxprocess-know-btn-text {
        display: block;
        border-radius: 3px;
        height: 32px;
        width: 100%;
        line-height: 32px;
        background: #f5f209;
      }
      &:hover {
        background: #c33222;
        .ajaxprocess-know-btn-text {
          background: #ffe979;
        }
      }
      &:active{
        background: #c33222;
        .ajaxprocess-know-btn-text {
          background: #e7c218;
        }
      }
    }
  }
  //点击红包有奖品展示end
  //每日签到没有红包start
  .ajaxprocess-sign {
    .sign-title {
      padding:60px 0px 30px;
    }
    .sign-title-img {
      background: url("/styles/images/activity/hongbao/icon.png") no-repeat 0px -160px;
      width: 70px;
      height: 70px;
      display: inline-block;
    }
    .ajaxprocess-title-text {
      padding:10px 0px 0px;
      line-height: 32px;
      font-size: 20px;
      color:#303030;
      font-weight: bold;
    }
    .ajaxprocess-title-text2 {
      line-height: 22px;
      font-size: 12px;
      color:#999;
      .color {
        color:#0099ee;
      }
    }
    .ajaxprocess-know {
      padding:15px 0px 0px;
    }
    .sign-body {
      padding:0px 24px;
      overflow: hidden;
    }
    .sign-body-hd {
      height: 24px;
      line-height: 24px;
      text-align: center;
      width:100%;
    }
    .sign-body-hd-line {
      border-bottom:1px solid #ccc;
      height: 11px;
      width: 100%;
    }
    .sign-body-hd-text {
      position:relative;
      top:-12px;
      color:#999;
      font-size: 12px;
      padding:0px 8px;
      background: #fff;
    }
    .sign-body-list {
      padding:16px 0px 0px;
      width:300px;
    }
    .sign-body-item {
      height:115px;
      width:98px;
      font-size: 12px;
      color:#fff;
      float: left;
    }
    .sign-item-bg {
      background: url("/styles/images/activity/hongbao/icon.png") no-repeat 0px -260px;
      width:88px;
      height: 100%;
    }
    .sign-item-type {
      padding:22px 0px 0px;
      line-height: 20px;
      height: 20px;
      font-weight: bold;
      @include text-ellipsis;
    }
    .sign-item-name {
      line-height: 20px;
      height: 20px;
      padding:0px 0px 8px;
      @include text-ellipsis;
    }
    .sign-item-link {
      display: inline-block;
      border-radius: 50%;
      width:30px;
      height: 30px;
      background: #f8d933;
      line-height: 30px;
      color:#ec3c0d;
      font-weight: bold;
      text-decoration: none;
      font-size: 14px;
      &:hover {
        background: #ffea7a;
      }
      &:active {
        background: #ddbd15;
      }
    }
  }
  //每日签到没有红包end
  //已领取start
  .ajaxprocess-alreadysign {
    .alreadysign-title {
      padding:80px 0px 52px;
      line-height: 24px;
      font-size: 16px;
      color:#303030;
      font-weight: bold;
      @include text-ellipsis;
      .icon {
        display: inline-block;
        width:24px;
        height: 24px;
        vertical-align:middle;
        margin:0px 6px 0px 10px;
        background: url("/styles/images/activity/hongbao/icon.png") -64px 0  no-repeat;
      }
    }
    .alreadysign-body-list {
      height:170px;
    }
    .alreadysign-body-item {
      width: 220px;
      margin: 0px auto;
      padding-bottom:14px;
    }
    .alreadysign-body-item-link-wrap {
      display: block;
      height:68px;
      background: #f6f6f6;
      border-radius: 3px;
    }
    .alreadysign-body-item-left {
      float: left;
      padding:22px 0px 0px 20px;
      width:40px;
      .alreadysign-body-item-icon {
        width:24px;
        height: 24px;
        display: block;
        background: url("/styles/images/activity/hongbao/icon.png") no-repeat 0px 0px;
      }
      .alreadysign-body-item-cash {
        background-position: 0px 0px;
      }
      .alreadysign-body-item-volume {
        background-position: 0px -55px;
      }
    }
    .alreadysign-body-item-right {
      float: left;
      padding:0px 0px  0px 15px;
      border-left:1px dashed #eaeaea;
      line-height: 68px;
      font-size: 12px;
      color:#999;
      max-width:142px;
      text-align: left;
      @include text-ellipsis;
      .color {
        color:#ff8010;
      }
      .font {
        font-size: 22px;
        font-weight: bold;
      }
    }
    .ajaxprocess-know {
      padding: 46px 0px 0px;
    }
  }
  //已领取end
  //请求出错start
  .ajaxprocess-error {
    .ajaxprocess-main-img {
      padding:70px 0px 30px;
    }
    .ajaxprocess-text {
      line-height: 30px;
      font-size: 20px;
      color:#303030;
      font-weight: bold;
    }
    .ajaxprocess-text2 {
      line-height: 28px;
      font-size: 12px;
      color:#999;
    }
    .ajaxprocess-know {
      padding:40px 0px 0px;
    }
  }
  //请求出错end
}
/* 签到 end */



/* 签到详情 弹层 start */
.sign-float{
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
}
.sign-float-mask{
  position: fixed;
  left: 0;
  top: 0;
  width:100%;
  height:100%;
  background: #000;
  @include opacity(0.8);
}
.sign-float-main{
  width:346px;
  padding: 20px 47px;
  background: #fff;
  position: fixed;
  top:50%;
  left: 50%;
  margin-left: -220px;
  margin-top:-193px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.sign-float-close{
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  width: 50px;
  background-image: url(/styles/images/club/club-icon.png);
  background-position: -375px -100px;
  @include ratioBackground($url:'/styles/images/club/club-icon-2x.png', $size: 500px 500px, $x:-375px, $y:-100px);
  cursor: pointer;
}

.sign-float-close-icon{
  position: absolute;
  display: block;
  right: 10px;
  top: 10px;
  height: 11px;
  width: 11px;
  background-image: url(/styles/images/club/club-icon.png);
  background-position: -200px -50px;
  @include ratioBackground($url:'/styles/images/club/club-icon-2x.png', $size: 500px 500px, $x:-200px, $y:-50px);
  transition: all .2s ease-out;
  cursor: pointer;

}
.sign-float-close:hover .sign-float-close-icon{
  transform: rotate(90deg);
}

.sign-float-title{
  height: 43px;
  line-height: 43px;


}
.sign-float-title-icon{
  display: block;
  float: left;
  height: 24px;
  width: 23px;
  margin-top: 10px;
  background-image: url(/styles/images/club/club-icon.png);
  background-position: -125px -150px;
  @include ratioBackground($url:'/styles/images/club/club-icon-2x.png', $size: 500px 500px, $x:-125px, $y:-150px);
}
.sign-float-title-word{
  display: block;
  float: left;
  font-size: 20px;
  padding-left: 10px;
  color: #333;

}
.sign-float-info{
  display: block;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  color: #333;
  border-bottom: 2px dashed #f3f3f3;
}
.sign-float-info-red{
  color: #ff3141;
  font-weight: bold;
}
.sign-float-list{
  padding-top: 8px;
}
.sign-float-item{
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  color: #666;

}
.sign-float-item-icon{
  display: block;
  float: left;
  height: 31px;
  width: 30px;
  margin: 4.5px 10px 0 0;
  background-image: url(/styles/images/club/club-icon.png);
  background-position: -75px -200px;
  @include ratioBackground($url:'/styles/images/club/club-icon-2x.png', $size: 500px 500px, $x:-75px, $y:-200px);
}
.sign-float-item-icon.get{
  background-position: -75px -150px;
  @include ratioBackground($url:'/styles/images/club/club-icon-2x.png', $size: 500px 500px, $x:-75px, $y:-150px);
}
.sign-float-item-item{
  display: block;
  float: left;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.sign-float-item-leiji{
  width: 90px;
}
.sign-float-item-hongbao{
  width: 120px;
}
.sign-float-item-kaquan{
  width: 95px;
}
.sign-float-btn{
  height: 34px;
  width: 102px;
  background-color: #0098ed;
  color: #fff;
  text-align: center;
  line-height: 34px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 18px auto 0;
  font-size: 14px;
  cursor: pointer;
}
/* 签到详情 弹层 end */














.jiuji-float-mask{
  z-index: 1000;
}
.jiuji-float-main{
  z-index: 1001;
}
.redland {
  visibility: hidden;
  display: none;
}



.bg-fff{
  background-color: #fff;
}
.bg-eee{
  background-color: #eee;
}







