@charset "UTF-8";
@import '../base/utils';
@import '../base/reset';
@import '../base/grid';
@import '../inc/ui';
@import '../mod/dialog';
@import '../inc/site-nav';
@import '../inc/header';
@import '../inc/member-header';
@import '../inc/footer';
@import '../mod/platinfo';
@import '../mod/searchnew';
@import '../mod/bind';
@import '../mod/floatlayer';
@import '../mod/activity';


//input::-ms-input-placeholder{text-align: center;}
//input::-webkit-input-placeholder{text-align: center;}
.followcon{
  width:153px;
  display: none;
}
.followcon-ul{
  background: #f0f0f0;
}
.followcon-ul li{
  height: 38px;
  overflow: hidden;
}
.followcon-ul li a{
  text-decoration:none;
  display: block;
  width:100px;
  height: 28px;
  float: left;
  font-size: 14px;
  color:#5e5e5e;
  line-height: 28px;
  text-align: right;
  margin:5px 7px 5px 25px;
  padding-right: 5px;
}
.followcon-ul li a:hover{

  color: #e2404c;
}
.followcon-ul li span{
  float: right;
  display: block;
  width: 14px;
  height: 38px;
  background: url(/styles/images/index/ptdb6.png) no-repeat 100% 100%;
}
.followcon-ul .followtop i{
  float: right;
  display: block;
  width: 14px;
  height: 38px;
  background: url(/styles/images/index/ptdb5.png) no-repeat 100% 100%;
}
.followcon-ul .followbottom i{
  float: right;
  display: block;
  width: 14px;
  height: 38px;
  background: url(/styles/images/index/ptdb7.png) no-repeat 100% 100%;
}
.top1{

  border:1px solid #ebebeb
}
.planttitle{
  border-left:2px solid #ebebeb;
  border-right: 2px solid #ebebeb;
  height: 58px;
  background: #fafafa;

}
.top2{

  border:1px solid #ebebeb
}
.top3{

  border:1px solid #ebebeb
}
.top4{

  border:1px solid #ebebeb
}
.top5{

  border:1px solid #ebebeb
}
.top6{

  border:1px solid #ebebeb
}
.top7{

  border:1px solid #ebebeb
}
.planttitle .minus{
  display: block;
  float: left;
  width:14px;
  height: 14px;
  border:1px solid #ebebeb;
  border-radius: 3px;
  background:#fff url(/styles/images/index/ptdb8.png) 3px 6px no-repeat;
  margin:22px 10px 0 13px;
  cursor: pointer;
}
.planttitle h2{
  float: left;
  font-size: 14px;
  color:#333333;
  line-height: 58px;
}
table{
  table-layout: fixed;
  word-wrap: break-word;
  word-break: break-all;

}
tbody{
  display: table-row-group;
  vertical-align: middle;
  border:1px solid #ebebeb;
}
tr{
  width: 1197px;
}
th{
  width:118px;
  background:#fafafa;
  font-size: 14px;
  color:#999999;
  border:1px solid #ebebeb;
  text-align: right;
  padding-right: 20px;
}
td{
  text-indent: 30px;
  font-size: 14px;
  border:1px solid #ebebeb;
  color:#5e5e5e;
  text-align: left;
  width:264px;
  background: #fff;


}

.pthead{
  height:298px;

}

.nohead{
  height: 298px;

}
.nohead ul{
  position: relative;
}
.nohead li{
  width: 264px;

}
.nohead li a{
  display: block;
  width:54px;
  height: 28px;
  border: 1px solid #e8e8e8;
  background:#efefef;
  color: #d1d1d1;
  float: left;
  line-height: 28px;
  font-size: 14px;
  text-align: center;
  margin-right: 6px;
}
.nopic{
  margin-bottom: 25px;
}
.search{
  height: 30px;
  width:178px;
  border: 1px solid #e8e8e8;
  margin-bottom: 20px;
  margin-left: 40px;
}
#company_name{
  border:0;
  height: 14px;
  width:168px;
  color: #686868;
  padding:7px 0 7px 10px;
  float: left;

}
#addcompany_name{
  border:0;
  height: 14px;
  width:168px;
  color: #686868;
  padding:7px 0 7px 10px;
  float: left;
}
.nopic img{
    width:80px;
    height: 65px;
    display: block;
  margin-left: 83px;
}

.problem{
  width:100px;
  height: 100px;
  position: absolute;
  top:-62px;
  right:0;
  background: url(/styles/images/index/ptproblem.png) no-repeat;
}
.noproblem{
  width:100px;
  height: 100px;
  position: absolute;
  top:-62px;
  right:0;

}
.ml40{
  margin-left:40px;
}
.pth68{
  height:68px;
}
.zhkb{
  height: 195px;
}
.ftxx{
  height: 334px;
}
.pth98{
  height: 98px;
}
.txfy{
  height: 333px;
}
.ac_results{

  border: 1px solid #ddd;
  background-color: #fff;
  overflow: hidden;
  z-index: 99999;
  box-shadow: 0 1px 3px #ccc;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}
.ac_results li{
  margin: 0px;
  padding: 5px 0;
  cursor: pointer;
  display: block;
  width: 100%;
  font: menu;
  font-size: 14px;
  overflow: hidden;
  text-indent: 9px;
}
.ac_results li:hover{
  background:#e8e8e8 url(/styles/images/index/ptdb2.png) 130px center no-repeat;
}
.ac_results .ac_over{
  background:#e8e8e8 url(/styles/images/index/ptdb2.png) 130px center no-repeat;
}
.tophead{
  height: 148px;
  display: none;
  z-index: 999;
}
.tophead .search{
  height: 30px;
  width:178px;
  border: 1px solid #e8e8e8;
  margin-bottom: 32px;
  margin-left: 40px;
  margin-top: 42px;
}
.tophead ul{
  position: relative;
}
.tophead li{
  width: 264px;
  overflow: hidden;
}
.tophead li a{
  display: block;
  width:54px;
  height: 28px;
  border: 1px solid #e8e8e8;
  background:#efefef;
  color: #d1d1d1;
  float: left;
  line-height: 28px;
  font-size: 14px;
  text-align: center;
  margin-right: 6px;
  margin-bottom: 12px;
  text-indent: 0;
  border-radius: 3px;
}

.pthead .search{
  height: 30px;
  line-height: 30px;
  width:178px;
  margin-bottom: 18px;
  border:0;
  margin-left: 40px;
  text-align: center;
  text-indent: 0;
}
.pthead li a{
  width:53px;
  height: 28px;
  display: inline-block;
  background: #fafbfc;
  border: 1px solid #e8e8e8;
  line-height: 28px;
  text-align: center;
  color:#0081cb;
  float: left;
  text-indent: 0;
  text-decoration: none;
  border-radius: 3px;
}
.pthead .del{
  margin:0 5px
}
.pthead .nodel{
  margin:0 5px
}
.big#ebebeb{
  color:#e2404c;
  font-size: 20px;
}
.pthead .nohead{
  height: 298px;
  position: static !important;
}
.pthead .nohead ul{
  position: relative;
}
.pthead .nohead li{
  width: 264px;

}
.pthead .nohead li a{
  display: block;
  width:54px;
  height: 28px;
  border: 1px solid #e8e8e8;
  background:#efefef;
  color: #d1d1d1;
  float: left;
  line-height: 28px;
  font-size: 14px;
  text-align: center;
  margin-right: 6px;
}
.pthead .nohead .search{
  height: 30px;
  width:178px;
  border: 1px solid #e8e8e8;
  margin-bottom: 20px;
  margin-left: 40px;
}

.tophead  .smallhead .search{
  height: 30px;
  width:178px;
  margin-bottom: 45px;
  margin-left: 40px;
  margin-top: 30px;
  border:0;
  text-indent: 0;
}
.tophead .smallhead ul{
  position: relative;
}
.tophead .smallhead li{
  width: 264px;
  overflow: hidden;
}
.tophead .smallhead li a{
  display: block;
  width:54px;
  height: 28px;
  border: 1px solid #e8e8e8;
  background:#fafbfc;
  color: #1093e1;
  float: left;
  line-height: 28px;
  font-size: 14px;
  text-align: center;
  margin-right: 6px;
  margin-bottom: 12px;
  text-indent: 0;

}
.pr{
  position: relative;
}
.blackzs{
    display: block;
    color:#fff;
    background: #000;
    opacity:0.6;
    font-size: 14px;
    padding: 0px 21px;
    position: absolute;
    left:100px;
    border-radius: 5px;
    display: none;
    z-index: 1000;
    word-break: normal;
    white-space: nowrap;
    line-height: 43px;
}
.empty{
//  background:#fff url(/styles/images/index/ptdbempty.png) 30px center no-repeat;
color:#a5a5a5;

}
.noid{
  background:#fff;
}
.bigred{
  color:#e2404c;
  font-size:20px;
}
.asslist{
  overflow: hidden;
  margin: 14px 50px 14px 30px;
}
.assess{
  text-align: center;
  color: #5e5e5e;
  display: block;
  height: 15px;
  line-height: 15px;
  background: #f3f3ff;
  font-size: 14px;
  padding: 5px 4px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  text-indent: 0;
  border: 1px solid #f3f3ff;
  border-radius: 5px;
}
.btnlist{
  overflow: hidden;
}
.btnlist a:hover{
  text-decoration: none;
}

.btnlist .leftbtn,.del,.rightbtn{
  cursor: pointer;
}
.btnarr .leftbtn,.del,.rightbtn{
  cursor: pointer;
}
.ui-crumb{
  line-height: 45px;
  color: #787878;
  font-size: 14px;
position: relative;

}
.ui-crumb .blue{

  color:#1093e1;
  width:264px;
  padding-left: 10px;
}
.degree{
  text-decoration: none;
  color:#5e5e5e;
}
.degree:hover{
  text-decoration: none;
}
.hideid{
  display: none;
}
.ptlogo{
  height: 80px;
  margin-bottom: 16px;
}
//.ptlogo img{
//  display: block;
//  width:80px;
//  height: 80px;
//  position: absolute;
//  left:0;
//  right: 0;
//  margin: auto;
//  text-indent: 0;
//}
.redranking{
  font-size: 14px;
  color:#e23f4c ;
  padding-left:10px;
  padding-right: 10px;
}
.greenranking{
  font-size: 14px;
  color:#2fad83;
  margin-left: 10px;
  padding-right: 10px;
}
.grayranking{
  font-size: 14px;
  color:#a5a5a5;
  margin-left: 10px;
}

.icontop{
  display: inline-block;
  width:10px;
  height: 15px;
  background: url(/styles/images/index/pptdb-redtop.png) no-repeat;

}
.iconbottom{
  display: inline-block;
  width:10px;
  height: 15px;
  background: url(/styles/images/index/ptdb-green.png) no-repeat;
}
p a{
  color:#5e5e5e;
  text-decoration: none;
}
.space{
  text-indent: 0;
  width:203px;
  padding:30px;
}
.smalllogo{
  height: 50px;
}
.smalllogo img{
  display: block;
  height: 50px;
  margin: 0 auto;
  max-width: 200px;
}
input:focus{outline:none;}
input:required:invalid{box-shadow: none;}
.followcon-ul li .redbasic{
  background: url(/styles/images/index/ptdbred.png);
}
.followcon-ul li .reda{
  background:#e2404c;
  color:#fff;
}
.followcon-ul li .reda:hover{
  background:#e2404c;
  color:#fff;
}
.followcon-ul li .otherbasic{
  background:#f0f0f0;
  color:#5e5e5e;
}
.followcon-ul li .othera{
  background-image:url(/styles/images/index/ptdb6.png);
}
.overhidden{
  white-space:nowrap;
  overflow:hidden;
  text-indent: 0;
  width:203px;
  padding-left:30px;
  padding-right: 30px;
}
.havehead .btnlist a:hover{
  background: #f2f9ff;
}
.smallhead .btnarr a:hover{
  background: #f2f9ff;
  text-decoration: none;
}
.tophead .smallhead li .title{
    display: block;
    height: 50px;
    border:0;
    margin: 30px 32px;
    width: 200px;
    background: transparent;
}
.mg10{margin-left: 10px;}
.dw{
  position: relative;
}
.addborder{
  border-bottom: 1px solid #ebebeb;
}
.ac_results iframe{
  display: none;
}
.ptlogo .logo{
  display: block;
  height: 80px;
  width: 100%;
  border: 0;
  line-height: 80px;
  vertical-align: middle;
  background: transparent;
}
.ptlogo .logo img{
  line-height: 80px;
  vertical-align: top;
  max-height: 80px;
}
.starbox{
  position: absolute;
  right: 0;
  top:0;
  height: 45px;
  width: 120px;
}
.starbox .star{
  display: block;
  float: left;
  width: 14px;
  height: 45px;
  background:url(/styles/images/index/ptdbstar.png) center center no-repeat;
}
.starbox span{
  float: left;
  margin-left: 10px;
  line-height: 45px;
  font-size: 14px;
}
.titlebox{
  width: 140px;
  height: 45px;
  line-height: 45px;
  position: absolute;
  left:0;
  top:0;
}
.ui-crumb a{
  color: #0081cb;
}
.tophead .smallhead .noproblem{
  width:100px;
  height: 100px;
  position: absolute;
  top:0;
  right:0;

}
.tophead .smallhead .problem{
  width:100px;
  height: 100px;
  position: absolute;
  top:0px;
  right:0;
  background: url(/styles/images/index/ptproblem.png) no-repeat;
  z-index: 100000;
}
.mod-floatlayer .service{
  display: none;
}
.mod-floatlayer .qq{
  display: none;
}
.mod-floatlayer .account{
  display: none;
}
.mod-floatlayer .scancode{
  display: none;
}
.mod-floatlayer .baidushare{
  display: none;
}