@Fcharset "UTF-8";
@import '../base/utils';
@import '../base/reset';
@import '../base/grid';
@import '../inc/site-nav';
@import '../inc/header';
@import '../inc/footer';
@import '../inc/ui';
@import '../mod/dialog';
@import '../mod/bind';
@import '../mod/floatlayer';

.template_ajiaplan{
	background-color:#fff;
	font-family:Microsoft Yahei;
}
.pay-box{
	padding:0 50px;
}
.pay-box-color-red{
	color:#e8554f;
}
.pay-box-color-blue{
	color:#1a7cd7;
}
.pay-box-hd{
	padding-top:38px;
}
.pay-box-hd-h2{
	height:72px;
	line-height:72px;
	color:#383838;
	font-size:30px;
	text-align:center;
	font-family:Microsoft Yahei;
}
.pay-box-bd-inner{
	color:#383838;
	line-height:34px;
}
.pay-box-text-indent{
	text-indent:2em;
}
.pay-box-bd-title{
	height:65px;
	line-height:65px;
	border-bottom:1px solid #e7e7e7;
	font-size:24px;
	margin-bottom:10px;
}
.pay-box-bd-ulist{
	padding-top:20px;
	li{
		width:100%;
	}
}
.pay-box-bd-sub{
	float:left;
	width:98px;
}
.pay-box-bd-main{
	float:left;
	width:1000px;
}
.pay-box-fd{
	padding:70px 0 110px 0;
	height:80px;
}
.pay-box-fd-inner{
	width:700px;
	margin:0 auto;
	height:80px;
	.left{
		float:left;
	}
	.right{
		float:right;
	}
}
.pay-box-fd-btn{
	width:260px;
	height:80px;
	line-height:80px;
	text-align:center;
	font-size:24px;
	color:#fff;
	border-radius:10px;
	&:hover{
		text-decoration:none;
	}
}
.pay-box-fd-btn-apply{
	background-color:#1a7cd7;
	&:hover{
		background-color:#3ea2ff;
	}
}
.pay-box-fd-btn-result{
	background-color:#1cd09b;
	&:hover{
		background-color:#44e6b6;
	}
}
.pay-dialog{
	border:5px solid #46bcf7;
	border-radius:8px;
	.dialog_title{
		background-color:#fff;
		border-top-left-radius:10px;
		border-top-right-radius:10px;
		.closebtn{
			width:36px;
			height:36px;
			top:-18px;
			right:-18px;
			background:url(/styles/images/help/pay-dialog-closebtn.png) 0 0 no-repeat;
		}
	}
	.dialog_content{
		padding:0;
	}
}
.pay-dialog-hd{
	padding:0 40px;
	height:56px;
	line-height:56px;
	font-size:30px;
	color:#000;
	font-weight:bold;
	text-align:center;
}
.pay-dialog-hd-icon{
	display:inline-block;
	width:36px;
	height:36px;
	margin-right:20px;
	vertical-align:middle;
	margin-top:-6px;
}
.pay-dialog-hd-icon-succeed{
	background:url(/styles/images/help/pay-dialog-hd-icon-succeed.png) 0 0 no-repeat;
}
.pay-dialog-hd-icon-failure{
	background:url(/styles/images/help/pay-dialog-hd-icon-failure.png) 0 0 no-repeat;
}
.pay-dialog-bd{
	padding:14px 36px 20px;
	height:90px;
}
.pay-dialog-bd-inner{
	line-height:30px;
	font-size:16px;
	color:#383838;
	font-family:Microsoft Yahei;
}
.pay-dialog-fd{
	height:100px;
	padding:0 15px;
	background-color:#e8f3fc;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.pay-dialog-fd-info{
	height:27px;
	line-height:27px;
	padding:16px;
	border-bottom:1px dashed #fff;
	text-align:center;
	font-size:16px;
	color:#383838;
	span{
		padding:0 25px;
	}
}
.pay-dialog-fd-icon{
	display:inline-block;
	width:14px;
	height:18px;
	margin-right:10px;
	vertical-align:middle;
	margin-top:-4px;
}
.pay-dialog-fd-icon-user{
	background:url(/styles/images/help/pay-dialog-fd-icon-user.png) 0 0 no-repeat;
}
.pay-dialog-fd-icon-phone{
	background:url(/styles/images/help/pay-dialog-fd-icon-phone.png) 0 0 no-repeat;
}
.pay-dialog-fd-service{
	height:40px;
	line-height:40px;
	color:#787878;
	font-size:14px;
	text-align:center;
}


