@Fcharset "UTF-8";
@import '../base/utils';
@import '../base/reset';
@import '../mod/dialog';
@import '../mod/shareInvest';
@import '../base/grid';
@import '../inc/ui';
@import '../mod/bind';
@import '../inc/site-nav';
@import '../inc/footer';
@import '../mod/floatlayer';
@import '../mod/activity';
@import '../mod/registerlayer';

.header{
  display: none;
}
.page_section{
  width: 100%;
  background: url("/styles/images/help/anniversary/bj.png");
  background-size: 100% 100%;
  overflow: hidden;
}
.celebrate-head{
  width: 100%;
  height: 539px;
}
.ann-head{
  width: 1140px;
  height: 539px;
  background:url("/styles/images/help/anniversary/znhead1.png") no-repeat;
  background-size: 100% 100%;
  margin: 0 auto;
  overflow: hidden;
}
.celebrate-gift{
  width: 100%;
  height: 304px;
  margin-top: 13px;
}
.ann-gift{
  width: 1100px;
  height: 304px;
  margin: 0 auto;
  background:url("/styles/images/help/anniversary/znbagbj.png") no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
}
.ann-gift-rule{
  width: 220px;
  height: 53px;
  line-height: 53px;
  float: right;
  margin-right: 43px;
  font-size: 14px;
  color: #e54616;
}
.ann-gift-btn{
  width: 229px;
  height: 57px;
  background: url("/styles/images/help/anniversary/znmybag.png") no-repeat;
  background-size: 100% 100%;
  margin-left:815px;
  margin-top: 220px;
}
.mybtn{
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.celebrate-newyear{
  width: 100%;
  height: 48px;
  margin: 50px 0px;
}
.celebrate-newyear-title{
  width: 828px;
  height: 48px;
  background: url("/styles/images/help/anniversary/zngqxn.png") no-repeat;
  background-size: 100% 100%;
  margin: 0 auto;
}
.celebrate-welfare{
  width: 100%;
  height: 330px;
}
.ann-welfare{
  width: 1100px;
  height: 330px;
  margin: 0 auto;
  background: url("/styles/images/help/anniversary/znknbj.png") no-repeat;
  background-size: 100% 100%;
  position: relative;
}
.ann-welfare-btn{
  width: 256px;
  height: 74px;
  background: url("/styles/images/help/anniversary/znxjx.png") no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top:129px;
  right: -7px;
}
.welfarebtn{
  display: block;
  cursor: pointer;
  width: 100%;
  height: 100%;
}
.celebrate-rule{
  width: 100%;
  height: 48px;
  margin: 50px 0px;
}
.celebrate-rule-title{
  width: 683px;
  height: 48px;
  background: url("/styles/images/help/anniversary/znhdgz.png") no-repeat;
  background-size: 100% 100%;
  margin: 0 auto;
}
.rule-list p{
  width: 100%;
  color: #fff;
  font-size: 14px;
  text-align: center;
}
.mg15{
  margin:15px 0px;
}
.ann-head-day{
  display: block;
  font-size: 18px;
  color: #ff511c;
  margin-top: 105px;
  margin-left: 615px;
}