@Fcharset "UTF-8";
@import '../base/utils';
@import '../base/reset';
@import '../base/grid';
@import '../inc/ui';
@import '../inc/site-nav';
@import '../inc/footer';
@import '../mod/floatlayer';
@import '../mod/activity';
/*
@import '../mod/dialog';
@import '../mod/bind';
*/
.page_section {
  padding-bottom: 0;
}
.template_register{
  background-color:#fff;
  position:relative;
  .qt-h547{
    height:547px;
  }
  .qt-width{
    width: 960px;
    margin:30px auto 0;

  }

  .yqylbg{
    overflow:hidden;
    background:url(/styles/images/topic/yqyl/topic_yqylbg.png) 0 0;
  }
}

.bor{
  border-right: 2px solid #cccccc;
}
.pl20{
  padding-left: 20px;
}
.mt5{
  margin-top: 5px;
}
.pr20{
  padding-right: 20px;
}
.ptb{
  padding-top: 15px;
  padding-bottom: 4px;
}
.mg0{
  margin: 0;
}
.register_head{
  padding:16px 0 14px;
  height:40px;
  background-color:#fff;
  border-top:4px solid #474f59;
  .left{
    float:left;
    height:40px;
    padding-left:20px;
  }
  .right{
    float:right;
    height:40px;
    line-height:40px;
    font-size:16px;
    span{
      padding-right:50px;
    }
    a{
      color:#ff5a5a;
    }
  }
  .logo{
    a{
      float:left;
      width:175px;
      height:40px;
    }
  }
}
.introduce{
  .hd{
    padding-bottom:30px;
    .top{
      width:184px;
      height:24px;
      margin:0 auto 20px;
      .yqylbg{
        width:184px;
        height:24px;
        background-position: 0 -242px;
      }
    }
    .bottom{
      height:33px;
      background:url(/styles/images/topic/yqyl/register_repx.png) 0 17px repeat-x;
      .hard{
        width:446px;
        height:33px;
        margin:0 auto;
        background:url(/styles/images/topic/yqyl/register_hard.png) 0 0 no-repeat;
      }
    }
  }
  .bd{
    width:100%;
    overflow:hidden;
    ul{
      width:1224px;
      height:350px;
      padding-bottom:50px;
      li{
        float:left;
        width:280px;
        height:350px;
        margin-right:26px;
      }
    }
  }
  .fd{
    padding-bottom:60px;
    height:65px;
    a{
      display:block;
      width:360px;
      height:65px;
      margin:0 auto;
      background:url(/styles/images/topic/yqyl/register_open.png) 0 0 no-repeat;
    }
    a:hover{
      text-decoration: none;
    }
  }
}
.register{
  height:20px;
  margin-top:-20px;
  z-index:10;
  .register_box{
    padding:25px 50px 25px;
    width:280px;
    background-color:#fff;
    border-radius:10px;
    top:40px;
    right:125px;
    .wrapper{
      position: relative;
    }
    .picode{
      border-radius:10px;
      position: fixed;
      width:1600px;
      height: 1000px;
      left:0px;
      top:-45px;
      background: rgba(000,000,000,0.5);
      ul{
        background-color:#fff;
        width: 290px;
        padding:46px 105px 38px;
        margin:160px auto;
        height: 170px;
        border-radius:10px;
      }
      .close{
        position: absolute;
        width:28px;
        height:30px;
        top:172px;
        right:562px;
        background:url(/styles/images/topic/qipashuo/close.png) 0 0 no-repeat;
        cursor:pointer;
      }
    }
  }
  .hd{

    padding-bottom: 18px;
  .example{
    font-size: 36px;
    color:#383838;
    font-weight: bolder;
    padding-top: 28px;

  }
    .leftbg{
      height:20px;
      padding-left:26px;
      background:#fff url(/styles/images/topic/yqyl/leftbg.png) left 0 no-repeat;
      margin:0 auto;
    }
    .rightbg{
      height:20px;
      padding-right:26px;
      background:#fff url(/styles/images/topic/yqyl/rightbg.png) right 0 no-repeat;
    }
    .inner{
      font-size:30px;
      color:#fb615a;
      line-height:30px;
      height:30px;
      font-weight:bold;

    }

  }
  .bd,ul,li{
    width:100%;
  }
  li{
    float:left;
  }
  .box{
    width:258px;
    height:28px;
    padding:5px 10px;
    border:1px solid #dfdfdf;
    border-radius:5px;
    .icon{
      float:left;
      width:26px;
      height:28px;
      margin-right:8px;
      background:url(/styles/images/topic/yqyl/yqyl2_icon.jpg) 0 0 no-repeat;
    }
    .icon_name{
      background-position:-111px -13px;
    }
    .icon_password{
      background-position:-111px -72px;
    }
    .icon_email{
      background-position:-111px -131px;
    }
    .icon_captcha{
      background-position:-111px -251px;
    }
    .icon_phone{
      background-position:-111px -131px;
    }
    .icon_phonecode{
      background-position:-111px -191px;
    }
    .uname-focus{
      background-position:-11px -13px;
    }
    .pwd-focus{
      background-position:-11px -72px;
    }
    .phone-focus{
      background-position:-11px -131px;
    }
    .phonecode-focus{
      background-position:-11px -191px;
    }
    .captcha-focus{
      background-position:-11px -251px;
    }
    .text{
      float:left;
      width:208px;
      height:24px;
      border:none;
      margin-top:2px;
      background-color:#fff;
      font-size:14px;

    }
    .text:focus{outline:none;}
    .text:required:invalid{box-shadow: none;}
  }
  .boxfocus {
    border:1px solid #fc756f;
  }
  .picenter{

  }
  .enter{
    font-size: 20px;
    color: #383838;
    margin-bottom: 30px;
    text-align: center;
  }

  .captcha{
    width:100%;
    .box{
      float:left;
      width:134px;
    }
    .text{
      width:100px;
    }
    .captcha_img{
      float:right;
      width:115px;
      height:35px;
      margin-top:2px;
    }
    .phonecode{
      float:right;
      width:112px;
      height:40px;
      color:#fb6c65;
      background-color: #fff;
      font-size:14px;
      text-align:center;
      line-height:40px;
      border-radius:5px;
      cursor:pointer;
      border:1px solid #fc7f79;
    }
  }
  .promptbox{
    height:24px;
  }
  .protocol{
    padding-top: 10px;
    overflow: hidden;
    position: relative;
  }
  .protocol input{
    margin-top: 2px;
    float: left;
    margin-right: 10px;
    visibility: hidden;
  }
  .protocol label{
    cursor: pointer;
    position: absolute;
    width: 11px;
    height: 11px;
    top: 11px;
    left: 0;
    background: #fff;
    border:2px solid #fb615a;
    border-radius: 2px;
  }
  .protocol label:after {
    opacity: 0;
    content: '';
    position: absolute;
    width: 7px;
    height: 5px;
    background: transparent;
    top: 1px;
    left: 2px;
    border: 2px solid #fb615a;
    border-top: none;
    border-right: none;

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .protocol label:hover::after {
    opacity: 0;  }
  .protocol input[type=checkbox]:checked + label:after {
    opacity: 1;
  }

  .protocol span{
    font-size: 12px;
    color: #939393;
    float: left;
  }
  .protocol a{
    font-size: 12px;
  }
  .prompt{
    height:24px;
    display:none;
    em{
      float:left;
      width:12px;
      height:12px;
      margin:5px 5px 0 0;
    }
    .yqylbg{
      background-position: 0 -17px;
    }
    span{
      float:left;
      height:24px;
      line-height:24px;
      font-size:14px;
      color:#ff5a5a;
    }
  }
  .submit{
    display:block;
    width:280px;
    height:50px;
    border:none;
    background-color:#ff5a5a;
    color:#fff;
    text-align:center;
    line-height:40px;
    font-weight:bold;
    font-size:20px;
    border-radius:5px;
    cursor:pointer;
  }
  .submit:hover{background: #cc0000}
  .ensure{
    display: block;
    width: 143px;
    height: 43px;
    border: none;
    background-color: #ff5a5a;
    color: #fff;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 75px;
  }
  .ensure:hover{background: #cc0000}
  .start{
    .leftbg{
      width:130px;
    }
  }
  .phone{
    display:none;
    .leftbg{
      width:202px;
    }
    .get{
      height:360px;
      background:url(/styles/images/topic/yqyl/register_bindPhone.png) center bottom no-repeat;
    }
    .old{
      height:250px;

    }
    .end{
      .succeed{
        padding:10px;
        background-color:#f2f2f2;
        border-radius:5px;
      }
      .top{
        width:114px;
        height:26px;
        margin:0 auto;
      }
      .yqylbg{
        background-position: -186px -240px;
      }
      .bottom{
        height:24px;
        line-height:24px;
        font-size:14px;
        color:#666;
        text-align:center;
      }
    }
  }
  .phoneNumber{
    padding-bottom:18px;
    font-size:18px;
    line-height:14px;
    color:#666;
    text-align: center;
  }
  .hint{
    padding-top:20px;
    height:24px;
    text-align:center;
    a{
      color:#535353;
      font-size:14px;
    }
    a:hover{
      text-decoration:none;
    }
  }
  .error{
    height:24px;
    font-size:14px;
    line-height:24px;
    color:#ff5a5a;
    display:none;
  }
}
.title{
  width:100%;
  text-align:center;
}
.smtitle{
  width:500px ;
  overflow:hidden;
}
.title p{
  font-size: 16px;
  color:#0080cc;
}
.title span{
  color: #fb6c65;
  font-size: 16px;
}
.title h3{
  font-size: 22px;
}

.helper{
  margin-top: 37px;
  overflow: hidden;
  padding-bottom: 40px;
}
.helper li{
  float: left;
  text-align: center;
  margin-right: 50px;
}
.helper img{
  display: block;
}
.helper p{
  color: #535353;
  font-size: 12px;
}
.helper .clearm{
  margin: 0;
}
.platform{
  width:100%;
  overflow: hidden;
  text-align: left;
  margin-top: 40px;

}
.platforml{
  width:395px;
  float:left;
  border-right: 2px solid #fff;
  margin-left: 76px;
}
.platforml span{
  font-size: 20px;
  color:#0080cc;
}
.platforml li{

  height: 48px;
  line-height: 48px;
  padding-left: 120px;
}
.platformr li{

  height: 48px;
  line-height: 48px;
  padding-left: 120px;
}
.platform .blue{
  background: #0080cc;
  color: #fff;
  font-size: 20px;
  text-align: center;
  padding: 0;
}
.gray{
  background: #f4f4f4;
}
.platformr{
  width:395px;
  float:left;
}
.platformr span{
  font-size: 20px;
  color:#fb615a;
}
.tender{
  width: 100%;
  background: #0080cc;
  margin-top: 60px;
  padding-bottom: 45px;
  text-align: center;
}
.tender .title{
  text-align: center;
  padding: 40px 0 30px;
  position: relative;
}
.tender .smtitle{
  width: 500px;
  overflow: hidden;
  position: absolute;
  left:0;
  right:0;
  margin: auto;

}
.tender .title h3{
  color: #fff;
  float: left;
  padding: 0 10px;
}
.tender .title i{
  height: 100%;
  float: left;
}
.modinvest{
  position: relative;
  height: 363px;
}
.invest{
  width:960px;
  overflow: hidden;
  font-size: 14px;
  color:#333;
  position: absolute;
  left:0;
  right: 0;
  margin: auto;
}
.invest .item{
  float: left;
  width: 230px;
  height: 315px;
  padding: 14px 30px;
  margin: 20px 20px 0 0;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 2px 2px #e6e6e6;
}
.invest .hd{
  padding-bottom: 10px;
}
.invest .hd .logo{
  height: 45px;
  margin-bottom: 10px;
}
.invest .hd .logo a{
  display: block;
  cursor: default;
}
.invest .hd .logo img{
  display: block;
  height: 45px;
  margin: 0 auto;
  cursor: pointer;
}
.invest .hd .name{
  text-align: center;
  overflow: hidden;
  word-break: break-all;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.invest .hd .pos{
  margin-top: 6px;
  text-align: center;
}
.invest .hd .pos span{
  padding: 4px 7px;
  border: 1px solid #1e88e5;
  color: #1e88e5;
  font-size: 12px;
  line-height: 12px;
  border-radius: 2px;
  display: inline-block;
}
.invest .bd{
  overflow: hidden;
}
.invest .bd .year{
  float: left;
  font-weight: bold;

  font-size: 34px;
  width: 90px;
  text-align: center;
}
.invest .bd .year span{
  font-size: 12px;
}
.invest .bd .add{
  float: left;
  height: 42px;
  line-height: 42px;
  width: 20px;
  text-align: center;
  display: block;
  font-size: 24px;
  color: #b2b2b2;
}
.invest .bd .p2padd{
  float: left;
  font-weight: bold;

  font-size: 34px;
  color: #ea544a;
  width: 90px;
  text-align: center;
}
.invest .bd .p2padd span{
  font-size: 12px;
}
.invest .bd .list{
  color: #999;
  font-size: 14px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 2px dashed #e4e4e4;
  margin-top: 5px;
  overflow: hidden;
}
.invest .bd .list span{
  float: left;
  display: block;
  width: 100px;
  text-align: center;
}
.invest .bd .tit{
  line-height: 24px;
  position: relative;
  color: #b2b2b2;
}
.invest .bd .tit span{
  color: #b2b2b2;
  padding-left: 10px;
  margin-right: 5px;
}
.invest .fd{
  text-align: center;

}
.invest .fd a{

  margin-left: 30px;
  display: block;
  height: 50px;
  line-height: 50px;
  width: 180px;
  text-align: center;
  color: #ffffff;
  border: 1px solid #ea544a;
  border-radius: 5px;
  text-decoration: none;
  background: #ea544a;
  font-size: 18px;
}
.login{

  background: #f9f9f9;
  padding: 60px 0 90px;
}
.login .qt-width{
  margin: 0 auto;
}
.qt-width .title{
  text-align: center;
  padding: 40px 0 30px;
  position: relative;
}
.qt-width .smtitle{
  width: 600px;
  overflow: hidden;
  position: absolute;
  top:0;
  left:0;
  right:0;
  margin: auto;

}
.qt-width .serve{
  position: absolute;
  top:40px;
  left:0;
  right:0;
  margin: auto;
}
.qt-width .title h3{
  color: #383838;
  float: left;
  padding: 0 10px;
}
.qt-width .title i{
  height: 100%;
  float: left;
}
.login .redbag{
  overflow: hidden;
  padding-top: 43px;
}
.login .redbag li{
  float: left;
  margin-right: 20px;
  text-align: center;
}
.login .redbag .mg0{
  margin: 0;
}
.redbag .invite{
  font-size: 20px;
  color: #383838;
  padding: 16px 0 32px;
}
.redbag a{
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  background: #fb615a;
  padding:15px 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 5px;
}
#oldphoneTpl .inner{
  font-size:30px;
  color:#fb615a;
  line-height:30px;
  height:30px;
  font-weight:bold;
  text-align:center;
  padding-top: 20px;
}
#oldphoneTpl .hd {

  text-align: center;
  padding-bottom: 50px;
}
.register .captcha .changecolor{
  cursor:text;
  border:1px solid #787878; background:#787878; color:#fff;
}
.picode-item{
  display: none;
}
.codelayer{
  position:fixed;
  width:100%;
  top:0px;
  left:0px;
  z-index:50;
  height:100%;
  .codelayerbg {
    width:100%;
    height:100%;
    background:#000;
    @include opacity(0.6);
  }
  .codelayermain {
    position:absolute;
    top:50%;
    left:50%;
    width:380px;
    height:135px;
    margin:-67.5px 0px 0px -190px;
    text-align:center;
    background-color:#fff;
    border-radius:10px; 
  }
  .register_box{
    padding:20px 50px 0px;
    width:280px;
    height:64px;
    margin:0px;
  }
  .close{
    position: absolute;
    width:28px;
    height:30px;
    top:172px;
    right:562px;
    background:url(/styles/images/topic/qipashuo/close.png) 0 0 no-repeat;
    cursor:pointer;
    text-decoration:none;
    top:-10px;
    right:-10px;
    @include fadein(0.25s);
    &:hover{
      -webkit-transform:rotate(360deg);
      -moz-transform:rotate(360deg);
      transform:rotate(360deg);
    }
  }
  .submit{
    display: inline-block;
    width: 280px;
    height: 40px;
    border: none;
    border-bottom: 2px solid #e24242;
    background-color: #ff5a5a;
    color: #fff;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
      background:#cc0000;
    }
  }
}