@charset "UTF-8";
@import '../base/utils';
@import '../base/reset';
@import '../base/grid';
@import '../inc/ui';
@import '../inc/site-nav';
@import '../inc/header';
@import '../inc/footer';
@import '../mod/search';
@import '../mod/floatlayer';
@import '../mod/dialog';
@import '../mod/bind';
@import '../mod/activity';

body {
  background:#fff;
  color:#383838;
}
body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{
  font-family:"Microsoft YaHei";
}
.mod-floatlayer {
  display: none;
}
.sucess-header {
  text-align: center;
  height:82px;
  padding:64px 0px 0px;
  .lf {
    display: inline-block;
    vertical-align: top;
    .symbol {
      width:82px;
      height:82px;
      background: url("/styles/images/help/enroll/enroll2-icon.png") -529px 0 no-repeat;
    }
  }
  .rt {
    display: inline-block;
    padding:0px 0px 0px 12px;
    text-align:left;
    vertical-align: top;
    .hd {
      line-height: 34px;
      font-size:24px;
      font-weight: bold;
    }
    .bd {
      padding:9px 0px 0px;
      .text {
        line-height: 18px;
        color:#787878;
        font-size:14px;
      }
    }
  }
}
.mod-main {
  padding:0px 0px 64px;
}
.mod-section1 {
  padding:70px 0px 0px;
  .mod-addresult {
    background:#a2d63c;
    .bg-top {
      width:100%;
      height:91px;
      background:url(/styles/images/help/enroll/guide2-bg1.jpg) center top no-repeat;;
    }
    .bg-bottom {
      height: 104px;
      width:100%;
      background:#a2d63c url(/styles/images/help/enroll/guide2-bg2.jpg) center bottom no-repeat;
    }
    .addresult-hd {
      padding:18px 0px 0px;
      .text {
        display: block;
        height: 70px;
        width: 660px;
        line-height: 46px;
        font-size: 16px;
        color: #fff;
        font-weight: bold;
        margin: 0px auto;
        text-align: center;
        background: url("/styles/images/help/enroll/guide2-bg.png") center center no-repeat;
      }

    }
    .viewmore {
      padding:12px 0px 0px;
      text-align: center;
      .yqylbg {
        display: inline-block;
        text-align: left;
        width:180px;
        height:50px;
        padding:0px 0px 0px 80px;
        background:url("/styles/images/help/enroll/enroll2-icon.png") -340px -145px no-repeat ;
        color:#fff;
        line-height: 50px;
        font-size:18px;
        font-weight: bold;
        &:hover {
          background-position:-340px -216px;
          text-decoration: none;
        }
      }
    }
    .addresult-bd {
      width:1118px;
      margin:0px auto;
      padding:34px 0px 0px;
      .wrap {
        width:1145px;
      }

      .item{
        position: relative;
        float: left;
        width: 260px;
        height: 297px;
        margin: 0 25px 25px 0;
        overflow: visible;
        .ibds{
          position: absolute;
          top: 0;
          left: 0;
          width: 260px;
          height: 295px;
          border-top: 2px solid #ea544a;
          background-color: #fff;
          text-align: center;
          display: block;
          .label {
            position:absolute;
            float: left;
            left:-5px;
            top:-6px;
            z-index:2;
            img {
              width:84px;
            }
          }
          .ibds-a{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 326px;
            display: block;
            text-decoration: none;
          }
          .tle{
            width: 80%;
            height: 22px;
            line-height: 22px;
            font-size: 18px;
            font-weight: bold;
            color: #666666;
            margin: auto;
            margin-top: 18px;
            @include text-ellipsis;
          }
          .des{
            width: 80%;
            height: 14px;
            line-height: 14px;
            font-size: 14px;
            color: #666666;
            margin: auto;
            margin-top: 9px;
            @include text-ellipsis;
          }
          .bgs{
            max-width: 80%;
            height: 21px;
            line-height: 22px;
            font-size: 12px;
            padding: 0 10px;
            background-color: #eef9ff;
            color: #7197af;
            margin: auto;
            margin-top: 10px;
            border-radius: 3px;
            @include text-ellipsis;
            display: inline-block;
          }
          .tg1{
            height: 14px;
            line-height: 14px;
            font-size: 14px;
            color: #999999;
            margin: auto;
            margin-top: 30px;
          }
          .rat{
            height: 29px;
            line-height: 29px;
            font-size: 29px;
            font-weight: bold;
            color: #666666;
            margin: auto;
            margin-top: 10px;
            >span{
              span{
                position: relative;
                padding-left: 3px;
                font-size: 15px;
                .atr{
                  height: 16px;
                  line-height: 16px;
                  position: absolute;
                  top: -18px;
                  left: 3px;
                  display: block;
                  padding: 0 4px;
                  font-size: 9px;
                  background-color: #ea544a;
                  color: #fff;
                  border-radius: 3px;
                }
              }
            }
          }
          .tg2{
            height: 20px;
            line-height: 20px;
            font-size: 12px;
            color: #fff;
            padding: 0 12px;
            margin: auto;
            margin-top: 10px;
            background-color: #0080cc;
            border-radius: 3px;
            display: inline-block;
          }
          .tg2-em{
            height: 20px;
            line-height: 20px;
            margin: auto;
            margin-top: 10px;
            display: inline-block;
          }
          .bot{
            position: relative;
            width: 220px;
            height: 57px;
            line-height: 54px;
            margin: auto;
            margin-top: 27px;
            border-top: 2px solid #f2f2f2;
            font-size: 14px;
            color: #666;
          }
          transition: top,box-shadow .5s,.5s;
          &:hover{
            transition: top,box-shadow .5s,.5s;
            top: -7px;
            box-shadow: 0px 4px 20px #bcbcbc;
          }
        }
      }

    }
  }
}
.mod-section2 {
  padding:54px 0px 0px;
  .hd {
    .desc {
      color:#787878;
      font-size:13px;
      line-height: 32px;
      text-align: center;
    }
  }
  .bd {
    padding:36px 0px 0px;
    .slide-show {
      width:1140px;
      margin: 0px auto;
      height:170px;
      padding:0px 20px 0px 40px;
      overflow: hidden;
      position:relative;
      .list {
        width:100%;
        min-width:1200px;
        height: 170px;
        overflow: hidden;
      }
      .my-slide {
        width:380px;
        height:170px;
        float: left;
        .wrap {
          width:360px;
          height:170px;
          padding:0px 20px 0px 0px;
        }
        img {
          width:360px;
          height:170px;
        }
      }.swith {
         position:absolute;
         top:0px;
         background: #fff;
         width:40px;
         height:100%;
       }
      .swith-left{
        left:0px;
      }
      .swith-right{
        right:0px;
      }

      .icon {
        position:absolute;
        width:32px;
        height:50px;
        display: block;
        top:50%;
        margin-top:-25px;
        background: url("/styles/images/help/enroll/enroll2-icon.png") -172px 0px no-repeat;
        &:hover {
          text-decoration: none;
        }
      }
      .bx-prev {
        display: block;
        color:transparent;
        height:100%;
        width:100%;
      }
      .bx-next {
        display: block;
        color:transparent;
        height:100%;
        width:100%;
      }
      .slide-pre {
        left:0px;
        background-position:-172px 0px;
        &:hover {
          background-position:-172px -65px;
        }
      }
      .slide-next {
        right:0px;
        background-position:-256px 0px;
        &:hover {
          background-position:-256px -65px;
        }
      }
    }
  }
}
.mod-title {
  height: 28px;
  line-height: 28px;
  font-size:24px;
  font-weight: bold;
  text-align: center;
  .icon {
    height:12px;
    width:90px;
    padding:8px 0px;
    vertical-align: middle;
    .bg {
      display:block;
      width:90px;
      height:12px;
      background: url("/styles/images/help/enroll/enroll2-icon.png") -347px -324px no-repeat;
    }
  }
  .icon-lf {
    display: inline-block;
    .bg {
      background-position:-347px -324px ;
    }
  }
  .text {
    display: inline-block;
    vertical-align: middle;
    padding:0px 4px;
  }
  .icon-rt {
    display:inline-block;
    .bg {
      background-position:-606px -324px ;
    }
  }
}
.float-box {
  position:fixed;
  right:20px;
  bottom:50px;
  width:88px;
  .box {
    width:60px;
    height:60px;
    margin:0px auto 6px;
    cursor: pointer;
    border-radius: 4px;
    overflow: hidden;
    a{
      display: none;
      color:#fff;
      font-size:18px;
      padding:8px 5px 0px;
      width:50px;
      line-height: 24px;
      text-align: center;
      text-decoration: none;
    }
    &:hover {
      background: #cc0000;
      a {
        display: block;
      }
    }
  }
  .icon {
    background: url("/styles/images/help/enroll/icon_slider.png") -13px 0px no-repeat;
  }
  .return-top {
    display: none;
    width:60px;
    height:60px;
    margin:0px auto 6px;
    a {
      display: block;
      width:100%;
      height:100%;
      background-position:-13px 0px ;
      &:hover {
        background-position: -132px 0px;
      }
    }
  }
  .online {
    background-position:-13px -67px ;
  }
  .account {
    background-position:-13px -133px ;
  }
  .calculator {
    background-position:  -13px -200px;
  }
  .redsign {
    width:88px;
    height:88px;
    a {
      display: block;
      background-position: 0px -271px;
      width: 100%;
      height: 100%;
      &:hover {
        background-position: -119px -271px;
      }
    }
  }
  .show {
    display: block;
  }
}
.mod-calculator {
  position:fixed;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  z-index:10;
  .mask{
    width:100%;
    height:100%;
    background: #000;
    opacity: 0.6;
    filter:alpha(opacity=60);
  }
  .calculato-main {
    width:300px;
    padding:32px 50px 44px;
    height:324px;
    background: #fff;
    position:absolute;
    top:50%;
    left:50%;
    margin:-200px 0px 0px  -200px;
    border-radius: 4px;
    .hd {
      line-height: 58px;
      border-bottom:1px dashed #d9d9d9;
      text-align: center;
      .text {
        font-size:24px;
        font-weight: bold;
      }
      .close {
        display: block;
        width:26px;
        height:26px;
        position:absolute;
        right:12px;
        top:12px;
        color:transparent;
        background:url("/styles/images/help/enroll/enroll2-icon.png") -362px -68px no-repeat;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        &:hover {
          -webkit-transform: rotate(360deg);
          -moz-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
    }
    .bd {
      padding:0px 6px 0px;
      .item-common {
        width:120px;
        text-align: center;
        border-radius: 4px;
        font-size:18px;
        font-weight: bold;
        text-decoration: none;
      }
      .calcultor-process {
        padding:25px 0px 0px;
        .item {
          padding:0px 0px 24px;
          height:40px;
          .tit {
            line-height: 40px;
            float:left;
            padding:0px 14px 0px 0px;
          }
          .mod-input {
            height:38px;
            border:1px solid #dcdcdc;
            border-radius: 4px;
            line-height: 38px;
            float:left;
            overflow: hidden;
            .text {
              float:left;
              width:136px;;
              padding:0px 8px;
              height:38px;
              border:none;
            }
            .unit {
              float:left;
              width:38px;
              height:38px;
              border-left:1px solid #dcdcdc;
              text-align: center;
              color:#787878;
            }
          }
          .trem {
            border:none;
            height:40px;
            .text {
              border:1px solid #dcdcdc;
              border-radius: 4px;
              width:88px;
            }
            .unit-wrap {
              float:left;
              padding:0px 0px 0px 4px;
              .unit {
                border:1px solid #dcdcdc;
                border-radius: 4px;
                text-decoration: none;
                &:hover {
                  color:#fff;
                  background: #fb615a;
                  border:1px solid #fb615a;
                }
              }
              .mg-rt4 {
                margin:0px 4px 0px 0px;
              }
              .cur {
                color:#fff;
                background: #fb615a;
                border:1px solid #fb615a;
              }
            }
          }
        }
        .result {
          height:40px;
          float:left;
          color:#fff;
          line-height: 40px;
          background: #fb615a;
          &:hover {
            background: #ed3e3e;
          }
        }
        .reset {
          float:right;
          height:38px;
          line-height: 38px;
          color:#fb615a;
          border: 1px solid #fb615a;
          font-weight: normal;
          &:hover {
            background: #fb615a;
            color:#fff;
            border:1px solid #fb615a;
          }
        }
      }
      .calculator-result {
        text-align: center;
        padding:32px 0px 0px;
        display: none;
        .desc {
          font-size:14px;
          color:#787878;
          line-height: 26px;
        }
        .result-show {
          padding:16px 0px 56px;
          .num{
            text-align: center;
            line-height: 48px;
            font-size:25px;
            font-weight: bold;
            color:#fb615a;
            height: 48px;
            white-space:nowrap;
            .symbol {
              vertical-align: top;
              line-height: 56px;
            }
            .money{
              vertical-align: top;
              display: inline-block;
              font-size:38px;
              height: 48px;
              overflow: hidden;
            }
          }
          .info {
            font-size:14px;
            color:#787878;
            line-height: 1em;
          }
        }
        .reset-result {
          display: inline-block;
          height:40px;
          color:#fff;
          line-height: 40px;
          background: #fb615a;
          &:hover {
            background: #ed3e3e;
          }
        }
      }
    }
  }
}