@charset "UTF-8";
@import '../base/utils';
@import '../base/reset';
@import '../base/grid';
@import '../inc/ui';
@import '../mod/dialog';
@import '../inc/site-nav-ty';
@import '../inc/header-ty';
@import '../inc/footer-ty';
@import '../mod/bind';
@import '../mod/floatlayer';
@import '../mod/certification';
@import '../mod/activity';
@import '../mod/aside';
@import '../mod/animate';
@import '../mod/subject_comment';
@import '../mod/seoadvert';
@import '../inc/index-header';



.ellipsis{
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: keep-all;
    word-wrap: nowrap;
}
.extra {
	height: 0px;
	border-top: 1px solid #fff;
	margin-top: -1px;
}

@mixin bgborder{
  	background-color: #fff;
	//border: 1px solid #d5d5d5;
	padding: 0 15px;
}
@mixin btn($width,$height){
  width: $width;
  height: $height;
  line-height: $height;
  text-align: center;
  background-color: #f5faff;
  border: 1px solid #7ac9f6;
  color: #0099ee;
  border-radius: 5px;   
}
@mixin btnhover{
    background-color: #0099ee;
    color: #fff;
    text-decoration: none;
}
.main{
	// width: 820px;
	float: left;
    width: 100%;
}
.warp{
	margin-right: 380px;
}
.sub{
	float: left;     
    margin-left: -350px;    
    width: 348px;   
}      
.platform-list{
	padding: 5px 20px 20px;
	font-size: 14px;
	color: #333;
    word-break: break-all;
    background-color: #fff;
    th{
    	height: 42px;
    	line-height: 42px;
    	text-align: left;
    	text-indent: 8px;
    	font-size: 16px;
	  	font-weight: bolder;
    }
    td{
    	border: 1px solid #f2f7fe;
    	height: 35px;
    	line-height: 35px;
    	text-indent: 5px;
    	overflow: hidden;
    	text-overflow: ellipsis;
    	white-space: nowrap;
    	word-break: keep-all;
    	word-wrap: nowrap;
    }
    .cell-1{
    	width: 80px;
    	background-color: #f2f7fe;
    	text-align: center;
    }
    .cell-2{
    	width: 135px;
    	.cell-inner{
    		width: 135px;
    	}
    }
    .cell-3{
    	width: 94px;
    	.cell-inner{
    		width: 94px;
    	}
    }
    .cell-4{
    	width: 309px;
    	.cell-inner{
    		width: 309px;
    	}
    }
    .cell-inner{
    	@include text-ellipsis;
    }
    .cell-details{
    	padding-left: 6px;
    	color: #09e;
    }
	.tit{
	  position: relative;
		text-align: center;
		width: 150px;
		height: 49px;
	  	border-bottom:2px solid #eef1f3;
		background-color: #f5faff;
	  	color: #666666;
	  	.name{
		  padding: 0 35px 0 45px;
		}
	  	.icon{
		  width: 18px;
		  height: 16px;
	 	  top: 50%;
		  margin-top: -8px;
		  left: 26px;
		  position: absolute;
		  background-image: url(/styles/images/index/dangan.png);
		}
	  	.icon1{
		  background-position: 0 -720px;
		}
	  	.icon2{
		  background-position: -18px -720px;
		}
	  	.icon3{
		  background-position: -36px -720px;
		}
	  	.icon4{
		  background-position: -54px -720px;
		}
	  	.icon5{
		  background-position: -72px -720px;
		}
	  	.icon6{
		  background-position: -90px -720px;
		}
	  	.icon7{
		  background-position: -108px -720px;
		}
	  	.icon8{
		  background-position: -126px -720px;
		}
	  	.icon9{
		  background-position: -144px -720px;
		}
	  	.icon10{
		  background-position: -162px -720px;
	  	}
	}
  	.border {
	  	border-bottom:1px solid #f6f6f6;
	}
	.list_le{
	  	position: relative;
	  	width: 347px;
		border-bottom: 2px solid #f6f6f6;
		padding: 17px 20px;
		background-color: #fff;
	  	color:#000000;
	  	.txtEllpic230{
		  width: 230px;
		  @include text-ellipsis;
		}
	  	.link_gsxq{
		  position: absolute;
		  top: 50%;
		  margin-top: -9px;
		  right: 20px;
		  color: #0099ee;
		}
	}
	.list_ri{
	  width: 171px;
	  border-bottom: 2px solid #f6f6f6;
	  padding: 17px 20px;
	  background-color: #fff;
	  color:#000000;
	}
	.bg{
		float: right;
		font-size: 12px;
		color: #ff8500;
		padding: 0 8px;
		border: 1px solid #ff8500;
	  	line-height: 22px;
		margin: 0px 10px 0px 0px;
	  	border-radius: 4px;
	}
	.key{
		color: #1093e1;
		margin: 0 10px;
	}
	.colspan{
		.tit{
			height: auto;
		}
		.list{
			padding: 20px 0 20px 20px;
			.item{
				margin: 10px 0;
				dt{
				  	position: relative;
				  	padding-left:16px;
				  	height: 24px;
				}
			  	dd {
				  float: left;
				  margin:0px;
				}
				p{
					line-height: 24px;
					width: 576px;
				}
			}
		}
	}
  	.icons {
	  	width:8px;
	  	height:8px;
	  	border-radius:50%;
	  	display: block;
	  	background: #ff8500;
	  	position: absolute;
		left:0px;
	  	top:50%;
	  	margin-top:-4px;
	}
}
.paltform-title{
	line-height: 45px;
	.tit{
		float: left;
		font-weight: bold;
		font-size: 20px;
	  	a{
		  color: #333;
		  &:hover{
			color: #0099ee;
			text-decoration: none;
		  }
		}
	}
	.more{
		float: right;
		color: #1093e1;
		font-size: 14px;
	}

	.btn-more{
	  	float: right;
	  	margin-top: 6px;
		font-size: 14px;
		@include fadein(0.25s);
		@include btn(72px,28px);
		&:hover{
		  @include fadein(0.25s);
		  @include btnhover;
		}
	  	border-radius: 3px;
	}

} 
.platform-data{
	background-color: #fff;
	.hd{
		width: 179px;
		text-align: center;
		border-right: 1px solid #d5d5d5;
		.top{
			color: #fff;
			height: 135px;
			padding-top: 45px;
			background-color: #0099ee;
			.num{
				font-weight: bold;
				font-size: 20px;
				padding-bottom: 20px;
				span{
					font-size: 36px;
				}
			}
			.line{
				width: 103px;
				margin: 0 auto;
				height: 3px;
				background: url(/styles/images/index/icons.png) no-repeat 0 -425px;
			}
			.notice{
				line-height: 45px;
				font-size: 14px;
			}
		}
		.bottom{
			height: 74px;
			line-height: 74px;
			a{
				font-size: 16px;
				color: #009ff2;
			}
		}
	}
	.bd{
		padding-top: 10px;
		height:240px;
		width:630px;
		.tit{
			padding-top: 15px;
			font-size: 14px;
			color: #666;
			text-align: center;
		}
		.empty{
			line-height: 240px;
			img{
				display: block;
				margin: 0 auto;
			}
		}
	}
}   
.platform-loans{
	@include bgborder;
	line-height: 30px; 
	padding: 18px 0px 12px;
	.item{
	  	line-height: 26px;
	  	cursor: pointer;
	  	.item-wrap {
		  margin:0px 20px;
		  padding:11px 0px;
		  border-bottom:1px dashed #e9e9e9;
		}
	  	&:hover {
		  background: #f9f9fc;
		  .fr {
			@include fadein(0.25s);
			background-color: #009ff2;
			color: #fff;
			text-decoration: none;
		  }
		}
	}
	.hd{
		float: left;
		width: 260px;
		font-size: 14px;
		color: #333;
		margin-right: 20px;
		@include text-ellipsis;
	  	text-align: center;
	}
	.bd{
		float: left;
		text-align: center;
		.rate{
			float: left;
			width: 110px;
		}
		.firse_rate{
			float: left;
			width: 110px;
		}
		.again_rate{
			float: left;
			width: 110px;
		}
		.date{
			float: left;
			width: 90px;
			.cbs{
				font-size: 14px;
				font-weight: normal;
			}
		}
		.way{
			float: left;
			width: 140px;
		}
		.gray{
			font-size: 14px;
			color:#999;
		}
		.cbb{
			font-size: 14px;
			color: #333;
		}
		.cbs{
			font-weight: bold;
			font-size: 12px;
			color: #333;
		}
		.cr{
			font-weight: bold;
			font-size: 16px;
			color: #ff2600;
		}
		.crb{
			font-weight: bold;
			font-size: 16px;
			color: #ff2600;
		}
		.crs{
			font-weight: bold;
			font-size: 12px; 
			color: #ff2600;
		} 

	}
	.fr{
		float: right;
		font-size: 14px;
		@include fadein(0.25s);
		width: 80px;
		height: 26px;
		text-align: center;
	  	color:#009ff2;
		border-radius: 5px;
	  	font-weight: bold;
		&:hover{
			@include fadein(0.25s);
		  background-color: #009ff2;
		  color: #fff;
		  text-decoration: none;
		}
	}
	.empty{
		font-size: 14px;      
		color: #999;
		line-height: 20px;     
		padding-bottom: 15px;
		a{   
			color: #1093e1;
		} 
	}
  .tit {
	color:#383838;
	font-size: 14px;
	padding:0px 0px 18px;
	margin:0px 20px;
	border-bottom:1px solid #e9e9e9;
	font-weight: bold;
	line-height: 1em;
	.ft {
	  width: 80px;
	  float: left;
	  text-align: center;
	}
  }
}
.platform-details{
	background-color: #fff;
	font-size: 14px;
	color: #666;
	.hd{
		height: 40px;
		border-bottom: 1px solid #d5d5d5;
		.item{
			float: left;
			width: 100px;
			height: 40px;
			line-height: 40px; 
			text-align: center; 
			font-size: 16px;   
			color: #333;
		  	border: 0;
			border-right: 1px solid #d5d5d5;
			border-bottom: 1px solid #d5d5d5;
			background-color: #fff;
			&:hover{
				border-top: 3px solid #009ff2;
				border-bottom:1px solid #fff;
				margin-top: -3px;
				text-decoration: none;
			}
		}
		.current{
			border-top: 3px solid #009ff2;
			border-bottom:1px solid #fff;
			margin-top: -3px;
		}
	}
	.bd{
		display: none;
	  padding-bottom: 30px;
	  .item{
		margin-top: 25px;
		&:first-child{
		  margin-top: 30px;
		}
		@include clearfix;
		.tit{
		  padding: 0 14px 0 20px;
		  color: #666666;
		  font-size: 14px;
		  line-height: 22px;
		  font-weight: bold;
		  white-space: nowrap;
		  vertical-align: top;
		  span{
			padding-right: 6px;
			font-size: 18px;
		  }
		}
		.desc{
		  padding-right: 32px;
		  line-height: 23px;
		}
	  }

	}
	.active{
		display: block;
	}
	.senior{
	  	padding: 15px;
		line-height: 24px;
		.item{
			padding: 15px 30px;
		}
		.face{
			float: left;
			width: 118px;
			height: 138px;
			margin: 0 20px 0 15px;
			border: 1px solid #d5d5d5;
			img{
				display: block;
				width: 118px;
				height: 138px;
			}
		}
		.describe{
			float: left;
			width: 570px;
			.name{
				font-weight: bold;
				font-size: 14px;
				color: #333;
			}
			.job{
				font-size: 14px;
				color: #999;
				line-height: 30px;
			}
			.shortcut{
				font-size: 14px;
				color: #333;
			}
		}
	}
	.picinfo{
		line-height: 24px;
		padding: 0 15px 30px 65px;
		.hd-s{
			color: #z1093e1;
			font-size: 16px;
			line-height: 30px;
			margin-bottom: 20px;
		}
		.bd-s{
			a{
				width:140px;
				height:100px;
				float: left;
				margin-right: 29px;
				border: 1px solid #e5e5e5;
				img{
					display: block;
					width:100%;
					height:100%;
				}
			}
		}
	}
	.empty{
		height: 40px;
		padding: 0 0 0 15px;
		line-height: 40px;
	}
} 
.platform-tag{
	position: relative;
	.hd{
		height: 30px;
		line-height: 30px;
		margin-bottom: 5px;
		.impression-bd{
			height: auto;
		}   
		.progess{
			float: left;
			margin-top: 8px;
			height: 14px;    
			width: 140px;
			background-color: #e7e7e7;
			.progess-inner{
				height: 14px;
				background-color: #009ff2;
			}
		}
		.text{
			float: left;   
			margin-left: 10px;     
			font-size: 14px;
			color: #666;    
			span{
				color: #009ff2;
			}
			
		}    
	}    
	.bd{
		div.impression-bd{
			width: 540px;
			*height: 80px;
			a{
				background-color: #ececec;
				em{
					color: #999;
				}
			}
		}
		.impression-fr{
			position: absolute;
			top:50%;
			right: 20px;
			margin-top: -20px;
			font-size: 16px;
			@include fadein(0.25s);
			@include btn(142px,40px);
			&:hover{
				@include fadein(0.25s);
				@include btnhover;
			}
		}
	}
	
}
.platform-taglist{
	background-color: #fff;
	padding-bottom: 20px;
  	.comment-inner{
	  padding:0px;
	  margin:0px 20px;
	  border-top:1px solid #d5d5d5;
	}
	.bd{
		text-align: center;
		font-size: 14px;
		color: #666;
		background-color: #f6f6f6;
		height: 36px;
		line-height: 36px;
		margin: 0px 20px 0px;
		span{
			color: #1093e1;
		}    
		.more{
			color: #1093e1;
		}
	}
	.empty{
		line-height: 40px;
		padding-left: 20px;
		font-size: 14px;
		color: #666;
	}
}
.mod-comment .mc-public{margin-bottom: 0;border: 0 none;padding-bottom:20px;}
.mod-comment .comment-inner .feed-detail:last-child{border: 0 none;}
.platform-news{
	@include bgborder;
	padding: 20px;
	.hd{
		width: 250px;
		height: 140px;
		overflow:  hidden;
		margin-right: 20px;
		position: relative;
		a{
			color: #fff;
		}
		.pic{
			display: block;
			width: 250px;
		}
		.describe{
			position: absolute;
			bottom: 0;
			left: 0;
			color: #fff;
			font-size: 14px;
			height: 30px;
			width: 240px;
			padding-left:10px;
			line-height: 30px;
			@include text-ellipsis;
			background-color: rgba(0,0,0,0.54);
			background-color: #383838\9;
		}
	}
	.bd{
		float: left;
		width: 500px;
		.item{
			font-size: 14px;
			line-height: 28px;
		  	position: relative;
			.icons{
			  	position: absolute;
				height: 8px;
				width: 8px;
				top:50%;
				left:0;
			  	margin-top:-4px;
				background-color: #ff8500;
			  	border-radius: 50%;
			}
			.time{
				float: right;
				color: #909090;
			}
			a{
				float: left;
				width: 390px;
				@include text-ellipsis;
				color: #000;
			  	padding-left: 18px;
			}
		}
	}
} 
.platform-thread{
	@include bgborder;
	padding: 15px;
	  ul{
	    border-top:1px solid #e9e9e9;
	  }
	  .item {
	    padding:20px 0px;
	    border-bottom:1px dashed #d5d5d5;
	    font-family:'Microsoft YaHei',Arial;
	    font-size:14px;
	    line-height: 1em;
	    .mc-hd {
	      color:#1093e1;
	      font-size: 16px;
	      a {
	        color:#1093e1;
	        .c_color {
	          color:#ff0000;
	          font-weight: normal;
	          font-family: 'Microsoft YaHei',Arial;
	        }
	        &:hover{
	          .c_color{
	            color:#ff0000;
	            text-decoration: underline;
	          }
	        }
	      }
	      
	    }
	    .mc-bd {
	      padding:10px 0px 14px;
	      line-height: 30px;
	      color:#333;
	      .c_color{
	        color:#ff0000;
	        font-weight: normal;
	      }
	      a {
	        color:#ff8500;
	        padding-left:10px;
	      }
	    }
	    .mc-ft {
	      font-size:14px;
	      color:#999;
	      line-height: 1em;
	      span {
	        float:left;
	      }
	      .mc-ft-c {
	        padding-left:46px;
	      }
	      .mc-ft-r {
	        float:right;
	        font-family: Arial;
	        i{
	          display: inline-block;
	          width:20px;
	          height:14px;
	          background: url("/styles/images/index/icons.png") no-repeat 0px -660px;
	          vertical-align: top;
	        }
	        .ft-comment {
	          padding-right:10px;
	          i{
	            background-position:0px -681px;
	          }
	        }
	        .ft-see {
	          i {
	            background-position:0px -661px;
	            padding-right:3px;
	          }
	        }
	      }
	      .time {
	        font-family: Arial;
	      }
	    }
	  }
	  .extra {
	    height: 0px;
	    border-top:1px solid #fff;
	    margin-top:-1px;
	  }
}
.platform-ask{
  @include bgborder;
  padding: 15px;
  ul{
	border-top:1px solid #e9e9e9;
  }
  .item {
	padding:20px 0px;
	border-bottom:1px dashed #d5d5d5;
	font-family:'Microsoft YaHei',Arial;
	font-size:14px;
	line-height: 1em;
	.mc-hd {
	  color:#1093e1;
	  font-size: 16px;
	  padding-bottom: 10px;
	  a {
		color:#1093e1;
		.c_color {
		  color:#ff0000;
		  font-weight: normal;
		  font-family: 'Microsoft YaHei',Arial;
		}
		&:hover{
		  .c_color{
			color:#ff0000;
			text-decoration: underline;
		  }
		}
	  }

	}
	.mc-tag{
	  height:px;
	  padding-bottom:5px;
	  span{
		float: left;
		display: block;
		height:18px;
		line-height: 18px;
		padding:0 4px;
		margin-right: 10px;
		border:1px solid #e6e6e6;
		font-size: 12px;
		border-radius: 4px;
		color:#999;
	  }
	}
	.mc-bd {
	  padding-bottom:14px;
	  line-height: 30px;
	  color:#333;
	  .c_color{
		color:#ff0000;
		font-weight: normal;
	  }
	  a {
		color:#ff8500;
		padding-left:10px;
	  }
	}
	.mc-ft {
	  font-size:14px;
	  color:#999;
	  line-height: 1em;
	  span {
		float:left;
	  }
	  .mc-ft-c {
		padding-left:46px;
	  }
	  .mc-ft-r {
		float:right;
		font-family: Arial;
		i{
		  display: inline-block;
		  width:20px;
		  height:14px;
		  background: url("/styles/images/index/icons.png") no-repeat 0px -660px;
		  vertical-align: top;
		}
		.ft-comment {
		  padding-right:10px;
		  i{
			background-position:0px -681px;
		  }
		}
		.ft-praise {
		  i {
			background-position: 0px -272px;
			margin-top: -2px;
		  }
		}
	  }
	  .time {
		font-family: Arial;
	  }
	}
  }
  .extra {
	height: 0px;
	border-top:1px solid #fff;
	margin-top:-1px;
  }
}

.totaltag{
	padding-bottom: 20px;
	.top{
		height: 99px;
		margin: 8px 30px 0;
		border-radius: 50px;
		border: 1px solid #d5d5d5;
		overflow: hidden;
		.canvas{
			position: relative;
			float: left;
			width: 100px;
			height: 100px;
			.score{
				position: absolute;
				top: 0;
				left: 0;
				width: 100px;
				height: 100px;
				color: #009ff2;
				text-align: center;
				
				span{
					font-size: 15px;
				}
				.data{
					font-size: 32px;
					font-weight: bold;
					margin-top: 24px;
					line-height: 32px;
				}
				.word{
					font-size: 14px;
					font-weight: bold;
					line-height: 16px;
				}
			}
		}
		.text{
			float: left;
			font-size: 14px;
			color: #999;
			line-height: 30px;
			padding-top: 5px;
			margin-left: 20px;
			a {
				color: #333;
				&:hover {
					span {
						color: #009ff2;
					}
					text-decoration: none;
					color: #009ff2;
				}
			}
			span{
				color: #333;
			}
		}
	}
	.middle{
		.tit{
			font-size: 16px;
			color: #333;
			margin-top: 20px; 
		}  
		.tags{
			max-height: 70px;
			*height: 70px;
			overflow: hidden;
		}
		.item{
			float: left;
			height: 26px;
			line-height: 26px;
			margin-top: 10px; 
			margin-right: 10px;
			padding: 0 5px;
			color: #666;
			font-size: 14px;
			border-radius: 2px;
			background-color: #ececec;
			em{
				color: #999;
				margin-left: 4px;    
			}
		}
	}
	.bottom{
		a{
			display: block;
			@include btn(208px,40px);
			@include fadein(0.25s);
			margin: 30px auto 0;   
			font-size: 16px;
			&:hover{
				@include btnhover;  
				@include fadein(0.25s);
			}
		}     
	}    
}    
.totalclass{    
	padding-bottom: 20px;
	.empty{
		line-height: 60px;
		color: #999;
		font-size: 20px;
		font-style: italic;
		font-weight: bold;
		text-align: center;
	}
	.top{
		text-align: center;
		margin-bottom: 10px;
		.bonus{
			font-size: 20px;
			color: #333;
			line-height: 84px;
			strong{
				font-size: 30px;
				font-weight: bold;
				font-style: italic;
				color: #1093e1;
				margin: 0 5px;
			}
		  	.line{
			  width: 0;
			  height: 20px;
			  border-left: 1px dashed #f4f4f4;
			  margin: 0 30px;
			}
		}
		.data{
			font-size: 16px;
			color: #666;
			line-height: 30px;
		  	strong {
			  color: #e74d4b;
			}
		}
	}
	.middle{
		.item{
			float: left;
			width: 45%;
			font-size: 14px;
			color: #333;
			line-height: 34px;
			span{
				float: left;
				font-size: 14px;
				width: 95px;
				text-align: right;
		   		color: #999;
			}
		  	i {
			  color:#f26e00;
			}
		}
		.strong{
			font-size: 14px;
			font-weight: bold;
			span{
				font-weight: normal;
			}
		}
   
	}
	.bottom{
		text-align: center;
		a{
			color: #0099ee;
			display: block;
			margin: 12px 0 9px;
			font-size: 16px;
		}
	}
}
.otherplat{
	margin-top: -15px;
	padding-bottom: 20px;
	.item{
		float: left;
		width: 50%;
		height: 45px;
		font-size: 14px;
		margin: 20px 0 0;
		.logo{
			float: left; 
			width: 40px;
			height: 40px;
			border: 1px solid #d5d5d5;
			margin-right: 8px;
			overflow: hidden;
			line-height: 40px;
			vertical-align: middle;
			@include fadein(0.25s);
			img{
				width: 40px;
				vertical-align: middle;
			}
			&:hover{
				@include scale;
				@include fadein(0.25s);
			}
		}
		.name{
			display: block;
			color: #333;
			line-height: 20px;
			@include text-ellipsis;
		}
		.num{
			display: block;
			color: #666;
			line-height: 24px;
			span{
				color: #999;
			}
		}
	}
}
.aboutplat{
	.logo{
		display: block;
		margin: 0 auto;
		height: 43px;
		width: 43px;
		border: 1px solid #d5d5d5;
		border-radius: 2px;
		overflow: hidden;
		@include fadein(0.25s);
		img{
			display: block;
			height: 43px;
			width: 43px;
		}
		&:hover{
			@include scale;
			@include fadein(0.25s);
		}
	}
	.name{
		color: #333;
		font-size: 12px;
		@include text-ellipsis;
		text-align: center;
		line-height: 26px;
		padding: 5px 10px 0;
	}
	.item{
		float: left;
		width: 20%;
	}
}
.mod-aside .aboutplat{padding: 5px 5px 15px;}
.hotthread{
	padding-bottom: 10px;
	margin-top: -4px;
	.item{
		line-height: 34px;
		span{
			float: left;
			height: 16px;
			width: 16px;
			line-height: 16px;
			text-align: center;
			color: #fff;
			font-size:12px;
			margin-right: 10px;
			margin-top: 10px;
			border-radius: 2px;
			background-color:#dbdbdb;
		}
		a{
			display: block;
			font-size: 14px;
			color: #333;
			@include text-ellipsis;

		}
		.top3{
			background-color: #1093e1;
		}
	}
}
.newtag{
	margin-top: -10px;
	.item{
		.top{
			font-size: 14px;
			color: #666;
			line-height: 24px;
			padding-top: 10px;   
			.icon{
				padding-left:20px;
				background-image: url(/styles/images/index/icons.png);
				background-repeat: no-repeat;
			}
			.name{   
				font-size: 14px;
				color: #333;
			}
			.cname{
				color: #1093e1; 
				padding-right: 5px;  
			}
			.best{
				color: #ff7e15;
				background-position: 0 -454px;
			}
			.well{
				color: #1093e1;
				background-position: 0 -478px;
			}
			.bad{
				color: #999;
				background-position: 0 -501px;
			}
		}
		.middle{
			color: #000;
			font-size: 14px;
			line-height: 24px;
			margin: 5px 0;
		  	word-break: break-all;
		  	word-wrap: break-word;
			.more{
				color: #ff8100;
				word-break: keep-all;
				white-space: nowrap;
			}
		}
		.bottom{
			padding-bottom: 15px;
			border-bottom: 1px dashed #d5d5d5;
			margin-left: -6px;
			em{
				display: inline-block;
				width: 25px;
				height: 21px;
				vertical-align: middle;
				background: url(/styles/images/index/icons.png) no-repeat 1px 1px;
			  	margin-right:4px;
			}
			a{
				font-size: 14px;
				color: #999;
				margin-right: 15px;
				font-family: arial;
				i{
					font-style: normal;
				}
			}
			.praise em{
				background-position: 8px -270px;
			}
			.reply em{
				background-position: 8px -295px;;
			}
		}
	}
	.item:last-child{
		.bottom{
			border-bottom:0 none;
		}
	}
}
.picinfobox{
	position: fixed;
	width:1200px;
	z-index: 999;
	top:0;
	left:50%;
	margin-left: -600px;
	.close{
		float: right;
		width: 30px;
		height: 30px;
		background: url(/styles/images/index/icons.png) no-repeat -140px -751px;
	}
	.picinfo{
		width: 800px;
		margin: 0 auto;
	}
	.item{
		float: left;
		width: 800px;
		img{
			margin: 0 auto;
			display: block;
			max-height: 500px;
			max-width: 800px;
			*height: 500px;
		}
	}
	.prev{
		position: absolute;
		top:50%;
		margin-top: -20px;
		left: 50px;
		height: 70px;
		width: 70px;
		background: url(/styles/images/index/icons.png) no-repeat 0 -730px;
		a{
			display: block;
			height: 70px;
			width: 70px;
		}
	}
	.next{
		position: absolute;
		top:50%;
		margin-top: -20px;
		right: 50px;
		height: 70px;
		width: 70px;
		background: url(/styles/images/index/icons.png) no-repeat -70px -730px;
		a{
			display: block;
			height: 70px;
			width: 70px;
		}
	}
}
.compare{
  width:70px;
  height: 60px;
  position: fixed;
  right: 20px;
  top:125px;
  z-index: 100;
}
.comparebtn{
  display: inline-block;
  width:32px;
  height: 38px;
  padding: 11px 10px 11px 28px;
  background: #0080cc;
  color:#fff ;
  font-size:14px;
  font-weight: 800;
  text-decoration: none;
  position: relative;
  cursor: pointer;
}
.comparebtn:hover{
  text-decoration: none;
}
.comparebox{
  position: fixed;
  top:166px;
  right:20px;
  display: none;
  z-index: 1000;
  width:134px;
  background:#fff;
  -webkit-box-shadow: 0px 0px 2px #ececec;
  -moz-box-shadow: 0px 0px 2px #ececec;
  box-shadow: 0px 0px 2px #ececec;
}

#company_name{
  width:116px;
  height:14px;
  padding: 6px 0;
  margin:0 8px;
  color:#5e5e5e
}
.comparebox .disblock{
  display: block;
}
.ac_results{
  border: 1px solid #ddd;
  background-color: #fff;
  overflow: hidden;
  z-index: 99999;
  box-shadow: 0 1px 3px #ccc;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}
.ac_results li{
  margin: 0px;
  padding: 5px 0;
  cursor: pointer;
  display: block;
  width: 100%;
  font: menu;
  font-size: 14px;
  overflow: hidden;
  text-indent: 9px;
}
.ac_results li:hover{
  background: #e8e8e8;
}
.ac_results .ac_over{
  background:#e8e8e8 url(/styles/images/index/ptdb2.png) 85px center no-repeat;
}

.ac_results li:hover{
  background:#e8e8e8 url(/styles/images/index/ptdb2.png) 80px center no-repeat;
}
input:focus{outline:none;}
input:required:invalid{box-shadow: none;}
.groomadd{
  cursor: pointer;
}

.hd .pointer{
  color:#418fe1;
  cursor: pointer;
}
.hd .default{
  color:#a5a5a5;
  cursor: default;
}
.ac_results iframe{
  display: none;
}
.comparebox .disblock{
  display: block;
}
.ac_results{
  border: 1px solid #ddd;
  background-color: #fff;
  overflow: hidden;
  z-index: 99999;
  box-shadow: 0 1px 3px #ccc;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}
.ac_results li{
  margin: 0px;
  padding: 5px 0;
  cursor: pointer;
  display: block;
  width: 100%;
  font: menu;
  font-size: 14px;
  overflow: hidden;
  text-indent: 9px;
}
.ac_results li:hover{
  background: #e8e8e8;
}
.ac_results .ac_over{
  background:#e8e8e8 url(/styles/images/index/ptdb2.png) 85px center no-repeat;
}
.comparelist{
  overflow: hidden;
  margin-bottom: 10px;
}
.comparelist .seller{
  height: 50px;
  background: #fff;
  font-size: 16px;
  color: #000000;
  text-align: left;
  line-height: 50px;
  padding-left: 8px;
  border-top:1px solid #fff ;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #f0f0f0;
  position: relative;
}
.seller .hide{
  display: none;
}
.images{
  float: left;
  display: block;
  width:30px;
  height: 30px;
  margin: 10px 8px 0 0;
}
.images img{
  display: block;
  width: 100%;
  height: 100%;

}
.seller .ptname{
  float: left;
  font-size: 14px;
  color:#5e5e5e;
}

.del{
  display: none;
  width:16px;
  height:16px;
  float: right;
  background: url(/styles/images/search/icons.png) -33px -4px no-repeat;
  overflow: hidden;
  position: absolute;
  right: 0;
  top:0;
  cursor: pointer;
}
.comparenub{
  background: #3888df;
  overflow: hidden;
}
.comparenub p{
  float: left;
  font-size: 14px;
  color:#fff;
  padding-left: 8px;
  line-height: 34px;
}
.groom{
  padding: 8px 8px;
}
.groompt{
  overflow: hidden;
}
.groom p{
  padding-left: 8px;
  font-size: 14px;
  padding-top: 14px;
  color: #5e5e5e;
  overflow: hidden;
}
.groom p i{
  display: block;
  width:10px;
  height: 19px;
  float: right;
  background: url(/styles/images/index/ptdb2.png) 0px no-repeat;
}
.groom b{
  float: left;
  display: block;
  text-align: center;
  font-size: 16px;
  color:#bdbdbd;
  font-weight: 400;
}
.groom .lefti{
  float: left;
  height: 21px;
  width:20px;
  display: block;
  background: url(/styles/images/index/ptdb3.png) 0px no-repeat;
  margin-right: 5px;
}
.groom .righti{
  float: left;
  margin-left: 5px;
  height: 21px;
  width:20px;
  display: block;
  background: url(/styles/images/index/ptdb3.png) 0px no-repeat;
}

.btnbox{
  margin: 8px 8px;
  overflow: hidden;
}
.btnbox .clearlist{
  float: left;
  font-size: 14px;
  color:#0080cc;
  padding:3px 5px;
  border: 1px solid #0080cc;
  border-radius: 3px;
  margin-right: 4px;
  text-decoration: none;
  cursor: pointer;
}
.btnbox .compareing{
  float: left;
  padding: 4px 23px;
  background: #0080cc;
  color:#fff;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 3px;
}
.icon_left{
  display:block;
  width:12px;
  height: 21px;
  position: absolute;
  left:8px;
  top:20px;
  background: url(/styles/images/index/ptdbleft.png) no-repeat;
}
.icon_right{
  display: block;
  float: left;
  width:20px;
  height: 20px;
  background:#0070b2 url(/styles/images/index/ptdb1.png) no-repeat;
  margin:7px 8px 0 7px;
  cursor: pointer;
}
.ac_results li:hover{
  background:#e8e8e8 url(/styles/images/index/ptdb2.png) 80px center no-repeat;
}
input:focus{outline:none;}
input:required:invalid{box-shadow: none;}
.groomadd{
  cursor: pointer;
}
#company_name{
  border:1px solid #e8e8e8;background-color:transparent;
  font-size: 14px;
  text-indent: 5px;
}
.searchbtned{
  color:#a5a5a5;
  cursor: default;
}
.financial{
	width:100%;
}
.financial-list{
	width:100%;
	float:left;
	padding:20px 0;
	border-bottom:1px dashed #d6d6d6;
}
.financial-list:last-child{
	border:none;
}
.financial-list-avatar{
	float:left;
	width:60px;
}
.financial-list-info{
	float:right;
	width:255px;
}
.financial-list-avatar-aimg{
	display:block;
	width:50px;
	height:50px;
	border-radius:50px;
	img{
		display:block;
		width:50px;
		height:50px;
		border-radius:50px;
	}
	@include fadein(0.25s);
	&:hover{
		@include scale;
		@include fadein(0.25s);
	}
}

.financial-list-info-title{
	height:28px;
	font-size:14px;
	a{
		color:#333;
	}
	span{
		color:#0890e0;
		padding-right:12px;
	}
}
.financial-list-info-inner{
	height:22px;
	line-height:22px;
	font-size:14px;
}
.financial-list-info-money{
	float:left;
	color: #009ef1;
}
.financial-list-info-time{
	float:right;
	color:#787878;
}
.newask-list{
	width:100%;
	float:left;
	border-bottom:1px dashed #d5d5d5;
}
.newask-list-title{
	padding-top:5px;
	font-size:14px;
	hegiht:28px;
	line-height:28px;
	@include text-ellipsis;
	color:#383838;
	a{
		color:#383838;
	}
}
.newask-list-inner{
	height:22px;
	line-height:22px;
	font-size:12px;
	padding-bottom:10px;
}
.newask-list-inner-name{
	float:left;
}
.newask-list-inner-time{
	float:right;
}
.newask-list:last-child{
	border-bottom:0 none;
}
.mod-aside-hd-more{
	float:right;
	font-size:14px;
	color:#39a9ff;

}
.mod-aside{
	//返利红包
	.hongbao-class {
		font-size: 14px;
		//li {
		//	width: 280px;
		//	text-overflow: ellipsis;
		//	white-space: nowrap;
		//	height: 34px;
		//	padding: 0;
		//
		//}
		em {
			margin: 3px 10px 10px -2px;
			float: left;
			@include icon_fan;
			//background-image: url(/styles/images/index/dangan.png);
			//background-position: -743px -113px;
			//@include ratioBackground($url:'/styles/images/index/dangan.png', $size: 735px 1000px, $x:-72px, $y:-130.5px);
		}
		//.span-left1{
		//	display: inline-block;
		//	width: auto;
		//	background: #fff;
		//	color: #666;
		//	font-size: 14px;
		//	span {
		//		display: inline-block;
		//		height: 28px;
		//		width: auto;
		//		float: right;
		//		margin-top: 0px;
		//		margin-left: 5px;
		//		background: #fff;
		//		color: #666;
		//	}
		//}
		.span-left1{
			display: inline-block;
			//width: auto;
			background: #fff;
			color: #666;
			font-size: 14px;
			height: 28px;
			width: 280px;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}
		.span-left1 {
			float: left;
			margin-right: 10px;
			cursor: pointer;
		}
		.span-left1:hover {
			text-decoration: none;
			color: #0081cb;
			span {
				color: #0081cb;
			}
		}
	}
  .hd{
	.hd-more{
	  float: right;
	  font-size: 14px;
	  color: #0099ee;
	}
  }
  .bd{
	.cp_line{
	  @include clearfix;
	  .cp_icon{
		float: left;
		width: 51px;
		height: 51px;
		margin: 14px 10px 0 9px;
		background-image: url(/styles/images/index/dangan.png);
		background-position: 0 -500px;
	  }
	  .cp_txt{
		margin-top: 14px;
		font-size: 18px;
		overflow: hidden;
		width: 235px;
		height: 52px;
		line-height: 26px;
		float: left;
		a{
		  color: #333333;
		}
	  }
	  .le{
		line-height: 19px;
		font-size: 14px;
		padding: 30px 0 12px 14px;
		float: left;
		margin-right: 40px;
		.icon{
		  display: inline-block;
		  vertical-align: top;
		  width: 21px;
		  height: 17px;
		  background-image: url(/styles/images/index/dangan.png);
		  background-position: -346px -112px;
		}
		.red{
		  font-weight: bold;
		  color: #e74d4b;
		}
	  }
	  .ri{
		line-height: 19px;
		font-size: 14px;
		padding: 30px 0 12px 0;
		float: left;
		.icon{
		  display: inline-block;
		  vertical-align: top;
		  width: 21px;
		  height: 17px;
		  background-image: url(/styles/images/index/dangan.png);
		  background-position: -387px -112px;
		}
		.red{
		  font-weight: bold;
		  color: #e74d4b;
		}
	  }
	}
  }
}
　
/*.mod-comment .mc-impression .impression-bd li a{
  &:hover{
	border: 1px solid #0099ee;
	color: #0099ee;
	em{
	  color: #0099ee;
	}
  }
}*/
.platform-tag .bd div.impression-bd a{
  &:hover{
	border: 1px solid #0099ee;
	color: #0099ee;
	em{
	  color: #0099ee;
	}
  }
}
.mod-comment-popup .bd .reply-submit{
  background-color: #0099ee !important;
  &:hover{
	background-color: #0267ee !important;
  }
}



.mod-comment .comment-inner .comment .link a{
  color: #0099ee;
}
.platform-thread .item .mc-bd a{
  color: #0099ee;
}
.platform-ask .item .mc-bd a{
  color: #0099ee;
}
.newtag .item .middle .more{
  color: #0099ee;
}

/* 弹窗评论 */




#pingtaijianjie{
  .desc{
	padding: 0 32px 0 20px;
  }
}



/* bxslider */
.bx-controls{
  position: relative;
  height: 0;
  overflow: visible;
	.bx-prev{
	  position: absolute;
	  top: -61px;
	  left: -35px;
	  width: 18px;
	  height: 19px;
	  line-height: 19px;
	  color: #fff;
	  background-color: #707070;
	  background-image: url(/styles/images/index/dangan.png);
	  background-position: 0 -798px;
	  text-decoration: none;
	}
  	.bx-next{
	  position: absolute;
	  top: -61px;
	  right: -35px;
	  width: 18px;
	  height: 19px;
	  line-height: 19px;
	  color: #fff;
	  background-color: #707070;
	  background-image: url(/styles/images/index/dangan.png);
	  background-position: -18px -798px;
	  text-decoration: none;
	}
}

/* 股权结构图 */
.gqjgt{
  padding-left: 14px !important;
  padding-right: 11px !important;
  padding-top: 2.5px;
  padding-bottom: 20px;
  .tit{
	height: 19px;
	line-height: 19px;
	z-index: 1;
	@include clearfix;
	.le{
	  width: 6px;
	  height: 100%;
	  float: left;
	  position: relative;
	  .dian{
		position: absolute;
		top: 0;
		left: 0;
		color: #70caff;
		font-size: 18px;
		z-index: 1;
	  }
	}
	.ri{
	  width: 302px;
	  float: left;
	  margin-left: 15px;
	  font-size: 14px;
	  font-weight: bold;
	  color: #333333;
	  @include text-ellipsis;
	}
  }
  .first{
	margin-top: 17px !important;
	.line{
	  height: 53px !important;
	  height: 54px !important\9;
	}
  }
  .detail{
	height: 60px;
	margin-top: 20px;
	z-index: 0;
	@include clearfix;
	.le{
	  position: relative;
	  width: 6px;
	  height: 100%;
	  float: left;
	  .line{
		position: absolute;
		bottom: 32px;
		bottom: 29px\9;
		left: 2px;
		left: 3px\9;
		width: 2px;
		height: 76px;
		background-color: #f0f0f0;
		z-index: 0;
	  }
	  .dian{
		position: absolute;
		top: 20px;
		left: 0;
		color: #70caff;
		font-size: 18px;
		z-index: 1;
	  }
	}
	.ri{
	  width: 300px;
	  height: 100%;
	  float: left;
	  margin-left: 15px;
	  line-height: 19px;
	  background-color: #f5fbff;
	  border-radius: 4px;
	  .top{
		margin: 9px 0 0 10px;
		height: 19px;
		font-size: 14px;
		font-weight: bold;
		color: #333333;
		@include text-ellipsis;
	  }
	  .bot{
		margin: 4px 0 0 10px;
		height: 19px;
		font-size: 14px;
		color: #333333;
		@include text-ellipsis;
	  }
	}
  }
}


/* 置顶精华8.1 00:00 ---8.15:24:00后删除 start */

.mod-comment .comment-inner .feed-detail{
  position: relative;
  .jinghua-icon{
	position: absolute;
	top: 0;
	right: 0;
	width: 35px;
	height: 41px;
	@include retina('/styles/images/index/index_icons_1x_2x.png', 2, 1000px 1000px, center center no-repeat);
	background-position: 0 -40px !important;
  }
  .topFlagIcon{
	float: right;
	margin-right: 34px;
	margin-top: -2.5px;
	width: 19px;
	height: 19px;
	@include retina('/styles/images/index/index_icons_1x_2x.png', 2, 1000px 1000px, center center no-repeat);
	background-position: 0 -90px !important;
  }
}


/* 置顶精华8.1 00:00 ---8.15:24:00后删除 end */


.mod-comment .reply-box .reply-tool .reply-submit{
  display:inline-block;
}
.mod-comment .reply-box .reply-tool .reply-submit:hover{
  display: inline-block;
  text-decoration: none;
}

/* */
.platform-chart{
	padding: 19px 20px 0px;
	background-color: #fff;
}
.platform-chart-info{
	float: left;
	width: 436px;
}
.platform-chart-box{
	float: right;
	width: 340px;
  	position: relative;
}
.platform-chart-title{
	height: 20px;
	margin-bottom: 10px;
}
.platform-chart-num{
	float: left;
	padding: 0 10px;
	height: 40px;
	line-height: 40px;
	font-size: 24px;
	color: #fff;
	font-weight: 900px;
	background-color: #09e;
}
.platform-chart-text{
	float: left;

	p{
		color: #333;
		line-height: 17px;
		font-size: 12px;
	}
	p.platform-chart-text-top{
		line-height: 20px;
		font-size: 18px;
	  	font-weight: bold;
	  	color: #0099ee;
	  a{
		font-size: 12px;
		color: #999999;
		margin-left: 8px;
	  }
	}
}
.platform-chart-ulist{
	width: 100%;
	li{
		width: 210px;
		height: 26px;
	}
}
.platform-chart-ulist-left{
	float: left;
}
.platform-chart-ulist-right{
	float: right;
}
.platform-chart-ulist-dot{
	float: left;
	width: 6px;
	height: 6px;
	background-color: #09e;
	border-radius: 6px;
	margin: 10px 4px 0 0;
}
.platform-chart-ulist-inner{
	float: left;
	width: 198px;
	height: 26px;
	line-height: 26px;
	font-size: 14px;
	color: #333;
	@include text-ellipsis;
}
.platform-chart-box-title{
	height: 20px;
	line-height: 20px;
	font-size: 16px;
	color: #333;
	font-weight: bold;
  	position: absolute;
  	top:0;
}
.platform-chart-box-inner{
	width: 340px;
	height: 121px;
}
.platform-returnrecord {
	background:#fff;
	color:#333;
	font-size:14px;
	line-height:50px;
	text-align:center;
	.returnrecord-list {
		padding:0px 20px;
	}
	.tit {
		font-weight:bold;
		height:50px;
		overflow:hidden;
		border-bottom:2px solid #eef1f3;
	}
	.item {
		height:50px;
		//overflow:hidden;
		border-bottom:1px dashed #e9e9e9;
        position: relative;
		.returncrash {
			color:#e74d4b
		}
		span {
			@include text-ellipsis;
		}
		i{
            position: absolute;
			top: 16px;
			left: -5px;
			display: inline-block;
			width: 16px;
			height: 16px;
			background: url(/styles/images/club/daicon.png) no-repeat;
			@include ratioBackground($url:'/styles/images/club/daicon2.png', $size: 16px 16px);
		}

	}
	.term {
		width:102px;
		padding-right:18px;
	}
	.crash {
		width:132px
	}
	.rate {
		width:145px
	}
	.returncrash {
		width:136px
	}
	.profit {
		width:162px
	}
	.operation {
		width:80px
	}
	.link {
		color:#0099ee;
	}
}























