@charset "UTF-8";
@import '../base/utils';
@import '../base/reset';
@import '../base/grid';
@import '../inc/ui';
@import '../mod/dialog';
@import '../inc/site-nav';
@import '../inc/header';
@import '../inc/footer';
@import '../mod/search';
@import '../mod/tender';
@import '../mod/floatlayer';
@import '../mod/activity';
.jumpout{
    width: 470px;
    margin: 90px auto;
    padding: 50px;
    background-color:#fff;
    border: 4px solid #3dbbf9;
    box-shadow: 0 0 6px #3dbbf9;
    .tit{
        font-size:20px;
        color:#444;
        .name{
            color:#fc8f00;
            margin-right: 15px;
        }
    }
    .lead{
        font-size:20px;
        color:#444;
        height:50px;
        line-height:50px;
    }
    .notice{
        color: #e9544a;
        font-size: 12px;
        line-height: 20px;
    }
    .img{
        margin-top: 30px;
        img{
            float: left;
        }
        .mr{
            margin: 0 25px;
        }
        .platlogo{
            height:50px;
            width:140px;
        }
    }
    .goto{
        font-size:12px;
        color: #787878;
        text-align: right;
        margin-top: 30px;
        a{
            font-size:12px;
            color:#0080cc;
        }
    }
    .jump-plat{
        text-align: center;
        margin-top: 50px;
        a{
            display: block;
            height: 48px;
            width: 174px;
            line-height: 48px;
            color: #fff;
            text-align: center;
            border-radius: 5px;
            @include fadein(0.25s);
            &:hover{
                text-decoration: none;
            }
        }
        span{
            font-size: 12px;
            color: #787878;
        }
        .ui0080cc{
            background-color: #0080cc;
            &:hover{
                background-color: #00a2e1;
            }
        }
        .uie9544a{
            background-color: #e9544a;
            &:hover{
                background-color: #db3843;
            }
        }
    }
}
/*.jumphelp{
    width: 570px;
    margin: 90px auto;
    background-color:#fff;
    box-shadow: 0 0 6px #3dbbf9;
    border: 4px solid #3dbbf9;
    .logo{
        padding: 15px 20px 30px;
        a{
            float: right;
            font-size: 14px;
            color: #3dbbf9;
            line-height: 30px;
        }
    }
    .notice{
        height: 50px;
        text-align: center;
        color: #e9544a;
        font-size: 12px;
        line-height: 26px;
    }
    .tit{
        text-align: center;
        font-size:20px;
        color:#444;
        .name{
            color:#fc8f00;
            margin-right: 15px;
        }
        .lead{
            font-size:20px;
            color:#444;
            height:50px;
            line-height:20px;
        }
    }

    .jump-plat{
        padding: 0 70px 34px;
        text-align: center;
        a{
            display: block;
            height: 48px;
            width: 174px;
            line-height: 48px;
            color: #fff;
            text-align: center;
            border-radius: 5px;
            @include fadein(0.25s);
            &:hover{
                text-decoration: none;
            }
        }
        span{
            font-size: 12px;
            color: #787878;
        }
        .ui0080cc{
            background-color: #0080cc;
            &:hover{
                background-color: #00a2e1;
            }
        }
        .uie9544a{
            background-color: #e9544a;
            &:hover{
                background-color: #db3843;
            }
        }
    }
    .loanhelp{
        background-color: #e8f3fc;
        padding-bottom: 20px;
        .p{
            font-size: 18px;
            font-weight: bold;
            color: #e9544a;
            width: 120px;
            padding: 8px 0 15px;
            margin: 0 auto;
            span{
                margin-top: 10px;
                margin-right: 5px;
                height: 6px;
                width: 6px;
                border-radius:50%;
                background-color: #e9544a;

            }
        }
        .steps{
            margin: 0 65px;
            padding-bottom: 18px;
            border-bottom: 1px dashed #fff;
            font-size: 12px;
            color: #787878;
            text-align: center;
            li{
                text-align: left;
                height: 48px;
                background-image: url(/styles/images/tender/icons.png);
                background-repeat: no-repeat;
            }
            .choice{
                float: left;
                padding-left: 65px;
                background-position: -742px -59px;
            }
            .loans{
                display: inline-block;
                *display:inline;
                *zoom:1;
                padding-left: 56px;
                background-position: -750px -116px;
            }
            .prize{
                float: right;
                padding-left: 50px;
                background-position: -757px -176px;
            }
            strong{
                display: block;
                margin-top: 12px;
            }
        }
        .tel{
            text-align: center;
            color: #787878;
            font-size: 14px;
            line-height: 30px;
            margin-top: 5px;
            .help{
                display: inline-block;
                *display: inline;
                *zoom: 1;
                color: #fc8f00;
                font-size: 14px;
                margin-left: 20px;
                padding-left: 22px;
                height: 30px;
                line-height: 30px;
                background: url(/styles/images/tender/icons.png) no-repeat -782px -21px;
            }
        }
    }
}*/

.page_section{
    padding-bottom:0;
}
/*.webfail{
    display: none;
    width: 600px;
    height: 240px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -300px;
    margin-top: -120px;
    z-index:999;
    background-color:#fff;
    border-radius:5px;
}

.platjump{
    padding:36px 0 58px;
    text-align:center;
    h6{
        line-height:66px;
        font-size:48px;
        color:#66666a;
        font-family: "Micorsoft YaHei";
    }
    p{
        margin-bottom: 14px;
        line-height:68px;
        font-size:30px;
        color:#9a9a9a;
        font-family: "Micorsoft YaHei";
        span{
            font-size: 36px;
            color:#f93e48;
        }
    }
    .bj{
        margin: 0 auto;
        margin-bottom: 30px;
        width: 245px;
        height: 245px;
        background: url(/styles/images/common/plat_jump.png) no-repeat center;
    }
    .btn-wrap{
        a{
            display: inline-block;
            width:240px;
            height:80px;
            line-height:80px;
            font-size:32px;
            font-family: "Micorsoft YaHei";
            text-decoration: none;
            background:#35a0ee;
            color:#fff;
            border-radius:8px;
        }
    }
}
.jump-explain{
    line-height:30px;
    font-size:16px;
    color:#333;
}
.jump-btnbox{
    width:380px;
    height:50px;
    margin:0 auto;
    padding-top:40px;
}
.jump-btnbox-btn{
    width:100px;
    height:50px;
    border-radius:5px;
    line-height:50px;
    font-size:18px;
    color:#333;
    text-align:center;
    &:hover{
        text-decoration:none;
    }
}
.jump-btnbox-yes{
    float:left;
    background-color:#3dbbf9;
    color:#fff;
}
.jump-btnbox-no{
    float:right;
    background-color:#ccc;
}*/


.jum-hi{
    display: inline;
    position: absolute;
    width: 35px;
    height: 30px;
    top: -3px;
    left: 0;
    background: url(/styles/images/tender/icons.png) no-repeat 0 -350px;
}
.jum-sure{
    position: absolute;
    width: 31px;
    height: 31px;
    top: -5px;
    left: 0;
    background: url(/styles/images/tender/icons.png) no-repeat 0 -500px;
}
.jum-warn{
    position: absolute;
    width: 41px;
    height: 41px;
    top: -5px;
    left: 0;
    background: url(/styles/images/tender/icons.png) no-repeat 0 -300px;
}
.jum-bind{
    width: 1200px;
    height: 689px;
    margin: 20px auto 95px;
    background-color: #fff;
    text-align: center;
    .jum-1{
        width: 676px;
        height: 280px;
        margin: 106px auto 0 auto;
        background-color: #f9f9f9;
        .jum-1-1{
            height: 24px;
            line-height: 24px;
            font-size: 24px;
            font-weight: bold;
            padding-top: 32px;
            color: #666666;
            div{
                position: relative;
                display: inline-block;
                padding-left: 45px;
            }
        }
        .jum-1-2{
            height: 16px;
            line-height: 16px;
            font-size: 16px;
            margin-top: 9px;
            color: #666666;
        }
        .jum-1-3{
            margin-top: 19px;
            position: relative;
            .jum-1-3-1{
                position: relative;
                float: left;
                width: 169px;
                height: 89px;
                border: 1px solid #c0ddef;
                border-radius: 3px;
                margin-left: 29px;
            }
            .jum-1-3-2{
                position: absolute;
                left: 261px;
                top: 34px;
                width: 154px;
                height: 24px;
                background: url(/styles/images/tender/icons.png) no-repeat 0 -400px;
                i{
                    position: absolute;
                    top: 0;
                    left: 0;
                    padding: 24px 22px 0 0;
                    background: url(/styles/images/tender/icons.png) no-repeat 0 -450px;
                }
            }
            .jum-1-3-3{
                position: relative;
                float: right;
                width: 169px;
                height: 89px;
                border: 1px solid #c0ddef;
                border-radius: 3px;
                margin-right: 29px;
            }
            .jum-bg1{
                width: 127px;
                height: 120%;
                position: absolute;
                top: -10%;
                left: 21px;
                background-color: #f9f9f9;
            }
            .jum-bg2{
                width: 120%;
                height: 47px;
                position: absolute;
                left: -10%;
                top: 21px;
                background-color: #f9f9f9;
            }
            .jum-lg{
                position: absolute;
                top: 9px;
                left: 9px;
                width: 149px;
                height: 69px;
                border: 1px solid #3e9ed7;
                border-radius: 3px;
                display:table;
                _position:absolute;
                overflow:hidden;
                .wrap{
                    vertical-align:middle;
                    display:table-cell;
                    _position:absolute;
                    _top:50%;
                    .content{
                        width: 90%;
                        max-height: 69px;
                        margin: auto;
                        display: block;
                        _position:relative;
                        _top:-50%;
                        color: #a5a5a5;
                    }
                }
            }
        }
        .jum-1-4{
            text-align: left;
            margin-top: 18px;
            padding: 0 29px;
            font-size: 14px;
            line-height: 20px;
            color: #999999;
        }
    }
    .jum-2{
        margin-top: 20px;
        span{
            font-size: 14px;
            color: #666666;
        }
        .btn-bind,.btn-loans{
            display: inline-block;
            padding: 10px 30px;
            margin-bottom: 17px;
            font-size: 16px;
            font-weight: bold;
            color: #fff;
            background-color: #ea544a;
            text-decoration: none;
            border-radius: 3px;
            cursor: pointer;
            &:hover{
                background-color: #ea231a;
            }
        }
        .btn-gw{
            display: inline-block;
            margin-left: 14px;
            color: #999999;
            font-size: 12px;
            cursor: pointer;
        }
    }
    .jum-3{
        height: 12px;
        line-height: 12px;
        font-size: 12px;
        margin-top: 20px;
        color: #999999;
    }
}

.jum-bd-s{
    width: 1200px;
    height: 689px;
    margin: 20px auto 95px;
    background-color: #fff;
    text-align: center;
    .jum-1{
        .jum-1-1{
            font-size: 24px;
            font-weight: bold;
            line-height: 24px;
            padding-top: 55px;
            div{
                position: relative;
                display: inline-block;
                padding-left: 45px;
            }
        }
    }
    .jum-2{
        font-size: 14px;
        line-height: 14px;
        margin-top: 13px;
        .jum-2-1 {
            color: #666666;
            span {
                color: #02b5ac;
            }
        }
        .jum-2-2{
            display: none;
            color: #666666;
            span{
                color: #02b5ac;
            }
        }
    }
    .jum-3{
        position: relative;
        width: 674px;
        padding: 0 31px;
        margin: auto;
        margin-top: 21px;
        background-color: #f9f9f9;
        text-align: left;
        .jum-3-1{
            height: 90px;
            border-bottom: 1px dashed #e3e3e3;
            overflow: hidden;
            .des{
                .hidden{
                    display: none;
                }
            }
        }
        .jum-3-2{
            height: 90px;
            border-bottom: 1px dashed #e3e3e3;
            overflow: hidden;
        }
        .jum-3-3{
            position: relative;
            height: 47px;
            padding-top: 19px;
            overflow: hidden;
            i{
                top: 23px;
            }
        }
        .jum-3-4{
            position: relative;
            height: 47px;
            padding-top: 19px;
            overflow: hidden;
            display: none;
            i{
                top: 23px;
            }
            .des{
                padding-left: 17px;
            }
        }
        .jum-3-5{
            position: relative;
            height: 47px;
            padding-top: 19px;
            overflow: hidden;
            display: none;
            i{
                top: 26px;
            }
            .des{
                padding-left: 17px;
            }
        }
        .top{
            position: relative;
            margin-top: 30px;
            line-height: 16px;
            white-space: nowrap;
        }
        .bot{
            font-size: 14px;
            line-height: 14px;
            margin-top: 10px;
            color: #999999;
        }
        i{
            width: 9px;
            height: 9px;
            position: absolute;
            top: 2px;
            left: 0;
            display: block;
            background: url(/styles/images/tender/icons.png) no-repeat 0 -550px;
        }
        .tit{
            font-weight: bold;
            font-size: 16px;
            line-height: 16px;
            padding-left: 17px;
        }
        .des{
            font-size: 14px;
            line-height: 14px;
            white-space: nowrap;
        }
    }
    .jum-4{
        margin-top: 31px;
        line-height: 37px;
        >a{
            font-size: 16px;
            padding: 10px 30px;
            background-color: #ea544a;
            color: #fff;
            border-radius: 3px;
            text-decoration: none;
            &:hover{
                background-color: #ea2812;
            }
        }
        .jum-4-1, .jum-4-2{
            display: none;
            .link_qtbd{
                padding: 10px 30px;
                font-size: 16px;
                background-color: #169BD5;
                color: #fff;
                border-radius: 3px;
                text-decoration: none;
                &:hover{
                    background-color: #0f82d5;
                }
            }
            .link_ptgw{
                margin-left: 30px;
                font-size: 12px;
                color: #666674;
            }
        }
    }
    .jum-5{
        font-size: 12px;
        line-height: 12px;
        margin-top: 27px;
        color: #999999;
    }
}


.jump-reqError{
    text-align: center;
    .tit{
        margin-top: 17px;
        line-height: 30px;
        font-size: 30px;
        font-weight: bold;
        div{
            position: relative;
            display: inline-block;
            padding-left: 51px;
        }
    }
    .con{
        margin-top: 24px;
        font-size: 14px;
        line-height: 14px;
        color: #666666;
    }
    .btns{
        margin-top: 41px;
        a{
            border: 1px solid #60b0df;
            padding: 10px 39px;
            font-size: 15px;
            line-height: 35px;
            border-radius: 3px;
            &:hover{
                background-color: #3a96df;
                color: #fff;
            }
        }
    }
}

.jump-platformLimitold{
    text-align: center;
    .tit{
        margin-top: 17px;
        line-height: 30px;
        font-size: 30px;
        font-weight: bold;
        div{
            position: relative;
            display: inline-block;
            padding-left: 51px;
        }
    }
    .con{
        margin-top: 24px;
        font-size: 14px;
        line-height: 14px;
        color: #666666;
    }
    .btns{
        margin-top: 41px;
        a{
            border: 1px solid #60b0df;
            padding: 10px 39px;
            font-size: 15px;
            line-height: 35px;
            border-radius: 3px;
            &:hover{
                background-color: #3a96df;
                color: #fff;
            }
        }
    }
}

.jump-platformPrompt{
    text-align: center;
    .tit{
        margin-top: 17px;
        line-height: 30px;
        font-size: 30px;
        font-weight: bold;
        div{
            position: relative;
            display: inline-block;
            padding-left: 51px;
        }
    }
    .con{
        margin-top: 24px;
        font-size: 14px;
        line-height: 24px;
        color: #666666;
    }
    .btns{
        margin-top: 41px;
        a{
            border: 1px solid #60b0df;
            padding: 10px 39px;
            font-size: 15px;
            line-height: 35px;
            border-radius: 3px;
            &:hover{
                background-color: #3a96df;
                color: #fff;
            }
        }
    }
}
//模板

.identif-code-item{
    position: relative;
}
.identif-code-input{
    width: 388px;
    height: 36px;
    border: 1px solid #e8e8e8;
    color: #b8b8b8;
    font-size: 14px;
    padding-left: 10px;
}
.eye-icon{
    display: block;
    width: 30px;
    height: 36px;
    position: absolute;
    top: 1px;
    right: 3px;
    cursor: pointer;
    background: url(/styles/images/member/icon.png) ;
    @include ratioBackground($url:"/styles/images/member/icon.png",$size:550px 140px);
    background-repeat: no-repeat;
}
.eye-close{
    background-position: -436px -40px;
    @include ratioBackgroundPosition($x:-436px ,$y:-70px );
}
.eye-open{
    background-position: -468px -40px;
    @include ratioBackgroundPosition($x:-468px ,$y:-70px );
}
.error-prompt{
    width: 400px;
    height: 20px;
    font-size: 12px;
    color: #ea544a;
    margin: 9px auto 0px;
    span{
        display: none;
    }
    i{
        display: inline-block;
        width: 14px;
        height:12px;
        margin-right: 3px;
        background: url(/styles/images/member/icon.png);
        background-position:-318px -52px;
        @include ratioBackgroundPosition($x:-637px ,$y:-163px );
    }
    a{
        float: right;
        font-size: 14px;
        color: #0080cc;
    }
}
.shut-down{
    width: 100%;
    font-size: 12px;
    color: #b0b0b0;
    text-align: center;
    margin-top: 24px;
}
.identif-code-btn{
    display: block;
    width: 123px;
    height: 35px;
    color: #1088cf;
    border: 1px solid #1088cf;
    line-height: 35px;
    text-align: center;
    margin: 17px auto 0px;
    border-radius:5px ;
    background: #fff;
    cursor: pointer;
}
.showpwd{
    display: none;
}
.gethref{
    display: none;
}


.identif-code-item{
    position: relative;
}
.identif-code-input{
    width: 388px;
    height: 36px;
    border: 1px solid #e8e8e8;
    color: #b8b8b8;
    font-size: 14px;
    padding-left: 10px;
}
.eye-icon{
    display: block;
    width: 30px;
    height: 36px;
    position: absolute;
    top: 1px;
    right: 3px;
    cursor: pointer;
    background: url(/styles/images/member/icon.png) ;
    background-repeat: no-repeat;
}
.eye-close{
    background-position: -436px -40px;
    @include ratioBackgroundPosition($x:-872px ,$y:-168px );
}
.eye-open{
    background-position: -468px -40px;
    @include ratioBackgroundPosition($x:-936px ,$y:-168px );
}
.error-prompt{
    width: 400px;
    height: 20px;
    font-size: 12px;
    color: #ea544a;
    margin: 9px auto 0px;
    span{
        display: none;
    }
    i{
        display: inline-block;
        width: 14px;
        height:12px;
        margin-right: 3px;
        background: url(/styles/images/member/icon.png);
        background-position:-318px -52px;
        @include ratioBackgroundPosition($x:-637px ,$y:-163px );
    }
    a{
        float: right;
        font-size: 14px;
        color: #0080cc;
    }
}
.shut-down{
    width: 100%;
    font-size: 12px;
    color: #b0b0b0;
    text-align: center;
    margin-top: 24px;
}
.identif-code-btn{
    display: block;
    width: 123px;
    height: 35px;
    color: #1088cf;
    border: 1px solid #1088cf;
    line-height: 35px;
    text-align: center;
    margin: 17px auto 0px;
    border-radius:5px ;
    background: #fff;
    cursor: pointer;
}
.showpwd{
    display: none;
}
.gethref{
    display: none;
}
/* 用户投资流程引导 */
.ui-guide{
    height: 40px;
    background-color: #f9f9f9;
    padding: 0 60px;
}
.ui-guide-l{
    float: left;
    width: 110px;
    padding-left: 30px;
    height: 40px;
    background: url(/styles/images/loans/ui-guidebg.png) 0 0 no-repeat;
    font-size: 14px;
    color: #fff;
    line-height: 40px;
    text-align: left;
}
.ui-guide-m{
    float: left;
    width: 930px;
    height: 40px;
    li{
        height: 40px;
        float: left;
        position: relative;
        cursor: default;
    }
}
.ui-guide-m-hide{
    position: absolute;
    left: 31px;
    top: -46px;
    padding: 5px 8px;
    height: 36px;
    line-height: 18px;
    background-color: rgba(0,0,0,0.6);
    color: #fff;
    font-size: 12px;
    border-radius: 5px;
    display: none;
    text-align: left;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000);
}
.ui-guide-m-jiao{
    position: absolute;
    left: 50%;
    bottom: -8px;
    width: 0;
    height: 0;
    margin-left: -8px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid rgba(0,0,0,0.6);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000);
}
.ui-guide-m-arrow{
    float: left;
    width: 7px;
    height: 11px;
    margin-top: 16px;
    margin-right: 24px;
    background: url("/styles/images/loans/arrowbg_normal.png") 0 0 no-repeat;
    @include ratioBackground($url:'/styles/images/loans/arrowbg_double.png', $size: 7px 24px, $x:0px, $y:0px);
}
.ui-guide-m-noarrow{
    float: left;
    width: 7px;
    height: 11px;
    margin-top: 16px;
    margin-right: 24px;
}
.ui-guide-m-number{
    float: left;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    line-height: 16px;
    font-size: 12px;
    background-color: #999;
    color: #fff;
    vertical-align: middle;
    text-align: center;
    margin-right: 6px;
    margin-top: 13px;
}
.ui-guide-m-inner{
    float: left;
    padding-right: 24px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: #333;
}
.ui-guide-m-active{
    .ui-guide-m-arrow{
        background: url("/styles/images/loans/arrowbg_normal.png") 0 -13px no-repeat;
        @include ratioBackground($url:'/styles/images/loans/arrowbg_double.png', $size: 7px 24px, $x:0px, $y:-13px);
    }
    .ui-guide-m-number{
        background-color: #ea544a;
    }
    .ui-guide-m-inner{
        color: #ea544a;
    }
}
.ui-guide-m-hover{
    .ui-guide-m-inner{
        font-weight: bold;
    }
}

/* 用户投资流程引导 */
