@charset "UTF-8";
@import '../base/utils';
@import '../base/reset';
@import '../base/grid';
@import '../inc/ui';
@import '../inc/site-nav';
@import '../inc/header';
@import '../inc/footer';
@import '../mod/floatlayer';


.w960{
  width: 960px;
  margin: 0 auto;
}
.page_section {
  padding-bottom: 0;
}
.content-wrap{
  padding: 507px 0 60px;
  background: #feaf7f url(/styles/images/welfare/bg.png) no-repeat;
  background-position: top center;
  @include ratioBackground($bgcolor: #feaf7f, $url:'/styles/images/welfare/bg-2x.png', $x: center, $y: top,$size: 1920px 1253px );
}
.content-wrap58{
  padding: 507px 0 60px;
  background: #feaf7f url(/styles/images/welfare/bg58.png) no-repeat;
  background-position: top center;
  @include ratioBackground($bgcolor: #feaf7f, $url:'/styles/images/welfare/bg58-2x.png', $x: center, $y: top,$size: 1920px 1253px );
}
.count-down-tips{
  display: block;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  color: #845600;
  text-align: center;
}
.count-down-wrap{
  width: 360px;
  height: 38px;
  margin: 0 auto 35px;
}
.count-down-number{
  float: left;
  width: 30px;
  height: 38px;
  line-height: 38px;
  background-color: #612b00;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  border-radius: 6px;
  text-align: center;
}
.count-down-number+.count-down-number{
  margin-left: 1px;
}
.count-down-unit{
  float: left;
  width: 27px;
  height: 38px;
  line-height: 38px;
  color: #612b00;
  font-size: 16px;
  text-align: center;
}



.section-wrap{
  position: relative;
  padding: 0 20px 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-image: url(/styles/images/welfare/line-bg.png);
  background-size: 40px 69px;
}
.section-wrap + .section-wrap{
  margin-top: 30px;
}
@include ratio(){
  .section-wrap{
    background-image: url(/styles/images/welfare/line-bg-2x.png);
  }
}




.have-in-hand{
  font: 0/0 a;
  position: absolute;
  top: 0;
  left: 0;
  width: 135px;
  height: 133px;
  background:  url(/styles/images/welfare/new-icon.png) no-repeat;
  background-position: -135px 0;
  @include ratioBackground($url:'/styles/images/welfare/new-icon-2x.png', $x: -135px, $y: 0px,$size: 1000px 322px );
  z-index: 10;
}
.task-wrap .task-title{
  width: 525px;
}
.task-title{
  font-weight: bold;
  height: 66px;
  line-height: 66px;
  font-size: 22px;
  color: #612b00;
  text-align: center;
  margin: 0 auto;
}
.task-adorn{
  display: block;
  float: left;
  height: 11px;
  width: 191px;
  margin-top: 29px;
}
.task-adorn-l{
  background:  url(/styles/images/welfare/new-icon.png) no-repeat;
  background-position: -475px 0;
  @include ratioBackground($url:'/styles/images/welfare/new-icon-2x.png', $x: -475px, $y: 0px,$size: 1000px 322px );
}
.task-adorn-r{
  background:  url(/styles/images/welfare/new-icon.png) no-repeat;
  background-position: -675px 0;
  @include ratioBackground($url:'/styles/images/welfare/new-icon-2x.png', $x: -675px, $y: 0px,$size: 1000px 322px );
}

.task-title-word{
  display: block;
  float: left;
  height: 60px;
  width: 142px;
}

.section-box{
  position: relative;
  margin: 0 auto;
  background-color: #fff;
}
.box-spot{
  position: absolute;
  height: 10px;
  width: 10px;
  background:  url(/styles/images/welfare/new-icon.png) no-repeat;
  background-position: -455px 0;
  @include ratioBackground($url:'/styles/images/welfare/new-icon-2x.png', $x: -455px, $y: 0px,$size: 1000px 322px );
}
.box-spot-lt{
  left: 13px;
  top: 13px;
}
.box-spot-lb{
  left: 13px;
  bottom: 13px;
}
.box-spot-rt{
  top: 13px;
  right: 13px;
}
.box-spot-rb{
  right: 13px;
  bottom: 13px;
}
.task-wrap .section-box{
  height: 145px;
  padding: 35px 50px;
  background: #fff  url(/styles/images/welfare/naozhong.png) no-repeat;
  background-position: 560px 30px;
  @include ratioBackground($bgcolor: #fff, $url:'/styles/images/welfare/naozhong-2x.png', $x: 560px, $y: 30px,$size: 231px 220px );
}

.task-teaching{
  position: absolute;
  top: 15px;
  right: 48px;
  height: 13px;
  line-height: 13px;
  font-size: 12px;
  color: #b95200;
  cursor: pointer;
}
.task-teaching:hover .task-teaching-word{
  text-decoration: underline;
}
.task-teaching-icon{
  display: block;
  float: left;
  height: 13px;
  width: 12px;
  background:  url(/styles/images/welfare/new-icon.png) no-repeat;
  background-position: -435px 0;
  @include ratioBackground($url:'/styles/images/welfare/new-icon-2x.png', $x: -435px, $y: 0px,$size: 1000px 322px );
}
.task-teaching-word{
  margin-left: 5px;
  float: left;
}
.task-red-packet{
  height: 135px;
  width: 122px;
  margin: 5px 30px 0 15px;
  background:  url(/styles/images/welfare/new-icon.png) no-repeat;
  background-position: 0 0;
  @include ratioBackground($url:'/styles/images/welfare/new-icon-2x.png', $x: 0px,$y: 0px,$size: 1000px 322px );
}
.task-red-packet58{
  height: 135px;
  width: 122px;
  margin: 5px 30px 0 15px;
  background:  url(/styles/images/welfare/hb58.png) no-repeat;
  @include ratioBackground($url:'/styles/images/welfare/hb58-2x.png',$size: 135px 122px );
}
.task-info{
  width: 650px;
  color: #612b00;
}
.task-info-top{
  padding-top: 18px;
}
.task-info-left{
  float: left;

}
.task-info-20{
  display: block;
  font-size: 20px;
  margin-bottom: 13px;
}
.task-info-30b{
  display: block;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 18px;
}

.task-info-30b .red{
  font-size: 30px;
  font-weight: bold;
  color: #f7544a;
}


.task-info-link{
  display: block;
  height: 56px;
  width: 149px;
  margin-top: 25px;
  float: right;
  line-height: 56px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  background:  url(/styles/images/welfare/new-icon.png) no-repeat;
  background-position: -270px 0;
  @include ratioBackground($url:'/styles/images/welfare/new-icon-2x.png', $x: -270px,$y: 0px,$size: 1000px 322px );
}
.task-info-link:hover{
  text-decoration: none;
}
.task-info-bottom{
  display: block;
  font-size: 12px;
}








.task-rule-btn{
  position: absolute;
  top: 20px;
  right: 25px;
  height: 30px;
  width: 85px;
  line-height: 30px;
  text-align: center;
  background-color: #fbc165;
  color: #612b00;
  font-size: 14px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  cursor: pointer;
}
.task-rule-btn:hover{
  text-decoration: underline;
}
.step-wrap .section-box{
  padding: 40px 40px 55px;
}


.step-hd{
  height: 80px;
  border-bottom: 1px dashed #feb734;
}
.step-hd-list{
  position: relative;
  width: 685px;
  margin: 0 auto;
}
.step-hd-item{
  height: 48px;
  color: #fff;
  line-height: 47px;
  font-size: 16px;
  float: left;
  cursor: pointer;
}
.step-hd-fitst{
  padding-left: 23px;
  width: 125px;
  background:  url(/styles/images/welfare/new-icon.png) no-repeat;
  background-position: -500px -20px;
  @include ratioBackground($url:'/styles/images/welfare/new-icon-2x.png', $x: -500px,$y: -20px,$size: 1000px 322px );
}
.step-hd-next{
  padding-left: 28px;
  width: 120px;
  margin-left: 30px;
  background:  url(/styles/images/welfare/new-icon.png) no-repeat;
  background-position: -675px -20px;
  @include ratioBackground($url:'/styles/images/welfare/new-icon-2x.png', $x: -675px,$y: -20px,$size: 1000px 322px );
}
.step-hd-number{
  display: block;
  float: left;
  height: 14px;
  width: 14px;
  margin-top: 14px;
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #fff;
  text-align: center;
}
.step-hd-word{
  display: block;
  float: left;
  margin-left: 5px;
}
$slideTransition: all 1s cubic-bezier(0.8, -0.3, 0.2, 1.3);
.step-hd-point{
  position: absolute;
  top: 55px;
  left: 60px;
  height: 10px;
  width: 16px;
  background:  url(/styles/images/welfare/new-icon.png) no-repeat;
  background-position: -475px -20px;
  @include ratioBackground($url:'/styles/images/welfare/new-icon-2x.png', $x: -475px,$y: -20px,$size: 1000px 322px );
  transition: $slideTransition;
}
.step-hd-point.step-1{
  left: 60px;
}
.step-hd-point.step-2{
  left: 238px;
}
.step-hd-point.step-3{
  left: 416px;
}
.step-hd-point.step-4{
  left: 594px;
}


.step-bd-wrap{
  position: relative;
  width: 840px;
  height: 172px;
  margin-top: 40px;
  overflow: hidden;
}
.step-bd-list{
  width: 3500px;
  transition: $slideTransition;
}
.step-bd-item{
  float: left;
  padding: 0 107px 0 73px;
  width: 660px;
  height: 172px;
}
.step-bd-icon{
  float: left;
  height: 172px;
  width: 172px;
}
.icon-step1{
  background:  url(/styles/images/welfare/new-icon.png) no-repeat;
  background-position: 0 -150px;
  @include ratioBackground($url:'/styles/images/welfare/new-icon-2x.png', $x: 0px,$y: -150px,$size: 1000px 322px );
}
.icon-step2{
  background:  url(/styles/images/welfare/new-icon.png) no-repeat;
  background-position: -172px -150px;
  @include ratioBackground($url:'/styles/images/welfare/new-icon-2x.png', $x: -172px,$y: -150px,$size: 1000px 322px );
}
.icon-step3{
  background:  url(/styles/images/welfare/new-icon.png) no-repeat;
  background-position: -344px -150px;
  @include ratioBackground($url:'/styles/images/welfare/new-icon-2x.png', $x: -344px,$y: -150px,$size: 1000px 322px );
}
.icon-step4{
  background:  url(/styles/images/welfare/new-icon.png) no-repeat;
  background-position: -516px -150px;
  @include ratioBackground($url:'/styles/images/welfare/new-icon-2x.png', $x: -516px,$y: -150px,$size: 1000px 322px );
}
.step-bd-info{
  float: left;
  width: 455px;
  margin-left: 32px;
}
.step-bd-info-title{
  display: block;
  margin-top: 32px;
  font-size: 26px;
  color: #f7544a;
  font-weight: bold;
}
.step-bd-info-desc{
  display: block;
  margin-top: 12px;
  line-height: 25px;
  font-size: 17px;
  color: #262626;
}

.pager-prev{
  display: none;
  position: absolute;
  top: 68px;
  left: 0;
  height: 28px;
  width: 16px;
  cursor: pointer;
  background:  url(/styles/images/welfare/new-icon.png) no-repeat;
  background-position: -435px -20px;
  @include ratioBackground($url:'/styles/images/welfare/new-icon-2x.png', $x:-435px,$y:-20px,$size:1000px 322px );
}
.pager-next{
  display: none;
  position: absolute;
  top: 68px;
  right: 0;
  height: 28px;
  width: 16px;
  cursor: pointer;
  background:  url(/styles/images/welfare/new-icon.png) no-repeat;
  background-position: -455px -20px;
  @include ratioBackground($url:'/styles/images/welfare/new-icon-2x.png', $x:-455px,$y:-20px,$size:1000px 322px );
}

.i-konw-that{
  display: block;
  padding-left: 24px;
  width: 210px;
  height: 47px;
  margin: 7px auto 0;
  line-height: 45px;
  text-align: left;
  color: #fff;
  font-size: 16px;
  background:  url(/styles/images/welfare/new-icon.png) no-repeat;
  background-position: -270px -94px;
  @include ratioBackground($url:'/styles/images/welfare/new-icon-2x.png', $x: -270px,$y: -94px,$size: 1000px 322px );
}
.i-konw-that:hover{
  text-decoration: none;
}


/* 浮层 */
.float-layer{
  display: none;
}
.float-layer-mask {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  filter: alpha(opacity=60);
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
}
.float-layer-main{
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -215px 0 0 -361px;
  width: 582px;
  height: 340px;
  padding: 35px 70px 55px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  z-index: 101;


  background: #f66c4a url(/styles/images/welfare/rule-bg.png) no-repeat;
  background-size: 750px 190px ;
  background-position: bottom center;
  @include ratioBackground($bgcolor: #f66c4a, $url:'/styles/images/welfare/rule-bg-2x.png', $x: center, $y: bottom,$size: 750px 190px );
}
.float-layer-close{
  position: absolute;
  top: 20px;
  right: 20px;
  height: 22px;
  width: 22px;
  background:  url(/styles/images/welfare/new-icon.png) no-repeat;
  background-position: -875px 0;
  @include ratioBackground($url:'/styles/images/welfare/new-icon-2x.png', $x: -875px,$y: 0px,$size: 1000px 322px );
  transition: all .2s ease-in-out;
  cursor: pointer;
}
.float-layer-close:hover{
  transform: rotate(180deg);
}
.float-layer-title {
  display: block;
  height: 80px;
  width: 485px;
  font-size: 20px;
  color: #f7555b;
  line-height: 84px;
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
  background:  url(/styles/images/welfare/rule-title.png) no-repeat;
  background-size: 485px 80px;
  @include ratioBackground($url:'/styles/images/welfare/rule-title-2x.png',$size: 1000px 322px );
}
.float-layer-list{
  padding-top: 20px;
  color: #fff;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 1px;
}

/* 客服 */
.mod-floatlayer .service-bubble{
  position: absolute;
  left: -108px;
  top: -18px;
  height: 54px;
  width: 89px;
  line-height: 19px;
  font-size: 14px;
  color: #d06219;
  font-weight: bold;
  padding: 14px 0 0 16px;
  background: url(/styles/images/welfare/bubble.png) no-repeat;
  @include ratioBackground($url:'/styles/images/welfare/bubble-2x.png',$size: 105px 68px);
  cursor: default;
}
.mod-floatlayer .service-bubble:hover{
  background: url(/styles/images/welfare/bubble.png) no-repeat;
  @include ratioBackground($url:'/styles/images/welfare/bubble-2x.png',$size: 105px 68px);
}









