@charset "UTF-8";
@import '../base/utils';
@import '../base/reset';
@import '../base/grid';
@import '../inc/ui';
@import '../mod/dialog';
@import '../inc/site-nav';
@import '../inc/header';
@import '../inc/member-header';
@import '../inc/assets-tab';
@import '../inc/footer';
@import '../mod/search';
@import '../mod/charge';
@import '../mod/swiper';
@import '../mod/bind';
@import '../mod/wdate';
@import '../mod/autocomplete';
@import '../mod/invest-popup';
@import '../mod/redpapersave';
@import '../mod/floatlayer';
@import '../mod/activity';





.content-wrap{
  width: 1040px;
  float: left;
}
.section-wrap{
  background-color: #fff;
}
.section-wrap+.section-wrap{
  margin-top: 10px;
}



// 小标题
.mod-title{
  position: relative;
  height: 60px;
  line-height: 60px;
  padding: 0 30px 0 20px;
  border-bottom: 1px solid #e8e8e8;
}
.mod-title-left{
  float: left;
  position: relative;
}
.mod-title-word{
  display: block;
  float: left;
  height: 16px;
  line-height:16px;
  border-left: 4px solid #ea544a;
  margin-top: 22px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  padding-left: 10px;
}
.mod-title-tips{
  display: block;
  float: left;
  font-size: 12px;
  color: #999;
  padding-left: 10px;
}


.title-tips-red{
  color: #e23030;
}

.section-wrap{
  padding-bottom: 20px;
}

.mod-title-right{
  float: right;
}



// 平台投资信息
.plat-info{
  padding: 0 30px;
}
.palt-info-list {
  padding: 35px 0;
}
.plat-info-item{
  float: left;
}
.plat-info-item + .plat-info-item {
  padding-left: 70px;
}
.plat-info-number{
  display: block;
  font-size: 30px;
  color: #333;
}
.plat-info-number-s{
  font-size: 20px;
}
.plat-info-number-green{
  color: #2d9e73;
}
.plat-info-number-red{
  color: #ea544a;
}

.plat-info-word{
  display: block;
  padding-bottom: 10px;
  font-size: 14px;
  color: #999;
}

.palt-info-tips{
  padding: 16px 0;
  line-height: 43px;
  font-size: 14px;
  border-top: 1px dashed #e8e8e8;
}
.palt-info-tips+.palt-info-tips{
  padding-top: 0;
}
.palt-info-tips-item{
  float: left;
  width: 230px;
}
.palt-info-tips-item-black{
  color: #333;
  font-size: 16px;
}
.palt-info-tips-item-gray{
  color: #999;
}
/* 给备注用的  如果短就和前边的何在一行  如果长就另起一行 */
.palt-info-tips-item-auto{
  width: auto;
}





.mod-title-tab-item{
  display: block;
  float: left;
  height: 59px;
  line-height: 59px;
  padding: 0 27px;
  margin-right: 20px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  @include transition(all .25s ease-in-out);
}
.mod-title-tab-item:hover,.mod-title-tab-item.current{
  color: #0080cc;
  border-bottom: 2px solid #0080cc;

}

// k线图
.echart-box-wrap{
  display: none;
  position: relative;
}
.echart-box-wrap.active{
  display: block;
}
.echart-kline{
  height: 300px;
}
.update-tips{
  position: absolute;
  right: 30px;
  top: -80px;
  height: 60px;
  line-height: 60px;
  padding-left: 20px;
  font-size: 14px;
}
.update-icon{
  position: absolute;
  left: 0;
  top: 22px;
  height: 17px;
  width: 16px;
  background-image: url(/styles/images/member/account-icons.png);
  background-position: 0 0;
  @include ratioBackground($url:'/styles/images/member/account-icons-ret.png', $size: 420px 420px, $x:0px, $y:0px);
}



//资产概览

.mod-title-select-wrap{
  height: 30px;
}

.mod-title-search{
  width: 155px;
  margin: 18px 0 0 10px;
}
.mod-title-search-input{
  display: block;
  float: left;
  width: 120px;
  padding-left: 10px;
  height:18px;
  line-height: 20px;
  font-size: 12px;
  border: 1px solid #e8e8e8;
  border-right: none;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.mod-title-search-submit{
  display: block;
  float: left;
  height: 20px;
  width: 20px;
  border: none;
  font: 0/0 a;
  cursor: pointer;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  background-color: #0080cc;
  background-image: url(/styles/images/member/account-icons.png);
  background-position: 5px -25px;
  @include ratioBackground($bgcolor: #0080cc,$url:'/styles/images/member/account-icons-ret.png', $size: 420px 420px, $x:5px, $y:-25px);
}

.mod-title-select{
  width: 625px;
  margin-top: 18px;
}
.mod-title-select-input{
  display: block;
  float: left;
  width: 100px;
  padding-left: 10px;
  margin-right: 10px;
  height:18px;
  line-height: 18px;
  font-size: 12px;
  border: 1px solid #e8e8e8;
  @include border-radius(4px);
}
select.mod-title-select-input{
  height: 20px;
  width: 110px;
  background-color: #fff;
  padding-left: 0;
}
.mod-title-select-submit{
  display: block;
  float: left;
  height: 20px;
  line-height: 20px;
  text-align: center;
  width: 68px;
  border: none;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
  background-color: #0080cc;
  @include border-radius(4px);
}
.mod-title-btn{
  display: block;
  float: left;
  line-height: 28px;
  text-align: center;
  height: 28px;
  width: 68px;
  margin-top: 17px;
  border: 1px solid #0080cc;
  color: #0080cc;
  font-size: 12px;
  cursor: pointer;
  @include transition(all .2s ease-in-out);
  @include border-radius(4px);
}
.mod-title-btn+.mod-title-btn{
  margin-left: 8px;
}
.mod-title-btn:hover{
  background-color: #0080cc;
  color: #fff;
}

.info-list-wrap{
  padding: 20px 30px 0;
}
.info-item{
  height: 50px;
  line-height: 50px;
  font-size: 14px;
}
.info-item span,.info-item a{
  display: block;
  float: left;
}

.info-item-hd{
  background-color: #f9f9f9;
  color: #999;
  height: 40px;
  line-height: 40px;
}
.info-item-hd a{
  color: #999;
  height: 30px;
}
.info-item-hd a:hover{
  text-decoration: none;
}

.info-item-sj{
  width: 120px;
  text-align: center;
}
.info-item-je{
  width: 200px;
  text-align: right;
}
.info-item-gs{
  width: 210px;
  text-align: right;
}
.info-item-gj{
  width: 220px;
  margin-right: 100px;
  text-align: right;
}
.info-item-zt{
  width: 130px;
  text-align: center;
}

.info-sort-icon{
  display: inline-block;
  height: 12px;
  width: 9px;
  background-image: url(/styles/images/member/account-icons.png);
  background-position: -210px 0;
  @include ratioBackground($url:'/styles/images/member/account-icons-ret.png', $size: 420px 420px, $x:-210px, $y:0);
}
.info-sort-icon.up{
  background-position: -150px 0;
  @include ratioBackground($url:'/styles/images/member/account-icons-ret.png', $size: 420px 420px, $x:-150px, $y:0);
}
.info-sort-icon.down{
  background-position: -180px 0;
  @include ratioBackground($url:'/styles/images/member/account-icons-ret.png', $size: 420px 420px, $x:-180px, $y:0);
}


.info-item-bd{
  background-color: #fff;
  @include transition(all .2s ease-in-out);
}
.info-item-bd+.info-item-bd{
  border-top: 1px dashed #e8e8e8;
}
/*.info-item-bd:hover{
  background-color: #f0f0f0;
}*/
.info-item-bd span{
  height: 50px;
}

.load-more{
  height: 50px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  color: #0080cc;
  @include transition(all .2s ease-in-out);
}
.load-more:hover{
  background-color: #f0f0f0;
}




// 弹窗样式覆盖

.dialog_content{
  padding: 20px 20px;
}
.mod-invest-popup dl{
  width: 280px;
  float: left;
}
.mod-invest-popup dt {
  width: 80px;
  padding-right: 5px;
}
.popup-error-tips{
  height: 12px;
  line-height: 12px;
  padding-bottom: 10px;
  font-size: 12px;
  padding-left: 88px;
  color: #ea544a;
}
.popup-error-tips span{
  display: none;
}



// nodata-list

.info-list-nodata{
  padding:100px 270px;
  height: 165px;
}
.info-list-nodata-icon{
  float: left;
  display: block;
  height: 165px;
  width: 165px;
  background-image: url(/styles/images/member/nodata-01.png);
  @include ratioBackground($url:'/styles/images/member/nodata-01-ret.png', $size: 165px 165px, $x:0px, $y:0px);
}
.info-list-nodata-tips{
  display: block;
  margin-top: 70px;
  float: left;
  font-size: 16px;
  color: #aaa;
}

.echart-box{
  margin-top: 20px;
}
.echart-box-nodata{
  margin-top: 20px;
  display: none;
  height: 147px;
  padding-top: 153px;
  width: 930px;
  background-image: url(/styles/images/member/charts-nodata-01.png);
  @include ratioBackground($url:'/styles/images/member/charts-nodata-01-ret.png', $size: 930px 300px, $x:0px, $y:0px);
}
.echart-box-nodata-tips{
  display: block;
  font-size: 16px;
  color: #aaa;
  text-align: center;
}