@charset "UTF-8";
@import '../base/utils';
@import '../base/reset';
@import '../base/grid';
@import '../inc/ui';
@import '../mod/dialog';
@import '../inc/site-nav';
@import '../inc/header';
@import '../inc/member-header';
@import '../inc/assets-tab';
@import '../inc/footer';
@import '../mod/search';
@import '../mod/charge';
@import '../mod/swiper';
@import '../mod/bind';
@import '../mod/wdate';
@import '../mod/invest-popup';
@import '../mod/autocomplete';
@import '../mod/redpapersave';
@import '../mod/floatlayer';
@import '../mod/activity';


.content-wrap{
  width: 1040px;
  float: left;
}
.section-wrap{
  background-color: #fff;
}
.section-wrap+.section-wrap{
  margin-top: 10px;
}

.no-bgcolor{
  background-color: transparent;
}
.section-wrap-half{
  position: relative;
  width: 515px;
  height: 403px;
  /* 这个高不要删除,如果要变高 请使用新类 */
  background-color: #fff;
  float: left;
}
.section-wrap-half+.section-wrap-half{
  margin-left: 10px;
}
.color-red{
  color: #e9544a;
}

// 小标题
.mod-title{
  position: relative;
  height: 60px;
  line-height: 60px;
  padding: 0 30px 0 20px;
  border-bottom: 1px solid #e8e8e8;
}
.mod-title-left{
  float: left;
  position: relative;
}
.padding-l-none{
  padding-left: 0;
}
.mod-title-word-red{
  display: block;
  float: left;
  height: 60px;
  line-height:60px;
  font-size: 16px;
  font-weight: bold;
  color: #e9544a;
  padding-left: 20px;
  border-left: 4px solid #e9544a;
}
.mod-title-word{
  display: block;
  float: left;
  height: 16px;
  line-height:16px;
  border-left: 4px solid #ea544a;
  margin-top: 22px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  padding-left: 10px;
}
.mod-title-tips{
  display: block;
  float: left;
  font-size: 12px;
  color: #999;
  padding-left: 10px;
}
.title-tips-red{
  color: #e23030;
}

.mod-title-right{
  float: right;
}

/* 开关 */
.mod-title-text{
  display: block;
  float: left;
  color: #666;
  font-size: 12px;
  margin: 0 10px 0 30px;
}
.secret-btn-bg{
  float: left;
  position: relative;
  margin-top: 22px;
  height: 15px;
  width: 30px;
  cursor: pointer;
  background-color: #999;
  @include border-radius(7.5px);
  @include transition(all .25s ease-in-out);
}
.secret-btn{
  position: absolute;
  top: 1px;
  left: 1px;
  height: 13px;
  width: 13px;
  background-color: #fff;
  @include border-radius(50%);
  @include transition(all 0.2s ease-in-out);
}
.secret-btn-bg.on{
  background-color: #0080cc;
}
.secret-btn-bg.off{
  background-color: #999;
}
.secret-btn-bg.on .secret-btn{
  left: 16px;
}
.secret-btn-bg.off .secret-btn{
  left: 1px;
}

/* 标题处文字 */
.mod-title-words{
  float: left;
  font-size: 12px;
  color: #999;
  padding-left: 10px;
}
.mod-title-gray{
  color: #999;
}
.mod-title-red{
  font-size: 14px;
  font-weight: bold;
  color: #e9544a;
}
.mod-title-black{
  color: #333;
}
.mod-title-blue{
  color: #0080cc;
}
.mod-title-more{
  font-size: 12px;
}

/* 标题处提示tips 黄框 */
.mod-title-tips-yellow{
  position: relative;
  display: block;
  float: left;
  font-size: 12px;
  color: #999;
  height: 26px;
  line-height: 26px;
  padding: 0 10px;
  background-color: #fff9d4;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 17px 0 0 17px;
}
.mod-title-tips-tr{
  position: absolute;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 8px solid #fff9d4;
  left: -8px;
  top: 8px;
}


/* 标题处大按钮样式 */
.mod-title-bigbtn{
  position: relative;
  height: 60px;
  width: 84px;
  float: right;
}
.mod-title-bigbtn-box{
  position: absolute;
  top: -7px;
  height: 108px;
  width: 84px;
  font-size: 14px;
  line-height: 50px;
  color: #fff;
  text-align: center;
  background-image: url(/styles/images/member/account-icons.png);
  background-position: 0 -120px;
  @include ratioBackground($url:'/styles/images/member/account-icons-ret.png', $size: 420px 420px, $x:0px, $y:-120px);
}
.mod-title-bigbtn-box em{
  position: absolute;
  top: 46px;
  left: 25px;
  height: 38px;
  width: 38px;
  background-image: url(/styles/images/member/account-icons.png);
  background-position: -360px -120px;
  @include ratioBackground($url:'/styles/images/member/account-icons-ret.png', $size: 420px 420px, $x:-359.5px, $y:-119.5px);
  @include transition(all .5s ease-in-out);
}
.mod-title-bigbtn-box:hover{
  text-decoration: none;
  background-position: -90px -120px;
  @include ratioBackground($url:'/styles/images/member/account-icons-ret.png', $size: 420px 420px, $x:-90px, $y:-120px);
}
.mod-title-bigbtn-box:hover em{
  transform: rotate(360deg);
}





// 资产统计
.section-left{
  float: left;
  width: 560px;
  margin-right: 18px;
}
.assets-count{
  padding: 0 30px;
}
.assets-count-list{
  padding: 30px 0;
  border-bottom: 1px dashed #e8e8e8;
}
.assets-count-item{
  float: left;
}
.assets-count-item+.assets-count-item{
  padding-left: 35px;
}
.assets-count-number{
  display: block;
  font-size: 30px;
  color: #333;
}
.assets-count-number-s{
  font-size: 20px;
}
.assets-count-word{
  display: block;
  font-size: 14px;
  color: #999;
  padding-bottom: 10px;
}
.assets-count-tips{
  height: 82px;
  line-height: 82px;
}
.assets-count-tips-item{
  display: block;
  float: left;
  font-size: 14px;
  color: #999;
}
.assets-count-tips-item+.assets-count-tips-item{
  margin-left: 25px;
}
.assets-count-tips-item em{
  font-size: 16px;
  color: #333;
}
.assets-count-tips-item em.assets-count-tips-green{
  font-size: 16px;
  color: #2d9e73;
}
.assets-count-tips-link{
  display: block;
  float: left;
  height: 35px;
  line-height: 38px;
  font-size: 12px;
  margin-left: 17px;
}


.add-assets{
  display: block;
  height: 36px;
  line-height: 36px;
  width: 70px;
  padding: 0 30px;
  color: #fff;
  margin: 40px auto;
  background-color: #ea544a;
  @include border-radius(4px);
  @include transition(all .25s ease-in-out);
}
.add-assets:hover{
  background-color: #e23030;
  text-decoration: none;
}
.add-assets-icon{
  display: block;
  float: left;
  height: 17px;
  width: 17px;
  margin: 9px 4px 0 0;
  background-image: url(/styles/images/member/account-icons.png);
  background-position: -360px 0;
  @include ratioBackground($url:'/styles/images/member/account-icons-ret.png', $size: 420px 420px, $x:-360px, $y:-0px);
  @include border-radius(50%);
  @include transition(all .25s ease-in-out);
}
.add-assets:hover .add-assets-icon{
  transform: rotate(90deg);
}


// 回款日历
.section-right{
  float: left;
  width: 350px;
}
.tips-list{
  padding-top: 210px;
  font-size: 12px;
  color: #666;
  line-height: 20px;
}
.tips-words+.tips-words{
  margin-left: 20px;
}
.tips-red{
  color: #ea544a;
}
.tips-blue{
  color: #0080cc;
}
.tips-bold{
  font-weight: bold;
}


// 每月回款  echarts 图
.echart-box{
  height: 300px;
}


//资产概览

.mod-title-search{
  margin-top: 16px;
}
.mod-title-search-input{
  display: block;
  float: left;
  width: 150px;
  padding-left: 10px;
  height:28px;
  line-height: 28px;
  font-size: 12px;
  border: 1px solid #e8e8e8;
  border-right: none;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.mod-title-search-submit{
  display: block;
  float: left;
  height: 30px;
  width: 30px;
  border: none;
  font: 0/0 a;
  cursor: pointer;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  background-color: #0080cc;
  background-image: url(/styles/images/member/account-icons.png);
  background-position: -243px -223px;
  @include ratioBackground($bgcolor: #0080cc,$url:'/styles/images/member/account-icons-ret.png', $size: 420px 420px, $x:-243px, $y:-223px);
}



.info-list{
  padding: 0 30px;
}
.info-item{
  height: 50px;
  line-height: 50px;
  font-size: 14px;
}
.info-item span,.info-item a{
  display: block;
  float: left;
}

.info-item-hd{
  background-color: #f9f9f9;
  color: #999;
  height: 40px;
  line-height: 40px;
}
.info-item-hd a{
  color: #999;
  height: 30px;
  text-align: center;
}
.info-item-hd a:hover{
  text-decoration: none;
}
.info-item-hd .info-item-name{
  width: 130px;
}
.info-item-hd .info-item-dsze{
  width: 150px;
}
.info-item-hd .info-item-tzbs{
  width: 110px;
}
.info-item-hd .info-item-ysje{
  width: 160px;
}
.info-item-hd .info-item-yqhzze{
  width: 140px;
}
.info-item-hd .info-item-ztnh{
  width: 110px;
}
.info-item-hd .info-item-do{
  width: 130px;
  padding-right: 50px;
  text-align: right;
}

.info-sort-icon{
  display: inline-block;
  height: 12px;
  width: 9px;
  background-image: url(/styles/images/member/account-icons.png);
  background-position: -210px 0;
  @include ratioBackground($url:'/styles/images/member/account-icons-ret.png', $size: 420px 420px, $x:-210px, $y:0);
}
.info-sort-icon.up{
  background-position: -150px 0;
  @include ratioBackground($url:'/styles/images/member/account-icons-ret.png', $size: 420px 420px, $x:-150px, $y:0);
}
.info-sort-icon.down{
  background-position: -180px 0;
  @include ratioBackground($url:'/styles/images/member/account-icons-ret.png', $size: 420px 420px, $x:-180px, $y:0);
}

.info-item-bd{
  background-color: #fff;
  @include transition(all .2s ease-in-out);
}
.info-item-bd+.info-item-bd{
  border-top: 1px dashed #e8e8e8;
}
.info-item-bd-link{
  color: #454545;
}
.info-item-bd:hover{
  background-color: #f9f9f9;
}
.info-item-bd span{
  height: 50px;
  text-align: center;
}

.info-item-bd .info-item-name{
  width: 130px;
  text-align: left;
  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
}
.info-item-name-img{
  float: left;
  margin: 14px 5px 0;
  height: 20px;
  width: 20px;
  font-size: 12px;
  color: #999;
  border: 1px solid #eaeaea;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
span.info-item-name-img-empty{
  float: left;
  margin: 14px 5px 0;
  height: 20px;
  width: 20px;
  font-size: 12px;
  color: #999;
  border: 1px solid transparent;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.info-item-name-word{
  float: left;
  height: 50px;
  line-height:50px;
  max-width: 70px;
  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
}


.info-item-bd .info-item-dsze{
  width: 150px;
  text-align: center;
}
.info-item-bd .info-item-tzbs{
  width: 110px;
}
.info-item-bd .info-item-ysje{
  width: 160px;
  text-align: center;
}
.info-item-bd .info-item-yqhzze{
  width: 140px;
  text-align: center;
}
.info-item-bd .info-item-ztnh{
  width: 110px;
}
.info-item-bd .info-item-do{
  position: relative;
  width: 180px;
  text-align: center;
  padding: 0;
  cursor: pointer;
}

/*do*/
.info-item-do .info-item-do-list{
  float: right;
  height: 50px;
}
.info-item-do-item {
  display: block;
  float: left;
  height: 25px;
  width: 25px;
  font: 0/0 a;
  margin: 13px 9px 0 0;
}
.info-item-do-item-bianji{
  background-image: url(/styles/images/member/account-icons.png);
  background-position: 0 -60px;
  @include ratioBackground($url:'/styles/images/member/account-icons-ret.png', $size: 420px 420px, $x:0px, $y:-60px);
}
.info-item-do-item-bianji:hover {
  background-position: 0 -90px;
  @include ratioBackground($url:'/styles/images/member/account-icons-ret.png', $size: 420px 420px, $x:0px, $y:-90px);
}
.info-item-do-item-chakan{
  background-image: url(/styles/images/member/account-icons.png);
  background-position: -30px -60px;
  @include ratioBackground($url:'/styles/images/member/account-icons-ret.png', $size: 420px 420px, $x:-30px, $y:-60px);
}
.info-item-do-item-chakan:hover {
  background-position: -30px -90px;
  @include ratioBackground($url:'/styles/images/member/account-icons-ret.png', $size: 420px 420px, $x:-30px, $y:-90px);
}
.info-item-do-item-zhuijia{
  background-image: url(/styles/images/member/account-icons.png);
  background-position: -60px -60px;
  @include ratioBackground($url:'/styles/images/member/account-icons-ret.png', $size: 420px 420px, $x:-60px, $y:-60px);
}
.info-item-do-item-zhuijia:hover {
  background-position: -60px -90px;
  @include ratioBackground($url:'/styles/images/member/account-icons-ret.png', $size: 420px 420px, $x:-60px, $y:-90px);
}
.info-item-do-item-shanchu{
  background-image: url(/styles/images/member/account-icons.png);
  background-position: -90px -60px;
  @include ratioBackground($url:'/styles/images/member/account-icons-ret.png', $size: 420px 420px, $x:-90px, $y:-60px);
}
.info-item-do-item-shanchu:hover {
  background-position: -90px -90px;
  @include ratioBackground($url:'/styles/images/member/account-icons-ret.png', $size: 420px 420px, $x:-90px, $y:-90px);
}
.info-item-do-item-shuhui{
  background-image: url(/styles/images/member/account-icons.png);
  background-position: -120px -60px;
  @include ratioBackground($url:'/styles/images/member/account-icons-ret.png', $size: 420px 420px, $x:-120px, $y:-60px);
}
.info-item-do-item-shuhui:hover {
  background-position: -120px -90px;
  @include ratioBackground($url:'/styles/images/member/account-icons-ret.png', $size: 420px 420px, $x:-120px, $y:-90px);
}
.info-item-do-item-jiyibi{
  background-image: url(/styles/images/member/account-icons.png);
  background-position: -150px -60px;
  @include ratioBackground($url:'/styles/images/member/account-icons-ret.png', $size: 420px 420px, $x:-150px, $y:-60px);
}
.info-item-do-item-jiyibi:hover {
  background-position: -150px -90px;
  @include ratioBackground($url:'/styles/images/member/account-icons-ret.png', $size: 420px 420px, $x:-150px, $y:-90px);
}




// nodata-list

.info-list-nodata{
  padding:100px 270px;
  height: 165px;
}
.info-list-nodata-icon{
  float: left;
  display: block;
  height: 165px;
  width: 165px;
  background-image: url(/styles/images/member/nodata-01.png);
  @include ratioBackground($url:'/styles/images/member/nodata-01-ret.png', $size: 165px 165px, $x:0px, $y:0px);
}
.info-list-nodata-tips{
  display: block;
  margin-top: 70px;
  float: left;
  font-size: 16px;
  color: #aaa;
}


.echart-box-nodata{
  display: none;
  height: 147px;
  padding-top: 153px;
  width: 930px;
  background-image: url(/styles/images/member/charts-nodata-01.png);
  @include ratioBackground($url:'/styles/images/member/charts-nodata-01-ret.png', $size: 930px 300px, $x:0px, $y:0px);
}
.echart-box-nodata-tips{
  display: block;
  font-size: 16px;
  color: #aaa;
  text-align: center;
}

/* 回款处理浮层 start */
.calendar-section{
  position: relative;
  padding-bottom: 0;
  overflow: hidden;
}
.calendar-section-float {
  position: absolute;
  transform:scale(0.9);
  right: -430px;
  top: 0;
  height: 410px;
  width: 410px;
  background-color: #fff;
  z-index: 10;
  @include transition(all .3s ease-in-out);
  transform-origin:right center;
}
.calendar-section-float-mask{
  position: absolute;
  left: 0;
  top: 0;
  height: 410px;
  width: 410px;
  -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 0 20px rgba(0,0,0,0.3);
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
}
.calendar-section-float-main{
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fff;
  height: 410px;
  width: 410px;
  -webkit-font-smoothing: antialiased;
}
.calendar-section-float.show{
  transform:scale(1);
  right: 0;
}
.calendar-section-float .mod-title{
  padding-right: 0;
}
.calendar-section-float-close-box{
  position: relative;
  height: 60px;
  width: 50px;
  cursor: pointer;
  @include transition(transform .2s ease-in-out);
}
.calendar-section-float-close{
  position: absolute;
  display: block;
  //margin: 24px 0 0 20px;
  left: 20px;
  top: 24px;
  height: 12px;
  width: 12px;
  background-image: url(/styles/images/member/account-icons.png);
  background-position: -300px -230px;
  @include ratioBackground($url:'/styles/images/member/account-icons-ret.png', $size: 420px 420px, $x:-300px, $y:-230px);
}
.calendar-section-float-close-box:hover{
  transform: rotate(180deg);
}
.calendar-payment-content{
  padding: 14px 30px 0;

}
.calendar-payment-list{
  height: 220px;
  overflow: hidden;
}
.calendar-payment-item{
  height: 44px;
  line-height: 44px;
}
.calendar-payment-list-info{
  float: left;
  width: 360px;
  font-size: 14px;
  color: #333;
  @include text-ellipsis;
}
.calendar-payment-red{
  color: #e9544a;
}
.calendar-payment-blue{
  color: #0080cc;
}
.calendar-payment-list-btn {
  display: block;
  float: right;
  width: 41px;
  height: 18px;
  line-height: 18px;
  margin: 12px 0;
  text-align: center;
  border: 1px solid #0080cc;
  background-color: #0080cc;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
  @include border-radius(4px);
  @include transition(all .2s ease-in-out);
}
.calendar-payment-list-btn:hover {
  color: #0080cc;
  background-color: transparent;
}
.calendar-payment-tips{
  float: left;
  position: relative;
  height: 26px;
  margin-top: 4px;
  padding: 0 10px;
  line-height: 26px;
  font-size: 12px;
  color: #666;
  background-color: #fff9d4;
  @include border-radius(4px);
}
.calendar-payment-tips-triangle{
  position: absolute;
  top: -8px;
  left: 30px;
  height: 0;
  width: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 8px solid #fff9d4;
}
.calendar-section-float-close-btn{
  margin: 37px auto 0;
  height: 34px;
  width: 170px;
  line-height: 34px;
  text-align: center;
  font-size: 14px;
  border: 1px solid #0080cc;
  @include border-radius(4px);
  color: #0080cc;
  cursor: pointer;
  @include transition(all .2s ease-in-out);
}
.calendar-section-float-close-btn:hover{
  background-color: #0080cc;
  color: #fff;
}











/* 日历 start */
.calendar-section-float-show{
  display: none;
}
.calendar-box{
  padding: 0 30px;
  height: 342px;
}
.op-calendar-new-select-box{
  line-height: 60px;
  height: 60px;
  width: 275px;
  margin: 0 auto;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.op-calendar-new-prev-month{
  float: left;
  display: block;
  width: 55px;
  height: 18px;
  margin: 20px 0 20px 0;
  line-height: 18px;
  color: #999;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #e8e8e8;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
  -webkit-border-top-left-radius: 18px;
  -webkit-border-bottom-left-radius: 18px;
  -moz-border-top-left-radius: 18px;
  -moz-border-bottom-left-radius: 18px;
}
.op-calendar-middle{
  float: left;
  display: block;
  width: 160px;
  height: 60px;
  line-height: 60px;
  color: #333;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}
.op-calendar-middle em{
  font-weight: bold;
}

.op-calendar-new-next-month{
  float: left;
  display: block;
  width: 55px;
  height: 18px;
  margin: 20px 0 20px 0;
  line-height: 18px;
  color: #999;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #e8e8e8;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  -webkit-border-top-right-radius: 18px;
  -webkit-border-bottom-right-radius: 18px;
  -moz-border-top-right-radius: 18px;
  -moz-border-bottom-right-radius: 18px;
}
.op-calendar-new-prev-month,.op-calendar-new-next-month{
  @include transition(all .2s ease-in-out);
}
.op-calendar-new-prev-month:hover,.op-calendar-new-next-month:hover{
  color: #333;
  border-color: #999;
}
.op-calendar-table{
  height: 34px;
}

.fontb{
  height: 32px;
  width: 139px;
  border: 1px solid #e8e8e8;
  border-bottom: none;
  padding: 0;
  text-align: center;
  font-size: 14px;
  color: #666;
  font-weight: bold;
}
.riliitem td{
  height: 30px;
  width: 64px;
  border: 1px solid #e8e8e8;
  text-align: center;
  font-size: 14px;
  color: #666;
}
.op-calendar-day{
  position: relative;
  @include transition(all .2s ease-in-out);
}
/* 回款提示小窗 */
.op-calendar-day-tips{
  position: absolute;
  width: 360px;
  bottom: 45px;
  left: -160px;
  line-height: 20px;
  padding: 5px 10px;
  background-color: #4c4c4c;
  background-color: rgba(0,0,0,0.7);
  font-size: 12px;
  color: #fff;
  text-align: left;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.color-yellow{
  color: #ffe000;
}
.op-calendar-day-tips-tr{
  position: absolute;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 11px solid #4c4c4c;
  border-top: 11px solid rgba(0,0,0,0.7);
  left: 180px;
  bottom: -11px;
}

.op-calendar-day-tips-1{
  left: -1px;
  .op-calendar-day-tips-tr{
    left: 22px;
  }
}
.op-calendar-day-tips-2{
  left: -65px;
  .op-calendar-day-tips-tr{
    left: 86px;
  }
}
.op-calendar-day-tips-3{
  left: -130px;
  .op-calendar-day-tips-tr{
    left: 150px;
  }
}
.op-calendar-day-tips-4{
  left: -160px;
  .op-calendar-day-tips-tr{
    left: 180px;
  }
}
.op-calendar-day-tips-5{
  left: -195px;
  .op-calendar-day-tips-tr{
    left: 219px;
  }
}
.op-calendar-day-tips-6{
  left: -260px;
  .op-calendar-day-tips-tr{
    left: 283px;
  }
}
.op-calendar-day-tips-7{
  left: -325px;
  .op-calendar-day-tips-tr{
    left: 347px;
  }
}



.op-calendar-day-tips-closebg{
  display: block;
  position: absolute;
  height: 19px;
  width: 19px;
  top: -9px;
  right: -9px;
  cursor: pointer;
  background-image: url(/styles/images/member/account-icons.png);
  background-position: -180px -60px;
  @include ratioBackground($url:'/styles/images/member/account-icons-ret.png', $size: 420px 420px, $x:-180px, $y:-60px);
}
.op-calendar-day-tips-close{
  display: block;
  height: 13px;
  width: 13px;
  margin: 3px;
  cursor: pointer;
  background-image: url(/styles/images/member/account-icons.png);
  background-position: -210px -60px;
  @include ratioBackground($url:'/styles/images/member/account-icons-ret.png', $size: 420px 420px, $x:-210px, $y:-60px);
  @include transition(all .2s ease-in-out);
}
.op-calendar-day-tips-link {
  color: #4dcdff;
}
.op-calendar-day-tips-closebg:hover .op-calendar-day-tips-close{
  transform: rotate(90deg);
}

.payment{
  cursor: pointer;
}
.op-calendar-weekend{
  height: 29px;
  line-height: 29px;
  border: 1px solid #fff;
}
.today{
  background-color: #fff9d4;
  border-color: #fff9d4;
}
.op-calendar-weekend.current{
  border: 1px solid #e9544a;
}
.payment-icon{
  display: none;
  float: left;
  margin: 6px 5px 0 10px;
  height: 18px;
  width: 19px;
  background-image: url(/styles/images/member/account-icons.png);
  background-position: -100px -230px;
  @include ratioBackground($url:'/styles/images/member/account-icons-ret.png', $size: 420px 420px, $x:-100px, $y:-230px);
}
.op-calendar-weekend.current .payment-icon{
  background-position: -100px -260px;
  @include ratioBackground($url:'/styles/images/member/account-icons-ret.png', $size: 420px 420px, $x:-100px, $y:-260px);
}
.payment .payment-icon{
  display: block;
}

.payment-title{
  display: none;
  float: left;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  color: #666;
}
.calendar-daynum{
  display: block;
  float: right;
  margin-right: 5px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  color: #333;
}
.op-calendar-other-month{
  height: 29px;
  line-height: 29px;
}
.op-calendar-other-month .calendar-daynum{
  color: #ccc;
}
.riliitem td.payment-tips-wrap{
  border:none;
  text-align: left;
  color: #333;
  font-size: 12px;
  height: 55px;
  line-height: 55px;
}

.tips-gray{
  color: #999;
}
.tips-red{
  font-weight: bold;
  font-size: 14px;
  color: #e9544a;
}

.color-red{
  color: #e9544a;
}




/*

  // 日历自定义样式


.gldp-default .core {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  position: relative;
  float: left;
  padding: 0;
  margin: 0;
  font-size: 14px;
  text-align: center;
  background-image: url(/styles/images/member/account-icons.png);
  background-position: -102px -60px;
  color: #787878;
  font-weight: normal;
  background-color: #fff;
  cursor: pointer;
}
.gldp-default .dow{
  cursor: default;
}
.gldp-default .noday {
  cursor: default;
  background-image: none;
}
.gldp-default .todayer {
  color: #fff;
  background-color: #ff702a;
}
.gldp-default .core.outday{
  color: #dcdddd !important;
}


.gldp-default .mon:hover, .gldp-default .tue:hover, .gldp-default .wed:hover, .gldp-default .thu:hover, .gldp-default .fri:hover, .gldp-default .sat:hover, .gldp-default .sun:hover{
  background-color: #fff;
}
.gldp-default .dow {
  color: #383838;
  font-weight: bold;
  background: #faf9f9;
  border-style: solid;
  border-color: #e9e9e9;
  border-width: 1px 1px 1px 1px !important;
}
.gldp-default .monyear {
  background: #fff;
  border-left: none !important;
  border-right: none !important;
  color: #383838;
}
.gldp-default .selected{
  border-color: #e9e9e9;
}
.gldp-default .noday.holiday.todayer {
  color: #fff;
}



*/


/* 自定义弹窗样式 */
.dialog_content{
  color: #333;
}
.repayment-amount{
  display: none;
}
.dialog_content{
  padding: 20px 20px;
}
.mod-invest-popup dt{
  float: left;
  width:95px;
  color: #666;
}
.mod-invest-popup dd{
  line-height: 30px;
  float: left;
}
.mod-invest-popup .status-tag{
  height: 37px;
  line-height: 37px;
  padding-bottom: 15px;
}
.mod-invest-popup .status-tag dt{
  line-height: 37px;
}
.mod-invest-popup .status-tag .input{
  height: 35px;
  line-height: 35px;
  border: 1px solid #ececec;
}
.mod-invest-popup .aradio{
  position: relative;
  background-color: #fff;
  display: block;
  float: left;
  height: 35px;
  line-height: 35px;
  width: 100px;
  text-align: center;
  color: #333;
  border: 1px solid #ececec;
  padding: 0;
}
.mod-invest-popup .aradio:hover{
  background-color: #fff;
  color: #333;
}
.mod-invest-popup .aradio.selected{
  border-color: #0080cc;
  color: #0080cc;
  background-color: #fff;
}
.mod-invest-popup .aradio.selected em {
  position: absolute;
  right: 0;
  bottom: -1px;
  height: 15px;
  width: 14px;
  background-image: url(/styles/images/member/account-icons.png);
  background-position: -270px 0;
  @include ratioBackground($url:'/styles/images/member/account-icons-ret.png', $size: 420px 420px, $x:-270px, $y:-0px)
}
.mod-invest-popup .onerror .tiper{
  display: block;
}



/* 点评弹窗 start */
.dianping-float{
  display: none;
}
.dianping-float-mask{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000;
  @include opacity(0.7);
  z-index: 100;
}
.dianping-float-main{
  z-index: 101;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -205px 0 0 -250px;
  height: 360px;
  width: 500px;
  padding-top: 50px;
}
.dianping-float-close{
  position: absolute;
  height: 19px;
  width: 19px;
  top: 20px;
  right: 0;
  cursor: pointer;
  background-image: url(/styles/images/member/close.png);
  background-repeat: no-repeat;
  @include transition(all .2s ease-in-out);
}
.dianping-float-close:hover{
  transform:rotate(90deg);
}
.dianping-float-icon{
  position: absolute;
  height: 190px;
  width: 290px;
  top: 0;
  left: 105px;
  background-image: url(/styles/images/member/dianping-icon.png);
  background-repeat: no-repeat;
}
.dianping-float-content{
  height: 215px;
  padding-top: 145px;
  background-color: #fff;
}
.dianping-float-tips{
  display: block;
  line-height: 31px;
  font-size: 16px;
  color: #383838;
  text-align: center;
}
.dianping-float-link{
  color: #ff5050;
}
.dianping-float-btn-wrap{
  padding: 30px 80px 0;
}
.dianping-float-btn{
  height: 38px;
  width: 138px;
  line-height: 38px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  border: 1px solid #ff5050;
  background-color: #ff5050;
  @include border-radius(4px);
  @include transition(all .2s ease-in-out);
}
.dianping-float-btn:hover{
  text-decoration: none;
  border-color: #d32222;
  background-color: #d32222;
}
.dianping-float-btn-redline{
  background-color: #fff;
  color: #ff5050;
}
.dianping-float-btn-redline:hover{
  text-decoration: none;
  color: #fff;
  background-color: #ff5050;
  border-color: #ff5050;
}
/* 点评弹窗 end */

/* 点评活动弹窗8.1 00:00 ---8.15:24:00后删除 start */
@import '../mod/subject_comment';
.platform-tag .bd div.impression-bd a{
  &:hover{
    border: 1px solid #0099ee;
    color: #0099ee;
    em{
      color: #0099ee;
    }
  }
}
.mod-comment-popup .bd .reply-submit{
  background-color: #0099ee !important;
  &:hover{
    background-color: #0267ee !important;
  }
}

.mod-comment .comment-inner .comment .link a{
  color: #0099ee;
}
.platform-thread .item .mc-bd a{
  color: #0099ee;
}
.platform-ask .item .mc-bd a{
  color: #0099ee;
}
.newtag .item .middle .more{
  color: #0099ee;
}

.dianping-huodong{
  .dianping-float-main{
    .dianping-float-icon{
      position: absolute;
      height: 75px;
      width: 287px;
      top: 1px;
      left: 115px;
      background-image: url(/styles/images/member/icons_huodong.png);
      background-repeat: no-repeat;
    }
    .dianping-float-content{
      height: auto;
      padding-top: 43px;
      .dianping-float-tips{
        font-size: 14px;
        color: #383838;
        .dianping-float-link{
          color: #ff5050;
        }
      }
      .dianping-float-centerImg{
        width: 273px;
        height: 101px;
        margin: 34px auto 0;
        background-image: url(/styles/images/member/icons_huodong.png);
        background-position: 0 -120px;
      }
      .dianping-float-centerTxt{
        position: relative;
        width: 100%;
        height: 60px;
        font-size: 14px;
        color: #383838;
        .txt-le{
          position: absolute;
          top: 13px;
          left: 108px;
        }
        .txt-ri{
          position: absolute;
          top: 13px;
          left: 312px;
        }
        span{
          padding-right: 4px;
          font-weight: bold;
          color: #ff4545;
        }
      }
      .dianping-float-btn-wrap{
        padding: 0 80px 53px;
      }
    }
  }
}
/* 点评活动弹窗8.1 00:00 ---8.15:24:00后删除 end */
.ui-fixed-alert{
  display: none;
  position: fixed;
  top: -0;
  left: 50%;
  margin-left: -185px;
  width: 370px;
  height: 575px;
  //background: url(/styles/images/topic/brand1018/pc/alert.png) no-repeat 0 0;
  background: url(/styles/images/topic/brand1018/pc/double11_alert.png) no-repeat 0 0;
  z-index: 1000;
}
.ui-fixed-close{
  width: 25px;
  height: 25px;
  margin: 155px 0 0 295px;
  cursor: pointer;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
}

@-webkit-keyframes bounceOutUp {
  20% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  40%, 45% {
    opacity: 1;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0);
  }
}

@keyframes bounceOutUp {
  20% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  40%, 45% {
    opacity: 1;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0);
  }
}

.bounceOutUp {
  -webkit-animation-name: bounceOutUp;
  animation-name: bounceOutUp;
}


