@charset "UTF-8";
@import '../base/utils';
@import '../base/reset';
@import '../base/grid';
@import '../inc/ui';
@import '../mod/dialog';
@import '../inc/site-nav';
@import '../inc/header';
@import '../inc/member-header';
@import '../inc/assets-tab';
@import '../inc/footer';
@import '../mod/certification';
@import '../mod/search';
@import '../mod/charge';
@import '../mod/swiper';
@import '../mod/bind';
@import '../mod/wdate';
@import '../mod/autocomplete';
@import '../mod/shareInvest';
@import '../mod/redpapersave';
@import '../mod/floatlayer';
@import '../mod/activity';




 
.content-wrap{
  width: 1040px;
  float: left;
}
.section-wrap{
  background-color: #fff;
}
.section-wrap+.section-wrap{
  margin-top: 10px;
}


// 小标题
.mod-title{
  position: relative;
  height: 60px;
  line-height: 60px;
  padding: 0 30px 0 20px;
  border-bottom: 1px solid #e8e8e8;
}
.mod-title-left{
  float: left;
  position: relative;
}
.mod-title-word{
  display: block;
  float: left;
  height: 16px;
  line-height:16px;
  border-left: 4px solid #ea544a;
  margin-top: 22px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  padding-left: 10px;
}
.mod-title-tips{
  display: block;
  float: left;
  font-size: 12px;
  color: #999;
  padding-left: 10px;
}

.title-tips-red{
  color: #e23030;
}

.section-wrap{
  padding-bottom: 20px;
}

.mod-title-right{
  float: right;
}
.mod-title-button{
  position: relative;
  margin-top: 17px;
  height: 21px;
  line-height: 21px;
  font-size: 12px;
  color: #fff;
  padding: 0 14px 0 26px;
  background-color: #0080cc;
  @include border-radius(4px);
  cursor: pointer;
  @include transition(all .25s ease-in-out);
}
.mod-title-button:hover{
  background-color: #0067ad;
}
.share-icon{
  position: absolute;
  left: 14px;
  top: 5px;
  width: 9px;
  height: 11px;
  background-image: url(/styles/images/member/account-icons.png);
  background-position: -330px -30px;
  @include ratioBackground($url:'/styles/images/member/account-icons-ret.png', $size: 420px 420px, $x:-330px, $y:-30px);
}
.mod-title-select-input{
  display: block;
  float: left;
  width: 100px;
  padding-left: 10px;
  height:18px;
  line-height: 18px;
  font-size: 12px;
  border: 1px solid #e8e8e8;
  @include border-radius(4px);
}
select.mod-title-select-input{
  height: 30px;
  width: 110px;
  margin-top: 18px;
  background-color: #fff;
  padding-left: 10px;
}

.prompt-reminder{
  position: relative;
  display: block;
  float: left;
  height: 20px;
  line-height: 20px;
  margin: 20px 0 20px 20px;
  padding-right: 18px;
  font-size: 12px;
  color: #0080cc;
  cursor: pointer;
}
.prompt-reminder em{
  position: absolute;
  top: 2px;
  right: 0;
  height: 14px;
  width: 14px;
  background-image: url(/styles/images/member/account-icons.png);
  background-position: -330px -230px;
  @include ratioBackground($url:'/styles/images/member/account-icons-ret.png', $size: 420px 420px, $x:-330px, $y:-230px);
}
.prompt-reminder:hover{
  text-decoration: underline;
}
.prompt-reminder:hover em{
  background-position: -360px -230px;
  @include ratioBackground($url:'/styles/images/member/account-icons-ret.png', $size: 420px 420px, $x:-360px, $y:-230px);
}

/* 小标题右边的大按钮 */
.mod-title-bigbtn{
  position: relative;
  height: 60px;
  width: 84px;
  float: right;
}
.mod-title-bigbtn-box{
  z-index: 10;
  position: absolute;
  top: -7px;
  height: 108px;
  width: 84px;
  font-size: 14px;
  line-height: 50px;
  color: #fff;
  text-align: center;
  background-image: url(/styles/images/member/account-icons.png);
  background-position: -180px -120px;
  @include ratioBackground($url:'/styles/images/member/account-icons-ret.png', $size: 420px 420px, $x:-180px, $y:-120px);
}
.mod-title-bigbtn-box em{
  position: absolute;
  top: 46px;
  left: 25px;
  height: 38px;
  width: 37px;
  background-image: url(/styles/images/member/account-icons.png);
  background-position: -360px -170px;
  @include ratioBackground($url:'/styles/images/member/account-icons-ret.png', $size: 420px 420px, $x:-359.5px, $y:-169.5px);
  @include transition(all .5s ease-in-out);
}
.mod-title-bigbtn-box:hover{
  text-decoration: none;
  background-position: -270px -120px;
  @include ratioBackground($url:'/styles/images/member/account-icons-ret.png', $size: 420px 420px, $x:-270px, $y:-120px);
}
.mod-title-bigbtn-box:hover em{
  transform: rotate(360deg);
}




.chart-wrap{
  padding: 0 30px;
}
.long-chart-wrap{
  padding: 30px 30px 0;
}
.chart-wrap .chart-box{
  float: left;
  width: 470px;
  height: 380px;
}
.chart-box+.chart-box{
  margin-left: 40px;
}


.chart-wrap .chart-box-pie-nodata{
  display: none;
  float: left;
  width: 470px;
  height: 380px;
}
.chart-wrap .chart-box-pie-nodata+.chart-box-pie-nodata{
  margin-left: 40px;
}
.chart-box-pie-nodata-icon{
  display: block;
  height: 150px;
  width: 150px;
  margin: 60px auto 0;
  background-image: url(/styles/images/member/nodata-pie.png);
  @include ratioBackground($url:'/styles/images/member/nodata-pie-ret.png', $size: 180px 180px, $x:0px, $y:0px);
}

.chart-box{
  height: 300px;
}


.echart-box-nodata{
  display: none;
  height: 147px;
  padding-top: 153px;
  width: 930px;
  background-image: url(/styles/images/member/charts-nodata-01.png);
  @include ratioBackground($url:'/styles/images/member/charts-nodata-01-ret.png', $size: 930px 300px, $x:0px, $y:0px);
}
.echart-box-nodata-tips{
  display: block;
  font-size: 16px;
  color: #aaa;
  text-align: center;
}


/* 更多报表分析弹层 start */
.prompt-float{
  display: none;
}
.prompt-float-mask{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  filter: alpha(opacity=70);
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9000;
}
.prompt-float-main{
  position: fixed;
  margin: -124px 0 0 -230px;
  height: 78px;
  width: 460px;
  padding-top: 170px;
  top: 50%;
  left: 50%;
  background-color: #fff;
  background-image: url(/styles/images/member/app-03.png);
  background-repeat: no-repeat;
  @include ratioBackground($bgcolor: #fff, $url:'/styles/images/member/app-03-2x.png', $size: 460px 248px, $x:0px, $y:0px);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
  z-index: 9001;
}

.prompt-float-close{
  display: block;
  position: absolute;
  height: 13px;
  width: 13px;
  top: 13px;
  right: 13px;
  background-image: url(/styles/images/member/float-close.png);
  background-repeat: no-repeat;
  cursor: pointer;
  transition: all .2s ease-in-out;
}
.prompt-float-close:hover{
  transform: rotate(90deg);
}
.prompt-float-text{
  display: block;
  height: 28px;
  line-height: 28px;
  font-size: 14px;
  color: #333;
  text-align: center;
}
/* 更多报表分析弹层 end */







