@charset "UTF-8";
@import '../base/utils';
@import '../base/reset';
@import '../base/grid';
@import '../inc/ui';
@import '../mod/dialog';
@import '../inc/site-nav';
@import '../inc/header';
@import '../inc/member-header';
@import '../inc/assets-tab';
@import '../inc/footer';
@import '../mod/search';
@import '../mod/charge';
@import '../mod/swiper';
@import '../mod/bind';
@import '../mod/wdate';
@import '../mod/autocomplete';
@import '../mod/invest-popup';
@import '../mod/redpapersave';
@import '../mod/floatlayer';
@import '../mod/activity';




.content{
  min-height: 600px;
}

.section-wrap{
  background-color: #fff;
}
.section-wrap+.section-wrap{
  margin-top: 10px;
}
.padding-lr30{
  padding-left: 30px;
  padding-right: 30px;
}



// 小标题
.mod-title{
  position: relative;
  height: 60px;
  line-height: 60px;
  padding: 0 30px 0 20px;
  border-bottom: 1px solid #e8e8e8;
}
.mod-title-left{
  float: left;
  position: relative;
}
.mod-title-right{
  float: right;
  position: relative;
}
.mod-title-word{
  display: block;
  float: left;
  height: 16px;
  line-height:16px;
  border-left: 4px solid #ea544a;
  margin-top: 22px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  padding-left: 10px;
}
.mod-title-tips{
  display: block;
  float: left;
  font-size: 12px;
  color: #999;
  padding-left: 10px;
}



// 平台投资信息
.plat-info-title{
  height: 70px;
  line-height: 70px;
  font-size: 20px;
  margin-left: -5px;
  color: #333;
}
.plat-info-edit{
  position: relative;
  float: left;
  padding-left: 20px;
  height: 60px;
  line-height: 60px;
  font-size: 14px;
  color: #333;
}
.plat-info-edit+.plat-info-edit{
  margin-left: 15px;
}
.plat-info-edit-icon{
  position: absolute;
  display: inline-block;
  left: 0;
  top: 22px;
  height: 17px;
  width: 17px;
  background-image: url(/styles/images/member/account-icons.png);
  background-position: -150px -230px;
  @include ratioBackground($url:'/styles/images/member/account-icons-ret.png', $size: 420px 420px, $x:-150px, $y:-230px);
}
.plat-info-add-icon{
  position: absolute;
  display: inline-block;
  left: 0;
  top: 22px;
  height: 17px;
  width: 17px;
  background-image: url(/styles/images/member/account-icons.png);
  background-position: -150px -260px;
  @include ratioBackground($url:'/styles/images/member/account-icons-ret.png', $size: 420px 420px, $x:-150px, $y:-260px);
}


.plat-info-list{
  padding: 35px 0;
}
.plat-info-item{
  float: left;
  padding-right: 70px;
}
.plat-info-number{
  font-size: 30px;
  color: #333;
}
.plat-info-number-s{
  font-size: 20px;
}
.plat-info-word{
  display: block;
  padding-bottom: 10px;
  font-size: 14px;
  color: #999;
}

.palt-info-tips{
  padding: 16px 0;
  line-height: 43px;
  font-size: 14px;
  border-top: 1px dashed #e8e8e8;
}
.palt-info-tips+.palt-info-tips{
  padding-top: 0;
}
.palt-info-tips-item{
  float: left;
  width: 220px;
}
.palt-info-tips-item-l{
  width: 450px;
}

.palt-info-tips-item-ll{
  width: 1140px;
}
.palt-info-tips-item-m{
  width: 280px;
}
.palt-info-tips-item-black{
  color: #333;
}

.palt-info-tips-item-darkgray{
  color: #666;
}

.palt-info-tips-item-gray{
  color: #999;
}









//资产概览
.info-list{
  min-height: 350px;
  padding: 20px 30px 30px;
}
.info-item{
  height: 50px;
  line-height: 50px;
  font-size: 14px;
}
.info-item span,.info-item a{
  display: block;
  float: left;
}

.info-item-hd{
  background-color: #f9f9f9;
  color: #999;
  height: 40px;
  line-height: 40px;
}
.info-item-hd a{
  color: #999;
  height: 30px;
  text-align: center;
  cursor: default;
}
.info-item-hd a:hover{
  text-decoration: none;
}


.info-item-qs{
  width: 80px;
}
.info-item-ysje{
  width: 225px;
}
.info-item-ysbj{
  width: 185px;
}
.info-item-yssy{
  width: 215px;
}
.info-item-hksj{
  width: 185px;
}
.info-item-zt{
  width: 125px;
}
.info-item-do{
  width: 125px;
}

.info-sort-icon{
  display: inline-block;
  height: 12px;
  width: 9px;
  background-image: url(/styles/images/member/account-icons.png);
  background-position: -210px 0;
  @include ratioBackground($url:'/styles/images/member/account-icons-ret.png', $size: 420px 420px, $x:-210px, $y:0);
}
.info-sort-icon.up{
  background-position: -150px 0;
  @include ratioBackground($url:'/styles/images/member/account-icons-ret.png', $size: 420px 420px, $x:-150px, $y:0);
}
.info-sort-icon.down{
  background-position: -180px 0;
  @include ratioBackground($url:'/styles/images/member/account-icons-ret.png', $size: 420px 420px, $x:-180px, $y:0);
}


.info-item-bd{
  background-color: #fff;
  @include transition(all .2s ease-in-out);
}
.info-item-bd+.info-item-bd{
  border-top: 1px dashed #e8e8e8;
}

.info-item-bd-link{
  color: #454545;
}
.info-item-bd:hover{
  background-color: #f9f9f9;
}

.info-item-gray.info-item-bd:hover{
  background-color: #fff;
}
.info-item-gray span{
  color: #999;
}
.info-item-gray a{
  cursor: default;
}
.info-item-gray.info-item-bd .info-item-do{
  cursor: default;
}
.info-item-bd span{
  height: 50px;
  text-align: center;
}

.info-item-bd .info-item-qs{
  width: 80px;
}
.info-item-bd .info-item-ysje{
  width: 225px;
}
.info-item-bd .info-item-ysbj{
  width: 185px;
}
.info-item-bd .info-item-yssy{
  width: 215px;
}
.info-item-bd .info-item-hksj{
  width: 185px;
}
.info-item-bd .info-item-zt{
  width: 125px;
}
.info-item-bd .info-item-do{
  width: 125px;
}
.info-item-yssy-plus{
  color: #ea544a;
}
// 逾期坏账样式
.info-item-bd .info-item-zt em{
  display: inline-block;
  height: 21px;
  line-height: 21px;
  text-align: center;
  padding: 0 6px;
  background-color: transparent;
  @include border-radius(4px);
}
.info-item-bd .info-item-zt .info-item-zt-red{
  background-color: #ea544a;
  color: #fff;
}
.info-item-bd .info-item-zt .info-item-zt-gray{
  background-color: #666;
  color: #fff;
}

// 操作选项
.info-item-do .info-item-do-list{
  float: right;
  height: 50px;
}
.info-item-do-disable{
  padding-right: 10px;
  font-size: 12px;
  color: #999;
}

.info-item-do-item {
  display: block;
  float: left;
  height: 19px;
  padding: 0 11px;
  font-size: 12px;
  color: #999;
  text-align: center;
  line-height: 19px;
  border: 1px solid #999;
  @include border-radius(4px);
  @include transition(all .2s ease-in-out);
  margin: 15px 9px 0 0;
}
.info-item-do-item:hover {
  background-color: #0080cc;
  color: #fff;
  border-color: #0080cc;
  text-decoration: none;
}
.info-item-do-item-disable{
  border-color: #ccc;
  color: #ccc;
}
.info-item-do-item-disable:hover{
  border-color: #ccc;
  color: #ccc;
  background-color: transparent;
  text-decoration: none;
}


.list-ft{
  height: 45px;
  line-height: 45px;
  font-size: 14px;
  color: #666;
}

// 多选
.all-select{
  cursor: pointer;
  margin-right: 20px;
}
.all-select:hover,.all-select.active{
  color: #ea544a;
}
.all-select-icon{
  display: block;
  float: left;
  height: 15px;
  width: 13px;
  margin: 15px 5px 0 0;
  background-image: url(/styles/images/member/account-icons.png);
  background-position: -270px -30px;
  @include ratioBackground($url:'/styles/images/member/account-icons-ret.png', $size: 420px 420px, $x:-270px, $y:-30px);
}
.all-select:hover .all-select-icon,.all-select.active .all-select-icon{
  background-position: -300px -30px;
  @include ratioBackground($url:'/styles/images/member/account-icons-ret.png', $size: 420px 420px, $x:-300px, $y:-30px);
}

// 删除
.all-delete{
  cursor: pointer;
}
.all-delete:hover{
  color: #ea544a;
}
.all-delete-icon{
  display: block;
  float: left;
  height: 15px;
  width: 15px;
  margin: 15px 10px 0 0;
  background-image: url(/styles/images/member/account-icons.png);
  background-position: -210px -30px;
  @include ratioBackground($url:'/styles/images/member/account-icons-ret.png', $size: 420px 420px, $x:-210px, $y:-30px);
}
.all-delete:hover .all-delete-icon{
  background-position: -240px -30px;
  @include ratioBackground($url:'/styles/images/member/account-icons-ret.png', $size: 420px 420px, $x:-240px, $y:-30px);
}
.list-ft-text{
  display: block;
  float: left;
}



// nodata-list

.info-list-nodata{
  padding:100px 370px;
  height: 165px;
}
.info-list-nodata-icon{
  float: left;
  display: block;
  height: 165px;
  width: 165px;
  background-image: url(/styles/images/member/nodata-01.png);
  @include ratioBackground($url:'/styles/images/member/nodata-01-ret.png', $size: 165px 165px, $x:0px, $y:0px);
}
.info-list-nodata-tips{
  display: block;
  margin-top: 70px;
  float: left;
  font-size: 16px;
  color: #aaa;
}





/* 自定义弹窗样式 */
.dialog_content{
  color: #333;
}
.repayment-amount{
  display: none;
}
.dialog_content{
  padding: 20px 20px;
}
.mod-invest-popup dt{
  float: left;
  width:75px;
  color: #666;
}
.mod-invest-popup dd{
  line-height: 30px;
  float: left;
}
.mod-invest-popup .status-tag{
  height: 37px;
  line-height: 37px;
  padding-bottom: 15px;
}
.mod-invest-popup .status-tag dt{
  line-height: 37px;
}
.mod-invest-popup .status-tag .input{
  height: 35px;
  line-height: 35px;
  border: 1px solid #ececec;
}
.mod-invest-popup .aradio{
  position: relative;
  background-color: #fff;
  display: block;
  float: left;
  height: 35px;
  line-height: 35px;
  width: 100px;
  text-align: center;
  color: #333;
  border: 1px solid #ececec;
  padding: 0;
}
.mod-invest-popup .aradio:hover{
  background-color: #fff;
  color: #333;
}
.mod-invest-popup .aradio.selected{
  border-color: #0080cc;
  color: #0080cc;
  background-color: #fff;
}
.mod-invest-popup .aradio.selected em {
  position: absolute;
  right: 0;
  bottom: -1px;
  height: 15px;
  width: 14px;
  background-image: url(/styles/images/member/account-icons.png);
  background-position: -270px 0;
  @include ratioBackground($url:'/styles/images/member/account-icons-ret.png', $size: 420px 420px, $x:-270px, $y:-0px)
}
.mod-invest-popup .onerror .tiper{
  display: block;
}



/* 点评弹窗 start */
.dianping-float{
  display: none;
}
.dianping-float-mask{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000;
  @include opacity(0.7);
  z-index: 100;
}
.dianping-float-main{
  z-index: 101;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -205px 0 0 -250px;
  height: 360px;
  width: 500px;
  padding-top: 50px;
}
.dianping-float-close{
  position: absolute;
  height: 19px;
  width: 19px;
  top: 20px;
  right: 0;
  cursor: pointer;
  background-image: url(/styles/images/member/close.png);
  background-repeat: no-repeat;
  @include transition(all .2s ease-in-out);
}
.dianping-float-close:hover{
  transform:rotate(90deg);
}
.dianping-float-icon{
  position: absolute;
  height: 190px;
  width: 290px;
  top: 0;
  left: 105px;
  background-image: url(/styles/images/member/dianping-icon.png);
  background-repeat: no-repeat;
}
.dianping-float-content{
  height: 215px;
  padding-top: 145px;
  background-color: #fff;
}
.dianping-float-tips{
  display: block;
  line-height: 31px;
  font-size: 16px;
  color: #383838;
  text-align: center;
}
.dianping-float-link{
  color: #ff5050;
}
.dianping-float-btn-wrap{
  padding: 30px 80px 0;
}
.dianping-float-btn{
  height: 38px;
  width: 138px;
  line-height: 38px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  border: 1px solid #ff5050;
  background-color: #ff5050;
  @include border-radius(4px);
  @include transition(all .2s ease-in-out);
}
.dianping-float-btn:hover{
  text-decoration: none;
  border-color: #d32222;
  background-color: #d32222;
}
.dianping-float-btn-redline{
  background-color: #fff;
  color: #ff5050;
}
.dianping-float-btn-redline:hover{
  text-decoration: none;
  color: #fff;
  background-color: #ff5050;
  border-color: #ff5050;
}
/* 点评弹窗 end */

/* 点评活动弹窗8.1 00:00 ---8.15:24:00后删除 start */
@import '../mod/subject_comment';
.platform-tag .bd div.impression-bd a{
  &:hover{
    border: 1px solid #0099ee;
    color: #0099ee;
    em{
      color: #0099ee;
    }
  }
}
.mod-comment-popup .bd .reply-submit{
  background-color: #0099ee !important;
  &:hover{
    background-color: #0267ee !important;
  }
}

.mod-comment .comment-inner .comment .link a{
  color: #0099ee;
}
.platform-thread .item .mc-bd a{
  color: #0099ee;
}
.platform-ask .item .mc-bd a{
  color: #0099ee;
}
.newtag .item .middle .more{
  color: #0099ee;
}

.dianping-huodong{
  .dianping-float-main{
    .dianping-float-icon{
      position: absolute;
      height: 75px;
      width: 287px;
      top: 1px;
      left: 115px;
      background-image: url(/styles/images/member/icons_huodong.png);
      background-repeat: no-repeat;
    }
    .dianping-float-content{
      height: auto;
      padding-top: 43px;
      .dianping-float-tips{
        font-size: 14px;
        color: #383838;
        .dianping-float-link{
          color: #ff5050;
        }
      }
      .dianping-float-centerImg{
        width: 273px;
        height: 101px;
        margin: 34px auto 0;
        background-image: url(/styles/images/member/icons_huodong.png);
        background-position: 0 -120px;
      }
      .dianping-float-centerTxt{
        position: relative;
        width: 100%;
        height: 60px;
        font-size: 14px;
        color: #383838;
        .txt-le{
          position: absolute;
          top: 13px;
          left: 108px;
        }
        .txt-ri{
          position: absolute;
          top: 13px;
          left: 312px;
        }
        span{
          padding-right: 4px;
          font-weight: bold;
          color: #ff4545;
        }
      }
      .dianping-float-btn-wrap{
        padding: 0 80px 53px;
      }
    }
  }
}
/* 点评活动弹窗8.1 00:00 ---8.15:24:00后删除 end */
.cursor-def{
  cursor: default;
}