@charset "UTF-8";
@import '../base/utils';
@import '../base/reset';
@import '../base/grid';
@import '../inc/ui';
@import '../inc/site-nav-ty';
@import '../inc/header';
@import '../inc/header-ty';
@import '../inc/member-header';
@import '../inc/footer';
@import '../mod/floatlayer';

.ui-webchat{
	img{
		display: block;
	}
}
.ui-record{
	padding: 30px 40px 40px;
	background-color: #fff;
}
.ui-record-title{
	font-size: 14px;
	color: #333;
	line-height: 22px;
}
.ui-member-title{
	height: 22px;
	border-left: 4px solid #f03525;
	padding-left: 10px;
	font-size: 18px;
	font-weight: bold;
}
.ui-color-e9544a{
	color: #e9544a;
}
.ui-color-ffa200{
	color: #ffa200;
}
.ui-color-999{
	color: #999;
}
.ui-button-cbcbcb{
	display: inline-block;
	*display: inline;
	*zoom: 1;
	padding: 0 8px;
	border-radius: 3px;
	font-size: 12px;
	color: #fff;
	height: 24px;
	line-height: 24px;
	background-color: #cbcbcb;
	cursor: default;
	&:hover{
		text-decoration: none;
	}
}
.ui-button-e9544a{
	display: inline-block;
	*display: inline;
	*zoom: 1;
	padding: 0 8px;
	border-radius: 3px;
	font-size: 12px;
	color: #fff;
	height: 24px;
	line-height: 24px;
	background-color: #e9544a;
	&:hover{
		text-decoration: none;
		background-color: #e03b2f;
	}
}
.ui-record-list{
	padding-top: 22px;
	height: 240px;
	table{
		width: 100%;
		font-size: 14px;
	}
	thead{
		tr{
			background-color: #efefef;
		}
	}
	tbody{
		cursor: default;
		tr:nth-child(even){
			background-color: #efefef;
		}
		tr:nth-child(odd){
			background-color: #f6f6f6;
		}
	}
	th{
		height: 40px;
		color: #999;
		text-align: center;
	}
	td{
		height: 40px;
		color: #333;
		text-align: center;
	}
	
}
.ui-record-pager{
	text-align: center;
	padding-top: 30px;
	a:hover{
		text-decoration: none;
	}
	a{
		display: inline-block;
		*display: inline;
		*zoom: 1;
		margin: 0 4px;
		width: 22px;
		height: 22px;
		line-height: 22px;
		text-align: center;
		color: #e9544a;
		font-size: 14px;
		border: 1px solid #e9544a;
		border-radius: 3px;
		background-color: #fff;
		&:hover{
			color: #fff;
			background-color: #e03b2f;
		}
	}
	span{
		color: #e9544a;
	}
	.jp-current{
		display: inline-block;
		*display: inline;
		*zoom: 1;
		width: 22px;
		height: 22px;
		line-height: 22px;
		text-align: center;
		color: #fff;
		font-size: 14px;
		border: 1px solid #e9544a;
		border-radius: 3px;
		background-color: #e9544a;
		cursor: default;
		&:hover{
			background-color: #e9544a;
		}
	}
	.jp-previous,
	.jp-next{
		display: inline-block;
		*display: inline;
		*zoom: 1;
		width: auto;
		padding: 0 8px;
		border-radius: 3px;
		font-size: 12px;
		color: #fff;
		height: 24px;
		line-height: 24px;
		background-color: #e9544a;
		&:hover{
			background-color: #e03b2f;
		}
	}
	.jp-disabled{
		display: inline-block;
		*display: inline;
		*zoom: 1;
		width: auto;
		padding: 0 8px;
		border-radius: 3px;
		font-size: 12px;
		color: #fff;
		height: 24px;
		line-height: 24px;
		border: 1px solid #cbcbcb;
		background-color: #cbcbcb;
		cursor: default;
		&:hover{
			background-color: #cbcbcb;
		}
	}
}
.ui-rule{
	margin-top: 16px;
}
.ui-rule-item{
	line-height: 20px;
	font-size: 12px;
	color: #999;
	a{
		color: #e03b2f;
	}
}
.ui-brand98-empty{
	height: 200px;
	background-color: #fff !important;

	img{
		width: 158px;
		margin: 0 auto;
	}
}


























