@charset "UTF-8";
@import '../base/utils';
@import '../base/reset';
@import '../base/grid';
@import '../inc/ui';
@import '../mod/dialog';
@import '../inc/site-nav-ty';
@import '../inc/header';
@import '../inc/header-ty';
@import '../inc/member-header';
@import '../inc/assets-tab';
@import '../inc/footer';
@import '../mod/search';
@import '../mod/charge';
@import '../mod/swiper';
@import '../mod/bind';
@import '../mod/wdate';
@import '../mod/invest-popup';
@import '../mod/autocomplete';
@import '../mod/redpapersave';
@import '../mod/floatlayer';
@import '../mod/activity';

.page_section {
  min-height: 300px;
  padding-bottom: 50px;
}
.content{
  padding-top: 86px;
  height: 220px;
  background-color: #fff;
}
.giude-icon{
  display: block;
  height: 80px;
  width: 80px;
  margin: 0 auto;
  background-image: url(/styles/images/member/account-icons.png);
  background-position: 0 -280px;
  @include ratioBackground($url:'/styles/images/member/account-icons-ret.png', $size: 420px 420px, $x:0px, $y:-280px);
}
.guide-text{
  display: block;
  text-align: center;
  font-size: 16px;
  padding-top: 20px;
  height: 16px;
  line-height: 16px;
  color: #333;
}
.guide-text a{
  color: #ea534a;
}
.guide-text .red{
  color: #ea534a;
}