@charset "UTF-8";
@import '../base/utils';
@import '../base/reset';
@import '../base/grid';
@import '../inc/ui';
@import '../mod/dialog';
@import '../inc/site-nav';
@import '../inc/header';
@import '../inc/member-header';
@import '../inc/assets-tab';
@import '../inc/footer';
@import '../inc/assetsp2ploan';
@import '../mod/search';
@import '../mod/charge';
@import '../mod/swiper';
@import '../mod/bind';
@import '../mod/wdate';
@import '../mod/autocomplete';
@import '../mod/invest-popup';
@import '../mod/redpapersave';
@import '../mod/floatlayer';
@import '../mod/activity';





.content-wrap{
  width: 1040px;
  float: left;
}
.section-wrap{
  background-color: #fff;
}
.section-wrap+.section-wrap{
  margin-top: 10px;
}

// 小标题
.mod-title{
  position: relative;
  height: 60px;
  line-height: 60px;
  padding: 0 30px 0 20px;
  border-bottom: 1px solid #e8e8e8;
}
.mod-title-left{
  float: left;
  position: relative;
}
.mod-title-word{
  display: block;
  float: left;
  height: 16px;
  line-height:16px;
  border-left: 4px solid #ea544a;
  margin-top: 22px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  padding-left: 10px;
}
.mod-title-tips{
  display: block;
  float: left;
  font-size: 12px;
  color: #999;
  padding-left: 10px;
}
.title-tips-red{
  color: #e23030;
}


.mod-title-right{
  float: right;
}
.mod-title-btn{
  display: block;
  float: left;
  line-height: 28px;
  text-align: center;
  height: 28px;
  padding: 0 20px;
  margin-top: 17px;
  border: 1px solid #0080cc;
  color: #0080cc;
  font-size: 12px;
  cursor: pointer;
  @include transition(all .2s ease-in-out);
  @include border-radius(4px);
}
.mod-title-btn:hover{
  text-decoration: none;
  background-color: #0080cc;
  color: #fff;
}
.mod-title-btn+.mod-title-btn{
  margin-left: 15px;
}
.mod-title-btn-red{
  color:#ee493b;
  border-color: #ee493b;
}
.mod-title-btn-red:hover{
  text-decoration: none;
  background-color: #ee493b;
  color: #fff;
}


// 平台投资信息
.palt-info-count{
  padding: 0 30px;
}
.palt-info-list {
  padding: 35px 0;
}
.plat-info-item{
  float: left;
}
.plat-info-item + .plat-info-item {
  padding-left: 70px;
}
.plat-info-number{
  display: block;
  font-size: 30px;
  color: #333;
}
.plat-info-number-s{
  font-size: 20px;
}
.plat-info-word{
  display: block;
  padding-bottom: 10px;
  font-size: 14px;
  color: #999;
}

.palt-info-tips{
  padding: 16px 0;
  line-height: 43px;
  font-size: 14px;
  border-top: 1px dashed #e8e8e8;
}
.palt-info-tips+.palt-info-tips{
  padding-top: 0;
}
.palt-info-tips-item{
  float: left;
  width: 230px;
}
.palt-info-tips-item-black{
  color: #333;
  font-size: 16px;
}
.palt-info-tips-item-gray{
  color: #999;
}









//资产概览
.mod-search-wrap{
  float: left;
  width: 900px;
  padding: 15px 0 15px 10px;
}
.mod-title-search-input{
  display: block;
  float: left;
  width: 150px;
  padding-left: 10px;
  height:28px;
  line-height: 28px;
  font-size: 12px;
  border: 1px solid #e8e8e8;
  border-right: none;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.mod-title-search-submit{
  display: block;
  float: left;
  height: 30px;
  width: 30px;
  border: none;
  font: 0/0 a;
  cursor: pointer;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  background-color: #0080cc;
  background-image: url(/styles/images/member/account-icons.png);
  background-position: -243px -223px;
  @include ratioBackground($bgcolor: #0080cc,$url:'/styles/images/member/account-icons-ret.png', $size: 420px 420px, $x:-243px, $y:-223px);
}


.mod-title-select{
  width: 625px;
  height: 30px;
}
.mod-title-select-tips{
  height: 30px;
  line-height: 30px;  display: block;
  float: left;
  padding-left: 10px;
  color: #333;
  font-size: 12px;
}
.mod-title-select-input{
  display: block;
  float: left;
  width: 100px;
  padding-left: 10px;
  margin-right: 10px;
  height:28px;
  line-height: 28px;
  font-size: 12px;
  border: 1px solid #e8e8e8;
  @include border-radius(4px);
}
select.mod-title-select-input{
  height: 30px;
  width: 110px;
  background-color: #fff;
  padding-left: 0;
}
.mod-title-select-submit{
  display: block;
  float: left;
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 68px;
  border: none;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
  background-color: #0080cc;
  @include border-radius(4px);
}


.info-list-wrap{
  padding: 20px 30px 0;
}
.info-item{
  height: 50px;
  line-height: 50px;
  font-size: 14px;
}
.info-item span,.info-item a{
  display: block;
  float: left;
}

.info-item-hd{
  background-color: #f9f9f9;
  color: #999;
  height: 40px;
  line-height: 40px;
}
.info-item-hd a{
  color: #999;
  height: 30px;
  text-align: center;
}
.info-item-hd a:hover{
  text-decoration: none;
}


.info-item-name{
  width: 170px;
}
.info-item-szje{
  width: 170px;
}
.info-item-sy{
  width: 160px;
}
.info-item-qxsj{
  width: 130px;
}
.info-item-xqhk{
  width: 100px;
}
.info-item-zt{
  width: 100px;
}
.info-item-do{
  width: 150px;
}

.info-sort-icon{
  display: inline-block;
  height: 12px;
  width: 9px;
  background-image: url(/styles/images/member/account-icons.png);
  background-position: -210px 0;
  @include ratioBackground($url:'/styles/images/member/account-icons-ret.png', $size: 420px 420px, $x:-210px, $y:0);
}
.info-sort-icon.up{
  background-position: -150px 0;
  @include ratioBackground($url:'/styles/images/member/account-icons-ret.png', $size: 420px 420px, $x:-150px, $y:0);
}
.info-sort-icon.down{
  background-position: -180px 0;
  @include ratioBackground($url:'/styles/images/member/account-icons-ret.png', $size: 420px 420px, $x:-180px, $y:0);
}


.info-item-bd{
  background-color: #fff;
  @include transition(all .2s ease-in-out);
}
.info-item-bd+.info-item-bd{
  border-top: 1px dashed #e8e8e8;
}
.info-item-bd-link{
  color: #454545;
}
.info-item-bd:hover{
  background-color: #f9f9f9;
}
.info-item-bd span{
  height: 50px;
  text-align: center;
}

.info-item-bd .info-item-name{
  width: 170px;
  text-align: left;
  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
}
.info-item-bd .info-item-szje{
  width: 170px;
}
.info-item-bd .info-item-sy{
  width: 160px;
}
.info-item-bd .info-item-qxsj{
  width: 130px;
}
.info-item-bd .info-item-xqhk{
  width: 100px;
}
.info-item-bd .info-item-zt{
  width: 100px;
}
.info-item-bd .info-item-do{
  position: relative;
  width: 150px;
  cursor: pointer;
}
.info-item-batch{
  width: 0;
  overflow: hidden;
  height: 50px;
  padding: 0;
  @include transition(all .2s ease-in-out);
}
.info-item-batch.show{
  width: 16px;
  padding: 0 10px 0 4px;
}
.info-item-checkbox{
  display: block;
  margin-top: 18px;
  height: 14px;
  width: 14px;
  border: 1px solid #e8e8e8;
  background-color: #fff;
  cursor: pointer;
  @include border-radius(4px);
}

.info-item-checkbox.checked{
  border-color: #0080cc;
  background-color: #0080cc;
  background-image: url(/styles/images/member/account-icons.png);
  background-position: -300px 0;
  @include ratioBackground($bgcolor:#0080cc, $url:'/styles/images/member/account-icons-ret.png', $size: 420px 420px, $x:-300px, $y:0);
}

.icon-auto{
  float: left;
  margin: 17px 5px 0 0;
  height: 16px;
  width: 16px;
  background-image: url(/styles/images/member/account-icons.png);
  background-position: -50px -230px;
  @include ratioBackground($url:'/styles/images/member/account-icons-ret.png', $size: 420px 420px, $x:-50px, $y:-230px);
}
.icon-zhitou{
  float: left;
  margin: 17px 5px 0 0;
  height: 16px;
  width: 16px;
  background-image: url(/styles/images/member/account-icons.png);
  background-position: -50px -260px;
  @include ratioBackground($url:'/styles/images/member/account-icons-ret.png', $size: 420px 420px, $x:-50px, $y:-260px);
}
.icon-notauto{
  float: left;
  margin: 17px 5px 0 0;
  height: 16px;
  width: 16px;
}

/*do*/
.info-item-do .info-item-do-list{
  float: right;
  height: 50px;
}
.info-item-do-disable{
  padding-right: 10px;
  font-size: 12px;
  color: #ccc;
}
.info-item-do-item {
  display: block;
  float: left;
  height: 25px;
  width: 25px;
  font: 0/0 a;
  margin: 13px 9px 0 0;
}
.info-item-do-item-bianji{
  background-image: url(/styles/images/member/account-icons.png);
  background-position: 0 -60px;
  @include ratioBackground($url:'/styles/images/member/account-icons-ret.png', $size: 420px 420px, $x:0px, $y:-60px);
}
.info-item-do-item-bianji:hover {
  background-position: 0 -90px;
  @include ratioBackground($url:'/styles/images/member/account-icons-ret.png', $size: 420px 420px, $x:0px, $y:-90px);
}
.info-item-do-item-chakan{
  background-image: url(/styles/images/member/account-icons.png);
  background-position: -30px -60px;
  @include ratioBackground($url:'/styles/images/member/account-icons-ret.png', $size: 420px 420px, $x:-30px, $y:-60px);
}
.info-item-do-item-chakan:hover {
  background-position: -30px -90px;
  @include ratioBackground($url:'/styles/images/member/account-icons-ret.png', $size: 420px 420px, $x:-30px, $y:-90px);
}
.info-item-do-item-zhuijia{
  background-image: url(/styles/images/member/account-icons.png);
  background-position: -60px -60px;
  @include ratioBackground($url:'/styles/images/member/account-icons-ret.png', $size: 420px 420px, $x:-60px, $y:-60px);
}
.info-item-do-item-zhuijia:hover {
  background-position: -60px -90px;
  @include ratioBackground($url:'/styles/images/member/account-icons-ret.png', $size: 420px 420px, $x:-60px, $y:-90px);
}
.info-item-do-item-shanchu{
  background-image: url(/styles/images/member/account-icons.png);
  background-position: -90px -60px;
  @include ratioBackground($url:'/styles/images/member/account-icons-ret.png', $size: 420px 420px, $x:-90px, $y:-60px);
}
.info-item-do-item-shanchu:hover {
  background-position: -90px -90px;
  @include ratioBackground($url:'/styles/images/member/account-icons-ret.png', $size: 420px 420px, $x:-90px, $y:-90px);
}
.info-item-do-item-shuhui{
  background-image: url(/styles/images/member/account-icons.png);
  background-position: -120px -60px;
  @include ratioBackground($url:'/styles/images/member/account-icons-ret.png', $size: 420px 420px, $x:-120px, $y:-60px);
}
.info-item-do-item-shuhui:hover {
  background-position: -120px -90px;
  @include ratioBackground($url:'/styles/images/member/account-icons-ret.png', $size: 420px 420px, $x:-120px, $y:-90px);
}
.info-item-do-item-jiyibi{
  background-image: url(/styles/images/member/account-icons.png);
  background-position: -150px -60px;
  @include ratioBackground($url:'/styles/images/member/account-icons-ret.png', $size: 420px 420px, $x:-150px, $y:-60px);
}
.info-item-do-item-jiyibi:hover {
  background-position: -150px -90px;
  @include ratioBackground($url:'/styles/images/member/account-icons-ret.png', $size: 420px 420px, $x:-150px, $y:-90px);
}


.list-ft{
  height: 45px;
  line-height: 45px;
  font-size: 14px;
  color: #666;
}

// 多选
.all-select{
  cursor: pointer;
  margin-right: 20px;
}
.all-select:hover,.all-select.active{
  color: #ea544a;
}
.all-select-icon{
  display: block;
  float: left;
  height: 15px;
  width: 13px;
  margin: 15px 5px 0 0;
  background-image: url(/styles/images/member/account-icons.png);
  background-position: -270px -30px;
  @include ratioBackground($url:'/styles/images/member/account-icons-ret.png', $size: 420px 420px, $x:-270px, $y:-30px);
}
.all-select:hover .all-select-icon,.all-select.active .all-select-icon{
  background-position: -300px -30px;
  @include ratioBackground($url:'/styles/images/member/account-icons-ret.png', $size: 420px 420px, $x:-300px, $y:-30px);
}

// 删除
.all-delete{
  cursor: pointer;
}
.all-delete:hover{
  color: #ea544a;
}
.all-delete-icon{
  display: block;
  float: left;
  height: 15px;
  width: 15px;
  margin: 15px 10px 0 0;
  background-image: url(/styles/images/member/account-icons.png);
  background-position: -210px -30px;
  @include ratioBackground($url:'/styles/images/member/account-icons-ret.png', $size: 420px 420px, $x:-210px, $y:-30px);
}
.all-delete:hover .all-delete-icon{
  background-position: -240px -30px;
  @include ratioBackground($url:'/styles/images/member/account-icons-ret.png', $size: 420px 420px, $x:-240px, $y:-30px);
}
.list-ft-text{
  display: block;
  float: left;
}


// nodata-list

.info-list-nodata{
  padding:100px 270px;
  height: 165px;
}
.info-list-nodata-icon{
  float: left;
  display: block;
  height: 165px;
  width: 165px;
  background-image: url(/styles/images/member/nodata-01.png);
  @include ratioBackground($url:'/styles/images/member/nodata-01-ret.png', $size: 165px 165px, $x:0px, $y:0px);
}
.info-list-nodata-tips{
  display: block;
  margin-top: 70px;
  float: left;
  font-size: 16px;
  color: #aaa;
}



// 弹窗样式
.info-invest{
  .w50{
    width: 50%;
  }
  dt{
    width: 75px;
    text-align: left;
    font-size: 14px;
    color: #666;
  }

  dd{
    text-align: left;
    font-size: 16px;
    color: #333;
  }
  .infoinvest-th{
    background-color: #f8f8f8;
  }
}



/* 自定义弹窗样式 */
.dialog_content{
  color: #333;
}
.repayment-amount{
  display: none;
}
.dialog_content{
  padding: 20px 20px;
}
.mod-invest-popup dt{
  float: left;
  width:75px;
  color: #666;
}
.mod-invest-popup dd{
  line-height: 30px;
  float: left;
}
.mod-invest-popup .status-tag{
  height: 37px;
  line-height: 37px;
  padding-bottom: 15px;
}
.mod-invest-popup .status-tag dt{
  line-height: 37px;
}
.mod-invest-popup .status-tag .input{
  height: 35px;
  line-height: 35px;
  border: 1px solid #ececec;
}
.mod-invest-popup .aradio{
  position: relative;
  background-color: #fff;
  display: block;
  float: left;
  height: 35px;
  line-height: 35px;
  width: 100px;
  text-align: center;
  color: #333;
  border: 1px solid #ececec;
  padding: 0;
}
.mod-invest-popup .aradio:hover{
  background-color: #fff;
  color: #333;
}
.mod-invest-popup .aradio.selected{
  border-color: #0080cc;
  color: #0080cc;
  background-color: #fff;
}
.mod-invest-popup .aradio.selected em {
  position: absolute;
  right: 0;
  bottom: -1px;
  height: 15px;
  width: 14px;
  background-image: url(/styles/images/member/account-icons.png);
  background-position: -270px 0;
  @include ratioBackground($url:'/styles/images/member/account-icons-ret.png', $size: 420px 420px, $x:-270px, $y:-0px)
}
.mod-invest-popup .onerror .tiper{
  display: block;
}
