@charset "UTF-8";
@import '../base/utils';
@import '../base/reset';
@import '../base/grid';
@import '../inc/ui';
@import '../mod/dialog';
@import '../inc/site-nav-ty';
@import '../inc/header';
@import '../inc/header-ty';
@import '../inc/member-header';
@import '../inc/footer';
@import '../mod/search';
@import '../mod/rate';
@import '../mod/pk';
@import '../mod/asidelist';
@import '../mod/certification';
@import '../mod/articlelist';
@import '../mod/comment';
@import '../mod/dynamic';
@import '../mod/animate';
@import '../mod/shareInvest';
@import '../mod/bind';
@import '../mod/autocomplete';
@import '../mod/floatlayer';
@import '../mod/activity';
@import '../mod/invest-popup';


.font-arial {
  font-family: arial;
}
.mod-comment{
    .feed-detail {
        padding-bottom: 0;
    }
}
.mod-info-top{
	.col-main{
		float: left;
		width: 100%;
	}
	.col-wrap{
		height: 295px;
		margin-right:420px;
		background:#0080cc;
		padding:24px 28px 0;

		.tag{
			color: #fff;
			font-size: 14px;
			display: inline-block;
			*display:inline;
			*zoom:1;
			line-height: 24px;
			padding:0 10px;
			background:rgba(255,255,255,.3);
			margin-right: 15px;
			letter-spacing:normal;
			word-spacing:normal;
		}
		.qt-gr{
			color: #fff;
			.tip{
				width: 22px;
				height: 22px;
				display: inline-block;
				*display:inline;
				*zoom:1;
				vertical-align: top;
				*vertical-align: middle;
				margin-top:-3px;
				*margin-top:0;
				background:url(/styles/images/common/icons.png) no-repeat -465px -60px;
			}
		}

		.middle{
			padding-top:118px;
			dl{
				color: #fff;
				font-size: 14px;
				border-left:1px solid #fff;
				padding:0 12px;
				line-height: 1.5em;
			}
			.first{
				border-left:none;
				text-align: center;
			}
			dt{
				text-align: center;
				font-family: Micorsoft YaHei;
			}
			dd{
				font-size: 16px;
				font-family: Micorsoft YaHei;
				text-align: center;
			}
		}
		.bottom{
			color: #fff;
			font-size:20px;
			span{
				font-size: 100px;
			  	line-height: 100px;
				font-weight: bold;
			}
			i{
				font-size:50px;
				margin-right: 15px;
			}
		}
	}
	.col-sub{
		padding-top:20px;
		height: 300px;
		float: left;
		margin-left:-385px;
		width: 350px;

		.top{
			.txt{
				float: left;
				width: 100%;
			}
			.txt-wrap{
				padding-left:85px;
				position:relative;
				.ui-follow{
					position:absolute;
					right:0;
					top:20px;
				}
			}
			h3{
				font-size: 16px;
				color: #383838;
				line-height: 40px;
			}
			.img{
				width: 60px;
				height: 60px;
				overflow: hidden;
				float: left;
				margin-left: -100%;
				padding:4px;
				border:1px dashed #787878;
				border-radius:64px;
			}
			img{
				width: 60px;
				height: 60px;
				border-radius:60px;
				background:#fff;
			}
			span{
				color: #787878;
				font-size: 13px;
			}
			.mail em{
				display: inline-block;
				*display:inline;
				*zoom:1;
				background:url(/styles/images/common/icons.png) no-repeat;
				margin-right: 4px;
				width: 25px;
				height: 18px;
				background-position:-463px -2px;
				vertical-align: top;
				*vertical-align: middle;
				margin-top:0;
			}
			.report em{
				display: inline-block;
				*display:inline;
				*zoom:1;
				background:url(/styles/images/common/icons.png) no-repeat;
				margin-right: 4px;
				width: 25px;
				height: 18px;
				background-position:-493px -2px;
				vertical-align: top;
				*vertical-align: middle;
				margin-top:0;
			}
		}

		.middle{
			background:#f0f0f0;
			height: 45px;

			line-height: 20px;
			padding:0 10px;
			padding-top: 5px;
			color: #787878;
			font-size: 13px;
			margin-top:8px;
		}
		.bottom{
			margin-top:20px;
			.hd{
				font-size: 13px;
				color: #787878;
				line-height: 35px;
				border-bottom:1px solid #efefef;
				h3{
					font-size: 16px;
					font-family: Micorsoft YaHei;
					color: #383838;
				}
				.more{
					color: #787878;
				}
			}
			li{
				line-height: 36px;
				color: #787878;
				font-size: 13px;
				width: 50%;
				text-align: left;
                .lsbin:hover{color:#0081cb;}
			}
			em{
				display: inline-block;
				*display: inline;
				*zoom:1;
				width: 20px;
				height: 20px;
				margin-right: 10px;
				vertical-align: top;
				*vertical-align: middle;
				margin-top:8px;
				*margin-top:0;
				background:url(/styles/images/common/icons.png) no-repeat;
			}

			.pt em{
				background-position:-360px 0;
			}
			.wz em{
				background-position:-403px 0;
			}
			.tz em{
				background-position:-360px -32px;
			}
			.fs em{
				background-position:-403px -32px;
			}
			.zt em{
				background-position:-359px -63px;
			}
			.tzs em{
				background-position:-403px -63px;
			}
		}
	}
}

.mod-mine-info{
	.col-main{
		float: left;
		width: 100%;
	}
	.col-wrap{
		height: 480px;
		margin-right:420px;
		padding:20px 28px 0;
		.hd{
			font-size: 13px;
			color: #787878;
			line-height: 35px;
			border-bottom:1px solid #efefef;
			h3{
				font-size: 16px;
				font-family: Micorsoft YaHei;
				color: #383838;
			}
			.more{
				color: #787878;
			}
			.summary{
				width: 100%;
				float: left;
				.summary-warp{
					padding-left:100px;
					font-size: 14px;
					position:relative;
					.ui-pop{
						position:absolute;
						top: -6px;
    					left: 100px;
					}
				}
			}
			.title{
				float: left;
				margin-left: -100%;
			}

			.ui-pop{
				vertical-align: top;
				margin-top:4px;
				*vertical-align:middle;
				*margin-top:0;
			}
		}
		.bd{
			padding-left:23px;
			padding-top:25px;
			ul{
				li{
					width: 25%;
					padding-bottom:58px;
				}
			}
			.column5{
			  	li{
				  width:20%;
				}
			}
			.label{
				padding-bottom:15px;
				font-size: 14px;
			}
		  	.icon-doubt{
			  position: absolute;
			  top: 3px;
			  left: 58px;
			  width: 14px;
			  height: 14px;
			  background: url(/styles/images/common/icons.png) no-repeat;
			  background-position: -537px -64px;
			  &:hover{
				background-position: -569px -64px;
			  }
			}
			.value{
				font-size: 16px;
				color: #383838;
				padding-bottom:25px;
				span{
					font-size: 26px;
				}
			}
			.more{
				color: #383838;
				font-size: 14px;
				line-height: 24px;
				vertical-align: middle;
				margin-left: 7px;
			}
		}
		.bottom.bd{
			ul li{
				padding-bottom:20px;
			}
		}
		.ft{
			.qt-gl{
				width: 50%;
				font-size: 14px;
				color: #787878;
				span{
					color: #383838;
				}
				.ui-link{
					vertical-align: middle;
					margin-left: 20px;
				}
			}
			.r{
				font-size:18px;
				font-family: Micorsoft YaHei;
			}
		}
	}
	.col-sub{
		padding-top:20px;
		height: 480px;
		float: left;
		margin-left:-385px;
		width: 350px;


		.bottom{
			.hd{
				font-size: 13px;
				color: #787878;
				line-height: 35px;
				border-bottom:1px solid #efefef;
				h3{
					font-size: 16px;
					font-family: Micorsoft YaHei;
					color: #383838;
				}
				.more{
					color: #787878;
				}
			}
			ul{
				padding-top:15px;
			}
			li{
				line-height: 55px;
				color: #787878;
				font-size: 13px;
				width: 50%;
				text-align: left;
                .lsbin:hover{color:#0081cb;}
			}
			em{
				display: inline-block;
				*display: inline;
				*zoom:1;
				width: 20px;
				height: 20px;
				margin-right: 10px;
				vertical-align: top;
				*vertical-align: middle;
				margin-top:18px;
				*margin-top:0;
				background:url(/styles/images/common/icons.png) no-repeat;
			}

			.pt em{
				background-position:-360px 0;
			}
			.wz em{
				background-position:-403px 0;
			}
			.tz em{
				background-position:-360px -32px;
			}
			.fs em{
				background-position:-403px -32px;
			}
			.zt em{
				background-position:-359px -63px;
			}
			.tzs em{
				background-position:-403px -63px;
			}
		}

		.sign{
			.hd{
				padding-top:42px;
				text-align: center;
				padding-bottom:12px;
			}
			.bd{
				.text{
					background:#f9f9f9;
					color: #787878;
					padding:14px;
					line-height: 1.5em;
					font-size: 14px;
				}
				.textarea{
					background:#f9f9f9;
					color: #787878;
					padding:14px;
					line-height: 1.5em;
					font-size: 14px;
					width: 92%;
					border:none;
				}
			}
			.ft{
				a{
					font-size: 14px;
					padding: 5px 0;
					color: #787878;
					margin-left:10px;
				}
			}
		}
	}
}

.mod-info{
	padding:18px 25px;
	background:#fff;
	overflow:hidden;

	.mod-nologin{
	  .nologin-top{
		margin: auto;
		margin-top: 55px;
		text-align: center;
		.btn_login{
		  width: 117px;
		  height: 36px;
		  line-height: 36px;
		  display: inline-block;
		  color: #fff;
		  background-color: #0080cc;
		  border-radius: 3px;
		  margin-right: 30px;
		}
		.btn_register{
		  width: 115px;
		  height: 34px;
		  line-height: 34px;
		  display: inline-block;
		  border: 1px solid #0080cc;
		  color: #0080cc;
		  border-radius: 3px;
		}
	  }
	  .nologin-bottom{
		text-align: center;
		margin: 19px 0 22px;
		font-size: 12px;
		color: #999999;
	  }
	}
	.title{
		height: 36px;
		line-height: 36px;
		border-bottom: 1px solid #f0f0f0;
		font-size: 16px;
		color:#383838;
		font-family: Micorsoft YaHei;
	}
	.col-main{
		width: 100%;
		float: left;
		.col-wrap{
			padding-right:400px;
		}
	}
	.col-sub{
		float: left;
		width: 355px;
		margin-left: -397px;
		border-left:1px solid #f0f0f0;
		height: 419px;
		padding-left:25px;
		padding-top:25px;

		.hd{
			border-left:4px solid #0080cc;
			height: 22px;
			line-height: 22px;
			font-size: 16px;
			font-family: Micorsoft YaHei;
			padding-left:5px;
		}

		.bd{
			height: 310px;
			overflow: hidden;
			padding-top:20px;
			li{
				padding-bottom:26px;
			}
			.rates{
				width: 100%;
				float: left;
			}
			.mod-rate{
				margin:0 90px 0 106px;
				width: auto;
			}
			.labels{
				float: left;
				margin-left: -100%;
				width: 100px;
				font-size: 16px;
				color: #383838;
				font-family: Micorsoft YaHei;
			}
			.values{
				float: left;
				margin-left:-90px;
				display: block;
				width: 70px;
				padding-left:5px;
				font-size: 13px;
				color: #787878;
			}
		}

		.ft{
			text-align: center;
			.bx-pager-item{
				display: inline-block;
				*display: inline;
				*zoom:1;
				padding:0 3px;
			}
			a{
				display: inline-block;
				*display: inline;
				*zoom:1;
				width: 12px;
				height: 12px;
				border-radius:50%;
				border:1px solid #ccc;
				color: #fff;
				overflow: hidden;

			}
			.active{
				border:1px solid #0080cc;
				color: #0080cc;
				background:#0080cc;
			}
			a:hover{
				text-decoration: none;
			}
		}
	}
	.pk-parent{
		border-top:1px dashed #e8e8e8;
		padding:35px 0 35px 0;
	}

	.col-main .bd{
		padding-top:20px;
		position:relative;
		.ui-link-slide-parent{
			position:absolute;
			right: 125px;
    		top: 18px;
		}
	}

	.echart-hd{
		width: 220px;
		margin: 0 auto;
		border-radius:15px;
		overflow: hidden;
		.item{
			display: block;
			float: left;
			width: 110px;
			height: 30px;
			line-height: 30px;
			text-align: center;
			font-size: 16px;
			color:#0080cc;
			font-family: Micorsoft YaHei;
			background:#f0f0f0;
			-webkit-transition: all .25s ease-in-out;
			-moz-transition: all .25s ease-in-out;
			transition: all .25s ease-in-out;
		}
		.item:hover,.item.current{
			text-decoration: none;
			color:#fff;
			background:#0080cc;
		}
	}

	.echart-bd{
		margin: auto;
		height: 370px;
		padding: 12px 0;
		display: none;
	}
	.echart-bd.active{
		display: block;
	}


	.col-main .ft{
		height: 50px;
		padding:10px 0;
		background:#f0f0f0;
		.qt-gl{
			height: 50px;
			border-left:1px dashed #787878;
			text-align: center;
		}
		.first{
			border-left:none;
		}
		table{
			width: 100%;

		}
		td{
			vertical-align: middle;
			line-height: 50px;
			font-size: 13px;
		}
		.first td{
			line-height: 25px;
			span{
				line-height: 50px;
			}
		}
		color:#787878;
		span{
			font-size: 40px;
			color:#383838;
			font-weight: bold;
		}
	}

	.col-sub .ft{
		padding-top:10px;
	}

	.tips{
		border:1px solid #ff702a;
		background:#fffdf3;
		height: 29px;
		text-align: center;
		line-height: 29px;
		color:#ff702a;
		font-size: 14px;
		font-family: Micorsoft YaHei;
		span{
			color: #ea544a;
			font-size: 20px;
			font-weight: bold;
			vertical-align: middle;
			font-family: arial;
		}
		a{
			color:#0080cc;
		}
		em{
			width: 17px;
			height: 17px;
			display: inline-block;
			*display:inline;
			*zoom:1;
			vertical-align:top;
			margin-top:5px;
			*vertical-align: middle;
			*margin-top:0;
			background:url(/styles/images/common/icons.png) no-repeat -176px 0;
		}
	}

	.wait-list{
		border-bottom:1px dashed #f0f0f0;
		padding-top:10px;
		padding-bottom:10px;
		li{
			line-height: 36px;
			color: #787878;
			font-size: 14px;
		}
	}

	.wait-btn{
		width: 230px;
		height: 72px;
		border:1px solid #ff702a;
		border-radius:36px;
		line-height: 72px;
		text-align: center;
		font-size: 18px;
		font-family: Microsoft YaHei;
		color: #787878;
		margin:18px auto 0;
		cursor: pointer;
		span{
			color: #ff702a;
		}
		em{
			display: inline-block;
			*display:inline;
			*zoom: 1;
			width: 30px;
			height: 32px;
			background:url(/styles/images/common/icons.png) no-repeat -173px -79px;
			vertical-align: middle;
		}
	}
}

.mod-platfixed{
	position:absolute;
	width:100%;
	left:0;
	top:0;
	background:#fff;
	height:50px;
	-webkittransform: translateZ(0);
	-moz-transform: translateZ(0);
	transform: translateZ(0);
	z-index:11;
	border-bottom:1px solid #e6e6e6;
	box-shadow: rgb(230, 230, 230) 0px 2px 2px;
	.a{
		display: block;
		float: left;
		border-right:1px solid #e6e6e6;
		height:50px;
		line-height:50px;
		color: #383838;
		font-size: 16px;
		font-family: Microsoft YaHei;
		width: 155px;
		text-align: center;
		-webkit-transition: background .25s ease-in-out;
		-moz-transition: background .25s ease-in-out; 
		transition: background .25s ease-in-out; 

		span{
			color: #ea544a;
		}
	}
	.a:hover,.a.current{
		background:#0080cc;
		width: 156px;
		border-right:none;
		color: #fff;
		text-decoration: none;
		font-weight: bold;
	}
}

.mod-charge{
	display:none;
	.hd{
		height: 48px;
		line-height: 48px;
		color:#787878;
		font-size: 14px;
	}
	.bd{
		width: 100%;
		td{
			height: 80px;
			background:#fff;
			border-bottom:10px solid #f0f0f0;
			-webkit-transition: all .25s ease-in-out;
			-moz-transition: all .25s ease-in-out;
			transition: all .25s ease-in-out;
		}
		.selected td{
			background:#e6e6e6;
		}
		img{
			width: 40px;
			height: 40px;
			vertical-align: middle;
			margin-left: 37px;
			margin-right: 5px;
		}
		i,span{
			display: block;
			text-align: center;
		}
		i{
			font-size: 14px;
			color: #787878;
			font-style: normal;
			line-height: 2em;
		}
		span{
			font-size: 16px;
			color:#383838;
		}

		.tit{
			font-size: 20px;
			font-family: Microsoft YaHei;
		}
	}
	.ft{
		padding:10px 140px 35px;
		.ui-more{
			margin-top:0;
		}
	}
}
.mod-target{
	display:none;
	padding-top:20px;
	.hd{
		height: 48px;
		line-height: 48px;
		color: #787878;
		font-size: 14px;
	}
}
.mod-target.active,.mod-charge.active{
	display:block;
}
.mod-charge-btn{
	width:98px;
	height:28px;
	display:inline-block;
	*display:inline;
	*zoom:1;
	border:1px solid #0080cc;
	color:#0080cc;
	line-height:28px;
	text-align:center;
	font-size:16px;
	font-family:Microsoft YaHei;
	border-radius:8px;
}
.mod-charge-btn:hover{
	text-decoration:none;
	background:#0080cc;
	color:#fff;
}

.charge{
	text-align:center;
	padding:20px 0;
	.btn{
		display: inline-block;
		*display:inline;
		*zoom:1;
		width: 166px;
		height: 50px;
		line-height: 50px;
		text-align: center;
		font-size: 26px;
		font-family: Microsoft YaHei;
		background:#ea544a;
		color: #fff;
		border-radius:15px;
		-webkit-transition: all .25s ease-in-out;
		-moz-transition: all .25s ease-in-out;
		transition: all .25s ease-in-out;
		em{
			display: inline-block;
			*display:inline;
			*zoom:1;
			width: 29px;
			height: 29px;
			background:url(/styles/images/common/icons.png) no-repeat -173px -29px;
			vertical-align: top;
			*vertical-align: middle;
			margin-top:10px;
			*margin-top:0;

		}
	}
	.btn:hover{
		text-decoration: none;
		background:#e23030;
	}
}

.mod-target{
	table{
		width: 100%;
		text-align: center;
		th{
			background:#0080cc;
			color: #fff;
			height: 30px;
			line-height: 30px;
			font-size: 14px;
			text-align: center;
		}
		td{
			height: 47px;
			line-height: 47px;
			color: #383838;
			font-size: 14px;
			background:#fff;
			text-align: center;
		}
		th,td{
			border-bottom:10px solid #f0f0f0;
		}
		.first{
			text-align: left;
			padding-left:25px;
		}
		.last{
			text-align: right;
			padding-right:27px;
		}
		th.last{
			text-align: center;
		}

		em{
			display: inline-block;
			*display:inline;
			*zoom:1;
			width: 17px;
			height: 17px;
			background: url(/styles/images/common/icons.png) no-repeat 0 -108px;
			margin-right: 10px;
			vertical-align: top;
			*vertical-align:middle;
			margin-top:14px;
			*margin-top:0;
			cursor: pointer;
		}
		th em{
			margin-top:6px;
			background: url(/styles/images/common/icons.png) no-repeat 0 -134px;
		}
		em.selected{
			background: url(/styles/images/common/icons.png) no-repeat -32px -108px;
		}

		th em.selected{
			background: url(/styles/images/common/icons.png) no-repeat -32px -134px;
		}

		.ui-tools{
			margin-left:15px;
		}
	}

	.tabel-bottom{
		.col-main{
			width: 100%;
			float: left;
		}
		.col-wrap{
			padding: 0 140px;
		}
		.col-sub{
			float: left;
			margin-left: -100%;
			width: 100px;
			height: 38px;
			line-height: 38px;
			border:1px solid #3dbbf9;
			color: #3dbbf9;
			text-align: center;
			display: block;
			border-radius:8px;
			font-size: 14px;
			-webkit-transition: all .25s ease-in-out;
			-moz-transition: all .25s ease-in-out;
			transition: all .25s ease-in-out;
			em{
				width: 20px;
				height: 22px;
				display: inline-block;
				*display:inline;
				*zoom:1;
				background: url(/styles/images/common/icons.png) no-repeat 1px -161px;
				vertical-align: top;
				*vertical-align: middle;
				margin-top:7px;
				margin-right: 5px;
				*margin-top:0;
				-webkit-transition: all .25s ease-in-out;
				-moz-transition: all .25s ease-in-out;
				transition: all .25s ease-in-out;

			}
		}
		.col-sub:hover{
			text-decoration: none;
			color: #fff;
			background:#3dbbf9;
			em{
				background: url(/styles/images/common/icons.png) no-repeat -31px -161px;
			}

		}
		.ui-more{
			margin-top:0;
		}
		padding-bottom:35px;
		padding-top:10px;
	}
}

.main{
	width:100%;
	float:left;
	.wrap{
		margin-right:420px;
		position:relative;
		padding-top:51px;
	}
}
.sub{
	width:390px;
	float:left;
	margin-left: -390px;
}


.taber{
	display:none;
}
.taber.active{
	display:block;
}
.mod-asideulist{
    height: auto;
    .mod-right-empty{
        width:364px;              
    }    
}

.ui-icons-big{
	vertical-align:top;
	*vertical-align:middle;
	margin-top:6px;
	*margin-top:0;
}
.mod-shareinvest .hd .ui-icons-big{
	margin-top: 20px;
}
.tenderpaper{
    position:absolute;
    top:-30px;
    left:22px;
    z-index: 1;
    a{
        display:block;
        height:45px;
        width:42px;
        background:url(/styles/images/common/icons.png) no-repeat -127px -301px;
    }
}

.mod-articlelist .bd .tools .info{
  width: 710px;
  overflow: hidden;
}


.content {
  .mod-title {
	  height: 56px;
	  line-height: 56px;
		border-bottom:1px solid #f2f2f2;
	position:relative;
	.mod-title-left {
	  float: left;
	  position:relative;
	  z-index:2;
	}
	.mod-title-right {
	  float: right;
	  position:relative;
	  z-index:2;

	}
	.summary{
	  width: 100%;
	  position:absolute;
	  top:11px;
	  .summary-warp{
		padding-left:116px;
		font-size: 14px;
		position:relative;
		.ui-pop{
		  position:absolute;
		  left: 100px;
		}
	  }
	}
  }
  .mod-title-text {
	font-size: 16px;
	font-weight: bold;
	color:#333;
	padding-left:10px;
  }
  .mod-title-line {
	width:0px;
	height:16px;
	border-left:4px solid #ea544a;
	margin-top:20px;
  }
  .mod-title-link {
	color:#666;
	font-size: 13px;
  }
  .mod-slide {
	padding:0px 20px;
	border: 1px solid #eee;
	width:308px;
	background: #fff;
  }
  .mod-common {
	border:1px solid #eee;
	background: #fff;
	padding:0px 30px;
	width:780px;

  }
  .content-direct {
	height:200px;
	.summary{
	  .summary-warp{
		padding-left:116px;
		.ui-pop {
		  left: 116px;
		}
	  }
	}
	.content-direct-main {
	  .nodata {
		padding:22px 0px 0px;
		text-align: center;
		.nodata-top{
		  height:30px;
		  .img {
			display: inline-block;
			width:30px;
			height:30px;
			background: url('/styles/images/member/member-icon.png') -212px 0px  no-repeat;
			@include ratioBackground($url:'/styles/images/member/member-icon-ratio.png',$x:-212px,$y:0px,$size:250px);
		  }
		  .nodata-top-text {
			display: inline-block;
			padding:0px 0px 0px 5px;
			line-height: 34px;
			font-size:24px;
			color:#666;
			font-weight: bold;
			vertical-align: top;
		  }
		}
		.nodata-center {
		  font-size:14px;
		  color:#666;
		  line-height: 32px;
		}
		.nodata-bottom {
		  padding:10px 0px 0px;
		}
		.nodata-refresh {
		  display: inline-block;
		  line-height: 18px;
		  height: 18px;
		  font-size:13px;
		  color:#ff702a;
		  padding:0px 20px;
		  border:1px solid #ff702a;
		  border-radius: 1px;
		  text-decoration: none;
		  &:hover {
			background: #ff702a;
			color:#fff;
		  }
		}
	  }
	}
	.content-direct-main-item {
	  float: left;
	  width:25%;
	  text-align: center;
	  padding:14px 0px 0px;
	  .item-title {
		line-height: 28px;
		font-size:14px;
		color:#666;
		.item-title-icon{
		  position: relative;
		  display: inline-block;
		  width: 12px;
		  height:12px;
		  background: url("/styles/images/member/member-icon.png") no-repeat -95px -72px;
		  @include ratioBackground($url:'/styles/images/member/member-icon-ratio.png',$size:250px,$x: -96px,$y: -72px );
		  cursor: pointer;
		  &:hover{
			.item-title-hovertips,.item-title-hovertips-t{
			  display: block;
			}
		  }
		  .item-title-hovertips{
			position: absolute;
			display: none;
			left: -42px;
			top: -60px;
			padding: 10px;
			width: 75px;
			text-align: center;
			line-height: 14px;
			font-size: 12px;
			color: #fff;
			background-color: #000;
			filter: alpha(opacity=65);
			background-color: rgba(0, 0, 0, 0.65);
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
		  }
		  .item-title-hovertips-t{
			position: absolute;
			left: -2px;
			top: -12px;
			display: none;
			height: 0;
			width: 0;
			border-left: 8px solid transparent;
			border-right: 8px solid transparent;
			border-top: 8px solid rgba(0, 0, 0, 0.65);
		  }
		}
	  }
	  .item-main {
		line-height: 32px;
		font-size: 26px;
		color:#333;
		font-weight: bold;
		height:35px;
		@include text-ellipsis;
		.font-small {
		  font-size:18px;
		}
	  }
	  .font-big {
		font-size: 26px;
	  }
	  .item-footer {
		padding-top:18px;
	  }
	  .item-footer-link {
		display: inline-block;
		line-height: 18px;
		height: 18px;
		font-size:13px;
		color:#ff702a;
		padding:0px 20px;
		border:1px solid #ff702a;
		border-radius: 2px;
		text-decoration: none;
		&:hover {
		  background: #ff702a;
		  color:#fff;
		}
	  }
	}
  }
  .content-accounting {
	overflow: hidden;
	.summary{
	  .summary-warp {
		.ui-pop{
		  left:85px;
		}
	  }
	}
	.main-top {
	  padding: 17px 20px 15px;
	  height: 26px;
	  line-height: 26px;
	  background: #f9f9f9;
	}
	.main-top-item {
	  float: left;
	  padding: 0px 50px 0px 0px;
	  color: #333;
	}
	.main-top-item-icon {
	  float: left;
	  width: 26px;
	  height: 26px;
	  background: url('/styles/images/member/member-icon.png') no-repeat;
	  @include ratioBackground($url:'/styles/images/member/member-icon-ratio.png',$size:250px);
	}
	.icon-num {
	  background-position: 0px -72px;
	  @include ratioBackgroundPosition($x:0px ,$y:-72px )
	}
	.icon-rate {
	  background-position: 0px -36px;
	  @include ratioBackgroundPosition($x:0px ,$y:-36px )
	}
	.icon-deg {
	  background-position: 0px 0px;
	  @include ratioBackgroundPosition($x:0px ,$y:0px )
	}
	.main-top-item-text {
	  float: left;
	  padding: 0px 12px 0px 8px;
	  font-size: 14px;
	}
	.main-top-item-data {
	  float: left;
	  font-size: 18px;
	  font-weight: bold;
	}
	.font-big {
	  font-size: 26px;
	}
	.main-bottom {
	  padding:20px 0px 30px;
	  height:212px;
	}
	.main-bottom-list {
	  width: 800px;
	}
	.main-bottom-item {
	  float: left;
	  width:196px;
	  a:hover{
		text-decoration: none;
	  }
	}
	.main-bottom-item-wrap {
	  height:210px;
	  border:1px solid #efefef;
	  width:156px;
	  padding:0px 14px;
	  background: #fff;
	  cursor: pointer;
	  display: block;
	  text-decoration: none;
	  transition: all 0.2s cubic-bezier(1, 0.06, 0.54, 0.99);
	  &:hover {
		box-shadow: 0px 0px 10px #eee;
		-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=135, Color='#dddddd')";
		transform: translateY(-4px) translateX(-4px);
		.img {
		  background-position: -95px -108px;
		  @include ratioBackgroundPosition($x:-95px ,$y:-108px )
		}
	  }
	}
	.main-bottom-item-top {
	  height:56px;
	  line-height: 56px;
	  border-bottom:1px solid #f3f3f3;
	}
	.main-bottom-item-platname {
	  float: left;
	  padding:0px 2px 0px 0px;
	  font-size:16px;
	  color:#333;
	  .platname-name {
		max-width:70px;
		float: left;
		@include text-ellipsis;
	  }
	  .platname-symbol {
		float: left;
	  }
	}
	.main-bottom-item-work {
	  float: right;
	  color:#0080cc;
	  font-size:12px;
	}
	.main-bottom-item-text {
	  float: left;
	  font-size: 12px;
	}
	.main-bottm-item-icon {
	  float: left;
	  width:16px ;
	  height:12px;
	  position:relative;
	  top:22px;
	  left: 0px;
	  background: url('/styles/images/member/member-icon.png') no-repeat;
	  background-position:0px -130px;
	  @include ratioBackground($url:'/styles/images/member/member-icon-ratio.png',$size:250px,$y:-130px);
	}
	.main-bottom-item-notwork {
	  color:#ff702a;
	  .main-bottm-item-icon {
		background-position:0px -108px;
		@include ratioBackgroundPosition($x:0px ,$y:-108px )
	  }
	}
	.main-bottom-item-center {
	  height: 112px;
	  text-align: center;
	  .platname-loan {
		font-size: 14px;
		color:#666;
		line-height: 44px;
		padding-top:5px;
		@include text-ellipsis;
	  }
	}
	.main-bottom-item-center-text {
	  line-height: 22px;
	  font-size:13px;
	  color:#999;
	}
	.main-bottom-item-center-data{
	  color:#ea544a;
	  line-height: 26px;
	  font-weight: bold;
	  font-family: arial;
	  font-size:26px;
	  .font-small {
		font-size: 18px;
	  }
	}
	.main-bottom-item-bottom-text {
	  line-height: 22px;
	  font-size: 13px;
	  color:#666;
	  text-align: center;
	  .pt-pl5 {
		padding-left: 4px;
	  }
	}
	.main-bottom-item-accounting {
	  padding:70px 0px 0px;
	  width:50px;
	  margin: 0px auto;
	  height:50px;
	  .img {
		width:50px;
		height:50px;
		background: url("/styles/images/member/member-icon.png") no-repeat -36px -108px;
		@include ratioBackground($url:'/styles/images/member/member-icon-ratio.png',$size:250px,$y:-108px,$x:-36px);
	  }
	}
	.main-bottom-item-accountext {
	  font-size:14px;
	  color:#999;
	  line-height: 24px;
	  text-align: center;
	}
  }
  .content-dynamic {
	.dynamic-main-section {
	  padding-bottom:30px;
	}
	.dynamic-title{
	  height: 39px;
	  border-bottom:1px solid #f2f2f2;
	  padding:0px 0px 0px 40px;
	  .dynamic-title-wrap {
		float: left;
		padding:3px 40px 0px;
	  }
	  .dynamic-title-link{
		display: inline-block;
		padding:0px 20px;
		line-height:34px ;
		color:#666;
		font-size: 16px;
		border-bottom:3px solid transparent;
		text-decoration: none;
		&:hover {
		  color:#333;
		  border-color: #ea544a;
		  font-weight: bold;
		}
	  }
	  .current {
		color:#333;
		border-color: #ea544a;
		font-weight: bold;
	  }
	}
	.dynamic-main-list {
	  padding-bottom:20px;
	}
	.dynamic-main-item {
	  border-bottom:1px dashed #f2f2f2;
	  padding:30px 0px;
	}
	.dynamic-main-item-info {
	  float: left;
	  width:100%;
	  color:#333;
	}
	.dynamic-main-item-info-wrap {
	  padding: 0px 0px 0px 76px;
	}
	.dynamic--main-item-name {
	  font-size:16px;
	  font-weight: bold;
	  line-height: 18px;
	}
	.dynamic-main-item-title {
	  display: block;
	  font-size: 16px;
	  color:#0080cc;
	  padding:16px 0px 0px;
	  line-height: 24px;
	}
	.dynamic-main-item-text {
	  font-size: 14px;
	  line-height: 24px;
		a {
		  color:#ff702a;
		}
	}
	.dynamic-main-item-text1 {
	  padding:26px 0px 30px;
	  font-size: 14px;
	  line-height: 20px;
	  span {
		display: block;
		height:20px;
		word-wrap: break-word;
		word-break: break-all;
		overflow: hidden;
	  }
	}
	.dynamic-main-item-details {
	  padding:14px 0px 0px;
	  line-height: 14px;
	  color:#999;
	  font-size: 13px;
	}
	.dynamic-main-item-details-time {
	  float: left;
	}
	.dynamic-main-item-desc-link {
	  float: left;
	  color:#999;
	}
	.dynamic-main-item-desc-link1 {
	  float: left;
	}
	.dynamic-main-item-desc-desc {
	  float: right;
	  color: #0080cc;
	  font-size: 14px;
	}
	.pt-pl30 {
	  padding:0px  30px 0px 0px;
	}
	.dynamic-main-item-desc-icon {
	  display:inline-block;
	  vertical-align: top;
	  width:22px;
	  height:14px;
	  background: url("/styles/images/member/member-icon.png") 0px 0px no-repeat;
	  @include ratioBackground($url:'/styles/images/member/member-icon-ratio.png',$size:250px)
	}
	.icon-read {
	  background-position: -95px -39px;
	 @include ratioBackgroundPosition($x:-95px ,$y:-39px );
	}
	.icon-reply {
	  background-position: -98px -3px;
		@include ratioBackgroundPosition($x:-98px ,$y:-3px )
	}
	.dynamic-main-item-img {
	  float:left;
	  width:60px;
	  height: 60px;
	  border:1px solid #f2f2f2;
	  background: #f2f2f2;
	  border-radius:4px;
	  margin-left: -100%;
	  img{
		width:60px;
		height: 60px;
		-webkit-transition: all .25s ease-in-out;
		-moz-transition: all .25s ease-in-out;
		transition: all .25s ease-in-out;
	  }
	  &:hover {
		transform: scale(1.1);
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
		-o-transform: scale(1.1);
		-ms-transform: scale(1.1);
	  }
	}
	.dynamic-main-section-more {
	  display: block;
	  height:40px;
	  line-height: 40px;
	  width: 100%;
	  background: #3dbbf9;
	  font-size: 14px;
	  color: #fff;
	  font-weight: bold;
	  text-align: center;
	  text-decoration: none;
	  border-radius: 4px;
	  &:hover {
		background: #ff702a;
	  }
	}
	.feed-detail  {
	  border-bottom:1px dashed #f2f2f2;
	  padding:30px 0px;
	}
	.detail {
	  float: left;
	  width:100%;
	  color:#333;
	}
	.detail-wrap {
	  padding: 0px 0px 0px 76px;
	}
	.username {
	  font-size:16px;
	  line-height: 1em;
	  color:#333;
	}
	.comment {
	  padding:26px 0px 30px;
	  font-size: 14px;
	  line-height: 20px;
	  @include text-ellipsis;
	}
	.time {
	  float: left;
	  line-height: 14px;
	  color:#999;
	  font-size: 13px;
	}
	.go {
	  float: right;
	  color: #0080cc;
	  font-size: 14px;
	  line-height: 14px;
	}
	.face {
	  float:left;
	  width:60px;
	  height: 60px;
	  border:1px solid #f2f2f2;
	  background: #f2f2f2;
	  margin-left: -100%;
	  border-radius: 5px;
	  img{
		width:60px;
		height: 60px;
		-webkit-transition: all .25s ease-in-out;
		-moz-transition: all .25s ease-in-out;
		transition: all .25s ease-in-out;
	  }
	  &:hover {
		transform: scale(1.1);
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
		-o-transform: scale(1.1);
		-ms-transform: scale(1.1);
	  }
	}
	.tips{
	  display: inline-block;
	  border: 1px solid #ff702a;
	  height: 20px;
	  line-height: 21px;
	  color: #ff702a;
	  font-size: 12px;
	  padding: 0 15px;
	  margin-left: 10px;
	  border-radius: 12px;
	  span{
		padding-right: 40px;
	  }
	  strong {
		font-weight: normal;
	  }
	}
  }
  .content-left {
	float: left;
	width:100%;
	.content-left-wrap {
	  padding-right:360px;
	}
  }
  .content-right {
	float: left;
	width:350px;
	margin-left: -350px;
  }
  .slide-common {
	padding-bottom: 28px;
	.slide-common-item {
	  padding:20px 0px 0px;
	  height:42px;
	}
	.ui-follow-easy {
	  float: left;
	  margin-left: -52px;
	  width: 49px;
	  height: 23px;
	  text-align: center;
	  padding: 0 0;
	  line-height: 23px;
	  font-size: 12px;
	  border: 1px solid #d5d5d5;
	  border-radius: 3px;
	  color: #383838;
	  display: inline-block;
	  &:hover {
		box-shadow: 0px 0px 5px #d5d5d5;
		text-decoration: none;
		color: #3dbbf9;
	  }
	}
	.slide-common-main {
	  float: left;
	  width: 100%;
	}
	.slide-common-main-wrap {
	  padding:0px 0px 0px 50px;
	}
	.slide-common-item-title {
	  height: 18px;
	  line-height: 18px;
	  font-size:14px;
	  .slide-common-item-name {
		color:#333;
		font-weight: bold;
		float: left;
		max-width: 140px;
		@include text-ellipsis
	  }
	  .slide-common-item-time {
		float: right;
		font-size: 13px;
		color: #333;
	  }
	}
	.slide-common-item-main {
	  color:#999;
	  font-size:13px;
	  padding:8px 0px 0px;
	  line-height: 14px;
	  .w108 {
		width:108px;
	  }
	  .w74 {
		width: 74px;
	  }
	  .w148{
		width: 148px;
	  }
	  .color {
		color: #ea544a;
	  }
	}
	.slide-common-item-main-text {
	  float: left;
	  text-align: left;
	  @include text-ellipsis;
	}
	.slide-common-img {
	  float: left;
	  margin-left: -100%;
	  height:40px;
	  width:40px;
	  border:1px solid #f0f0f0;
	  background: #f0f0f0;
	  border-radius: 3px;
	  border-radius: 3px;
	  img {
		width:40px;
		height:40px;
		-webkit-transition: all .25s ease-in-out;
		-moz-transition: all .25s ease-in-out;
		transition: all .25s ease-in-out;
	  }
	  &:hover {
		img {
		  ransform: scale(1.1);
		  -webkit-transform: scale(1.1);
		  -moz-transform: scale(1.1);
		  -o-transform: scale(1.1);
		  -ms-transform: scale(1.1);
		}
	  }
	}
  }
  .slide-block1 {
	.mod-title-icon {
	  display: inline-block;
	  width: 12px;
	  height:12px;
	  background: url("/styles/images/member/member-icon.png") no-repeat -95px -72px;
	  @include ratioBackground($url:'/styles/images/member/member-icon-ratio.png',$size:250px,$x: -96px,$y: -72px );
	}
	.slide-block1-main {
	  padding:10px 0 30px;
	  .slide-btn-box{
		padding-top: 15px;
		.slide-btn{
		  display: block;
		  float: left;
		  height: 28px;
		  width: 146px;
		  line-height: 30px;
		  font-size: 12px;
		  text-align: center;
		  background-color: #0080cc;
		  color: #fff;
		  border: 1px solid #0080cc;
		  -webkit-border-radius: 3px;
		  -moz-border-radius: 3px;
		  border-radius: 3px;
		  transition: all .2s ease-in-out;
		}
		.slide-btn-a{
		  background-color: #0080cc;
		  color: #fff;
		  border: 1px solid #0080cc;
		  &:hover{
			background-color: #0070bc;
			border-color: #0070bc;
			text-decoration: none;
		  }
		}
		.slide-btn-b{
		  background-color: transparent;
		  color: #999;
		  border: 1px solid #e8e8e8;
		  margin-left: 12px;
		  &:hover{
			color: #fff;
			background-color: #0080cc;
			border-color: #0080cc;
			text-decoration: none;
		  }
		}
	  }
	}
	.slide-block1-text-tips{
	  height: 50px;
	  line-height: 50px;
	  font-size:16px;
	  color: #333;
	  .slide-block1-link{
		margin-left: 3px;
		font-size: 12px;
	  }
	}
	.slide-block1-text {
	  height: 50px;
	  line-height: 50px;
	  font-size:14px;
	  color:#666;
	  .font-color {
		color:#333;
		font-family:arial;
		font-size:18px;
		padding:0px 0px 0px 4px;
	  }
	  .font-big {
		font-size:28px;
	  }
	  .color-red{
		color: #ea544a;
	  }
	}
  }
  .slide-block2 {
	height:228px;
	overflow: hidden;
	.block2-main {
	  padding:2px 0px 0px;
	}
	.block2-right {
	  float: left;
	  width:100%;
	}
	.block2-right-wrap {
	  padding:0px 0px 0px 170px;
	}
	.block2-left {
	  float: left;
	  width: 170px;
	  margin-left:-100%;
	}
	.block2-main-item {
	  float: left;
	  width:100%;
	  padding:16px 0px;
	  font-size:14px;
	  @include text-ellipsis;
	  line-height: 20px;
	}
	.block2-main-item-icon {
	  float: left;
	  width:20px;
	  height:20px;
	  background: url("/styles/images/member/member-icon.png") 0px 0px no-repeat;
	  @include ratioBackground($url:'/styles/images/member/member-icon-ratio.png',$size:250px);
	}
	.icon-fans {
	  background-position: -36px -72px;
	  @include ratioBackgroundPosition($x:-36px ,$y:-72px );
	}
	.icon-post {
	  background-position: -66px -72px;
	  @include ratioBackgroundPosition($x:-66px ,$y:-72px );
	}
	.icon-amount {
	  background-position: -66px -36px;
	  @include ratioBackgroundPosition($x:-66px ,$y:-36px );
	}
	.icon-plat {
	  background-position: -36px 0px;
	  @include ratioBackgroundPosition($x:-36px ,$y:0px );
	}
	.icon-follow {
	  background-position: -66px 0px;
	  @include ratioBackgroundPosition($x:-66px ,$y:0px );
	}
	.icon-theme {
	  background-position: -36px -36px;
	  @include ratioBackgroundPosition($x:-36px ,$y:-36px );
	}
	.icon-friend {
	  background-position: -66px -168px;
	  @include ratioBackgroundPosition($x:-66px ,$y:-168px );
	}
	.icon-collect {
	  background-position: -36px -168px;
	  @include ratioBackgroundPosition($x:-36px ,$y:-168px );
	}
	.icon-shoucang {
		background: url("/styles/images/member/profile-icon.png") 0 0 no-repeat;
		@include ratioBackground($url:'/styles/images/member/profile-icon-2x.png',$size:200px);
	    background-position: -75px 0;
        @include ratioBackgroundPosition($x:-75px ,$y:0px );
	}
	.block2-main-item-text {
	  float: left;
	  color:#333;
	  padding:0px 0px 0px 8px;
	}
	.block2-main-item-num {
		color:#999;
	  .font-fam {
		font-family: arial;
	  }
	}
	a.block2-main-item-num{
	  color:#ea544a;
	}
  }
  .slide-block7 {
	.block7-main-item {
	  width:310px;
	  height:146px;
	  margin:0px auto;
	  padding:0px 0px 20px;
	}
	.block7-main-link {
	  .img {
		width:310px;
		height:146px;
		position: relative;
		transition: all 0.2s cubic-bezier(1, 0.06, 0.54, 0.99);
		}
	  &:hover {
		.img {
		  box-shadow: 0px 0px 10px #eee;
		  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=135, Color='#dddddd')";
		  transform: translateY(-4px) translateX(-4px);
		}
	  }
	}
  }
  .slide-block8 {
	.mod-title {
	  border:0px;
	}
	.block8-main-list {
	  padding-bottom: 10px;
	}
	.block8-main-item {
	  margin:0px auto;
	  padding:0px 0px 20px;
	  width: 310px;
	  height:72px;
	}
	.block8-main-link {
	  float: left;
	  width:150px;
	  height:70px;
	  border:1px solid #f6f6f6;
	  margin-left: -100%;
	}
	.block8-msin-item-defail {
	  float: left;
	  width: 100%;
	}
	.block8-msin-item-defail-wrap {
	  padding-left:164px;
	}
	.block8-msin-item-defail-title {
	  @include text-ellipsis;
	  color:#333;
	  font-size:14px;
	  font-weight: bold;
	  line-height: 16px;
	  padding:0px 0px 10px;

	}
	.block8-main-item-defail-bg {
	  display: inline-block;
	  padding:0px 20px;
	  border-radius: 4px;
	  background: #eef9ff;
	  font-size: 13px;
	  color:#7197af;
	  height: 20px;
	  line-height: 20px;
	}
	.block8-main-item-defail-desc {
	  padding:12px 0px 0px;
	  font-size:13px;
	  line-height: 1em;
	  color:#999;
	  @include text-ellipsis;
	  .color {
		color:#ee492b;
	  }
	}
  }
}
.readinfo {
  position: absolute;
  top:0px;
  left: 0px;
  width:100%;
  height:100%;
  z-index: 50;
  .readinfo-bg {
	width: 100%;
	height:100%;
	background: #000;
	@include opacity(0.6);
  }
  .readinfo-next {
	left: 367px;
  }
  .readinfo-close {
	display: none;
	left: 652px;
  }
  .readinfo-wrap {
	position:absolute;
	width:1200px;
	left:50%;
	top:0px;
	margin-left:-600px;
  }
  .mod-readinfo-main {
	width:600px;
	height:200px;
	position:absolute;
	top:287px;
	img {
	  width:600px;
	  height:200px;
	}
  }
  .readinfo-btn {
	width:82px;
	height:29px;
	position:absolute;
	left: 480px;
	top:127px;
  }
}



// 弹窗样式
.info-invest{
  .w50{
	width: 50%;
  }
  dt{
	width: 75px;
	text-align: left;
	font-size: 14px;
	color: #666;
  }

  dd{
	text-align: left;
	font-size: 16px;
	color: #333;
  }
  .infoinvest-th{
	background-color: #f8f8f8;
  }
}
.reply-submit{
  display: inline-block;
}
.reply-submit:hover{
  text-decoration: none;
}