@charset "UTF-8";
@import '../base/utils';
@import '../base/reset';
@import '../base/grid';
@import '../inc/ui';
@import '../mod/dialog';
@import '../inc/site-nav-ty';
@import '../inc/header';
@import '../inc/header-ty';
@import '../inc/member-header';
@import '../inc/footer';
@import '../mod/search';
@import '../mod/charge';
@import '../mod/swiper';
@import '../mod/bind';
@import '../mod/redpapersave';
@import '../mod/floatlayer';
@import '../mod/activity';
.col-title{
  height:18px;
  padding:7px 0;
  span{
    float:left;
    font-size:18px;
    line-height: 18px;
    font-weight:bold;
    color:#535a63;
  }
  .tips{
    padding-left:25px;
    font-size: 12px;
    font-weight: normal;
    color:#787878;
  }
  .more{
    display:block;
    float:right;
    text-decoration: none;
  }
}
.content {
  background: #eaedf4;
  .tab-wrap {
    width: 210px;
    float: left;
    height: 100%;
    padding-top: 18px;
    .tab {
      width: 100%;
      .list {
        margin-top: 7px;
        height: 39px;
        line-height: 39px;
        font-size: 16px;
        position: relative;
        &:hover, &.current {
          background: #fff;
          @include fadein(0.25s);
        }
        &.current {
          font-weight: bold;
        }
        a {
          color: #383838;
          text-decoration: none;
          display: block;
          height: 100%;
          padding-left: 63px;
        }
        .image {
          position: absolute;
          top: 14px;
          right: 45px;
          height: 9px;
          width: 6px;
          background: url(/styles/images/common/icons.png?v=1) -587px -618px;
        }
      }
    }
  }
  .history-wrap{
    width:904px;
    padding:18px 43px 70px;
    float:left;
    background:#fff;
    .table-title{
      height:14px;
      padding:13px 0;
      .tips{
        font-size:12px;
        float:right;
      }
      .his-tab{
        display: block;
        float:left;
        height:14px;
        padding:0 20px;
        line-height:14px;
        font-size:14px;
        font-weight: bold;
        color:#5e5e5e;
        border-right:2px solid #ced4e1;
        position: relative;
        cursor: pointer;
        .bot{
          position: absolute;
          display:block;
          height:2px;
          width:100%;
          left:0;
          bottom:-15px;

        }
        &.border-none{
          border:none;
        }
        &.current{
          color:#ea544a;
          .bot{
            background:#ea544a;
          }
        }
      }
    }
    .table-wrap {
      display: none;
      .reminder{
        height:50px;
        line-height: 50px;
        font-size: 12px;
        color:#ff702a;
        padding-left: 10px;
      }
    }
    .table{
      //height:326px;
      border-top:2px solid #ced4e1;
      border-bottom:2px solid #ced4e1;
      em{
        display:block;
        height:141px;
        width:141px;
        margin:50px auto 30px;
        background:url(/styles/images/common/icons.png?v=1) 0px -942px;
      }
      .no{
        display: block;
        font-size:16px;
        color:#aaa;
        text-align: center;
      }
      .tableh{
        height:30px;
        background:#f9f9f9;
        .td{
          height:30px;
          float:left;
          line-height:30px;
          text-align: center;
          font-size:14px;
          color:#838a97;
          position: relative;
          .help{
            z-index:10;
            height: 14px;
            width:14px;
            background: url(/styles/images/common/icons.png?v=1) -569px -64px;
            position: absolute;
            /*这个left要单独调*/
            top:4px;
            &:hover{
              .tip{
                display: block;
              }
            }
            .tip{
              width:184px;
              padding:10px 8px;
              background:#000;
              font-size:12px;
              line-height:18px;
              text-align: left;
              color:#fff;
              opacity: 0.7;
              filter:alpha(opacity=70);
              position: absolute;
              top:22px;
              left:-176px;
              display: none;
              .triangle{
                position: absolute;
                top:-7px;
                right:10px;
                width:0;
                height:0;
                border-left:7px solid transparent;
                border-right:7px solid transparent;
                border-bottom:7px solid #000;
                filter:alpha(opacity=70);
              }
            }
          }
        }
      }
      .tableb{
        max-height:320px;
        margin:8px 0 25px;
        .table-list{
          height:32px;
          .td{
            height:32px;
            float:left;
            line-height:32px;
            text-align: center;
            font-size:14px;
            color:#383838;
            overflow:hidden;
            white-space:nowrap;
            text-overflow: ellipsis;/* IE/Safari */
            -ms-text-overflow: ellipsis;
            -o-text-overflow: ellipsis;/* Opera */
            -moz-binding: url("ellipsis.xml#ellipsis");/*FireFox*/
            &.name{
              text-align: left;
            }
          }
        }
      }
    }

    .active{
      display:block;
    }
    .ing,.add{
      .name{
        width:180px;
        text-align:left;
      }
      .money{
        width:110px;
        .help{
          left:100px;
        }
      }
      .ratio{
        width:120px;
      }
      .limit{
        width:74px;
      }
      .award{
        width:110px;
        .help{
          left:100px;
        }
      }
      .user{
        width:100px;
        .help{
          left:93px;
        }
      }
      .state{
        width:85px;
        .help{
          left:71px;
        }
      }
      .time{
        width:125px;
        .help{
          left:101px;
        }
      }
    }
    .ed{
      .name{
        text-align:left;
        width:180px;
      }
      .money{
        width:110px;
        .help{
          left:100px;
        }
      }
      .ratio{
        width:130px;
      }
      .limit{
        width:100px;
      }
      .user{
        width:114px;
        .help{
          left:101px;
        }
      }
      .state{
        width:110px;
        .help{
          left:84px;
        }
      }
      .time{
        width:160px;
        .help{
          left:124px;
        }
      }
    }
  }
}
.ui-pagenav {
  width:100%;
}

.prompt-wrapper  {
  text-align:center;
}
.prompt-wrapper-message{
  line-height:25px;
  text-align:left;
  font-size:14px;
  margin-top: 16px;
}

.prompt-wrapper-button {
    position: relative;
    display: inline-block;
    height: 34px;
    border: 1px solid #0080cc;
    border-radius: 3px;
    color: #0080cc;
    line-height: 34px;
    text-align: center;
    margin: 0 auto;
    padding: 0 30px;
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
    &:hover{
    background-color: #0080cc;
    color: #fff;
  }

}