@charset "UTF-8";
@import '../base/utils';
@import '../base/reset';
@import '../base/grid';
@import '../inc/ui';
@import '../mod/dialog';
@import '../inc/site-nav-ty';
@import '../inc/header';
@import '../inc/header-ty';
@import '../inc/member-header';
@import '../inc/footer';
@import '../mod/search';
@import '../mod/charge';
@import '../mod/swiper';
@import '../mod/bind';
@import '../mod/redpapersave';
@import '../mod/floatlayer';
@import '../mod/activity';
.col-title{
  height:18px;
  padding:7px 0;
  span{
    float:left;
    font-size:18px;
    line-height: 18px;
    font-weight:bold;
    color:#535a63;
  }
  .tips{
    padding-left:25px;
    font-size: 12px;
    font-weight: normal;
    color:#787878;
  }
  .more{
    display:block;
    float:right;
    text-decoration: none;
  }
}
.content {
  background: #eaedf4;
  .tab-wrap {
    width: 210px;
    float: left;
    height: 100%;
    padding-top: 18px;
    .tab {
      width: 100%;
      .list {
        margin-top: 7px;
        height: 39px;
        line-height: 39px;
        font-size: 16px;
        position: relative;
        &:hover, &.current {
          background: #fff;
          @include fadein(0.25s);
        }
        &.current {
          font-weight: bold;
        }
        a {
          color: #383838;
          text-decoration: none;
          display: block;
          height: 100%;
          padding-left: 63px;
        }
        .image {
          position: absolute;
          top: 14px;
          right: 45px;
          height: 9px;
          width: 6px;
          background: url(/styles/images/common/icons.png?v=1) -587px -618px;
        }
      }
    }
  }
  .bind-wrap{
    width:904px;
    padding:18px 43px 70px;
    float:left;
    background:#fff;
    .table-wrap {
      .reminder{
        height:50px;
        line-height: 50px;
        font-size: 12px;
        color:#ff702a;
        padding-left: 10px;
      }
      .ptname{
        width:140px;
      }
      .ptbind{
        width:280px;
      }
      .ptuser{
        width:280px;
      }
      .ptdo{
        width:190px;
        .btn{
          display:block;
          float:left;
          height:23px;
          width:52px;
          line-height:23px;
          text-align: center;
          margin-top:3px;
          border:1px solid #fff;
          border-radius: 3px;
          text-decoration: none;
        }
        .buy{
          background:#ea544a;
          color:#fff;
          border-color:#ea544a;
          margin-right:8px;
          &:hover{
            background:#f5675d;
            border-color:#f5675d;
            @include fadein(0.25s);
          }
        }
        .plat{
          background:#fff;
          color:#f5aaa5;
          border-color:#f5aaa5;
          &:hover{
            background:#ffebe9;
            @include fadein(0.25s);
          }
        }
      }
      .name{
        //width:120px;
        width:180px;
      }
      .bind{
        //width:180px;
        width:180px;
        .help{
          //left:133px;
          left:135px;
        }
      }
      .user{
        //width:135px;
        width:150px;
        .help{
          //left:110px;
          left:118px;
        }
      }
      .first{
        width:80px;
      }
      .time{
        //width:185px;
        width:130px;
      }
      .do{
        //width:170px;
        width:180px;
        .btn{
          //display:block;
          display:inline-block;
          //float:left;
          height:23px;
          width:52px;
          line-height:23px;
          text-align: center;
          margin-top:3px;
          border:1px solid #fff;
          border-radius: 3px;
          text-decoration: none;
        }
        .buy{
          background:#ea544a;
          color:#fff;
          border-color:#ea544a;
          margin-right:8px;
          &:hover{
            background:#f5675d;
            border-color:#f5675d;
            @include fadein(0.25s);
          }
        }
        .plat{
          background:#fff;
          color:#f5aaa5;
          border-color:#f5aaa5;
          &:hover{
            background:#ffebe9;
            @include fadein(0.25s);
          }
        }
      }
    }
    .table{
      max-height:390px;
      border-top:2px solid #ced4e1;
      border-bottom:2px solid #ced4e1;
      em{
        display:block;
        height:141px;
        width:141px;
        margin:50px auto 30px;
        background:url(/styles/images/common/icons.png?v=1) 0px -800px;
      }
      .no{
        display: block;
        font-size:16px;
        color:#aaa;
        text-align: center;
        padding-bottom: 85px;
      }
      .tableh{
        height:30px;
        background:#f9f9f9;
        .td{
          position: relative;
          height:30px;
          float:left;
          line-height:30px;
          text-align: center;
          font-size:14px;
          color:#838a97;
          .help{
            z-index:10;
            height: 14px;
            width:14px;
            background: url(/styles/images/common/icons.png?v=1) -569px -64px;
            position: absolute;
            /*这个left要单独调*/
            top:4px;
            &:hover{
              .tip{
                display: block;
              }
            }
            .tip{
              width:184px;
              padding:10px 8px;
              background:#000;
              font-size:12px;
              line-height:18px;
              text-align:left;
              color:#fff;
              opacity: 0.7;
              filter:alpha(opacity=70);
              position: absolute;
              top:22px;
              left:-176px;
              display: none;
              .triangle{
                position: absolute;
                top:-7px;
                right:10px;
                width:0;
                height:0;
                border-left:7px solid transparent;
                border-right:7px solid transparent;
                border-bottom:7px solid #000;
                filter:alpha(opacity=70);
              }
            }
          }
        }
      }
      .tableb{
        max-height:320px;
        margin:10px 0 10px;
        .table-list{
          height:32px;
          .td{
            height:32px;
            float:left;
            line-height:32px;
            text-align: center;
            font-size:14px;
            color:#383838;
            overflow:hidden;
            white-space:nowrap;
            text-overflow: ellipsis;/* IE/Safari */
            -ms-text-overflow: ellipsis;
            -o-text-overflow: ellipsis;/* Opera */
            -moz-binding: url("ellipsis.xml#ellipsis");/*FireFox*/

            .buy{
              float: left;
              margin-left: 28px;
            }
            .plat{
              float: right;
              margin-right: 28px;
            }
          }
        }
      }
    }
  }
}
.table-title {
  height: 14px;
  padding: 13px 0;
  .bindtab {
    display: block;
    float: left;
    height: 14px;
    padding: 0 20px;
    line-height: 14px;
    font-size: 14px;
    font-weight: bold;
    color: #5e5e5e;
    border-right: 2px solid #ced4e1;
    position: relative;
    cursor: pointer;
  .bot{
      position: absolute;
      display: block;
      height: 2px;
      width: 100%;
      left: 0;
      bottom: -15px;
    }
  }
  .bindtabend {
    display: block;
    float: left;
    height: 14px;
    padding: 0 20px;
    line-height: 14px;
    font-size: 14px;
    font-weight: bold;
    color: #5e5e5e;
    position: relative;
    cursor: pointer;
    .bot{
      position: absolute;
      display: block;
      height: 2px;
      width: 100%;
      left: 0;
      bottom: -15px;
    }
  }
}

.table-title .floatr{
  font-size: 12px;
  float: right;
  .newuser{
    color:#0081cb;
    cursor: pointer;
  }
}
.tables .table-title .current{
    color: #ea544a;
  .bot{
    background: #ea544a;
  }
}
select{
  border: solid 1px #ced4e1;
  color: #838a97;
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  width: 84px;
  height: 21px;
//  padding-right: 28px;
  background: url(/styles/images/index/sousuo-01.png) no-repeat scroll right center transparent;

}
select::-ms-expand { display: none;}
.magnifierbox{
  display: block;
  float: left;
  width:139px;
  height: 25px;
  border: 1px solid #ced4e1;
  overflow: hidden;
  margin-top: -7px;
  border-radius: 3px;
}
.magnifier{
  width:115px;
  height: 25px;
  border: 0;
  float: left;
  text-indent: 5px;
}
.smallpic{
  width: 24px;
  height: 25px;
  float: left;
  background: url(/styles/images/index/sousuo.png) center center no-repeat;
  cursor: pointer;
}
.table-title .focusing{
  border: 1px solid #838a98;
}
.focusing .smallpic{
  background: url(/styles/images/index/sousuo2.png) center center no-repeat;
}