@charset "UTF-8";
@import '../base/utils';
@import '../base/reset';
@import '../base/grid';
@import '../inc/ui';
@import '../inc/site-nav-ty';
@import '../inc/header';
@import '../inc/header-ty';
@import '../inc/member-header';
@import '../inc/member-tab';
@import '../inc/footer';
@import '../mod/search';
@import '../mod/floatlayer';
@import '../mod/dialog';
@import '../mod/bind';
@import '../mod/activity';

.content {
  background: #eaedf4;
}
.bind-wrap {
  width: 932px;
  padding: 18px 29px 70px;
  float: left;
  background: #fff;
}
.my-account{
  width: 100%;
}
.bind-wrap-head{
  width: 933px;
  height: 37px;
  border-bottom: 1px solid #e8e8e8;
  color: #333;
}
.bind-wrap-head-ui{
  font-size: 16px;
  border-left: 3px solid #ea544a;
  padding-left: 10px;
  width: 922px;
}
.bind-wrap-return{
  float: right;
  color: #ea544a;
  font-size: 14px;
  line-height: 21px;
  text-decoration: none;
  cursor: pointer;
}
.revise-img{
  width: 780px;
  height: 370px;
  margin-top: 22px;
  overflow: hidden;
}
.revise-img-left{
  float: left;
  width: 210px;
  height: 350px;
}
.revise-img-right{
  float: right;
  width: 480px;
  height: 350px;
  margin-left: 90px;
}
.revise-img-title{
  font-size: 14px;
  color: #414141;
  margin-bottom: 14px;
}
.revise-img-text{
  width: 100%;
  font-size: 12px;
  color: #c2c2c2;
}
.my-img{
  display: block;
  width: 195px;
  height: 195px;
  margin-top: 15px;
  margin-bottom: 19px;
}
.revise-img-btn{
  width: 92px;
  height: 36px;
  display: block;
  border-radius: 3px;
  background: #ea544a;
  line-height: 36px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  margin: 0 auto;
}
.revise-img-btn:hover{
  text-decoration: none;
}
.revise-img-hight{
  font-size: 12px;
  color: #666;
  margin-bottom: 14px;
}
.avatar{
  width: 450px;
  height: 250px;
  margin-top: 22px;
}