@charset "UTF-8";
@import '../base/utils';
@import '../base/reset';
@import '../base/grid';
@import '../inc/ui';
@import '../inc/site-nav-ty';
@import '../inc/header';
@import '../inc/header-ty';
@import '../inc/member-header';
@import '../inc/member-tab';
@import '../inc/footer';
@import '../mod/search';
@import '../mod/floatlayer';
@import '../mod/dialog';
@import '../mod/bind';
@import '../mod/activity';

.content {
  background: #eaedf4;
}
.bind-wrap {
  width: 932px;
  padding: 18px 29px 70px;
  float: left;
  background: #fff;
}
.my-dit-head{
  width: 933px;
  height: 37px;
  color: #333;
}
.my-dit-head-ui{
  font-size: 16px;
  border-left: 4px solid #ea544a;
  padding-left: 10px;
  width: 922px;
  font-weight: 800;
}
.my-dit-content-ui{
  height: 35px;
  margin-top: 32px;
  a{
    float: left;
    text-decoration: none;
  }
  .integral{
    height: 33px;
    font-size: 14px;
    color: #666666;
    span{
      font-size: 40px;
      color: #ea544a;
      font-weight: 800;
    }
  }
  .rightline{
    margin-left: 30px;
    margin-right: 30px;
    color: #e8e8e8;
    margin-top: 20px;
  }
.coin{
  font-size: 14px;
  color: #666666;
  margin-top: 15px;
  span{
    font-size: 20px;
    color: #666666;
    font-weight: 600;
  }
}
  .remarks{
    float: right;
    font-size: 12px;
    color: #999999;
    margin-top: 11px;
  }
}
.integral-list{
  height: 32px;
  border-bottom: 1px solid #e8e8e8;
  margin-top: 55px;
  a{
    float: left;
    width: 175px;
    text-decoration: none;
    font-size: 14px;
    color: #666666;
    height: 29px;
    border-bottom: 3px solid #fff;
    text-align: center;
  }
  a:hover{
    border-bottom: 3px solid #ea544a;
  }
  .active{
    font-weight: 800;
    border-bottom: 3px solid #ea544a;
    color: #333333;
  }
}
.integral-title{
  height: 55px;
  line-height: 55px;
  a{
    float: left;
    line-height: 55px;
    font-size: 14px;
    color: #999999;
    text-decoration: none
  }
  td{
    line-height: 55px;
    font-size: 14px;
    color: #999999;
    text-decoration: none;
  }
  .name-width{
    width: 250px;
    padding-left: 8px;
  }
  .range-width{
    width: 200px;
  }
  .time-width{
    width: 200px;
  }
  .coin-width{
    width: 67px;
  }

}
.name-width{
  width: 250px;
  padding-left: 8px;
}
.range-width{
  width: 200px;
}
.time-width{
  width: 200px;
}
.coin-width{
  width: 53px;
  color: #ea544a;
}
.even{
  background: #f9f9f9;
}
.integral-content{
  width: 100%;
  li {
    height: 46px;
    a{
      font-size: 12px;
      line-height: 46px;
      color: #666666;
      float: left;
      text-decoration: none;
    }
    .coin-width{
      width: 53px;
      color: #ea544a;
    }
  }
  .tycoins-width{
    color: #ea544a;
  }
}
.ui-getmore{
  display: block;
  width: 200px;
  height: 36px;
  border: 1px solid #e6e6e6;
  line-height: 36px;
  text-align: center;
  color: #999999;
  font-size: 12px;
  margin: 12px auto 0px;
  border-radius: 5px;
  cursor: pointer;
}
.ui-getmore:hover{
  text-decoration: none;
}
.name-width-one{
  width: 166px;
  padding-left: 10px;
}
.change-width-one{
  width: 166px;
  span{
    color: #ea544a;
  }
}
.details-width-one{
  width: 358px;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  span{
    color: #a0a0a0;
  }
}
.time-width-one{
  width: 128px;
  margin-left: 100px;
  text-align: center;
}
.name-width-two{
  width: 165px;
  padding-left: 10px;
}
.all-width{
  width: 120px;
}
.month-width{
  width: 120px;
}
.coins-width{
  width: 120px;
}
.tycoins-width{
  width: 284px;
  color: #ea544a;
}
.lasttime-width{
  width:122px ;
  text-align: center;
}
.no-integral-content{
  display: inline-block;
  font-size: 14px;
  color: #999;
  text-align: center;
  margin: 10px auto 0px;
  i{
    display: inline-block;
    width: 14px;
    height:12px;
    margin-right: 3px;
    background: url(/styles/images/member/icon.png);
    background-position:-318px -52px;
    @include ratioBackground($url:'/styles/images/member/icon.png',$size:550px 140px);
    @include ratioBackgroundPosition($x:-318px ,$y:-80px );
  }
}
.integral-content-box{
  table{
    width: 100%;
  }
  td{
    font-size: 12px;
    color: #666666;
    float: left;
    line-height: 46px;
    text-decoration: none;
  }
  .integral-title{

    td{
      float: left;
      line-height: 55px;
      height: 55px;
      font-size: 14px;
      color: #999999;
      text-decoration: none;
    }
  }
  .tycoins-width{
    width: 120px;
  }
}