@charset "UTF-8";
@import '../base/utils';
@import '../base/reset';
@import '../base/grid';
@import '../inc/ui';
@import '../inc/site-nav-ty';
@import '../inc/header';
@import '../inc/header-ty';
@import '../inc/member-header';
@import '../inc/member-tab';
@import '../inc/footer';
@import '../mod/search';
@import '../mod/floatlayer';
@import '../mod/dialog';
@import '../mod/bind';
@import '../mod/activity';

.content {
  min-height: 600px;
  background: #eaedf4;
}
.bind-wrap {
  width: 932px;
  padding: 18px 29px 70px;
  min-height: 600px;
  float: left;
  background: #fff;
}
.my-account{
  width: 100%;
}
.bind-wrap-head{
  width: 933px;
  height: 37px;
  border-bottom: 1px solid #e8e8e8;
  color: #333;
}
.bind-wrap-head-ui{
  font-size: 16px;
  border-left: 4px solid #ea544a;
  padding-left: 10px;
  width: 922px;
  font-weight: 800;
}
.my-table{
  margin: 20px auto 48px;
  width: 910px;
  tr{
    height: 46px;
    font-size: 14px;
    color: #999;
    margin-bottom: 30px;
    .center{
      width: 119px;
      line-height: 14px;
      color: #333;
    }
    .have{
      width: 150px;
      .have-icon{
        width: 14px;
        height: 14px;
        background-image: url(/styles/images/member/icon.png);
        background-repeat:no-repeat;
        background-position: -295px -51px;
        @include ratioBackground($url:'/styles/images/member/icon.png',$size:550px 140px);
        @include ratioBackgroundPosition($x:-295px,$y:-80px);
      }

    }
    .content-ui{
      width: 550px;
    }
    .link{
      width:85px;
    }
  }
}
.my-bind{
  width: 100%;
}
