@charset "UTF-8";
@import '../base/utils';
@import '../base/reset';
@import '../base/grid';
@import '../inc/ui';
@import '../inc/site-nav';
@import '../inc/header';
@import '../inc/footer';
@import '../mod/bind';
@import '../mod/floatlayer';
@import '../mod/activity';

body{
  background:#fff;
}
.template_guaranteeplan{
  .qt-h410{
    height:410px;
  }
}
.guaranteePlan{
  padding:45px 180px 0;
  .hd{
    height:46px;
    background:url(/styles/images/topic/yqyl/register_repx.png) 0 16px repeat-x;
    .inner{
      width:324px;
      margin:0 auto;
      background-color:#fff;
    }
    .top{
      height:32px;
    }
    .botttom{
      height:14px;
      text-align:center;
      font-size:18px;
      color:#e2e2e2;
      line-height:14px;
    }
    .leftbg{
      padding-left:40px;
      background:url(/styles/images/loans/grarant_hdbg.png) left 0 no-repeat;
    }
    .rightbg{
      padding-right:40px;
      background:url(/styles/images/loans/grarant_hdbg.png) right 0 no-repeat;
      text-align:center;
      font-size:26px;
      color:#444;
      line-height:32px;
    }
  }
  .bd{
    .title{
      height:34px;
      padding-left:8px;
      padding-top:30px;
      em,span{
        float:left;
      }
      em{
        width:38px;
        height:28px;
        margin-top:3px;
        background:url(/styles/images/loans/grarant_titlebg.png) 0 0 no-repeat;
      }
      .bg01{
        background-position: 0 0;
      }
      .bg02{
        background-position: 0 -30px;
      }
      .bg03{
        background-position: 0 -60px;
      }
      span{
        padding-left:3px;
        height:34px;
        line-height:34px;
        font-size:20px;
        color:#333;
      }
    }
    .inner{
      line-height:24px;
      font-size:14px;
      color:#888;
      a{
        padding:0 4px;
        color:#2282e6;
      }
      a:hover{
        text-decoration: none;
      }
    }
  }
  .fd{
    padding:50px 0 60px 0;
    a{
      display:block;
      width:200px;
      height:40px;
      background-color:#2282e6;
      border-bottom:4px solid #0972c9;
      border-radius:10px;
      margin:0 auto;
      color:#fff;
      text-align:center;
      font-size:18px;
      line-height:40px;
    }
    a:hover{
      text-decoration: none;
    }
  }
}


.notice  {
  display: none;
  position: relative;
  width: 100%;
  margin: 0px auto;
}