@charset "UTF-8";
@import '../base/utils';
@import '../base/reset';
@import '../base/grid';
@import '../inc/ui';
@import '../mod/dialog';
@import '../inc/site-nav';
@import '../inc/header';
@import '../inc/footer';
@import '../mod/search';
@import '../mod/floatlayer';
@import '../mod/bind';
@import '../mod/activity';


.content{
    position:relative;
    height:468px;
    padding-top:210px;
    background-color:#fff;
    p{
        text-align:center;
        font-size:28px;
        color:#999;
        margin-bottom:35px;
    }
    img{
        display:block;
        width:376px;
        margin:0 auto;
    }
}

.mod-platfixed{
	position:absolute;
	width:100%;
	left:0;
	top:0;
	background:#fff;
	height:50px;
	-webkittransform: translateZ(0);
	-moz-transform: translateZ(0);
	transform: translateZ(0);
	z-index:11;
	border-bottom:1px solid #e6e6e6;
	box-shadow: rgb(230, 230, 230) 0px 2px 2px;

	.label{
		display: block;
		width: 154px;
		height:50px;
		float: left;
		line-height:50px;
		font-size: 18px;
		font-family: Microsoft YaHei;
		font-weight: bold;
		color: #fff;
		text-align: center;
		background:#0080cc;
	}
    a{
        display:block;
        float: left;
        height:50px;
        line-height:50px;
        width:160px;
        text-align:center;
        font-size:18px;
        color:#666;
        border-right:2px solid #ededed;
        &:hover{
            text-decoration:none;
            color:#ea544a;
            em{
                background:url(/styles/images/common/icons.png) no-repeat -728px -384px;
            }
        }
        em{
            display:inline-block;
            width:16px;
            height:10px;  
            vartical-align:middle;
            margin-left:6px;          
            background:url(/styles/images/common/icons.png) no-repeat -728px -320px;
        }
    }
    a.cur{
        color:#ea544a;
        em{
                background:url(/styles/images/common/icons.png) no-repeat -728px -384px;
            }
    }
    .new{
        display:block;
        width:25px;
        height:14px;
        position:absolute;
        top:11px;
        left:292px;
        background:url(/styles/images/common/icons.png) no-repeat 0 -520px;
    }

}
.mod-addresult{
    font-size:14px;
    color:#333;
    .item{
        float:left;
        width:200px;
        padding:14px 45px;
        margin:20px 13px 0 0;
        overflow:hidden;
        background-color:#fff;
        box-shadow:0 2px 2px #e6e6e6;
    }
    .right{
        margin-right:0;
    }
    .hd{
        .logo{
            height:45px;
            margin-bottom:10px;
            img{
                display:block;
                height:45px;
                margin:0 auto;
            }
        }
        .name{
            width:200px;
            overflow:hidden;
            word-break: break-all;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
    .bd{
        .tit{
            line-height:24px;
            span{
                color:#b2b2b2;
                padding-left:30px;
                margin-right:20px;
            }
            
        }
        .year{
            float:left;
            display:block;
            font-style:italic;
            font-size:34px;
            width:90px;
            text-align:center;
            span{
                font-size:12px;
            }
        }
        .add{
            float:left;
            height:42px;
            line-height:42px;
            width:20px;
            text-align:center;
            display:block;
            font-size:24px;
            color:#b2b2b2;
        }
        .p2padd{
            float:left;
            display:block;
            font-style:italic;
            font-size:34px;
            color:#ea544a;
            width:90px;
            text-align:center;
            span{
                font-size:12px;
            }
        }
        .list{
            color:#999;
            font-size:14px;
            padding-bottom:10px;
            margin-bottom:10px;
            border-bottom:2px dashed #e4e4e4;
            span{
                float:left;
                display:block;
                width:100px;
                text-align:center;
            }
        }
    }
    .fd{
        margin-top:10px;
        a{
            display:block;
            height:42px;
            line-height:42px;
            width:198px;
            text-align:center;
            color:#ea544a;
            border:1px solid #ea544a;
            border-radius:5px;
            text-decoration:none;
            &:hover{
                color:#fff;
                background-color:#ea544a;
            }
        }       
    }
}
.newuserbanner{
    height:98px;
    width:1198px;
    border:1px solid #cecece;
    margin:22px 0 26px 0;    
    img{
        width:1198px;
        height:98px;
        display:block;
        
    }
}
.user{
    padding: 13px 16px 0;
    width: 1168px;
    background: #ffffff;
    .link{
        padding-left: 24px;
        line-height: 35px;
        background: url(/styles/images/common/icons.png) no-repeat -94px -641px;
        font-size: 14px;
        color: #383838;
        &:hover{
            color:#0081cb;
        }
    }
    .tabtag{
        border-bottom: 1px solid #ececec;
        height:40px;
    }
    .newuser,.olduser{
        float: left;
        padding: 0 42px 0 44px;
        font-size: 16px;
        color: #787878;
        height: 36px;
        line-height: 36px;
        font-weight: bold;
    }
    .current{
        color: #ea544a;
        border-bottom: 5px solid #ea544a;
    }
}
.mod-search{
    margin-bottom:26px;
}
.ui-pagenav{
    padding:40px 0 30px;
}




