@Fcharset "UTF-8";
@import '../base/utils';
@import '../base/reset';
@import '../base/grid';
@import '../inc/site-nav';
@import '../inc/footer';
@import '../inc/ui';
@import '../mod/dialog';
@import '../mod/bind';

@import '../mod/floatlayer';
@import '../mod/topic';

.template_olympic{
	background-color:#a2d63c;
}
.mainbg{
	width:1040px;
	height:650px;
	margin:0 auto;
	background:url("/styles/images/topic/olympic/mainbg.png") 0 0 no-repeat;
	.startgo{
		width:205px;
		height:92px;
		left:552px;
		top:56px;
		background:url("/styles/images/topic/olympic/startgobg.png") 0 0 no-repeat;
		cursor:pointer;
	}
	.canclick{
		background-position: 0 0;
	}
	.clicking{
		background-position: 0 -100px;
	}
	.noclick{
		background-position: 0 -200px;
	}
	.cango{
		width:205px;
		height:26px;
		left:552px;
		top:148px;
		text-align:center;
		font-size:20px;
		color:#00a651;
		font-weight:bold;
		line-height:26px;
		em{
			color:#e95f54;
		}
	}
	.gotext{
		width:205px;
		height:18px;
		left:552px;
		top:174px;
		text-align:center;
		font-size:14px;
		line-height:18px;
		color:#333;
	}
	.surplus{
		width:88px;
		height:18px;
		text-align:center;
		font-size:14px;
		line-height:18px;
		color:#333;
	}
	.get18{
		left:246px;
		top:138px;
	}
	.get38{
		left:448px;
		top:638px;
	}
	.get88{
		left:918px;
		top:338px;
	}
	.ranktext{
		width:278px;
		line-height:24px;
		font-size:14px;
		text-align:center;
		color:#e95f54;
		left:808px;
		top:508px;
		font-weight:bold;
	}
	.ranking{
		width:148px;
		height:72px;
		padding:14px 9px 16px 10px;
		left:845px;
		top:560px;
		background:url("/styles/images/topic/olympic/rankingbg.png") 0 0 no-repeat;
		li{
			height:24px;
			line-height:24px;
			padding-left:8px;
			color:#333;
			font-size:14px;
		}
		span{
			padding-right:15px;
			color:#e95f54;
		}
	}
	.start{
		width:42px;
		height:42px;
		left:42px;
		top:20px;
	}
	.firstStep{
		width:120px;
		height:100px;
		left:124px;
		top:26px;
	}
	.secondStep{
		width:32px;
		height:32px;
		left:160px;
		top:194px;
	}
	.thirdStep{
		width:32px;
		height:32px;
		left:294px;
		top:202px;
	}
	.fourthStep{
		width:120px;
		height:100px;
		left:338px;
		top:30px;
	}
	.fifthStep{
		width:32px;
		height:32px;
		left:492px;
		top:82px;
	}
	.sixthStep{
		width:32px;
		height:32px;
		left:484px;
		top:182px;
	}
	.sevenStep{
		width:32px;
		height:32px;
		left:424px;
		top:324px;
	}
	.eighthStep{
		width:32px;
		height:32px;
		left:550px;
		top:418px;
	}
	.ninthStep{
		width:120px;
		height:100px;
		left:526px;
		top:486px;
	}
	.tenthStep{
		width:32px;
		height:32px;
		left:700px;
		top:538px;
	}
	.eleventhStep{
		width:32px;
		height:32px;
		left:740px;
		top:420px;
	}
	.twelfthStep{
		width:32px;
		height:32px;
		left:732px;
		top:300px;
	}
	.thirteenthStep{
		width:32px;
		height:32px;
		left:730px;
		top:196px;
	}
	.fourteenthStep{
		width:32px;
		height:32px;
		left:810px;
		top:128px;
	}
	.end{
		width:120px;
		height:100px;
		left:930px;
		top:120px;
	}
	.nogo{
		background:url("/styles/images/topic/olympic/nogo.png") center bottom no-repeat;
		cursor:pointer;
	}
	.goby{
		background:url("/styles/images/topic/olympic/goby.png") center bottom no-repeat;
		z-index:101;
	}
	.moneybag{
		cursor:pointer;
		background:url("/styles/images/topic/olympic/moneybag.png") center bottom no-repeat;
	}
	.money8{
		background:url("/styles/images/topic/olympic/money8.png") center bottom no-repeat;
	}
	.money18{
		background:url("/styles/images/topic/olympic/money18.png") center bottom no-repeat;
	}
	.money38{
		background:url("/styles/images/topic/olympic/money38.png") center bottom no-repeat;
	}
	.money88{
		background:url("/styles/images/topic/olympic/money88.png") center bottom no-repeat;
	}
	.xtian{
		width:60px;
		height:93px;
	}
	.people{
		width:60px;
		height:93px;
		z-index:100;
		-webkit-transition: all 1s linear;
		-moz-transition: all 1s linear;
		transition: all 1s linear;
	}
	.going0{
		left:28px;
		top:-42px;
	}
	.going1{
		left:138px;
		top:-4px;
	}
	.going2{
		left:146px;
		top:25px;
	}
	.going3{
		left:140px;
		top:140px;
	}
	.going4{
		left:190px;
		top:202px;
	}
	.going5{
		left:270px;
		top:146px;
	}
	.going6{
		left:360px;
		top:42px;
	}
	.going7{
		left:418px;
		top:10px;
	}
	.going8{
		left:470px;
		top:30px;
	}
	.going9{
		left:484px;
		top:66px;
	}
	.going10{
		left:460px;
		top:136px;
	}
	.going11{
		left:404px;
		top:270px;
	}
	.going12{
		left:450px;
		top:330px;
	}
	.going13{
		left:508px;
		top:332px;
	}
	.going14{
		left:532px;
		top:364px;
	}
	.going15{
		left:552px;
		top:504px;
	}
	.going16{
		left:596px;
		top:530px;
	}
	.going17{
		left:676px;
		top:486px;
	}
	.going18{
		left:720px;
		top:366px;
	}
	.going19{
		left:712px;
		top:246px;
	}
	.going20{
		left:706px;
		top:140px;
	}
	.going21{
		left:746px;
		top:86px;
	}
	.going22{
		left:790px;
		top:76px;
	}
	.going23{
		left:860px;
		top:80px;
	}
	.going24{
		left:954px;
		top:120px;
	}
	.investRecordBtn{
		position:absolute;
		width:125px;
		height:126px;
		right:0;
		top:-20px;
		background:url("/styles/images/topic/olympic/investRecordBtn.png") 0 0 no-repeat;
	}
	.investRecordBtn:hover{
		background:url("/styles/images/topic/olympic/investRecordBtn.png") 0 -189px no-repeat;
	}
}
.wintip{
	min-width:218px;
	height:84px;
	background-color:#fff;
	background-color:rgba(255,255,255,0.8);
	border-radius:10px;
	position:fixed;
	padding:8px 15px 15px;
	left:0;
	top:0;
	display:none;
	z-index:101;
	.hd{
		height:36px;
		line-height:36px;
		font-size:20px;
		color:#ef534c;
		text-align:center;
	}
	.bd,.fd{
		height:24px;
		line-height:24px;
		font-size:16px;
		color:#333;
		text-align:center;
	}
  	a {
	  color:#333;
	}
}
.dialog_olympic{
	background:none;
    top:0;
    .dialog_title{
       background:none;
       display:none;
    }
    .closebtn{
        display:none;
    }
    .dialog_content{
        padding:0;
        position:relative;
    }
    .dialog_bottombg{
    	background:#fff url("/styles/images/topic/olympic/dialog_bottombg.png") 0 bottom no-repeat;
    	border-radius:20px;
    }
    .dialog_topbg{
    	background:#fff url("/styles/images/topic/olympic/dialog_topbg.png") 0 top no-repeat;
    	border-radius:20px;
    }
    .dialog_close{
    	width:28px;
    	height:28px;
    	background:url("/styles/images/topic/olympic/dialog_close.png") 0 0 no-repeat;
    	position:absolute;
    	top:32px;
    	right:32px;
    }
    .dialog_close:hover{
    	text-decoration:none;
    }
    .getmorestep{
    	padding-top:70px;
    	height:90px;
    	line-height:90px;
    	text-align:center;
    	color:#333;
    	font-size:48px;
    	font-weight:bold;
    	overflow:hidden;
    }
    .explain{
    	line-height:30px;
    	font-size:16px;
    	color:#eb5f54;
    	padding:0 26px;
    	margin-bottom:20px;
    }
    .messagePrompt{
    	padding:74px 0 26px;
    	height:108px;
    	line-height:54px;
    	text-align:center;
    	color:#333;
    	font-size:42px;
    	overflow:hidden;
    }
    .nowinvest{
    	padding:30px;
    	height:66px;
    	a{
    		display:block;
    		width:280px;
    		height:66px;
    		margin:0 auto;
    		background:url("/styles/images/topic/olympic/nowinvestbg.png") 0 -94px no-repeat;
    	}
    	a:hover{
    		background:url("/styles/images/topic/olympic/nowinvestbg.png") 0 0 no-repeat;
    		text-decoration:none;
    	}
    }
    .getmoney{
    	padding-top:68px;
    	font-weight:bold;
    	text-align:center;
    	span{
    		display:block;
    		height:50px;
    		line-height:50px;
    		font-size:24px;
    	}
    	p{
    		height:100px;
    		line-height:100px;
    		font-size:42px;
    		color:#eb5f54;
    	}
    }
    .moneyPrompt{
    	padding-top:66px;
    	h4{
    		height:54px;
    		line-height:54px;
    		color:#333;
    		text-align:center;
    		font-size:36px;
    		em{
    			font-style:normal;
    			color:#eb5f54;
    			font-size:42px;
    		}
    	}
    	span{
    		display:block;
    		text-align:center;
    		font-size:12px;
    		color:#eb5f54;
    		height:22px;
    		line-height:22px;
    	}
    	p{
    		font-size:16px;
    		color:666;
    		padding:0 40px;
    		line-height:32px;
    		color:#eb5f54;
    	}
    }
    .investRecord{
    	padding:10px 30px 20px;
    	h4{
    		height:88px;
    		line-height:88px;
    		color:#333;
    		text-align:center;
    		font-size:32px;
    	}
    }
    .instructions{
    	h5{
    		height:36px;
    		line-height:36px;
    		color:#333;
    		font-size:20px;
    	}
    	p{
    		height:20px;
    		line-height:20px;
    		color:#333;
    		font-size:14px;
    		padding-left:8px;
    	}
    	em{
    		display:inline-block;
    		width:8px;
    		height:8px;
    		background-color:#a2d63c;
    		border-radius:8px;
    		vertical-align:middle;
    		margin-right:8px;
    	}
    }
    .investlist{
    	padding-top:20px;
    	.top,.middle,ul,li{
    		width:100%;
    	}
    	.top{
    		background-color:#a2d63c;
    		color:#fff;
    		font-weight:bold;
    		line-height:30px;
    	}
    	span{
    		float:left;
    		text-align:center;
    		height:30px;
    	}
    	.number{
    		width:92px;
    	}
    	.pname{
    		width:130px;
    	}
    	.pmoney{
    		width:136px;
    	}
    	.pstatus{
    		width:136px;
    	}
    	.ptime{
    		width:196px;
    	}
    	.status{
    		width:124px;
    	}
    	ul{
    		width:100%;
    		float:left;
    		overflow:hidden;
    		display:none;
    	}
    	ul.active{
    		display:block;
    	}
    	li{
    		border-bottom:1px dashed #a2d63c;
    		height:32px;
    		line-height:32px;
    		color:#333;
    		a{
	    		color:#333;
	    	}
    	}
    	.page{
    		height:30px;
    		padding:18px;
    		text-align:center;
    		a{
    			display:inline-block;
    			width:28px;
    			height:28px;
    			line-height:28px;
    			border:1px solid #00a651;
    			margin-right:22px;
    			background-color:#fff;
    			color:#00a651;
    		}
    		.active{
    			background-color:#a2d63c;
    			color:#fff;
    		}
    	}
    }
}
.mod-olympic{
	width:980px;
	margin:0 auto;
	.hd{
		padding:14px;
		height:102px;
		.inner{
			width:348px;
			height:102px;
			margin:0 auto;
		}
	}
	.bd{
		padding:20px 0;
		background-color:#6ebd36;
		border-radius:20px;
	}
	.nowinvest{
    	padding-top:22px;
    	height:56px;
    	a{
    		display:block;
    		width:151px;
    		height:56px;
    		margin:0 auto;
    		background:url("/styles/images/topic/olympic/snowinvestbg.png") 0 0 no-repeat;
    		cursor:pointer;
    	}
    	a:hover{
    		background:url("/styles/images/topic/olympic/snowinvestbg.png") 0 -69px no-repeat;
    		text-decoration:none;
    	}
    }
}
.power_plat{
	width:940px;
	margin:0 auto;
	height:120px;
	position:relative;
	.prev,.next{
		position:absolute;
		width:61px;
		height:120px;
		top:0px;
		cursor:pointer;
		display:none;
	}
	.prev{
		left:-20px;
		background:url("/styles/images/topic/olympic/prev.png") 0 0 no-repeat;
	}
	.next{
		right:-20px;
		background:url("/styles/images/topic/olympic/next.png") 0 0 no-repeat;
	}
	.main{
		width:940px;
		height:120px;
		overflow:hidden;
	}
	ul{
		height:120px;
		width:950px;
		float:left;
	}
	li{
		float:left;
		width:180px;
		height:120px;
		margin-right:10px;
		a,img{
			display:block;
			width:180px;
			height:120px;
		}
	}

}
.rule_plat{
	padding:10px 20px;
	li{
		width:100%;
		padding-bottom:24px;
	}
	span{
		width:31px;
		height:33px;
		margin:5px;
		float:left;
	}
	.bg1{
		background:url("/styles/images/topic/olympic/rule_platbg.png") 0 0 no-repeat;
	}
	.bg2{
		background:url("/styles/images/topic/olympic/rule_platbg.png") 0 -73px no-repeat;
	}
	.bg3{
		background:url("/styles/images/topic/olympic/rule_platbg.png") 0 -145px no-repeat;
	}
	.bg4{
		background:url("/styles/images/topic/olympic/rule_platbg.png") 0 -219px no-repeat;
	}
	.bg5{
		background:url("/styles/images/topic/olympic/rule_platbg.png") 0 -280px no-repeat;
	}
	p{
		float:left;
		line-height:24px;
		color:#fff;
		font-size:18px;
		width:890px;
	}
}





