@charset "UTF-8";
@import '../base/utils';
@import '../base/reset';
@import '../base/grid';
@import '../inc/ui';
@import '../mod/dialog';
@import '../inc/site-nav';
@import '../inc/header';
@import '../inc/footer';
@import '../mod/floatlayer';
@import '../mod/bind';

body{
    background-color: #7d13c1;
}
a:hover{
	text-decoration: none;
}
//////////////////////////////////////////////////////////////////
/* hotloans start*/
.ui-hotloan{
	position: relative;
    width: 990px;
    height: 146px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    background: url(/styles/images/topic/brand1111/pc/hotloan_border.png) no-repeat 0 0; 
}
.ui-hotloan-season{
    float: left;
}
.ui-hotloan-season-item{
    width: 160px;
    height: 80px;
    line-height: 80px;
    font-size: 30px;
    color: #af3910;
    border-radius: 10px;
    border: 5px solid #fff;
    text-align: center;
    background-color: #fff;
    cursor: pointer;
}
.ui-hotloan-season-item.current{
    border: 5px solid #d82145;
    background-color: #ffe210;
    cursor: default;
}
.ui-hotloan-table{
    float: right;
    width: 990px;
}
.ui-hotloan-table-item{
	display: none;
    height: 145px;
    border-radius: 5px;
    background-color: #fff;
    overflow: hidden;
}
.ui-hotloan-table-item-active{
	display: block;
}
.ui-hotloan-tab{
	position: absolute;
	left: 0;
	bottom: 5px;
	width: 100%;
	z-index: 1;
	height: 25px;
	line-height: 25px;
	text-align: center;
	color: #999;
	font-size: 12px;
}
.ui-hotloan-tab-item{ 
	float: left;
    width: 64px;
    border-radius: 3px 3px 0 0;
    background-color: #e8e8e8; 
    cursor: pointer;
}
.ui-hotloan-tab-item-current{
	color: #fff;
	background-color: #ff2c27;
	cursor: default;
}
.ui-hotloan-tab1{
	margin-left: 50px;
}
.ui-hotloan-tab2{
	margin-left: 5px;
}
.ui-hotloan-item-time{
    position: absolute;
    top: 0px;
    right: 46px;
    z-index: 1;
    width: 80px;
    height: 38px;
    background: #fff;
    border-radius: 0px 0px 5px 5px;
    overflow: hidden;
    text-align: center;
    line-height: 18px;
    padding: 2px 0px 0px;
    font-size: 12px;
    color: #4a0f6f;
    strong{
        display: block;
        font-size: 14px;
        line-height: 15px;
    }
}
.ui-hotloan-item-box{
    padding: 20px 0;
    width: 230px;
    height: 110px;
}
.ui-hotloan-item-logo{
    display: block;
    height: 50px;
    text-align: center;
    img{
        max-height: 50px;
        _height: 50px;
        line-height: 50px;
        vertical-align: middle;
    }
}
.ui-hotloan-item-bg{
    margin-top: 20px;
    height: 20px;
    text-align: center;
    .ui-bg-item{
        display: inline-block;
        height: 18px;
        line-height: 18px;
        padding: 0 10px;
        margin: 0 5px;
        border-radius: 3px;
        color: #2a3071;
        border: 1px solid #c8cbe3;
        font-size: 12px;
    }
}
.ui-hotloan-item-loans{
    float: left;
    width: 760px;
    height: 110px;
    padding-top: 15px;
    padding-bottom: 25px;
    background-color: #4a0f6f;
}
.ui-hotloan-item-name{
    line-height: 44px;
    font-size: 20px;
    color: #fff;
    max-width: 202px;
    margin-right: 18px;
    @include text-ellipsis;
    vertical-align: middle;
    display: inline-block;
}
.ui-hotloan-item-notetag{
    display: inline-block;
    border-radius: 3px;
    background-color: #fff;
    height: 20px;
    width: 125px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #4a0f6f;
    vertical-align: middle;
}
.ui-hotloan-item-list{
    text-align: center;
}
.ui-hotloan-item-rate-num{
    height: 50px;
    font-size: 50px;
    span{
        font-size: 20px;
    }
    em{
        font-size: 20px;
        font-style: normal;
    }
    i{
        font-size: 14px;
        font-style: normal;
    }
}
.ui-hotloan-item-note-name{
    font-size: 13px;
    line-height: 22px;
    color: #bfc1d5;
    font-weight: normal;
}
.ui-hotloan-item-rate-default{
    float: left;
    width: 15%;
    line-height: 45px;
    font-size: 50px;
    color: #fff;
}
.ui-hotloan-item-rate-add{
    float: left;
    width: 13%;
    line-height: 45px;
    font-size: 50px;
    font-weight: bold;
    color: #ffff16;
}
.ui-hotloan-item-rate-symbol{
    float: left;
    width: 7%;
    text-align: center;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    line-height: 45px;
}
.ui-hotloan-item-deadline{
    float: left;
    width: 12%;
    padding-top: 18px;
    font-size: 20px;
    line-height: 32px;
    color: #fff;
}
.ui-hotloan-item-descript{
    float: left;
    width: 24%;
    padding-top: 18px;
    font-size: 20px;
    line-height: 32px;
    color: #fff;
}
.ui-hotloan-item-btn{
    float: right;
    margin-right: 40px;
    margin-top: 17px;
    a{
        display: block;
        width: 120px;
        height: 45px;
        text-align: center;
        font-size: 16px;
        line-height: 45px;
        font-weight: bold;
        color: #fff;
        border-radius: 5px;
        background-color: #ff2c27;
        @include fadein(0.25s);
        &:hover{
            text-decoration: none;
            background-color: #a50814;
            @include fadein(0.25s);
        }
    }
}
.ui-hotloan-item-btned{
    float: right;
    margin-right: 40px;
    margin-top: 17px;
    a{
        display: block;
        width: 120px;
        height: 45px;
        text-align: center;
        font-size: 16px;
        line-height: 45px;
        font-weight: bold;
        color: #999;
        border-radius: 5px;
        background-color: #e8e8e8;
        cursor: default;
    }
}
 
.ui-hotloan-item-timedown{
    margin: 10px auto 0;
    width: 233px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    background: url(/styles/images/topic/brand718/pc/icons.png) no-repeat 0 -52px;
    background-size: 350px 350px;
}

.ui-hotloan-item-rateadd-num{
    width: 350px;
    text-align: center;
    padding-top: 10px;
    font-size: 70px;
    font-weight: bold;
    color: #fffc00;
    line-height: 72px;
    strong{
        font-size: 30px;
        font-style: normal;
        vertical-align: bottom;
        line-height: 72px;
    }
    span{
        font-size: 30px;
        vertical-align: bottom;
        line-height: 45px;
    }
    i{
        font-size: 20px;
        font-style: normal;
        vertical-align: bottom;
        line-height: 37px;
    }
}
.ui-hotloan-item-rateadd-name{
    width: 350px;
    text-align: center;
    font-size: 14px;
    line-height: 29px;
    color: #fff;
}
.ui-hotloan-item-timedown-five{
    span{
        display: inline-block;
        width: 40px;
        height: 66px;
        font-size: 50px;
        line-height: 66px;
        margin: 0 8px;
        border-radius: 5px;
        background-color: #fff;
        text-align: center;
        color: #4a0f6f;
        font-family: airil;
        font-weight: bold;
    }
    em{
        display: inline-block;
        margin: 0 5px;
        height: 66px;
        line-height: 58px;
        font-size: 60px;
        font-weight: bold;
        color: #fff;
        vertical-align: top;
    }
}

.ui-hotloan-item-empty{
    width: 100%;
    text-align: center;
    img{
        height: 145px;
    }
}
/* hotloans add*/
.ui-hotloan-wait{
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	height: 101px;
	text-align: center;
	background: url(/styles/images/topic/brand1111/pc/hotloan_wait.png) no-repeat 0 0;
}
.ui-hotloan-wait-title{
	width: 225px;
	padding-left: 5px;
	padding-top: 20px;
	font-size: 24px;
	font-weight: bold;
	color: #333;
	line-height: 35px;
}
.ui-hotloan-wait-note{
	width: 225px;
	padding-left: 5px;
	font-size: 14px;
	color: #333;
	line-height: 30px;
}
.ui-hotloan-wait-descripe{
	float: left;
	margin: 25px 75px 0 120px;
	width: 304px;
	height: 40px;
	line-height: 40px;
	font-weight: bold;
	font-size: 16px;
	color: #4a0f6f;
	border-radius: 20px;
	background-color: #ffff16;
}
.ui-hotloan-wait-time{
	float: left;
	margin-top: 26px;
	width: 224px;
}
.ui-hotloan-wait-time-number{	
	font-size: 26px;
	font-weight: bold;
	color: #4a0f6f;
	span{
		float: left;
		margin: 0 5px;
		border-radius: 3px;
		width: 24px;
		height: 38px;
		line-height: 38px;
	}
	em{
		float: left;
		width: 10px;
		height: 38px;
	}
}
.ui-hotloan-wait-time-note{
	line-height: 31px;
	font-size: 12px;
	color: #bfc1d5;
}
/* hotloans end*/
////////////////////////////////////////////////////////

.ui-luckdraw-box{
	width: 1004px;
	height: 440px;
    text-align: center;
	margin-left: auto;
	margin-right: auto;
    border-radius: 10px;
	background: #2b1569 url(/styles/images/topic/brand1111/pc/luckdraw.png) no-repeat 0 0;
}
.ui-luckdraw-box1{
    background: #2b1569 url(/styles/images/topic/brand1111/pc/luckdraw1.png) no-repeat 0 0;
}
.ui-luckdraw-list{
	margin: 0 57px;
	position: relative;
}
.ui-luckdraw-list-item{
	position: absolute;
	z-index: 1;
	width: 142px;
	height: 107px;
	border-radius: 5px;
	background-color: #fff;
    overflow: hidden;
}
.ui-luckdraw-border{
    display: none;
    position: absolute;
    z-index: 2;
    width: 142px;
    height: 107px;
    border-radius: 10px;
    border: 4px solid #ff2aa8;
    margin: -4px 0 0 -4px;
}
.ui-luckdraw-position-item1{
	top: 52px;
	left: 0;
}
.ui-luckdraw-position-item2{
	top: 52px;
	left: 150px;
}
.ui-luckdraw-position-item3{
	top: 52px;
	left: 300px;
}
.ui-luckdraw-position-item4{
	top: 52px;
	left: 450px;
}
.ui-luckdraw-position-item5{
	top: 52px;
	left: 600px;
}
.ui-luckdraw-position-item6{
	top: 52px;
	left: 750px;
}
.ui-luckdraw-position-item7{
	top: 167px;
	left: 750px;
}
.ui-luckdraw-position-item8{
	top: 282px;
	left: 750px;
}
.ui-luckdraw-position-item9{
	top: 282px;
	left: 600px;
}
.ui-luckdraw-position-item10{
	top: 282px;
	left: 450px;
}
.ui-luckdraw-position-item11{
	top: 282px;
	left: 300px;
}
.ui-luckdraw-position-item12{
	top: 282px;
	left: 150px;
}
.ui-luckdraw-position-item13{
	top: 282px;
	left: 0;
}
.ui-luckdraw-position-item14{	
	top: 167px;
	left: 0;
}
.ui-luckdraw-list-info{
	position: absolute;
	top: 167px;
	left: 150px;
	z-index: 1;
}
.ui-luckdraw-list-info-chance{
	float: left;
	width: 142px;
	height: 42px;
	padding-top: 65px;
	border-radius: 5px;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	line-height: 30px;
	background: url(/styles/images/topic/brand1111/pc/icons.png) no-repeat 0 -207px;
    &:hover{
        background-position: -306px -338px;
    }
}
.ui-luckdraw-list-info-get{
	float: left;
	margin: 0 6px;
}
.ui-luckdraw-list-info-get-button{
	width: 296px;
	height: 86px;
	background: url(/styles/images/topic/brand1111/pc/icons.png) no-repeat 0 -326px;
	cursor: pointer;
    &:hover{
        background-position: 0 -423px;
    }
}
.ui-luckdraw-list-info-get-note{
	font-size: 13px;
	color: #fff40d;
	strong{
		font-size: 16px;
	}
	a{
		color: #00dbff;
		&:hover{
			text-decoration: underline;
		}
	}
}
.ui-luckdraw-info-record{
	float: left;
	width: 142px;
	height: 42px;
	padding-top: 65px;
	border-radius: 5px;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	line-height: 30px;
	background: url(/styles/images/topic/brand1111/pc/icons.png) no-repeat -154px -207px;
    &:hover{
        background-position: -306px -456px;
    }
}
.ui-luckdraw-list-record{
	padding: 0 20px;
	width: 960px;
	margin: 20px auto 0;
	height: 40px;
	line-height: 40px;
	border-radius: 20px;
	background-color: #9618ef;
	text-align: left;
    overflow: hidden;
    ul{
        width: 10000px;
    }
}
.ui-luckdraw-list-record-item{
    float: left;
	margin-right: 40px;
	font-size: 14px;
	color: #fff;
    width: auto!important;
	span{
		display: inline-block;
		*display: inline;
		*zoom: 1;
		margin: 0 10px;
	}
	em{
		font-style: normal;
		color: #ffea34;
	}
}
.ui-luckdraw-list-item-pic{
    height: 80px;
    img{
        display: block;
        margin: 0 auto;
        height: 80px;
    }
}
.ui-luckdraw-list-item-name{
    font-size: 14px;
    color: #fff;
    line-height: 27px;
    @include text-ellipsis;
    background-color: #9618ef;
}
.ui-hidden{
    display: none;
}
//////////////////////////
.ui-brandtable-box{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
}
.ui-brandtable-list{    
    table{
        width: 100%;
    }
    th{
        height: 40px;
        background-color: #f4f4fa;
        text-align: center;
        font-size: 14px;
        font-weight: bold;
    }
    tbody{
        tr{
            border-bottom: 1px dashed #e6e6e6;
        }
        .ui-brandtable-empty{
            border-bottom: 0 none;
        }
    }
    td{
        height: 44px;
        text-align: center;
        font-size: 14px;
        border-bottom: 1px dashed #e6e6e6;
        a{
            font-weight: bold;
            color: #e2231a;
        }
    }

}
.ui-brandtable-empty{
    height: 472px;
    td{
        border-bottom: 0 none;
    }
    img{
        width: 159px;
        margin: 0 auto;
    }
}
.ui-record-pager{
    text-align: center;
    padding: 10px;
    height: 37px;
    a:hover{
        text-decoration: none;
    }
    a{
        display: inline-block;
        *display: inline;
        *zoom: 1;
        margin: 0 4px;
        width: 35px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        color: #e31d1a;
        font-size: 14px;
        border: 1px solid #e31d1a;
        border-radius: 3px;
        background-color: #fff;
        &:hover{
            color: #fff;
            border: 1px solid #a50814;
            background-color: #a50814;
        }
    }
    span{
        color: #e31d1a;
    }
    .jp-current{
        display: inline-block;
        *display: inline;
        *zoom: 1;
        width: 35px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        color: #fff;
        font-size: 14px;
        border: 1px solid #e31d1a;
        border-radius: 3px;
        background-color: #e31d1a;
        cursor: default;
        &:hover{
            border: 1px solid #e31d1a;
            background-color: #e31d1a;
        }
    }
    .jp-previous,
    .jp-next{
        display: inline-block;
        *display: inline;
        *zoom: 1;
        width: auto;
        padding: 0 16px;
        border-radius: 3px;
        font-size:14px;
        color: #fff;
        height: 35px;
        line-height: 35px;
        background-color: #e31d1a;
        &:hover{
            background-color: #a50814;
        }
    }
    .jp-disabled{
        display: inline-block;
        *display: inline;
        *zoom: 1;
        width: auto;
        padding: 0 16px;
        border-radius: 3px;
        font-size: 14px;
        color: #fff;
        height: 35px;
        line-height: 35px;
        border: 1px solid #cbcbcb;
        background-color: #cbcbcb;
        cursor: default;
        &:hover{
            border: 1px solid #cbcbcb;
            background-color: #cbcbcb;
        }
    }
}




