@charset "UTF-8";
@import '../base/utils';
@import '../base/reset';
@import '../base/grid';
@import '../inc/ui';
@import '../mod/dialog';
@import '../inc/site-nav';
@import '../inc/footer';
@import '../mod/bind';
@import '../mod/getkillloans';

body{
  background-color: #c41212;
}
a:hover{
  text-decoration: none;
  color: #fff;

}

.ui-hotloan-wait-descripe {
  color: #ff2a39;
}
.ui-hotloan-wait-time-number {
  span {
    color: #ff2a39;
  }
}
.ui-hotloan-wait-time-note {
  color: #ffd4d7;
}
.ui-banner {
  height: 411px;
  background: url(/styles/images/topic/welfare/pc/18_back.jpg) no-repeat center 0;
  background-size: 1920px 411px;
  @include ratioBackground($url:'/styles/images/topic/welfare/pc/18_back_2x.jpg',$size:1920px 411px,$x:center,$y: 0px);
  overflow: hidden;
  position: relative;
  .ui-banner-time {
    position: absolute;
    bottom: 115px;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 25px;
  }
  .ui-banner-yuyue {
    text-align: center;
    margin-top: 320px;
    span {
      padding: 0px 10px;
      display: inline-block;
      background: rgba(0,0,0,.3);
      border-radius: 10px;
      height: 20px;
      color: #fff;
      font-size: 14px;
      line-height: 20px;
      a {
        display: inline-block;
        margin-left: 10px;
        color: #ffed05;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.ui-hotloan-item-note-name {
  color: #ffd4d7;
}
.ui-hotloan-tab {
  z-index: 0;
}
.ui-hotloan-item-btn {
  a {
    background:#fcff10;
    color: #ff2a39;
    @include fadein(0.25s);
    &:hover{
      background-color: #fff;
    }
  }
}

.ui-hotloan {
   height: 150px;
  overflow: hidden;
}
.ui-hotloan-wait-right {
  background: #ff3535;
}
//.ui-hotloan-tab-wrap {
//  position: absolute;
//  left: 0px;
//  top: 0px;
//  height: 149px;
//  width: 234px;
//}
//.ui-hotloan-manager {
//  margin: 0 auto;
//  width: 184px;
//  height: 22px;
//  li {
//    float: left;
//    height: 20px;
//    width: 54px;
//    margin-right: 5px;
//    font-size: 12px;
//    line-height: 22px;
//    text-align: center;
//    border: 2px solid #e2e3f1;
//    cursor: pointer;
//    border-radius: 3px;
//    a {
//      height: 20px;
//      width: 54px;
//      border-radius: 3px;
//      color: #7a25c8;
//      @include fadein(0.25s);
//      &:hover {
//        color: #e2e3f1;
//      }
//    }
//  }
//  .gzbj {
//    margin-right: 0px;
//  }
//}
.ui-hotloan-tab-item-current {
  cursor: pointer;
  background: #ff3535;
  //@include fadein(0.25s);
  //&:hover {
  //  background: #db342c;
  //}
}

.ui-hotloan-item-loans {
  background: #ff3535;
}
.ui-hotloan-item-name {
  max-width: 342px;
}
.ui-hotloan-item-notetag {
  background: #fcff10;
  color: #ff3535;
}
.ui-hotloan-wdty {
  height: 40px;
  width: 140px;
  margin: 30px auto 20px;
  //background: url(/styles/images/topic/welfare/pc/18_icon.png) no-repeat 0px 0px;
  //@include ratioBackground($url:'/styles/images/topic/welfare/pc/18_icon_2x.png',$size:600px 600px,$x: 0px,$y: 0px);
  img {
    height: 40px;
    width: 140px;
  }
}
.activity-active {
  height: 109px;
  width: 666px;
  background: #ff3535;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  position: relative;
  padding: 20px 50px;
}
.activity-active-title {
  height: 25px;
  //width: 325px;
  color: #fff;
  font-size: 20px;
  .loan-name {
    display: inline-block;
    height: 25px;
    width: 325px;
    @include text-ellipsis;
    float: left;
  }
  .loan-award {
    display: inline-block;
     height: 25px;
     width: 115px;
     text-align: center;
     background: #fcff10;
     color: #975885;
     font-size: 12px;
     line-height: 28px;
     border-radius: 5px;
     border: 1px solid #ac7a6d;
     margin-left: 10px;
  }
}
.activity-active-time {
  position: absolute;
  top: 0px;
  right: 65px;
  height: 36px;
  width: 100px;
  background: #fff;
  color: #ff3535;
  text-align: center;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 12px;
  padding: 2px 0px;
  .p-time {
    font-weight: bold;
  }
}
.activity-active-info {
  height: 70px;
  width: 540px;
  margin-top: 10px;
  float: left;
  li {
    float: left;
    text-align: center;
    color: #fff;
    h1 {
      font-size: 42px;
      font-weight: bold;
      span {
        font-size: 20px;
        font-weight: normal;
      }
    }
    h3 {
      font-size: 20px;
      line-height: 38px;
    }
    p {
      font-size: 14px;
      color: #bfc1d5;
    }
    .yellow-font {
      color: #fcff10;
    }
  }
  .li-add {
    width: 40px;
    font-size: 40px;
    line-height: 70px;
    font-weight: bold;
    margin: 0px 20px;
  }
  .li-lr {
    padding-top: 10px;
    margin-left: 30px;
  }
}
.activity-state {
  float: left;
  width: 120px;
  height: 60px;
  background: #fff;
  color:#b4b4b4;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  line-height: 70px;
  margin-top: 20px;
  border-radius: 8px;
  margin-left: 5px;
}
.ui-hotloan-item-time {
  z-index: 0;
  color: #ff2a39;
}
.ui-brandlead-item{
  float: left;
  position: relative;
  width: 260px;
  height: 198px;
  padding: 40px 30px 0 30px;
  margin: 0 10px;
  border-radius: 8px;
  overflow: hidden;
  background-image: url('/styles/images/topic/welfare/pc/18_icon.png');
  background-repeat: no-repeat;
  background-position: -250px 0px;
  @include ratioBackground($url:'/styles/images/topic/welfare/pc/18_icon_2x.png',$size:600px 600px,$x: -250px,$y: 0px);
  //background-image: url('/styles/images/topic/welfare/pc/pc-1x.png');
  //background-position: no-repeat;
  //@include ratioBackground($url:'/styles/images/topic/welfare/pc/pc-2x.png',$size:320px 238px,$x: 0px,$y: 0px);
}


.ui-brandtitle{
  line-height: 45px;
  text-align: center;
  margin-bottom: 15px;
}
.ui-brandtitle-text{
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}
.ui-brandtitle-licons{
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-right: 10px;
  width: 130px;
  height: 20px;
  vertical-align: middle;
  background: url(/styles/images/topic/brand1218/pc/icons.png) no-repeat 0 -52px;
}
.ui-brandtitle-ricons{
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-left: 10px;
  width: 130px;
  height: 20px;
  vertical-align: middle;
  background: url(/styles/images/topic/brand1218/pc/icons.png) no-repeat -138px -52px;
}
.ui-brandtitle-note{
  font-size: 14px;
  color: #fff;
  line-height: 20px;
}

.ui-brandlead{
  width: 1020px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.ui-brandlead-title{
  font-weight: bold;
  font-size: 18px;
  color: #fff;
  line-height: 22px;
  span{
    color: #ffff16;
  }

}
.ui-brandlead-time{
  margin: 30px auto 0;
  width: 108px;
  height: 24px;
  line-height: 24px;
  border: 1px solid #fff;
  border-radius: 14px;
  font-size: 14px;
  color: #fff;
  text-align: center;
}
.ui-brandlead-link{
  font-size: 14px;
  height: 45px;
  line-height: 45px;
  a{
    color: #fff;
    &:hover{
      text-decoration: underline;
    }
  }
}
.ui-brandlead-list{
  padding-top: 25px;
  padding-left: 20px;
  height: 100px;
  font-size: 16px;
  color: #fff;
  line-height: 22px;
  text-align: left;
  p{
    margin-top: 8px;
  }
  strong{
    color: #ffff16;
  }
}
.ui-brandlead-button{
  a{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 94px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    font-size: 14px;
    color: #ff7f88;
    border-radius: 17px;
    background-color: #fff;
    @include fadein(0.25s);
    &:hover{
      background-color: #fcff10;
    }
  }
}
.ui-brandrules{
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  background-color: #ff3535;
  padding: 5px 20px 5px 40px;
  list-style: decimal;
}
.ui-brandrules-item{
  font-size: 14px;
  padding: 5px 0;
  color: #fff;
  line-height: 36px;
  list-style: decimal;
  border-bottom: 2px dashed #ff8e7c;
  &:last-child{
    border-bottom: 0 none;
  }
  a{
    color: #fcff10;
    &:hover{
      text-decoration: underline;
    }
  }
}






.ui-friendly{
  text-align: center;
  line-height: 30px;
  font-size: 14px;
  color: #fff;
}
.ui-brand11-layer{
  position: fixed;
  top: 35px;
  right: 0px;
  width: 180px;
}
.ui-brand11-layer-head{
  width: 180px;
  height: 120px;
  background-image: url('/styles/images/topic/welfare/pc/18_icon.png');
  background-repeat: no-repeat;
  background-position: 0px -140px;
  margin-bottom: 5px;
  @include ratioBackground($url:'/styles/images/topic/welfare/pc/18_icon_2x.png',$size:600px 600px,$x: 0px,$y: -140px);
}
.ui-brand11-layer-item{
  margin: 12px auto;
  width: 120px;
  //padding-top: 16px;
  height: 37px;
  line-height: 37px;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  background: #fff;
  border-radius: 8px;
  z-index: 100;
  a{
    display: block;
    width: 120px;
    height: 37px;
    color: #ff5561;
    border-radius: 8px;
    z-index: 100;
    &:hover{
      background: #fcff10;
    }
  }
}
.ui-brand11-layer-item-icon {
  z-index: -1;
  position: absolute;
  height: 270px;
  width: 5px;
  background-image: url('/styles/images/topic/welfare/pc/18_icon.png');
  background-repeat: no-repeat;
  background-position: -220px 0px;
  @include ratioBackground($url:'/styles/images/topic/welfare/pc/18_icon_2x.png',$size:600px 600px,$x: -220px,$y: 0px);
}
.ui-brand11-layer-item-left {
  right: 60px;
  top:145px;
}
.ui-brand11-layer-item-right {
  right: 115px;
  top: 145px;
}


.mod-floatlayer{
  display: none;
}
.mt-11{
  margin-top: -11px;
}
.ui-vcode{
  display: none;
  position: absolute;
  top:0;
  left: 0;
  width: 280px;
  height: 198px;
  padding: 20px;
  border-radius: 8px;
  background-color: rgba(0,0,0,0.7);
  background-color: #000\9;
}
.ui-vcode-close{
  height: 16px;
  span{
    float: right;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    background: url(/styles/images/topic/brand1218/pc/icons.png) no-repeat 0 -236px;
    @include ratioBackground($url:'/styles/images/topic/brand1218/pc/icons.png',$size:200px 200px,$x: 0px,$y: -133px);
    cursor: pointer;
  }

}

.ui-vcode-pic{
  margin: 15px auto 0;
  width: 100px;
  height: 100px;
  img{
    width: 100px;
  }
}
.ui-vcode-note{
  line-height: 70px;
  color: #fff;
  font-size: 14px;
  text-align: center;
}
.ui-hotloan-item-btned {
  cursor: pointer;
  a:hover {
    cursor: pointer;
    color: #999;
  }
}
.my-yuyue-alert-wrap {
  display: none;
  background: #000;
  opacity: .7;
}
.my-yuyue-alert {
  height:345px;
  width: 420px;
  background: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -215px;
  margin-top: -192.5px;
  padding: 10px 10px;
  text-align: center;
  z-index: 100;
  border-radius: 15px;
  display: none;
  overflow: hidden;
  .yuyue-close {
    position: absolute;
    right: 10px;
    top: 3px;
    font-size: 30px;
    color: #ff3e5d;
    cursor: pointer;
  }
  h1 {
    width: 255px;
    font-size: 24px;
    margin: 0 auto;
  }
  p {
    //margin: 5px 0px 0px 0px;
    font-size: 14px;
    line-height: 24px;
  }
  .yuyue-table {
    font-size: 14px;
    margin: 0 auto;
    tr, td ,th{
      text-align: center;
      font-size: 14px;
    }
    tr {
      height: 35px;
      line-height: 35px;
      border-bottom: 1px solid #e8e8e8;
    }
    .th-left {
      width: 30px;
    }
    .th-center {
      width: 210px;
    }
    .th-right {
      width: 150px;
    }
  }
  .ui-record-pager{
    height: 35px;
    text-align: center;
    margin: 0 auto;
    a:hover{
      text-decoration: none;
    }
    a{
      display: inline-block;
      *display: inline;
      *zoom: 1;
      margin: 0 4px;
      width: 35px;
      height: 35px;
      line-height: 35px;
      text-align: center;
      color: #fff;
      font-size: 14px;
      cursor: pointer;
      background-color: #cccccc;
      &:hover{
        color: #fff;
        background-color: #ef3756;
      }
    }
    span{
      color: #fff;
    }
    .jp-current{
      display: inline-block;
      *display: inline;
      *zoom: 1;
      width: 35px;
      height: 35px;
      line-height: 35px;
      text-align: center;
      color: #fff;
      font-size: 14px;
      background-color: #ff3e5d;
      cursor: default;
      &:hover{
        background-color: #ef3756;
      }
    }
    .jp-previous,
    .jp-next{
      display: inline-block;
      *display: inline;
      *zoom: 1;
      width: auto;
      padding: 0 16px;
      border-radius: 3px;
      font-size:14px;
      color: #fff;
      height: 35px;
      line-height: 35px;
      background-color: #ff3e5d;
      &:hover{
        background-color: #ef3756;
      }
    }
    .jp-disabled{
      display: inline-block;
      *display: inline;
      *zoom: 1;
      width: auto;
      padding: 0 16px;
      border-radius: 3px;
      font-size: 14px;
      color: #fff;
      height: 35px;
      line-height: 35px;
      background-color: #cccccc;
      cursor: default;
    }
  }
}





