@Fcharset "UTF-8";
@import '../base/utils';
@import '../base/reset';
@import '../base/grid';
@import '../inc/site-nav';
@import '../inc/footer';
@import '../inc/ui';
@import '../mod/dialog';
@import '../mod/bind';

@import '../mod/floatlayer';
@import '../mod/activity';

@keyframes flicker{
    0%{
        transform:scale(0.8);
    }
    25%{
        transform:scale(1.2);
    }
    75%{
        transform:scale(0.8);
    }
    100%{
        transform:scale(1);
    }
}
@-webkit-keyframes flicker{
    0%{
        transform:scale(0.8);
    }
    25%{
        transform:scale(1.2);
    }
    75%{
        transform:scale(0.8);
    }
    100%{
        transform:scale(1);
    }
}
@-moz-keyframes flicker{
    0%{
        transform:scale(0.8);
    }
    25%{
        transform:scale(1.2);
    }
    75%{
        transform:scale(0.8);
    }
    100%{
        transform:scale(1);
    }
}
@-o-keyframes flicker{
    0%{
        transform:scale(0.8);
    }
    25%{
        transform:scale(1.2);
    }
    75%{
        transform:scale(0.8);
    }
    100%{
        transform:scale(1);
    }
}

.anim-flicker{
    -moz-animation: flicker 2s 1;  
    -webkit-animation: flicker 2s 1;
    -o-animation: flicker 2s 1;    
    -ms-animation: flicker 2s 1;
    animation: flicker 2s 1;
}

.mod-none{
    display:none;
}

.template_carnival{
    background-image: url(about:blank);   
    _background-attachment: fixed;  
    .mod-floatlayer{
        bottom:90px;
        display:none;
    }
    .page_section{
        padding-bottom:0;
    }
    #lightbox_wrap{
        z-index:998;
    }
    .page_section{
        position:relative;
    }
    overflow-x:hidden\9;
}
.carnivalbg{
   background:url("/styles/images/carnival/bodybg.png") 0 0 repeat; 
   padding-bottom:50px;
}
.carnival_starts{
    width:100%;
    background:url("/styles/images/carnival/carnival_stars.png") center top repeat-y;
}
.mod-carnival-head{
    .qt-m{
        overflow:hidden;
    }
    .under{
        width:1920px;
        height:827px;
        position:relative;
        left:50%;
        margin-left:-960px;
        background:url("/styles/images/carnival/carnival_head.png") 0 0 no-repeat;
        z-index:1;
    }
    .above{
        width:1200px;
        height:827px;
        left:0;
        top:0;
        background:url("/styles/images/carnival/carnival_head2.png") 0 0 no-repeat;
        z-index:2;
    }
}
.mod-carnival-time{
    z-index:2;
    overflow:hidden;
    top:-10px;
    .qt-m{
        padding:11px 0;
        height:165px;
        background:url("/styles/images/carnival/carnival_timebg.png") 0 0 repeat-x;
        overflow:hidden;
    }
    .box{
        width:906px;
        padding-left:130px;
    }
    .top{
        height:50px;
        padding-top:22px;
        .inner{
            width:308px;
            height:30px;
            margin:0 auto;
            background:url("/styles/images/carnival/carnival_timet.png") 0 0 no-repeat;
        }
    }
    .bottom{ 
        height:58px;
        background:url("/styles/images/carnival/carnival_timeb.png") 0 center no-repeat;
        .inner{
            width:400px;
            height:58px;
            margin:0 auto;
        }
        .timelist{
            width:100%;
            height:58px;
            li{
                float:left;
                width:36px;
                height:58px;
                margin-right:15px;
                overflow:hidden;
            }
            .point{
                width:28px;
            }
            .imgbox{
                width:36px;
                height:116px;
            }
            em{
                display:block;
                width:28px;
                height:58px;
            }
            em.active{
                background:url("/styles/images/carnival/carnival_time_em.png") center center no-repeat;
            }
        }
    }
}
.mod-carnival-gift{
    .content{
        padding:32px 30px 48px 30px;
        height:154px;
    }
    .box{
        width:1144px;
        height:154px;
        background:url("/styles/images/carnival/carnival_gift.png") 0 0 no-repeat;
    }
    .hd{
        width:146px;
        height:70px;
        left:0;
        top:68px;
        .inner{
            left:61px;
            top:37px;
            width:50px;
            height:30px;
        }
        .prompt{
            width:162px;
            height:0; /* 78px */
            left:0px; 
            top:80px;
            background:url("/styles/images/carnival/carnival_prompt.png") 0 0 no-repeat;
        }
    }
    .bd{
        width:902px;
        padding:0 14px;
        height:36px;
        border:2px solid #fff;
        left:156px;
        top:14px;
    }
    .fd{
        width:174px;
        height:76px;
        bottom:0px;
        right:8px;
        a{
            position:absolute;
            width:140px;
            height:34px;
            left:16px;
            top:0;
        }
        a:hover{
            text-decoration:none;
        }
        span{
            position:absolute;
            width:174px;
            height:15px;
            left:0;
            bottom:5px;
            background:url("/styles/images/carnival/carnival_gift_span.png") 0 0 no-repeat;
        }
    }
    p{
        float:left;
        width:132px;
        height:36px;
        line-height:36px;
        color:#fff;
        font-size:16px;
    }
    .rollbox{
        width:770px;
        float:left;
        height:36px;
        overflow:hidden;
    }
    .ulist{
        height:36px;
        li{
            float:left;
            height:36px;
            line-height:36px;
            padding-right:30px;
            color:#fff;
            font-size:16px;
        }
    }
    
}
.mod-carnival-lottery{
    .box{
        width:1052px;
        height:503px;
        padding:92px 24px 35px 24px;
        margin:0 auto;
        background:url("/styles/images/carnival/mod-carnival-lotterybg.png") center bottom no-repeat;
    }
    .left{
        width:662px;
        height:472px;
        padding:15px 16px 16px 18px;
        float:left;
    }
    .right{
        width:248px;
        height:360px;
        padding:91px 42px 52px 38px;
        float:right;
    }
    .circle{
        width:662px;
        height:472px;
        position:relative;
        li{
            position:absolute;
            width:210px;
            height:146px;
            border-radius:5px;
            background-color:#fae325;
            div{
                width:210px;
                height:146px;
                text-align:center;
                line-height:146px;
            }
            .win{
               background:url("/styles/images/carnival/carnival_win.png") 0 0 no-repeat; 
            }
            img,b{
                vertical-align:middle;
            }
            b{
                display:inline-block;
            }
        }
        .orangebg{
            background-color:#ffb400;
        }
        .list0{
            left:235px;
            top:181px;
            width:192px;
            height:30px;
            padding:71px 1px 8px;
            cursor:pointer;
            background:none;
        }
        .change{
            width:192px;
            height:30px;
            line-height:30px;
            text-align:center;
            color:#fff;
            font-size:14px;
            border-radius:0;
            background-color:#f73400;
            
            em{
                font-style:italic;
            }
            span{
                color:#fada23;
            }
        }
        .list1{left:0;top:0;}
        .list2{left:226px;top:0;}
        .list3{left:452px;top:0;}
        .list4{left:452px;top:163px;}
        .list5{left:452px;top:326px;}
        .list6{left:226px;top:326px;}
        .list7{left:0;top:326px;}
        .list8{left:0;top:163px;}
    }
    .ulist{
        width:248px;
        height:360px;
        overflow:hidden;
        ul{
            width:100%;
        }
        li{
           height: 40px;
           width:100%;
           line-height:40px;
           color:#ec3020;
           font-size:14px;
           float:left;
        }
        span{
            float:left;
            height:40px;
            line-height:40px;
            @include text-ellipsis;
        }
        .one{width:80px;padding-left:10px;}
        .two{width:50px;}
        .three{width:100px;}
    }
}
.mod-carnival-instructions{
    .box{
        width:1048px;
        margin:20px auto 0;
        padding:12px 28px;background-color:#b7282b;
        position:relative;
    }
    .connect{
        position:absolute;
        width:1100px;
        height:44px;
        left:0;
        top:-32px;
        background:url("/styles/images/carnival/carnival_inst_topbg.png") 0 0 no-repeat;
    }
    .hd{
        padding-top:30px;
        height:31px;
        .title{
            height:31px;
            overflow:hidden;
            background:url("/styles/images/carnival/carnival_titlebg.png") 0 0 no-repeat;
        }
        .titlebg1{
            background-position:0 0;
        }
        .titlebg2{
            background-position:0 -33px;
        }
        .titlebg3{
            background-position:0 -66px;
        }
        .titlebg4{
            background-position:0 -99px;
        }
    }
    .bd{
        padding-top:15px;
        .inner{
            line-height:30px;
            font-size:20px;
            color:#fff;
            span{color:#fae325;}
        }
    }
    .fd{
        padding:15px 0;
    }
    .sign{
        width:100%;
        padding:10px 0;
        .left{
            float:left;
            width:627px;
        }
        table{
            width:100%;
            height:100px;
            td{
                border:1px solid #fff;
                height:44px;
                text-align:center;
                color:#fff;
            }
        }
        .right{
            float:right;
            padding:10px 36px 0 0;
            height:70px;
        }
    }
    .btn{
        display:block;
        width:240px;
        height:70px;
        background-color:#fae325;
        text-align:center;
        line-height:70px;
        color:#ec3020;
        font-size:36px;
        border-radius:5px;
        border:none;
        cursor:pointer;
    }
    .btn:hover{
        text-decoration:none;
    }
    .getcode{
        height:24px;
        line-height:24px;
        font-size:16px;
        a{
            color:#fae325;
        }
    }
    .code{
        padding:2px 0 28px 0;
        .left{
            width:680px;
            float:left;
            padding-top:18px;
        }
        .inst{
            width:187px;
            float:left;
            height:44px;
            line-height:44px;
            font-size:20px;
            color:#fff;
        }
        .text{
            width:480px;
            height:34px;
            line-height:34px;
            border:1px solid #fff;
            padding:4px 0 4px 8px;
            font-size:20px;
            color:#fff;
            background-color:#b7282b;
            float:left;
        }
        .right{
            float:right;
            padding-right:36px;
            height:70px;
        }
    }
    .share{
        padding:20px 0 0 8px;
        .text{
            width:700px;
            height:34px;
            line-height:34px;
            border:1px solid #fff;
            padding:4px 0 4px 8px;
            background-color:#b7282b;
        }
        .txt{
            width:700px;
            height:34px;
            line-height:34px;
            color:#fff;
            font-size:20px;
            background-color:#b7282b;
            border:none;
        }
        .sharebox{
            padding-top:20px;
            height:50px;
        }
    }
    .twocode{
        width:100%;
        padding-bottom:20px;
        .left{
            float:left;
            width:830px;
        }
        .right{
            float:right;
            padding-right:20px;
            width:192px;
            margin-top:-20px;
        }
    }
}
.mod-carnival-platform{
    .box{
        width:1100px;
        margin:0 auto;
    }
    .top{
        height:68px;
        margin-top:20px;
        background:url("/styles/images/carnival/carnival_platform_top.png") 0 0 no-repeat;
        .inner{
            left:586px;
            top:0;
            width:430px;
            height:56px;
            font-size:30px;
            color:#fae325;
            line-height:56px;
        }
    }
    .content{
        width:1072px;
        padding:12px 0 12px 28px;
        background-color:#b7282b;
        position:relative;
    }
    .mt20{
        margin-top:20px;
    }
    .connect{
        position:absolute;
        width:1100px;
        height:44px;
        left:0;
        top:-32px;
        background:url("/styles/images/carnival/carnival_inst_topbg.png") 0 0 no-repeat;
    }
    .ulist{
        width:1072px;
        li{
            width:240px;
            height:230px;
            padding:14px 28px 14px 0;
            float:left;
        }
        .first{
            width:508px;
        }
        .inner{
            width:220px;
            height:172px;
            padding:38px 10px 20px 10px;
            background:#f8ecd9;
            a:hover{
                text-decoration:none;
            }
        }
        .logo{
            height:50px;
            text-align:center;
            img,span{
                vertical-align:middle;
            }
            span{line-height:50px;}
        }
        .middle{
            padding:20px 0 25px 0;
            height:30px;
            line-height:30px;
            font-size:20px;
            color:#e9463f;
            text-align:center;
            @include text-ellipsis;
            a{color:#e9453e;}
        }
        .bottom{
            height:40px;
            a{
                width:190px;
                heihgt:40px;
                line-height:40px;
                font-size:22px;
                text-align:center;
                margin:0 auto;
                display:block;
                background-color:#e9453e;
                color:#fff;
                border-radius:5px;
            }
            a:hover{
                text-decoration:none;
            }
        }
    }
}
.mod-carnival-side{
    position:fixed;
    right:0;
    top:36px;
    width:123px;
    height:505px;
    z-index:10;
    background:url("/styles/images/carnival/carnival_side.png") 0 0 no-repeat;
    _position:absolute;
    _top: expression(document.documentElement.scrollTop+ "px");
    _left: expression(document.documentElement.scrollLeft+Math.round(document.documentElement.offsetWidth-123)+ "px");
    .box{
        width:123px;
        height:505px;
    }
    .top{
       width:116px;
       height:44px;
       padding:74px 3px 16px 4px; 
       color:#fff;
       font-size:14px;
       text-align:center;
       font-style:italic;
       span{
            display:block;
            height:18px;
            line-height:18px;
       }
       p{
            line-height:26px;
            height:26px;
            strong{color:#fae325;font-weight:normal;font-size:20px;padding-right:8px;}
       }
    }
    .middle_t{
        width:87px;
        height:84px;
        padding:1px 19px 10px 17px;
    }
    .middle_m{
        width:87px;
        height:84px;
        padding:0 19px 12px 17px;
    }
    .middle_b{
        width:87px;
        height:84px;
        padding:0 19px 10px 17px;
    }
    .bottom{
        width:87px;
        height:84px;
        padding:1px 19px 1px 17px;
    }
    a{
        display:block;
        width:87px;
        height:84px;
    }
    a:hover{
        text-decoration:none;
    }
}

.mod-carnival-strategy{
    z-index:101;
    position:fixed;
    left:0;
    bottom:-270px;
    width:100%;
    height:270px;
    background:url("/styles/images/carnival/carnival-strategybg.png") 0 0 repeat-x;
    _position:absolute;
    _top: expression(document.documentElement.scrollTop + Math.round(document.documentElement.offsetHeight) + "px");
    .qt-w{
        height:270px;
    }
    .hd{
        width:939px;
        height:248px;
        background:url("/styles/images/carnival/carnival-strateview.png") 0 0 no-repeat;
        left:0;
        top:0;
        z-index:2;
    }
    .hd:hover{
        text-decoration:none;
    }
    .hd2{
        width:960px;
        height:248px;
        background:url("/styles/images/carnival/carnival-strateview2.png") 0 0 no-repeat;
        left:0;
        top:0;
        z-index:2; 
        .bug{
            width:144px;
            height:75px;
            left:461px;
            top:171px;
            background:url("/styles/images/carnival/carnival-strateview2_bug.png") 0 0 no-repeat;
        }
        .view{
            width:144px;
            height:75px;
            left:684px;
            top:171px;
            background:url("/styles/images/carnival/carnival-strateview2_view.png") 0 0 no-repeat;
        }
    }
    .bd{
        width:200px;
        height:246px;
        right:0;
        bottom:0;
        z-index:2;
        .code{
            width:170px;
            height:170px;
            padding:0 15px 16px 15px;
        }
        .inner{
            line-height:30px;
            font-size:16px;
            color:#fff;
            text-align:center;
        }
    }
    .close{
        z-index:3;
        width:31px;
        height:31px;
        cursor:pointer;
        background:url("/styles/images/carnival/carnival-strateclose.png") 0 0 no-repeat;
        transition:all 300ms ease 0s;
    }
    .close:hover{
        transform:rotate(180deg);
    }
}
.mod-carnival-strategybtn{
    position:fixed;
    left:-230px;
    bottom:0px;
    _position:absolute;
    _top: expression(document.documentElement.scrollTop + Math.round(document.documentElement.offsetHeight) + "px");
    width:230px;
    height:140px;
    z-index:102;
    a{
        display:block;
        width:230px;
        height:140px;
        background:url("/styles/images/carnival/carnival-strategybtn.png") 0 0 no-repeat;
    }
}

.carnival_christmas{
    background:none;
    .dialog_title{
        background:none;
        width:1200px;
        height:180px;
        padding:0;
        background:url("/styles/images/carnival/carnival_christmas_title.png") 0 0 no-repeat;
    }
    .closebtn{
        width:59px;
        height:59px;
        top:109px;
        right:-12px;
        background:url(/styles/images/carnival/carnival_christmas_close.png) 0 0 no-repeat;
    }
    .dialog_content{
        padding:0 45px;
        background-color:#f73d3d;
        border-bottom-left-radius:20px;
        border-bottom-right-radius:20px;
    }
    .rules{
        padding-bottom:45px;
       .hd{
            height:48px;
            padding-top:12px;
            h3{
                width:198px;
                height:36px;
                margin:0 auto;
                background:url(/styles/images/carnival/carnival_rules_h3.png) 0 0 no-repeat;
            }
        }
        .bd{
            padding:26px 0;
            p{
                line-height:48px;
                font-size:20px;
                color:#fff;
            }
            a{color:#fae325;}
            a:hover{text-decoration:none;}
            .yellow{
                color:#fae325;
            }
        } 
    }
    .pocket{
        padding:0 15px 35px;
        .hd{
            padding:2px 0 22px 0;
            h3{
                width:628px;
                height:36px;
                margin:0 auto;
                background:url(/styles/images/carnival/carnival_pocket_h3.png) 0 0 no-repeat;
            }
        }
        .bd{
           .inst{
                padding-top:20px; 
                p{
                    line-height:48px;
                    padding:0 6px;
                    font-size:20px;
                    color:#fae325;
                    a{color:#0080cc;padding:0 4px;}
                }
           } 
           .inner{
                
           }
        }
        .ulist{
            width:1076px;
            border:2px dashed #fff;
            border-radius:5px;
            .top,ul,li{
                widht:100%;
            }
            .top,li{
                heihgt:50px;
            }
            li{border-top:2px dashed #fff;}
            span{
                float:left;
                height:50px;
                line-height:50px;
                text-align:center;
                color:#fff;
                @include text-ellipsis;
            }
            .number{width:160px;}
            .prize{width:228px;}
            .password{width:272px;}
            .gettime{width:230px;}
            .provider{width:186px;}
            .yellow{color:#fae325;}
            a:hover{
                text-decoration:none;
            }
            .middle{
                ul{display:none;}
                ul.active{display:block;}
            }
        }
        .page{
            padding-top:40px;
            height:30px;
            text-align:center;
            a{
                display:inline-block;
                font-size:12px;
                margin-right:8px;
                color:#757575;
                height:28px;
                line-height:28px;
                border:1px solid #e4e4e4;
                background-color:#fff;
                padding:0 10px;
            }
            .active,a:hover{
                color:#000;
                border-color:#f9cf09;
                background-color:#f9cf09;
                text-decoration:none;
            }
        }
   } 
}
.carnival_passport{
    background:none;
    .dialog_title{
        background:none;
        width:1085px;
        height:20px;
        padding:0;
        background:#f73d3d url(/styles/images/carnival/carnival_passportbg.png) center 0 no-repeat;
        border-top-left-radius:0;
        border-top-right-radius:0;
    }
    .closebtn{
        width:59px;
        height:59px;
        top:-15px;
        right:-13px;
        background:url(/styles/images/carnival/carnival_christmas_close.png) 0 0 no-repeat;
    }
    .dialog_content{
        padding:0 20px 20px;
        background-color:#f73d3d;
    }
    .passport{
        padding:16px 41px 0;
        background:#fffce4; 
    }
    .hd{
        padding-top:8px;
        height:125px;
        background-color:#fffce4;
        h3{
            width:561px;
            height:64px;
            margin:0 auto;
            background:url(/styles/images/carnival/carnival_passporth3.png) 0 0 no-repeat;
        }
        p{
            padding:12px 0 1px;
            line-height:24px;
            color:#f73d3d;
            font-size:18px;
        }
    }
    .bd{
        height:654px;
        position:relative;
        .pagebtn{
            position:absolute;
            top:288px;
            width:46px;
            height:46px;
            cursor:pointer;
            display:none;
            background:url(/styles/images/carnival/carnival_pagebtn.png) 0 0 no-repeat;
        }
        .prev{
            background-position:0 0;
            left:-54px;
        }
        .next{
            background-position:-48px 0;
            right:-54px;
        }
        .inner{
            width:963px;
            height:654px;
            overflow:hidden;
        }
        .ulbox{
            height:654px;
        }
        .empty{
            height:300px;
            line-height:300px;
            text-align:center;
            font-size:30px;
            color:#333;
        }
        ul{
            width:1004px;
            height:654px;
            float:left;
        }
        li{
            width:210px;
            height:198px;
            padding:0 41px 20px 0;
            float:left;
        }
        .box{
            padding:14px 0;
            background-color:#f73d3d;
            position:relative;
            .visa{
                position:absolute;
                left:93px;
                top:58px;
                width:104px;
                height:104px;
                background:url(/styles/images/carnival/carnival_visa.png) 0 0 no-repeat;
            }
        }
        .top{
            padding:0 14px 18px;
        }
        .logo{
            width:182px;
            height:106px;
            background-color:#fffce4;
            text-align:center;
            vertical-align:middle;
            span{line-height:146px;}
        }
        .bottom{
            height:26px;
            line-height:26px;
            text-align:center;
            color:#fff;
            font-size:24px;
        }
    }
}
.carnival_christmas3{
    background:none;
    .dialog_title{
        background:none;
        width:800px;
        height:49px;
        padding:0;
        background:url("/styles/images/carnival/carnival_christmas3_title.png") 0 0 no-repeat;
    }
    .closebtn{
        width:59px;
        height:59px;
        top:-9px;
        right:-31px;
        background:url(/styles/images/carnival/carnival_christmas_close.png) 0 0 no-repeat;
    }
    .dialog_content{
        background-color:#f73d3d;
    }
    .wintip{
        padding:30px 0 30px 0;
        .tips{
            line-height:30px;
            font-size:16px;
            color:#ffe200;
            padding-top:30px;
        }
        .blessing{
            line-height:30px;
            text-align:center;
            color:#fff;
            font-size:16px;
        }
        .hd{
            line-height:30px;
            text-align:center;
            font-size:30px;
            color:#fff;
        }
        .bd{
            line-height:34px;
            font-size:26px;
            color:#ffe200;
            text-align:center;
            padding-top:20px;
        }
        .fd{
            padding-top:36px;
            text-align:center;
            .btn{
                width:240px;
                height:50px;
                background-color:#fae325;
                color:#ec3020;
                font-size:32px;
                line-height:50px;
                text-align:center;
                border:none;
                cursor:pointer;
                border-radius:5px;
            }
        }
   }
}
.carnival_christmas2{
    background:none;
    .dialog_title{
        background:none;
        width:1000px;
        height:61px;
        padding:0;
        background:url("/styles/images/carnival/carnival_christmas2_title.png") 0 0 no-repeat;
    }
    .closebtn{
        width:59px;
        height:59px;
        top:14px;
        right:-25px;
        background:url(/styles/images/carnival/carnival_christmas_close.png) 0 0 no-repeat;
    }
    .dialog_content{
        background-color:#f73d3d;
    }
    .address{
         .hd{
            height:38px;
            line-height:38px;
            text-align:center;
            font-size:30px;
            color:#fff;
            font-weight:bold;
         }
         .bd{
            padding:40px 0;
         }
         .ulist{
            width:100%;
            li{
                width:100%;
                padding:12px 0;
            }
            span{
                width:160px;
                height:50px;
                line-height:50px;
                float:left;
                text-align:right;
                font-size:30px;
                color:#fff;
                margin-right:20px;
            }
            .txtbox{
                width:700px;
                float:left;
            }
            .text{
                width:680px;
                height:34px;
                border:2px solid #fff;
                padding:6px 0 6px 16px;
                line-height:34px;
                font-size:30px;
                background-color:#f73d3d;
                color:#fff;
            }
            p{
               width:700px;
               height:50px;
               color:#fff;
               font-size:30px;
               line-height:50px;
               @include text-ellipsis;
            }
         }
         .tips{
            padding:20px 0;
            line-height:36px;
            font-size:20px;
            color:#ffe200;
            text-align:center;
         }
         .btnbox{
            height:60px;
            text-align:center;
            .btn{
                width:260px;
                height:60px;
                background-color:#fae325;
                color:#ec3020;
                font-size:30px;
                line-height:60px;
                text-align:center;
                border:none;
                cursor:pointer;
                border-radius:5px;
            }
         }
    }
     
}
.carnival_happy{
    background:none;
    .dialog_title{
       background:none; 
    }
    .closebtn{
        width:59px;
        height:59px;
        top:-16px;
        right:-25px;
        background:url(/styles/images/carnival/carnival_christmas_close.png) 0 0 no-repeat;
    }
    .dialog_content{
        padding:0;
    }
    .carnival_join{
        width:500px;
        height:497px;
        background:url(/styles/images/carnival/carnival_start.png) 0 0 no-repeat;
        position:relative;
        a{
            position:absolute;
            width:156px;
            height:48px;
            left:155px;
            top:146px;
            background:url(/styles/images/carnival/carnival_join.png) 0 0 no-repeat;
        }
        a:hover{
            text-decoration:none;
        }
    }
}
.carnival_play{
    background:none;
    top:0;
    .dialog_title{
       background:none;
       display:none;
    }
    .closebtn{
        display:none;
    }
    .dialog_content{
        padding:0;
        position:relative;
    }
    .awardTip{
        width:500px;
        height:30px;
        line-height:30px;
        font-size:18px;
        left:50%;
        top:-100px;
        margin-left:-250px;
        background:#f73d3d;
        color:#fff;
    }
    .santaClaus{
        width:215px;
        height:189px;
        right:0;
        top:0;
        background:url(/styles/images/carnival/santaClaus.png) 0 0 no-repeat;
        z-index:10;
    }
    .luckyBag{
        width:160px;
        height:204px;
        right:0;
        bottom:0;
        background:url(/styles/images/carnival/luckyBag.png) 0 0 no-repeat;
        z-index:2;
        span{
            position:absolute;
            width:100%;
            height:30px;
            line-height:30px;
            font-size:18px;
            color:#fff;
            left:0;
            bottom:64px;
            text-align:center;
            cursor:pointer;
            display:none;
            cusor:pointer;
        }
        em{
            position:absolute;
            width:100%;
            height:50px;
            line-height:50px;
            color:#fff;
            text-align:center;
            left:0;
            top:-50px;
            font-size:50px;
            -moz-user-select: none; 
            -webkit-user-select: none; 
            -ms-user-select: none; 
            -khtml-user-select: none; 
            user-select: none;
        }
    }
    .noneArea{
        width:100%;
        height:254px;
        left:0;
        bottom:0;
        z-index:1;
    }
    .gift{
        position:absolute;
        z-index:5;
        span{
            z-index:1;
            position:absolute;
        }
        em{
            z-index:2;
            position:absolute;
            cursor:pointer;
        }
    }
    .gift_red_demo{
        width:160px;
        height:203px;
        left:50%;
        top:200px;
        margin-left:-80px;
        cursor:pointer;
        background:url(/styles/images/carnival/gift_red_demo.png) center bottom no-repeat;
        em{
            position:absolute;
            width:66px;
            height:91px;
            left:31px;
            top:31px;
            background:url(/styles/images/carnival/hand.png) 0 0 no-repeat;
            z-index:2;
        }
        span{
            position:absolute;
            width:113px;
            height:82px;
            left:23px;
            bottom:0;
            z-index:1;
        }
    }
    .gift_pink{
        width:58px;
        height:40px;
        left:100px;
        top:200px;
        span{
            width:80px;
            height:75px;
            left:-16px;
            bottom:0;
            background:url(/styles/images/carnival/gift_pink.png) 0 bottom no-repeat;
        }
        em{
            width:58px;
            height:40px;
            left:0;
            top:0;
        }
    }
    .gift_red{
        width:102px;
        height:80px;
        left:500px;
        top:457px;
        span{
            width:160px;
            height:112px;
            left:-31px;
            bottom:2px;
            background:url(/styles/images/carnival/gift_red.png) 0 bottom no-repeat;
        }
        em{
            width:102px;
            height:80px;
            left:0;
            top:0;
        }
    }
    .gift_blue{
        width:68px;
        height:50px;
        left:380px;
        top:242px;
        span{
            width:156px;
            height:143px;
            left:-52px;
            bottom:1px;
            background:url(/styles/images/carnival/gift_blue.png) center bottom no-repeat;
        }
        em{
            width:68px;
            height:50px;
            left:0;
            top:0;
        }
    }
    .gift_red_big{
        width:84px;
        height:82px;
        left:100px;
        top:300px;
        span{
            width:231px;
            height:148px;
            left:-8px;
            bottom:0px;
            background:url(/styles/images/carnival/gift_red_big.png) left bottom no-repeat;
        }
        em{
            width:84px;
            height:82px;
            left:0;
            top:0;
        }
    }
    .gift_red_middle{
        width:94px;
        height:80px;
        left:280px;
        top:480px;
        span{
            width:212px;
            height:242px;
            left:-59px;
            bottom:1px;
            background:url(/styles/images/carnival/gift_red_middle.png) center bottom no-repeat;
        }
        em{
            width:94px;
            height:80px;
            left:0;
            top:0;
        }
    }
    .gift_red_f{
        width:116px;
        height:92px;
        left:800px;
        top:300px;
        span{
            width:160px;
            height:112px;
            left:0px;
            bottom:0px;
            background:url(/styles/images/carnival/gift_red_f.png) left bottom no-repeat;
        }
        em{
            width:116px;
            height:92px;
            left:0;
            top:0;
        }
    }
    .snow{
        position:absolute;
        z-index:2;
    }
    .snow1{
        width:39px;
        height:44px;
        left:50px;
        top:200px;
        background:url(/styles/images/carnival/snow1.png) left bottom no-repeat;
    }
    .snow2{
        width:30px;
        height:35px;
        left:940px;
        top:350px;
        background:url(/styles/images/carnival/snow2.png) left bottom no-repeat;
    }
    .snow3{
        width:31px;
        height:35px;
        left:200px;
        top:250px;
        background:url(/styles/images/carnival/snow3.png) left bottom no-repeat;
    }
    .snow4{
        width:37px;
        height:41px;
        left:270px;
        top:350px;
        background:url(/styles/images/carnival/snow4.png) left bottom no-repeat;
    }
    .snow5{
        width:36px;
        height:41px;
        left:380px;
        top:216px;
        background:url(/styles/images/carnival/snow5.png) left bottom no-repeat;
    }
    .snow6{
        width:50px;
        height:56px;
        left:650px;
        top:350px;
        background:url(/styles/images/carnival/snow6.png) left bottom no-repeat;
    }
    .snow7{
        width:70px;
        height:79px;
        left:727px;
        top:173px;
        background:url(/styles/images/carnival/snow7.png) left bottom no-repeat;
    }
    .snow8{
        width:36px;
        height:41px;
        left:740px;
        top:510px;
        background:url(/styles/images/carnival/snow5.png) left bottom no-repeat;
    }
}
.carnival_tip{
    background:none;
    .dialog_title{
        background:none;
        width:600px;
        height:38px;
        padding:0;
        background:url("/styles/images/carnival/carnival_tip_title.png") 0 0 no-repeat;
    }
    .closebtn{
        width:59px;
        height:59px;
        top:-8px;
        right:-29px;
        background:url(/styles/images/carnival/carnival_christmas_close.png) 0 0 no-repeat;
    }
    .dialog_content{
        background-color:#f73d3d;
        height:322px;
    }
    .tip{
        padding-top:50px;
    }
    p{
       color:#fff; 
       text-align:center;
    }
    .hd{
        padding:10px 0;
        height:30px;
        line-height:30px;
        p{
            font-size:20px;
        }
    }
    .bd{
        padding:10px 0;
        line-height:35px;
        p{
            font-size:30px;
        }
    }
    .fd{
        padding-top:40px;
        text-align:center;
        .btn{
            display:inline-block;
            width:200px;
            height:50px;
            background-color:#fae325;
            color:#ec3020;
            font-size:26px;
            line-height:50px;
            text-align:center;
            border:none;
            cursor:pointer;
            border-radius:5px;
        }
        .btn:hover{
            text-decoration:none;
        }
    }
}


#carnival_join{
    position:fixed;
    left:0;
    top:36px;
    width:80px;
    height:30px;
    _position:absolute;
    _top: expression(document.documentElement.scrollTop+36+"px");
    cursor:pointer;
    z-index:10;
}
#carnival_play{
    position:fixed;
    left:0;
    top:70px;
    width:80px;
    height:30px;
    _position:absolute;
    _top: expression(document.documentElement.scrollTop+36+"px");
    cursor:pointer;
    z-index:10;
}

#carnival_tip{
    position:fixed;
    left:0;
    top:110px;
    width:80px;
    height:30px;
    _position:absolute;
    _top: expression(document.documentElement.scrollTop+36+"px");
    cursor:pointer;
    z-index:10;
}
#carnival_win{
    position:fixed;
    left:0;
    top:130px;
    width:80px;
    height:30px;
    _position:absolute;
    _top: expression(document.documentElement.scrollTop+36+"px");
    cursor:pointer;
    z-index:10;
}
