@charset "UTF-8";
@import '../base/utils';
@import '../base/reset';
@import '../base/grid';
@import '../inc/ui';
@import '../mod/dialog';
@import '../inc/site-nav';
@import '../inc/header';
@import '../inc/member-header';
@import '../inc/search-header';
@import '../inc/footer';
@import '../mod/bind';
@import '../mod/floatlayer';
@import '../mod/activity';
.page_section {
  background: #115e4c;
}
.section-banner {
  .banner-bg {
    background: url('/styles/images/topic/financial/pc/welfare_bg.png') center top no-repeat;
    @include ratioBackground($url:"/styles/images/topic/financial/pc/welfare_bg_2x.png",$x:center,$y:top,$size:1920px 1671px);
  }
  .banner-main {
    padding:418px 0px 0px;
  }
  .banner-btn-wrap {
    text-align: center;
    padding:0px 0px 70px;
    .banner-btn {
      display: inline-block;
      width: 250px;
      height: 73px;
      font-size: 30px;
      font-weight: bold;
      color: #fff;
      line-height: 68px;
      text-decoration: none;
      background: url('/styles/images/topic/financial/pc/welfare_btn.png') center top no-repeat;
      @include ratioBackground($url:"/styles/images/topic/financial/pc/welfare_btn_2x.png",$x:center,$y:top,$size:250px 73px);
      &:hover,&:active {
        background: url('/styles/images/topic/financial/pc/welfare_hoverbtn.png') center top no-repeat;
        @include ratioBackground($url:"/styles/images/topic/financial/pc/welfare_hoverbtn_2x.png",$x:center,$y:top,$size:250px 73px);
      }
    }
  }
  .banner-main-box {
    width: 840px;
    height: 236px;
    margin: 0px auto;
    text-align: center;
    background: url('/styles/images/topic/financial/pc/welfare_box.png') center top no-repeat;
    @include ratioBackground($url:"/styles/images/topic/financial/pc/welfare_box_2x.png",$x:center,$y:top,$size:840px 236px);
    .box-title {
      padding: 14px 278px 8px 289px;
      font-size: 18px;
      font-weight: bold;
      color: #43a807;
      line-height: 30px;
    }
    .box-dash {
      padding: 26px 0px 0px;
      font-size: 94px;
      line-height: 92px;
      color: #317b05;
      font-weight: bold;
      font-family: Arial;
    }
    .box-desc {
      font-size: 18px;
      line-height: 40px;
      color: #0b4537;
      font-weight: bold;
    }
  }
}
.section-main {
  width: 864px;
  margin: 0px auto;
  padding: 16px 0px 0px;
  color: #7ec2b3;
  .part-title {
    font-size: 30px;
    line-height: 96px ;
    font-weight: bold;
    text-align: center;
    padding:34px 0px 10px;
    overflow: hidden;
    .part-title-icon {
      display: inline-block;
      width: 106px;
      height: 82px;
      text-indent: 20px;
      font-size: 36px;
      line-height: 102px;
      vertical-align: top;
      text-align: left;
      background: url('/styles/images/topic/financial/pc/welfare_tree.png') left center no-repeat;
      @include ratioBackground($url:"/styles/images/topic/financial/pc/welfare_tree_2x.png",$x:left,$y:center,$size:95px 81px);
    }
  }
  .main-part1 {
    .part1-body {
      font-size: 16px;
      line-height: 30px;
      text-align: left;
    }
  }
  .main-part2 {
    .part2-body-list {
      width: 880px;
      margin: 0px auto;
    }
    .part2-body-item {
      width: 220px;
      padding-bottom: 30px;
      text-align: left;
      .item-img {
        width: 174px;
        height: 100px;
        margin: 0px auto;
        border:5px solid #438072;
        background: #fff;
        line-height: 100px;
        border-radius: 5px;
        overflow: hidden;
        display:inline-block;
        img {
          max-width: 174px;
          height: 100px;
          vertical-align: top;
          border-radius: 5px;
          overflow: hidden;
        }
      }
    }
  }
}
.main-part3 {
  .part3-body-right {
    width:100%;
  }
  .part3-body-right-wrap {
    padding-left:320px;
    font-size:16px;
    .part3-body-text {
      margin-top:-7px;
      line-height:30px;
      padding:0px 0px 5px;
    }
    .part3-body-link {
      display:inline-block;
      width:80px;
      height:24px;
      font-size:12px;
      line-height:24px;
      background:#fff116;
      text-align:center;
      color:#c4640e;
      border-radius:5px;
      text-decoration:none;
      &:hover {
        color:#fff;
        background:#f09b15;
        text-decoration:none;
      }
    }
  }
  .part3-body-left {
    margin-left:-100%;
    width:300px;
    height:170px;
    overflow:hidden;
    position:relative;
  }
  .slider-swiper {
    width:300px;
    height:170px;
    line-height:170px;
    .img {
      vertical-align:middle;
      width:300px;
    }
  }
  .swith {
    position:absolute;
    top:0px;
    width:20px;
    height:40px;
    top:50%;
    margin-top:-20px;
    a {
      text-decoration:none;
      display:inline-block;
      width:20px;
      height:40px;
      &:hover {
        text-decoration:none;
      }
    }
    .bx-prev {
      background:url("/styles/images/topic/financial/pc/left.png");
    }
    .bx-next {
      background:url("/styles/images/topic/financial/pc/right.png");
    }

  }
  .swith-left {
    left:0px;
  }
  .swith-right {
    right:0px;
  }
}