@charset "UTF-8";
@import '../base/utils';
@import '../base/reset';
@import '../base/grid';
@import '../inc/ui';
@import '../mod/dialog';
@import '../inc/site-nav';
@import '../inc/header';
@import '../inc/member-header';
@import '../inc/search-header';
@import '../inc/footer';
@import '../mod/bind';
@import '../mod/floatlayer';
@import '../mod/activity';
a {
  text-decoration: none;
  &:hover,&:active {
    text-decoration: none;
  }
}
.page_section{
  background: #fff;
  overflow: hidden;
}
.section-header {
  background: #F4F4FA;
  height: 100px;
  .section-header-location {
    background: #F4F4FA;
    height: 100px;
    position: relative;
    width:100%;
  }
  .location-fixed{
    position:fixed;
    top:0px;
    left: 0px;
    z-index: 100;
  }
  .section-header-img {
    img {
      height: 100px;
    }
  }
  .section-header-main {
    height: 40px;
    padding: 30px 0px;
  }
  .header-main-list {
    padding-left: 44px;
  }
  .header-main-item {
    float: left;
    padding: 0px 24px;
    height: 40px;
    line-height: 40px;
    border-left:2px solid #383838;
    .header-main-link {
      font-size: 16px;
      line-height: 40px;
      color:#383838;
      font-weight: bold;
      &:hover,&:active {
        color: #C7161D;
      }
    }
    .active-link {
      color: #C7161D;
    }
  }
  .noborder {
    border:none;
  }
}
//banner图
.section-banner {
  position:relative;
  height: 180px;
  .section-main-banner-wrap {
    position:absolute;
    width: 1920px;
    top:0px;
    left:50%;
    margin:0px 0px 0px -960px;
    background: #c7161d;
    img {
      width: 1920px;
      height: 180px;
    }
  }
}
//主体模块
.section-main {
  a {
    color: #C7161D;
    &:hover,&:active {
      color: #C7161D;
      text-decoration: underline;
    }
  }
  .main-block-title {
    padding:30px 0px 8px;
    .block-title-text {
      border-left: 4px solid #C7161D;
      font-size: 18px;
      line-height: 22px;
      font-weight: bold;
      color: #C7161D;
      height: 22px;
      padding: 0px 0px 0px 12px;
    }
  }
  .block-main-item {
    font-size: 14px;
    line-height: 18px;
    color: #383838;
    border-bottom: 1px dashed #f2f2f2;
    padding:12px 0px 18px;
    .item-question {
      padding: 0px 0px 8px;
      font-weight: bold;
    }
    .item-title {
      font-weight: bold;
      margin-left: -100%;
    }
    .item-answer .item-main {
      color: #787878;
    }
    .item-main {
      width: 100%;
      .item-main-wrap {
        padding-left: 25px;
      }
    }
  }
}