@charset "UTF-8";
@import '../base/utils';
@import '../base/reset';
@import '../base/grid';    
@import '../inc/ui';      
@import '../mod/dialog';
@import '../inc/site-nav';
@import '../inc/footer';
@import '../mod/bind';  

@mixin btn{
	display: block;
	width: 180px;
	height: 65px;
	margin: 0 auto;
	text-align: center;
	line-height: 65px;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	border:0 none;
}
@mixin btngreen{
	background:url(/styles/images/topic/icons.png) no-repeat -61px 0;	
	text-decoration: none;
}
@mixin btnred{
	background:url(/styles/images/topic/icons.png) no-repeat -241px 1px;
	text-decoration: none;
}
@mixin btnover{
	background:url(/styles/images/topic/icons.png) no-repeat -421px 0;
	text-decoration: none;
}
.mod-floatlayer{
	display:none;
} 
.floatright{
	position:fixed;
	bottom: 50px;
	right:20px;
	li{
		margin-top: 5px;
		a{
			display: block;
			height: 72px;
			width: 72px;
			background: url(/styles/images/topic/eyeozb/pc/floatbg.png) no-repeat -72px;
			strong{
				padding:21px;
				line-height: 16px;
				display: block;
				color: #fddc18;
				font-size: 14px;
			}
			&:hover{
				text-decoration: none;
				background: url(/styles/images/topic/eyeozb/pc/floatbg.png) no-repeat 0;
			}
		}
	}
	.totop{
		display: none;
		a{
			background: url(/styles/images/topic/eyeozb/pc/floatbg.png) no-repeat -216px;
			&:hover{
				background: url(/styles/images/topic/eyeozb/pc/floatbg.png) no-repeat -144px;
			}
		}
	}
}
body{
	background:#000 url(/styles/images/topic/eyeozb/pc/saichengbanner.png) no-repeat center 36px;
}
.content{
	width:1063px;
	margin: 0 auto;
}
.pt240{
	padding-top:240px;
}
.back{
	a{
		display: block;
		width: 210px;
		height: 66px;
		line-height: 66px;
		font-size: 20px;
		color: #fff;
		text-align: center;
		background: url(/styles/images/topic/icons.png) no-repeat -271px -66px;
		&:hover{
			background: url(/styles/images/topic/icons.png) no-repeat -61px -66px;
			text-decoration: none;
		}
	}
}
.contianer{
	height:1853px;
	border-radius:10px;
	margin-top:-76px;    
	line-height: 26px;
	background: url(/styles/images/topic/eyeozb/pc/xunzhangbg.png) no-repeat center 36px;
}
.getnum{
	padding-top:255px;
	height: 55px;
	.hd{
		font-size: 16px;
		color: #fff;
		text-align: center;
		span{
			margin :0 15px;
		}
		strong{
			font-size: 24px;
			color: #fddc18;
		}
	}
	.bd{
		text-align:center;
		font-size: 14px;
		color: #fff;
	}
}
.mingci{
	height: 223px;
	.hd{
		color: #fff;
		padding-top:72px;
		font-weight: bold;
		font-size: 20px;
		line-height: 36px;
		text-align: center;
	}
	.bd{
		width: 500px;
		margin:15px auto 0;
		.item{
			float: left;
			width: 100px;
			font-size: 12px;
			color: #fff;
			text-align: center;
			line-height: 24px;
			margin: 0 0 12px;
			.img{
				position: relative;
				height: 40px;
				width: 40px;
				margin:0 auto;
				line-height: 40px;
				//border-radius: 50%;
				background-color:#fff;
				overflow: hidden;
				img{
					display: block;
				    position: absolute;
				    width: 70px;
				    top: 0px;
				    left: 50%;
				    margin-left: -35px;
				    vertical-align: middle;
				}
				.filter{
					width: 40px;
					height: 40px;
					position: absolute;
					top: 0;
					left: 50%;
					margin-left: -20px;
					vertical-align: middle;
					z-index: 1;
				}
			}
		}
	}
}
.team{
	height:256px;
	.hd{
		padding: 0 0 20px;
	}
	.bd{
		width: 800px;
		margin:0 auto;
		.item{
			.img{
				position: relative;
				height: 40px;
				width: 40px;
				margin:0 auto;
				line-height: 40px;
				//border-radius: 50%;
				background-color:#fff;
				overflow: hidden;
				img{
					display: block;
					position: absolute;
					width: 112px;
					top:-8px;
					left: 50%;
					margin-left: -56px;
					vertical-align: middle;
				}
				.filter{
					position: absolute;
					top: 0;
					left: 50%;
					margin-left: -20px;
					width: 40px;
					height: 40px;
					vertical-align: middle;
					z-index: 1;
				}
			}
		}
	}
}
.rule{
	height:807px;
	.hd{
		color: #fff;
		padding-top:178px;
		font-weight: bold;
		font-size: 20px;
		text-align: center;
	}
	.bd{
		width: 840px;
		margin:20px auto 12px;
		font-size: 14px;
		color: #fff;
	}
	.fd{
		padding: 0 105px;
		.item{
			float: left;
			width: 410px;
			height: 156px;
			margin: 0 8px 17px;
			.tag{
				margin:20px 0 0 22px;
				height: 28px;
				width: 104px;
				text-align: center;
				line-height: 28px;
				font-weight: bold;
				font-size: 18px;
				color: #fff;
				background-color: #ed5f54;
				border-radius: 15px;
			}
			.box{
				.img1{
					float: left;
					width: 110px;
					text-align: center;
					font-size: 12px;
					color: #fff;

				}
				.img2{
					float: left;
					text-align: center;
					font-size: 12px;
					color: #fff;
					img{
						margin-left: 30px;
					}
					.name{
						width: 144px;
						margin-left: -20px;
					}
				}
				img{
					display: block;
					margin: 0 auto;
					height: 41px;
					width: 41px;
					line-height: 41px;
					border-radius: 50%;
				}
				.add,.eq{
					font-weight: bold;
					color: #fff;
					font-size: 20px;
					line-height: 41px;
				}
				.eq{
					margin-left: -30px;
				}
				.win{
					font-weight: bold;
					font-size: 24px;
					color: #fff;
					line-height: 41px;
				}
				.name{

					margin-top: 10px;
				}
			}
		}
	}
}
.describe{
	line-height:40px;
	height:192px;
	.hd{
		padding: 62px 0 10px 0;
		color: #fff;
		font-size: 20px;
		font-weight: bold;
		text-align: center;
	}
	.bd{
		color: #fff;
		font-size: 20px;
		font-weight: bold;
		text-align: center;
	}
	.fd{
		font-size: 14px;
		color: #fddc18;
		text-align: center;
		a{
			font-size: 14px;
			color: #fff;
		}
	}
}
.alertbox{
	position:absolute;
	left:50%;
	width:874px;
	margin-left: -437px;
	border-radius:10px;
	border:10px solid #2f8853;
	background-color:#34975c;
	z-index:32;
	.close{
		display: block;
		position: absolute;
		top:18px;
		right: 20px;
		height: 56px;
		width: 56px;
		background:url(/styles/images/topic/eyeozb/pc/closealert.png) no-repeat 0 0;
		@include fadein(0.25s);
		&:hover{
			transform:rotate(180deg);
		}
	}
	.inner{
		margin-top: -75px;
		background:url(/styles/images/topic/eyeozb/pc/bgalert.png) no-repeat center 0;
		text-align: center;
		.hd{
			strong{
				display: block;
				padding-top: 110px;
				color: #fff;
				font-size: 30px;
			}
		}
		.fd{
			padding-bottom: 25px;
			.btn{
				@include btn;
				@include btnred;
				&:hover{
					@include btngreen;
				}
			}
		}
	}
	.vs{
		margin-top: -57px;
		background:url(/styles/images/topic/eyeozb/pc/bgvs.png) no-repeat center 0;
		text-align: center;
		.hd{
			strong{
				display: block;
				padding-top: 95px;
				color: #fff;
				font-size: 30px;
			}
		}
		.fd{
			padding-bottom: 25px;
			.btn{
				@include btn;
				@include btnred;
				&:hover{
					@include btngreen;
				}
			}
		}
	}

}
.notice{
	.bd{
		margin-top: 40px;
		color: #fff;
		font-size: 30px;
		line-height: 100px;
		font-weight: bold;
		text-align: center;

	}

}
.address{
	.bd{
		text-align: left;
		padding:30px 100px 0;
		.item{
			margin-bottom: 13px;
			.text{
				width: 495px;
				height: 46px;
				line-height: 46px;
				padding-left: 5px;
				border: 1px solid #257746;
			}	
			span{
				font-size: 24px;
				font-weight: bold;
				color: #fff;
				line-height: 46px;
			}
		}
		strong{
			float: left;
			width: 105px;
			font-size: 20px;
			color: #fff;
			line-height: 46px;
		}
	}
	.descripe{
		font-size: 14px;
		line-height: 35px;
		color: #fedd18;
	}
	.fd{
		padding-top: 10px;
		background-color: #34975c;
	}
}
.recordlist{
	.inner{
		height: 577px;
	}
	.bd{
		text-align: left;
		.descripe{
			font-size: 12px;
			color: #fff;
			width: 784px;
			height: 90px;
			margin: 35px auto 0;
			padding: 10px 0 0 30px;
			border-radius: 10px;
			line-height: 20px;
			background-color:rgba(0,0,0,0.2);
			background-color:#2a7a4a\9;
			a{
				color: #fff;
			}
		}
		.list{
			margin: 12px 30px 0;
			height: 230px;
			width: 814px;
			.table{
				width: 100%;
			}
			tr:nth-child(even){
				background-color: rgba(0,0,0,0.2);
				background-color: #2f8953\9;
			}
			th{
				font-size: 16px;
				font-weight: bold;
				color: #fff;
				height: 30px;
				text-align: center;
				background-color: rgba(0,0,0,0.2);
				background-color: #2f8953\9;
			}
			td{
				font-size: 14px;
				color: #fff;
				text-align: center;
				height: 30px;
			}
			a{
				color: #fff;
			}
		}
		
	}
	.fd{
		.pager{
			display: inline-block;
			@include ie7-inline-block;
			margin:0 10px;
			height: 31px;
			width: 31px;
			line-height: 31px;
			text-align: center;
			border-radius:3px;
			color: #fff;
			border: 1px solid #fff;
			&:hover{
				text-decoration: none;
				background-color: #ea544a;
			}
		}
		.current{
			cursor: default;
			background-color: #ea544a;
		}
		.pagerinner{
			display: inline;
		}
		.prev,.next{
			display: inline-block;
			@include ie7-inline-block;
			margin:0 10px;
			padding: 0 10px;
			height: 31px;
			line-height: 31px;
			text-align: center;
			border-radius:3px;
			color: #fff;
			border: 1px solid #fff;
			&:hover{
				text-decoration: none;
				background-color: #ea544a;
			}
		}
		.none{
			display: none;
		}
	}

}
.record{
	.bd{
		padding-top:65px;
		.pic{
			height: 150px;
			img{
				width: 150px;
				height: 150px;
			}
		}
		.name{
			font-weight: bold;
			font-size: 20px;
			color: #fff;
			line-height: 45px;
		}
		.descripe{
			font-size: 14px;
			color: #fff;
		}
		.prizename{
			width: 294px;
			height: 100px;
			margin: 35px auto;
			line-height: 100px;
			text-align: center;
			color: #fff;
			font-size: 30px;
			font-weight: bold;
		}
	}
	.fd{
		padding-top: 20px;
		background-color:#34975c;
	}

}
.noget{
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-ms-filter: grayscale(1);
	-o-filter: grayscale(1);
	filter: grayscale(1);
	filter: gray\9;
}
#lightbox_wrap {
    background-color: #000;
    bottom: 0;
    position: absolute;
    top: 0;
    z-index: 31;
    @include opacity(0.75);
}



