@charset "UTF-8";
@import '../base/utils';
@import '../base/reset';
@import '../base/grid';
@import '../inc/ui';
@import '../mod/dialog';
@import '../inc/site-nav';
@import '../inc/header';
@import '../inc/member-header';
@import '../inc/search-header';
@import '../inc/footer';
@import '../mod/bind';
@import '../mod/floatlayer';
@import '../mod/activity';
.page_section {
  background: #F77400;
  overflow: hidden;
}
.ui-window-remind {
  display: none;
}
.fontarial {
  font-family: Arial;
}
input {
  border:none
}
.mod-floatlayer {
  display: none;
}
.mod-hide {
  display: none;
}
a {
  cursor: pointer;
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}
.left {
  float: left;
}
.right{
  float: right;
}
@mixin bgposition($x:0px,$y:0px){
  background-position:$x $y;
  @include ratioBackgroundPosition($x:$x,$y:$y);
}
@mixin texthide ($h:50px){
  word-break: break-all;
  word-wrap: break-word;
  overflow: hidden;
  height: $h;
}
.mod-icon{
  background: url("/styles/images/topic/financial/pc/icon.png") no-repeat center top ;
  @include ratioBackground($url:"/styles/images/topic/financial/pc/icon_2x.png",$x:center,$y:top,$size:500px 500px);
}
.mod-banner {
  background: url("/styles/images/topic/financial/pc/banner.png") no-repeat center top ;
  @include ratioBackground($url:"/styles/images/topic/financial/pc/banner_2x.png",$x:center,$y:top,$size:1920px 695px);
  width: 100%;
  position: relative;
  .banner-theme {
    padding-top:20px;
    width:702px;
    height: 62px;
    margin: 0px auto;
  }
  .banner-theme-content {
    width: 100%;
    height: 100%;
    background: url("/styles/images/topic/financial/pc/stagetwo.png") no-repeat center top ;
    @include ratioBackground($url:"/styles/images/topic/financial/pc/stagetwo_2x.png",$x:center,$y:top,$size:702px 62px);
  }
  .banner-main {
    padding:442px 0px 0px;
    width: 1209px;
    margin: 0px auto;
  }
  .banner-main-wrap {
    width: 1209px;
    margin: 0px auto;
  }
}
.mod-ranking {
  text-align: center;
  color: #fff;
  .rating-invitation {
    padding:0px 0px 14px;
    .invitation-title {
      line-height: 58px;
      font-size: 36px;
      font-weight: bold;

    }
    .invitation-title-icon {
      display: inline-block;
      vertical-align: middle;
      width: 45px;
      height: 58px;
      @include bgposition(-84px,-137px);
    }
    .invitation-main-info{
      font-size: 16px;
      line-height: 36px;
      color: #fff;
      a{
        color: #f0273a;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .invitation-main-link {
      padding:10px 0px 0px;
    }
    .invitation-main-link-btn {
      display: inline-block;
      width: 152px;
      height: 53px;
      font-size: 20px;
      line-height: 46px;
      color: #fff;
      font-weight: bold;
      cursor: pointer;
      @include bgposition(-135px,0px);
      text-decoration: none;
      &:hover,&:active {
        @include bgposition(-135px,-72px)
      }
    }
  }
  .ranking-table {
    font-size: 16px;
    color: #333;
    .table-bg {
      margin:0px auto;
      width: 1232px;
      height: 849px;
      background: url("/styles/images/topic/financial/pc/ranking_table.png") no-repeat center top ;
    }
    .table-main {
      width: 1097px;
      padding:74px 0px 0px;
      margin:0px auto;
      text-align: center;
      .item-own {
        color: #ff2b5e;
        line-height: 50px;
        .nonm {
          height: 50px;
          @include bgposition(5px,-129px);
        }
      }
      .invite-own {
        color: #ff2b5e;
      }
    }
    .mod-table-title {
      height: 38px;
      font-size: 18px;
      line-height: 28px;
      color: #92490c;
      font-weight: bolder;
    }
    .table-main-invite {
      width: 340px;
      padding-top:19px;
      .invite-title {
        padding:10px 25px 0px 44px;
      }
      .invite-list {
        padding:10px 0px 0px;
        height: 612px;
        overflow: hidden;
      }
      .h550 {
        height: 553px;
      }
      .h58 {
        height: 58px;
        padding: 0px;
        .invite-item {
          padding:4px 0px;
        }
      }
      .invite-item {
        height: 50px;
        line-height: 50px;
      }
      .invite-item-head {
        font-weight: bold;
        .invite-item-name{
          width: 205px;
          padding: 0px;
          text-align: center;
        }
        .invite-item-num {
          color: #333;
        }
      }
      .invite-item-name {
        width: 175px;
        padding:0px 0px 0px 30px;
        text-align: left;
        @include texthide(50px);
        .nonm {
          display: inline-block;
          float: left;
          width: 30px;
          margin-right: 8px;
          color: #f75752;
          font-weight: bolder;
          text-align: center;
        }
        .color {
          color: #fff;
          padding-top:12px;
          line-height: 36px;
        }
      }
      .invite-item-num {
        width: 106px;
        color: #ff2b5e;
      }
    }
    .table-main-master {
      width: 367px;
      padding:0px 28px 0px 24px;
      .master-title {
        padding: 0px 43px 0px 55px;
      }
      .master-list {
        padding: 30px 0px 0px;
        height: 640px;
      }
      .master-item {
        height: 100px;
        line-height: 100px;
      }
      .master-item-head {
        height: 50px;
        line-height: 50px;
        font-weight: bolder;
        .master-item-name,.master-item-redland {
          font-size: 16px;
        }
      }
      .master-item-name {
        width: 151px;
        font-size: 20px;
        font-weight: bold;
      }
      .master-item-redland {
        width: 157px;
        height: 100%;
      }
      .master-item-redland-text {
        height: 100%;
        width: 64px;
        margin: 0px auto;
        color: #fff000;
        @include bgposition(-135px,-126px);
      }
      .redland-text-num {
        width: 52px;
        padding:18px 0px 0px 2px;
        font-size: 28px;
        line-height: 66px;
      }
      .master-name1-color{
        color: #f75752;
      }
      .master-name2-color{
        color: #fd8817;
      }
      .master-name3-color{
        color:#fdc858;
      }
      .h90 {
        height: 90px;
        line-height: 90px;
        .master-item-redland-text {
          @include bgposition(-135px, -132px);
        }
        .redland-text-num {
          padding-top: 12px;
        }
      }
      .master-item-text {
        font-size: 18px;
        text-align: left;
        padding:20px 18px 20px 18px;
        height: 60px;
        line-height: 24px;
      }
    }
    .table-main-invest {
      width: 331px;
      padding:19px 0px 0px;
      .invest-title {
        padding:10px 25px 0px 44px;
      }
      .invest-list {
        padding:10px 0px 0px;
        height: 612px;
        overflow: hidden;
      }
      .h550 {
        height: 553px;
      }
      .h58 {
        height: 58px;
        padding: 0px;
        .invest-item {
          padding:4px 0px;
        }
      }
      .invest-item {
        height: 50px;
        line-height: 50px;
      }
      .invest-item-head {
        font-weight: bold;
        .invest-item-name{
          width: 110px;
          padding: 0px 0px 0px 58px;
          text-align: left;
        }
        .invest-item-num {
          color: #333;
        }
      }
      .invest-item-name {
        width: 163px;
        overflow: hidden;
        padding:0px 0px 0px 14px;
        text-align: left;
        @include texthide(50px);
        .nonm {
          display: inline-block;
          float: left;
          width: 30px;
          margin-right: 8px;
          color: #f75752;
          font-weight: bolder;
          text-align: center;
        }
        .color {
          color: #fff;
          padding-top:12px;
          line-height: 36px;
        }
      }
      .invest-item-num {
        width: 152px;
        color: #ff2b5e;
      }
    }
  }
}
//浮框
.mod-floatlayer518 {
  position: fixed;
  top:120px;
  right:10px;
  width: 126px;
  .floatlayer518-item-returntop {
    width: 60px;
    height: 59px;
    display: inline-block;
    @include bgposition(-307px,-347px);
    &:hover,&.active {
      @include bgposition(-392px,-347px);

    }
  }
  .floatlayer518-title {
    width: 126px;
    height: 58px;
    @include bgposition(-307px,-144px);
  }
  .floatlayer518-list {
    width: 111px;
    margin:0px auto;
  }
  .floatlayer518-item{
    height: 38px;
    padding:8px 0px 0px;
    text-align: center;
  }
  .floatlayer518-item-link {
    display: block;
    height: 38px;
    position: relative;
    width: 111px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    line-height: 38px;
    color: #fff;
    text-decoration: none;
    @include bgposition(-307px,0px);
    &:hover,&:active {
      @include bgposition(-307px,-72px);
      .codepic {
        display: block;
      }
    }
    .codepic {
      position: absolute;
      display: none;
      top:-3px;
      left:-135px;
      .img {
        height: 120px ;
      }
    }
  }
}
.mod-public {
  width: 1208px;
  padding:0px 0px 30px;
  margin: 0px auto;
  .mod-public-wrap {
    width: 1168px;
    padding:0px 16px;
    border:4px solid #451700;
    border-radius: 10px;
  }
  .mod-public-violet {
    background: #8f2bef url("/styles/images/topic/financial/pc/violet.png") center top no-repeat;
    @include ratioBackground($bgcolor:#8f2bef,$url:"/styles/images/topic/financial/pc/violet_2x.png",$x:center,$y:top,$size:1200px 267px);
  }
  .mod-public-orange {
    background: #FFD400 url("/styles/images/topic/financial/pc/orange.png") center top no-repeat;
    @include ratioBackground($bgcolor:#FFD400,$url:"/styles/images/topic/financial/pc/orange_2x.png",$x:center,$y:top,$size:1200px 267px);
    .pulic-title-link {
      background: #f95520;
      color: #fff;
      &:hover {
        background:#f77400 ;
      }
    }
  }
  .mod-public-gules {
    background: #F73954 url("/styles/images/topic/financial/pc/gules.png") center top no-repeat;
    @include ratioBackground($bgcolor:#F73954,$url:"/styles/images/topic/financial/pc/gules_2x.png",$x:center,$y:top,$size:1200px 267px);
  }
  .public-title {
    padding:24px 0px 22px;
    color: #fff;
  }
  .public-title-top {
    font-size: 36px;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    .public-title-icon {
      display: inline-block;
      width: 36px;
      height: 50px;
      margin-right:10px;
      @include bgposition(-251px,-410px);
    }
  }
  .public-title-desc {
    font-size: 16px;
    line-height: 30px;
    text-align: center;
  }
  .pulic-title-link {
    display: inline-block;
    margin-top:-2px;
    background: #FFCE00;
    height: 20px;
    min-width: 52px;
    padding: 0px 8px;
    font-size: 13px;
    line-height: 20px;
    color: #C90E48;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    vertical-align: middle;
    &:hover,&:active{
      background: #F77400;
      color: #fff;
    }
  }
  .public-main {
    overflow: hidden;
  }
}
//爆款标
.section-explosion {
  .public-title {
    .public-title-icon {
      @include bgposition(0px,-410px);
    }
  }
  .explosion-main {
    height: 190px;
    width: 1168px;
    margin: 0px auto;
    padding:0px 0px 12px;
  }
  .cuntdown {
    .cuntdown-left {
      padding-top: 49px;
    }
    .cuntdown-right {
      padding-top: 49px;
      text-align: center;
      .cuntdown-time {
        width: 40px;
        height: 66px;
        font-size: 50px;
        line-height: 66px;
        margin-right: 6px;
        border-radius: 5px;
        background: #383838;
        text-align: center;
        color: #fff;
        font-family: airil;
      }
      .cuntdown-symbol {
        color: #383838;
        margin: 0px 20px 0px 14px;
        font-size: 100px;
        width: 9px;
        height: 66px;
        background: url("/styles/images/topic/financial/pc/icon_heaven.png") no-repeat -336px -221px ;
        @include ratioBackground($url:"/styles/images/topic/financial/pc/icon_heaven.png",$x:-241px,$y:-108.5px,$size:250px 250px);
      }
    }
    .cuntdown-left-top-symbol {
      font-size: 30px;
      line-height: 72px;
      color: #f73954;
      font-weight: bold;
      padding:0px 8px 0px 72px;
      font-family: airil;
    }
    .cuntdown-left-top-main {
      text-align: center;
      width: 228px;
    }
    .cuntdown-left-top {
      font-size: 70px;
      line-height: 72px;
      color: #f73954;
      font-weight: bold;
      .cuntdown-left-top-text3 {
        padding-top: 27px;
        font-size: 30px;
        line-height: 45px;
      }
      .cuntdown-left-top-text2 {
        font-size: 20px;
        padding-top: 34px;
        line-height: 37px;
      }
    }
    .cuntdown-left-info {
      font-size: 14px;
      line-height: 29px;
      color: #787878;
    }
  }
  .explosion-main-left {
    width: 180px;
    height: 150px;
    margin-left: -100%;
  }
  .cunttimerecored {
    padding-bottom: 10px;
  }
  .cuntdown-right-info {
    color: #787878;
    width: 233px;
    height: 22px;
    font-size: 14px;
    line-height: 22px;
    margin: 0px auto;
    background: url("/styles/images/topic/financial/pc/icon_heaven.png") no-repeat 0px -381px ;
    @include ratioBackground($url:"/styles/images/topic/financial/pc/icon_heaven.png",$x:0px,$y:-229px,$size:250px 250px);
  }
  .explosion-main-tab {
    padding: 0px 0px 10px ;
  }
  .explosion-main-btn {
    display: block;
    &:hover,&:active {
      .explosion-main-btn-text {
        background: #ffc200;
      }
    }
  }
  .btn-active {
    cursor: text;
    background: #c90e48;
    &:hover,&:active {
      .explosion-main-btn-text {
        background: #c90e48;
        color: #fff;
      }
    }
    .explosion-main-btn-text {
      background: #c90e48;
      color: #fff;
    }
  }
  .explosion-main-btn-text {
    display: block;
    width: 166px;
    height: 80px;
    background: #ffec00;
    border: 5px solid #c90e48;
    font-size: 28px;
    line-height: 80px;
    color: #a0490e;
    font-weight: bold;
    text-align: center;
    span {
      font-size: 30px;
    }
  }
  .explosion-main-right {
    width: 100%;
  }
  .explosion-main-right-wrap {
    padding: 0px 0px  0px 180px;
  }
  .explosion-main-mark {
    border:5px solid #c90e48;
    background: #f4f4f4;
    height: 180px;
    overflow: hidden;
  }
  .explosion-screen {
    display: none;
  }
  .explosion-active{
    display: block;
  }
  .explosion-screen-img {
    width: 100%;
    height: 100%;
    background: #fff;
    .img {
      width: 978px;
      height: 180px;
    }
  }
  .explosion-screen-main {
    position: relative;
    .cuntdowning {
      position: absolute;
      width: 80px;
      height: 38px;
      background: #e8e8e8;
      border-radius: 0px 0px 5px 5px;
      overflow: hidden;
      top:0px ;
      right:46px;
      text-align: center;
    }
    .cuntdowning-title {
      line-height: 18px;
      padding: 2px 0px 0px;
      font-size: 13px;
      color: #787878;
    }
    .cuntdowning-main {
      font-size: 14px;
      line-height: 15px;
      color: #333333;
      font-weight: bold;
    }
  }
  .explosion-screen-main-left {
    width: 260px;
    margin-left: -100%;
    height: 180px;
    background: #fff;
    overflow: hidden;
    .left-wrap {
      width: 228px;
      height: 118px;
      padding:31px 10px;
      text-align: center;
    }
    .left-img {
      img {
        height: 65px;
        max-width: 228px;
      }
    }
    .left-info {
      padding: 16px 0px 0px;
      height: 22px;
      overflow: hidden;
    }
    .left-info-text {
      display: inline-block;
      margin: 0px 4px;
      height: 20px;
      padding: 0px 10px;
      text-align: center;
      background: #eef9ff;
      color: #7197af;
      font-size: 13px;
      line-height: 20px;
      border-radius: 3px;
    }
  }
  .explosion-screen-main-right {
    width: 100%;
  }
  .explosion-screen-main-right {
    .right-wrap {
      padding-left: 290px;
    }
    .right-title {
      padding: 31px 0px 0px 10px;
    }
    .right-title-text {
      line-height: 44px;
      font-size: 20px;
      color: #383838;
      max-width: 202px;
      @include text-ellipsis;
      margin-right: 18px;
    }
    .right-title-text2 {
      padding: 13px 0px 0px;
      span {
        display: block;
        border-radius: 3px;
        background: #479fd6;
        height: 20px;
        width: 125px;
        text-align: center;
        line-height: 20px;
        font-size: 13px;
        color: #fff;
      }
    }
    .right-main-item {
      text-align: center;
      .right-main-item-top {
        height: 45px;
        font-family: Arial;
        .top-text1 {
          line-height: 45px;
          font-size: 50px;
          color: #333;
          font-weight: bold;
          span {
            line-height: 22px;
            font-size: 14px;
          }
          .text1 {
            font-size: 20px;
          }
        }
        .top-text {
          padding-top: 14px;
          font-size: 20px;
          line-height: 32px;
          color: #383838;
        }
      }
    }
    .right-main-item1 {
      width: 120px;
    }
    .right-main-item2 {
      width: 120px;
      .right-main-item-top .top-text1{
        color: #f73954;
      }
    }
    .right-main-item3 {
      width: 89px;
      padding: 0px 0px 14px;
    }
    .right-main-item4 {
      width: 170px;
    }
    .right-main-item5 {
      padding: 16px 0px 0px 20px;
      .right-main-item-btn {
        display: block;
        width: 120px;
        height: 47px;
        text-align: center;
        font-size: 16px;
        line-height: 45px;
        font-weight: bold;
        color: #fff;
        background: url("/styles/images/topic/financial/pc/icon_heaven.png") no-repeat left top ;
        @include ratioBackground($url:"/styles/images/topic/financial/pc/icon_heaven.png",$x:0px,$y:-46px,$size:250px 250px);
        &:hover,&:active{
          background-position: -180px 0px;
          @include ratioBackgroundPosition($x:-130px,$y:-46px);
        }
      }
      .right-main-item-btnover {
        cursor: text;
        background-position: -380px 0px;
        color: #999;
        @include ratioBackgroundPosition($x:-0px,$y:-120.5px);
        &:hover,&:active {
          background-position: -380px 0px;
          @include ratioBackgroundPosition($x:-0px,$y:-120.5px);
        }
      }
    }
    .right-main-item6 {
      color: #f73954;
      font-size: 30px;
      line-height: 45px;
    }
    .right-main-item-bottom {
      font-size: 13px;
      line-height: 22px;
      color: #787878;
      text-align: center;
    }
  }
}
.section-card {
  .public-title-icon {
    @include bgposition(-251px,-410px);
  }
  .card-list{
    width: 1190px;
    padding:0px 0px 12px;
    min-height: 296px;
  }
  .card-item {
    width: 394px;
    float: left;
  }
  .card-item-wrap {
    position:relative;
    width: 380px;
    border-radius: 7px;
    height: 296px;
    background: #6414C1 url("/styles/images/topic/financial/pc/cardbg.png") center center no-repeat;
    @include ratioBackground($bgcolor:#6414C1,$url:"/styles/images/topic/financial/pc/cardbg_2x.png",$x:center,$y:center,$size:371px 287px);
  }
  .card-item-icon {
    position: absolute;
    top:0px;
    left: 0px;
    width: 85px;
    height: 84px;
    @include bgposition($x:0px,$y:-231px);
  }
  .card-item-content {
    padding:5px;
    text-align: center;
  }
  .card-item-title {
    padding: 12px 0px 0px;
    .title-name {
      font-size: 28px;
      line-height: 64px;
      color: #fff;
      @include texthide(64px);
    }
    .title-platbg {
      text-align: center;
      height: 20px;
    }
    .title-platbg-text {
      display: inline-block;
      margin:0px 2px;
      padding:0px 8px;
      height: 18px;
      border-radius: 3px;
      font-size: 12px;
      line-height: 18px;
      color: #fff;
      border:1px solid #fff;
    }
    .title-desc {
      line-height: 32px;
      padding: 0px 0px 13px;
      font-size: 14px;
      color: #fff;
    }
  }
  .card-item-main {
    padding: 8px 0px 0px;
    .main-top-title {
      font-size: 13px;
      line-height: 20px;
      color: #333;
      text-align: left;
      padding: 0px 25px;
    }
    .main-top-content {
      padding: 0px 25px;
      .pt-tp5 {
        padding-top: 5px;
      }
      .bar-num {
        width: 44px;
        text-align: right;
        font-size: 14px;
        line-height: 14px;
        color: #F95520;
      }
      .top-content-bar {
        position: relative;
        width: 274px;
        height: 2px;
        background: #E8E8E8;
      }
      .top-content-baring {
        margin-top:-1px;
        height: 4px;
        background: #F95520;
      }
    }
    .main-top-footer {
      .main-top-footer {
        font-size: 13px;
        line-height: 30px;
        color: #999;
        padding:0px 0px 5px;
      }
      .main-top-footer-btn {
        cursor: text;
        display: inline-block;
        width: 318px;
        height: 42px;
        border-radius: 7px;
        font-size: 16px;
        line-height: 42px;
        font-weight: bold;
        color: #999;
        border: 1px solid #e8e8e8;
        text-decoration: none;
      }
      .main-top-footer-link {
        cursor: pointer;
        color: #333;
        border: 1px solid #333;
        text-decoration: none;
        &:hover,&:active {
          background: #F95520;
          border-color: #F95520;
          color: #fff;
        }
      }
    }

  }
}
.section-rotplat {
  .public-main {
    overflow: visible;
  }
  .public-title {
    color: #A0490E;
    .public-title-icon {
      width: 40px;
      @include bgposition($x:-75px,$y:-338px);
    }
  }
  .rotplat-main-list {
    padding: 0px 0px 12px;
    width:1200px;
    min-height: 256px;
  }
  .rotplat-main-item {
    width: 394px;
    position: relative;
    height: 246px;
  }
  .rotplat-main-link {
    display: block;
    position: absolute;
    width: 370px;
    height: 246px;
    top:0px;
    left:0px;
    background: #E8E8E8;
    border-radius: 7px;
    border:5px solid #A0490E;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    transition: top,box-shadow .5s,.5s;
    &:hover,&active {
      transition: top,box-shadow .5s,.5s;
      top: -7px;
      box-shadow: 0px 4px 20px #bcbcbc;
    }
    .link-top {
      height: 143px;
      background: #fff;
    }
    .link-top-img {
      padding:15px 0px;
      img {
        height: 74px;
      }
    }
    .link-top-main {
      text-align: center;
      height: 20px;
    }
    .link-top-main-text {
      display: inline-block;
      vertical-align: top;
      background: #F95520;
      height: 20px;
      font-size: 12px;
      line-height: 20px;
      padding: 0px 8px;
      color: #fff;
      border-radius: 3px;
    }
    .link-bottom {
      padding: 12px 30px 0px;
      line-height: 32px;
      .link-bottom-rate {

      }
      .rate-title {
        font-size: 13px;
        color: #787878;
        width: 58px;
        text-align: right;
        padding: 0px 8px 0px;
      }
      .pt-tp12 {
        padding-top: 12px;
      }
      .fontweight {
        font-weight: bold;
        line-height: 46px;
      }
      .rate-text {
        font-size: 14px;
        color: #333333;
        .fontarial {
          font-size: 18px;
        }
        .font34 {
          font-size: 34px;
        }
        .font31 {
          font-size: 31px;
          padding: 0px 8px;
        }
      }
    }
  }
}

.section-integral {
  .public-title {
    text-align: center;
    .public-title-icon {
      @include bgposition($x:-78px,$y:-403px);
    }
    .title-integral {
      font-size: 30px;
      line-height: 30px;
      color: #FFEC00;
      font-weight: bold;
      text-align: center;
      display: inline-block;
      span {
        display: inline-block;
      }
      .title-integral-lable {
        padding: 8px 0px 0px;
        font-size: 14px;
        line-height: 22px;
        font-weight: normal;
      }
      .fontarial {
        padding-left: 4px;
      }
      .qt-lf30 {
        padding-left: 30px;
      }
    }
  }
  .public-title-footer {
    text-align: center;
    padding:16px 0px 8px;
  }
  .public-title-link {
    display: inline-block;
    font-size: 14px;
    color: #A0490E;
    width: 144px;
    height: 34px;
    @include bgposition(-307px,-231px);
    line-height: 30px;
    margin: 0px 5px;
    &:hover,&:active {
      color: #fff;
      @include bgposition(-307px,-289px);
    }
  }
  .integral-main {
    padding: 0px 0px 6px;
    width: 1200px;
    .integral-main-list {
      min-height: 322px;
    }
    .integral-main-item {
      width: 198px;
    }
    .integral-main-item-wrap {
      width: 184px;
      padding: 0px 0px 24px;
    }
    .item-main {
      width: 174px;
      height: 250px;
      border:5px solid #C90E48;
      border-radius: 7px;
      overflow: hidden;
    }
    .item-orange {
      background: #F95520;
    }
    .item-grey {
      background: #E8E8E8;
      .item-main-desc {
        color:#999
      }
    }
    .item-blue {
      background: #14A89A;
    }
    .item-main-prize {
      height: 190px;
      background: #fff;
      text-align: center;
      .prize-img {
        padding: 22px 0px 4px;
        img {
          width: 120px;
          height: 120px;
        }
      }
      .prize-name {
        font-size: 16px;
        line-height: 40px;
        color: #333;
        font-weight: bold;
      }
    }
    .item-main-desc {
      color: #FFFFFF;
      text-align: center;
      padding: 12px 0px 0px;
      .desc-text {
        font-size: 16px;
        line-height: 22px;
        font-weight: bold;
      }
      .desc-text1 {
        font-size: 13px;
        line-height: 16px;
      }
    }
    .item-footer {
      padding:14px 0px 0px 0px ;
      text-align: center;
      .item-footer-btn {
        display: inline-block;
        width: 162px;
        height: 28px;
        font-size: 14px;
        line-height: 28px;
        border-radius: 30px;
        border: 1px solid #fff;
        color: #fff;
        @include texthide($h:28px);
        cursor: text;
      }
      .btn-out {
        background: #C90E48;
        border-color: #C90E48;
      }
      .btn-exchange {
        cursor: pointer;
        border-color: #fff;
        background: #F73954;
        &:hover,&:active {
          color: #A0490E;
          background: #FFEC00;
          border-color:#FFEC00 ;
        }
      }
    }
  }
}
.section-platfeast {
  .public-main {
    overflow: visible;
  }
  .public-title {
    .public-title-icon {
      width: 42px;
      @include bgposition($x:0px,$y:-347px);
    }
  }
  .platfeast-main-list {
    width: 1200px;
  }
  .platfeast-main-item {
    width: 198px;
    padding:0px 0px 14px;
    position: relative;
    height: 166px;
    .item-top {
      background: #fff;
      height: 100px;
    }
    .item-top-img {
      text-align:center;
      overflow: hidden;
      img {
        height: 100px;
        vertical-align: top;
      }
    }
    .item-bottom {
      padding: 10px 10px 0px;
      line-height: 18px;
      height: 36px;
      @include texthide($h:36px);
      font-size: 13px;
      color: #000;

    }
  }
  .platfeast-main-item-warp {
    display: block;
    position: absolute;
    top:0px;
    left: 0px;
    width: 172px;
    height: 158px;
    background: #E8E8E8;
    border:4px solid #6414C1;
    border-radius: 7px;
    overflow: hidden;
    text-decoration: none;
    transition: top,box-shadow .5s,.5s;
    &:hover,&active {
      transition: top,box-shadow .5s,.5s;
      top: -7px;
      box-shadow: 0px 4px 20px #bcbcbc;
    }
  }
}
//积分兑换
.mod-framefloat {
  display: none;
  position: fixed;
  top:0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 100;
  .framefloat-bg {
    width: 100%;
    height: 100%;
    background: #000;
    @include opacity(0.83);
  }
  .framefloat-wrap {
    position: absolute;
    top:50%;
    left: 50%;
    background: #fff;
    overflow: hidden;
    border-radius: 7px;
  }

  .framefloat-title {
    height: 40px;
    background: #F73954;
    font-size: 14px;
    line-height: 40px;
    color: #fff;
    padding: 0px 18px;
    position: relative;
  }
  .framefloat-close {
    width: 14px;
    height: 14px;
    position: absolute;
    top:13px;
    right:18px;
    display: block;
    @include bgposition(-40px,-144px);
    @include fadein(0.25s);
    &:hover{
      -webkit-transform:rotate(360deg);
      -moz-transform:rotate(360deg);
      transform:rotate(360deg);
    }
  }
  .framefloat-closered {
    width: 30px;
    height: 30px;
    position: absolute;
    top:-14px;
    right:-14px;
    display: block;
    background: url("/styles/images/topic/financial/pc/code_close.png") no-repeat center center ;
    @include ratioBackground($url:"/styles/images/topic/financial/pc/code_close_2x.png",$x:center,$y:top,$size:30px 30px);
    @include fadein(0.25s);
    &:hover{
      -webkit-transform:rotate(360deg);
      -moz-transform:rotate(360deg);
      transform:rotate(360deg);
    }
  }
}
//抽奖的内部填充
.mod-awardingbox {
  .awardingbox-wrap {
    margin: -145px 0px 0px -200px;
    width: 400px;
    height: 290px;
  }
  .awardingbox-main {
    padding: 0px 15px;
  }
  .awardingbox-main-wrap {
    height: 190px;
  }
  .awardingbox-prize {
    text-align: center;
    .prize-main-img {
      padding: 20px 0px 0px;
      img {
        width:120px;
        height: 120px;
      }
    }
    .prize-main-desc {
      font-size: 16px;
      line-height: 40px;
      color: #333;
    }
  }
  .awardingbox-footer {
    text-align: center;
    .awardingbox-footer-link {
      display: inline-block;
      width: 128px;
      height: 32px;
      border:1px solid #F73954;
      background: #F73954;
      margin: 0px 4px;
      color: #fff;
      font-size: 14px;
      line-height: 32px;
      border-radius: 3px;
      overflow: hidden;
      &:hover,&:active {
        background: #E02D4F;
      }
    }
    .awardingbox-footer-link1 {
      background: #fff;
      color: #F73954;
      &:hover,&active {
        background: #F73954;
        color: #fff;
      }
    }
  }
  .awardingbox-exchangesuccess {
    text-align: center;
    .success-icon {
      display: inline-block;
      vertical-align: top;
      width: 45px;
      height: 35px;
      @include bgposition($x:-135px,$y:-410px)
    }
    .exchangesuccess-main-success {
      padding: 72px 0px 0px;
      font-size: 30px;
      line-height: 36px;
      font-weight: bold;
    }
    .exchangesuccess-main-desc {
      font-size: 16px;
      line-height: 40px;
      color: #999;
    }
  }
  .nodatanum-main-img {
    text-align: center;
    padding: 46px 0px 0px;
    img {
      margin: 0px auto;
      width: 70px;
      height: 70px;
    }
  }
  .nodatanum-main-desc {
    text-align: center;
    font-size: 16px;
    line-height: 60px;
    color: #333;
  }
}
//收货地址
.mod-addressbox {
  .addressbox-wrap {
    width: 600px;
    height: 320px;
    margin: -160px 0px 0px -300px;
  }
  .addressbox-main {
    padding: 6px 0px 0px 34px;
  }
  .addressbox-main-desc {
    font-size: 12px;
    line-height: 32px;
    color: #666;
    text-indent: 14px;
    .font {
      font-weight: bold;
      color: #f73954;
    }
  }
  .addressbox-main-item {
    .item-box-lable {
      font-size: 12px;
      line-height: 32px;
      height: 32px;
      color: #333;
      width: 48px;
      text-align: right;
      padding:0px 10px 0px 0px;
    }
    .item-box-input {
      padding:0px 8px;
      width: 420px;
      height: 30px;
      font-size: 13px;
      line-height: 30px;
      border:1px solid #ccc;
      border-radius: 3px;
      &:focus {
        border-color: #f73954;
      }
    }
    .item-info {
      height: 10px;
    }
    .item-info-desc {
      display: none;
    }
  }
  .addressbox-main-btn {
    text-align: center;
    padding: 14px 0px 0px ;
    .submit {
      border-radius: 3px;
      font-size: 14px;
      line-height: 34px;
      color: #fff;
      font-weight: bold;
      height: 34px;
      width: 130px;
      background: #f73954;
      cursor: pointer;
      &:hover{
        background: #e02d4f;
      }
    }
  }
  //联动
  .address-form-box-select {
    .address-select-item {
      float: left;
    }
    .selectBox-dropdown {
      border-color: #ccc;
      border-radius: 3px;
      font-size: 12px;
      overflow: hidden;
      min-width:110px;
    }
    .address-select-item {
      font-size: 12px;
      padding: 0px 10px 0px 0px;
    }
    .selectBox-arrow {
      cursor: pointer;
      background:#f73954 url("/styles/images/topic/financial/pc/icon.png") no-repeat center top ;
      @include ratioBackground($bgcolor:#f73954,$url:"/styles/images/topic/financial/pc/icon_2x.png",$x:center,$y:top,$size:500px 500px);
      @include bgposition(-28px,-167px);
    }
  }
}
.selectBox-dropdown-menu {
  border-color: #f73954;
  LI A {
    font-size: 13px;
    line-height: 30px;
  }
  a {
    color: #333;
  }
  LI.selectBox-hover A {
    color: #fff;
    background: #f73954;
    cursor: pointer;
  }
  LI.selectBox-selected A {
    color: #999;
    background: #e8e8e8;
  }
}
//浮动导航
.section-nav {
  display: none;
  height: 40px;
  width: 100%;
  position: fixed;
  top:0px;
  left: 0px;
  padding:5px 0px;
  overflow: hidden;
  .section-nav-bg {
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    height: 50px;
    background: #000000;
    @include opacity(0.8);
  }
  .nav-wrap {
    position: relative;
    top:0px;
    z-index: 4;
  }
  .nav-list {
    width: 1300px;
  }
  .nav-line {
    position: absolute;
    z-index: -1;
    top:0px;
    left: 0px;
    height: 19px;
    width: 100%;
    border-bottom:1px dashed #999;
  }
  .nav-item {
    float: left;
    width: 216px;
    text-align: left;
  }
  .nav-item-link {
    display: inline-block;
    width: 128px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    @include bgposition(-135px,-288px);
    &:hover,&:active {
      color: #A0490E;
      @include bgposition(-135px,-230px);
    }
  }

  .nav-item-active {
    cursor: text;
    color: #A0490E;
    @include bgposition(-135px,-230px);
  }
}
//数据加载失败
.loadfailure {
  background: url("/styles/images/topic/financial/pc/bitmap.png") no-repeat center center ;
  @include ratioBackground($url:"/styles/images/topic/financial/pc/bitmap_2x.png",$x:center,$y:center,$size:600px 300px);
}
//天降红包
.float58 {
  position: fixed;
  right:1px;
  top:70px;
  width: 170px;
  height: 106px;
  .float58-btn{
    display: block;
    text-align: center;
    width: 170px;
    height: 106px;
    line-height: 106px;
    img {
      width: 100%;
      height: 106px;
      margin: 0px auto;
      vertical-align: bottom;
    }
  }
  .float58-img {
    width: 170px;
    height: 106px;
    display: inline-block;
    vertical-align: bottom;
  }
}
//天降红包的弹层
.mod-heavenfloat {
  .framefloat-wrap {
    position: absolute;
    top:50%;
    left: 50%;
    overflow: visible;
  }
  .heavenfloat-title {
    text-align: center;
    padding: 37px 0px 0px;
    .heavenfloat-title-text {
      font-size: 28px;
      line-height: 58px;
      color: #ffe600;
      font-weight: bold;
    }
    .heavenfloat-title-desc {
      font-size: 20px;
      line-height: 42px;
      color:#fff;
    }
  }
  .heavenfloat-main-code {
    padding:20px 0px 0px;
    .img {
      margin: 0px auto;
      vertical-align: top;
      width: 110px;
      height: 110px;
      border: 5px solid #c40021;
    }
  }
  .heavenfloat-footer {
    font-size: 12px;
    color: #fff;
    line-height: 42px;
    text-align: center;
  }
  .heavenfloat-prompt {
    width: 400px;
    height: 230px;
    margin: -115px 0px 0px -200px;
    .heavenfloat-main {
      height: 131px;
    }
    .heavenfloat-main-img {
      padding: 13px  0px 0px;
      height: 70px;
      overflow: hidden;
      .img {
        vertical-align: top;
        width: 70px;
        height: 70px;
        margin: 0px auto;
      }
    }
    .heavenfloat-main-text {
      text-align: center;
      padding: 33px  0px 0px;
      height: 50px;
      overflow: hidden;
      font-size: 20px;
      font-weight: bold;
      color: #333;
      line-height: 50px;
      span {
        color: #f73954;
      }
    }
    .heavenfloat-main-desc {
      text-align: center;
      font-size: 14px;
      line-height: 38px;
      color: #333;
    }
    .heavenfloat-footer {
      text-align: center;
      .heavenfloat-footer-link {
        display: inline-block;
        width: 128px;
        height: 32px;
        border: 1px solid #F73954;
        background: #F73954;
        margin: 0px 4px;
        color: #fff;
        font-size: 14px;
        line-height: 32px;
        border-radius: 3px;
        overflow: hidden;
        &:hover, &:active {
          background: #E02D4F;
        }
      }
    }
  }
  .heavenfloat-drawprize {
    width: 500px;
    height: 460px;
    margin:-230px 0px 0px -250px;
    background: url("/styles/images/topic/financial/pc/codepromt.png") no-repeat center center ;
    @include ratioBackground($url:"/styles/images/topic/financial/pc/codepromt_2x.png",$x:center,$y:center,$size:501px 461px);
    .heavenfloat-main-list {
      padding:18px 0px 8px;
      width: 472px;
      margin: 0px auto;
    }
    .heavenfloat-main-item {
      height: 105px;
      width: 118px;
      text-align: left;
      overflow: hidden;
      .heavenfloat-main-link {
        display: inline-block;
        border: 5px solid #c40021;
        border-radius: 6px;
        overflow: hidden;
      }
      img {
        width: 95px;
        height: 95px;
        vertical-align: top;
      }
    }
  }
  .heavenfloat-redland {
    width: 500px;
    height: 350px;
    margin: -175px 0px 0px -250px;
    background: url("/styles/images/topic/financial/pc/codebg.png") no-repeat center center ;
    @include ratioBackground($url:"/styles/images/topic/financial/pc/codebg_2x.png",$x:center,$y:center,$size:500px 350px);
  }
  .heavenfloat-result {
    width: 500px;
    height: 262px;
    margin:-131px 0px 0px -250px;
    background: url("/styles/images/topic/financial/pc/codebg.png") no-repeat center center ;
    @include ratioBackground($url:"/styles/images/topic/financial/pc/codebg_2x.png",$x:center,$y:center,$size:500px 262px);
    .heavenfloat-title {
      padding: 15px 0px 0px;
      .heavenfloat-title-text {
        line-height: 47px;
      }
      .heavenfloat-title-desc {
        line-height: 34px;
      }
    }
    .heavenfloat-end-main {
      padding: 30px 0px 0px;
      font-size: 60px;
      line-height: 116px;
      color: #fff;
      font-weight: bold;
      text-align: center;
      span {
        font-size: 40px;
      }
    }
  }
}
.mod-copy {
  width: 1140px;
  margin: 0px auto;
  padding: 0px 0px 10px;
  .mod-copy-title {
    width: 420px;
    position: relative;
    margin: 0px auto;
  }
  .mod-copy-title-line {
    position: absolute;
    width: 100%;
    height: 10px;
    border-bottom: 1px dashed #843500;
  }
  .mod-copy-title-text {
    position: relative;
    font-size: 13px;
    line-height: 20px;
    color: #843500;
    width: 163px;
    background: #F77400;
    text-align: center;
    margin: 0px auto;
  }
  .mod-copy-main-list {
    padding: 5px 17px 0px;
  }
  .mod-copy-main-item {
    line-height: 16px;
    padding: 0px 0px 10px;
    .item-right {
      width: 100%;
      .item-right-wrap {
        padding-left: 25px;
        font-size: 12px;
        color: #ffffff;
        line-height: 16px;
      }
    }
    .item-left {
      width: 25px;
      margin-left: -100%;
      .item-left-text {
        width: 16px;
        height: 16px;
        line-height: 16px;
        font-size: 12px;
        color: #ffffff;
        background: #d65b00;
        border-radius: 50%;
        text-align: center;
      }
    }

  }
}