@charset "UTF-8";
@import '../base/utils';
@import '../base/reset';
@import '../base/grid';
@import '../inc/ui';
@import '../mod/dialog';
@import '../inc/site-nav';
@import '../inc/header';
@import '../inc/member-header';
@import '../inc/footer';
@import '../mod/bind';
@import '../mod/floatlayer';
@import '../mod/comment';
@import '../mod/activity';

body,li,div,a,p {
    font-family:"Microsoft YaHei";
}
.page_section {
    background:#24292c;
}
.banner {
    background:url(/styles/images/topic/qipashuo/banner.jpg) center no-repeat;
    height:320px;
}
.content {
    padding:16px 0px 120px 0px;
    width:900px;
    margin:0 auto;
    .idertitle {
        background:url(/styles/images/topic/qipashuo/iderTitle.png) top center no-repeat;
        height:42px;
        width:200px;
        margin:0px auto;
        padding-bottom:32px;
    }
    .speak {
        height:122px;
        overflow:hidden;
        background:#ffffff;
    }
    .periodList {
        font-size:14px;
        color:#c0c0c0;
        padding-top:22px;
    }
    .ui-page {
        margin:0px auto;
        text-align: center;
        a {
            display:inline-block;
            height:54px;
            margin:0px auto;
        }
        .ui-more {
            background:url(/styles/images/topic/qipashuo/pageTurn.png) center bottom no-repeat;
            @include ratioBackground($url:'/styles/images/topic/qipashuo/ratio_pageTurn.png',$x:center,$y:bottom,$size:14px 14px);
            &:hover {
                background:url(/styles/images/topic/qipashuo/pageTurn.png) center bottom no-repeat;
                @include ratioBackground($url:'/styles/images/topic/qipashuo/ratio_pageTurn.png',$x:center,$y:bottom,$size:14px 14px);
            }
        }
        .ui-more.over {
            background:#ccc none repeat scroll 0 0;
            color:#000000;
            width:100%;
            height:40px;
            cursor:auto;
        }
    }
}
.speak {
    .left{
        float:left;
        width:120px;
        line-height:122px;
        text-align:center;
        position:relative;
        background:#ea544a;
        color:#ffffff;
        font-size:18px;
        font-weight:bold;
        &:after {
            position:absolute;
            height:0px;
            width:0px;
            content:"";
            border:10px solid transparent;
            border-left-color:#ea544a;
            top:50%;
            margin-top:-10px;
            right:-20px;
        }
        
    }
    .right {
        float:right;
        margin:10px 0px;
        width:756px;
        height:100px;
        overflow:hidden;
        li {
            width:348px;
            float:left;
            height:100px;
            padding:0px 24px 0px 6px;
            position:relative;
            .more{
                font-size:12px;
                color:#d7000f;
                position:absolute;
                bottom:0px;
                right:28px;
            }
        }
        .img {
            float:left;
            width:70px;
            height:70px;
            border-radius:50%;
            overflow:hidden;
            background:#eeeeee;
            border:5px solid #eeeeee;
            cursor:pointer;
            img {
                width:70px;
                height:70px;
            }
        }
        .info {
            float:left;
            padding-left:8px;
            width:252px;
            font-size:12px;
            line-height:20px;
            color:#787878;
            overflow:hidden;
            .name {
                font-size:14px;
                font-weight:bold;
                a {
                    color:#383838;
                }
            }
            .title {
                color:#d7000f;
            }
        }
    }
}
 .periodList {
    li {       
        background:#ffffff;
        padding:20px 26px 20px 20px;
        position:relative;
        margin-bottom:22px;
    }
    .img {
        width:390px;
        height:250px;
        float:left;
        background:red;
        img {
            width:390px;
            height:250px;
        }
    }
    .info {
        float:right;       
        width:440px;
        padding-left:24px;
        .title{
            font-size:24px;
            font-weight:bold;
            text-indent:-10px;
            a {
                 color:#383838;
            }
        }
        .periodNum {
            color:#ea544a;
        }
        .text {
            line-height:24px;
            color:#787878;
            padding-top:12px;
        }
        .more {
            position:absolute;
            bottom:20px;
            right:26px;
            color:#ea544a;
        }
    }
 }
 
