@charset "UTF-8";
@import '../base/utils';
@import '../base/reset';
@import '../base/grid';
@import '../inc/ui';
@import '../mod/dialog';
@import '../inc/site-nav';
@import '../inc/header';
@import '../inc/footer';

body{
    background: url(/styles/images/topic/brand98/pc/background.jpg) no-repeat center 40px;
}

.page_section{
    width: 1208px;
    margin: 0 auto;
    padding-bottom: 0;
    height: 850px
}
.mod-floatlayer{
    display: none;
}
.ui-brand{
    padding-top: 440px;
}
.ui-brand-list{
    text-align: center;
}
.ui-brand-list-item{
    float: left;
    position: relative;
    margin: 0 8px;
    width: 285px;
    height: 326px;
    border-radius: 5px;
    overflow: hidden;
    background-color: rgba(255,255,255,0.9);
    background-color: #fff\9;
}
.ui-brand-title{
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: #fff; 
}
.ui-brand-note{
    padding-top: 20px;
    color: #333;
    font-size: 18px;
    line-height: 25px;
}
.ui-brand-descripe{
    color: #333;
    font-size: 14px;
    line-height: 25px;
    padding-bottom: 5px;
}
.ui-brand-time{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    color: #333;
    font-size: 14px;
    padding: 0 20px;
    height: 26px;
    line-height: 26px;
    border-radius: 13px;
    background-color: #fff;
}
.ui-brand-vcode-first{
    margin: 10px auto 0;
    width: 110px;
    height: 110px;
    background: url(/styles/images/topic/brand98/pc/vcode.png) no-repeat 0 0;
}
.ui-brand-vcode-third{
    margin: 24px auto 0;
    width: 110px;
    height: 110px;
    background: url(/styles/images/topic/brand98/pc/vcode.png) no-repeat -120px 0;
}
.ui-brand-vcode-fourth{
    margin: 24px auto 0;
    width: 110px;
    height: 110px;
    background: url(/styles/images/topic/brand98/pc/vcode.png) no-repeat 0 -120px;
}
.ui-brand-vcode-note{
    margin-top: 10px;
    line-height: 15px;
    font-size: 12px;
    color: #333;
}
.ui-brand-first{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 22px;
    padding: 4px 0;
    line-height: 22px;
    font-size: 12px;
    background-color: #fff;
}
.ui-link-left{
    float: left;
    text-align: center;
    color: #fd6936;
    width: 141px;
    border-right: 1px solid #f3f2f2;
}
.ui-link-right{
    float: left;
    text-align: center;
    color: #fd6936;
    width: 141px;
    border-left: 1px solid #f3f2f2;
}
.ui-brand-list-orange{
    .ui-brand-title{
        background-color: #fd6936;
    }
    .ui-brand-time{
        border: 1px solid #fd6936;
    }
}
.ui-brand-list-green{
    .ui-brand-title{
        background-color: #bbc519;
    }
    .ui-brand-time{
        border: 1px solid #bbc519;
    }
}
.ui-brand-second-icons{
    margin: 12px auto 15px;
    width: 75px;
    height: 75px;
    background: url(/styles/images/topic/brand98/pc/vcode.png) no-repeat -120px -120px;
}
.ui-brand-second-button{
    display: block;
    margin: 0 auto;
    width: 110px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    border-radius: 5px;
    background-color: #bbc519;
    &:hover{
        text-decoration: none;
        background-color: #a8b114;
    }
}
.ui-brand-second-link{
    line-height: 30px;
    color: #9bad05;
    font-size: 12px;
}
.ui-brand-second{

}






