@charset "UTF-8";
@import '../base/utils';
@import '../base/reset';
@import '../base/grid';
@import '../inc/ui';
@import '../mod/dialog';
@import '../inc/site-nav';
@import '../inc/header';
@import '../inc/footer';
@import '../mod/floatlayer';
@import '../mod/bind';


html,body{
	background-color: #fff;
}
a:hover{
	text-decoration: none;
}
.ui-brandtable{
	width: 1000px;
	margin: 0 auto;
}
.ui-brandtable-box{
	min-height: 472px;
}
.ui-backhome{
	width: 90px;
	height: 33px;
	line-height: 33px;
	text-align: center;
	font-size: 14px;
	color: #fff;
	border-radius: 5px;
	background-color: #f0412f;
	@include fadein(0.25s);
	&:hover{
		background-color: #db342c;
	}
}
.ui-brandtable-info{
	text-align: center;
}
.ui-brandtable-info-pic{
	margin-top: 10px;
	img{
		width: 94px;
	}
}
.ui-brandtable-info-data{
	font-size: 18px;
	font-weight: bold;
	color: #333;
	line-height: 30px;
	span{
		color: #f13525;
	}
}
.ui-brandtable-info-link{
	display: block;
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 25px;
	a{
		color: #f13525;
		&:hover{
			text-decoration: underline;
		}
	}
}	
.ui-table-des{
	font-size: 12px;
	color: #666;
	line-height: 30px;
}
.ui-brandtable-title{
	margin: 5px 0;
	padding-left: 12px;
	height: 22px;
	line-height: 22px;
	font-weight: bold;
	color: #383838;
	font-size: 16px;
	border-left: 4px solid #e31d1a;

}
.ui-table{
	height: 300px;
}
.ui-brandtable-list{	
	table{
		width: 100%;
	}
	th{
		height: 40px;
		background-color: #f0f0f0;
		text-align: center;
		font-size: 14px;
		font-weight: bold;
	}
	tbody{
		tr{
			border-bottom: 1px dashed #f0f0f0;
			background-color: #f7f7f7;
		}
		tr:nth-child(even){
			background-color: #f0f0f0;
		}
		.ui-brandtable-empty{
			border-bottom: 0 none;
		}
	}
	td{
		height: 40px;
		text-align: center;
		font-size: 14px;
		border-bottom: 1px dashed #f0f0f0;
		strong{
			font-weight: bold;
			color: #f13525;
		}
		a{
			color: #f13525;
			&:hover{
				text-decoration: underline;
			}
		}
	}

}
.ui-brandtable-empty{
	height: 240px;
	td{
		border-bottom: 0 none;
	}
	img{
		width: 159px;
		margin: 0 auto;
	}
}
.ui-record-pager{
	text-align: center;
	height: 37px;
	a:hover{
		text-decoration: none;
	}
	a{
		display: inline-block;
		*display: inline;
		*zoom: 1;
		margin: 0 4px;
		width: 25px;
		height: 25px;
		line-height: 25px;
		text-align: center;
		color: #e31d1a;
		font-size: 14px;
		border: 1px solid #e31d1a;
		border-radius: 3px;
		background-color: #fff;
		&:hover{
			color: #fff;
			border: 1px solid #a50814;
			background-color: #a50814;
		}
	}
	span{
		color: #e31d1a;
	}
	.jp-current{
		display: inline-block;
		*display: inline;
		*zoom: 1;
		width: 25px;
		height: 25px;
		line-height: 25px;
		text-align: center;
		color: #fff;
		font-size: 14px;
		border: 1px solid #e31d1a;
		border-radius: 3px;
		background-color: #e31d1a;
		cursor: default;
		&:hover{
			border: 1px solid #e31d1a;
			background-color: #e31d1a;
		}
	}
	.jp-previous,
	.jp-next{
		display: inline-block;
		*display: inline;
		*zoom: 1;
		width: auto;
		padding: 0 16px;
		border-radius: 3px;
		font-size:14px;
		color: #fff;
		height: 25px;
		line-height: 25px;
		background-color: #e31d1a;
		&:hover{
			background-color: #a50814;
		}
	}
	.jp-disabled{
		display: inline-block;
		*display: inline;
		*zoom: 1;
		width: auto;
		padding: 0 16px;
		border-radius: 3px;
		font-size: 14px;
		color: #fff;
		height: 25px;
		line-height: 25px;
		border: 1px solid #cbcbcb;
		background-color: #cbcbcb;
		cursor: default;
		&:hover{
			border: 1px solid #cbcbcb;
			background-color: #cbcbcb;
		}
	}
}