@charset "UTF-8";
@import '../base/utils';
@import '../base/reset';
@import '../base/grid';
@import '../inc/ui';
@import '../mod/dialog';
@import '../inc/site-nav';
@import '../inc/header';
@import '../inc/footer';
@import '../mod/floatlayer';
@import '../mod/bind';
html {
	background:#fff;
}
.qt-pt22 {
	padding-top:22px;
}
.site-nav {
	background:#383838;
}
.w1000{
	width:1000px;
	margin:0px auto;
}
.mod-icon {
	background:url("") no-repeat 0px 0px;
	@include ratioBackground($url:'/styles/images/topic/brand818/pc/medalicon_2x.png',$size:305px 375px);
}
a {
	text-decoration:none;
	&:hover,&:active{
		text-decoration:none;
	}
}
.mod-loginwrap{
	text-align:center;
	padding-top:100px;
	a {
		display:inline-block;
		padding:0px 10px;
		height:48px;
		font-size:16px;
		color:#fff;
		font-weight:bold;
		background:#f13525;
		text-align:center;
		line-height:48px;
		border-radius:3px;
		margin:0px auto;
		&:hover ,&:active{
			background:#dc3727;
		}
	}

}
.section-common {
	height:0;
	overflow:hidden;
	.common-title {
		padding:20px 0px 6px;
		line-height:24px;
		.return {
			font-size:14px;
			color:#f13525;
			&:hover,&:active{
				text-decoration:underline;
			}
		}
	}
	.common-title-text {
		font-size:18px;
		color:#333;
		font-weight:bold;
		border-left:4px solid #f0412f;
		padding-left:12px;
	}
}
.section-common-active {
	height:auto;
}
.section-commonlist {
	padding-top:16px;
	.commonlist-desc {
		font-size: 14px;
    	line-height: 24px;
    	color: #999;
    	padding-left:4px;
    	padding-bottom:12px;
	}
	.commonlist-list {
		background:#f7f7f7;
		max-height:400px;
		overflow:hidden;
	}
	.commonlist-item {
		font-size:14px;
		line-height:40px;
		color:#333;
		text-align:center;
		overflow:hidden;
		height:40px;
		width:100%;
		div {
			height:40px;
		}
	}
	.commonlist-itemtitle {
		color:#999;
	}
	.commonlist-itembg {
		background:#f0f0f0;
	}
	.w70 {
		width:70px;
	}
	.w82 {
		width:82px;
	}
	.w122 {
		width:122px;
	}
	.w136 {
		width:136px;
	}
	.w128 {
		width:128px;
	}
	.w158 {
		width:158px;
	}
	.w160 {
		width:160px;
	}
	.w164 {
		width:164px;
	}
	.w172 {
		width:172px;
	}
	.w205 {
		width:205px;
	}
	.w224 {
		width:224px;
	}
	.w232 {
		width:232px;
	}
	.w260 {
		width:260px;
	}
	.w130 {
		width:130px;
	}
	.w126 {
		width:126px;
	}
	.color {
		font-size:16px;
		color:#f13525;
		font-weight:bold;
	}
	.commonlist-page {
		text-align:center;
		padding-top:30px;
		color:#f13525;
		a {
			height:22px;
			display: inline-block;
			font-size:14px;
			line-height:22px;
			color:#f13525;
			margin:0px 3px;
			border:1px solid #f13525;
			border-radius:3px;
			padding:0px 6px;
			min-width:10px;
			cursor:pointer;
			&:hover,&:active {
				background:#f13525;
				color:#fff;
			}
		}
		.jp-current {
			background:#f13525;
			color:#fff;
			&:hover,&:active{
				background:#dc3727;
				border-color:#dc3727;
			}
		}
		.jp-disabled {
			cursor:text; 
			background:#ccc;
			color:#fff;
			border-color:#ccc;
			&:hover,&:active {
				background:#ccc;
				color:#fff;
				border-color:#ccc;
			}
		}
	}
}
.fullpage-title {
	background:#474f59;
	height:100px;
	overflow:hidden;
	.title-left {
		margin-left:-100%;
		img {
			height:100px;
		}
	}
	.title-right {
		width:100%;
		overflow:hidden;
	}
	.title-list {
		padding:36px 0px 36px 236px;
		width:780px;
	}
	.title-item {
		width:110px;
		text-align:center;
		border-right:1px solid #b5b9bd;
		height:28px;
		a {
			color:#b5b9bd;
			font-size:16px;
			line-height:28px;
			cursor:pointer;
			&:hover,&:active {
				color:#fff;
				font-weight:bold;
			}
		}
		.active{
			color:#fff;
			font-weight:bold;
		}
	}
}
.section-upgrade {
	 .upgrade-body {
	 	padding:0px 0px 44px;
	 	height:248px;
	 }
	 .upgrade-body-left {
		width:320px;
		padding:28px 0px 0px;
		.left-wrap {
			height:220px;
			background:#474f59;
		}
		.left-top{
			background:#f7f7f7;
			height:152px;
			padding-top:8px;
			text-align:center;
		}
		.logo-img {
			height:102px;
			vertical-align:top;
		}
		.logoimg-desc {
			color:#333;
			font-size:18px;
			line-height:50px;
			font-weight:bold;
			a {
				color:#f13525;
				&:hover,&:active{
					text-decoration:underline;
				}
			}
		}
		.color{
				color:#f13525;
			}

		.left-desc {
			padding:7px 24px 0px;
			line-height:20px;
			max-height:40px;
			overflow:hidden;
			font-size:12px;
			color:#fff;
		}
	 }
	 .upgrade-body-right{
		width:660px;
		.stage-item {
			padding:30px 0px 0px;
		}
		.stage-bar {
			width:100%;
		}
		.stage-bar-wrap {
			padding-left:160px;
			height:20px;
		}
		.process-bar {
			height:100%;
			background:#b2b2b2;
			border-radius:20px;
			position:relative;
		}
		.process-bar-ing {
			width:0px;
			position:relative;
			background:#f13525;
			height:100%;
			border-radius:20px 0px 0px 20px;;
			background: -webkit-linear-gradient(left,#ffb933,#f13525); /* Safari 5.1 - 6.0 */
	  		background: -o-linear-gradient(left,#ffb933,#f13525); /* Opera 11.1 - 12.0 */
	  		background: -moz-linear-gradient(left,#ffb933,#f13525); /* Firefox 3.6 - 15 */
	  		background: linear-gradient(left,#ffb933,#f13525); /* 标准的语法 */

		}
		.process-bar-ing-info{
			position:absolute;
			top:-26px;
			right:-10px;
			padding:0px 4px;
			font-size:12px;
			line-height:20px;
			background:#f13525;
			color:#fff;
			border-radius:5px;
			display:none;
			&:after{
				content:"";
				display:block;
				position:absolute;
				bottom:-10px;
				left:50%;
				margin-left:-5px;
				height:0px;
				width:0px;
				border:5px solid transparent;
				border-top-color:#f13525;

			}
		}
		.borderradius{
			border-radius:20px;
		}
		.process-bar-list {
			position:absolute;
			top:0px;
			left:0px;
		}
		.process-bar-item {
			float:left;
			width:99px;
			font-size:12px;
			line-height:20px;
			font-weight:bold;
			color:#fff;
			text-align:center;
			border-right:1px solid #a3a3a3;
		}
		.border {
			border:none;
		}
		.stage-name {
			width:136px;
			text-align:right;
			font-size:14px;
			color:#333;
			line-height:20px;
			margin-left:-100%
		}
		.color {
			font-size:18px;
			color:#f13525;
			font-weight:bold;
		}
	 }
	.upgrade-info {
		padding:20px 32px 24px;
		color:#666;
		padding:20px 32px 24px;
		background:#f7f7f7;
		.info-title {
			font-size:20px;
			line-height:38px;
		}
		.info-body-text	{
			font-size:14px;
			line-height:18px;
			padding:8px 0px;
			a{
				color:#f0412f;
				&:hover,&:active{
					text-decoration:underline;
				}
			}
		}
	}
}
.section-investment {
	.investment-img {
		text-align:center;
		img {
			height:100%;
		}
	}
	.investment-desc {
		padding:20px 0px 10px;
		text-align:center;
		.text1 {
			font-size:18px;
			line-height:28px;
			font-weight:bold;
			color:#333;
		}
		.text2 {
			font-size:14px;
			line-height:24px;
			color:#666;
		}
		.color {
			color:#f13525;
		}
	}
}
.section-invation {
	.common-title {
		padding-bottom:10px;
	}
	.invation-body1,.invation-body2 {
		background:#f7f7f7;
	}
	.invation-body1 {
		font-size:14px;
		line-height:20px;
		color:#666;
		padding:10px 32px 10px 30px;
		margin-bottom:10px;
	}
	.invation-body1-left {
		width:730px;
	}
	.invation-body-text1 {
		padding:8px 0px;
	}
	.invation-body1-right {
		padding-top:14px;
		a {
			display:block;
			width:125px;
			height:48px;
			font-size:16px;
			color:#fff;
			font-weight:bold;
			background:#f13525;
			text-align:center;
			line-height:48px;
			border-radius:3px;
			&:hover ,&:active{
				background:#dc3727;
			}
		}
	}
	.invation-body-title {
		padding:0px 0px 0px 20px;
		height:40px;
		font-size:12px;
		line-height:40px;
		color:#fff;
		background:#b2b2b2;
		span{
			font-size:14px;
			font-weight:bold;
		}
	}
	.invation-body-wrap {
		overflow:hidden;
		height:117px;
		margin:0px 30px 0px 20px;	
	}
	.invation-body-list{
		width:1030px;
	}
	.invation-body-item {
		width:205px;
		font-size:14px;
		line-height:20px;
		padding:19px 0px;
		color:#333;
		border-bottom:1px dashed #b2b2b2;
		.item-num {
			vertical-align:top;
			width:20px;
			height:20px;
			display:inline-block;
			background:#999;
			color:#fff;
			font-size:12px;
			line-height:20px;
			text-align:center;
			border-radius:3px;
		}
		.item-top {
			background:#f13525;
		}
		.item-name {
			padding-left:10px;
		}
	}
}
.section-luckdrawrule {
	.common-title {
		padding-bottom:22px;
	}
	.luckdrawrule-explain {
		background:#f7f7f7;
		font-size:14px;
		color:#666;
		padding:10px 32px;
		p{
			padding:5px 0px;
			line-height:24px;
		}
		a {
			display:inline-block;
			height:24px;
			font-size:12px;
			line-height:24px;
			padding:0px 8px;
			color:#fff;
			background:#f13525;
			border-radius:5px;
			vertical-align:top;
			&:hover {
				background:#dc3727;
			}
		}
	}
	.luckdrawrule-exchange {
		width:1120px;
		.exchange-lump {
			padding:20px 20px 0px 0px;
		}
		.exchange-lump-wrap {
			height:225px;
			width:320px;
			background:#f7f7f7;
		}
		.exchange-lump-title {
			height:40px;
			color:#fff;
			background:#f13525;
			font-size:18px;
			line-height:40px;
			text-align:center;
			font-weight:bold;
		}
		.exchange-lump-bottom {
			height:132px;
			padding:0px 16px 0px 5px;
		}
		.exchange-lump-link {
			display:block;
			width:100px;
			height:35px;
			font-size:14px;
			line-height:35px;
			background:#e8e8e8;
			color:#666;
			margin:0px auto;
			text-align:center;
		}
		.lump-grey {
			background:#474f59;
			color:#fff;
			.icon-light1 {
				background-position:-128px -74px;
				@include ratioBackgroundPosition($x:-128px,$y:-74px);
			}
			.icon-light2{
				background-position:-128px -224px;
				@include ratioBackgroundPosition($x:-128px,$y:-224px);
			}
		}
		.lump-red {
			background:#f13525;
			color:#fff;
		}
		.lump-orange {
			background:#ff9903;
			color:#fff;
		}
		.lump-green {
			background:#4e7f32;
			color:#fff;
		}
		.lump-blue {
			background:#15adea;
			color:#fff;
		}
		.lump-pink {
			background:#725fff;
			color:#fff;
		}
		.lump-prize {
			width:1000px;
			height:166px;
			.exchange-lump-link {
				width:100px;
				height:50px;
				line-height:50px;
			}
			.exchange-lump-bottom {
				height:126px;
			}
			.icon-medal {
				width:54px;
			}
			.icon-symbol {
				padding:12px 6px 0px 7px;
			}
		}
		.lump-prize-warp {
			padding:0px 24px 0px 0px;
		}

	}
	.exchange-body {
		width:64px;
	}
	.icon-symbol {
		width:25px;
		height:25px;
		padding-top:15px;
		.mod-icon {
			width:25px;
			height:25px;
		}
	}
	.icon-plus {
		background-position:-20px -344px;
		@include ratioBackgroundPosition($x:-20px,$y:-344px);
	}
	.icon-equal {
		background-position:-20px -300px;
		@include ratioBackgroundPosition($x:-20px,$y:-300px);
	}
	.icon-medal {
		height:56px;
	}
	.exchange-text {
		padding:6px 0px 0px;
		font-size:12px;
		line-height:18px;
		color:#333;
		text-align:center;
		p {
			height:18px;
			overflow:hidden;
			word-break:break-all;
		}
	}
	.prizeimg {
		width:80px;
		height:60px;
		margin:0px auto;
		background:url("") no-repeat 0px 0px;
		@include ratioBackground($url:'/styles/images/topic/brand818/pc/prize_2x.png',$size:277px 140px);
	}
	.icon-default1 {
		background-position:-128px -74px;
		@include ratioBackgroundPosition($x:-128px,$y:-74px);
	}
	.icon-default2{
		background-position:-128px -224px;
		@include ratioBackgroundPosition($x:-128px,$y:-224px);
	}
	.icon-default3 {
		background-position:-246px -224px;
		@include ratioBackgroundPosition($x:-246px,$y:-224px);
	}
	.exchange-lump-red {
		.icon-light1 {
			background-position:0px -0px;
			@include ratioBackgroundPosition($x:0px,$y:0px);
		}
		.icon-light2{
			background-position:0px -149px;
			@include ratioBackgroundPosition($x:0px,$y:-149px);
		}
		.prizeimg {
			background-position:0px 0px;
			@include ratioBackgroundPosition($x:0px,$y:0px);
		}
	}
	.exchange-lump-orange {
		.icon-light1 {
			background-position:-64px -0px;
			@include ratioBackgroundPosition($x:-64px,$y:0px);
		}
		.icon-light2{
			background-position:-64px -149px;
			@include ratioBackgroundPosition($x:-64px,$y:-149px);
		}
		.prizeimg {
			background-position:-99px -80px;
			@include ratioBackgroundPosition($x:-99px,$y:-80px);
		}
	}
	.exchange-lump-green {
		.icon-light1 {
			background-position:-128px -0px;
			@include ratioBackgroundPosition($x:-128px,$y:0px);
		}
		.icon-light2{
			background-position:-128px -149px;
			@include ratioBackgroundPosition($x:-128px,$y:-149px);
		}
		.prizeimg {
			background-position:-198px 0px;
			@include ratioBackgroundPosition($x:-198px,$y:0px);
		}

	}
	.exchange-lump-blue {
		.icon-light1 {
			background-position:0px -74px;
			@include ratioBackgroundPosition($x:-0px,$y:-74px);
		}
		.icon-light2{
			background-position:0px -224px;
			@include ratioBackgroundPosition($x:0px,$y:-224px);
		}
		.prizeimg {
			background-position:0px -80px;
			@include ratioBackgroundPosition($x:-0px,$y:-80px);
		}
	}
	.exchange-lump-pink {
		.icon-light1 {
			background-position:-64px -74px;
			@include ratioBackgroundPosition($x:-64px,$y:-74px);
		}
		.icon-light2{
			background-position:-64px -224px;
			@include ratioBackgroundPosition($x:-64px,$y:-224px);
		}
		.prizeimg {
			background-position:-99px 0px;
			@include ratioBackgroundPosition($x:-99px,$y:0px);
		}
	}
	.lump-prize {
		.icon-light1 {
			background-position:-192px 0px;
			@include ratioBackgroundPosition($x:-192px,$y:0px);
		}
		.icon-light2{
			background-position:-236px 0px;
			@include ratioBackgroundPosition($x:-236px,$y:0px);
		}
		.icon-light3 {
			background-position:-192px -74px;
			@include ratioBackgroundPosition($x:-192px,$y:-74px);
		}
		.icon-light4{
			background-position:-236px -74px;
			@include ratioBackgroundPosition($x:-236px,$y:-74px);
		}
		.icon-light5 {
			background-position:-192px -149px;
			@include ratioBackgroundPosition($x:-192px,$y:-149px);
		}
		.icon-light6{
			background-position:-236px -149px;
			@include ratioBackgroundPosition($x:-236px,$y:-149px);
		}
		.icon-light7 {
			background-position:-192px -224px;
			@include ratioBackgroundPosition($x:-192px,$y:-224px);
		}
		.prizeimg {
			background-position:-198px -80px;
			@include ratioBackgroundPosition($x:-198px,$y:-80px);
		}
	}
}
.section-address {
	.address-body-info {
	  	font-size:14px;
	  	line-height:28px;
	  	color:#666;
	  	span {
	  		color:#f13525;
	  	}
	  }
	.address-body-form {
	    .address-desc{
	      font-size: 14px;
	      line-height: 27px;
	      color: #383838;
	    }
	    .color {
	      color: #f13525;
	    }
	    .address-form-list {
	      padding: 36px 0px 0px;
	      margin: 0px auto;
	    }
	  }
   .address-form-box {
    min-height: 40px;
    font-size: 14px;
  }
  .address-form-box-text {
    width: 70px;
    padding:0px 12px 0px 0px;
    line-height: 40px;
    height: 40px;
    text-align: right;
  }
  .address-form-box-input {
    width: 258px;
    height: 38px;
    line-height: 38px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding:0px 20px;
    font-size: 14px;
    &:focus {
      border-color:#f13525;
    }
  }
  .disabled {
    color: #ccc;
  }
  .w573 {
    width: 573px;
  }
  .w615 {
    width: 615px;
  }
  .address-form-desc {
    height: 20px;
    line-height: 20px;
    width: 100%;
  }
  .address-form-desc-text {
    padding-left: 82px;
    font-size: 13px;
    line-height: 20px;
    color: #f13525;
    display: none;
  }
  .address-select-item{
    float: left;
    width: 195px;
    font-size: 14px;
    color: #787878;
    margin-right: 15px;
  }
  .nomargin {
    margin: 0px;
  }
  .address-submit {
    padding:6px 0px 0px 82px;
    .address-submit-btn {
      width: 124px;
      height: 48px;
      background: #f13525;
      text-align: center;
      font-size: 16px;
      font-weight: bold;
      color: #fff;
      line-height: 48px;
      border-radius: 4px;
      cursor: pointer;
      border:none;
      &:hover,&:active{
      	background:#f13525;
      }
    }
  }
  .selectBox-dropdown{
    width: 134px!important;
    height: 38px;
    margin-right: 5px;
    line-height: 38px;
    font-size: 14px;
    color: #999;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .selectBox-label {
    font-size: 14px;
    line-height: 38px;
    padding:0px 20px;
  }
  .selectBox-options li a{
    color: #787878;
    font-size: 12px;
    line-height: 34px;
  }
  .selectBox-arrow{
    background: url('/styles/images/topic/xtyyh/pc/bg-alert.png') -40px -426px no-repeat;
  }
	.ui-address-select {
	  .ui-address-select-item {
	    float: left;
	    margin-right:15px;
	    width: 195px;
	    .selectBox {
	      text-decoration: none;
	      color:#ccc;
	    }
	  }
	}
	.selectBox-options {
	  border-bottom: none;
	  margin-top: 1px;
	}
}
.selectBox-dropdown-menu {
	border-color:#ccc;
}
.selectBox-options LI.selectBox-selected A ,.selectBox-options LI A{
  font-size: 14px;
  color: #666;
}
.selectBox-options LI.selectBox-selected A {
	color:#fff;
	background-color:#f13525;
}
.section-bomb {
	position:fixed;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	display:none;
	z-index:10;
	.section-bomb-bg {
		width:100%;
		height:100%;
		background:#000;
		@include opacity(0.6);
	}
	.section-bomb-body {
		width:400px;
		height:266px;
		position:absolute;
		top:50%;
		left:50%;
		margin:-133px 0px 0px -200px;
		background:#fff;
		border-radius:5px;
		overflow:hidden;
		background:#fff;
		text-align:center;
	}
	.section-bomb-title {
		padding:18px 16px 18px 12px;
		background:#f13525;
		font-size:14px;
		line-height:12px;
		color:#fff;
	}
	.close {
		vertical-align:top;
		display:block;
		font-size:16px;
		line-height:12px;
		cursor:pointer;
		color:#fff;
		-webkit-transition: all .5s ease-in-out;
  		-moz-transition: all .5s ease-in-out;
  		transition: all .5s ease-in-out;
		&:hover {
			-webkit-transform:rotate(360deg);
			-moz-transform:rotate(360deg);
			transform:rotate(360deg);
		}

	}
	.section-bomb-text {
		padding-top:53px;
		font-size:24px;
		line-height:40px;
		color:#333;
		font-weight:bold;
		i {
			display:inline-block;
			vertical-align:top;
			width:42px;
			height:42px;
			margin-right:12px;
			background-position:-70px -300px;
			@include ratioBackgroundPosition($x:-70px,$y:-300px);
		}
	}
	.section-bomb-desc {
		font-size:14px;
		line-height:35px;
		color:#666;
		padding-bottom:34px;
	}
	.section-bomb-link {
		display:inline-block;
		width:100px;
		height:35px;
		background:#f13525;
		text-align:center;
		font-size:14px;
		line-height:35px;
		border-radius:5px;
		color:#fff;
		&:hover,&:active{
			background:#dc3727;
		}
	}
}