@charset "UTF-8";
@import '../base/utils';
@import '../base/reset';
@import '../base/grid';
@import '../inc/ui';
@import '../mod/dialog';
@import '../inc/site-nav';
@import '../inc/header';
@import '../inc/member-header';
@import '../inc/search-header';
@import '../inc/footer';
@import '../mod/bind';
@import '../mod/platinfo';
@import '../mod/star';
@import '../mod/asidelist';
@import '../mod/comment';
@import '../mod/dynamic_block';
@import '../mod/platlist';
@import '../mod/investshare_block';
@import '../mod/discuss';
@import '../mod/praise_block';
@import '../mod/nrank';
@import '../mod/title';
@import '../mod/invest-popup';
@import '../mod/shareInvest';
@import '../mod/autocomplete';
@import '../mod/floatlayer';
@import '../mod/activity';

a:hover{
  text-decoration: none;
}
.mod-floatlayer{
  display: none;
}
body{
  background: #faf2df;
}
@-webkit-keyframes overturn{
  0%{
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  100%{
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg);
  }

}
@-moz-keyframes overturn{
  0%{
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  100%{
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg);
  }
}
@-ms-keyframes overturn{
  0%{
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  100%{
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg);
  }
}
@-o-keyframes overturn{
  0%{
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  100%{
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg);
  }
}
@keyframes overturn{
  0%{
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  100%{
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg);
  }
}
.wrap{
  width:994px;
  margin: 0 auto;
  padding-top:30px;
  font-family: "Microsoft YaHei", "Hiragino Sans GB", STHeiti, Tahoma, SimHei, sans-serif;
  .hd {
    .title {
      width: 400px;
      height: 33px;
      margin: 0 auto 16px;
      background: url("/styles/images/harvest/yh_tit.png");
      font-size: 28px;
      font-weight: 800;
      color: #383838;
      text-align: center;
      line-height: 47px;
    }
    .explain {
      width:700px;
      color: #383838;
      font-size: 16px;
      margin: 0 auto;
      text-align: center;
      .moneybag{
        color: #eb5c55;
      }
    }
  }
  .bd{
    padding-top: 32px;
    .list{
      .item{
        overflow: hidden;
        .item-l{
          width: 128px;
          float: left;
          padding-left: 12px;
          .line{
            width:5px;
          }
          .line.gary{
          }
          .line.short{
            height:36px;
          }
          .line.long{
            height:266px;
          }
          
          .info{
            .dollar{
              width:30px;
              height:30px;
              float: left;
              background: url("/styles/images/harvest/dollar1.png");
              margin-left: -12px;
            }
            .dollar.dollar-not{
              background: url("/styles/images/harvest/dollar2.png");
            }
            .date{
              font-size: 16px;
              line-height: 49px;
              padding-left: 10px;
              color: #383838;
              font-weight: 800;
              margin-top: -8px;
              float: left;
            }
          }
        }
        .item-r{
          width:854px;
          float:right;
          .coupon{
            overflow: hidden;
            padding-bottom:30px;
            .case{
              width:240px;
              height:100px;
              background: url("/styles/images/harvest/coupon_bg.png");
              color: #fff;
              text-align: center;
              float: left;
              margin: 0 10px 20px;
              cursor:pointer;
              .tit{
                font-weight: 800;
                a{
                  width: 200px;
                  display: block;
                  margin: 0 auto;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  overflow: hidden;
                  font-size: 16px;
                  font-weight: 800;
                  line-height: 60px;
                  color: #fff;
                }
              }
              .get{
                font-size: 13px;
                a{
                  font-size: 13px;
                  line-height: 26px;
                  color: #fff;
                }
                a.code{
                  color: #383838;
                }
              }
            }
            .case.hover{
              -webkit-animation: overturn 1s ease-in;
              -moz-animation: overturn 1s ease-in;
              -ms-animation: overturn 1s ease-in;
              -o-animation: overturn 1s ease-in;
              animation: overturn 1s ease-in;
            }
            .case.late{
              background: url("/styles/images/harvest/late.png");
              .tit,.get{
                opacity: .7;
              }
            }
            .case.already{
              background: url("/styles/images/harvest/already.png");
              .tit{
                color: #ff5b00;
                a{
                  color: #ff5b00;
                  &:hover{
                    text-decoration: underline;
                  }
                }
              }
              .get{
                font-size: 12px;
                color: #383838;
              }
            }
            .case.hover.already{
              .tit{
                color: #ff5b00;
                a{
                  color: #ff5b00;
                }
              }
            }
            .case.not{
              background: url("/styles/images/harvest/cannot.png");
              .tit{
                a{
                  font-weight: 800;
                  color: #b5b5b5;
                }
              }
              .get{
                font-size: 12px;
                color: #b5b5b5;
              }
            }
          }
        }
      }
      .orangebg{
        background: url("/styles/images/harvest/orangebg.png") 12px 0 repeat-y;
      }
      .cececebg{
        background: url("/styles/images/harvest/cececebg.png") 12px 0 repeat-y;
      }
    }
    .main{
      width:900px;
      height:auto;
      padding: 10px 32px;
      border: 5px solid #ff5b00;
      position: relative;
      .tit{
        height:44px;
        line-height: 54px;
        overflow:hidden;
        .item{
          float: left;
          text-align: center;
          font-size: 14px;
          color: #838383;
        }
        .item.order{
          width:80px;
        }
        .item.money{
          width:300px;
        }
        .item.plat{
          width:220px;
        }
        .item.loans{
          width: 300px;
        }
      }
      .content{
        .item{
          height:44px;
          line-height: 54px;
          border-top: 1px solid #e8e8e8;
          overflow: hidden;
          .sub{
            color: #383838;
            width: auto;
            margin-left: 0;
            float: left;
            text-align:center;
          }
          .sub.order{
            width:80px;
          }
          .sub.money{
            width:300px;
            color: #eb5c55;
          }
          .sub.plat{
            width:220px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }
          .sub.loans{
            width: 300px;
          }
        }
      }
      .more-btn{
        .moreBtn{
          position: absolute;
          left:422px;
          bottom:-24px;
          width:130px;
          height:24px;
          background: url("/styles/images/harvest/more_btn.png");
          color: #fff;
          font-size: 13px;
          text-align: center;
          line-height: 24px;
          cursor:pointer;
        }
      }
    }
    .main.invest{
      .tit{
        .item.nam{
          width: 220px;
        }
        .item.invest{
          width: 200px;
        }
        .item.state{
          width: 104px;
        }
        .item.attr{
          width: 114px;
        }
        .item.new{
          width: 114px;
        }
        .item.time{
          width: 140px;
        }
      }
      .content{
        .item{
          .sub.nam{
            width: 220px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }
          .sub.invest{
            width: 200px;
          }
          .sub.state{
            width: 104px;
          }
          .sub.attr{
            width: 114px;
          }
          .sub.new{
            width: 114px;
          }
          .sub.time{
            width: 140px;
          }
        }
      }
    }
  }
}

.empty_trades{
  width:500px;
  margin:0 auto;
  padding-top:30px;
  .imagebg{
    width:84px;
    height:115px;
    margin:0 auto;
    background: url("/styles/images/harvest/empty_trades.png");
  }
  .inst{
    padding-top:14px;
    overflow:hidden;
    height:22px;
    line-height:22px;
    font-size:12px;
    color:#bbb;
    text-align:center;
    a{
      color: #ff5b00;
      cursor:pointer;
      &:hover{
        text-decoration:underline;
      }
    }
  }
}