@charset "UTF-8";
@import '../base/utils';
@import '../base/reset';
@import '../base/grid';
@import '../inc/ui';
@import '../mod/dialog';
@import '../inc/site-nav-ty';
@import '../inc/header';
@import '../inc/header-ty';
@import '../inc/member-header';
@import '../inc/footer';
@import '../mod/search';
@import '../mod/charge';
@import '../mod/swiper';
@import '../mod/bind';
@import '../mod/redpapersave';
@import '../mod/floatlayer';
@import '../mod/activity';
.col-title{
  height:54px;
  padding:1px 0px  0px;
  border-bottom:2px solid #f7f7f7;
  .col-title-link {
    float: left;
    padding:0px 35px;
    border-bottom:3px solid transparent;
    line-height: 52px;
    color:#666;
    font-size:16px;
    text-decoration: none;
    &:hover {
      border-color: #ea544a;
      font-weight: bold;
      color:#333;
    }
    span{
      color: #ea544a;
      font-weight: normal;
    }
  }
  .col-title-ri{
    float: right;
    padding: 0;
  }
  .current {
    border-color: #ea544a;
    font-weight: bold;
    color:#333;
  }

}
.content {
  background: #eaedf4;
  .tab-wrap {
    width: 210px;
    float: left;
    height: 100%;
    padding-top: 18px;
    .tab {
      width: 100%;
      .prize-num {
        position: absolute;
        display: block;
        min-width: 8px;
        min-height: 20px;
        line-height: 20px;
        text-align: center;
        border-radius: 10px;
        background: #ea544a;
        color: #fff;
        font-size: 13px;
        padding: 0px 6px;
        top: 10px;
        right:150px;
      }
      .menu{
        position: relative;
        height: auto !important;
        font-size: 16px;
        .menu-tit{
          margin-top: 7px;
          height: 39px;
          line-height: 39px;
          padding-left: 63px;
          color: #999999;
          .image{
            position: absolute;
            top: 15px;
            top: 18px\9;
            right: 70px;
            height: 9px;
            width: 6px;
            background: url(/styles/images/common/icons.png?v=1) -587px -618px;
            filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
            -moz-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
          }
        }

        .menu-item{
          margin-top: 7px;
          height: 39px;
          line-height: 39px;
          position: relative;
          .prize-num {
            right: 130px;
          }
          &:hover, &.current {
            background: #fff;
            @include fadein(0.25s);
          }
          &.current {
            font-weight: bold;
            .prize-num {
              font-weight: normal;
            }
          }
          a {
            color: #383838;
            text-decoration: none;
            display: block;
            height: 100%;
            padding-left: 83px;
          }
          .image {
            position: absolute;
            top: 14px;
            right: 35px;
            height: 9px;
            width: 6px;
            background: url(/styles/images/common/icons.png?v=1) -587px -618px;
          }
        }
      }
      .list {
        margin-top: 7px;
        height: 39px;
        line-height: 39px;
        font-size: 16px;
        position: relative;
        &:hover, &.current {
          background: #fff;
          @include fadein(0.25s);
        }
        &.current {
          font-weight: bold;
          .prize-num {
            font-weight: normal;
          }
        }
        a {
          color: #383838;
          text-decoration: none;
          display: block;
          height: 100%;
          padding-left: 63px;
        }
        .image {
          position: absolute;
          top: 14px;
          right: 45px;
          height: 9px;
          width: 6px;
          background: url(/styles/images/common/icons.png?v=1) -587px -618px;
        }
      }
    }
  }
  .gift-wrap{
    width:930px;
    //min-height:400px;
    padding:0px 31px 25px 29px;
    float:left;
    background:#fff;
    em{
      display:block;
      height:141px;
      width:141px;
      margin:50px auto 30px;
      background:url(/styles/images/common/icons.png?v=1) 0px -800px;
    }
    .no{
      display: block;
      font-size:16px;
      color:#aaa;
      text-align: center;
      padding-bottom: 45px;
    }
    /*.col-main-receive-item {
      float: left;
      width: 430px;
      padding:30px 0px 10px;
      position: relative;
      color:#666;
      .item-main {
        width:390px;
        height:131px;
        position:relative;
      }
      .item-link {
        cursor: pointer;
        transition: all 0.2s cubic-bezier(1, 0.06, 0.54, 0.99);
        &:hover {
          box-shadow: 0px 0px 10px #eee;
          -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=135, Color='#dddddd')";
          transform: translateY(-4px) translateX(-4px);
        }
      }
      .item-main-left {
        float: left;
        padding:0px 18px;
        width: 308px;
        height:127px;
        border-left:4px solid #0080cc;
        border-top:2px solid #e8e8e8;
        border-bottom:2px solid #e8e8e8;
        .item-main-top {
          height:86px;
        }
        .item-main-top-left {
          float: left;
          width: 50%;
          line-height: 74px;
          color:#0080cc;
          font-family: arial;
          text-align: left;
        }
        .item-main-top-symbol {
          font-size: 24px;
          float: left;
          padding: 7px 6px 0px 0px;
        }
        .item-main-top-big {
          font-size: 46px;
          float: left;
        }
        .item-main-top-small {
          font-size: 20px;
          float: left;
          padding-top: 8px;
        }
        .item-main-top-right {
          float: left;
          width: 50%;
          text-align: right;
          color: #666;
          padding:15px 0px 0px;
        }
        .item-main-top-right-time {
          font-size: 13px;
          line-height: 20px;
        }
        .family {
          font-family: arial;
        }
        .item-main-top-right-name {
          font-size: 14px;
          font-weight: bold;
          line-height: 24px;
        }
        .item-main-bottom {
          height:40px;
          line-height: 40px;
          font-size: 12px;
          color:#666;
          border-top:1px dashed #f6f6f6;
        }
        .item-main-bottom-left {
          float: left;
          text-align: left;
          width: 50%;
        }
        .item-main-bottom-right {
          float: left;
          width: 50%;
          text-align: right;
          @include text-ellipsis;
        }
      }
      .item-main-right {
        float:right;
        width:40px;
        height: 100%;
        background: #0080cc;
        .item-main-right-text {
          color:#fff;
          font-size: 16px;
          font-weight: bold;
          display:block;
          padding-top:24px;
          line-height: 20px;
          text-align: center;
          width:30px;
          margin: 0px auto;
        }
      }
    }
    .no-receive {
      .item-main-left {
        border-left-color: #666;
      }
      .item-main-right {
        background: #666;
        .item-main-right-text {
          padding:39px 0px 0px;
        }
      }
      .item-main-left {
        .item-main-top-left {
          color:#666;
        }
      }

    }*/
  }
}
.ui-alert,.ui-loading{
  display:none;
}

.prompt-wrapper{
  text-align: center;
  padding-top:10px;
  .prompt-top {
    height:40px;
    text-align: center;
  }
  .prompt-img {
    display: inline-block;
    vertical-align: top;
    width:40px;
    height:40px;
    background: url(/styles/images/member/member-icon.png) -161px 0px no-repeat;
    @include ratioBackground($url:'/styles/images/member/member-icon.png',$size:250,$x: -162px,$y: 0px )
  }
  .prompt-img1 {
    display: inline-block;
    vertical-align: top;
    width:40px;
    height:40px;
    background: url(/styles/images/member/member-icon.png) -161px -72px no-repeat;
    @include ratioBackground($url:'/styles/images/member/member-icon.png',$size:250,$x: -162px,$y: -72px )
  }
  .prompt-img2 {
    display: inline-block;
    vertical-align: top;
    width:41px;
    height:41px;
    background: url(/styles/images/tender/icons.png) 0 -600px no-repeat;
  }
  .prompt-top-text {
    vertical-align: top;
    display: inline-block;
    line-height: 40px;
    font-size: 30px;
    color:#666;
    font-weight: bold;
    padding:0px 0px 0px 8px;
  }
}
.go-to-bind{
  .prompt-wrapper-message{
    color: #666666;
    .bind-tip{
      color: #999999;
      .bind-jk-count{
        color: #ea544a;
      }
    }
  }
}
.prompt-wrapper-message{
  line-height:14px;
  text-align:center;
  font-size:14px;
  padding-bottom: 35px;
  margin-top: 16px;
}
.prompt-wrapper-button{
  position: relative;
  display: inline-block;
  //width:108px;
  height:34px;
  border: 1px solid #0080cc;
  border-radius: 3px;
  color: #0080cc;
  line-height:34px;
  text-align:center;
  margin:0 auto;
  padding: 0 30px;
  font-size:15px;
  cursor:pointer;
  text-decoration: none;
  &:hover{
    background-color: #0080cc;
    color: #fff;
  }
}


.ajax-style {
  position:absolute;
  width: 100%;
  height:100%;
  top:0px;
  left:0px;
  z-index: 10;
  .ajax-style-bg {
    width:100%;
    height:100%;
    background: #000;
    @include opacity(0.6);
  }
  .ajax-style-main {
    position: absolute;
    top:150px;
    left: 20px;
    height: 42px;
    line-height: 42px;
    color:#fff;
  }
  .ajax-style-main-symbol {
    float: left;
    width: 42px;
    height: 42px;
    background: url("/styles/images/member/member-int.png") 0px 0px no-repeat;
    -webkit-animation: move 2s linear infinite;
    -moz-animation: move 2s linear infinite;
    -ms-animation: move 2s linear infinite;
    animation: move 2s linear infinite;
    @-webkit-keyframes move{
      0% {
        -webkit-transform:rotate(0deg);
      }
      50% {
        -webkit-transform:rotate(180deg);
      }
      100% {
        -webkit-transform:rotate(360deg);
      }
    }
    @-moz-keyframes move{
      0% {
        -moz-transform:rotate(0deg);
      }
      50% {
        -moz-transform:rotate(180deg);
      }
      100% {
        -moz-transform:rotate(360deg);
      }
    }
    @-ms-keyframes move{
      0% {
        -ms-transform:rotate(0deg);
      }
      50% {
        -ms-transform:rotate(180deg);
      }
      100% {
        -ms-transform:rotate(360deg);
      }
    }
    @keyframes move{
      0% {
        transform:rotate(0deg);
      }
      50% {
        transform:rotate(180deg);
      }
      100% {
        transform:rotate(360deg);
      }
    }
  }
  .ajax-style-main-text {
    padding:0px 0px 0px 20px;
    font-size: 16px;
    font-weight: bold;
    float: left;
  }
}


.main-padding{
  padding-top: 21px;
  position: relative;
}
.col-main{
  //width: 930px;
  .col-main-tit{
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 0;
    color: #999;
    font-size: 12px;
    line-height: 12px;
  }
  .c-m-list{
    //width: 100%;
    .c-m-item-wrap{
      position: relative;
      width: 266px;
      height: 349px;
      margin: 31px 30px 0 0;
      float: left;
      .item-m{
        width: 266px;
        height: 349px;
        position: absolute;
        top: 0;
        left: 0;
        transition: top,box-shadow .5s,.5s;
        >a{
          display: block;
        }

        &:hover{
          transition: top,box-shadow .5s,.5s;
          top: -7px;
          box-shadow: 0px 4px 15px #ddd;
          //.item-explain{
          //  display: block;
          //}
        }
      }

      /*未使用卡卷*/
      .can-use, .used, .no-use{

        .item-line{
          position: absolute;
          top: 0;
          left: 0;
          width: 4px;
          height: 100%;
          background-color: #02b5ac;
        }
        .item-explain{
          display: none;
          position: absolute;
          top: 0;
          left: 4px;
          width: 346px;
          height: 100%;
          color: #fff;
          .item-bg{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #000;
            @include opacity(.70);
          }
          .item-e-t{
            position: absolute;
            top: 16px;
            left: 20px;
            width: 16px;
            font-size: 16px;
            font-weight: bold;
          }
          .item-e-c{
            position: absolute;
            top: 15px;
            left: 44px;
            font-size: 12px;
            line-height: 17px;
          }
        }
        .item-con{
          height: 128px;
          padding: 0 59px 0 24px;
          border-top: 1px solid #eeeeee;
          border-bottom: 1px solid #eeeeee;
          .con-top{
            height: 86px;
            border-bottom: 1px dashed #f2f2f2;
            .con-top-le{
              float: left;
              margin-top: 13px;
              width: 30%;
              height: 46px;
              line-height: 46px;
              font-size: 46px;
              color: #02b5ac;
              font-weight: bold;
              span{
                font-size: 20px;
              }
              .unit{
                font-size: 24px;
              }
            }
            .con-top-ri{
              float: right;
              width: 70%;
              text-align: right;
              color: #666666;
              .con-top-ri-top{
                margin-top: 19px;
                font-size: 14px;
                font-weight: bold;
                line-height: 14px;
                @include text-ellipsis;
              }
              .con-top-ri-mid{
                width: 160px;
                margin-top: 9px;
                margin-left: 54px;
                font-size: 12px;
                line-height: 12px;
                @include text-ellipsis;
              }
              .con-top-ri-bot{
                margin-top: 9px;
                font-size: 12px;
                line-height: 12px;
                @include text-ellipsis;
              }
            }
          }
          .con-bot{
            font-size: 12px;
            line-height: 12px;
            margin-top: 14px;
            .con-bot-le{
              color: #666666;
              float: left;
              width: 130px;
              @include text-ellipsis;
            }
            .con-bot-ri{
              float: right;
              color: #02b5ac;
              width: 170px;
              @include text-ellipsis;
              text-align: right;
            }
          }
        }
        .item-btns{
          position: absolute;
          top: 0;
          right: 0;
          width: 16px;
          padding: 0 12px;
          height: 100%;
          background-color: #02b5ac;
          display:table;
          overflow:hidden;
          &:hover{
            background-color: #01a099;
          }
          .wrap{
            vertical-align:middle;
            display:table-cell;
            _position:absolute;
            _top:50%;
            span{
              font-size: 16px;
              font-weight: bold;
              _position:relative;
              _top:-50%;
              color: #fff;
              text-decoration: none;
            }
          }
        }
      }
      /*已失效卡卷*/
      .used{
        cursor: default;
        .item-line{
          background-color: #999999;
        }
        .item-con{
          .con-top{
            .con-top-le{
              color: #999999;
            }
            .con-top-ri{
              color: #999999;
            }
          }
          .con-bot{
            .con-bot-le{
              color: #999999;
            }
            .con-bot-ri{
              color: #999999;
            }
          }
        }
        .item-btns{
          background-color: #999999;
          &:hover{
            background-color: #999999;
          }
        }
        &:hover{
          transition: none !important;
          top: 0 !important;
          box-shadow: none;
        }

      }
      /*.can-use{
        .item-line{
          position: absolute;
          top: 0;
          left: 0;
          width: 4px;
          height: 100%;
          .line-dd{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #0080cc;
          }
          .line-kj{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #02b5ac;
          }
          .top{
            top: 0;
            height: 50%;
          }
          .bot{
            top: 50%;
            height: 50%;
          }
        }
        .item-le{
          float: left;
          width: 198px;
          height: 128px;
          padding-left: 22px;
          border-top: 1px solid #eeeeee;
          border-bottom: 1px solid #eeeeee;
          .le-name{
            font-size: 14px;
            line-height: 14px;
            margin-top: 19px;
            color: #666666;
            @include text-ellipsis;
            span{
              font-weight: bold;
            }
          }
          .le-period{
            font-size: 12px;
            line-height: 12px;
            margin-top: 11px;
            color: #7a7a7a;
          }
          .le-money{
            font-size: 12px;
            line-height: 38px;
            margin-top: 30px;
            color: #7a7a7a;
            border-top: 1px dashed #f7f7f7;
          }
        }
        .item-ri{
          position: relative;
          float: right;
          width: 170px;
          height: 100%;
          text-align: center;
          .ri-dd{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #0080cc;
            color: #fff;
            z-index: 1;
          }
          .ri-kj{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #02b5ac;
            color: #fff;
            z-index: 0;
          }

          .usd{
            color: #999999;
            background-color: #cccccc;
            a{
              color: #999999 !important;
              border: 1px solid #999999 !important;
            }
            .beads{
              div{
                background-color: #cccccc;
              }
            }
          }

          .le{
            left: 0;
            width: 50%;
          }
          .ri{
            left: 50%;
            width: 50%;
          }
          .tit{
            max-width: 90%;
            margin: auto;
            margin-top: 19px;
            line-height: 18px;
            .unit{
              font-size: 14px;
            }
            .money{
              font-size: 18px;
              font-weight: bold;
            }
            @include text-ellipsis;
          }
          .tag{
            margin-top: 9px;
            line-height: 12px;
            font-size: 12px;
          }
          .btns{
            margin-top: 39px;
            line-height: 20px;
            a{
              font-size: 12px;
              padding: 3px 8px;
              color: #fff;
              border: 1px solid #fff;
              border-radius: 3px;
            }
          }
          .beads{
            position: absolute;
            width: 6px;
            height: 100%;
            right: -3px;
            top: 0;
            div{
              width: 6px;
              height: 6px;
              border-radius: 6px;
              margin-bottom: 6px;
              background-color: #0080cc;
            }
          }
        }
      }*/
    }
  }
}

//使用规则弹框样式start
.prompt-userule {
  padding:0px;
  margin-top:-10px;
  .prompt-userule-list {
    margin:0px 0px 30px;
    max-height: 335px;
    overflow-y:scroll ;
  }
  .prompt-userrule-item {
    padding:16px 0px 14px;
    border-bottom:1px dashed #eee;
    text-align: left;
  }
  .noborder {
    border:none;
  }
  .prompt-userule-title{
    .line {
      float: left;
      margin-left:-100%;
      width:0px;
      height: 16px;
      margin-top:4px;
      border-left:6px solid #3dbbf9;
    }
    a {
      color:#ea544a;
    }
  }
  .prompt-userule-title-text-wrap {
    float: left;
    width: 100%;
  }
  .prompt-userule-title-text {
    font-size:16px;
    line-height: 24px;
    padding-left:16px;
    color:#666;
    display: block;
  }
  .prompt-userule-con {
    font-size: 14px;
    color:#999;
    line-height: 25px;
    padding:10px 0px 0px 13px;
  }
  .prompt-userule-con-text1 {
    display: block;
    @include text-ellipsis;
  }
  .prompt-rule-know {
    position: relative;
    display: inline-block;
    height:34px;
    border: 1px solid #f3f3f3;
    border-radius: 3px;
    color: #999;
    line-height:34px;
    text-align:center;
    margin:0 auto;
    padding: 0 30px;
    font-size:15px;
    cursor:pointer;
    text-decoration: none;
    left: 23px;
    &:hover{
      background-color: #999;
      color: #fff;
    }
  }
}
//使用规则弹框样式end 
//2017.06.20 zhangchunyan
.col-choice{
  height: 24px;
  padding: 8px 20px 7px 30px;
  background: #f5f5f5;
  position: relative;
  z-index: 10;
}
.col-choice-abox{
  float: left;
  a{
    float: left;
    width: 75px;
    height: 22px;
    line-height: 22px;
    font-size: 12px;
    border: 1px solid #f5f5f5;
    border-radius: 30px;
    color: #999999;
    margin-right: 32px;
    text-align: center;
    cursor: pointer;
  }
  a:hover{
    text-decoration: none;
  }
  .current{
    color: #eb5f55;
    border: 1px solid #d8271c;
  }
}
.col-choice-checked{
  float: right;
  height: 24px;
}
.col-choice-checked-check{
  height: 24px;
  float: left;
  line-height: 24px;
  font-size: 12px;
  color: #999;
  margin-left: 30px;
}
.col-choice-checked .col-choice-checked-check em {
  display: inline-block;
  letter-spacing: normal;
  word-spacing: normal;
  width: 17px;
  height: 17px;
  background: url(/styles/images/common/icons.png) no-repeat 0 -108px;
  margin: 3px 5px 0 0;
  vertical-align: top;
}
.col-choice-checked .col-choice-checked-check:hover{
  text-decoration: none;
}
.col-choice-checked .col-choice-checked-check:hover em,.col-choice-checked .col-choice-checked-check.active em{
  background: url(/styles/images/common/icons.png) no-repeat -32px -108px;
}


.col-choice-select{
  float: right;
  height: 24px;
  width: 138px;
}
.ui-select{
  position: relative;
}
.ui-select-box{
  width: 118px;
  height: 22px;
  padding: 0 8px 0 10px;
  border: 1px solid #dcdcdc;
  background-color: #fff;
}
.ui-select-txt{
  float: left;
  width: 108px;
  height: 22px;
  line-height: 22px;
  color: #333;
  font-size: 12px;
  @include text-ellipsis;
}
.ui-select-triangle{
  float: right;
  width: 0;
  height: 0;
  border: 5px solid #fff;
  border-top-color: #8b8b8b;
  margin-top: 10px;
}
.ui-select-hide{
  position: absolute;
  display: none;
  width: 136px;
  background-color: #fff;
  left: 0;
  top: 23px;
  border: 1px solid #dcdcdc;
  background-color: #fff;
  max-height: 300px;
  overflow-y: auto;
  a{
    display: block;
    padding-left: 10px;
    height: 24px;
    line-height: 24px;
    @include text-ellipsis;
    font-size: 12px;
    color: #333;
    &:hover{
      background-color: #2994fc;
      color:#fff;
      text-decoration: none;
    }
  }
  .ui-select-hide-current{
    background-color: #2994fc;
    color:#fff;
  }
}
.ui-select-focus{
  .ui-select-box{
    border-color: #2994fc;
  }
  .ui-select-triangle{
      width: 0;
      height: 0;
      border: 5px solid #fff;
      border-bottom-color: #2994fc;
      margin-top: 4px;
  }
  .ui-select-hide{
    border-color: #2994fc;
  }
}
//2017.06.20 zhangchunyan
// 卡卷改版样式
.item-top{
  width: 266px;
  height: 141px;
  background:url(/styles/images/loans/licaiicon.png) -300px -100px no-repeat;
  position: relative;
  overflow: hidden;
  .item-top-interest{
    width: 100%;
    font-size: 34px;
    color: #fff;
    text-align: center;
    font-weight: bolder;
    margin-top: 48px;
    span{
      font-size: 20px;
    }
  }
  .item-top-name{
    width: 100%;
    font-size: 14px;
    color: #fff;
    text-align: center;
    font-weight: bolder;
    margin-top: 19px;
  }
  .item-top-title{
    width: 72px;
    height: 72px;
    background:url(/styles/images/loans/licaiicon.png) -300px 0px no-repeat;
    position: absolute;
    left: 0;
    top:0;
    z-index: 2;
  }
  .item-top-lable{
    width: 71px;
    height: 72px;
    background:url(/styles/images/loans/double11.png) 0px 0px no-repeat;
    position: absolute;
    left: 0;
    top:0;
  }
}
.page_section .item-bottom{
  width: 266px;
  height: 182px;
  background: #f9f9f9;
  padding-top: 26px;
  overflow: hidden;
  .item-bottom-text{
    font-size: 12px;
    padding-left: 15px;
    color: #9a9a9a;
    margin-bottom: 14px;

  }
  .item-bottom-btn{
    display: block;
    width: 109px;
    height: 34px;
    border: 1px solid #1db4ab;
    color: #1db4ab;
    text-align: center;
    line-height: 34px;
    border-radius: 50px;
    font-size: 12px;
    margin: 20px auto 0px;
    cursor: pointer;
  }
  .item-bottom-btn:hover{
    text-decoration: none;
    background: #1db4ab;
    color: #fff;
  }
  .item-bottom-rule{
    font-size: 12px;
    width: 145px;
    color: #9a9a9a;
    display: block;
    margin: 13px auto 0px;
    cursor: pointer;
  }
  .item-bottom-rule:hover{
    color: #57bbfe;
  }
}
.used{
  .item-top{
    width: 266px;
    height: 141px;
    background:url(/styles/images/loans/licaiicon.png) 0px -100px no-repeat;
    position: relative;
    overflow: hidden;
  }
  .item-bottom{
    position: relative;
    .item-bottom-used{
      position: absolute;
      width: 78px;
      height: 62px;
      background:url(/styles/images/loans/licaiicon.png) -100px 0px no-repeat;
      right: 12px;
      top: 120px;
    }
    .item-bottom-expire{
      position: absolute;
      width: 78px;
      height: 62px;
      background:url(/styles/images/loans/licaiicon.png) 0px 0px no-repeat;
      right: 12px;
      top: 120px;
    }
  }

}
.ptname{
  font-size: 14px;
  color: #999999;
  text-decoration: none;
}
.ptname:hover{
  color: #0080cc;
}
.prompt-wrapper-look{
  width: 100%;
  text-align: center;
  font-size: 12px;
  color: #999999;
  display: block;
  margin-top: 16px;
  cursor: pointer;
}
.brand1111-icon{
  position: absolute;
  top:0;
  left: 0;
}