@charset "utf-8";

/* reset */
body, dl, dd, h1, h2, h3, h4, h5, h6, p, form, ol, ul, textarea, button, input, select {
    margin: 0;
}
ol, ul, dd, td, th, textarea, button, input, select {
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: 400;
}
body {
    font: 12px/1.5 "Microsoft Yahei", SimSun, arial, sans-serif;
}
ol, ul {
    list-style: none;
}
a, button, input, textarea, select {
    outline: 0;
    color: inherit;
}
button,
input,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}
button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
button {
    overflow: visible;
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
input::-moz-placeholder, textarea::-moz-placeholder {
    color: #b8b8b8;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #b8b8b8;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #b8b8b8;
}
input::-ms-clear {
    display: none;
}
a {
    text-decoration: none;
}
img {
    vertical-align: top;
    border: 0 none;
}
textarea {
    resize: none;
    overflow: auto;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
th {
    text-align: center;
}
/* clearfix */
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

/* common */
html, body {
    width: 100%;
    height: 100%;
}

body {
    font-size: 14px;
}
a:hover {
    color:#fa8919;
}
.fl {
    float:left;
}
.fr {
    float:right;
}
.tc {
    text-align: center;
}
.tr {
    text-align: right;
}
.tl {
    text-align: left;
}
.clear {
    clear: both;
}

/* unit */
.u-hide {
    text-indent:-9999em;
    overflow:hidden;
}
.u-dn {
    display: none;
}
.u-dib {
    display:inline-block;
}
.u-vam {
    vertical-align:middle;
}
.u-placeholder {
    color: #b8b8b8;
}
.u-fs16 {
    font-size: 16px;
}
.u-link {
    color: #fa8919;
}
.u-link:hover {
    text-decoration: underline;
}
.u-back {
    width: 40px;
    height:14px;
    margin-top: 11px;
    background: url(../img/back.png) 0 0 no-repeat;

    font-size: 0;
    line-height: 0;
}
.u-dot {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.u-star {
    color: #ee1515;
}
.u-star-indent {
    display: inline-block;
    width: 6px;
    margin-left: -6px;
}

/* color */
.c-red {
    color:#ee1515;
}
.c-orange {
    color: #f0920c;
}
.c-green {
	color: #4dc12a;
}
.c-red {
    color:#f1470c;
}
.c-blue {
    color:blue;
}
.c-high {
    color: #838788;
}
.c-label {
    color: #a4a4a6;
}

/* width % */
.wb10 {
    width: 10%;
}
.wb16 {
    width: 16.66%;
}
.wb20 {
    width: 20%;
}
.wb25 {
    width: 25%;
}
.wb30 {
    width: 30%;
}
.wb35 {
    width: 35%;
}
.wb33 {
    width: 33.33%;
}
.wb40 {
    width: 40%;
}
.wb45 {
    width: 45%;
}
.wb50 {
    width: 50%;
}
.wb55 {
    width: 55%;
}
.wb60 {
    width: 60%;
}
.wb70 {
    width: 70%;
}
.wb75 {
    width: 75%;
}
.wb80 {
    width: 80%;
}
.wb90 {
    width: 90%;
}
.wb100 {
    width: 100%;
}

/* width */
.w40 {
    width: 40px;
}
.w50 {
    width: 50px;
}
.w60 {
    width: 60px;
}
.w70 {
    width: 70px;
}
.w78 {
    width: 78px;
}
.w80 {
    width: 80px;
}
.w84 {
    width: 84px;
}
.w90 {
    width: 90px;
}
.w100 {
    width: 100px;
}
.w105 {
    width: 105px;
}
.w110 {
    width: 110px;
}
.w115 {
    width: 115px;
}
.w120 {
    width: 120px;
}
.w128 {
    width: 128px;
}
.w130 {
    width: 130px;
}
.w132 {
    width: 132px;
}
.w134 {
    width: 134px;
}
.w140 {
    width: 140px;
}
.w145 {
    width: 145px;
}
.w149 {
    width: 149px;
}
.w150 {
    width: 150px;
}
.w160 {
    width: 160px;
}
.w166 {
    width: 166px;
}
.w170 {
    width: 170px;
}
.w178 {
    width: 178px;
}
.w180 {
    width: 180px;
}
.w192 {
    width: 192px;
}
.w200 {
    width: 200px;
}
.w210 {
    width: 210px;
}
.w220 {
    width: 220px;
}
.w230 {
    width: 230px;
}
.w240 {
    width: 240px;
}
.w250 {
    width: 250px;
}
.w270 {
    width: 270px;
}
.w290 {
    width: 290px;
}
.w320 {
    width: 320px;
}
.w350 {
    width: 350px;
}
.w390 {
    width: 390px;
}
.w540 {
    width: 540px;
}
.w570 {
    width: 570px;
}

.mw740 {
	max-width: 740px;
}
.mw760 {
    max-width: 760px;
}

/* margin */
.mt8 {
    margin-top: 8px;
}
.mt10 {
    margin-top:10px;
}
.mt20 {
    margin-top:20px;
}
.mt13 {
    margin-top:13px;
}
.mt30 {
    margin-top:30px;
}

.mr5 {
	margin-right:5px;
}

.mb10 {
    margin-bottom:10px;
}
.mb20 {
    margin-bottom:20px;
}
.mb35 {
    margin-bottom:35px;
}
.mr45 {
    margin-right: 45px;
}
.mr80 {
    margin-right: 80px;
}
.ml20 {
    margin-left: 20px;
}
.ml40 {
    margin-left: 40px;
}
/* padding */
.pt10 {
    padding-top:10px;
}
.pt20 {
    padding-top:20px;
}
.pt30 {
    padding-top:30px;
}

.pb10 {
    padding-bottom:10px;
}
.pb20 {
	padding-bottom:20px;
}
.pb30 {
	padding-bottom:30px;
}

/* line-height */
.lh28 {
    line-height: 28px;
}

/* ico */
.ico {
    background-repeat:no-repeat;
    overflow: hidden;
}

/* g-head */
.g-head {
    position: relative;
    z-index: 1;
    height:69px;
    padding:0 15px 0 30px;
    border-bottom:1px #fa8919 solid;
    min-width: 960px;
}

/* m-totop */
.m-totop {
    display: none;
    width: 42px;
    height: 42px;
    position: fixed;
    bottom: 20px;
    z-index: 99999;
    background: url(../img/backtop.png) 0 0 no-repeat;
}
.m-totop:hover {
    background-position: -56px 0;
}

/*m-logo*/
.m-logo {
    margin-top:23px;
    font:18px/24px 'Microsoft Yahei';
    color:#7f8286;
}
.m-logo .ico-logo {
    margin-right:21px;
}
.m-logo .msg {
    position:relative;
    top:4px;
}
.m-logo .logo {
    margin-right: 21px;
    width: 86px;
}
.m-logo .msg:after {
    content: '';
    position:absolute;
    top:3px;
    left:-11px;
    width:1px;
    height:18px;
    background:#b2b2b2;
}
.m-login {
    margin-top:4px;
    color:#9d9d9d;
}
.m-login .help {
    padding:0 15px;
    margin-top: 21px;
}
.m-login .help .pic {
    margin-right: 5px;
}
.m-login .help .name {
    color: #9d9d9d;
    font-size: 12px;
}
.m-login .help .name:hover {
    color: #fa8919;
}
.m-login .avatar {
    position: relative;
    margin-right: 5px;
    background: #fff;
}
.m-login .avatar .info {
    border: 1px #fff solid;
    padding: 10px;
}
.m-login .avatar .handle {
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    top: 62px;
    text-align: center;
    font-size: 12px;
    line-height: 38px;
    background: #fff;
}
.m-login .avatar .handle .inner {
    border: 1px #e5e5e5 solid;
    border-top: 0 none;
}
.m-login .avatar .handle a {
    color: #9d9d9d;
}
.m-login .avatar .handle a:hover,
.m-login .active .name {
    color: #fa8919;
}
.m-login .avatar .pic {
    width:40px;
    height:40px;
    overflow: hidden;
    margin-right:10px;
    border-radius:50%
}
.m-login .avatar .name {
    position:relative;
    padding-right:13px;
    margin-top: 7px;
    height: 26px;
    line-height: 26px;
    background: url(../img/arr_bottom.png) right 10px no-repeat;
}
.m-login .active .info {
    border-color: #e5e5e5;
}
.m-login .active .handle {
    display: block;
}
.m-login .line {
    position:relative
}
.m-login .line:before {
    content: '';
    position:absolute;
    top:3px;
    left:0;
    width:1px;
    height:14px;
    background:#e5e5e5
}

/*m-coverimg*/
.m-coverimg {
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

/*m-search*/
.m-search {
    position:relative;
    width:438px;
    height:39px;
    margin:15px auto 0;
    border-bottom:1px solid #f0f0f0;
    background:#fff;
}
.m-search .search {
    background: none;
    border:0;
    width:405px;
    padding:12px 4px 10px 29px;
}
.m-search .query {
    position:absolute;
    top:14px;
    left:5px;
    overflow: hidden;
}
.m-search .query .btn {
    width: 100%;
    overflow: visible;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
}
.m-search .datalist {
    position: absolute;
    left: 0;
    top: 36px;
    width: 100%;
    background: #fff;
    border-top: 1px #e5e5e5 solid;
    border-bottom: 1px #e5e5e5 solid;
    color: #9d9d9d;
}
.m-search .datalist li {
    border-left: 1px #e5e5e5 solid;
    border-right: 1px #e5e5e5 solid;
}
.m-search .datalist a {
    display: block;
    padding: 0 10px;
    height: 36px;
    line-height: 36px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #9d9d9d;
}

.m-search .datalist a:hover {
    background: #f4f4f4;
    color: #fa8919;
    text-decoration: none;
}

/*g-layout*/
.g-layout {
    min-width: 1000px;
    height: 100%;
}
/* site layout */
.g-site-wrap,
.g-site-body,
.g-site-side,
.g-site-main {
    height: 100%;
}
.g-site-wrap,
.g-site-body {
    overflow: hidden;
    width: 100%;
}
.g-site-wrap {
    background: #fff;
}
.g-site-top {
    position: relative;
    height: 70px;
    z-index: 2;
}
.g-site-body {
    position: relative;
    background: #f4f4f4;
}
.g-site-side {
    position: absolute;
    top: 0;
    left: 0;
    width: 90px;
    background: #fff;
}
.g-site-main {
    position: relative;
    margin-left: 90px;
    overflow: auto;
}

/*m-layout*/
.m-layout {
    width: 1000px;
    margin: 0 auto;
}
/*m-leftbar*/
.m-leftbar {
    text-align: center;
    padding: 3px 0;
}
.m-leftbar .item,
.m-leftbar .name,
.m-leftbar .pic {
    display: block;
}
.m-leftbar .item {
    position: relative;
    padding: 5px 0;
}
.m-leftbar .item:hover {
    text-decoration: none;
}
.m-leftbar .pic {
    height: 34px;
    line-height: 34px;
}
.m-leftbar .pic .ico {
    display: inline-block;
    vertical-align: bottom;
}
.m-leftbar .pic .now {
    display: none;
}
.m-leftbar .item .name {
    color: #6d7077;
    font-size: 12px;
    line-height: 26px;
}
.m-leftbar .item .num {
    position: absolute;
    top: 10px;
    left: 51px;
    height: 18px;
    line-height: 18px;
    min-width: 10px;
    padding: 0 4px;
    background: #f73939;
    color: #fff;
    border-radius: 9px;
    font-family: arial;
}

.m-leftbar .active {
    position: relative;
}
.m-leftbar .active:after {
    content:' ';
    position: absolute;
    top:50%;
    margin-top: 1px;
    right:-1px;
    width:0;
    height:0;
    border-width:7px;
    border-right: 9px;
    border-color:transparent #f4f4f4 transparent transparent;
    border-style:solid;
}
.m-leftbar .active .item .def {
    display: none;
}
.m-leftbar .active .item .now {
    display: inline-block;
}
.m-leftbar .active .item .name,
.m-leftbar .item:hover .name {
    color: #fa8919;
}
.m-leftbar .item:hover .def {
    display: none;
}
.m-leftbar .item:hover .now {
    display: inline-block;
}
/*m-wrap*/
.m-wrap {
    background: #fff;
    margin-bottom: 20px;
    overflow: hidden;
}
/*m-title2*/
.m-title2 {
    position: relative;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    color: #46494c;
    padding-left: 12px;
    margin: 10px 0;
}
.m-title2:before {
    content: ' ';
    position: absolute;
    left: 0;
    top: 10px;
    width: 2px;
    height: 16px;
    background: #fa8919;
}

/*m-btn*/
button.m-btn,
input[type="submit"].m-btn,
input[type="button"].m-btn {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.m-btn {
    display: inline-block;
    padding: 9px 35px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: top;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 2px;
    color: #333;
    background-color: #fff;
    overflow: visible;
    text-decoration: none;
}

.m-btn-orange {
    color: #fa8919;
    border-color: #fa8919;
}
.m-btn-orange:hover {
    background-color: #fa8919;
    border-color: #fa8919;
    color: #fff;
}

.m-btn-tips,
.m-btn-white {
    color: #929394;
    border-color: #e6e6e6;
}
.m-btn-tips {
    cursor: text;
}
.m-btn-white:hover {
    background-color: #d1d1d1;
    border-color: #d1d1d1;
    color: #fff;
}

.m-btn-group {
    text-align: center;
}
.m-btn-group .m-btn {
    margin: 0 10px 0 7px;
}

/*m-checkbox*/
.m-checkbox {
    overflow: hidden;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    cursor: pointer;
}
.m-checkbox .check-ico {
    margin-top: 1px;
}
.m-checkbox .check ~ .check-on {
    display: none;
}
.m-checkbox .check ~ .check-off {
    display: block;
}
.m-checkbox .check:checked ~ .check-on {
    display: block;
}
.m-checkbox .check:checked ~ .check-off {
    display: none;
}
.m-checkbox .check-txt {
    margin-left: 10px;
    line-height: 16px;
    color: #7f8286;
    *font-size: 12px;
}
.m-checkbox:hover .check-txt {
    color: #333;
}

/* m-check */
.m-check {
    position: relative;
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
    background: url(../img/check.png) 0 -14px no-repeat;
    padding-left: 24px;
    height: 14px;
    line-height:14px;
    font-size: 14px;
    cursor: pointer;
    color: #7f8286;
}
.m-check-on {
    background-position: 0 0;
}
.m-check-dis {
    background-position: 0 -28px;
}
.m-check input {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    opacity:0;
    filter: alpha(opacity=0);
}
.m-check input[disabled] {
    cursor: no-drop;
}

/* m-tags */
.m-tags .tag-item {
    position: relative;
    float: left;
    margin: 0 15px 15px 0;
    height: 38px;
    line-height: 38px;
    border: 1px #e6e6e6 solid;
    background-color: #fff;
    border-radius: 2px;
    max-width: 400px;
}
.m-tags .tag-item .text {
    display: block;
    padding: 0 15px;
    color: #7f8286;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.m-tags .tag-item .close {
    display: none;
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: #fff;
    border-radius: 8px;
    cursor: pointer;
}
.m-tags .tag-item:hover {
    border-color: #ff8e04;
}
.m-tags .tag-item:hover .close {
    display: block;
}

/* m-underline */
.m-underline {
    height:20px;
    line-height:20px;
    color: #7f8286;
	margin: 10px 0;
}
.m-underline .m-check {
    margin-top:3px;
}
.m-underline .underline-input {
    border: 0 none;
    border-bottom: 1px #e6e6e6 solid;
    text-align: center;
    padding: 0 10px;
    margin-left: 3px;
    margin-right: 3px;
}

/*m-input*/
.m-input, .m-select,.m-textarea {
    border: 1px #e6e6e6 solid;
    background: #fff;
    color: #7f8286;
    border-radius: 2px;
}
.m-input:focus,.m-textarea:focus,
.m-select:hover, .m-date:hover, .m-file:hover {
    border-color: #fa8919;
}
.m-input {
    padding: 9px;
    height: 20px;
    line-height: 20px;
}
/*m-textarea*/
.m-textarea {
    padding: 9px;
    line-height: 24px;
	vertical-align: top;
}
/*m-select*/
.m-select {
    height: 40px;
    line-height: 40px;
}
/*m-select-arr */
.m-select-arr {
    position: relative;
}
.m-select-arr:after,
.m-select-arr:before {
    content: ' ';
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -2px;
    border-width: 5px;
    border-style: solid dashed dashed;
}
.m-select-arr:before {
    border-color: #a7a7a7 transparent transparent;
}
.m-select-arr:after {
    border-color: #fff transparent transparent;
    margin-top: -4px;
}
.m-select-line {
    position: relative;
    height: 40px;
    width: 52px;
}
.m-select-line:before {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -1px;
    left: 50%;
    margin-left: -4px;
    width: 8px;
    height: 2px;
    background: #e6e6e6;
}
.m-select-arr .m-input {
    text-indent: 10px;
}

/*m-label*/
.m-label {
    line-height: 40px;
    color: #7f8286;
}

/*m-tab*/
.m-tab {
    overflow: hidden;
}
.m-tab .hd {
    margin: 4px 30px 0;
    line-height: 47px;
    color: #7a7b7d;
    border-bottom: 1px #ebebeb solid;
}
.m-tab .hd li {
    float: left;
    padding: 0 20px;
    cursor: pointer;
}
.m-tab .hd li:hover {
    color: #fa8919;
}
.m-tab .hd .active {
    position: relative;
    color: #fa8919;
    cursor: text;
}
.m-tab .hd li:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -1px;
    left: 0;
    background: #f0920c;
}
.m-tab .hd .active:after {
    width: 100%;
    -webkit-transition: width .3s;
    transition: width .3s;
}
.m-tab .bd .item {
    display: none;
}
.m-tab .bd .active {
    display: block;
}
/*m-table*/
.m-table {
    width: 100%;
    line-height:34px;
    color: #7a7b7d;
}
.m-table-bordered tr:last-child td {
    border-bottom: 0 none;
}
.m-table th,
.m-table td {
    border-bottom: 1px #e6e6e6 solid;
}
.m-table th {
    font-weight: 400;
    text-align: inherit;
    font-size: 14px;
    line-height: 34px;
}
.m-table tr:hover {
    background: #f4f4f4;
}

/*m-pagination*/
.m-pagination {
    overflow: hidden;
    clear: both;
    text-align: center;
    color: #929394;
}
.m-pagination a {
    display: inline-block;
    height: 32px;
    line-height: 32px;
    border: 1px #e6e6e6 solid;
    border-radius: 3px;
    margin: 0 5px;
    color: #9d9d9d;
}
.m-pagination a:hover,
.m-pagination .on {
    color: #fa8919;
    border-color: #fa8919;
    text-decoration: none;
}
.m-pagination .dot:hover {
    cursor: text;
    color: #929394;
    border-color: #e6e6e6;
}
.m-pagination .off,
.m-pagination .off:hover {
    color: #9d9d9d;
    border: 1px #e6e6e6 solid;
    cursor: not-allowed;
}
.m-pagination .list {
    width: 32px;
}
.m-pagination .prev,
.m-pagination .next {
    width: 65px;
}

/*m-loading*/
.m-loading {
    line-height: 20px;
    text-align: center;
    color: #7a7b7d;
}
.m-loading img {
    margin-right: 5px;
}

/* m-date */
.m-date {
    display: block;
    position: relative;
    border: 1px #e6e6e6 solid;
    border-radius: 2px;
    line-height: 18px;
    padding: 10px 34px 10px 10px;
    background-color: #fff;
}
.m-date input {
    border: 0 none;
    background-color: transparent;
    width: 100%;
    color: #7a7b7d;
}
.m-date .data-ico {
    position: absolute;
    top: 11px;
    right: 10px;
}

/* m-file */
.m-file {
    position: relative;
    display: block;
    width: 173px;
    line-height: 18px;
    padding: 10px 25px 10px 10px;
    border: 1px #e6e6e6 solid;
    border-radius: 2px;
    cursor: pointer;
    overflow: hidden;
}
.m-file input,
.m-file-btn input,
.m-file-btn2 input {
    font-size: 5rem;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
}
.m-file .file-ico {
    position: absolute;
    top: 10px;
    right: 10px;
}
.m-file .file-name {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.m-file-btn,.m-file-btn2 {
    position: relative;
	line-height: 40px;
	padding: 0 20px;
	cursor: pointer;
	border-radius: 2px;
	color: #7f8286;
	overflow: hidden;
}
.m-file-btn {
	background-color: #fc6e51;
	color: #fff;
}
.m-file-btn:hover {
	border-color: #ff8e04;
}
.m-file-btn2 {
	color: #f0920c;
}


/* m-popup-box */
.m-popup-box {
    width: 310px;
    border: 1px #e8e8e8 solid;
    border-radius: 2px;
    background-color: #fff;
}
.m-popup-box {
    padding-bottom: 19px;
}
.m-popup-box .m-btn {
    padding-left: 0;
    padding-right: 0;
    width: 110px;
}
.m-popup-box .popup-tips {
    text-align: center;
    color: #7a7b7c;
    font-size: 16px;
    line-height:20px;
    margin: 20px;
}
.m-popup-box .popup-tips-ico {
    display: block;
    margin: 10px auto;
}
.m-popup-box2 .popup-tips-ico {
    margin: 30px auto 18px;
}
.m-popup-box2 .m-btn {
    width: 246px;
}
.m-popup-box2 .popup-tips {
    margin: 0 19px 28px;
}

/*m-popup-form*/
.m-popup-form {
	width: 500px;
	background-color: #fff;
}
.m-popup-form .popup-hd {
	border-top: 2px #fc8a15 solid;
	border-bottom: 1px #f1f1f1 solid;
	height: 55px;
	position: relative;
	padding: 0 20px;
}
.m-popup-form .popup-title {
	position: relative;
	line-height: 55px;
	color: #636363;
	padding-left: 11px;
}
.m-popup-form .popup-title:after {
	content: ' ';
	position: absolute;
	top: 20px;
	left: 0;
	width: 3px;
	height: 15px;
	background-color: #f88818;
	overflow: hidden;
}
.m-popup-form .popup-close {
	position: absolute;
	top: 20px;
	right: 20px;
}
.m-popup-form .popup-bd {
	padding: 0 20px;
}
.m-popup-form .popup-tips {
	color: #ccc;
	line-height: 24px;
	padding: 5px 0;
}
.m-popup-form .popup-form {
	margin-bottom: 10px;
}
.m-popup-form .popup-list {
	padding-bottom: 10px;
}
.m-popup-form .country {
	width: 458px;
}
.m-popup-form .address,
.m-popup-form .purpose {
	width: 440px;
}
.m-popup-form .purpose {
	height: 60px;
}

.m-popup-form .popup-list dt {
	line-height: 34px;
	color: #7f8286;
}
.m-popup-form .popup-ft {
	padding-bottom: 20px;
}
.m-popup-form .popup-ft .m-btn {
	margin: 0 10px;
}

/* simplemodal-data */
.simplemodal-wrap,
.simplemodal-data {
    background: #fff;
    border-radius: 2px;
}
.simplemodal-data .hd {
    position: relative;
    height: 40px;
    line-height: 40px;
    color: #666;
    padding: 0 40px 0 15px;
    border-bottom: 1px #f0f0f0 solid;
}
.simplemodal-data .hd .title {
    font-size: 14px;
}
.simplemodal-data .hd .close {
    position: absolute;
    width: 40px;
    top: 0;
    right: 0;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color: #d2d2d2;
    font-family: Helvetica, Arial, sans-serif;
}
.simplemodal-data .hd .close:hover {
    color: #989898;
}
.simplemodal-data .bd {
    padding: 20px 0;
    text-align: center;
}
.simplemodal-data .m-tips {
    line-height: 28px;
    margin-bottom:20px;
    color: #666;
}

