@Fcharset "UTF-8";
@import '../base/mobileUtils';
@import '../base/utils';
@import '../base/mreset';
@import '../base/grid';
@import '../mod/dialog';
@import '../inc/m_ui';
html{
  height: 100%;
}
body{
  height: 100%;
}
em{
  font-style: italic;
}
.qt-mt10{
  margin-top: px2rem(10px);
}
.qt-mt20{
  margin-top: px2rem(20px);
}
.qt-mt25{
  margin-top: px2rem(25px);
}
.qt-mt40{
  margin-top: px2rem(40px);
}
.qt-mb30{
  margin-bottom: px2rem(30px);
}
.qt-mt50{
  margin-top: px2rem(50px);
}
.qt-pt15{
  padding-top: px2rem(15px);
}
.qt-pt30{
  padding-top: px2rem(30px);
}
.qt-ml30{
  margin-left: px2rem(28px);
}
.qt-mr30{
  margin-right: px2rem(28px);
}
.qt-pt60{
  padding-top: px2rem(60px);
}
.qt-mb40{
  margin-bottom: px2rem(40px);
}
.qt-mb45{
  margin-bottom: px2rem(45px);
}
.qt-ml20{
  margin-left: px2rem(24px);
}
.qt-mr20{
  margin-right: px2rem(30px);
}
.qt-m0{
  margin: 0;
}
html{
  height: 100%;
}
body{
  height: 100%;
  background: #5f01b8;
}
header{
  width: 100%;
  height: px2rem(70px);
  background:#be1fed;
  .marqee{
	width: px2rem(750px);
	margin: 0 auto;
	height: px2rem(70px);
	position:relative;
	top:0;
	left:0;
	overflow: hidden;
  }
  ul{

	position:absolute; top:0; left:0;
  }
  .item{
	color:#fffc00;
	font-size: px2rem(20px);
	float: left;
	padding-right: px2rem(20px);
	line-height: px2rem(70px);
  }
}
section{
  background: #5f01b8 url(/styles/images/topic/festival_banner.png) no-repeat center 0;
  background-size: px2rem(750px) px2rem(382px);
  overflow: hidden;
}
.banner{
  width: 100%;
  height: px2rem(318px);
}
.qt-purple{
  background-color: rgba(65,0,125,0.76);
  margin: 0 px2rem(30px);
  padding: px2rem(20px);
  height: 100%;
}
.notice{
  font-size: px2rem(30px);
  color: #fff;
  text-align: center;
  height: px2rem(71px);
  line-height: px2rem(71px);
  margin-bottom: px2rem(20px);
  padding-left:  px2rem(20px);
  background:url(/styles/images/topic/mreg.png) no-repeat px2rem(40px) 0;
  background-size: px2rem(70px) px2rem(70px);
}
.regbtn{
  display: block;
  margin: 0 auto;
  font-size: px2rem(36px);
  color: #fff;
  height: px2rem(85px);
  line-height: px2rem(85px);
  text-align: center;
  width: px2rem(460px);
  background: url(/styles/images/topic/mbgbtn.png) no-repeat 0 0;
  background-size: px2rem(460px) px2rem(85px);
  &:hover{
	text-decoration:none;
  }
}
.calendar{
  width: px2rem(593px);
  margin: px2rem(35px) auto 0;
  height: px2rem(299px);
  background: url(/styles/images/topic/mbgcalendar.png) no-repeat 0 0;
  background-size: px2rem(593px) px2rem(299px);
  li{
	float: left;
	width: px2rem(98px);
	text-align: center;
	height: px2rem(99px);
	line-height: px2rem(99px);
	font-size: px2rem(40px);
	color:#fff;
  }
  .over{
	background: url(/styles/images/topic/mcheck.png) no-repeat px2rem(30px) px2rem(30px);
	background-size: px2rem(36px) px2rem(36px);
  }
  .none{
	opacity: 0.46;
  }
}
.nav{
  margin: 0 auto;
  background:url(/styles/images/topic/festival_tab.png) no-repeat 0 0;
  background-size: contain;
  position: relative;
  height: px2rem(62px);
  .runner{
	position: absolute;
	width: px2rem(190px);
	height: px2rem(62px);
	top: 0;
	background:url(/styles/images/topic/festival_step.png) no-repeat 0 0;
	background-size: contain;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
  }
  .runner.step1{
	left: px2rem(20px);
  }
  .runner.step2{
	left: px2rem(159px);
  }
  .runner.step3{
	left: px2rem(310px);
  }
  .runner.step4{
	left: px2rem(460px);
  }
  .wrap{
	width: 100%;
	height: px2rem(62px);
	position: absolute;
	top: 0;
	left: 0;
  }
  .inner{
	padding-left:px2rem(34px);
	height: px2rem(62px);
  }
  a{
	float:left;
	width:px2rem(150px);
	height:px2rem(62px);
	line-height:px2rem(62px);
	color:#fff;
	font-size:px2rem(25px);
	text-align: center;
	font-weight: bold;
	&:link{
	  text-decoration: none;
	}
  }
  a.txt-ind1{
	text-indent: px2rem(-25px);
  }
  a.txt-ind2{
	text-indent: px2rem(-22px);
  }
  a.txt-ind3{
	text-indent: px2rem(-14px);
  }
  a.txt-ind4{
	text-indent: px2rem(-10px);
  }
}

.title{
  width: 100%;
  .hd{
	text-align: center;
	font-size: px2rem(40px);
	height: px2rem(65px);
	color: #fff;
	font-weight: bold;
  }
  .bd {
	font-size: px2rem(25px);
	text-align: center;
	color: #fff;
	font-weight: bold;
  }
  .name-active{
	height: px2rem(70px);
	background: url(/styles/images/topic/festival_rule.png) no-repeat top center;
	background-size: px2rem(250px) px2rem(70px);
  }
  .explain{
	color: #dcb6ff;
	font-size: px2rem(20px);
	margin-top: px2rem(20px);
	text-align: center;
	max-height: 99999px;
  }
}
.treasure{
  width: 100%;
  height: px2rem(600px);
  background: url(/styles/images/topic/festival_boxbg.png) no-repeat top center;
  background-size: px2rem(670px) px2rem(600px);
  .tit{
	width: 100%;
	height: px2rem(75px);
	text-align: center;
	font-size: px2rem(24px);
	color: #ffffff;
	font-weight: bold;
	line-height: px2rem(75px);
	.num{
	  font-size: px2rem(27px);
	  font-style: italic;
	}
	a{
	  color: #fdbe21;
	  &:link{
		text-decoration: none;
	  }
	}
  }
  .txt{
	width: px2rem(500px);
	height: px2rem(50px);
	margin-left: px2rem(15px);
	margin-right: px2rem(15px);
	border-radius: px2rem(7px);
	font-size: px2rem(24px);
	color: #d2d2d2;
	text-indent: px2rem(15px);
	font-weight: bold;
	margin-bottom: px2rem(25px);
	outline: none;
	border: 0;
  }
  .subcode{
	width: px2rem(670px);
	text-align: center;
	margin: 0 auto;

	.txt{
	  color: #000;
	}
  }
  .activation{
	display: block;
	width: px2rem(290px);
	height: px2rem(50px);
	border: 2px solid #ffffff;
	border-radius: px2rem(7px);
	text-align: center;
	line-height: px2rem(50px);
	color: #ffffff;
	font-weight: bold;
	font-size: px2rem(25px);
	margin: 0 auto;
	text-decoration: none;
	background: rgba(255,255,255,0);
  }
  .treasure-box{
	width: px2rem(670px);
	margin: 0 auto;

	.item{
	  width: px2rem(250px);
	  height: px2rem(336px);
	  color: #ffffff;

	  font-weight: bold;
	  .open-time{
		font-size: px2rem(24px);
		text-align: center;
		margin-bottom: px2rem(5px);
	  }
	  .status-will{
		color: #c0c0c0;
	  }
	  .status-on{
		color: #ffffff;
	  }
	  .box{
		width: px2rem(250px);
		height: px2rem(215px);
		background: url(/styles/images/topic/festival_box.png) no-repeat center center;
		background-size: px2rem(250px) px2rem(215px);
		margin-bottom: px2rem(33px);
	  }
	  .desc{
		font-size: px2rem(20px);
		text-align: center;
		height: px2rem(30px);
		padding-top: px2rem(128px);
	  }
	  .count-down{
		font-size: px2rem(28px);
		text-align: center;
		height: px2rem(32px);
		line-height: px2rem(32px);
	  }
	  .btn{
		display: block;
		width: px2rem(176px);
		height: px2rem(48px);
		font-size: px2rem(21px);
		border-radius: px2rem(7px);
		text-align: center;
		line-height: px2rem(48px);
		margin: 0 auto;
		cursor: pointer;
		box-shadow: 0 px2rem(7px) px2rem(2px) #6f0983;
		&:link{
		  text-decoration: none;
		}
	  }
	  .will{
		background: #c0c0c0;


	  }
	  .on{
		background: #fffc00;
		color: #f9313e;
	  }
	}
  }
}
.luck-draw{
  width: 100%;
  height: px2rem(540px);
  background:url(/styles/images/topic/festival_cj.png) no-repeat top center;
  background-size: px2rem(650px) px2rem(540px);
  overflow: hidden;
  .inner{
	width:px2rem(596px);
	height: px2rem(500px);
	position: relative;
	padding-top: px2rem(40px);
	padding-left: px2rem(27px);
	padding-right: px2rem(27px);
	margin: 0 auto;
  }
  .item{
	width:px2rem(118px);
	height: px2rem(86px);
	background: #fff;
	border-radius:px2rem(5px);
	box-shadow: 0 px2rem(7px) px2rem(2px) #dc13b6;
	position: absolute;
	img{
	  width: 100%;
	  height: 100%;
	}
  }
  .item.pos1{
	top: px2rem(43px);
	left:px2rem(27px) ;
  }
  .item.pos2{
	top: px2rem(43px);
	left:px2rem(147px) ;
  }
  .item.pos3{
	top: px2rem(43px);
	left:px2rem(267px) ;
  }
  .item.pos4{
	top: px2rem(43px);
	left:px2rem(387px) ;
  }
  .item.pos5{
	top: px2rem(43px);
	left:px2rem(507px) ;
  }
  .item.pos6{
	top: px2rem(138px);
	left:px2rem(507px) ;
  }
  .item.pos7{
	top: px2rem(231px);
	left:px2rem(507px) ;
  }
  .item.pos8{
	top: px2rem(322px);
	left:px2rem(507px);
  }
  .item.pos9{
	top: px2rem(414px);
	left:px2rem(507px) ;
  }
  .item.pos10{
	top: px2rem(414px);
	left:px2rem(387px) ;
  }
  .item.pos11{
	top: px2rem(414px);
	left:px2rem(267px) ;
  }
  .item.pos12{
	top: px2rem(414px);
	left:px2rem(147px) ;
  }
  .item.pos13{
	top: px2rem(414px);
	left:px2rem(27px) ;
  }
  .item.pos14{
	top: px2rem(322px);
	left:px2rem(27px);
  }
  .item.pos15{
	top: px2rem(230px);
	left:px2rem(27px) ;
  }
  .item.pos16{
	top: px2rem(138px);
	left:px2rem(27px) ;
  }
  .info{
	width: px2rem(356px);
	height: px2rem(200px);
	padding-top: px2rem(70px);
	background: #fff;
	border-radius:px2rem(5px);
	box-shadow: 0 px2rem(7px) px2rem(2px) #dc13b6;
	position: absolute;
	top: px2rem(138px);
	left: px2rem(148px);
	.btn{
	  display: block;
	  width: px2rem(260px);
	  height: px2rem(70px);
	  font-size: px2rem(30px);
	  text-align: center;
	  line-height: px2rem(70px);
	  color: #ffffff;
	  font-weight: bold;
	  margin: 0 auto;
	  background:url(/styles/images/topic/festival_btn.png) no-repeat top center;
	  background-size: contain;
	  &:link{
		text-decoration: none;
	  }
	}
	.desc{
	  height: px2rem(60px);
	  line-height: px2rem(60px);
	  font-size: px2rem(24px);
	  color: #000;
	  text-align: center;
	  span{
		font-size: px2rem(30px);
		color: #f9313e;
	  }
	}
	.getchance{
	  font-size: px2rem(24px);
	  color: #00baff;
	  text-align: center;

	  a{
		text-decoration: none;
		&:link{
		  text-decoration: none;
		}
		&:visited{
		  text-decoration: none;
		}
	  }
	}
  }

}
.chance{
  width: 100%;
  background: #9902ff;
  color: #fff;
  padding-bottom: px2rem(25px);
  .titw{
	width: 100%;
	height: px2rem(72px);
	background:url(/styles/images/topic/festival_top.png) repeat top center;
	background-size: contain;
	font-size: px2rem(45px);
	line-height: px2rem(72px);
	margin-bottom: px2rem(20px);
	text-indent: px2rem(16px);
  }
  .inner{
	width: px2rem(640px);
	margin: 0 auto;
	font-size: px2rem(25px);
	line-height: px2rem(33px);
	padding: 0 px2rem(14px) 0;
	margin-bottom: px2rem(20px);
  }
  .table{
	padding: 0 px2rem(14px) 0;

	.w180{
	  width: px2rem(180px);
	  border-right: 1px solid #ffffff;
	}
	.w460{
	  width: px2rem(460px);
	}
  }
  table{
	margin: 0 auto;
  }
  td{
	height: px2rem(53px);
	font-size: px2rem(25px);
	text-align: center;
	line-height: px2rem(53px);
  }
  td.on{
	border-right: 1px solid #ffffff;
  }
  tr{
	border:1px solid #fff;
  }
  .btn{
	display: block;
	width: px2rem(290px);
	height: px2rem(86px);
	background: #e9453e;
	color: #fff;
	border: px2rem(1px) solid #b91db2;
	border-radius: px2rem(5px);
	text-align: center;
	margin: 0 auto;
	cursor: pointer;
	&:link{
	  text-decoration: none;
	}
	.hd{
	  font-size: px2rem(30px);
	  padding-top: px2rem(10px);
	}
	.bd{
	  font-size: px2rem(20px);
	  .num{
		color: #04fd0a;
	  }
	}
  }
}
.invited{
  width: 100%;
  height: px2rem(360px);
  background: #9902ff;
  color: #fff;
  .titw{
	width: 100%;
	height: px2rem(72px);
	background:url(/styles/images/topic/festival_top.png) repeat top center;
	background-size: contain;
	font-size: px2rem(45px);
	line-height: px2rem(72px);
	margin-bottom: px2rem(20px);
	text-indent: px2rem(16px);
  }
  .inner{
	width: px2rem(640px);
	margin: 0 auto;
	font-size: px2rem(25px);
	line-height: px2rem(33px);
	padding: 0 px2rem(14px) 0;
	margin-bottom: px2rem(80px);
  }
  .link{
	margin: 0 auto;
	width:px2rem(630px);
	height: px2rem(54px);
	margin-bottom: 48px;
	input{
	  background: #9902ff;
	  border: 1px solid #ffffff;
	  outline: none;
	  font-size: px2rem(28px);
	  text-indent:px2rem(18px);
	  line-height: px2rem(54px);
	  color: #ffffff;
	}
  }
  .btn{
	display: block;
	width: px2rem(290px);
	height: px2rem(86px);
	background: #e9453e;
	color: #fff;
	border: px2rem(1px) solid #b91db2;
	border-radius: px2rem(5px);
	text-align: center;
	margin: 0 auto;
	line-height: px2rem(86px);
	font-size: px2rem(29px);
	cursor: pointer;
	&:link{
	  text-decoration: none;
	}
  }
}
.prize-list{
  padding-top: px2rem(30px);
  margin-bottom: px2rem(55px);
  color: #fff;
  p{
	width: px2rem(300px);
  }
  .w100{
	width: px2rem(100px);
  }
  .w360{
	width: px2rem(250px);
	padding-left: px2rem(55px);
	padding-right: px2rem(55px);
  }
  .w198{
	width: px2rem(198px);
  }
  tr{
	border: 1px solid #ffffff;
  }
  td{
	height: px2rem(70px);
	text-align: center;
	border-right: 1px solid #ffffff;
	font-size: px2rem(24px);
  }

}
.prize-rule{
  padding-bottom: px2rem(38px);
  .tit{
	margin: 0 auto;
	width: px2rem(204px);
	height: px2rem(44px);
	background:url(/styles/images/topic/fest_prizerule.png) repeat top center;
	background-size: contain;
	margin-bottom: px2rem(20px);
  }
  ul{
	margin-bottom: px2rem(33px);
  }
  li{
	line-height: px2rem(70px);
	font-size: px2rem(28px);
	color: #ffffff;
  }
  .btn{

	a{
	  color: #fff;
	  display: block;
	  margin: 0 auto;
	  width: px2rem(458px);
	  height: px2rem(88px);
	  text-align: center;
	  line-height: px2rem(88px);
	  background: #ed2d4c;
	  border-radius: px2rem(10px);
	  font-size: px2rem(40px);
	  &:link{
		text-decoration: none;
	  }
	}

  }
}
.partner-plat{
  overflow: hidden;
  .record{
	width: 100%;
	font-size: px2rem(24px);
	color: #dcb6ff;
	text-align: center;
	padding-top: px2rem(22px);
	padding-bottom: px2rem(28px);
	span{
	  font-size: px2rem(30px);
	  color: #e9453e;
	}
  }
  ul{
	width: px2rem(690px);
  }
  .item{
	width: px2rem(250px);
	height: px2rem(233px);
	padding: px2rem(45px) px2rem(30px) px2rem(33px);
	background: #fff;
	margin-right: px2rem(30px);
	margin-bottom: px2rem(22px);
	.img{
	  a{
		display: block;
		&:link{
		  text-decoration: none;
		}
	  }
	  img{
		width: px2rem(250px);
		height: px2rem(70px);
	  }
	}
	.inner{
	  font-size: px2rem(25px);

	  height: px2rem(95px);
	  line-height: px2rem(95px);
	  a{
		color: #e9463f;
		&:link{
		  text-decoration: none;
		}
	  }
	}
	.btn{
	  a{
		display: block;
		font-size: px2rem(31px);
		width: px2rem(247px);
		height: px2rem(52px);
		background: #ed2d4c;
		text-align: center;
		line-height: px2rem(52px);
		border-radius:px2rem(7px);
		color: #ffffff;
		&:link{
		  text-decoration: none;
		}
	  }

	}
  }
  height: 100%;
}
.gift-list{
  padding-top: px2rem(30px);
  padding-bottom: px2rem(30px);
  ul{
	margin:0 auto;
	width: px2rem(580px);
	height: px2rem(725px);
	background:url(/styles/images/topic/fest_giftlist.png) no-repeat top center;
	background-size: contain;
	padding: px2rem(55px) px2rem(15px) px2rem(20px);
  }
  .item{
	width: px2rem(180px);
	height: px2rem(180px);
	border-radius: px2rem(8px);
	background: rgba(255,255,255,.8);
	margin-right: px2rem(19px);
	margin-bottom: px2rem(60px);
	.img{
	  height: px2rem(140px);
	  font-size: 0;
	}
	.img.mac{
	  background:url(/styles/images/topic/fest_macpro.png) no-repeat top center;
	  background-size: contain;
	}
	.img.iphone6{
	  background:url(/styles/images/topic/fest_iphone6.png) no-repeat top center;
	  background-size: contain;
	}
	.img.watch{
	  background:url(/styles/images/topic/fest_iwatch.png) no-repeat top center;
	  background-size: contain;
	}
	.img.gopro{
	  background:url(/styles/images/topic/fest_gopro.png) no-repeat top center;
	  background-size: contain;
	}
	.img.xm{
	  background:url(/styles/images/topic/fest_xiaomi.png) no-repeat top center;
	  background-size: contain;
	}
	.img.robot{
	  background:url(/styles/images/topic/fest_robot.png) no-repeat top center;
	  background-size: contain;
	}
	.img.car{
	  background:url(/styles/images/topic/fest_car.png) no-repeat top center;
	  background-size: contain;
	}
	.img.jmy{
	  background:url(/styles/images/topic/fest_jiemiayi.png) no-repeat top center;
	  background-size: contain;
	}
	.img.coffe{
	  background:url(/styles/images/topic/fest_coffe.png) no-repeat top center;
	  background-size: contain;
	}
	.inner{
	  height: px2rem(42px);
	  font-size: px2rem(20px);
	  text-align: center;
	  line-height: px2rem(42px);
	  color: #000;
	  padding-top: px2rem(140px);
	}
  }
  .qt-mr0{
	margin-right: 0;
  }
}

.describe{


  color: #fff;
  line-height: px2rem(48px);
  list-style:decimal;
  li{
	list-style:none;
  }
  .active-num{
	color: #ffe400;
	font-size: px2rem(30px);
  }

}
.warnning{
  color: #ffe400;
  font-size: px2rem(24px);
}
.alert{
  display:none;
  position:fixed;
  top:50%;
  left:0;
  width:100%;
  text-align:center;
  z-index: 3;
  span{
	display:inline-block;
	padding:px2rem(30px);
	font-size:px2rem(36px);
	border-radius:px2rem(3px);
	background-color:rgba(71, 79, 89, 0.85);
	color:#fff;
  }
}


.signin{
  width: px2rem(540px);
  height: px2rem(354px);
  border-radius: 5px;
  background-color: #fff;
  text-align: center;
  position: fixed;
  top:50%;
  left: 50%;
  margin-top:px2rem(-177px);
  margin-left: px2rem(-270px);
  z-index: 5;
  li{
	margin-bottom: px2rem(20px);
  }
  .amount{
	padding-top: px2rem(20px);
	color: #ed4545;
	font-size: px2rem(66px);
	line-height: px2rem(80px);
	span{
	  display: inline-block;
	  height: px2rem(60px);
	  width: px2rem(52px);
	  vertical-align: middle;
	  margin-right: px2rem(14px);
	  background: url(/styles/images/topic/msignin.png) no-repeat 0 0;
	}
  }
  .noticef{
	font-size: px2rem(38px);
	color: #ed4545;
  }
  .member{
	font-size: px2rem(22px);
	color: #333;
  }
  .btn{
	display: block;
	height: px2rem(80px);
	line-height: px2rem(80px);
	width: px2rem(500px);
	text-align: center;
	color: #fff;
	font-size: px2rem(36px);
	margin: 0 auto;
	border-radius: 3px;
	background-color: #00ac75;
	&:hover{
	  text-decoration: none;
	}
  }
}
.floatcover{
  display: none;
  position: fixed;
  top:0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.65);
  z-index: 10;
  .alertchest{
	display: none;
	width: px2rem(320px);
	height: px2rem(412px);
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: px2rem(-160px);
	margin-top: px2rem(-206px);
	z-index: 101;
	.chest{
	  width:px2rem(320px);
	  height: px2rem(320px);
	  padding-top: px2rem(70px);
	  margin: 0 auto;
	  text-align: center;
	  img{
		width: px2rem(320px);
		height: px2rem(320px);
	  }
	}
	.info{
	  width: 100%;
	  height: px2rem(35px);
	  padding-top: px2rem(35px);
	  text-align: center;
	  font-size: px2rem(20px);
	  color: #fff;
	}
	.btn{
	  width: px2rem(130px);
	  height: px2rem(40px);
	  background: #fffc00;
	  color: #f9313e;
	  text-align: center;
	  line-height: px2rem(40px);
	  border-radius: px2rem(7px);
	  text-decoration: none;
	}
  }
  .alertbox{
	width: px2rem(500px);
	height: px2rem(500px);
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: px2rem(-250px);
	margin-top: px2rem(-250px);
	.fcode{
	  position: relative;
	  z-index: 100;
	  width: px2rem(500px);
	  height: px2rem(500px);
	  .item{
		width: px2rem(80px);
		height: px2rem(80px);
		border-radius: 50%;
		background: url(/styles/images/topic/fest_fcode.png) no-repeat center center;
		background-size:contain;
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: px2rem(-40px);
		margin-top: px2rem(-40px);
	  }
	}
	.fcode.deg{

	  -webkit-animation:rotate 1s infinite linear;
	  animation:rotate 1s infinite linear;
	  -webkit-animation-iteration-count:1;
	  animation-iteration-count:1;
	  @-webkit-keyframes rotate{
		0%{
		  -webkit-transform:rotate(0deg) scale(1,1);
		  transform:rotate(0deg) scale(1,1);
		}
		100%{
		  -webkit-transform:rotate(360deg) scale(0,0);
		  transform:rotate(360deg) scale(0,0);
		}
	  }
	}

	.chestclose{
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  margin-left: px2rem(-105px);
	  margin-top: px2rem(-75px);
	  width: px2rem(210px);
	  height: px2rem(160px);
	  background: url(/styles/images/topic/fest_closebox.png) no-repeat center center;
	  background-size:contain;
	}
	.chestopen{
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  margin-left: px2rem(-170px);
	  margin-top: px2rem(-225px);
	  width: px2rem(340px);
	  height: px2rem(310px);
	  background: url(/styles/images/topic/fest_openbox.png) no-repeat center center;
	  background-size:contain;
	  opacity: 0;
	}
  }
}
.floatluck{
  position: fixed;
  top:0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.65);
  z-index: 100;
  .alertwindow{
	width: px2rem(648px);
	height: px2rem(444px);
	background: url(/styles/images/topic/festival_alert.png) no-repeat 0 0;
	background-size:px2rem(648px) px2rem(444px);
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: px2rem(-222px);
	margin-left: px2rem(-324px);
	color: #ffffff;

	.info{
	  width: 100%;
	  height: px2rem(82px);
	  padding-top: px2rem(88px);
	  text-align: center;
	  font-size: px2rem(40px);
	  font-weight: bold;
	}
	.desc{
	  padding: 0 px2rem(22px);
	  text-align: center;
	  height: px2rem(35px);
	  color:#f02f45;
	  font-size: px2rem(35px);
	  line-height: px2rem(27px);
	  vertical-align: middle;
	  .prev,.next{
		vertical-align: middle;
		width: px2rem(22px);
		height: px2rem(27px);
		display: inline-block;
	  }
	  .prev{
		background: url(/styles/images/topic/fest_prev.png) no-repeat;
		background-size: contain;
		margin-right: px2rem(5px);
	  }
	  .next{
		background: url(/styles/images/topic/fest_next.png) no-repeat;
		background-size: contain;
		margin-left: px2rem(5px);
	  }
	}
	.inner{
	  width: 100%;
	  height: px2rem(58px);
	  padding-top: px2rem(32px);
	  text-align: center;
	  font-size: px2rem(20px);
	}
	.btn{
	  width: px2rem(250px);
	  height: px2rem(60px);
	  text-align: center;
	  line-height: px2rem(60px);
	  font-size: px2rem(30px);
	  font-weight: bold;
	  background: #f02f45;
	  margin: 0 auto;
	}
	.closewindow{
	  width: px2rem(50px);
	  height: px2rem(50px);
	  position: absolute;
	  top: 0;
	  right: 0;
	}
  }
}
.myshare{
  position: fixed;
  display: none;
  top:0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.65);
  img{
	width: 100%;
  }
}
.myshare2{
  position: fixed;
  display: none;
  top:0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.65);
  img{
	width: 100%;
  }
}
.open-chest{
  position: fixed;
  display: none;
  top:0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.65);
}
.traverse-ban{
  display: none;
  width: 100%;
  padding-top: px2rem(100px);
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  text-align: center;
  font-size: px2rem(60px);
  color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 150;
}
.ui-circle{
  z-index: 110;
}
#step{
  background: url(/styles/images/topic/fest_stepbg.png) no-repeat;
  background-size: contain;
  z-index: 3;
}
.ellipsis{
  overflow:hidden;
  word-break: break-all;
  white-space: nowrap;
  text-overflow: ellipsis;
}