@charset "UTF-8";
@import '../base/mobileUtils';
@import '../base/utils';
@import '../base/mreset';
@import '../base/mobileGrid';
@import '../mod/dialog';
@import '../inc/m_ui';
@import '../inc/header-mobile';
@import '../inc/footer-mobile';

html{
  background-color: #fff;
}
.content{
  padding: 0 px2rem(26px) px2rem(50px);
}
.exchange-tips{
  padding: px2rem(20px) 0;
  line-height: px2rem(60px);
  border-bottom: px2rem(2px) solid #f3f3f3;
}
.exchange-tips-item{
  height: px2rem(60px);
  font-size: px2rem(28px);
  color: #353535;
}
.color-red{
  color: #ff3141;
}
.exchange{
  padding: px2rem(22px) 0;
  border-bottom: px2rem(2px) solid #f3f3f3;
}
.exchange-title{
  height: px2rem(47px);
  line-height: px2rem(47px);
  font-size: px2rem(28px);
  color: #353535;
  padding-bottom: px2rem(20px);
}
.exchange-input-box{
  position: relative;
  line-height: px2rem(80px);
  height: px2rem(80px);
}
.exchange-unit{
  display: block;
  float: left;
  font-size: px2rem(28px);
  line-height: px2rem(115px);
}
.exchange-input{
  display: block;
  float: left;
  width: px2rem(620px);
  line-height: px2rem(80px);
  height: px2rem(80px);
  padding-left: px2rem(16px);
  color: #353535;
  font-weight: bold;
  border:none;
}
.exchange-clear{
  display: none;
  position: absolute;
  top: px2rem(20px);
  right: 0;
  height: px2rem(30px);
  width: px2rem(30px);
  background-image: url(/styles/images/club/mobile/clearinput.png);
  background-size: px2rem(30px) px2rem(30px);
  background-repeat: no-repeat;
}
.exchange-input-btn{
  display: block;
  height: px2rem(90px);
  width: px2rem(600px);
  margin: px2rem(80px) auto px2rem(80px);
  background-color: #ff3141;
  font-size: px2rem(30px);
  line-height: px2rem(90px);
  text-align: center;
  color: #fff;
  //box-shadow: 0 0 px2rem(80px) rgba(255,49,65,0.5);
  -webkit-border-radius: px2rem(10px);
  -moz-border-radius: px2rem(10px);
  border-radius: px2rem(10px);
  transition: all .2s ease-out;
}
.exchange-input-btn.disabled{
  background-color: #808080;
  //box-shadow: 0 0 px2rem(80px) rgba(0,0,0,0.5);
}


.rule-title{
  position: relative;
  height: px2rem(90px);
  line-height: px2rem(90px);
}
.title-line{
  position: absolute;
  left: px2rem(76px);
  top: px2rem(44px);
  width: px2rem(546px);
  height: px2rem(2px);
  background-color: #e3e3ed;
}
.title-word{
  position: relative;
  display: block;
  width: px2rem(170px);
  text-align: center;
  color: #3e3e3e;
  font-weight: bold;
  font-size: px2rem(28px);
  background-color: #fff;
  margin: 0 auto;
}
.rule-list{
  font-size: px2rem(24px);
  line-height: px2rem(34px);
  color: #808080;
}