@charset "UTF-8";
@import '../base/mobileUtils';
@import '../base/utils';
@import '../base/mreset';
@import '../base/mobileGrid';
@import '../mod/dialog';
@import '../inc/m_ui';
@import '../inc/header-mobile';
@import '../inc/footer-mobile';


.person{
  background-color: #fff;
}
.person-info{
  float: left;
  width: px2rem(550px);
  padding: px2rem(40px) 0 px2rem(40px) px2rem(25px)
}
.person-img-box{
  height: px2rem(80px);
  width: px2rem(80px);
  -webkit-border-radius: px2rem(40px);
  -moz-border-radius: px2rem(40px);
  border-radius: px2rem(40px);
  overflow: hidden;
  float: left;
}
.unlogin .person-img-box{
  background-color: #e4e5e8;
  border-color: #e4e5e8;
  background-image: url(/styles/images/club/mobile/unlogin-hd.png);
  background-size: px2rem(45px) px2rem(45px);
  background-position: center;
  background-repeat: no-repeat;
}
.person-img{
  height: px2rem(80px);
  width: px2rem(80px);
}
.person-info-list{
  float: left;
}
.person-info-item{
  float: left;
  padding: 0 px2rem(28px);
  text-align: center;
}
.person-info-value{
  display: block;
  font-size: px2rem(28px);
  height: px2rem(34px);
  line-height: px2rem(34px);
  color: #353535;
  font-weight: bold;
}
.person-info-key{
  display: block;
  font-size: px2rem(24px);
  height: px2rem(28px);
  margin-top: px2rem(18px);
  line-height: px2rem(28px);
  color: #808080;
}
.person-info-link-btn{
  display: block;
  float: left;
  width: px2rem(83px);
  height: px2rem(30px);
  line-height: px2rem(30px);
  background-color: #ff3141;
  color: #fff;
  font-size: px2rem(20px);
  text-align: center;
  -webkit-border-radius: px2rem(15px);
  -moz-border-radius: px2rem(15px);
  border-radius: px2rem(15px);
  margin-top: px2rem(20px);
}
.exchange-record{
  display: block;
  float: left;
  height: px2rem(160px);
  width: px2rem(170px);
  text-align: center;
  border-left: px2rem(3px) solid #e3e3ed;
}
.exchange-record-icon{
  display: block;
  width: px2rem(37px);
  height: px2rem(42px);
  margin: px2rem(40px) auto px2rem(20px);
  background-image: url(/styles/images/club/mobile/book.png);
  background-size: px2rem(37px) px2rem(42px);
  background-repeat: no-repeat;
}
.exchange-record-word{
  display: block;
  height: px2rem(24px);
  line-height: px2rem(24px);
  font-size: px2rem(24px);
  color: #cda76e;

}




.shop-box{
  margin-top: px2rem(20px);
  padding: 0 px2rem(26px) px2rem(20px);
  background-color: #fff;
}

.mod-title{
  height: px2rem(90px);
  line-height: px2rem(90px);
  font-size: px2rem(28px);
  color: #3e3e3e;
  font-weight: bold;
}
.shop-list{
  //padding-top: px2rem(10px);
}
.shop-item{
  display: block;
  border: px2rem(2px) solid #e3e3ed;
}
.shop-item+.shop-item{
  margin-top: px2rem(30px);
}
.shop-img{
  float: left;
  height: px2rem(257px);
  width: px2rem(325px);
}

.shop-info{
  position: relative;
  width: px2rem(366px);
  float: left;
  padding-top: px2rem(30px);
}
.shop-item-tr{
  position: absolute;
  left: px2rem(-13px);
  top: px2rem(116px);
  border-top: px2rem(10px) solid transparent;
  border-right: px2rem(13px) solid #fff;
  border-bottom: px2rem(10px) solid transparent;
}
.shop-title{
  display: block;
  height: px2rem(30px);
  line-height: px2rem(30px);
  font-size: px2rem(28px);
  color: #666;
  font-weight: bold;
  margin-bottom: px2rem(20px);
  padding-left: px2rem(18px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.shop-score{
  display: block;
  height: px2rem(26px);
  line-height: px2rem(26px);
  font-size: px2rem(24px);
  color: #808080;
  margin-bottom: px2rem(20px);
  padding-left: px2rem(18px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

}
.color-red{
  color: #ff3141;
}
.color-yellow{
  color: #cda76e;
}

.shop-left{
  display: block;
  height: px2rem(24px);
  line-height: px2rem(24px);
  font-size: px2rem(22px);
  color: #808080;
  margin-bottom: px2rem(20px);
  padding-left: px2rem(18px);
}
.shop-got-btn{
  display: block;
  width: px2rem(340px);
  height: px2rem(60px);
  line-height: px2rem(60px);
  background-color: #ff3141;
  color: #fff;
  font-size: px2rem(24px);
  text-align: center;
  margin: 0 auto;
  -webkit-border-radius: px2rem(10px);
  -moz-border-radius: px2rem(10px);
  border-radius: px2rem(10px);
}

.get-more{
  height: px2rem(85px);
  line-height: px2rem(85px);
  font-size: px2rem(26px);
  color: #808080;
  text-align: center;
}






