@charset "UTF-8";
.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: '\20';
    display: table;
    height: 0;
    overflow: hidden; }
  .clearfix:after {
    clear: both; }

.clear {
  display: table;
  height: 0;
  overflow: hidden;
  clear: both;
  line-height: 0; }

.spacpce-form-list {
  padding-top: 10px; }

.spacpce-form-left {
  display: block;
  float: left;
  padding-left: 50px;
  height: 36px;
  line-height: 36px;
  width: 100px;
  font-size: 14px;
  color: #666; }

.spacpce-form-center {
  float: left; }

.spacpce-form-input-value {
  display: block;
  float: left;
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  font-weight: bold;
  color: #666; }

.spacpce-form-input {
  display: block;
  float: left;
  width: 278px;
  padding: 0 10px;
  height: 34px;
  line-height: 34px;
  font-size: 14px;
  color: #333;
  border: 1px solid #e8e8e8;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

.spacpce-form-input-m {
  width: 150px; }

.spacpce-form-input-btn {
  display: block;
  float: left;
  height: 36px;
  width: 110px;
  line-height: 36px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-left: 20px;
  font-size: 14px;
  color: #fff;
  background-color: #0080cc;
  text-align: center;
  cursor: pointer;
  transition: all .2s ease-in-out; }

.spacpce-form-input-btn:hover {
  background-color: #0070bc; }

.spacpce-form-input-btn.disabled {
  background-color: #ccc; }

.spacpce-form-input-link {
  display: block;
  float: left;
  margin-left: 20px;
  height: 36px;
  line-height: 36px; }

.spacpce-form-error {
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  color: #ea544a; }

.spacpce-form-error span {
  display: none; }

.spacpce-form-error i {
  display: block;
  width: 14px;
  height: 12px;
  margin: 3px 3px 0 0;
  float: left;
  background: url(/styles/images/member/icon.png);
  background-position: -318px -52px; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
    .spacpce-form-error i {
      background: transparent url("/styles/images/member/icon.png") 0px 0px no-repeat;
      background-size: 550px 140px; } }
  @media only screen and (min--moz-device-pixel-ratio: 1.5) {
    .spacpce-form-error i {
      background: transparent url("/styles/images/member/icon.png") 0px 0px no-repeat;
      background-size: 550px 140px; } }
  @media only screen and (min-device-pixel-ratio: 1.5) {
    .spacpce-form-error i {
      background: transparent url("/styles/images/member/icon.png") 0px 0px no-repeat;
      background-size: 550px 140px; } }
  @media only screen and (-o-min-device-pixel-ratio: 3 / 2) {
    .spacpce-form-error i {
      background: transparent url("/styles/images/member/icon.png") 0px 0px no-repeat;
      background-size: 550px 140px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
    .spacpce-form-error i {
      background-position: -318px -80px; } }
  @media only screen and (min--moz-device-pixel-ratio: 1.5) {
    .spacpce-form-error i {
      background-position: -318px -80px; } }
  @media only screen and (min-device-pixel-ratio: 1.5) {
    .spacpce-form-error i {
      background-position: -318px -80px; } }
  @media only screen and (-o-min-device-pixel-ratio: 3 / 2) {
    .spacpce-form-error i {
      background-position: -318px -80px; } }

.spacpce-form-submit {
  height: 34px;
  width: 90px;
  line-height: 32px;
  border: 1px solid #0080cc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 14px;
  color: #0080cc;
  text-align: center;
  margin: 10px 0 0 200px;
  background-color: transparent;
  transition: all .2s ease-in-out;
  cursor: pointer; }

.spacpce-form-submit:hover {
  background-color: #0080cc;
  color: #fff; }

.spacpce-form-submit.disabled {
  border-color: #ccc;
  color: #fff;
  background-color: #ccc; }

/*!
 * Reset
 */
html {
  color: #454545;
  background: #f0f0f0;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  margin: 0;
  padding: 0;
  font-family: 'PingFang SC', 'PingFang TC', 'Noto Sans CJK SC', 'Noto Sans CJK TC', 'Microsoft YaHei', Helvetica, Arial; }

audio, canvas, video {
  display: inline-block; }

input, select, textarea {
  font-size: 1rem; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

th {
  text-align: inherit; }

fieldset, img {
  border: none; }

img {
  border: none; }

iframe {
  display: block; }

abbr, acronym {
  border: 0;
  font-variant: normal; }

del {
  text-decoration: line-through; }

address, caption, cite, code, dfn, em, th, var {
  font-style: normal;
  font-weight: 500; }

ol, ul, li {
  list-style: none; }

q:before, q:after {
  content: ''; }

sub, sup {
  font-size: 0.75rem;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

a:hover {
  text-decoration: underline; }

ins, a {
  text-decoration: none; }

textarea {
  resize: none;
  overflow: auto; }

input, textarea {
  outline: none; }

a {
  color: #0081cb;
  outline: none; }

input[type="button"], input[type="submit"], input[type="reset"] {
  -webkit-appearance: none;
  border-radius: none; }

textarea {
  -webkit-appearance: none; }

a:hover {
  text-decoration: none; }

.qt-mt10 {
  margin-top: 0.1333333333rem; }

.qt-mt20 {
  margin-top: 0.2666666667rem; }

.qt-mt30 {
  margin-top: 0.4rem; }

.qt-mt40 {
  margin-top: 0.5333333333rem; }

.qt-mt50 {
  margin-top: 0.6666666667rem; }

.qt-mr10 {
  margin-right: 0.1333333333rem; }

.qt-mr20 {
  margin-right: 0.2666666667rem; }

.qt-mr30 {
  margin-right: 0.4rem; }

.qt-mr40 {
  margin-right: 0.5333333333rem; }

.qt-mr50 {
  margin-right: 0.6666666667rem; }

.qt-mr220 {
  margin-right: 2.9333333333rem; }

.qt-mb10 {
  margin-bottom: 0.1333333333rem; }

.qt-mb20 {
  margin-bottom: 0.2666666667rem; }

.qt-mb30 {
  margin-bottom: 0.4rem; }

.qt-mb40 {
  margin-bottom: 0.5333333333rem; }

.qt-mb50 {
  margin-bottom: 0.6666666667rem; }

.qt-ml10 {
  margin-left: 0.1333333333rem; }

.qt-ml20 {
  margin-left: 0.2666666667rem; }

.qt-ml25 {
  margin-left: 0.3333333333rem; }

.qt-ml30 {
  margin-left: 0.4rem; }

.qt-ml40 {
  margin-left: 0.5333333333rem; }

.qt-ml50 {
  margin-left: 0.6666666667rem; }

.qt-pt10 {
  padding-top: 0.1333333333rem; }

.qt-pt15 {
  padding-top: 0.2rem; }

.qt-pt20 {
  padding-top: 0.2666666667rem; }

.qt-pt30 {
  padding-top: 0.4rem; }

.qt-pt40 {
  padding-top: 0.5333333333rem; }

.qt-pt50 {
  padding-top: 0.6666666667rem; }

.qt-pr10 {
  padding-right: 0.1333333333rem; }

.qt-pr20 {
  padding-right: 0.2666666667rem !important; }

.qt-pr30 {
  padding-right: 0.4rem; }

.qt-pr40 {
  padding-right: 0.5333333333rem; }

.qt-pr50 {
  padding-right: 0.6666666667rem; }

.qt-pb10 {
  padding-bottom: 0.1333333333rem !important; }

.qt-pb20 {
  padding-bottom: 0.2666666667rem; }

.qt-pb30 {
  padding-bottom: 0.4rem; }

.qt-pb40 {
  padding-bottom: 0.5333333333rem; }

.qt-pb50 {
  padding-bottom: 0.6666666667rem; }

.qt-pl10 {
  padding-left: 0.1333333333rem; }

.qt-pl20 {
  padding-left: 0.2666666667rem; }

.qt-pl30 {
  padding-left: 0.4rem; }

.qt-pl40 {
  padding-left: 0.5333333333rem; }

.qt-pl50 {
  padding-left: 0.6666666667rem; }

.qt-gl {
  float: left; }

.qt-gr {
  float: right; }

.ui-font-arial {
  font-family: arial; }

.ui-icons-more {
  width: 0.1866666667rem;
  height: 0.32rem;
  background: url(/styles/images/common/mobile/icons.png) no-repeat -0.16rem -2.28rem;
  background-size: 4.7733333333rem 2.7866666667rem; }

#lightbox_wrap {
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.83);
  z-index: 998; }

.dialog {
  position: absolute;
  z-index: 999;
  background-color: #fff;
  border-radius: 5px; }

.dialog_title,
.dialog_content,
.dialog_footer {
  padding: 10px 15px; }

.dialog_content {
  padding: 20px 40px;
  color: #787878;
  font-size: 14px; }

.dialog_title {
  font-size: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: relative;
  background-color: #3dbbf9;
  color: #fff;
  font-family: Microsoft YaHei;
  padding: 15px 30px; }

.dialog_title .why {
  font-size: 12px;
  float: right;
  margin-right: 40px;
  line-height: 28px;
  color: #0080cc; }

.dialog_title .why em {
  width: 14px;
  height: 14px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  background: url(/styles/images/common/icons.png) no-repeat -34px -200px;
  vertical-align: top;
  *vertical-align: middle;
  margin-top: 7px;
  *margin-top: 0;
  margin-right: 5px; }

.dialog_title .closebtn {
  position: absolute;
  top: 14px;
  right: 30px;
  width: 31px;
  height: 31px;
  display: block;
  background: url(/styles/images/common/icons.png) no-repeat -115px -107px;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out; }

.dialog_title .closebtn:hover {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  transform: rotate(360deg); }

.newdialog {
  border: 2px solid #f0f0f0; }

.newdialog .dialog_title {
  background-color: #fff;
  color: #7b7b7b;
  font-size: 18px; }

@Fcharset "UTF-8";
.ui-form .ui-item.first {
  border-top: 1px solid #d7d7d7; }
.ui-form .ui-submit-parent {
  border-top: 1px solid #d7d7d7;
  padding-top: 0.8rem; }
.ui-form .ui-item-label {
  width: 0.7733333333rem;
  text-align: center;
  height: 1.1733333333rem;
  line-height: 1.1733333333rem;
  margin-left: -100%; }
.ui-form .ui-item-icon {
  width: 0.3066666667rem;
  height: 0.4rem;
  vertical-align: middle; }
.ui-form .ui-item-text {
  height: 1.1733333333rem;
  width: 100%; }
.ui-form .ui-item-text-wrap {
  padding-left: 0.7733333333rem; }
.ui-form .ui-item-extra {
  float: left;
  width: 2.6666666667rem;
  height: 1.1733333333rem;
  line-height: 1.1733333333rem;
  background: #fff;
  margin-left: -2.6666666667rem; }
.ui-form .ui-input {
  border: none;
  background: #fff;
  height: 1.1733333333rem;
  line-height: 1.1733333333rem;
  font-size: 0.4rem;
  color: #999;
  width: 100%; }
.ui-form .ui-submit {
  background: #2a8ce7;
  height: 1.0666666667rem;
  line-height: 1.0666666667rem;
  color: #fff;
  font-size: 0.48rem;
  text-align: center;
  border-radius: 8px;
  border: none;
  width: 100%; }

@-o-keyframes circle {
  0% {
    -webkit-transform: translateX(0) scale(0);
    transform: translateX(0) scale(0);
    z-index: 3; }
  17% {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    z-index: 3; }
  34% {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    z-index: 3; }
  51% {
    -webkit-transform: translateX(-0.5333333333rem) scale(1);
    transform: translateX(-0.5333333333rem) scale(1);
    z-index: 1; }
  68% {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    z-index: 1; }
  85% {
    -webkit-transform: translateX(0.5333333333rem) scale(1);
    transform: translateX(0.5333333333rem) scale(1);
    z-index: 1; }
  100% {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    z-index: 1; } }
@-moz-keyframes circle {
  0% {
    -webkit-transform: translateX(0) scale(0);
    transform: translateX(0) scale(0);
    z-index: 3; }
  17% {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    z-index: 3; }
  34% {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    z-index: 3; }
  51% {
    -webkit-transform: translateX(-0.5333333333rem) scale(1);
    transform: translateX(-0.5333333333rem) scale(1);
    z-index: 1; }
  68% {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    z-index: 1; }
  85% {
    -webkit-transform: translateX(0.5333333333rem) scale(1);
    transform: translateX(0.5333333333rem) scale(1);
    z-index: 1; }
  100% {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    z-index: 1; } }
@-webkit-keyframes circle {
  0% {
    -webkit-transform: translateX(0) scale(0);
    transform: translateX(0) scale(0);
    z-index: 3; }
  17% {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    z-index: 3; }
  34% {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    z-index: 3; }
  51% {
    -webkit-transform: translateX(-0.5333333333rem) scale(1);
    transform: translateX(-0.5333333333rem) scale(1);
    z-index: 1; }
  68% {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    z-index: 1; }
  85% {
    -webkit-transform: translateX(0.5333333333rem) scale(1);
    transform: translateX(0.5333333333rem) scale(1);
    z-index: 1; }
  100% {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    z-index: 1; } }
@keyframes circle {
  0% {
    -webkit-transform: translateX(0) scale(0);
    transform: translateX(0) scale(0);
    z-index: 3; }
  17% {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    z-index: 3; }
  34% {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    z-index: 3; }
  51% {
    -webkit-transform: translateX(-0.5333333333rem) scale(1);
    transform: translateX(-0.5333333333rem) scale(1);
    z-index: 1; }
  68% {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    z-index: 1; }
  85% {
    -webkit-transform: translateX(0.5333333333rem) scale(1);
    transform: translateX(0.5333333333rem) scale(1);
    z-index: 1; }
  100% {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    z-index: 1; } }
.ui-circle {
  position: absolute; }
  .ui-circle .circle-wrap {
    position: relative; }
  .ui-circle .b-r {
    -webkit-animation: circle 3s linear both infinite;
    -moz-animation: circle 3s linear both infinite;
    -o-animation: circle 3s linear both infinite;
    animation: circle 3s linear both infinite; }
  .ui-circle .b-b {
    -webkit-animation: circle 3s linear both infinite  -1s;
    -moz-animation: circle 3s linear both infinite  -1s;
    -o-animation: circle 3s linear both infinite  -1s;
    -webkit-animation: circle 3s linear both infinite  -1s; }
  .ui-circle .b-y {
    -webkit-animation: circle 3s linear both infinite  -2s;
    -moz-animation: circle 3s linear both infinite  -2s;
    -o-animation: circle 3s linear both infinite  -2s;
    -webkit-animation: circle 3s linear both infinite  -2s; }
  .ui-circle .b-r, .ui-circle .b-b, .ui-circle .b-y {
    width: 0.2rem;
    height: 0.2rem;
    border-radius: 50%;
    background: teal;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -0.0933333333rem;
    background: red; }
  .ui-circle .b-r {
    background: #ff6114;
    z-index: 3; }
  .ui-circle .b-b {
    background: #14d6ff;
    z-index: -1; }
  .ui-circle .b-y {
    background: #ffd200;
    z-index: -1; }

.ui-alert-box {
  position: fixed;
  top: 50%;
  width: 100%;
  text-align: center;
  margin-top: -0.6666666667rem;
  z-index: 9999; }

.ui-alert {
  display: inline-block;
  height: 1.3333333333rem;
  line-height: 1.3333333333rem;
  border-radius: 0.1066666667rem;
  padding: 0 0.4rem;
  color: #fff;
  font-size: 0.4266666667rem;
  background-color: rgba(71, 79, 89, 0.85); }

.shack {
  -moz-animation: shack .1s .5s;
  -webkit-animation: shack .1s .5s;
  -o-animation: shack .1s .5s;
  -ms-animation: shack .1s .5s;
  animation: shack .1s .5s; }

@-ms-keyframes shack {
  0% {
    left: 0px; }
  25% {
    left: 10px; }
  50% {
    left: -5px; }
  75% {
    left: 10px; }
  100% {
    left: 0; } }
@-moz-keyframes shack {
  0% {
    left: 0px; }
  25% {
    left: 10px; }
  50% {
    left: -5px; }
  75% {
    left: 10px; }
  100% {
    left: 0; } }
@-o-keyframes shack {
  0% {
    left: 0px; }
  25% {
    left: 10px; }
  50% {
    left: -5px; }
  75% {
    left: 10px; }
  100% {
    left: 0; } }
@-webkit-keyframes shack {
  0% {
    left: 0px; }
  25% {
    left: 10px; }
  50% {
    left: -5px; }
  75% {
    left: 10px; }
  100% {
    left: 0; } }
@keyframes shack {
  0% {
    left: 0px; }
  25% {
    left: 10px; }
  50% {
    left: -5px; }
  75% {
    left: 10px; }
  100% {
    left: 0; } }
.ui-loading {
  line-height: 1.3333333333rem;
  font-size: 0.3733333333rem;
  text-align: center; }

.ui-backtop {
  display: none;
  position: fixed;
  right: 0.4266666667rem;
  bottom: 2.9333333333rem;
  width: 1.0666666667rem;
  height: 1.0666666667rem;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.6) url(/styles/images/common/mobile/icons.png) no-repeat 0.2666666667rem -0.8666666667rem;
  background-size: 4.7733333333rem 2.7866666667rem;
  z-index: 990; }

.ui-empty img {
  display: block;
  margin: 2.5333333333rem auto 0.1333333333rem; }

.ui-empty-descript {
  color: #bbb;
  font-size: 0.4rem;
  text-align: center; }

.mask-layer {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.45;
  filter: alpha(opacity=45);
  -ms-filter: alpha(opacity=45);
  z-index: 99; }

.ui-loans-prize {
  display: block;
  margin: 1.0666666667rem auto 0;
  width: 3.4666666667rem;
  height: 0.6933333333rem;
  line-height: 0.6933333333rem;
  text-align: center;
  font-size: 0.4266666667rem;
  color: #3492E9;
  border: 0.0266666667rem solid #3492E9;
  border-radius: 0.9866666667rem; }

.ui-header {
  width: 100%;
  height: 1.3333333333rem; }
  .ui-header .ui-header-content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 1.3333333333rem;
    background-color: #43403f;
    z-index: 1000; }

.ui-header-logo {
  float: left;
  margin-top: 0.3333333333rem; }

.ui-header-logo-pic {
  float: left;
  width: 2.4933333333rem;
  height: 0.68rem;
  padding-right: 0.2933333333rem;
  margin: 0 0.2933333333rem;
  border-right: 2px solid #ababab; }
  .ui-header-logo-pic img {
    width: 2.4933333333rem;
    height: 0.68rem; }

.ui-header-logo-explain {
  float: left;
  line-height: 0.68rem;
  font-size: 0.32rem;
  color: #fff; }

.ui-header-home {
  float: left;
  margin-top: 0.3466666667rem;
  margin-left: 0.32rem;
  height: 0.64rem;
  width: 0.64rem;
  background: url(/styles/images/common/mobile/icons.png) no-repeat -1.92rem -1.0666666667rem;
  background-size: 4.7733333333rem 2.7866666667rem; }
  .ui-header-home a {
    display: block;
    height: 0.64rem;
    width: 0.64rem; }

.ui-header-title {
  line-height: 1.3333333333rem;
  font-size: 0.48rem;
  color: #fff;
  text-align: center; }

.ui-header-user {
  float: right;
  margin-top: 0.32rem;
  margin-right: 0.32rem;
  height: 0.6933333333rem;
  width: 0.6933333333rem; }
  .ui-header-user a {
    display: block;
    height: 0.6933333333rem;
    width: 0.6933333333rem;
    background: url(/styles/images/common/mobile/icons.png) no-repeat 0 0;
    background-size: 4.7733333333rem 2.7866666667rem; }
  .ui-header-user img {
    display: block;
    height: 0.6533333333rem;
    width: 0.6533333333rem;
    border: 0.04rem solid #fff;
    border-radius: 50%;
    background-color: #43403f; }

.ui-footer {
  height: 5.0666666667rem;
  line-height: 0.4533333333rem;
  font-size: 0.32rem;
  color: #A4A4A4;
  text-align: center;
  background-color: #efefef; }

.ui-footer-top {
  padding-top: 0.8533333333rem;
  margin-bottom: 0.4266666667rem; }

.ui-footer-bottom {
  padding-bottom: 1.6rem; }

.ui-footer {
  height: 5.0666666667rem;
  line-height: 0.4533333333rem;
  font-size: 0.32rem;
  color: #A4A4A4;
  text-align: center;
  background-color: #efefef; }

.ui-footer-top {
  padding-top: 0.8533333333rem;
  margin-bottom: 0.4266666667rem; }

.ui-footer-bottom {
  padding-bottom: 1.6rem; }

html {
  max-height: 99999px; }

.section-box {
  margin-bottom: 0.2666666667rem;
  padding: 0 0.3466666667rem;
  background-color: #fff; }

.hd {
  position: relative;
  background-image: url(/styles/images/club/mobile/index-bg.png);
  background-size: 10rem 2.9333333333rem;
  background-repeat: no-repeat; }

.hd.unlogin {
  background-image: url(/styles/images/club/mobile/index-bg-unlogin.png); }

.hd-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 2.9333333333rem;
  width: 10rem; }

.hd-person {
  padding-top: 0.4rem; }

.hd-qiandao {
  display: block;
  float: right;
  width: 0.6666666667rem;
  height: 0.6666666667rem;
  background-image: url(/styles/images/club/mobile/qiandao.png);
  background-size: 0.6666666667rem 0.6666666667rem;
  background-repeat: no-repeat; }

.hd-yiqiandao {
  background-image: url(/styles/images/club/mobile/yiqiandao.png); }

.hd-info {
  padding-top: 1.4rem; }

.hd-img-box {
  width: 1.8666666667rem;
  height: 1.8666666667rem;
  border: 0.0533333333rem solid #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin-right: 0.2933333333rem;
  overflow: hidden; }

.unlogin .hd-img-box {
  background-color: #e4e5e8;
  border-color: #e4e5e8;
  background-image: url(/styles/images/club/mobile/unlogin-hd.png);
  background-size: 1.1466666667rem 1.1466666667rem;
  background-position: center;
  background-repeat: no-repeat; }

.hd-img {
  width: 1.8666666667rem;
  height: 1.8666666667rem; }

.hd-info-list {
  padding-top: 0.1466666667rem;
  width: 6.9333333333rem; }

.hd-info-hd {
  color: #fff;
  line-height: 0.9066666667rem; }

.unlogin .hd-info-hd {
  font-size: 0.4266666667rem; }

.unlogin .hd-info-link {
  color: #fff; }

.hd-info-name {
  display: block;
  float: left;
  font-size: 0.48rem; }

.vip-level-icon {
  height: 0.4666666667rem;
  margin: 0.24rem 0px 0px 0.1333333333rem; }

.hd-info-name-s {
  font-size: 0.32rem; }

.hd-info-group {
  float: left;
  display: block;
  width: 1.5333333333rem;
  height: 0.6rem;
  margin: 0.16rem 0 0 0.1333333333rem;
  background-image: url(/styles/images/club/mobile/club-icon-2x.png);
  background-size: 5rem 8rem; }

.group-xianzhi {
  background-position: 0 0; }

.group-zhuce {
  background-position: 0 -0.6666666667rem; }

.group-mupai {
  background-position: 0 -1.3333333333rem; }

.group-tiepai {
  background-position: 0 -2rem; }

.group-tongpai {
  background-position: 0 -2.6666666667rem; }

.group-yinpai {
  background-position: 0 -3.3333333333rem; }

.group-jinpai {
  background-position: 0 -4rem; }

.group-bojin {
  background-position: 0 -4.6666666667rem; }

.group-zuanshi {
  background-position: 0 -5.3333333333rem; }

.group-guanliyuan {
  background-position: -3.3333333333rem 0; }

.group-banzhu {
  background-position: -3.3333333333rem -0.6666666667rem; }

.group-youke {
  background-position: -3.3333333333rem -1.3333333333rem; }

.group-chaojibanzhu {
  background-position: -3.3333333333rem -2rem; }

.group-jinzhifayan {
  background-position: -3.3333333333rem -2.6666666667rem; }

.group-jinzhifangwen {
  background-position: -3.3333333333rem -3.3333333333rem; }

.group-jinzhiip {
  background-position: -3.3333333333rem -4rem; }

.group-pingtairenyuan {
  background-position: -3.3333333333rem -4.6666666667rem; }

.group-zhuanlanzuozhe {
  background-position: -3.3333333333rem -5.3333333333rem; }

.group-tianyanbinaji {
  background-position: -3.3333333333rem -6rem; }

.group-shequguanli {
  background-position: -3.3333333333rem -6.6666666667rem; }

.group-wendaguanliyuan {
  background-position: -3.3333333333rem -7.3333333333rem; }

.hd-info-bd {
  padding: 0.3066666667rem 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 1.0933333333rem;
  line-height: 0.48rem; }

.unlogin .hd-info-bd {
  color: #808080; }

.hd-info-item {
  float: left;
  width: 3.4666666667rem;
  text-align: left;
  color: #353535; }

.hd-info-item + .hd-info-item {
  border-left: 0.0266666667rem solid #f4f4f4; }

.hd-info-item-score {
  display: inline-block;
  height: 0.4266666667rem;
  font-size: 0.3733333333rem;
  font-weight: bold; }

.hd-info-item-type {
  display: inline-block;
  height: 0.4266666667rem;
  padding-right: 0.1333333333rem; }

.hd-info-item-type-word {
  display: inline-block;
  position: relative;
  padding-left: 0.4666666667rem;
  height: 0.3733333333rem;
  font-size: 0.32rem;
  margin: 0 auto; }

.hd-info-item-type-icon {
  position: absolute;
  left: 0;
  top: -0.0133333333rem;
  display: block;
  height: 0.5066666667rem;
  width: 0.4rem;
  background-image: url(/styles/images/club/mobile/jifen.png);
  background-size: 0.4rem 0.4rem;
  background-repeat: no-repeat; }

.unlogin .hd-info-item-type-icon {
  background-image: url(/styles/images/club/mobile/jifen-unlogin.png); }

.enter-box {
  padding-top: 0.2666666667rem;
  padding-bottom: 0.2666666667rem; }

.enter {
  position: relative;
  display: block;
  float: left;
  padding: 0.36rem 0.3333333333rem 0.36rem 0.2666666667rem;
  height: 0.9866666667rem;
  width: 3.8666666667rem;
  background: -webkit-linear-gradient(left, #f12a46, #f54737);
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, #f12a46, #f54737);
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, #f12a46, #f54737);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, #f12a46, #f54737);
  /* 标准的语法 */
  -webkit-border-radius: 0.12rem;
  -moz-border-radius: 0.12rem;
  border-radius: 0.12rem;
  color: #fff; }

.enter + .enter {
  margin-left: 0.2666666667rem; }

.enter-font {
  position: absolute;
  width: 4.5066666667rem;
  height: 0.64rem;
  line-height: 0.64rem;
  font-size: 0.64rem;
  text-align: center;
  color: #d83031;
  top: 0;
  left: 0;
  font-weight: bold;
  opacity: 0.3; }

.enter-l {
  position: absolute;
  color: #fff;
  top: 0.36rem;
  left: 0.2666666667rem; }

.enter-title {
  display: block;
  font-size: 0.32rem;
  line-height: 0.3466666667rem;
  font-weight: bold; }

.enter-desc {
  display: block;
  margin-top: 0.2666666667rem;
  font-size: 0.2933333333rem;
  line-height: 0.3466666667rem; }

.enter-icon {
  display: block;
  position: absolute;
  right: 0.3333333333rem;
  top: 0.6533333333rem;
  height: 0.4rem;
  width: 0.4266666667rem;
  background-image: url(/styles/images/club/mobile/link-go.png);
  background-size: 0.4rem 0.4rem;
  background-repeat: no-repeat; }

.mod-title {
  height: 1.1733333333rem;
  line-height: 1.1733333333rem; }

.mod-title-l {
  margin-top: 0.4rem;
  border-left: 0.0533333333rem solid #353535;
  padding-left: 0.2666666667rem;
  height: 0.3733333333rem;
  line-height: 0.3733333333rem;
  font-size: 0.3733333333rem;
  color: #353535;
  font-weight: bold; }

.mod-title-r {
  position: relative;
  float: right;
  display: block;
  height: 1.1733333333rem;
  line-height: 1.1733333333rem;
  font-size: 0.2933333333rem;
  padding-right: 0.3733333333rem; }

.mod-title-more {
  color: #353535; }

.mod-title-more-icon {
  display: block;
  position: absolute;
  top: 0.4666666667rem;
  right: 0;
  border-left: 0.2rem solid #353535;
  border-top: 0.12rem solid transparent;
  border-bottom: 0.12rem solid transparent; }

.cartoon-item {
  display: block;
  padding: 0.2666666667rem 0; }

.cartoon-item + .cartoon-item {
  border-top: 0.0266666667rem solid #f4f4f4; }

.cartoon-img {
  float: left;
  height: 2.2rem;
  width: 3.1333333333rem; }

.cartoon-info {
  float: left;
  color: #353535;
  width: 5.7333333333rem;
  margin-left: 0.3333333333rem; }

.cartoon-title {
  display: block;
  font-size: 0.4rem;
  line-height: 0.56rem;
  height: 1.12rem;
  margin: 0.1733333333rem 0 0.4666666667rem;
  overflow: hidden; }

.cartoon-time {
  color: #808080;
  font-size: 0.32rem; }

.plant-item {
  display: block;
  padding: 0.4rem 0; }

.plant-item + .plant-item {
  border-top: 0.0266666667rem solid #f4f4f4; }

.plat-img {
  display: block;
  float: left;
  height: 0.8666666667rem;
  width: 0.8666666667rem; }

.plant-info {
  float: left;
  margin-left: 0.4rem; }

.plant-info-hd {
  height: 0.3866666667rem;
  line-height: 0.3866666667rem;
  margin-bottom: 0.2133333333rem; }

.plant-name {
  display: block;
  float: left;
  font-size: 0.3733333333rem;
  color: #333;
  margin-right: 0.2666666667rem; }

.plant-tag {
  display: block;
  float: left;
  height: 0.3733333333rem;
  line-height: 0.3733333333rem;
  text-align: center;
  font-size: 0.2666666667rem;
  color: #fff;
  width: 0.9733333333rem;
  -webkit-border-radius: 0.1866666667rem;
  -moz-border-radius: 0.1866666667rem;
  border-radius: 0.1866666667rem; }

.plant-tag + .plant-tag {
  margin-left: 0.1333333333rem; }

.plant-tag-kaquan {
  background: -webkit-linear-gradient(left, #f12b46, #fb7122);
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, #f12b46, #fb7122);
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, #f12b46, #fb7122);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, #f12b46, #fb7122);
  /* 标准的语法 */ }

.plant-tag-jiaxi {
  background: -webkit-linear-gradient(left, #0b7cc3, #21ace5);
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, #0b7cc3, #21ace5);
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, #0b7cc3, #21ace5);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, #0b7cc3, #21ace5);
  /* 标准的语法 */ }

.plant-tag-huodong {
  background: -webkit-linear-gradient(left, #ffb33a, #ffcf67);
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, #ffb33a, #ffcf67);
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, #ffb33a, #ffcf67);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, #ffb33a, #ffcf67);
  /* 标准的语法 */ }

.plant-info-bd {
  margin-top: 0.1333333333rem; }

.plant-info-number {
  display: block;
  float: left;
  height: 0.3466666667rem;
  line-height: 0.3466666667rem;
  font-size: 0.32rem;
  color: #808080;
  padding-right: 0.1333333333rem; }

.plant-info-number + .plant-info-number {
  padding-left: 0.1333333333rem;
  border-left: 0.0266666667rem solid #f4f4f4; }

.plant-biao {
  display: block;
  float: right;
  width: 1.0666666667rem;
  text-align: center; }

.plant-biao-number {
  height: 0.3866666667rem;
  line-height: 0.3866666667rem;
  font-size: 0.3733333333rem;
  color: #ff3141;
  font-weight: bold; }

.plant-biao-key {
  display: block;
  float: left;
  height: 0.3466666667rem;
  line-height: 0.3466666667rem;
  font-size: 0.32rem;
  color: #808080;
  margin-top: 0.2rem; }

.topic-tab-box {
  overflow: hidden;
  padding-bottom: 0.4rem; }

.topic-tab-box-main {
  height: 3.3333333333rem; }

.topic-tab-box-main-list {
  width: 100%;
  height: 3.3333333333rem;
  float: left;
  position: relative; }

.topic-tab-box-main-inner {
  height: 3.3333333333rem;
  position: relative;
  padding-right: 0.2rem; }

.topic-tab-box-main-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 96%;
  z-index: 1;
  height: 3.3333333333rem; }

.returnrecord-tab-box {
  overflow: hidden;
  padding-bottom: 0.4rem; }
  .returnrecord-tab-box .swiper-container {
    overflow: auto; }

.returnrecord-tab-box-main {
  height: 3.3333333333rem; }

.returnrecord-tab-box-main-item {
  width: 100%;
  height: 3.3333333333rem;
  float: left;
  position: relative; }
  .returnrecord-tab-box-main-item a {
    display: block;
    margin-right: 0.2rem; }
    .returnrecord-tab-box-main-item a i {
      z-index: 100;
      display: inline-block;
      height: 1.6666666667rem;
      width: 1.6666666667rem;
      position: absolute;
      top: 0px;
      right: 0.2666666667rem;
      background-image: url(/styles/images/club/h5jiaobiao.png);
      background-size: 1.6666666667rem 1.6666666667rem;
      background-repeat: no-repeat; }

.returnrecord-tab-box-main-inner {
  height: 3.3333333333rem;
  position: relative;
  border-top: 6px solid #f12a46;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  background: #f8f8f8 url(/styles/images/club/mobile/returnrecord_bg.png) top center no-repeat; }
  .returnrecord-tab-box-main-inner .name {
    font-size: 0.3466666667rem;
    line-height: 0.8266666667rem;
    color: #333;
    padding-top: 0.16rem; }
  .returnrecord-tab-box-main-inner .crash {
    font-size: 0.8rem;
    color: #f12a46;
    line-height: 1.12rem;
    padding-bottom: 0.16rem; }
    .returnrecord-tab-box-main-inner .crash span {
      font-family: 'arial';
      font-weight: bold; }
  .returnrecord-tab-box-main-inner .rate {
    font-size: 0.32rem;
    color: #666;
    padding: 0px 0.2666666667rem;
    display: inline-block;
    background: #f0f0f0;
    border-radius: 0.2666666667rem; }
    .returnrecord-tab-box-main-inner .rate span {
      color: #f12a46; }

.returnrecord-tab-box-main-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 96%;
  z-index: 1;
  height: 3.3333333333rem; }

.section-ajaxprocess {
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 1000; }
  .section-ajaxprocess .ajaxprocess-main {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -3.3333333333rem;
    margin-top: -4.0933333333rem;
    width: 6.6666666667rem;
    height: 8.1866666667rem;
    background: #fff;
    text-align: center; }
  .section-ajaxprocess .mod-process-footer {
    border-top: 1px solid #E9E9E9;
    height: 1.2266666667rem;
    line-height: 1.2266666667rem;
    font-size: 0.4rem;
    position: absolute;
    bottom: 0px;
    width: 100%; }
    .section-ajaxprocess .mod-process-footer .mod-process-footer-left {
      float: left;
      width: 50%;
      border-right: 1px solid #E9E9E9;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
      .section-ajaxprocess .mod-process-footer .mod-process-footer-left a {
        color: #404040; }
    .section-ajaxprocess .mod-process-footer .mod-process-footer-right {
      float: right;
      width: 50%; }
      .section-ajaxprocess .mod-process-footer .mod-process-footer-right a {
        color: #508CEE; }
  .section-ajaxprocess .ajaxprocess-close {
    position: absolute;
    top: 0.4266666667rem;
    right: 0.4266666667rem;
    width: 0.4rem;
    height: 0.4rem;
    background: url("/styles/images/redland/mobile/close.png") 0 0 no-repeat;
    background-size: contain; }
  .section-ajaxprocess .ajaxprocess-ing .img {
    padding-top: 1.7333333333rem; }
    .section-ajaxprocess .ajaxprocess-ing .img img {
      width: 3.1733333333rem; }
  .section-ajaxprocess .ajaxprocess-ing .ing-info {
    line-height: 1.9733333333rem;
    font-size: 0.3733333333rem;
    color: #404040; }
  .section-ajaxprocess .ajaxprocess-ing .ing-bar {
    width: 3.7333333333rem;
    height: 0.2133333333rem;
    margin: 0px auto;
    border-radius: 0.2133333333rem;
    background: #E7E7E7; }
  .section-ajaxprocess .ajaxprocess-ing .ing-bar-ing {
    height: 0.2133333333rem;
    border-radius: 0.2133333333rem;
    background: #FF8010;
    width: 0px; }
  .section-ajaxprocess .ajaxprocess-parize {
    background: url("/styles/images/redland/mobile/success_bg.png") no-repeat center top;
    background-size: 5.6533333333rem 2.16rem; }
    .section-ajaxprocess .ajaxprocess-parize .parize-title {
      padding-top: 1.0133333333rem;
      padding-bottom: 0.5333333333rem; }
    .section-ajaxprocess .ajaxprocess-parize .parize-title-text {
      line-height: 0.6666666667rem;
      font-size: 0.5333333333rem;
      color: #404040; }
    .section-ajaxprocess .ajaxprocess-parize .parize-title-text1 {
      line-height: 0.72rem;
      font-size: 0.3733333333rem;
      color: #9B9BA8; }
    .section-ajaxprocess .ajaxprocess-parize .prize-main {
      padding-bottom: 0.6933333333rem; }
    .section-ajaxprocess .ajaxprocess-parize .prize-list {
      height: 3.3066666667rem; }
    .section-ajaxprocess .ajaxprocess-parize .prize-item {
      height: 1.6533333333rem; }
    .section-ajaxprocess .ajaxprocess-parize .pd-pt {
      padding-top: 0.8266666667rem; }
    .section-ajaxprocess .ajaxprocess-parize .prize-item-link {
      height: 1.3333333333rem;
      width: 5.1733333333rem;
      display: block;
      margin: 0px auto; }
    .section-ajaxprocess .ajaxprocess-parize .prize-item-left {
      float: left;
      padding-top: 0.3333333333rem;
      padding-left: 0.3333333333rem;
      padding-right: 0.3333333333rem; }
      .section-ajaxprocess .ajaxprocess-parize .prize-item-left .prize-item-icon {
        display: block;
        width: 0.5066666667rem;
        height: 0.56rem;
        background: url("/styles/images/redland/mobile/icon.png") no-repeat center top;
        background-size: 0.5066666667rem 3.52rem; }
    .section-ajaxprocess .ajaxprocess-parize .prize-cash {
      background: #FE6A09; }
      .section-ajaxprocess .ajaxprocess-parize .prize-cash .prize-item-icon {
        background-position: 0px 0px; }
    .section-ajaxprocess .ajaxprocess-parize .prize-volume {
      background: #EBB844; }
      .section-ajaxprocess .ajaxprocess-parize .prize-volume .prize-item-icon {
        background-position: 0px -1.16rem; }
    .section-ajaxprocess .ajaxprocess-parize .prize-volume1 {
      background: #2EB3E8; }
      .section-ajaxprocess .ajaxprocess-parize .prize-volume1 .prize-item-icon {
        background-position: 0px -2.3066666667rem; }
    .section-ajaxprocess .ajaxprocess-parize .prize-item-right {
      float: left;
      line-height: 1.3333333333rem;
      border-left: 1px dashed #fff;
      font-size: 0.3466666667rem;
      color: #FFE0CC;
      padding-left: 0.4rem;
      max-width: 3.4rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: block; }
      .section-ajaxprocess .ajaxprocess-parize .prize-item-right .font {
        font-size: 0.5333333333rem;
        color: #fff; }
  .section-ajaxprocess .ajaxprocess-every .every-title {
    padding-top: 1.3066666667rem; }
    .section-ajaxprocess .ajaxprocess-every .every-title img {
      height: 1.9733333333rem; }
  .section-ajaxprocess .ajaxprocess-every .every-title-info {
    color: #404040;
    font-size: 0.5333333333rem;
    line-height: 0.7466666667rem;
    padding-top: 0.7466666667rem; }
  .section-ajaxprocess .ajaxprocess-every .every-main-msg {
    line-height: 0.6666666667rem;
    font-size: 0.3733333333rem;
    color: #9B9BA8; }
    .section-ajaxprocess .ajaxprocess-every .every-main-msg .color {
      color: #508CEE; }
  .section-ajaxprocess .ajaxprocess-error .error-title {
    padding-top: 1.3066666667rem; }
    .section-ajaxprocess .ajaxprocess-error .error-title img {
      height: 1.9733333333rem; }
  .section-ajaxprocess .ajaxprocess-error .error-title-info {
    color: #404040;
    font-size: 0.5333333333rem;
    line-height: 0.7466666667rem;
    padding-top: 0.7466666667rem; }
  .section-ajaxprocess .ajaxprocess-error .error-main-msg {
    line-height: 0.6666666667rem;
    font-size: 0.3733333333rem;
    color: #9B9BA8; }
    .section-ajaxprocess .ajaxprocess-error .error-main-msg .color {
      color: #508CEE; }

/*# sourceMappingURL=club_index.css.map */
