@charset "UTF-8";
@import '../base/mobileUtils';
@import '../base/utils';
@import '../base/mreset';
@import '../base/mobileGrid';
@import '../mod/dialog';
@import '../inc/m_ui';
@import '../inc/header-mobile';
@import '../inc/footer-mobile';


html{
  background-color: #fff;
}
.hd{
  padding-top: px2rem(80px);
  height: px2rem(260px);
  width: px2rem(750px);
  background-image: url(/styles/images/club/mobile/activitylist-bg.png);
  background-size: px2rem(750px) px2rem(340px);
  background-repeat: no-repeat;
}
.hd-title{
  display: block;
  height: px2rem(64px);
  line-height: px2rem(64px);
  font-size: px2rem(50px);
  font-weight: bold;
  text-align: center;
  color: #fff;
  margin-bottom: px2rem(35px);
}
.hd-dashed{
  display: block;
  width: px2rem(431px);
  height: px2rem(10px);
  background-image: url(/styles/images/club/mobile/dashed.png);
  background-size: px2rem(431px) px2rem(10px);
  background-repeat: no-repeat;
  margin: 0 auto px2rem(25px);
}
.hd-desc{
  display: block;
  height: px2rem(48px);
  line-height: px2rem(48px);
  font-size: px2rem(40px);
  font-weight: bold;
  text-align: center;
  color: #fff;
}


.activity-box{
  padding: 0 px2rem(26px);
}
.activity-list{
  padding-top: px2rem(30px);
}
.activity-item{
  display: block;
  height: px2rem(270px);
  width: px2rem(698px);
  position: relative;
  color: #fff;
  background-color: rgba(0,0,0,0.2);
}
.activity-item+.activity-item{
  margin-top: px2rem(30px);
}
.activity-item-tag{
  position: absolute;
  top: px2rem(10px);
  left: px2rem(-9px);
  height: px2rem(55px);
  width: px2rem(125px);
}
.activity-item-tag.doing{
  background-image: url(/styles/images/club/mobile/tag-doing.png);
  background-size: px2rem(125px) px2rem(55px);
  background-repeat: no-repeat;
}
.activity-item-tag.down{
  background-image: url(/styles/images/club/mobile/tag-down.png);
  background-size: px2rem(125px) px2rem(55px);
  background-repeat: no-repeat;
}
.activity-img{
  height: px2rem(270px);
  width: px2rem(698px);
}
.activity-name{
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: px2rem(34px);
  line-height: px2rem(34px);
  font-size: px2rem(20px);
  text-align: center;
  background-color: rgba(0,0,0,0.7);
}

.get-more{
  display: block;
  height: px2rem(85px);
  line-height: px2rem(85px);
  font-size: px2rem(26px);
  color: #808080;
  text-align: center;
}