@charset "UTF-8";
@import '../base/mobileUtils';
@import '../base/utils';
@import '../base/mreset';
@import '../base/mobileGrid';
@import '../mod/dialog';
@import '../inc/m_ui';
@import '../inc/header-mobile';
@import '../inc/footer-mobile';

html{
  background-color: #fff;
}
.list-hd,.list-bd {
  height: px2rem(96px);
  font-size: px2rem(28px);
  color: #353535;
}
.list-hd,.list-bd{
  border-bottom: px2rem(2px) solid #f3f3f3;
}
.list-bd{
  color: #808080;
}

.list-item{
  display: table-cell;
  height: px2rem(96px);
  text-align: center;
  vertical-align: middle;
}
.item-name{
  width: px2rem(250px);
  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
}
.item-name-word{
  width: px2rem(230px);
  padding-left: px2rem(20px);
  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
}
.item-price{
  width: px2rem(300px);
  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
}
.item-price-word{
  width: px2rem(300px);
  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
}
.item-price-tyb{
  color: #ff3141;
}
.item-price-lcb{
  color: #cda76e;
}
.item-time{
  width: px2rem(200px);
  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
}
.item-time-word{
  width: px2rem(200px);
  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
}
.list-bd .item-name{
  //text-align: left;
}


// 空
.list-empty{
  padding-top: px2rem(93px);
}
.empty-icon{
  display: block;
  width: px2rem(392px);
  height: px2rem(392px);
  background-image: url(/styles/images/club/mobile/empty.png);
  background-size: px2rem(392px) px2rem(392px);
  background-repeat: no-repeat;
  margin: 0 auto px2rem(20px);
}
.empty-tips{
  display: block;
  text-align: center;
  font-size: px2rem(24px);
  line-height: px2rem(42px);
  color: #808080;
}
.empty-tips-link{
  color: #ff3141;
}

.get-more{
  height: px2rem(85px);
  line-height: px2rem(85px);
  font-size: px2rem(26px);
  color: #808080;
  text-align: center;
}
