@charset "UTF-8";
@import '../base/mobileUtils';
@import '../base/utils';
@import '../base/mreset';
@import '../base/mobileGrid';
@import '../mod/dialog';
@import '../inc/m_ui';
@import '../inc/header-mobile';
@import '../inc/footer-mobile';
.ui-footer {
	display:none;
}
html{
	min-height:100%;
	background:#f5f5f9
}
main {
	width:px2rem(672px);
	margin:0px auto;
}
.ui-yqgl {
	color:#333;
	.yqgl-list {
		padding:px2rem(14px) 0px px2rem(58px);
	}
	.yqgl-item {
		padding-bottom:px2rem(16px);
	}
	.yqgl-item-tit {
		font-size:px2rem(32px);
		line-height:px2rem(78px);
	}
	.yqgl-item-text {
		font-size:px2rem(26px);
		line-height:px2rem(36px);
		color:#666;
	}
	.yqgl-item-img {
		height:px2rem(584px);
		padding-top:px2rem(34px);
		overflow:hidden;
		div {
			width:px2rem(328px);
		}
		img {
			width:px2rem(328px);
		}
	}
	.yqgl-footer {
		text-align:center;
		padding:0px;
		position:relative;
		margin-bottom:px2rem(140px);
	}
	.yqgl-footer-btn {
		display:block;
		height:px2rem(88px);
		font-size:px2rem(32px);
		line-height:px2rem(88px);
		color:#fff;
		position:fixed;
		bottom:0px;
		left:0px;
		width:100%;
		text-align:center;
		background:-webkit-linear-gradient(#ed361b,#ee4f1f);
		background:linear-gradient(#ed361b,#ee4f1f);
	}
	.yqgl-footer-link {
		font-size:px2rem(26px);
		color:#3492e9;
		text-decoration:underline;

	}
}
.ui-zcgl {
	color:#333;
	.zcgl-item {
		padding-top:px2rem(37px);
		padding-bottom:px2rem(17px);
	}
	.zcgl-item-tit {
		font-size:px2rem(28px);
		line-height:px2rem(36px);
	}
	.zcgl-item-img {
		max-height:px2rem(584px);
		padding-top:px2rem(35px);
		overflow:hidden;
		div {
			width:px2rem(328px);
		}
		img {
			width:px2rem(328px);
		}

	}
	.zcgl-footer {
		font-size:px2rem(26px);
		color:#666;
		padding:px2rem(44px) 0px px2rem(72px);
	}
}