@charset "UTF-8";
@import '../base/mobileUtils';
@import '../base/utils';
@import '../base/mreset';
@import '../base/mobileGrid';
@import '../mod/dialog';
@import '../inc/m_ui';
@import '../inc/header-mobile';
@import '../inc/footer-mobile';
.ui-footer {
	display:none;
}
html,body {
	min-height:100%;
}
body {
	background:#fb620e ;
}
.page_section {
	background:url("/styles/images/cpasinviting/mobile/jibei_invite_bg.png") center top  no-repeat;
	background-size:px2rem(750px) px2rem(1204px);
}
main {
	padding-top:px2rem(595px);
	width:px2rem(750px);
	margin:0px auto;
}
.ui-redbox{
	color:#ff3b1a;
	text-align:center;
	height:px2rem(453px);
	.redbox-tit {
		font-size:px2rem(26px);
		line-height:px2rem(50px);
	}
	.redbox-crash {
		font-size:px2rem(80px);
		line-height:px2rem(104px);
		font-weight:bold;
		height:px2rem(104px);
		overflow:hidden;
		span {
			font-size:px2rem(36px);
			line-height:px2rem(128px);
			vertical-align:top;
		}
	}
	.redbox-link {
		padding-bottom:px2rem(80px);
		a {
			font-size:px2rem(24px);
			color:#a55422;
			text-decoration:underline;
			line-height:px2rem(82px);
		}
	}
	.redbox-btn {
		display:inline-block;
		height:px2rem(88px);
		background:#ffda78;
		font-size:px2rem(32px);
		color:#a65421;
		line-height:px2rem(88px);
		border-radius:px2rem(88px);
		width:px2rem(467px);
	}
}
.ui-linkparent {
	padding:px2rem(56px) px2rem(123px) px2rem(62px);
	a {
		font-size:px2rem(26px);
		line-height:px2rem(36px);
		color:#fff;
		text-decoration:underline;
	}	
}
