@Fcharset "UTF-8";
@import '../base/mobileUtils';
@import '../base/utils';
@import '../base/mreset';
@import '../base/grid';

html{
	background-color:#fff;
}
.template_error404{
	background-color:#fff;
}
.qt-w750{
	width:px2rem(750px);
	margin:0 auto;
}
.error_main{
	width:px2rem(590px);
	height:px2rem(308px);
	position:fixed;
	left:50%;
	top:50%;
	margin-left:px2rem(-295px);
	margin-top:px2rem(-154px);
	.image{
		width:px2rem(590px);
		height:px2rem(308px);
	}
}