@Fcharset "UTF-8";
@import '../base/mobileUtils';
@import '../base/utils';
@import '../base/mreset';
@import '../base/grid';
@import '../mod/dialog';
@import '../inc/m_ui';

a:hover{
  text-decoration: none;
}
*{
  margin: 0;padding: 0;
}
body,html{
  width: 100%;
  font-family: PingFangSC-Regular;
  background: #ffffff;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
.top{
  display: block;
  height:px2rem(163px);
  background: #ffffff;
  padding-left: px2rem(37px);
  padding-right: px2rem(37px);
  overflow: hidden;
  .top-logo{
    width:px2rem(107px);
    height: px2rem(107px);
    margin-top: px2rem(28px);
    img{
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  .top-title{
    width: px2rem(340px);
    height: px2rem(94px);
    margin-top:px2rem(35px);
    margin-left: px2rem(21px);
    .name{
      font-weight: 400;
      font-size:px2rem(40px);
      color: #404040;
    }
    p{
      font-size:px2rem(28px);
      color: #9D9D9D;
    }
  }
  .top-down{
    width: px2rem(145px);
    height:px2rem(70px);
    margin-top: px2rem(47px);
    margin-left:px2rem(63px);
    .load{
      display: block;
      width: px2rem(145px);
      height:px2rem(70px);
      background: #FF5700;
      border-radius:px2rem(65px);
      color: #FFFFFF;
      font-size:px2rem(35px);
      line-height: px2rem(70px);
      text-align: center;
    }
  }
}
.gap{
  width: 100%;
  height:px2rem(37px);
  background: #f3f3f5;
}
.content{
  background: #ffffff;
  padding-left: px2rem(35px);
  padding-right: px2rem(35px);
  padding-bottom: px2rem(53px);
  overflow: hidden;
  .content-article{

    .author{
      margin-top: px2rem(47px);
      height: px2rem(40px);
      overflow: hidden;
      span{
        font-size:px2rem(28px);
        color: #9D9D9D;
        margin-top: px2rem(5px);
      }
      .author-time{
        margin-left: px2rem(124px);
        margin-top: px2rem(10px);
      }
      .author-read{
        margin-left:px2rem(50px);
      }
    }
    .article{
      width: 100%;
      margin-top: px2rem(37px);
      font-size:px2rem(35px);
      color: #404040;
    }
    .article-pic{
      margin-top: px2rem(40px);
      .min1{
        width: px2rem(140px);
        height: px2rem(140px);
      }
      .min2{
        width: px2rem(140px);
        height: px2rem(140px);
      }
      .ml16{
        margin-left: px2rem(16px);
      }
    }

  }
}
.comment{
  padding-left: px2rem(35px);
  background: #ffffff;
  .comment-title{
    height: px2rem(40px);
    border-bottom: 2px solid #E9E9E9;
    padding-bottom: px2rem(12px);
    .all{
      font-size:px2rem(28px);
      color: #8A8A8A;
      border-left:px2rem(7px) solid #619DEF;
      padding-left: px2rem(16px);
    }
  }
  .comment-box{
    padding-top: px2rem(51px);
    padding-bottom: px2rem(51px);
    border-bottom: 2px solid #E9E9E9;
    .comment-name{
      font-size:px2rem(30px);
      color: #5B99EE;
      height: px2rem(47px);
    }
    .box{
      font-size: px2rem(32px);
      color: #404040;
      padding-right: px2rem(16px);
      margin-top: px2rem(21px);
      margin-bottom: px2rem(21px);
    }
    .comment-time{
      height: px2rem(37px);
    }
    a{
      font-size:px2rem(30px);
      color: #9D9D9D;
    }
  }
}
.getmore{
  width: 100%;
  height: px2rem(84px);
  margin-top: px2rem(37px);
  margin-bottom: px2rem(37px);
}
.more{
  display: block;
  width: px2rem(678px);
  margin: 0 auto;
  height: px2rem(84px);
  background: #F3F3F5;
  border-radius: px2rem(4px);
  line-height: px2rem(84px);
  text-align: center;
  font-size: px2rem(33px);
  color: #9D9D9D;
}
.bgpic{
  display: none;
  width: 100%;
  height: 100%;
  background: #000000;
  position: absolute;
  top:0;
  left:0;
  filter:alpha(opacity=50);
  -moz-opacity:0.5;
  opacity:0.5;

}
.max1{
  display: none;
  width: 100%;
  height: auto;
  position: absolute;
  left:0;
  right: 0;
  bottom: 0;
  top:0;
  margin: auto;
  opacity: 1;
  z-index: 1000;
}
.max2{
  display: none;
  opacity: 1;
  z-index: 1000;
  width: 100%;
  height: auto;
  position: absolute;
  left:0;
  right: 0;
  bottom: 0;
  top:0;
  margin: auto;
}