@charset "UTF-8";
@import '../base/mobileUtils';
@import '../base/utils';
@import '../base/mreset';
@import '../base/mobileGrid';
@import '../mod/dialog';
@import '../inc/m_ui';
@import '../inc/header-mobile';
@import '../inc/footer-mobile';

$paddingBottom : px2rem(20px);

html{
  background-color: #fff;
}
.ui-header{
  display: none;
}
.ui-footer{
  display: none;
}
.content{
  padding: px2rem(30px) px2rem(20px) px2rem(50px);
  color: #333;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.title {
  display: block;
  height: px2rem(80px);
  line-height: px2rem(80px);
  font-size: px2rem(40px);
  text-align: center;
  padding-bottom: $paddingBottom;
}
.style-text{
  line-height: px2rem(55px);
  font-size: px2rem(30px);
  padding-bottom: $paddingBottom;
  -ms-word-break: break-all;
  word-break: break-all;
}
.littie-title{
  display: block;
  font-weight: bold;
  line-height: px2rem(55px);
  font-size: px2rem(30px);
  padding-bottom: $paddingBottom;
}
.style-jump{
  display: block;
  height: px2rem(80px);
  line-height: px2rem(80px);
  font-size: px2rem(30px);
  text-align: center;
  padding-bottom: $paddingBottom;
}