@Fcharset "UTF-8";
@import '../base/mobileUtils';
@import '../base/utils';
@import '../base/mreset';
@import '../base/grid';
@import '../inc/m_ui';
body {
  background: #fff;
  overflow: hidden;
  position:relative;
}
@mixin text-clip{
  overflow:hidden;
  text-overflow:clip;
  word-break: break-all;
  word-wrap: break-word;
  display:block;
}
body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{
  font-family: 'Microsoft YaHei';
}
@mixin center{
  padding-left:px2rem(33px);
  padding-right:px2rem(33px);
}
.section1 {
  padding-bottom: px2rem(26px);
  .section1-banner {
    img {
      width:100%;
      float: left;
    }
  }
}
.section1-form {
  position:relative;
  top:px2rem(-2px);
  @include center;
  input {
    border:none;
  }
  .tit {
    font-size:px2rem(48px);
    font-weight: bold;
    color:#fb615a;
    line-height: px2rem(107px);
  }
  .item {
    height:px2rem(78px);
    padding-bottom:px2rem(30px);
    .input {
      padding-left:px2rem(30px);
      border:1px solid #d9d9d9;
      border-radius: 2px;
      height: px2rem(78px);
      overflow: hidden;
    }
    input {
      font-size:px2rem(30px);
      background: #fff;
      height: px2rem(78px);
      width: 100%;
      text-indent:px2rem(50px);
      float: left;
    }
    .wrap {
      float: left;
      width:100%;
    }
    .usename .icon{
      background:url("/styles/images/help/mobile/zhuce/usename.png") no-repeat  left center;
      background-size:px2rem(32px) px2rem(36px);
    }
    .password .icon{
      background:url("/styles/images/help/mobile/zhuce/password.png") no-repeat  left center;
      background-size:px2rem(29px) px2rem(36px);
    }
    .code {
      width:px2rem(380px);
      float: left;
      .icon{
        background:url("/styles/images/help/mobile/zhuce/code.png") no-repeat  left center;
        background-size:px2rem(32px) px2rem(36px);
      }
    }
    .phone .icon{
      background:url("/styles/images/help/mobile/zhuce/phone.png") no-repeat  left center;
      background-size:px2rem(26px) px2rem(36px);
    }
    .phone-code {
      width:px2rem(380px);
      float: left;
      .icon{
        background:url("/styles/images/help/mobile/zhuce/phone-code.png") no-repeat  left center;
        background-size:px2rem(26px) px2rem(35px);
      }
    }
    .icon {
      float: left;
      width:px2rem(52px);
      height: 100%;
      margin-left:-100%;
    }
    .changecode {
      width:px2rem(246px);
      height: px2rem(80px);
      img {
        width: 100%;
      }
    }
    .phonecode {
      width:px2rem(244px);
      height:px2rem(78px);
      border:1px solid #fb615a;
      border-radius: 2px;
      color:#fb615a;
      font-size: px2rem(24px);
      line-height: px2rem(78px);
      text-align: center;
    }
    .disabled {
      background: #787878;
      border:1px solid #787878;
      color:#fff;
    }
  }
  .submit {
    input {
      float: left;
      width: 100%;
      font-size: px2rem(32px);
      color:#fff;
      background: #fb615a;
      height: px2rem(88px);
      text-align: center;
      line-height: px2rem(88px);
      border-radius: 2px;
      font-weight: bold;
    }
  }
  .item-gou {
    color:#787878;
    .left {
      float: left;
      font-size: px2rem(24px);
      line-height: px2rem(75px);
      a {
        color: #0080cc;
        font-size: px2rem(24px);
      }
    }
    .right {
      float:right;
      font-size: px2rem(30px);
      line-height: px2rem(75px);
      a {
        color:#383838;
      }
    }
  }
  .forget {
    text-align: center;
    font-size:px2rem(30px);
    padding-bottom:px2rem(8px);
    line-height: 1em;
    .wrap {
      float: left;
      width:100%;
    }
    a {
      color:#383838;
    }
  }
}
.local-tyqbind {
  margin-top:px2rem(-45px);
  .local-tyqbind {
    text-align: center;
    .tit {
      color:#fe8b21;
      font-size: px2rem(48px);
      font-weight: bold;
      line-height: 1em;
    }
    .mobilenumber {
      font-size: px2rem(72px);
      font-weight: bold;
      color:#383838;
      padding-top:px2rem(20px);
      padding-bottom:px2rem(30px);
      line-height: px2rem(76px)
    }
    .desc {
      font-size: px2rem(30px);
      line-height: 1em;
      color:#383838;
      padding-bottom:px2rem(46px);
    }
  }
  .forget {
    text-align: center;
    font-size:px2rem(30px);
    padding-bottom:px2rem(8px);
    padding-top:px2rem(38px);
    line-height: 1em;
    .wrap {
      float: left;
      width:100%;
    }
    a {
      color:#383838;
    }
  }
}
.mod-section {
  color:#383838;
  .mod-section-title {
    text-align: center;
    padding-bottom: px2rem(45px);
    background: url("/styles/images/help/enroll/enroll4-bg.png") center bottom no-repeat;
    background-size: px2rem(426px) px2rem(16px);
    color:#383838;
    .mod-section-title-text {
      font-size: px2rem(50px);
      line-height: px2rem(54px);
      font-weight: bold;
      width: 100%;
    }
    .mod-section-title-text1 {
      font-size: px2rem(28px);
      line-height: px2rem(28px);
      width: 100%;
    }
  }
  .mod-section-main {
    border-radius: 2px;
  }
}
.section2 {
  padding-bottom: px2rem(64px);
  .section2-main {
    width:px2rem(688px);
    padding-top:px2rem(32px);
    margin:0px auto;
  }
  .section2-main-list {
    width:px2rem(690px);
  }
  .section2-main-item {
    float: left;
    width:px2rem(172px);
    text-align: center;
    height: px2rem(230px);
    overflow: hidden;
  }
  .section2-item-img {
    padding-bottom:px2rem(17px);
    img {
      width:px2rem(151px);
      height:px2rem(151px);
    }
  }
  .section2-item-text {
    line-height: px2rem(26px);
    color:#383838;
    font-size:px2rem(22px);
    display: block;
  }
}
.section3 {
  padding-top:px2rem(42px);
  padding-bottom:px2rem(76px);
  background: #f7f7f7;
  .section3-main {
    padding-top: px2rem(44px);
    position:relative;
    overflow: hidden;
  }
  .section3-main-img {
    width:px2rem(750px);
    margin:0px auto;
    img{
      width:px2rem(750px)
    }
  }
}
.section4 {
  padding-top:px2rem(62px);
  padding-bottom:px2rem(42px);
  padding-left:px2rem(32px);
  padding-right:px2rem(32px);
  color:#383838;
  .mod-section-title {
    margin-bottom:px2rem(44px);
  }
  .mod-section-main {
    border:px2rem(6px) solid #ef3a3a;
    border-radius: 10px;
    background: #f9f9fb;
  }
  .section4-main-list {
    padding-top:px2rem(22px);
    padding-right: px2rem(24px);
    padding-left: px2rem(24px);
  }
  .section4-main-item {
    padding-top:px2rem(16px);
    padding-bottom:px2rem(16px);
    border-bottom:1px solid #f26a6a;
    height: px2rem(140px);
    overflow: hidden;;
  }
  .section4-main-item-content {
    float: left;
    width: 100%;
  }
  .item-wrap {
    padding-left:px2rem(152px);
  }
  .setion4-main-item-content-title {
    font-size: px2rem(36px);
    font-weight: bold;
    line-height: px2rem(52px);
    height: px2rem(52px);
    padding-bottom:px2rem(5px);
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
  }
  .section4-main-item-content-text {
    line-height: px2rem(40px);
    font-size:px2rem(26px);
    color:#787878;
  }
  .section4-main-item-img {
    width:px2rem(120px);
    height: px2rem(120px);
    border:px2rem(10px) solid #e5f0f7;
    border-radius: 2px;
    overflow: hidden;
    float: left;
    margin-left:-100%;
    img {
      width:px2rem(120px);
      height: px2rem(120px);
    }
  }
  .section4-item-extra {
    background: #fff;
    height:px2rem(10px);
    width: 100%;
    margin-top:px2rem(-2px);
  }
  .mod-section-main-tips{
    display: block;
    text-align: center;
    margin-top: px2rem(30px);
    height:px2rem(40px);
    line-height: px2rem(40px);
    font-size:px2rem(26px);
  }
}
.footer {
  height:px2rem(250px);
  line-height: px2rem(35px);
  text-align: center;
  font-size: px2rem(24px);
  background: #474f59;
  color:#fff;
  .footer-wrap{
    padding-top:px2rem(62px);
  }
}
.download {
  position:fixed;
  bottom:0px;
  left:0px;
  background: rgba(0,0,0,0.6);
  width:100%;
  font-weight: bold;
  z-index: 3;
  .wrap {
    padding-left:px2rem(48px);
    padding-right: px2rem(48px);
    padding-top:px2rem(7px);
    padding-bottom:px2rem(7px);
  }
  .lf {
    float: left;
  }
  .close {
    float: left;
    margin-top:px2rem(12px);
    height:px2rem(51px);
    width:px2rem(51px);
    background: url("/styles/images/help/mobile/zhuce/close_ratio.png") left center no-repeat;
    background-size: px2rem(41px);
  }
  .logo {
    margin-left:px2rem(10px);
    float: left;
    height: px2rem(65px);
    width: px2rem(65px);
    background:#fff url("/styles/images/help/mobile/zhuce/licai_logo_ratio.png") no-repeat center center ;
    background-size:contain;
    border-radius: 2px;
  }
  .text {
    float: left;
    color:#fff;
    font-size: px2rem(24px);
    line-height: px2rem(36px);
    padding-left: px2rem(10px);
    span {
      display: block;
    }
  }
  .rt {
    float: right;
    width:px2rem(236px);
    height: px2rem(62px);
    border:1px solid #fff;
    border-radius: 2px;
    line-height: px2rem(62px);
    a {
      padding-left:26px;
      display: block;
      color:#fff;
      font-size:px2rem(32px);
      span {
        display: block;
        padding-left:px2rem(52px);
        background:url("/styles/images/help/mobile/zhuce/down_ratio.png") no-repeat left center;
        background-size:px2rem(41px) px2rem(38px);
      }
    }
  }
}
.layer {
  position: fixed;
  display: none;
  z-index: 5;
  height: 100%;
  width:100%;
  top:0px;
  left: 0px;
  .mask {
    position:absolute;
    background: rgba(0,0,0,0.6);
    height: 100%;
    width: 100%;
  }
  .prompt {
    position: fixed;
    z-index: 5;
    top:50%;
    margin-top:px2rem(-100px);
    text-align: center;
    width:100%;
    .wrap {
      margin:0 auto;
      background: #fff;
      width:px2rem(600px);
      height: px2rem(200px);
      border-radius: 8px;
    }
    .desc {
      font-size: px2rem(28px);
      height: px2rem(104px);
      color:#383838;
      line-height: 1.2em;
      span {
        display: block;
        padding-top:px2rem(52px);
      }
    }
    .close {
      width: px2rem(140px);
      margin: 0 auto;
    }
    a {
      float: left;
      background: #fb615a;
      width: px2rem(140px);
      height: px2rem(50px);
      color:#fff;
      font-weight: bold;
      font-size: px2rem(24px);
      line-height: px2rem(50px);
      border-radius: 2px;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
.picode-item{
  display: none;
}