@Fcharset "UTF-8";
@import '../base/mobileUtils';
@import '../base/utils';
@import '../base/mreset';
@import '../base/mobileGrid';
@import '../mod/dialog';
@import '../inc/m_ui';
@import '../inc/header-mobile';
@import '../inc/footer-mobile';

.ui-zhitou-banner{
    img{
        display: block;
        width: 100%;
    }
}
.ui-zhitou-list{
    background-color: #fff;
    padding-top: px2rem(35px);
}
.ui-zhitou-list-title{
    margin: 0 auto; 
    width: px2rem(661px);
    height: px2rem(76px);
    font-size: px2rem(30px);
    color: #fff;
    line-height: px2rem(60px);
    text-align: center;
    background: url(/styles/images/help/mobile/zhitou/title-bg.png) no-repeat 0 0;
    background-size: contain;
    span{
        color: #feed34;
    }
}
.ui-zhitou-list-table{
    height: px2rem(1640px);
    background: url(/styles/images/help/mobile/zhitou/list-bg.png) no-repeat 0 0;
    background-size: contain;
}
.ui-zhitou-list-table-item{
    .item-title{
        padding-left: px2rem(55px);
        line-height: px2rem(42px);
        font-weight: bold;
        font-size: px2rem(42px);
        color: #fe7407;
    }
    .item-explain{
        margin-top: px2rem(12px);
        font-size: px2rem(26px);
        color: #646c77;
        line-height: px2rem(37px);
    }
}
.ui-zhitou-list-table-item.chose{
    height: px2rem(262px);
    padding: px2rem(148px) 0 0 px2rem(450px);
}
.ui-zhitou-list-table-item.bind{
    height: px2rem(244px);
    padding: px2rem(166px) 0 0 px2rem(63px);
}
.ui-zhitou-list-table-item.loans{
    height: px2rem(253px);
    padding: px2rem(157px) 0 0 px2rem(448px);
}
.ui-zhitou-list-table-item.prize{
    height: px2rem(240px);
    padding: px2rem(172px) 0 0 px2rem(67px);
}
.ui-zhitou-notice{
    padding-top: px2rem(45px);
    background-color: #fff;
}
.ui-zhitou-notice-title{
    font-size: px2rem(30px);
    color: #fff;
    height: px2rem(50px);
    line-height: px2rem(50px);
    width: px2rem(172px);
    text-indent: px2rem(15px);
    border-radius: 0 px2rem(25px) px2rem(25px) 0;
    background-color: #fe7407;
}
.ui-zhitou-notice-list{
    margin: 0 px2rem(46px);
    line-height: px2rem(48px);
    padding: px2rem(30px) 0 px2rem(110px) px2rem(50px);
    list-style: decimal;
    font-size: px2rem(30px);
    color: #646c77;
    li{
        list-style: decimal;
    }
}
.ui-zhitou-getrate{
    position: fixed;
    bottom:0;
    width: 100%;
    height: px2rem(86px);
    line-height: px2rem(86px);
    text-align: center;
    background-color: #ff7856;
    font-size: px2rem(32px);
    a{
        display: block;
        color: #fff;
    }
}


















