@charset "UTF-8";
@import '../base/mobileUtils';
@import '../base/utils';
@import '../base/mreset';
@import '../base/mobileGrid';
@import '../mod/dialog';
@import '../inc/m_ui';
@import '../inc/header-mobile';
@import '../inc/footer-mobile';


body {
  background: #f53c39;
  padding-bottom: px2rem(126px);
}
.ui-banner {
  width: px2rem(750px);
  height: px2rem(426px);
  overflow: hidden;
  background: url(/styles/images/help/newyear/mobile/H5_header.jpg) no-repeat 0 0;
  background-size: px2rem(750px) px2rem(426px);
  p {
    font-size: px2rem(22px);
    color: #f7d76f;
    text-align: center;
    margin-top: px2rem(360px);
  }
}

.step-wrap {
  width: px2rem(678px);
  margin: 0 auto;
  height: 100%;
  .step {
    width: px2rem(678px);
    height: px2rem(1025px);
    margin-bottom: px2rem(55px);
    overflow: hidden;
    .p {
      text-align: center;
      color: #545454;
      font-size: px2rem(30px);
      line-height: px2rem(55px);
    }
    .p1 {
       margin-top: px2rem(190px);
    }
  }
  .step1 {
    height: px2rem(1013px);
    background: url(/styles/images/help/newyear/mobile/step1.png) no-repeat 0px 0px;
    background-size: px2rem(678px) px2rem(1013px);
  }
  .step2 {
    background: url(/styles/images/help/newyear/mobile/step2.png) no-repeat center 0;
    background-size: px2rem(678px) px2rem(1025px);
  }
  .step3 {
    background: url(/styles/images/help/newyear/mobile/step3.png) no-repeat center 0;
    background-size: px2rem(678px) px2rem(1025px);
  }
}

.guize {
  height: px2rem(1249px);
  width: px2rem(678px);
  margin: 0 auto;
  background: url(/styles/images/help/newyear/mobile/guize.png) no-repeat center 0;
  background-size: px2rem(678px) px2rem(1249px);
  overflow: hidden;
  .p-wrap {
    width: px2rem(534px);
    margin: 0 auto;
    margin-top: px2rem(250px);
    font-size: px2rem(24px);
    line-height: px2rem(65px);
    color: #545454;
  }
}

.ui-footer {
  display: none;
}

.get-fuli {
  height: px2rem(100px);
  width: px2rem(750px);
  text-align: center;
  color: #724515;
  line-height: px2rem(100px);
  font-size: px2rem(30px);
  position: fixed;
  bottom: 0px;
  left: 0px;
  a {
    display: inline-block;
    height: px2rem(100px);
    width: px2rem(750px);
    color: #724515;
    background: #f7d76f;
    &:active {
      background: #e4c150;
    }
  }
}

.p-zhuyi {
    height: px2rem(30px);
    text-align: center;
    color: #fff0dd;
    font-size: px2rem(22px);
    margin-top: px2rem(20px);
    //padding-bottom: px2rem(10px);
}