@Fcharset "UTF-8";
@import '../base/mobileUtils';
@import '../base/utils';
@import '../base/mreset';
@import '../base/grid';
@import '../inc/m_ui';
@import '../inc/index_footer_mobile';
@import "../inc/index_header_mobile";
main {
  padding-top: px2rem(30px);
}
.pd-bt26 {
  padding-bottom:px2rem(26px);
}
.section {
  background: #fff;
  min-height: px2rem(1000px);
  padding:px2rem(0px) px2rem(24px);
}
.section-title {
  font-size: px2rem(28px);
  line-height: px2rem(84px);
  padding-top:px2rem(4px);
  color: #666;
  border-bottom:px2rem(1px) solid #dadada;
}
.section-list {
  padding:px2rem(20px) 0px px2rem(40px);
  .w172 {
    .section-item-right-text {
      padding-left: px2rem(172px);
    }
  }
  .w230 {
    .section-item-right-text {
      padding-left: px2rem(230px);
    }
  }
}
.section-item {
  padding:px2rem(13px) 0px;
  font-size: px2rem(28px);
  line-height: px2rem(46px);
}
.section-item-left {
  float: left;
  margin-left: -100%;
  text-align: left;
  color: #666;
}
.section-item-right {
  float: left;
  width: 100%;
  color:#333;
  text-align: left;
  min-height: px2rem(46px);
}
.section-item-right-text {
  padding-left: px2rem(158px) ;
}