@charset "UTF-8";
@import '../base/mobileUtils';
@import '../base/utils';
@import '../base/mreset';
@import '../base/grid';
@import '../inc/m_ui';
@import '../inc/index_footer_mobile';
@import '../mod/retina';
body {
  position: relative;
  overflow: hidden;
}
@mixin pd-pt{
  padding-left: px2rem(24px);
  padding-right:px2rem(24px);
}
@mixin font-break {
  word-wrap: break-word;
  word-break: break-all;
  overflow: hidden;
}
@mixin pd-pt22{
  padding-left: px2rem(22px);
  padding-right:px2rem(22px);
}
.tip-dianping-huodong{
  display: block;
  font-size: px2rem(26px);
  line-height: px2rem(75px);
  color: rgb(255, 126, 21);
  background-color: rgb(254, 234, 202);
  text-align: center;
}
.bd-tp1 {
  border-top: px2rem(1px) solid #dadada;
}
a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
.font-arial {
  font-family: Arial;
}
.mod-more-icon {
  background: url("../images/mobile/index/more.png") right center no-repeat;
  background-size: px2rem(13px) px2rem(22px);
}
.mod-more-link {
  display: block;
  margin-left: px2rem(24px);
  margin-right: px2rem(24px);
  height: px2rem(88px);
  background: #fff;
  line-height: px2rem(88px);
  font-size: px2rem(24px);
  text-decoration: none;
  text-align: center;
  padding-top: 2px;
  background: url('../images/mobile/index/rebg.png') left top repeat-x;
  //border-top:px2rem(1px) dashed #dfdfdf;
  .mod-more-link-txt{
    padding-left: px2rem(32px);
    color: #3692e8;
    position: relative;
    display: inline-block;
    .mod-more-link-icon{
      position: absolute;
      top: px2rem(31px);
      left: 0;
      width: px2rem(22px);
      height: px2rem(22px);
      background: url("../images/mobile/index/index_icons_1x_2x.png") right center no-repeat;
      background-size: px2rem(1000px) px2rem(1000px);
      background-position: 0 px2rem(-200px);
    }
  }
}
.mod-section {
  margin-top:px2rem(30px);
  background: #fff;
  .mod-section-body {
    @include pd-pt22;
    .noborder {
      border:none;
    }
    .c_color {
      color: #ff0000
    }
  }
}
.mod-title {

  @include pd-pt22;
  .mod-title-wrap {
    font-size: px2rem(28px);
    line-height: px2rem(88px);
    border-bottom:px2rem(1px) solid #dadada;
  }
  .mod-title-left {
    float: left;
    color: #666;
  }
  .mod-title-right {
    float: right;
    font-size: px2rem(22px);
    color: #333;
  }
  .mod-more-icon {
    padding-right:px2rem(20px);
  }
  .color {
    color:#ff6600;
  }
}
.problem {
  width:px2rem(300px);
  height: px2rem(204px);
  position: absolute;
  top:px2rem(36px);
  right: px2rem(16px);
  background: url("../images/mobile/index/problem.png") right center no-repeat;
  background-size:contain;
}
.platforminfo {
  width:px2rem(301px);
  height: px2rem(212px);
  position: absolute;
  top:px2rem(36px);
  right: px2rem(16px);
  background-size:contain;
  opacity: 0.4;
}
.bg_problem{
  //position: absolute;
  //left: 691px;
  //bottom: 36px;
  //width: 186px;
  //height: 109px;
}

.ui-problem1{
  background: url(/styles/images/common/pproblem1.png) no-repeat center center;
  background-size: px2rem(300px) px2rem(204px);
}
.ui-problem2{
  background: url(/styles/images/common/pproblem2.png) no-repeat center center;
  background-size: px2rem(300px) px2rem(193px);
}
.ui-problem3{
  background: url(/styles/images/common/pproblem3.png) no-repeat center center;
  background-size: px2rem(300px) px2rem(192px);
}
.ui-problem4{
  background: url(/styles/images/common/pproblem4.png) no-repeat center center;
  background-size: px2rem(300px) px2rem(203px);
}
.ui-problem5{
  background: url(/styles/images/common/pproblem5.png) no-repeat center center;
  background-size: px2rem(300px) px2rem(212px);
}
.ui-problem6{
  background: url(/styles/images/common/pproblem6.png) no-repeat center center;
  background-size: px2rem(301px) px2rem(205px);
}
.ui-problem7{
  background: url(/styles/images/common/pproblem7.png) no-repeat center center;
  background-size: px2rem(301px) px2rem(191px);
}
.ui-problem8{
  background: url(/styles/images/common/pproblem8.png) no-repeat center center;
  background-size: px2rem(300px) px2rem(196px);
}
.ui-problem9{
  background: url(/styles/images/common/pproblem9.png) no-repeat center center;
  background-size: px2rem(301px) px2rem(212px);
}
header {
  position:relative;
  .header {
    height: px2rem(268px);
    background: #2a8ce7;
    @include pd-pt;
    color:#fff;
  }
  .header-title {
    padding-top:px2rem(45px);
    height: px2rem(96px);
    position: relative;
    z-index: 2;
  }
  .header-title-left {
    float: left;
    font-size:px2rem(48px);
    line-height: px2rem(96px);
  }
  .header-title-right{
    float: left;
    padding-top:px2rem(34px);
    padding-left: px2rem(30px);
    height: px2rem(34px);
    max-width: px2rem(484px);
    overflow: hidden;
    .tags {
      float: left;
      margin-right: px2rem(10px);
      font-size: px2rem(22px);
      line-height: px2rem(32px);
      padding-left: px2rem(12px);
      padding-right:px2rem(12px);
      border:px2rem(1px) solid #fff;
      border-radius: px2rem(4px);
      background: #4a9deb;
      color:#fff;
    }
  }
  .problem-text {
    float: left;
    .tags {
      border:none;
      background: #f54f4f;
      color:#fff;
    }
  }
  .header-body {
    font-size: px2rem(22px);
    line-height: px2rem(94px);
    .header-body-left {
      float: left;
    }
    .header-body-right {
      float: left;
    }
    .header-body-guanzhu{
      position: relative;
      display: block;
      float: right;
      .guanzhu_txt{
        font-size: px2rem(26px);
        color: #fff;
      }
      .guanzhu_tip{
        display: none;
        height: px2rem(22px);
        line-height: px2rem(22px);
        position: absolute;
        top: px2rem(10px);
        left: px2rem(25px);
        font-size: px2rem(20px);
        color: #fff;
      }
    }
    .header-body-line {
      padding-left: px2rem(40px);
      padding-right: px2rem(40px);
    }
    .big {
      font-size: px2rem(40px);
    }
  }
  .body {
    background: #fff;
  }
  .body-link {
    line-height: px2rem(88px);
    height: px2rem(88px);
    overflow: hidden;
    color: #003333;
    display: block;
    @include pd-pt;
  }
  .body-link-left {
    font-size:px2rem(28px);
    float: left;
    width: px2rem(140px);
  }
  .body-link-center {
     float: left;
    width: px2rem(530px);
    font-size: px2rem(24px);
    .red {
      color: #ff6600;
      font-weight: bold;
    }
  }
  .body-link-center-text {
    float: left;
    padding:0px px2rem(15px);
    font-size: px2rem(26px);
    line-height: px2rem(40px);
    background:#ff6600;
    margin-right: px2rem(15px);
    border-radius: px2rem(4px);
    margin-top:px2rem(26px);
    color: #fff;
  }
  .body-link-center-text1 {
    display: inline-block;
    font-size: px2rem(22px);
    width: px2rem(112px);
    height: px2rem(88px);
    color:#ff6600;
    text-align: center;
    margin-right: px2rem(14px);
    background: url("../images/mobile/index/quan.png") left center no-repeat;
    background-size: px2rem(112px) px2rem(36px);

  }
  .red {
    #color:#ff6600;
  }
  .body-link-right {
    float: right;
    width:px2rem(30px);
    height: px2rem(88px);
  }
}

//活动
.cpchuodong{
  display: block;
  position: relative;
  width: 100%;
  height: px2rem(90px);
  line-height: px2rem(90px);
  margin-top: px2rem(20px);
  background-color: #fff;
  @include clearfix;
  .icon{
    float: left;
    margin: px2rem(17px) 0 0 px2rem(33px);
    width:px2rem(59px);
    height:px2rem(56px);
    background: url("../images/mobile/index/index_icons_1x_2x.png") right center no-repeat;
    background-size: px2rem(1000px) px2rem(1000px);
    background-position: 0 px2rem(-130px);
  }
  .returnrecord-icon {
    width:px2rem(30px);
    background: url("../images/common/mobile/returncrash.png") left center no-repeat;
    background-size: px2rem(30px) px2rem(30px);
  }
  .returnrecord-icon+.le {
    padding-left: px2rem(20px);
  }
  .le{
    float: left;
    padding-left: px2rem(30px);
    font-size: px2rem(28px);
    color: #343434;
  }
  .ri{
    float: left;
    padding-left: px2rem(30px);
    font-size: px2rem(28px);
    color: #f15251;
    width: px2rem(370px);
    @include text-ellipsis;
  }
  .more-icon{
    position: absolute;
    top: 0;
    right: px2rem(24px);
    background: url("../images/mobile/index/more.png") right center no-repeat;
    background-size: px2rem(13px) px2rem(22px);
    width: px2rem(20px);
    height: 100%;
  }
}

//主体模块内容
.section1{
  margin-top: px2rem(20px);
  .section1-info-list {
    padding:px2rem(34px) 0px px2rem(8px);
  }
  .section1-info-item {
    line-height: px2rem(40px);
    padding-bottom: px2rem(26px);
  }
  .section1-info-item-left {
    float: left;
    width: px2rem(156px);
    font-size: px2rem(28px);
    color:#666;
    text-align: left;
  }
  .section1-info-item-right {
    float: left;
    width: px2rem(550px);
    font-size: px2rem(28px);
    color: #333;
  }
  .section1-body-nav {
    overflow: hidden;
    display: none;
  }
  .section1-nav-list {
    width: px2rem(750px);
    padding-bottom:px2rem(36px);
  }
  .section1-nav-item {
    width: px2rem(156px);
    padding-right:px2rem(28px);
    padding-top:px2rem(40px);
    text-align: center;
    float: left;
  }
  .nav-item-link {
    display: inline-block;
    color: #333;
    font-size: px2rem(26px);
    img {
      width: px2rem(100px);
      height: px2rem(100px);
      display: block;
    }
  }
  .nav-item-link-tit {
    padding-top:px2rem(16px);
    line-height: px2rem(33px);
    display: inline-block;
  }
}
.section2 {
  .section2-body{
    padding-top:px2rem(24px);
    padding-bottom: px2rem(30px);
  }
  .section2-body-title {
    font-size: px2rem(28px);
    line-height: px2rem(68px);
    color:#666;
  }
  .big {
    font-size:px2rem(44px);
    color: #ff6600;
    padding: 0px  px2rem(10px);
  }
  .desc {
    font-size: px2rem(22px);
    color: #999;
  }
  .section2-body-main-text {
    font-size: px2rem(28px);
    line-height: px2rem(68px);
    color: #666;
  }
  .color {
    color: #333;
  }
  .mg-rt100 {
    margin-right: px2rem(100px);
  }
}
.section3 {
  .section3-body{
    padding-top:px2rem(24px);
    padding-bottom: px2rem(30px);
  }
  .section3-body-title {
    font-size: px2rem(28px);
    line-height: px2rem(68px);
    color:#666;
    .color {
      color: #333;
    }
    .icon {
      margin-left: px2rem(30px);
      padding-left: px2rem(26px);
      font-size: px2rem(22px);
      color: #66cc66;
    }
    .up {
      background: url("../images/mobile/index/up.png") left center no-repeat;
      background-size: px2rem(18px) px2rem(18px);
    }
    .down {
      background: url("../images/mobile/index/down.png") left center no-repeat;
      background-size: px2rem(18px) px2rem(18px);
    }
    .flat {
      background: url("../images/mobile/index/flat.png") left center no-repeat;
      background-size: px2rem(18px) px2rem(18px);
    }
  }
  .big {
    font-size:px2rem(44px);
    color: #ff6600;
    padding: 0px  px2rem(10px);
  }
  .desc {
    font-size: px2rem(22px);
    color: #999;
  }
  .section3-body-main{
    width:100%;
    height: px2rem(446px);
    color: #666;
    overflow: hidden;
    position: relative;
  }
  .section3-body-main-wrap {
    position:absolute;
    width:px2rem(800px);
    height: px2rem(600px);
    left: 50%;
    top:50%;
    margin-left: px2rem(-400px);
    margin-top:px2rem(-300px);
    font-size: px2rem(20px);
  }
  .color {
    color: #333;
  }
  .mg-rt100 {
    margin-right: px2rem(100px);
  }
}
.section4 {
  .section4-body {
    padding-top:px2rem(30px);
  }
  .section4-nav {
    max-height: px2rem(96px);
  }
  .section4-nav-list {
    width:px2rem(736px);
    max-height: px2rem(86px);
    overflow: hidden;
  }
  .section4-nav-item {
    font-size: px2rem(22px);
    color: #999;
    float: left;
    padding-right: px2rem(30px);
    padding-bottom:px2rem(10px);
  }
  .section4-nav-item-text {
    display: inline-block;
    padding:0px px2rem(18px);
    border-radius: px2rem(4px);
    border:px2rem(1px) solid #dadada;
    line-height: px2rem(36px);
    height: px2rem(36px);
  }
  .section4-comment-list {
    padding-top:px2rem(20px);
  }
  .section4-comment-item {
    border-bottom: px2rem(1px) solid #dadada;
  }
  .section4-body-link {
    display: block;
  }
  .comment-item-top {
    padding:px2rem(30px) 0px px2rem(22px);;
    line-height: px2rem(36px);
  }
  .comment-item-top-left {
    float: left;
    font-size: px2rem(26px);
    color: #2a8ce7;
    img {
      width: px2rem(36px);
      height: px2rem(36px);
      vertical-align: middle;
      border-radius: 50%;
      margin-right: px2rem(16px);
    }
  }
  .comment-item-top-right {
    float: right;
    padding-left: px2rem(30px);
    height: px2rem(36px);
    font-size: px2rem(22px);
  }
  .good {
    color: #66cc66;
    background: url("../images/mobile/index/goodcomment.png") left center no-repeat;
    background-size: px2rem(22px) px2rem(22px);
  }
  .kind{
    color: #999;
    background: url("../images/mobile/index/commonlycomment.png") left center no-repeat;
    background-size: px2rem(22px) px2rem(22px);
  }
  .bad {
    color: #ff6600;
    background: url("../images/mobile/index/badcomment.png") left center no-repeat;
    background-size: px2rem(22px) px2rem(22px);
  }
  .comment-item-main {
    line-height: px2rem(40px);
    max-height: px2rem(80px);
    overflow: hidden;
    font-size: px2rem(28px);
    color: #333;
  }
  .comment-item-bottom {
    font-size: px2rem(22px);
    line-height: px2rem(70px);
    color: #999;
    padding-bottom:px2rem(8px);
    span{
      color: #999;
    }
  }
  .comment-item-bottom-text {
    float: left;
  }
  .praise{
    position: relative;
    display: block;
    padding-left: px2rem(35px);
    float: right;
    .praise-animate-num{
      position: absolute;
      top: 0;
      right: 0;
      width: px2rem(24px);
      height: px2rem(24px);
      line-height: px2rem(24px);
      font-size: px2rem(14px);
      color: #ea544a;
      text-align: center;
      -webkit-transition: all .6s ease-in-out;
      -moz-transition: all .6s ease-in-out;
      -o-transition: all .6s ease-in-out;
      -ms-transition: all .6s ease-in-out;
      transition: all .6s ease-in-out;
    }
    .praise-animate-num-uping{
      opacity: 0;
      top: px2rem(-20px);
    }
    .praise-icon{
      position: absolute;
      top: px2rem(20px);
      left: 0;
      width: px2rem(26px);
      height: px2rem(24px);
      background: url("../images/mobile/index/comments/icons.png") left center no-repeat;
      background-size: px2rem(1000px) px2rem(1000px);
      background-position: 0 0;
    }
    .praise-icon-hov{
      background-position: px2rem(-30px) 0;
    }
    .praise-txt{
      font-size: px2rem(22px);
      color: #999999;
    }
    .praise-txt-hov{
      color: #ffa42f;
    }
  }
  .comment-item-bottom-line {
    float: left;
    padding: 0px px2rem(20px);
  }
}
.section5 {
  .section5-body-item {
    border-bottom: px2rem(1px) solid #dadada;
  }

  .section5-item-title {
    padding-top: px2rem(20px);
    overflow: hidden;
    font-size: px2rem(28px);
    line-height: px2rem(42px);
    color: #333;
  }
  .section5-item-title-text {
    display: block;
    max-height: px2rem(84px);
  }
  .section5-item-footer {
    font-size: px2rem(22px);
    line-height: px2rem(64px);
    color: #999;
  }
  .section5-item-footer-text {
    float: left;
  }
  .section5-item-footer-line {
    float: left;
    padding:0px px2rem(20px);
  }
}
.section6 {
  .section6-body-item {
    border-bottom: px2rem(1px) solid #dadada;
  }
  .section6-item-title {
    padding-top: px2rem(20px);
    padding-bottom:px2rem(6px);
    overflow: hidden;
    font-size: px2rem(28px);
    line-height: px2rem(42px);
    color: #333;
    @include font-break;
  }
  .section6-item-title-text {
    display: block;
    max-height: px2rem(84px);
  }
  .section6-item-main {
    line-height: px2rem(40px);
    font-size: px2rem(26px);
    color:#999;
    overflow: hidden;
    max-height: px2rem(80px);
  }
  .section6-item-footer {
    font-size: px2rem(22px);
    line-height: px2rem(80px);
    color: #999;
    padding-bottom:px2rem(2px)
  }
  .section6-item-footer-text {
    float: left;
  }
  .section6-item-footer-line {
    float: left;
    padding:0px px2rem(20px);
  }
  .img {
    display: inline-block;
    height: px2rem(36px);
    width: px2rem(36px);
    margin-top:px2rem(22px);
    color: #999;
    vertical-align:top;
    margin-right: px2rem(14px);
    border-radius: 50%;
  }
}
.section7 {
  padding:0px px2rem(15px);
  .section7-title {
    height: px2rem(120px);
    line-height: px2rem(120px);
    @include font-break;
  }
  .section7-title-left {
    float: left;
    width: px2rem(284px);
    height: px2rem(120px);
    margin-left: -100%;
    background: url("../images/mobile/index/title-left.png") left center no-repeat;
    background-size: contain;
  }
  .section7-title-center {
    float: left;
    text-align: center;
    width: 100%;
    color: #999;
    font-size: px2rem(28px);
  }
  .section7-title-right {
    float: right;
    width: px2rem(284px);
    height: px2rem(120px);
    margin-left: px2rem(-284px);
    background: url("../images/mobile/index/title-right.png") right center no-repeat;
    background-size: contain;
  }
  .section7-body-item {
    padding-bottom:px2rem(30px);
    .item-num {
      position:absolute;
      top:0px;
      right: px2rem(15px);
      height: px2rem(32px);
      width: px2rem(72px);
      background: url("../images/mobile/index/events_top1.png") right center no-repeat;
      background-size: contain;
    }
    .num2{
      background: url("../images/mobile/index/events_top2.png") right center no-repeat;
      background-size: contain;
    }
    .num3{
      background: url("../images/mobile/index/events_top3.png") right center no-repeat;
      background-size: contain;
    }
    .item-top {
      height: px2rem(154px);
    }
    .item-top-left {
      float: left;
      margin-left:-100%;
      width:px2rem(250px);
      img {
        height: px2rem(154px);
        width: px2rem(240px);
      }
    }
    .item-top-right {
      width: 100%;
      float: left;
    }
    .item-top-right-wrap {
      padding-left: px2rem(250px);
    }
    .item-top-right-title {
      font-size: px2rem(22px);
      line-height: px2rem(50px);
      color:#4c566c;
      height: px2rem(50px);
      padding-top:px2rem(16px);
      @include font-break;
    }
    .item-top-right-main {
      border-bottom:px2rem(1px) solid #dadada;
      padding-bottom: px2rem(15px);
    }
    .item-top-right-main-wrap {
      height: px2rem(24px);
      overflow: hidden;
    }
    .item-top-right-text {
      float: left;
      height: px2rem(24px);
      padding:0px px2rem(6px);
      font-size: px2rem(18px);
      line-height: px2rem(24px);
      color:#fff;
      background: #0592e3;
      margin-right:px2rem(10px);
    }
    .item-top-right-footer {
      padding-top:px2rem(12px) ;
      .state {
        float: left;
        width: px2rem(118px);
        height: px2rem(34px);
        background: url("../images/mobile/index/events_doing.png") left center no-repeat;
        background-size: contain;
      }
      .data {
        float: right;
        font-size: px2rem(20px);
        line-height: px2rem(34px);
        color:#4c566c;
      }
      .color {
        color: #ff9343;
      }
    }
    .item-bottom {
      padding:px2rem(26px) 0px px2rem(22px);
      font-size: px2rem(20px);
      line-height: px2rem(30px);
      color: #aaa;
    }
    .item-bottom-text {
      height: px2rem(60px);
      overflow: hidden;
    }
  }
  .section7-body-item-link {
    display: block;
    padding:px2rem(15px) px2rem(15px) 0px;
    background: #fff;
    position:relative;
  }

  .section7-footer-link {
    display: block;
    width: 100%;
    height: px2rem(88px);
    font-size: px2rem(28px);
    line-height: px2rem(88px);
    color:#666;
    background: #fff;
    text-align: center;
  }
}


.section8 {
  .mod-section-body {
    .gdjgt_chart {
      margin: auto;
      width: 100%;
      height: px2rem(548px);
    }
  }
}




/* 置顶精华8.1 00:00 ---8.15:24:00后删除 start */

.section4{
  .topIcon{
    float: left;
    width: px2rem(37px);
    height: px2rem(36px);
    margin-left: px2rem(13px);
    @include retina('/styles/images/mobile/index/index_icons_1x_2x.png', 2, px2rem(1000px) px2rem(1000px), center center no-repeat);
    background-position: 0 0 !important;
  }
  .jingHuaIcon{
    float: left;
    width: px2rem(37px);
    height: px2rem(36px);
    margin-left: px2rem(8px);
    @include retina('/styles/images/mobile/index/index_icons_1x_2x.png', 2, px2rem(1000px) px2rem(1000px), center center no-repeat);
    background-position: 0 px2rem(-60px) !important;
  }
}

/* 置顶精华8.1 00:00 ---8.15:24:00后删除 end */

/* 20171103 redmine8498*/
.mod-more-link-bluebg{
    background-color: #3692e8;
    .mod-more-link-txt{
        color: #fff;
        .mod-more-link-icon{
            width: px2rem(24px);
            height: px2rem(23px);
            top: px2rem(32px);
            background: url("../images/mobile/index/dianping_double.png") right center no-repeat;
            background-size: px2rem(24px) px2rem(23px);
            background-position: 0 0;
        }
    }
}
.directory-btn{
    position: fixed;
    right: 0;
    top: px2rem(815px);
    width: px2rem(134px);
    height: px2rem(179px);
    background: url(/styles/images/mobile/index/mulubtn_double.png) 0 0 no-repeat;
    background-size: px2rem(134px) px2rem(179px);
}
.mask-layer {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.45;
  filter: alpha(opacity=45);
  -ms-filter: alpha(opacity=45);
  z-index: 99;
}
.right-sliding{
    position: fixed;
    left:100%;
    top: 0;
    z-index:101;
    width: 65%;
}
.right-sliding-box{
    background-color: #fff;
}
.ui-directory{
    padding-top: px2rem(75px);
}
.ui-directory-item{
    display: block;
    height: px2rem(98px);
    padding-left: px2rem(70px);
    em{
        float: left;
        width: px2rem(26px);
        height: px2rem(26px);
        margin-top: px2rem(34px);
        margin-right: px2rem(24px);
    }
    span{
        float: left;
        height: px2rem(98px);
        line-height: px2rem(98px);
        font-size: px2rem(28px);
        color: #666;
    }
    img{
        width: px2rem(26px);
        height: px2rem(26px);
    }
}
.ui-directory-item-title{
    border-bottom: px2rem(2px) solid #f0f0f0;
    span{
        font-weight: bold;
        color: #333;
    }
}
@keyframes rightSlidingIn {
    0%{
        left: 100%;
    }
    50%{
        left: 70%;
    }
    100%{
        left: 35%;
    }
}
@-webkit-keyframes rightSlidingIn {
    0%{
        left: 100%;
    }
    50%{
        left: 70%;
    }
    100%{
        left: 35%;
    }
}
@keyframes rightSlidingOut {
    0%{
        left: 35%;
    }
    50%{
        left: 70%;
    }
    99%{
        left: 99%;
    }
    100%{
        left: 100%;
    }
}
@-webkit-keyframes rightSlidingOut {
    0%{
        left: 35%;
    }
    50%{
        left: 70%;
    }
    99%{
        left: 99%;
    }
    100%{
        left: 100%;
    }
}
.right-sliding-in{
    -webkit-animation: rightSlidingIn .4s linear;
    animation: rightSlidingIn .4s linear;
    -webkit-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
}
.right-sliding-out{
    -webkit-animation: rightSlidingOut .4s linear;
    animation: rightSlidingOut .4s linear;
    -webkit-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
}

//seo广告
.name-iconrebate{
  float: left;
  width: px2rem(73px);
  height: px2rem(57px);
  vertical-align: middle;
  margin-top:px2rem(10px);
  background: url("/styles/images/common/mobile/seoh_icon.png") no-repeat;
  background-position:px2rem(-260px) px2rem(-250px);
  background-size:px2rem(400px) px2rem(400px);
  margin-right:px2rem(20px);
}

.ui-more {
  display: block;
  @include pd-pt;
  background: #fff;
  color:#222c38;
  line-height: px2rem(89px);
  border-top:px2rem(10px) solid #f0f0f0;
}
.ui-moreline {
  width: 100%;
  color: #ff515c;
  border-top:px2rem(1px) solid #e5e5e5;
}
.ui-moreline-text{
  float: left;
  width: px2rem(520px);
  font-size:px2rem(26px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ui-platinfo{
  margin-top: px2rem(20px);
  padding-top: px2rem(24px);
  background-color: #fff;
  width: 100%;
}
.ui-platinfo-ulist{
  height: px2rem(114px);
  li{
    float: left;
    height: px2rem(114px);
  }
}
.ui-platinfo-item{
  float: left;
  width: px2rem(162px);
  height: px2rem(114px); 
  margin-right: px2rem(26px);
}
.ui-platinfo-item-last{
  margin-right: px2rem(0px);
}
.ui-platinfo-img{
  width: px2rem(162px);
  height: px2rem(74px);
  line-height: px2rem(74px);
  text-align: center;
  span{
    display: inline-block;
  }
}
.ui-platinfo-imgbg-ptjj{
  width: px2rem(56px);
  height: px2rem(57px);
  background: url('/styles/images/mobile/index/plat_ptjj.png') 0 0 no-repeat;
  background-size: px2rem(56px) px2rem(57px);
}
.ui-platinfo-imgbg-zfsm{
  width: px2rem(56px);
  height: px2rem(58px);
  background: url('/styles/images/mobile/index/plat_zfsm.png') 0 0 no-repeat;
  background-size: px2rem(56px) px2rem(58px);
}
.ui-platinfo-imgbg-gsba{
  width: px2rem(57px);
  height: px2rem(64px);
  background: url('/styles/images/mobile/index/plat_gsba.png') 0 0 no-repeat;
  background-size: px2rem(57px) px2rem(64px);
}
.ui-platinfo-imgbg-ptyq{
  width: px2rem(61px);
  height: px2rem(70px);
  background: url('/styles/images/mobile/index/plat_ptyq.png') 0 0 no-repeat;
  background-size: px2rem(61px) px2rem(70px);
}
.ui-platinfo-imgbg-ptgg{
  width: px2rem(52px);
  height: px2rem(61px);
  background: url('/styles/images/mobile/index/plat_ptgg.png') 0 0 no-repeat;
  background-size: px2rem(52px) px2rem(61px);
}
.ui-platinfo-imgbg-tpzl{
  width: px2rem(57px);
  height: px2rem(56px);
  background: url('/styles/images/mobile/index/plat_tpzl.png') 0 0 no-repeat;
  background-size: px2rem(57px) px2rem(56px);
}
.ui-platinfo-imgbg-lxpt{
  width: px2rem(53px);
  height: px2rem(63px);
  background: url('/styles/images/mobile/index/plat_lxpt.png') 0 0 no-repeat;
  background-size: px2rem(53px) px2rem(63px);
}
.ui-platinfo-imgbg-qwpt{
  width: px2rem(48px);
  height: px2rem(67px);
  background: url('/styles/images/mobile/index/plat_qwpt.png') 0 0 no-repeat;
  background-size: px2rem(48px) px2rem(67px);
}
.ui-platinfo-txt{
  display: block;
  width: px2rem(162px);
  height: px2rem(40px);
  line-height: px2rem(40px);
  text-align: center;
  font-size: px2rem(24px);
  color: #666;
}
.ui-platinfo{
  .swiper-pagination{
    height: px2rem(30px);
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .swiper-pagination-bullet{
    width: px2rem(28px);
    height: px2rem(9px);
    border-radius: px2rem(5px);
    background: #cecece;
  }
  .swiper-pagination-bullet-active{
    background: #09e;
  }
}










