@charset "UTF-8";
@import '../base/mobileUtils';
@import '../base/utils';
@import '../base/mreset';
@import '../base/grid';
@import '../inc/m_ui';
@import '../inc/index_footer_mobile';
@import "../inc/index_header_mobile";
@import '../mod/retina';
main {
  padding: px2rem(30px) 0px 0px;
  //min-height: px2rem(790px);
}
.section-comment-wrap {
  @include pd-pt22;
  background: #fff;
}
.comment-item-top {
  padding:px2rem(30px) 0px px2rem(30px);;
  line-height: px2rem(36px);
}
.comment-item-top-left {
  float: left;
  font-size: px2rem(26px);
  color: #2a8ce7;
  img {
    width: px2rem(36px);
    height: px2rem(36px);
    vertical-align: top;
    border-radius: 50%;
    margin-right: px2rem(16px);
  }
}
.comment-item-top-right {
  float: right;
  padding-left: px2rem(30px);
  height: px2rem(36px);
  font-size: px2rem(22px);
}
.good {
  color: #66cc66;
  background: url("../images/mobile/index/goodcomment.png") left center no-repeat;
  background-size: px2rem(22px) px2rem(22px);
}
.kind {
  color: #999;
  background: url("../images/mobile/index/commonlycomment.png") left center no-repeat;
  background-size: px2rem(22px) px2rem(22px);
}
.bad {
  color: #ff6600;
  background: url("../images/mobile/index/badcomment.png") left center no-repeat;
  background-size: px2rem(22px) px2rem(22px);
}
.comment-item-main {
  line-height: px2rem(40px);
  overflow: hidden;
  font-size: px2rem(28px);
  color: #333;
}
.comment-item-bottom {
  font-size: px2rem(22px);
  line-height: px2rem(70px);
  color: #999;
  padding-bottom:px2rem(8px);
}
.comment-item-bottom-text {
  float: left;
}
.comment-item-bottom-line {
  float: left;
  padding: 0px px2rem(20px);
}
.comment-item-main-impression {
  margin-bottom:px2rem(13px);
  font-size: px2rem(28px);
  line-height: px2rem(40px);
  max-height: px2rem(100px);
  overflow: hidden;
  color: #999999;
  .impression {
    display: inline-block;
    font-size: px2rem(22px);
    line-height: px2rem(38px);
    height: px2rem(38px);
    border: px2rem(2px) solid #c3c3c3;
    border-radius: px2rem(4px);
    padding: 0px px2rem(20px);
    margin-right: px2rem(30px);
    margin-bottom:px2rem(10px);
  }
}
.comment-reply {
  padding-top:px2rem(30px);
  .comment-reply-wrap {
    background: #fff;
  }
  .comment-reply-title {
    height: px2rem(88px);
    @include pd-pt22;
    font-size: px2rem(28px);
    line-height: px2rem(88px);
    color: #666;
    text-align: left;
    border-bottom: px2rem(1px) solid #dadada;
  }
  .comment-body-list {
    @include pd-pt22;
  }
  .comment-body-item {
    border-bottom: px2rem(1px) solid #dadada;
  }
  .item-link {
    display: block;
  }
  .item-title {
    padding-top:px2rem(30px);
    padding-bottom:px2rem(23px);
  }
  .item-title-link {
    display: inline-block;
    float: left;
    font-size: px2rem(26px);
    line-height: px2rem(36px);
    color: #2a8ce7;
    img {
      border-radius: 50%;
      height: px2rem(36px);
      width: px2rem(36px);
      margin-right: px2rem(15px);
      vertical-align: top;
    }
  }
  .item-title-text {
    float: left;
    font-size: px2rem(26px);
    line-height: px2rem(36px);
    color: #999;
  }
  .item-body {
    font-size: px2rem(28px);
    line-height: px2rem(40px);
    color: #333;
  }
  .item-footer {
    font-size: px2rem(22px);
    line-height: px2rem(70px);
    height: px2rem(70px);
    color: #999;
    padding-bottom: px2rem(7px);

  }
  .item-footer-text {
    float: left;
  }
  .item-footer-line {
    float: left;
    margin:0px px2rem(20px);
  }
}
.mod-replay {
  margin-top:px2rem(-1px);
  .mod-extra {
    height: px2rem(1px);
    background: #fff;
    width: 100%;
    border-top:px2rem(1px) solid #fff;
  }
  .mod-replay-more {
    border-top:px2rem(1px) solid #dadada;
    display: block;
    width: 100%;
    font-size: px2rem(28px);
    line-height: px2rem(90px);
    color: #2a8ce7;
    height: px2rem(88px);
    text-align: center;
  }
}
.mod-nodata .no-data-img img {
  width: px2rem(167px);
  height: px2rem(172px);
}

body{
  padding-bottom: px2rem(96px) !important;
}
//底部悬浮按钮
.section-commentBtn{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: px2rem(96px);
  .commentBtn{
    width: 100%;
    height: px2rem(96px);
    background-color: #f7f7f7;
    border-top: px2rem(2px) solid #e5e5e5;
    box-sizing: border-box;

    .left{
      float: left;
      width: 77.73333333333333%;
      padding: 0 px2rem(34px) 0 px2rem(31px);
      box-sizing: border-box;
      input{
        width: 100%;
        height: px2rem(60px);
        line-height: px2rem(60px);
        margin-top: px2rem(18px);
        padding: 0 px2rem(30px);
        font-size: px2rem(28px);
        display: block;
        color: #9d9d9d;
        background-color: #edeeee;
        border: 0;
        border-radius: px2rem(29px);
        box-sizing: border-box;
      }
    }
    .right{
      float: right;
      width: 22.26666666666666%;
      height: 100%;
      padding-right: px2rem(32px);
      box-sizing: border-box;
      @include clearfix;
      .le{
        position: relative;
        display: block;
        float: left;
        .icon{
          width: px2rem(40px);
          height: px2rem(39px);
          margin-top: px2rem(17px);
          background-position: 0 px2rem(-40px);
        }
        .hov{
          background-position: px2rem(-50px) px2rem(-40px);
        }
        .praise-animate-num{
          position: absolute;
          top: 0;
          right: 0;
          width: px2rem(24px);
          height: px2rem(24px);
          line-height: px2rem(24px);
          font-size: px2rem(14px);
          color: #ea544a;
          text-align: center;
          -webkit-transition: all .6s ease-in-out;
          -moz-transition: all .6s ease-in-out;
          -o-transition: all .6s ease-in-out;
          -ms-transition: all .6s ease-in-out;
          transition: all .6s ease-in-out;
        }
        .praise-animate-num-uping{
          opacity: 0;
          top: px2rem(-20px);
        }
      }
      .ri{
        display: block;
        float: right;
        .icon{
          width: px2rem(40px);
          height: px2rem(38px);
          margin-top: px2rem(20px);
          background-position: 0 px2rem(-90px);
        }
      }
      .icon{
        background-image: url("../images/mobile/index/commentinfo/icons.png");
        background-size: px2rem(1000px) px2rem(1000px);
      }
      .txt{
        height: px2rem(24px);
        line-height: px2rem(24px);
        font-size: px2rem(18px);
        margin-top: px2rem(7px);
        color: #5d5f62;
        text-align: center;
      }
      .txt-hov{
        color: #ffa42f;
      }
    }
  }

}
.commentBtn-fixed{
  position: fixed;
  bottom: 0;
  left: 0;
}
footer{
  padding-top: 0 !important;
}

//弹层样式
.popwin-wrap{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  .bg{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: .7;
    width: 100%;
    height: 100%;
  }
  .popwin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform:translate(-50%, -50%);
    -moz-transform:translate(-50%, -50%);
    -o-transform:translate(-50%, -50%);
    background-color: #fff;
    border-radius: px2rem(50px);
    width: px2rem(600px);
    height: px2rem(400px);
    padding: px2rem(50px) px2rem(40px) 0;
    border-radius: px2rem(30px);
    box-sizing: border-box;
    .txt-input{
      width: 100%;
      padding: px2rem(26px) px2rem(24px);
      background-color: #f5f5f5;
      border-radius: px2rem(10px);
      box-sizing: border-box;
      textarea{
        width: 100%;
        height: px2rem(198px);
        display: block;
        font-size: px2rem(28px);
        color: #b2b5b8;
        border: 0;
        background-color: #f5f5f5;
      }
    }
    .btns{
      width: 100%;
      height: px2rem(100px);
      line-height: px2rem(100px);
      .txt{
        float: left;
        font-size: px2rem(22px);
        color: #c9ccd0;
      }
      .btn-cancel{
        display: block;
        float: right;
        font-size: px2rem(28px);
        color: #999999;
      }
      .btn-sure{
        display: block;
        float: right;
        font-size: px2rem(28px);
        margin-left: px2rem(38px);
        color: #108ee9;
      }
    }

    .loading{
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      .loadingbg{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: .7;
        border-radius: px2rem(30px);
      }
      .loading-txt{
        position: relative;
        margin-top: 30%;
        text-align: center;
        color: #fff;
        font-size: px2rem(30px);
      }
    }
  }
}


/* 置顶精华8.1 00:00 ---8.15:24:00后删除 start */

.section-comment,.item-title{
  .topIcon{
    float: left;
    width: px2rem(37px);
    height: px2rem(36px);
    margin-left: px2rem(13px);
    @include retina('/styles/images/mobile/index/index_icons_1x_2x.png', 2, px2rem(1000px) px2rem(1000px), center center no-repeat);
    background-position: 0 0 !important;
  }
  .jingHuaIcon{
    float: left;
    width: px2rem(37px);
    height: px2rem(36px);
    margin-left: px2rem(8px);
    @include retina('/styles/images/mobile/index/index_icons_1x_2x.png', 2, px2rem(1000px) px2rem(1000px), center center no-repeat);
    background-position: 0 px2rem(-60px) !important;
  }
}

/* 置顶精华8.1 00:00 ---8.15:24:00后删除 end */