@Fcharset "UTF-8";
@import '../base/mobileUtils';
@import '../base/utils';
@import '../base/mreset';
@import '../base/grid';
@import '../inc/m_ui';
@import '../inc/index_footer_mobile';
@import "../inc/index_header_mobile";
@mixin pt-pl($w){
  .content-item-right-text {
    padding-left: px2rem($w);
  }
}
main {
  padding-top: px2rem(30px);
}
.mod-nodata .nodata-img {
  padding-top: px2rem(128px);
  img {
    width: px2rem(127px);
    height: px2rem(164px);
  }
}
.mod-title {
  font-size: px2rem(28px);
  line-height: px2rem(88px);
  border-bottom: px2rem(1px) solid #dadada;
  color: #666;
  @include pd-pt22;
  text-align: left;
}
.section {
  background: #fff;
}
.section-body {
  @include pd-pt22;
  .section-body-chart {
    position:relative;
    height: px2rem(456px);
    overflow: hidden;
  }
  .section-body-chart-wrap {
    position:absolute;
    width:px2rem(800px);
    height: px2rem(600px);
    left: 50%;
    top:50%;
    margin-left: px2rem(-400px);
    margin-top:px2rem(-300px);
    font-size: px2rem(20px);
  }
  .section-body-content {
    border-top: px2rem(1px) solid #dadada;
    padding-top: px2rem(40px);
    .content-title {
      font-size: px2rem(30px);
      line-height: px2rem(68px);
      color: #333;
    }
    .content-list {
      padding-bottom:px2rem(40px);
    }
    .content-item {
      padding:px2rem(14px) 0px;
      font-size: px2rem(28px);
      line-height: px2rem(40px);
      color: #666;
    }
    .content-item-right {
      float: left;
      width: 100%;
    }
    .content-item-right-text {
      padding-left: px2rem(150px);
      color: #333;
    }
    .w214 {
      @include pt-pl(204px);
    }
    .w200 {
      @include pt-pl(200px);
    }
    .small {
      font-size: px2rem(22px);
      color: #999;
    }
    .color {
      color: #ff6600;
    }
    .content-item-left {
      float: left;
      margin-left: -100%;
    }
  }

}