@Fcharset "UTF-8";
@import '../base/mobileUtils';
@import '../base/utils';
@import '../base/mreset';
@import '../base/grid';
@import '../mod/dialog';
@import '../inc/m_ui';

body,html{
  width:100%;
  background: #ffffff;
  font-family: PingFangSC-Regular;
}
a:hover{
  text-decoration: none;
}

.banner{

  height:px2rem(469px);
  background: url("/styles/images/index/tou1.png") center 0 no-repeat;
  background-size:100%;
  overflow: hidden;
}
.invite{

  height: px2rem(518px);
  background: url("/styles/images/index/touxia1.png") center 0 no-repeat;
  background-size:100%;
  overflow: hidden;
}
.modules{
  padding: px2rem(32px) px2rem(32px) px2rem(74px) px2rem(32px);
  overflow: hidden;
  .invitebtn{
    display: block;
    width:px2rem(674px);
    height: px2rem(103px);
    background: #FFA90C;
    border-radius: px2rem(6px);
    color: #fff;
    font-size: px2rem(42px);
    text-align: center;
    line-height: px2rem(103px);
    text-decoration: none;
    padding-top: px2rem(4px);
  }
  .rewardbox{
    text-align: center;
  }
  .reward{

    height: px2rem(40px);
    display: block;
    font-size: px2rem(28px);
    color: #8A8A8A;
    margin:0 auto;
    padding-top: px2rem(63px);
    text-decoration: none;
    .rightward{
      display: inline-block;
      width: px2rem(12px);
      height: px2rem(19px);
      background: url("/styles/images/index/jiantou.png") center 0 no-repeat;
      background-size:100%;
      margin-left: px2rem(16px);
    }
  }
  .hdsm{
    overflow: hidden;
    height: px2rem(49px);
    line-height: px2rem(49px);
    margin-top: px2rem(70px);
    .line{
      display: block;
      float: left;
      width:px2rem(236px);
      height: 1px;
      background: #DDDDDD;
      margin-top: px2rem(23px);
    }
    .explain{
      float: left;
      font-size:px2rem(35px);
      color: #404040;
      padding-left:px2rem(30px);
      padding-right: px2rem(30px);
    }
  }
  .article{
    margin-top: px2rem(40px);
    p{
      color: #8A8A8A;
      font-size:px2rem(20px);
      margin-bottom:px2rem(40px) ;
    }
  }
}