@Fcharset "UTF-8";
@import '../base/mobileUtils';
@import '../base/utils';
@import '../base/mreset';
@import '../base/grid';
@import '../inc/m_ui';
@import '../inc/index_footer_mobile';
@import "../inc/index_header_mobile";
main {
  padding-top:px2rem(30px);
}
.c_color {
  color: #ff0000;
}
.mod-nodata .nodata-img {
  padding-top: px2rem(116px);
  img {
    width: px2rem(154px);
    height: px2rem(185px);
  }
}
.section {
  background: #fff;
}
.section-title {
  height: px2rem(90px);
  border-bottom: px2rem(1px) solid #dadada;
  line-height: px2rem(90px);
  @include pd-pt22;
  .section-title-left {
    float: left;
    font-size: px2rem(28px);
    color: #666;
  }
  .section-title-right {
    float: right;
    color: #333;
    font-size: px2rem(22px);
    .color {
      color: #ff6600;
    }
  }
}
.section-body {
  .section-body-list {
    @include pd-pt22;
  }
  .section-body-item {
    border-bottom: px2rem(1px) solid #dadada;
  }
  .item-link {
    display: block;
  }
  .item-title {
    padding: px2rem(22px) 0px px2rem(6px);
    color: #333;
    font-size: px2rem(28px);
    line-height: px2rem(42px);
  }
  .item-title-text {
    max-height: px2rem(82px);
    @include font-break;
  }
  .item-main {
    font-size: px2rem(26px);
    line-height: px2rem(40px);
    color: #999;
  }
  .item-main-text {
    max-height: px2rem(80px);
    @include font-break;
  }
  .item-info {
    font-size: px2rem(22px);
    line-height: px2rem(68px);
    padding-bottom:px2rem(6px);
    color: #999;
  }
  .item-info-text {
    float: left;
  }
  .item-info-line {
    float: left;
    padding: 0px px2rem(20px);
  }
}
.mod-more {
  margin-top: px2rem(-2px);
  .mod-extra {
    width: 100%;
    height: px2rem(1px);
    background: #fff;
    border-top:px2rem(1px) solid #fff;
  }
  .mod-ajax-more {
    border-top:px2rem(1px) solid #dadada;
    display: block;
    width: 100%;
    font-size: px2rem(28px);
    line-height: px2rem(90px);
    color: #2a8ce7;
    height: px2rem(88px);
    text-align: center;
  }
  .more-disable {
    color: #949494;
  }
}