.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: '\20';
    display: table;
    height: 0;
    overflow: hidden; }
  .clearfix:after {
    clear: both; }

.clear {
  display: table;
  height: 0;
  overflow: hidden;
  clear: both;
  line-height: 0; }

.spacpce-form-list {
  padding-top: 10px; }

.spacpce-form-left {
  display: block;
  float: left;
  padding-left: 50px;
  height: 36px;
  line-height: 36px;
  width: 100px;
  font-size: 14px;
  color: #666; }

.spacpce-form-center {
  float: left; }

.spacpce-form-input-value {
  display: block;
  float: left;
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  font-weight: bold;
  color: #666; }

.spacpce-form-input {
  display: block;
  float: left;
  width: 278px;
  padding: 0 10px;
  height: 34px;
  line-height: 34px;
  font-size: 14px;
  color: #333;
  border: 1px solid #e8e8e8;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

.spacpce-form-input-m {
  width: 150px; }

.spacpce-form-input-btn {
  display: block;
  float: left;
  height: 36px;
  width: 110px;
  line-height: 36px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-left: 20px;
  font-size: 14px;
  color: #fff;
  background-color: #0080cc;
  text-align: center;
  cursor: pointer;
  transition: all .2s ease-in-out; }

.spacpce-form-input-btn:hover {
  background-color: #0070bc; }

.spacpce-form-input-btn.disabled {
  background-color: #ccc; }

.spacpce-form-input-link {
  display: block;
  float: left;
  margin-left: 20px;
  height: 36px;
  line-height: 36px; }

.spacpce-form-error {
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  color: #ea544a; }

.spacpce-form-error span {
  display: none; }

.spacpce-form-error i {
  display: block;
  width: 14px;
  height: 12px;
  margin: 3px 3px 0 0;
  float: left;
  background: url(/styles/images/member/icon.png);
  background-position: -318px -52px; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
    .spacpce-form-error i {
      background: transparent url("/styles/images/member/icon.png") 0px 0px no-repeat;
      background-size: 550px 140px; } }
  @media only screen and (min--moz-device-pixel-ratio: 1.5) {
    .spacpce-form-error i {
      background: transparent url("/styles/images/member/icon.png") 0px 0px no-repeat;
      background-size: 550px 140px; } }
  @media only screen and (min-device-pixel-ratio: 1.5) {
    .spacpce-form-error i {
      background: transparent url("/styles/images/member/icon.png") 0px 0px no-repeat;
      background-size: 550px 140px; } }
  @media only screen and (-o-min-device-pixel-ratio: 3 / 2) {
    .spacpce-form-error i {
      background: transparent url("/styles/images/member/icon.png") 0px 0px no-repeat;
      background-size: 550px 140px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
    .spacpce-form-error i {
      background-position: -318px -80px; } }
  @media only screen and (min--moz-device-pixel-ratio: 1.5) {
    .spacpce-form-error i {
      background-position: -318px -80px; } }
  @media only screen and (min-device-pixel-ratio: 1.5) {
    .spacpce-form-error i {
      background-position: -318px -80px; } }
  @media only screen and (-o-min-device-pixel-ratio: 3 / 2) {
    .spacpce-form-error i {
      background-position: -318px -80px; } }

.spacpce-form-submit {
  height: 34px;
  width: 90px;
  line-height: 32px;
  border: 1px solid #0080cc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 14px;
  color: #0080cc;
  text-align: center;
  margin: 10px 0 0 200px;
  background-color: transparent;
  transition: all .2s ease-in-out;
  cursor: pointer; }

.spacpce-form-submit:hover {
  background-color: #0080cc;
  color: #fff; }

.spacpce-form-submit.disabled {
  border-color: #ccc;
  color: #fff;
  background-color: #ccc; }

/*!
 * Reset
 */
html {
  color: #454545;
  background: #f0f0f0;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  margin: 0;
  padding: 0;
  font-family: 'PingFang SC', 'PingFang TC', 'Noto Sans CJK SC', 'Noto Sans CJK TC', 'Microsoft YaHei', Helvetica, Arial; }

audio, canvas, video {
  display: inline-block; }

input, select, textarea {
  font-size: 1rem; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

th {
  text-align: inherit; }

fieldset, img {
  border: none; }

img {
  border: none; }

iframe {
  display: block; }

abbr, acronym {
  border: 0;
  font-variant: normal; }

del {
  text-decoration: line-through; }

address, caption, cite, code, dfn, em, th, var {
  font-style: normal;
  font-weight: 500; }

ol, ul, li {
  list-style: none; }

q:before, q:after {
  content: ''; }

sub, sup {
  font-size: 0.75rem;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

a:hover {
  text-decoration: underline; }

ins, a {
  text-decoration: none; }

textarea {
  resize: none;
  overflow: auto; }

input, textarea {
  outline: none; }

a {
  color: #0081cb;
  outline: none; }

input[type="button"], input[type="submit"], input[type="reset"] {
  -webkit-appearance: none;
  border-radius: none; }

textarea {
  -webkit-appearance: none; }

a:hover {
  text-decoration: none; }

.qt-mt10 {
  margin-top: 0.1333333333rem; }

.qt-mt20 {
  margin-top: 0.2666666667rem; }

.qt-mt30 {
  margin-top: 0.4rem; }

.qt-mt40 {
  margin-top: 0.5333333333rem; }

.qt-mt50 {
  margin-top: 0.6666666667rem; }

.qt-mr10 {
  margin-right: 0.1333333333rem; }

.qt-mr20 {
  margin-right: 0.2666666667rem; }

.qt-mr30 {
  margin-right: 0.4rem; }

.qt-mr40 {
  margin-right: 0.5333333333rem; }

.qt-mr50 {
  margin-right: 0.6666666667rem; }

.qt-mr220 {
  margin-right: 2.9333333333rem; }

.qt-mb10 {
  margin-bottom: 0.1333333333rem; }

.qt-mb20 {
  margin-bottom: 0.2666666667rem; }

.qt-mb30 {
  margin-bottom: 0.4rem; }

.qt-mb40 {
  margin-bottom: 0.5333333333rem; }

.qt-mb50 {
  margin-bottom: 0.6666666667rem; }

.qt-ml10 {
  margin-left: 0.1333333333rem; }

.qt-ml20 {
  margin-left: 0.2666666667rem; }

.qt-ml25 {
  margin-left: 0.3333333333rem; }

.qt-ml30 {
  margin-left: 0.4rem; }

.qt-ml40 {
  margin-left: 0.5333333333rem; }

.qt-ml50 {
  margin-left: 0.6666666667rem; }

.qt-pt10 {
  padding-top: 0.1333333333rem; }

.qt-pt15 {
  padding-top: 0.2rem; }

.qt-pt20 {
  padding-top: 0.2666666667rem; }

.qt-pt30 {
  padding-top: 0.4rem; }

.qt-pt40 {
  padding-top: 0.5333333333rem; }

.qt-pt50 {
  padding-top: 0.6666666667rem; }

.qt-pr10 {
  padding-right: 0.1333333333rem; }

.qt-pr20 {
  padding-right: 0.2666666667rem !important; }

.qt-pr30 {
  padding-right: 0.4rem; }

.qt-pr40 {
  padding-right: 0.5333333333rem; }

.qt-pr50 {
  padding-right: 0.6666666667rem; }

.qt-pb10 {
  padding-bottom: 0.1333333333rem !important; }

.qt-pb20 {
  padding-bottom: 0.2666666667rem; }

.qt-pb30 {
  padding-bottom: 0.4rem; }

.qt-pb40 {
  padding-bottom: 0.5333333333rem; }

.qt-pb50 {
  padding-bottom: 0.6666666667rem; }

.qt-pl10 {
  padding-left: 0.1333333333rem; }

.qt-pl20 {
  padding-left: 0.2666666667rem; }

.qt-pl30 {
  padding-left: 0.4rem; }

.qt-pl40 {
  padding-left: 0.5333333333rem; }

.qt-pl50 {
  padding-left: 0.6666666667rem; }

.qt-gl {
  float: left; }

.qt-gr {
  float: right; }

.ui-font-arial {
  font-family: arial; }

.ui-icons-more {
  width: 0.1866666667rem;
  height: 0.32rem;
  background: url(/styles/images/common/mobile/icons.png) no-repeat -0.16rem -2.28rem;
  background-size: 4.7733333333rem 2.7866666667rem; }

#lightbox_wrap {
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.83);
  z-index: 998; }

.dialog {
  position: absolute;
  z-index: 999;
  background-color: #fff;
  border-radius: 5px; }

.dialog_title,
.dialog_content,
.dialog_footer {
  padding: 10px 15px; }

.dialog_content {
  padding: 20px 40px;
  color: #787878;
  font-size: 14px; }

.dialog_title {
  font-size: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: relative;
  background-color: #3dbbf9;
  color: #fff;
  font-family: Microsoft YaHei;
  padding: 15px 30px; }

.dialog_title .why {
  font-size: 12px;
  float: right;
  margin-right: 40px;
  line-height: 28px;
  color: #0080cc; }

.dialog_title .why em {
  width: 14px;
  height: 14px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  background: url(/styles/images/common/icons.png) no-repeat -34px -200px;
  vertical-align: top;
  *vertical-align: middle;
  margin-top: 7px;
  *margin-top: 0;
  margin-right: 5px; }

.dialog_title .closebtn {
  position: absolute;
  top: 14px;
  right: 30px;
  width: 31px;
  height: 31px;
  display: block;
  background: url(/styles/images/common/icons.png) no-repeat -115px -107px;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out; }

.dialog_title .closebtn:hover {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  transform: rotate(360deg); }

.newdialog {
  border: 2px solid #f0f0f0; }

.newdialog .dialog_title {
  background-color: #fff;
  color: #7b7b7b;
  font-size: 18px; }

.ui-header {
  width: 100%;
  height: 1.3333333333rem; }
  .ui-header .ui-header-content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 1.3333333333rem;
    background-color: #43403f;
    z-index: 1000; }

.ui-header-logo {
  float: left;
  margin-top: 0.3333333333rem; }

.ui-header-logo-pic {
  float: left;
  width: 2.4933333333rem;
  height: 0.68rem;
  padding-right: 0.2933333333rem;
  margin: 0 0.2933333333rem;
  border-right: 2px solid #ababab; }
  .ui-header-logo-pic img {
    width: 2.4933333333rem;
    height: 0.68rem; }

.ui-header-logo-explain {
  float: left;
  line-height: 0.68rem;
  font-size: 0.32rem;
  color: #fff; }

.ui-header-home {
  float: left;
  margin-top: 0.3466666667rem;
  margin-left: 0.32rem;
  height: 0.64rem;
  width: 0.64rem;
  background: url(/styles/images/common/mobile/icons.png) no-repeat -1.92rem -1.0666666667rem;
  background-size: 4.7733333333rem 2.7866666667rem; }
  .ui-header-home a {
    display: block;
    height: 0.64rem;
    width: 0.64rem; }

.ui-header-title {
  line-height: 1.3333333333rem;
  font-size: 0.48rem;
  color: #fff;
  text-align: center; }

.ui-header-user {
  float: right;
  margin-top: 0.32rem;
  margin-right: 0.32rem;
  height: 0.6933333333rem;
  width: 0.6933333333rem; }
  .ui-header-user a {
    display: block;
    height: 0.6933333333rem;
    width: 0.6933333333rem;
    background: url(/styles/images/common/mobile/icons.png) no-repeat 0 0;
    background-size: 4.7733333333rem 2.7866666667rem; }
  .ui-header-user img {
    display: block;
    height: 0.6533333333rem;
    width: 0.6533333333rem;
    border: 0.04rem solid #fff;
    border-radius: 50%;
    background-color: #43403f; }

.ui-footer {
  height: 5.0666666667rem;
  line-height: 0.4533333333rem;
  font-size: 0.32rem;
  color: #A4A4A4;
  text-align: center;
  background-color: #efefef; }

.ui-footer-top {
  padding-top: 0.8533333333rem;
  margin-bottom: 0.4266666667rem; }

.ui-footer-bottom {
  padding-bottom: 1.6rem; }

.content-wrap {
  padding: 7.5733333333rem 0 1.3333333333rem;
  background: #feaf7f url(/styles/images/mobile/welfare/bg.png) no-repeat;
  background-size: 10rem 10.1466666667rem; }

.content-wrap58 {
  padding: 7.5733333333rem 0 1.3333333333rem;
  background: #feaf7f url(/styles/images/mobile/welfare/bgh5.png) no-repeat;
  background-size: 10rem 10.1466666667rem; }

.content {
  width: 9.6rem;
  margin: 0 auto; }

.count-down-tips {
  display: block;
  height: 0.9733333333rem;
  line-height: 0.9733333333rem;
  font-size: 0.3466666667rem;
  color: #612b00;
  text-align: center; }

.count-down-wrap {
  width: 6.6666666667rem;
  height: 0.6933333333rem;
  margin: 0 auto 0.6666666667rem; }

.count-down-number {
  float: left;
  width: 0.5466666667rem;
  height: 0.6933333333rem;
  line-height: 0.6933333333rem;
  background-color: #612b00;
  color: #fff;
  font-weight: bold;
  font-size: 0.4266666667rem;
  border-radius: 0.08rem;
  text-align: center; }

.count-down-number + .count-down-number {
  margin-left: 0.04rem; }

.count-down-unit {
  float: left;
  width: 0.5333333333rem;
  height: 0.6933333333rem;
  line-height: 0.6933333333rem;
  color: #612b00;
  font-size: 0.2933333333rem;
  text-align: center; }

.section-wrap {
  position: relative;
  padding: 0 0.2rem 0.2rem;
  -webkit-border-radius: 0.1333333333rem;
  -moz-border-radius: 0.1333333333rem;
  border-radius: 0.1333333333rem;
  background-image: url(/styles/images/mobile/welfare/line-bg.png);
  background-size: 0.4rem 0.7rem; }

.section-wrap + .section-wrap {
  margin-top: 30px; }

.have-in-hand {
  font: 0/0 a;
  position: absolute;
  top: 0;
  left: 0;
  width: 1.6266666667rem;
  height: 1.7133333333rem;
  background: url(/styles/images/mobile/welfare/shoudai.png) no-repeat;
  background-size: 1.6266666667rem 1.7133333333rem;
  z-index: 10; }

.task-wrap .task-title {
  width: 5.8rem; }

.task-title {
  font-weight: bold;
  height: 0.9333333333rem;
  line-height: 0.9333333333rem;
  font-size: 0.3466666667rem;
  color: #612b00;
  text-align: center;
  margin: 0 auto; }

.task-adorn {
  display: block;
  float: left;
  height: 0.1133333333rem;
  width: 1.9266666667rem;
  margin-top: 0.44rem;
  background-size: 1.9266666667rem 0.1133333333rem; }

.task-adorn-l {
  background-image: url(/styles/images/mobile/welfare/title-line-left_01.png); }

.task-adorn-r {
  background-image: url(/styles/images/mobile/welfare/title-line-right.png); }

.task-title-word {
  display: block;
  float: left;
  font-weight: bold;
  height: 0.9333333333rem;
  width: 1.9466666667rem; }

.section-box {
  position: relative;
  margin: 0 auto;
  background-color: #fff; }

.box-spot {
  position: absolute;
  height: 0.1066666667rem;
  width: 0.1066666667rem;
  background-image: url(/styles/images/mobile/welfare/yuandian.png);
  background-size: 0.1066666667rem 0.1066666667rem; }

.box-spot-lt {
  left: 0.1333333333rem;
  top: 0.1333333333rem; }

.box-spot-lb {
  left: 0.1333333333rem;
  bottom: 0.1333333333rem; }

.box-spot-rt {
  top: 0.1333333333rem;
  right: 0.1333333333rem; }

.box-spot-rb {
  right: 0.1333333333rem;
  bottom: 0.1333333333rem; }

.task-wrap .section-box {
  height: 1.4rem;
  padding: 0.56rem 0.3866666667rem 0.5733333333rem 0.5066666667rem; }

.task-red-packet {
  height: 1.3666666667rem;
  width: 1.22rem;
  margin-right: 0.4rem;
  background: url(/styles/images/mobile/welfare/renwu-red.png) no-repeat;
  background-size: 1.22rem 1.3666666667rem; }

.task-red-packet58 {
  height: 1.3666666667rem;
  width: 1.22rem;
  margin-right: 0.4rem;
  background: url(/styles/images/mobile/welfare/hbh5.png) no-repeat;
  background-size: 1.22rem 1.3666666667rem; }

.task-info {
  width: 6.5333333333rem;
  color: #612b00; }

.task-info-top {
  padding-top: 0.1333333333rem; }

.task-info-left {
  float: left; }

.task-info-20 {
  display: block;
  font-size: 0.3466666667rem;
  margin-bottom: 0.1333333333rem; }

.task-info-30b {
  display: block;
  font-size: 0.4266666667rem;
  font-weight: bold; }

.task-info-30b .red {
  font-weight: bold;
  color: #f7544a; }

.task-info-link {
  display: block;
  height: 0.7733333333rem;
  width: 2.0133333333rem;
  margin-top: 0.2133333333rem;
  float: right;
  line-height: 0.7733333333rem;
  text-align: center;
  font-size: 0.2933333333rem;
  color: #fff;
  font-weight: bold;
  background: url(/styles/images/mobile/welfare/renwu-btn.png) no-repeat;
  background-size: 2.0133333333rem 0.7733333333rem; }

.task-info-link:hover {
  text-decoration: none; }

.task-info-bottom {
  display: block;
  width: 9.6rem;
  margin: 0 auto;
  padding: 0.2666666667rem 0;
  line-height: 0.4rem;
  font-size: 0.2666666667rem;
  color: #612b00; }

.step-wrap .section-box {
  padding: 0.4666666667rem 0.16rem 0.8666666667rem; }

.step-hd {
  height: 1.0666666667rem;
  border-bottom: 2px dashed #feb734; }

.step-hd-list {
  position: relative; }

.step-hd-item {
  height: 0.6266666667rem;
  color: #fff;
  font-size: 0.2666666667rem;
  float: left;
  cursor: pointer;
  background-size: 2.1rem 0.6266666667rem;
  background-repeat: no-repeat; }

.step-hd-fitst {
  padding-left: 0.2266666667rem;
  width: 1.8733333333rem;
  background-image: url(/styles/images/mobile/welfare/step-first.png); }

.step-hd-next {
  padding-left: 0.3333333333rem;
  width: 1.7666666667rem;
  margin-left: 0.1066666667rem;
  background-image: url(/styles/images/mobile/welfare/step-next.png); }

.step-hd-number {
  display: block;
  float: left;
  height: 0.24rem;
  width: 0.24rem;
  margin-top: 0.16rem;
  font-size: 0.1866666667rem;
  font-weight: bold;
  line-height: 0.24rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 0.0266666667rem solid #fff;
  text-align: center; }

.step-hd-word {
  display: block;
  float: left;
  margin-left: 0.04rem;
  line-height: 0.6rem; }

.step-hd-point {
  position: absolute;
  top: 0.6933333333rem;
  left: 0.84rem;
  height: 0.1333333333rem;
  width: 0.2133333333rem;
  background-image: url(/styles/images/mobile/welfare/daosanjiao.png);
  background-size: 0.2133333333rem 0.1333333333rem;
  transition: all 0.5s ease-in-out; }

.step-hd-point.step-1 {
  left: 0.84rem; }

.step-hd-point.step-2 {
  left: 3.04rem; }

.step-hd-point.step-3 {
  left: 5.24rem; }

.step-hd-point.step-4 {
  left: 7.44rem; }

.step-bd-wrap {
  position: relative;
  width: 8.8rem;
  margin-top: 0.8rem;
  overflow: hidden; }

.step-bd-list {
  width: 36rem;
  transition: all 0.5s ease-in-out; }

.step-bd-item {
  float: left;
  padding: 0 1.0666666667rem 0;
  width: 6.6666666667rem; }

.step-bd-info-title {
  display: block;
  font-size: 0.4266666667rem;
  color: #f7544a;
  font-weight: bold; }

.step-bd-info-desc {
  display: block;
  margin-top: 0.2666666667rem;
  line-height: 0.4933333333rem;
  font-size: 0.3466666667rem;
  color: #262626; }

.pager-prev {
  display: none;
  position: absolute;
  top: 0.5733333333rem;
  left: 0.0666666667rem;
  height: 0.5733333333rem;
  width: 0.6rem;
  cursor: pointer;
  background: url(/styles/images/mobile/welfare/slide-prev.png) no-repeat;
  background-size: 0.5733333333rem 0.5733333333rem; }

.pager-next {
  display: none;
  position: absolute;
  top: 0.5733333333rem;
  right: 0.0666666667rem;
  height: 0.5733333333rem;
  width: 0.5733333333rem;
  cursor: pointer;
  background: url(/styles/images/mobile/welfare/slide-next.png) no-repeat;
  background-size: 0.5733333333rem 0.5733333333rem; }

.i-konw-that {
  display: block;
  padding-left: 0.6rem;
  width: 3.96rem;
  height: 0.7466666667rem;
  margin: 0.5333333333rem auto 0;
  line-height: 0.6933333333rem;
  text-align: left;
  color: #fff;
  font-size: 0.2933333333rem;
  background-image: url(/styles/images/mobile/welfare/renwu-btn-go.png);
  background-size: 4.56rem 0.7466666667rem; }

.rule-box {
  margin-top: 0.4666666667rem; }

.rule-box .task-title {
  width: 5.8rem; }

.rule-list {
  max-height: 999999px;
  padding-top: 0.3333333333rem;
  color: #612b00;
  font-size: 0.32rem;
  line-height: 0.4666666667rem; }

.rule-item + .rule-item {
  padding-top: 0.4666666667rem; }

/*# sourceMappingURL=licai_welfare.css.map */
