@Fcharset "UTF-8";
@import '../base/mobileUtils';
@import '../base/utils';
@import '../base/mreset';
@import '../base/mobileGrid';
@import '../mod/dialog';
@import '../inc/m_ui';
@import '../inc/header-mobile';
@import '../inc/footer-mobile';

body{
    background-color: #efefef;
}
a{
    &:hover{
        text-decoration: none;
    }
}
.ui-bd-bt1 {
    border-bottom:1px solid #e9e9e9
}
.ui-icons-hot{
    float: left;
    width: px2rem(28px);
    height: px2rem(60px);
    margin-right: px2rem(20px);
    background: url(/styles/images/common/mobile/icons.png) no-repeat px2rem(-70px) px2rem(-73px);
    background-size: px2rem(358px) px2rem(209px);
}
.ui-icons-redland{
    float: left;
    width: px2rem(30px);
    height: px2rem(36px);
    margin-right: px2rem(14px);
    background: url(/styles/images/common/mobile/icons.png) no-repeat px2rem(-328px) 0;
    background-size: px2rem(358px) px2rem(209px);
}
.ui-icons-download{
    float: left;
    width: px2rem(38px);
    height: px2rem(38px);
    margin-right: px2rem(16px);
    background: url(/styles/images/common/mobile/icons.png) no-repeat px2rem(-219px) 0;
    background-size: px2rem(358px) px2rem(209px);
}
.ui-banner{
    position: relative;
    width: 100%;
    height: px2rem(290px);
    overflow: hidden;
}
.bx-wrapper{
    height: px2rem(290px);
}
.bx-viewport{
    height: px2rem(290px)!important;
}
.ui-banner-inner-item{
    img{
        width: 100%;
        height: px2rem(290px);
    }
}
.ui-nav{
    height: px2rem(146px);
    padding-top: px2rem(34px);
    background-color: #fff;
}
.ui-nav-item{
    float: left;
    width: 25%;
    text-align: center;
    a{
        display: block;
        font-size: px2rem(24px);
        color: #3B3B3B;
    }
    img{
        display: block;
        margin: 0 auto px2rem(8px);
        width: px2rem(76px);
    }
}
.ui-list{
    height: px2rem(100px);
    margin: 0 px2rem(32px);
    line-height: px2rem(100px);
}
.ui-list-title{
    float: left;
    font-size: px2rem(32px);
    font-weight: bold;
    color: #5B99EE;
}
.ui-list-more{
    float: right;
    font-size: px2rem(28px);
    color: #5B99EE;
    span{
        display: inline-block;
        width: px2rem(14px);
        height: px2rem(30px);
        margin-left: px2rem(12px);
        vertical-align: middle;
        background: url(/styles/images/common/mobile/icons.png) no-repeat px2rem(-81px) px2rem(-170px);
        background-size: px2rem(358px) px2rem(209px);
    }   
}
.ui-list-border{
    border-bottom: 1px solid #E9E9E9;
}
.ui-loans{
    background-color: #fff;
}
.ui-loans-item{    
    a{
        display: block;
    }
    &:active{
        .ui-loans-item-btn{
            background-color: #DC3312;
            box-shadow: none;
        }
        background-color: #F8F8F8; 
    }

    .ui-loans-item-con{
        height: px2rem(112px);
        //margin-top: px2rem(32px);
        .ui-loans-item-le{
            float: left;
            width: px2rem(214px);
            border-right: 1px solid #E9E9E9;
            .ui-loans-item-top{
                font-size: px2rem(52px);
                height: px2rem(56px);
                line-height: px2rem(56px);
                margin-bottom: px2rem(10px);
                color: #FF401A;
                position: relative;
            }
            .ui-loans-item-jiaxi{
                position: absolute;
                width: px2rem(94px);
                height: px2rem(34px);
                line-height: px2rem(34px);
                text-align: center;
                font-size: px2rem(20px);
                background-color: #4e8bed;
                color: #fff;
                left: px2rem(110px);
                top: px2rem(-36px);
                border-top-left-radius: px2rem(20px);
                border-top-right-radius: px2rem(17px);
                border-bottom-right-radius: px2rem(17px);
            }
            .ui-loans-item-bot{
                font-size: px2rem(28px);
                height: px2rem(46px);
                line-height: px2rem(46px);
                color: #a8a8a8;
            }
        }
        .ui-loans-item-ri{
            float: left;
            padding-left: px2rem(48px);
            .ui-loans-item-top{
                height: px2rem(56px);
                color: #404040;
                font-size: px2rem(36px);
            }
            .ui-loans-item-pname{
                width: px2rem(426px);
                height: px2rem(40px);
                font-size: px2rem(30px);
                color: #333;
                margin-bottom: px2rem(14px);
                overflow: hidden; 
                
            }
            .ui-loans-item-title{
                float: left;
                width:px2rem(306px);
                height: px2rem(40px);
                @include text-ellipsis;
            }
            .ui-loans-item-limit{
                float: left;
                width: px2rem(120px);
                height: px2rem(40px);
                span{
                    color: #5590ee;
                }
            }
            .ui-loans-item-bot{
                padding-top: px2rem(20px);
                span{
                    line-height: px2rem(34px);
                    border-radius: px2rem(3px);
                    font-size: px2rem(22px);
                    color: #fff;
                    background-color: #ff7777;
                    padding: px2rem(4px) px2rem(10px);
                    margin-right: px2rem(6px);
                }
            }
        }
    }

}
.ui-loans-item-border{
    border-top: 1px solid #e9e9e9;
    margin: 0 px2rem(30px);
    padding-top: px2rem(74px);
    padding-bottom: px2rem(74px);
    position: relative;
}
.ui-loans-item-pc{
    position: absolute;
    width: px2rem(24px);
    height: px2rem(22px);
    top: px2rem(30px);
    right: 0;
    background: url('/styles/images/loans/mobile/pc_double.png') 0 0 no-repeat;
    background-size: px2rem(24px) px2rem(22px);
}
.ui-loans-item-name{
    font-size: px2rem(30px);
    font-weight: bold;
    color: #404040;
    line-height: px2rem(42px);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    word-break: keep-all;
    display: none;
}
.ui-loans-item-profit{
    float: left; 
    width: px2rem(268px);
}
.ui-loans-item-profit-number{
    font-size: px2rem(52px);
    color: #FF401A;
    span{
        font-size: px2rem(28px);
    }  
}
.ui-loans-item-rate{
    float: left;
}
.ui-loans-item-rate-number{
    font-size: px2rem(52px);
    color: #404040;
    span{
        font-size: px2rem(28px);
    }  
}
.ui-loans-item-explain{
    font-size: px2rem(22px);
    color: #8A8A8A;
}
.ui-loans-item-btn{
    float: right;
    width: px2rem(148px);
    height: px2rem(60px);
    line-height: px2rem(60px);
    text-align: center;
    background-color: #FF4C29;
    border-radius: px2rem(6px);
    box-shadow:0 0 1px #FF401A inset;
    font-size: px2rem(30px);
    color: #fff;
    
}
.ui-hotplat {
    background:#fff;
}
.ui-hotplat-link {
    display:block;
    padding-left:px2rem(28px);
    padding-top:px2rem(50px);
}
.ui-hotplat-main {
    width:100%;
    padding-left:px2rem(117px);
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    &:last-of-type(1) .ui-hotplat-main-body {
        border:none;
    }
}
.ui-hotplat-main-body {
    height:px2rem(149px);
    position:relative;
    border-bottom:1px solid #e9e9e9;
    padding-right:px2rem(117px);
    overflow:hidden;
}
.ui-hotplat-main-title {
    padding:px2rem(9px) 0px;
    font-size:px2rem(32px);
    line-height:px2rem(34px);
    height:px2rem(32px);
    overflow:hidden;
    color:#333;
    span {
        display:inline-block;
        vertical-align:top;
    }
    .text {
        height:px2rem(32px);
        line-height:px2rem(32px);
        margin:0px px2rem(8.5px);
        font-size:px2rem(22px);
        padding:0px px2rem(7px);
        border-radius:px2rem(4px);
        color:#fff;
        &:nth-of-type(1) {
            margin-left:px2rem(14px);
        }
    }
    .kq {
        background:#FFAF02;
    }
    .jx {
        background:#4E8BED;
    }
    .hd {
        background:#FF6619;
    }
}
.ui-hotplat-main-desc {
    font-size:px2rem(24px);
    color:#888;
    line-height:px2rem(51px);
    height:px2rem(51px);
    overflow:hidden;
}
.ui-hotplat-main-info {
    width:px2rem(117px);
    text-align:center;
    position:absolute;
    right:0px;
    top:0px;
}
.ui-hotplat-main-info-num {
    font-size:px2rem(34px);
    color:#FE4444 ;
    line-height:px2rem(52px);
}
.ui-hotplat-main-info-text {
    font-size:px2rem(24px);
    color:#AEAEAE;
    line-height:px2rem(51px);
}
.ui-hotplat-logo {
    margin-left:-100%;
    width:px2rem(100px);
    height:px2rem(150px);
    overflow:hidden;
    img {
        width:px2rem(100px);
        display:block;
    }
}
.ui-strategy {
    height: px2rem(298px);
    background-color: #fff;
}
.ui-strategy-item {
    padding-top:px2rem(34px);
    line-height:px2rem(47px);
    text-align:center;
    font-size:px2rem(24px);
    color:#333;
    width: 25%;
    .img1 {
        width:px2rem(126px);
        background-position:px2rem(-210px) 0px;
    }
    .img2 {
        width:px2rem(92px);
        background-position:px2rem(-420px) 0px;
    }
    .img3 {
        width:px2rem(109px);
        background-position:px2rem(-594px) 0px;
    }
}
.ui-strategy-item-img {
    height:px2rem(88px);
    width:px2rem(118px);
    margin:0px auto;
    background:url("../images/licai/mobile/icon.png") no-repeat  px2rem(-55px) 0px;
    background-size:px2rem(750px) px2rem(87px);
}
.ui-goodness{
    height: px2rem(360px);
    background-color: #fff;
}
.ui-goodness-item{
    float: left;
    width: 25%;
    margin-top: px2rem(40px);
    text-align: center;
    font-size: px2rem(26px);
    color: #3B3B3B;
    img{
        display: block;
        margin: 0 auto px2rem(22px);
        width: px2rem(98px);
    }
}
.ui-goodactivity{
    background-color: #fff;
}
.ui-goodactivity-list{
    padding: px2rem(52px) 0 px2rem(52px) px2rem(32px);
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    -moz-overflow-scrolling: touch;
    -o-overflow-scrolling: touch;
    -ms-overflow-scrolling: touch;
    overflow-scrolling: touch;
}
.ui-goodactivity-list-inner{
    width: px2rem(1000px);
}
.ui-goodactivity-list-item{
    float: left;
    width: px2rem(460px);
    height: px2rem(218px);
    margin-right: px2rem(40px);
    img{
        width: px2rem(460px); 
        height: px2rem(218px);
        border-radius: px2rem(6px);
    }
}
.ui-button-register,
.ui-button-invite{
    float: left;
    margin-left: px2rem(32px);
    width: px2rem(264px);
    height: px2rem(58px);
    line-height: px2rem(38px);
    font-size: px2rem(30px);
    color: #404040;
    border-radius:px2rem(12px);
    box-shadow:0 0 1px #E9E9E9 inset;
    background-color: #fff;
    padding: px2rem(22px) 0 0 px2rem(70px);
}
.ui-button-app{
    float: right;
    margin-right: px2rem(32px);
    width: px2rem(264px);
    height: px2rem(58px);
    line-height: px2rem(38px);
    font-size: px2rem(30px);
    color: #fff;
    border-radius:px2rem(12px);
    background-color: #FF4C29;
    padding: px2rem(22px) 0 0 px2rem(70px);
}
.ui-invite{
    position: fixed;
    bottom:0;
    left: 0;
    width: 100%;
    height: px2rem(96px);
    img{
        width: 100%;      
    }
}
.ui-invite-close{
    position: absolute;
    top: px2rem(24px);
    right: px2rem(24px);
    width: px2rem(46px);
    height: px2rem(46px);
    background: url(/styles/images/common/mobile/icons.png) no-repeat px2rem(-144px) 0;
    background-size: px2rem(358px) px2rem(209px);
}
.bx-controls{
    position: absolute;
    top: px2rem(248px);
    right: px2rem(8px);
    .bx-pager-item{
        float: left;
        margin-right: px2rem(16px);       
        .bx-pager-link{
            display: block;
            width: px2rem(10px);
            height: px2rem(10px);
            border-radius: 50%;
            background-color: rgba(255,255,255,0.50);
            text-indent: px2rem(-50000px);
        }
        .active{
            background-color: #fff;
        }
    }
}

/* 新手任务 start */
.welfare-tips{
    background-color: #fff;
    margin-top: px2rem(30px);
    padding: px2rem(40px);
}
.welfare-tips-icon{
    float: left;
    display: block;
    height: px2rem(80px);
    width: px2rem(82px);
    background: url(/styles/images/mobile/welfare/licai-red.png) no-repeat;
    background-size: px2rem(82px) px2rem(80px);
    margin-right: px2rem(42px);
}
.welfare-tips-info{
    float: left;
}
.welfare-tips-hello{
    display: block;
    font-size: px2rem(30px);
    color: #333;
}
.welfare-tips-words{
    display: block;
    font-size: px2rem(26px);
    color: #afafaf;
    padding-top: px2rem(5px);
}
.welfare-tips-words em{
    color: #fa575b;
}
.welfare-tips-link{
    display: block;
    float: right;
    margin-top: px2rem(14px);
    height: px2rem(52px);
    width: px2rem(136px);
    border: px2rem(2px) solid #4e8bed;
    line-height: px2rem(52px);
    text-align: center;
    color: #4e8bed;
    -webkit-border-radius: px2rem(28px);
    -moz-border-radius: px2rem(28px);
    border-radius: px2rem(28px);
}


.float-layer-welfare{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
    z-index: 1000;
}
.float-layer-welfare-mask{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}
.float-layer-welfare-main{
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    height: px2rem(560px);
    width: px2rem(482px);
    margin: px2rem(-280px) 0 0 px2rem(-241px);
    background-image:  url(/styles/images/mobile/welfare/licai-bigred.png);
    background-size: px2rem(482px) px2rem(560px);
};
.float-layer-welfare-close{
    position: absolute;
    bottom: px2rem(-120px);
    left: px2rem(211px);
    height: px2rem(60px);
    width: px2rem(60px);
    background-image:  url(/styles/images/mobile/welfare/close.png);
    background-repeat: no-repeat;
    background-size: px2rem(60px) px2rem(60px);
}
.float-layer-welfare-hello{
    display: block;
    line-height: px2rem(42px);
    height: px2rem(42px);
    font-size: px2rem(30px);
    color: #fc3547;
    font-weight: bold;
    padding-top: px2rem(90px);
}
.float-layer-welfare-tips{
    display: block;
    line-height: px2rem(34px);
    height: px2rem(34px);
    font-size: px2rem(24px);
    color: #d9a965;
    padding: px2rem(10px) px2rem(20px);
}
.float-layer-welfare-money{
    display: block;
    height: px2rem(96px);
    line-height: px2rem(96px);
    font-size: px2rem(68px);
    color: #fc3547;
    font-weight: bold;
}
.float-layer-welfare-money em{
    font-size: px2rem(30px);
    font-weight: normal;
}
.float-layer-welfare-link{
    display: block;
    height: px2rem(76px);
    width: px2rem(314px);
    line-height: px2rem(76px);
    font-size: px2rem(32px);
    color: #c35928;
    margin: px2rem(135px) auto 0;
}
/* 新手任务 end */

.progress{
    width: 100%;
    height: px2rem(2px);
    background:#f0f0f5;
    .progress-inner{
        width: 70%;
        height: px2rem(2px);
        background:#ff7777;
    }
}
