@charset "UTF-8";
@import '../base/mobileUtils';
@import '../base/utils';
@import '../base/mreset';
@import '../base/mobileGrid';
@import '../mod/dialog';
@import '../inc/m_ui';
@import '../inc/header-mobile';
@import '../inc/footer-mobile';

html,body{
  width: 100%;
  height:100%;
  min-height: px2rem(1106px);
  background: #efefef;
  position: relative;
}

.skip-head{
  margin-top: px2rem(220px);
  text-align: center;
  display: none;
}
.skip-head-name{
  overflow: hidden;
  display: inline-block;
  span{
    font-size: px2rem(44px);
    color: #666666;
    display: block;
    float: left;
    width: px2rem(380px);
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
  }
}
.skip-head-name-icon{
  width: px2rem(57px);
  height: px2rem(50px);
  background: url(/styles/images/loans/mobile/hi.png) no-repeat 0 0;
  background-size: cover;
  display: block;
  float: left;
  margin-right: px2rem(20px);
}
.skip-head-ptname{
  width:px2rem(320px);
  text-align: center;
  color: #666666;
  font-size:px2rem(27px);
  margin: px2rem(19px) auto 0;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

.skip-img{
  overflow: hidden;
  padding-top: px2rem(143.4px);
  padding-bottom: px2rem(122px);
  padding-left: px2rem(80px);
  padding-right: px2rem(80px);
  background: #fff;
}
.skip-img-box{
  overflow: hidden;
  width: 100%;
}
.skip-left{
  width: px2rem(130px);
  float: left;
}
.skip-img-left{
  width: px2rem(128px);
  height: px2rem(128px);
  border: 1px solid #d8d8d8;
  border-radius: px2rem(12px);
  text-align: center;
  display: table;
  .skip-img-left-item{
    vertical-align: middle;
    display: table-cell;
  }
  img{
    display: block;
    max-width: px2rem(128px);
    max-height: px2rem(45px);
    margin:auto;
  }
}
.skip-img-inner{
  display: block;
  text-align: center;
  padding-top: px2rem(10px);
  height: px2rem(40px);
  line-height: px2rem(40px);
  font-size: px2rem(24px);
  color: #000;
  @include text-ellipsis;
}
.skip-img-center{
  float: left;
  width: px2rem(320px);
  padding-top: px2rem(15px);
}
.skip-img-center-img{
  display: block;
  width: px2rem(220px);
  height: px2rem(40px);
  background: url(/styles/images/loans/mobile/arrow.png) 0 0 no-repeat;
  background-size: px2rem(220px) px2rem(40px);
  margin: 0 auto px2rem(15px);
}
.skip-img-center-inner{
  text-align: center;
  font-size: px2rem(20px);
  height: px2rem(40px);
  line-height: px2rem(40px);
  color: #8a8a8a;
  @include text-ellipsis;
}
.skip-right{
  width: px2rem(130px);
  float: left;
}
.skip-img-right{
  width: px2rem(128px);
  height: px2rem(128px);
  border: 1px solid #d8d8d8;
  border-radius: px2rem(12px);
  text-align: center;
  display: table;
  .skip-img-left-item{
    vertical-align: middle;
    display: table-cell;
  }
  img{
    display: block;
    max-width: px2rem(128px);
    max-height: px2rem(45px);
    margin:auto;
  }
}
.skip-prompt{
  padding-left: px2rem(26px);
  padding-right: px2rem(26px);
  padding-top: px2rem(20px);
  p{
    font-size: px2rem(24px);
    color: #999;
    margin-top: px2rem(12px);
    line-height: px2rem(40px);
  }
}
.skip-btn{
  display: block;
  width: px2rem(686px);
  height: px2rem(88px);
  text-align: center;
  line-height: px2rem(88px);
  background: #FF7856;
  font-size: px2rem(32px);
  border-radius: px2rem(2px);
  margin:px2rem(40px) auto 0;
  color: #ffffff;
}
.skip-href{
  display: block;
  font-size: px2rem(24px);
  line-height: px2rem(40px);
  color: #404040;
  margin: px2rem(66px) auto 0;
  text-align: center;
}
.skip-foot{
  position: absolute;
  bottom: px2rem(34px);
  left: 0;
  right: 0;
  margin: auto;
  p{
    text-align: center;
    font-size: px2rem(20px);
    color: #999999;
    margin-top: px2rem(10px);
  }

}