@Fcharset "UTF-8";
@import '../base/mobileUtils';
@import '../base/utils';
@import '../base/mreset';
@import '../base/mobileGrid';
@import '../mod/dialog';
@import '../inc/m_ui';
@import '../inc/header-mobile';
@import '../inc/footer-mobile';

.ui-loans-box{
    padding-top: px2rem(116px);
}
.ui-loans-box-title{
    text-align: center;
    font-size: px2rem(32px);
    color: #282828;
    line-height: px2rem(44px);
}
.ui-loans-box-pic{
    img{
        display: block;
        margin: 0 auto;
        width: px2rem(380px);
    }
}
.ui-loans-box-explain{
    font-size: px2rem(28px);
    color: #9E9E9E;
    text-align: center;
}
.ui-loans-box-btn{
    padding-top: px2rem(40px);
    a{
        display: block;
        margin: 0 auto;
        width: px2rem(302px);
        height: px2rem(66px);
        line-height: px2rem(66px);
        text-align: center;
        font-size: px2rem(28px);
        color: #fff;
        background-color: #2EB3E8;
        border-radius: px2rem(6px);
    }   
}
.ui-font-dd2727{
    color: #dd2727;
}



html,body{
    height: 100%;
    min-height: px2rem(1106px);
    background-color: #fff;
    position: relative;
}
.ui-jum-bind{
    text-align: center;
    .ui-bind-tit{
        margin-top: px2rem(140px);
        line-height: px2rem(44px);
        font-size: px2rem(32px);
        color: #404040;
        span{
            color: #3a96df;
        }
    }
    .ui-bind-con{
        width: px2rem(592px);
        height: px2rem(102px);
        margin: auto;
        margin-top: px2rem(104px);
        .ui-bind-cle{
            position: relative;
            float: left;
            width: px2rem(208px);
            height: px2rem(98px);
            border: px2rem(2px) solid #ECECEC;
        }
        .ui-bind-ccenter{
            float: left;
            width: px2rem(92px);
            height: px2rem(60px);
            margin: px2rem(11px) px2rem(36px) 0 px2rem(36px);
            color: #888888;
            .ui-bind-top{
                margin-top: px2rem(10px);
                position: relative;
                width: 100%;
                text-align: right;
                line-height: px2rem(30px);
            }
            .ui-bind-bot{
                text-align: left;
                position: relative;
                width: 100%;
                line-height: px2rem(28px);
            }
            .ui-bind-line{
                position: absolute;
                top: px2rem(13px);;
                width: px2rem(84px);
                height: 0;
                border-top: px2rem(2px) solid #888888;
            }
        }
        .ui-bind-cri{
            position: relative;
            float: left;
            width: px2rem(208px);
            height: px2rem(98px);
            border: px2rem(2px) solid #ECECEC;
        }
        .ui-bind-logo{
            position: absolute;
            top: px2rem(10px);
            left: px2rem(18px);
            width: px2rem(176px);
            height: px2rem(78px);
        }
    }
    .ui-bind-fd1{
        text-align: left;
        margin-top: px2rem(102px);
        padding: 0 px2rem(72px);
        font-size: px2rem(24px);
        color: #7A858D;
    }
    .ui-bind-fd2{
        text-align: left;
        margin-top: px2rem(30px);
        padding: 0 px2rem(72px);
        font-size: px2rem(24px);
        color: #7A858D;
    }
    .ui-bind-fd3{
        width: 100%;
        bottom: px2rem(20px);
        font-size: px2rem(24px);
        color: #7A858D;
    }
}

.ui-bd-s{
    text-align: center;
    .ui-s-hd{
        .s-hd-s{
            width: px2rem(148px);
            height: px2rem(148px);
            margin: px2rem(74px) auto 0 auto;
            background: url(/styles/images/loans/mobile/icons-jumpout.png) no-repeat 0 0;
            background-size: px2rem(1000px) px2rem(3000px);
        }
        .s-hd-f{
            width: px2rem(148px);
            height: px2rem(148px);
            margin: px2rem(74px) auto 0 auto;
            background: url(/styles/images/loans/mobile/icons-jumpout.png) no-repeat px2rem(-200px) 0;
            background-size: px2rem(1000px) px2rem(3000px);
        }
        .s-hd-2{
            margin-top: px2rem(30px);
            font-size: px2rem(36px);
            line-height: px2rem(50px);
            font-weight: bold;
            color: #404040;
        }
        .s-hd-3{
            margin-top: px2rem(10px);
            font-size: px2rem(26px);
            line-height: px2rem(36px);
            color: #404040;
            span{
                color: #3a96df;
            }
        }
        .s-hd-z1{
            margin-top: px2rem(134px);
            line-height: px2rem(56px);
            font-size: px2rem(40px);
            font-weight: bold;
            color: #404040;
        }
        .s-hd-z2{
            margin-top: px2rem(14px);
            padding-bottom: px2rem(48px);
            line-height: px2rem(36px);
            font-size: px2rem(26px);
            color: #404040;
            span{
                color: #3a96df;
            }
        }
    }
    .ui-s-bd{
        .ui-bd-tit{
            position: relative;
            margin-top: px2rem(56px);
            padding: 0 px2rem(40px);
            line-height: px2rem(34px);
            height: px2rem(34px);
            font-size: px2rem(24px);
            color: #7A858D;
            .ui-s-bd-bg{
                width: 86%;
                height: 0;
                position: absolute;
                top: px2rem(13px);
                left: 7%;
                border: px2rem(2px) solid #CECECE;
            }
            .ui-s-bd-txt{
                background-color: #fff;
                position: absolute;
                left: 50%;
                transform:translateX(-50%);
                -webkit-transform:translateX(-50%);
                -moz-transform:translateX(-50%);
                -o-transform:translateX(-50%);
                padding: 0 px2rem(28px);
                z-index: 1;
            }
        }
        .ui-bd-list{
            text-align: left;
            .ui-bd-item{
                margin-top: px2rem(48px);
                .ui-item-le{
                    position: relative;
                    float: left;
                    width: px2rem(122px);
                    height: px2rem(78px);
                    .ui-item-icon{
                        position: absolute;
                        top: px2rem(8px);
                        left: px2rem(31px);
                        width: px2rem(60px);
                        height: px2rem(60px);
                        background-image: url(/styles/images/loans/mobile/icons-jumpout.png);
                        background-size: px2rem(1000px) px2rem(3000px);
                    }
                    .ui-item-jx{
                        background-position: 0 px2rem(-200px);
                    }
                    .ui-item-kj{
                        background-position: 0 px2rem(-260px);
                    }
                    .ui-item-jz{
                        background-position: 0 px2rem(-320px);
                    }
                }
                .ui-item-ri{
                    float: left;
                    width: px2rem(562px);
                    .ui-item-top{
                        font-size: px2rem(28px);
                        font-weight: bold;
                        line-height: px2rem(40px);
                        color: #404040;
                    }
                    .ui-item-bot{
                        margin-top: px2rem(4px);
                        font-size: px2rem(24px);
                        line-height: px2rem(34px);
                        color: #7A858D;
                    }
                }
            }
        }
    }
    .ui-s-fd{
        padding-bottom: px2rem(68px);
        margin-top: px2rem(72px);
        a{
            display: inline-block;
            width: px2rem(686px);
            height: px2rem(92px);
            line-height: px2rem(92px);
            font-size: px2rem(36px);
            background: #FF7856;
            color: #fff;
            border-radius: px2rem(6px);
        }
    }
    .ui-bind-fd3{
        width: 100%;
        bottom: px2rem(10px);
        font-size: px2rem(24px);
        color: #7A858D;
    }
}
.s-hd-inner{
    padding-top: px2rem(40px);
    padding-left: px2rem(24px);
    padding-right: px2rem(24px);
    text-align: center;
    font-size: px2rem(24px);
    color: #7A858D;
    line-height: px2rem(40px);
    margin-bottom: px2rem(40px);
}
.ui-btnbox{
    padding-left: px2rem(32px);
    padding-right: px2rem(32px);
}
.ui-btn{
    display: block;
    width: 100%;
    height: px2rem(92px);
    text-align: center;
    line-height: px2rem(92px);
    background: #FF7856;
    font-size: px2rem(36px);
    border-radius: px2rem(3px);
    color: #ffffff;
}
.ui-wbd{
    padding-top: px2rem(20px);
    .s-hd-2{
        margin-bottom: px2rem(20px);
    }
}




