@charset "UTF-8";
@import '../base/mobileUtils';
@import '../base/utils';
@import '../base/mreset';
@import '../base/mobileGrid';
@import '../mod/dialog';
@import '../inc/m_ui';
@import '../inc/header-mobile';
@import '../inc/footer-mobile';

a:hover{
  text-decoration: none;
}

/* 订单 */
.order-head{
  position: relative;
  padding: px2rem(50px) px2rem(50px) px2rem(50px) px2rem(100px);
  background-color: #fff;
}
.order-icon{
  position: absolute;
  left: px2rem(32px);
  top: px2rem(50px);
  display: block;
  height: px2rem(44px);
  width: px2rem(40px);
  background-image: url(../../styles/images/member/mobile/order.png);
  background-size: px2rem(40px) px2rem(44px);
  background-repeat: no-repeat;
}
.order-title{
  display: block;
  line-height: px2rem(44px);
  font-size: px2rem(32px);
  color: #404040;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.order-info{
  display: block;
  height: px2rem(36px);
  line-height: px2rem(36px);
  font-size: px2rem(26px);
  color: #7a858d;
  margin-top: px2rem(18px);
}
/* 小标题 */
.title-box{
  height: px2rem(100px);
  line-height: px2rem(100px);
  padding: 0 px2rem(30px);
  background-color: #efefef;
}
.title-box-word{
  display: block;
  float: left;
  height: px2rem(100px);
  font-size: px2rem(30px);
  color: #7a858d;
}
/* 奖励 */
.order-award{
  border-top: 1px solid #e9e9e9;
}
.order-award-item{
  display: block;
  position: relative;
  padding: px2rem(40px) px2rem(40px) px2rem(40px) px2rem(80px);
  height: px2rem(100px);
  background-color: #fff;
}
.order-award-item-style{
  position: absolute;
  left: px2rem(32px);
  top: px2rem(57px);
  display: block;
  height: px2rem(12px);
  width: px2rem(12px);
  border: px2rem(4px) solid #ffa81a;
  border-radius: 50%;
}
.order-award-item-info{
  float: left;
}
.order-award-item-title{
  display: block;
  height: px2rem(48px);
  line-height: px2rem(48px);
  font-size: px2rem(30px);
  color: #404040;
  max-width: px2rem(450px);
  overflow: hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
}
.order-award-item-title-btn{
  display: block;
  position: relative;
  height: px2rem(46px);
  line-height: px2rem(48px);
  text-align: center;
  border-radius: px2rem(6px);
  padding: 0 px2rem(46px) 0 px2rem(12px);
  background: rgba(80,140,238,0.10);
  border: 1px solid #508cee;
  font-size: px2rem(26px);
  color: #508cee;
}
.order-award-item-title-btn em{
  position: absolute;
  right: px2rem(16px);
  top: px2rem(12px);
  height: px2rem(24px);
  width: px2rem(14px);
  background-image: url(../../styles/images/member/mobile/arrow_right_blue.png);
  background-size: px2rem(14px) px2rem(24px);
  background-repeat: no-repeat;
}
.order-award-item-title-btn.no-use{
  color: #c6c6c6;
  background: rgba(180,180,180,0.10);
  border: 1px solid #c6c6c6;
}
.order-award-item-title-btn.no-use em{
  background-image: url(../../styles/images/member/mobile/arrow_right_gray.png);
}
.order-award-item-money{
  display: block;
  height: px2rem(36px);
  line-height: px2rem(36px);
  font-size: px2rem(26px);
  margin-top: px2rem(14px);
  color: #7a858d;
  max-width: px2rem(450px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.order-award-item-go{
  float: right;
  height: px2rem(50px);
  line-height: px2rem(50px);
  width: px2rem(134px);
  text-align: center;
  border-radius: px2rem(6px);
  background-color: #ff7856;
  color: #fff;
  font-size: px2rem(26px);
  margin: px2rem(25px) 0;
}
.order-award-item-go.no-use{
  background-color: #c6c6c6;
}

/* 浮层 */
.float-layer{
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.51);
}
.choice{
  width:100%;
  position: absolute;
  bottom: px2rem(-800px);
  left: 0;
  background-color: #fff;
  box-shadow: 0 0 px2rem(100px) rgba(0,0,0,0.3);
  transition: all .2s ease-in-out;
}
.chioce-show{
  bottom: 0;
}
.choice-head{
  position: relative;
  height: px2rem(96px);
  line-height: px2rem(96px);
  font-size: px2rem(36px);
  color: #404040;
  text-align: center;
  border-bottom: 1px solid #cecece;
}
.choice-close{
  position: absolute;
  top: 0;
  right: 0;
  height: px2rem(96px);
  padding: 0 px2rem(30px);
  font-size:  px2rem(32px);
  color: #508cee;
}
.choice-list{
  max-height: px2rem(603px);
  overflow: auto;
  overflow-scrolling : touch;
  -webkit-overflow-scrolling : touch;
  -moz-overflow-scrolling : touch;
  -o-overflow-scrolling : touch;
}
.choice-list-item{
  padding: px2rem(30px);
  height: px2rem(90px);
}
.choice-list-item+.choice-list-item{
  border-top: 1px solid #e9e9e9;
}
.choice-icon{
  display: block;
  float: left;
  height: px2rem(40px);
  width: px2rem(40px);
  border: 1px solid #c8c8c8;
  border-radius: 50%;
  margin: px2rem(25px) px2rem(26px) px2rem(25px) 0;
}
.choice-list-item.selected .choice-icon{
  border-color: transparent;
  background-image: url(../../styles/images/member/mobile/selected.png);
  background-size: px2rem(40px) px2rem(40px);
  background-repeat: no-repeat;
}
.choice-info{
  float: left;
}
.choice-title{
  display: block;
  height: px2rem(44px);
  line-height: px2rem(44px);
  font-size: px2rem(32px);
  color: #404040;
  max-width: px2rem(610px);
  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
}
.choice-title-only{
  height: px2rem(90px);
  line-height: px2rem(90px);
}
.choice-time{
  display: block;
  height: px2rem(36px);
  line-height: px2rem(36px);
  font-size: px2rem(26px);
  color: #7a858d;
  margin-top: px2rem(10px);
  max-width: px2rem(610px);
  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
}
.choice-time em{
  color: #ff7856;
}


/* 跳转浮窗 */
.ui-details-jump{
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: px2rem(-145px) 0 0 px2rem(-270px);
  width: px2rem(540px);
  border-radius: px2rem(25px);
  text-align: center;
  background-color: rgba(248,248,248,0.82);
  z-index: 999;
}
.ui-details-jump-top{
  padding-top: px2rem(40px);
  padding-bottom: px2rem(8px);
  line-height: px2rem(46px);
  font-size: px2rem(34px);
  color: #000;
}
.ui-details-jump-middle{
  padding: 0 px2rem(28px) px2rem(40px);
  font-size: px2rem(26px);
  color: #888;
  line-height: px2rem(32px);
}
.ui-details-jump-bottom{
  line-height: px2rem(88px);
  border-top: px2rem(1px) solid #7f7f7f;
}
.ui-details-jump-cancel{
  float: left;
  width: 50%;
  color: #007AFF;
  font-size: px2rem(34px);
  span{
    display: block;
    line-height: px2rem(88px);
    border-right: px2rem(1px) solid #7f7f7f;
  }
}
.ui-details-jump-confirm{
  float: left;
  width: 50%;
  color: #007AFF;
  font-size: px2rem(34px);
}


/* loading... */

.ajax-style {
  display:none;
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  overflow: hidden;
}
.ajax-style .ajax-style-bg {
  width:100%;
  height:100%;
  background:#000;
  opacity:0.6;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter:alpha(opacity=60);
}
.ajax-style .ajax-style-main {
  position:absolute;
  top:px2rem(70px);
  left:px2rem(188px);
  height:px2rem(42px);
  line-height:px2rem(42px);
  color:#fff;
}
.ajax-style .ajax-style-main-symbol {
  float:left;
  width:px2rem(42px);
  height:px2rem(42px);
  background:url("/styles/images/member/member-int.png") 0 0 no-repeat;
  background-size: px2rem(42px) px2rem(42px);
  -webkit-animation:move 2s linear infinite;
  -moz-animation:move 2s linear infinite;
  -ms-animation:move 2s linear infinite;
  animation:move 2s linear infinite;
}
@-webkit-keyframes move {
  0% {
    -webkit-transform:rotate(0deg);
  }
  50% {
    -webkit-transform:rotate(-180deg);
  }
  100% {
    -webkit-transform:rotate(-360deg);
  }
}
@-moz-keyframes move {
  0% {
    -moz-transform:rotate(0deg);
  }
  50% {
    -moz-transform:rotate(-180deg);
  }
  100% {
    -moz-transform:rotate(-360deg);
  }
}
@-ms-keyframes move {
  0% {
    -ms-transform:rotate(0deg);
  }
  50% {
    -ms-transform:rotate(-180deg);
  }
  100% {
    -ms-transform:rotate(-360deg);
  }
}
@keyframes move {
  0% {
    transform:rotate(0deg);
  }
  50% {
    transform:rotate(-180deg);
  }
  100% {
    transform:rotate(-360deg);
  }
}
.ajax-style .ajax-style-main-text {
  padding-left:px2rem(40px);
  font-size:px2rem(30px);
  font-weight:bold;
  float:left;
}