@charset "UTF-8";
@import '../base/mobileUtils';
@import '../base/utils';
@import '../base/mreset';
@import '../base/mobileGrid';
@import '../mod/dialog';
@import '../inc/m_ui';
@import '../inc/header-mobile';
@import '../inc/footer-mobile';
.ui-success {
	text-align:center;
	padding:0px px2rem(68px);
	.success-icon {
		padding-top:px2rem(196px);
		padding-bottom:px2rem(36px);
		img {
			width:px2rem(148px);
		}
	}
	.success-tit {
		color:#3f3f3f;
		font-size:px2rem(40px);
		line-height:px2rem(76px);
	}
	.success-main{
		color:#9a9aa7;
		font-size:px2rem(24px);
		line-height:px2rem(38px);
	}
}
