@charset "UTF-8";
@import '../base/mobileUtils';
@import '../base/utils';
@import '../base/mreset';
@import '../base/mobileGrid';
@import '../mod/dialog';
@import '../inc/m_ui';
@import '../inc/header-mobile';

html{
  background-color: #fff;
}
.ui-header{
  display: none;
}
.notice-list{
  color: #888;
}
.notice-item{
  line-height: px2rem(29px);
  font-size: px2rem(21px);
}