@charset "UTF-8";
@import '../base/mobileUtils';
@import '../base/utils';
@import '../base/mreset';
@import '../base/mobileGrid';
@import '../mod/dialog';
@import '../inc/m_ui';
@import '../inc/header-mobile';
@import '../inc/footer-mobile';
.content-form{
  display: block;
}
.form-list{
  margin-bottom: px2rem(47px);
  padding:0px px2rem(32px);
  background-color: #fff;
}
.form-item+.form-item{
  border-top: 1px solid #e9e9e9;
}

.form-item{
  height: px2rem(86px);
  line-height: px2rem(86px);
  position:relative;
  font-size: px2rem(30px);
  color:#868686;
}
.form-item-title{
  position:absolute;
  top:0px;
  left:0px;
  width: px2rem(216px);
  font-size: px2rem(30px);
  color: #000;
}
.form-item-input{
  margin-top: px2rem(13px);
  width: 100%;
  padding-left:px2rem(216px);
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  font-size: px2rem(28px);
  height: px2rem(60px);
  border: none;
}
span.form-item-input {
	font-size:px2rem(30px);
}
.btn-box{
  padding: 0  px2rem(32px);
}
.btn{
  display: block;
  float: left;
  width: 100%;
  height: px2rem(88px);
  line-height: px2rem(88px);
  border: 1px solid #ff7856;
  color: #ff7856;
  font-size: px2rem(36px);
  text-align: center;
  -webkit-border-radius: px2rem(6px);
  -moz-border-radius: px2rem(6px);
  border-radius: px2rem(6px);
  border: 1px solid #ff7856;
  color: #fff;
  background-color: #ff7856;
}

.btn.disabled{
  background-color: #ccc;
  border-color: #ccc;
}
.ui-desc {
  font-size:px2rem(24px);
  line-height:px2rem(34px);
  color:#9a9aa7;
  padding:px2rem(34px) px2rem(34px) 0px;
  .desc-icon {
    vertical-align:top;
    margin-right:px2rem(14px);
    display:inline-block;
    background:url('/styles/images/member/mobile/withdraw_icon.png') top left no-repeat;
    background-size:px2rem(250px);
    width:px2rem(34px);
    height:px2rem(34px);
    background-position:px2rem(-161px) 0px;
  }
}