@charset "UTF-8";
@import '../base/mobileUtils';
@import '../base/utils';
@import '../base/mreset';
@import '../base/mobileGrid';
@import '../mod/dialog';
@import '../inc/m_ui';
@import '../inc/header-mobile';
@import '../inc/footer-mobile';

a:hover{
  text-decoration: none;
}

.card-detail{
  width:px2rem(688px);
  margin: px2rem(60px) auto px2rem(30px);
  border-radius: px2rem(8px);
  overflow: hidden;
  background-color: #fff;
}
.card-detail-color{
  height: px2rem(30px);
}

.card-detail-blue .card-detail-color{
  background-color: #2eb3eb;
}
.card-detail-red .card-detail-color{
  background-color: #ff401a;
}
.card-detail-yellow .card-detail-color{
  background-color: #ebb844;
}
.card-detail-blue .card-detail-hd-number{
  color: #2eb3eb;
}
.card-detail-red .card-detail-hd-number{
  color: #ff401a;
}
.card-detail-yellow .card-detail-hd-number{
  color: #ebb844;
}
.card-detail-blue .card-detail-hd-number .persent{
  display: none;
}
.card-detail-red .card-detail-hd-number .persent{
  display: none;
}
.card-detail-yellow .card-detail-hd-number .rmb{
  display: none;
}

.card-detail-hd{
  padding-top: px2rem(35px);
  text-align: center;
  padding-bottom: px2rem(48px);
  border-bottom: px2rem(2px) dashed #cecece;
}
.card-detail-hd-title{
  display: block;
  height: px2rem(56px);
  line-height: px2rem(56px);
  font-size: px2rem(40px);
  color: #404040;
}
.card-detail-hd-number{
  display: block;
  margin: px2rem(24px) 0 px2rem(44px);
  height: px2rem(90px);
  font-size: px2rem(90px);
  line-height: px2rem(90px);
  font-weight: bold;
}
.card-detail-hd-number em{
  font-size: px2rem(56px);
}
.card-detail-bd{
  padding: px2rem(70px) px2rem(40px) 0 px2rem(40px);
}

.card-detail-btn{
  display: block;
  height: px2rem(90px);
  line-height: px2rem(90px);
  width: px2rem(550px);
  text-align: center;
  border-radius: px2rem(8px);
  margin: px2rem(30px) auto px2rem(30px);
  background-color: #ff7856;
  font-size: px2rem(36px);
  color: #fff;
}
.can-use{
  display: none;
  text-align: center;
  height: px2rem(90px);
  line-height: px2rem(90px);
  font-size: px2rem(30px);
  color: #404040;
}
.can-use a{
  color: #5f9bee;
}
.card-detail-list {
  .card-detail-item {
    padding-bottom: px2rem(60px);
    overflow: hidden;
  }
  .card-detail-item-title {
    max-height: px2rem(999px);
    font-size: px2rem(26px);
    color: #404040;
    margin-bottom: px2rem(30px);
  }
  .card-detail-item-con {
    color: #7a858d;
    font-size: px2rem(26px);
    max-height: px2rem(999px);
    line-height: px2rem(47px);
  }
}
.center {
  display: block;
  text-align: center;
}
.card-detail-hd-text{
  font-size: px2rem(22px);
  text-align: center;
  width: 100%;
  color: #8c979e;
}
.card-detail-title{
  float: left;
  font-size: px2rem(26px);
  color: #535353;
  max-height: px2rem(999px);
  span{
    margin-left: px2rem(22px);
    color: #8c979e;
  }
}
.card-detail-date{
//  margin-left: px2rem(70px);
  float: right;
}