@Fcharset "UTF-8";
@import '../base/mobileUtils';
@import '../base/utils'; 
@import '../base/mreset';
@import '../base/mobileGrid';
@import '../mod/dialog'; 
@import '../inc/m_ui';
@import '../inc/header-mobile';
@import '../mod/common-list';

.ui-rates-header{
    height: px2rem(306px);
    padding-left: px2rem(40px); 
    background: #fff url(/styles/images/member/mobile/rates-bg.png) no-repeat 0 0;
    background-size: 100% 100%;
}
.ui-rates-header-explain{
    padding-top: px2rem(70px); 
    font-size: px2rem(32px);
    color: #fff;
    line-height: px2rem(60px);
    opacity: 0.6;
}
.ui-rates-header-money{
    font-size: px2rem(74px);
    color: #fff;
    line-height: px2rem(100px);

}
