@charset "UTF-8";
@import '../base/mobileUtils';
@import '../base/utils';
@import '../base/mreset';
@import '../base/mobileGrid';
@import '../mod/dialog';
@import '../inc/m_ui';
@import '../inc/header-mobile';
@import '../inc/footer-mobile';

a:hover{
  text-decoration: none;
}


.card-list{

}
.card-item{
  display: block;
  height: px2rem(264px);
  width: px2rem(688px);
  margin: 0 auto px2rem(20px);
  background-size: px2rem(688px) px2rem(264px);
  background-repeat: no-repeat;
  padding: px2rem(60px) px2rem(40px) 0 px2rem(60px);
  box-sizing: border-box;
  position: relative;
}
.card-item-blue{
  background-image: url(../../styles/images/member/mobile/card_blue.png);
}
.card-item-red{
  background-image: url(../../styles/images/member/mobile/card_red.png);
}
.card-item-yellow{
  background-image: url(../../styles/images/member/mobile/card_yellow.png);
}
.card-item-yellow,.card-item-blue{
  height: px2rem(284px);
  padding-top: px2rem(50px);
  background-size: px2rem(688px) px2rem(284px);
}
.card-item-title{
  display: block;
  height: px2rem(44px);
  line-height: px2rem(44px);
  font-size: px2rem(32px);
  color: #404040;
}
.card-item-info{
  display: block;
  height: px2rem(36px);
  line-height: px2rem(36px);
  font-size: px2rem(26px);
  color: #9d9d9d;
}
.card-item-ft{
  height: px2rem(80px);
  margin-top: px2rem(55px);
}
.card-item-tips{
  display: block;
  float: left;
  height: px2rem(36px);
  line-height: px2rem(36px);
  font-size: px2rem(26px);
  color: #9d9d9d;
}
.card-item-number{
  display: block;
  float: right;
  height: px2rem(80px);
  line-height: px2rem(80px);
  font-size: px2rem(56px);
  margin-top: px2rem(-30px);
}
.card-item-number em{
  font-size: px2rem(38px);
}

.card-item-blue .card-item-number{
  color: #2eb3eb;
}
.card-item-red .card-item-number{
  color: #ff401a;
}
.card-item-yellow .card-item-number{
  color: #ebb844;
}

.card-item-blue .card-item-number .persent{
  display: none;
}
.card-item-red .card-item-number .persent{
  display: none;
}
.card-item-yellow .card-item-number .rmb{
  display: none;
}
.col-choice{
  width: 100%;
  height: px2rem(80px);
  background: #fff;
  padding-top: px2rem(20px);
  overflow: hidden;
  margin-bottom: px2rem(30px);
  a{
    width:px2rem(224px);
    height: px2rem(58px);
    border: px2rem(1px) solid #454340;
    color: #454340;
    font-size: px2rem(24px);
    float: left;
    text-align: center;
    line-height: px2rem(58px);

  }
  .col-choice-new{
    margin-left: px2rem(33px);
    border-top-left-radius: px2rem(10px);
    border-bottom-left-radius:px2rem(10px);
  }
  .col-choice-near{
    border-top-right-radius:px2rem(10px);
    border-bottom-right-radius:px2rem(10px);
  }
  .current{
    background: #454340;
    color: #fff;
  }
}
.card-item-img{
  width: px2rem(118px);
  height: px2rem(109px);
  background: url(../../styles/images/loans/mobile/h5daoqi.png) no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top:px2rem(6px);
  right: px2rem(10px);
}
.card-item-lable{
  width: px2rem(118px);
  height: px2rem(110px);
  background: url(../../styles/images/loans/mobile/double11.png) no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top:px2rem(3px);
  right: px2rem(8px);
}