@Fcharset "UTF-8";
@import '../base/mobileUtils';
@import '../base/utils';
@import '../base/mreset';
@import '../base/mobileGrid'; 
@import '../mod/dialog';
@import '../inc/m_ui';
@import '../inc/header-mobile'; 
@import '../inc/footer-mobile';
@import '../mod/common-list';
.ui-footer {
	display:none;
}
.ui-triangle {
	display: inline-block;
    width: 0;
    height: 0;
    border: px2rem(15px) solid #fff;
    border-top-color: #d1d1d1;
    margin-top: px2rem(15px);
    margin-left: px2rem(18px);
    vertical-align: middle;
}
.ui-selectmain-itempackup{
    border-top: 1px solid #e9e9e9;
    padding-top: px2rem(18px);
    padding-bottom: px2rem(12px);
    height: px2rem(20px);
    span{
        display: block;
        width: px2rem(36px);
        height: px2rem(4px);
        margin: 0 auto;
        background-color: #d8d8d8;
        border-radius: px2rem(2px);
        margin-bottom: px2rem(6px);
    }
}

.ui-select {
	height:px2rem(88px);
}
.ui-select-wrap {
	background:#fff;
	position:fixed;
	z-index:100;
	width:100%;
	top:px2rem(100px);
}
.mask-layer {
	width:100% !important;
	height:100% !important;
    @media all and (orientation : landscape) {
        
    }
}
.ui-selectnav {
	font-size: px2rem(28px);
	line-height:px2rem(44px);
	height:px2rem(44px);
	padding:px2rem(22px) 0px;
    color: #404040;
    border-bottom:1px solid #e9e9e9;
    position:relative;
    z-index:10;
    background:#fff;
 }
.ui-fixedh100{
	height:100%;
}
.ui-selectnav-item{
	width:50%;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	text-align: center;
	height:px2rem(44px);
	a {
		display:block;
		width:100%;
		color: #404040;
	}
	&:nth-of-type(1){
		border-right:1px solid #e9e9e9;
	}
}
a.ui-selectnav-itemcurrent {
 	color: #5b99ee;
    .ui-triangle{
        margin-top: px2rem(-15px);
        border: px2rem(15px) solid #fff;
        border-bottom-color: #5b99ee;
    }
}
.ui-selectmain {
	position:fixed;
	width:100%;
	top:0px;
	padding-top:px2rem(188px);
	left:0px;
	border-top:1px solid #e9e9e9;
	background:#fff;
	display:none;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
    @media all and (orientation : landscape){
    	overflow-y:scroll;
    	max-height:100%;
    }
}
.ui-selectmain-sortlist {
	padding:0px px2rem(30px);
}
.ui-selectmain-termlist,.ui-selectmain-sortlist {
	overflow-y:scroll;
}
.ui-selectmain-sortitem {
	display:block;
	font-size:px2rem(24px);
	line-height:px2rem(90px);
	color:#404040;
	border-bottom:1px solid #e9e9e9;
}
.ui-selectmain-sortitemcurrent {
	color: #5b99ee;
	.ui-selectmain-check {
		display:block;
	}
}
.ui-selectmain-check{
    float: right;
    display: none;
    width: px2rem(28px);
    height: px2rem(20px);
    margin-top: px2rem(30px);
    background: url(/styles/images/loans/mobile/ui-sort-check.png) no-repeat 0 0;
    background-size: px2rem(28px) px2rem(20px);
}
.ui-selectmain-termitem {
	padding-left:px2rem(30px);
}
.ui-selectmain-termitem-title {
	padding:px2rem(20px) 0px px2rem(27px);
	font-size:px2rem(26px);
	line-height:px2rem(50px);
    @include text-ellipsis;
    span{
        padding-left: px2rem(24px);
        font-size: px2rem(24px);
        color: #999; 
        b{
            color: #ff8b2e;
            font-weight: normal;
        }
    }
}
.ui-selectmain-termitem-main {
	span {
		float: left;
        width: px2rem(214px);
        height: px2rem(66px);
        line-height: px2rem(66px);
        text-align: center;
        font-size: px2rem(24px);
        border: 1px solid #e9e9e9;
        border-radius: px2rem(4px);
        margin-right: px2rem(20px);
        margin-bottom: px2rem(20px);
	}
	.current {
		border-color: #5b99ee;
        color: #5b99ee;
	}
}
.ui-selectmain-termitembtn {
	border-top:2px solid #e9e9e9;
	a{
		width:50%;
		-webkit-box-sizing:border-box;
		box-sizing:border-box;
		font-size: px2rem(30px);
		line-height:px2rem(98px);
		text-align:center;
		height: px2rem(98px);
        text-align: center;
        color:#9b9ba8;
        &:nth-of-type(2) {
			color:#0081cb;
			border-left:1px solid #e9e9e9;
        }
  	}
}
.ui-hotplat {
    background:#fff;
}
.ui-hotplat-link {
    display:block;
    padding-left:px2rem(28px);
    padding-top:px2rem(50px);
    &:last-of-type(1) .ui-hotplat-main-body{
        border:none;
    }
     &:active{
        background-color: #F8F8F8; 
    }

}
.ui-hotplat-main {
    width:100%;
    padding-left:px2rem(117px);
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}
.ui-hotplat-main-body {
    height:px2rem(149px);
    position:relative;
    border-bottom:1px solid #e9e9e9;
    padding-right:px2rem(117px);
    overflow:hidden;
}
.ui-hotplat-main-title {
    padding:px2rem(10px) 0px;
    font-size:px2rem(32px);
    line-height:px2rem(32px);
    height:px2rem(32px);
    overflow:hidden;
    color:#333;
    span {
        display:inline-block;
        height:px2rem(32px);
        vertical-align:top;
        margin:0px px2rem(8.5px);
        font-size:px2rem(22px);
        padding:0px px2rem(7px);
        border-radius:px2rem(4px);
        color:#fff;
        &:nth-of-type(1) {
            margin-left:px2rem(14px);
        }
    }
    .kq {
        background:#FFAF02;
    }
    .jx {
        background:#4E8BED;
    }
    .hd {
        background:#FF6619;
    }
}
.ui-hotplat-main-desc {
    font-size:px2rem(24px);
    color:#888;
    line-height:px2rem(51px);
    height:px2rem(51px);
    overflow:hidden;
}
.ui-hotplat-main-info {
    width:px2rem(117px);
    text-align:center;
    position:absolute;
    right:0px;
    top:0px;
}
.ui-hotplat-main-info-num {
    font-size:px2rem(34px);
    color:#FE4444 ;
    line-height:px2rem(52px);
}
.ui-hotplat-main-info-text {
    font-size:px2rem(24px);
    color:#AEAEAE;
    line-height:px2rem(51px);
}
.ui-hotplat-logo {
    margin-left:-100%;
    width:px2rem(100px);
    height:px2rem(150px);
    overflow:hidden;
    img {
        width:px2rem(100px);
        display:block;
    }
}