@charset "UTF-8";
@import '../base/mobileUtils';
@import '../base/utils';
@import '../base/mreset';
@import '../base/mobileGrid';
@import '../mod/dialog';
@import '../inc/m_ui';
@import '../inc/header-mobile';
@import '../inc/footer-mobile';

.list{
  padding-left: px2rem(30px);
  background-color: #fff;
  border-bottom: px2rem(1px) solid #e9e9e9;
}

.list-item{
  padding: px2rem(26px) 0;
  line-height: px2rem(48px);
  font-size: px2rem(30px);
  color: #404040;
}
.list-item+.list-item{
  border-top: px2rem(1px) solid #e9e9e9;
}
.list-item-key{
  display: block;
  float: left;
  width: px2rem(130px);
}
.list-item-value{
  display: block;
  float: left;
  width: px2rem(560px);
  color: #7e838c;
}
.edit-address{
  display: block;
  margin: px2rem(48px) auto 0;
  height: px2rem(92px);
  line-height: px2rem(92px);
  width: px2rem(686px);
  -webkit-border-radius: px2rem(6px);
  -moz-border-radius: px2rem(6px);
  border-radius: px2rem(6px);
  background-color: #ff7856;
  color: #fff;
  font-size: px2rem(36px);
  text-align: center;
}