@charset "UTF-8";
@import '../base/mobileUtils';
@import '../base/utils';
@import '../base/mreset';
@import '../base/mobileGrid';
@import '../mod/dialog';
@import '../inc/m_ui';
@import '../inc/header-mobile';
@import '../inc/footer-mobile';

.hd{
  width: px2rem(750px);
  height: px2rem(260px);
  background-image: url(/styles/images/club/mobile/list-bg.png);
  background-size: px2rem(750px) px2rem(260px);
  background-repeat: no-repeat;
  background-color: #fff;
}
.hd-item{
  width: 50%;
  float: left;
  padding-top: px2rem(80px);
  text-align: center;
  color: #fff;
}
.hd-item-value{
  display: block;
  height: px2rem(60px);
  line-height: px2rem(60px);
  font-size: px2rem(50px);
  margin-bottom: px2rem(30px);
  font-weight: bold;
}
.hd-item-key{
  display: block;
  height: px2rem(24px);
  line-height: px2rem(24px);
  font-size: px2rem(24px);
}

.bd{
  margin-top: px2rem(20px);
  background-color: #fff;
}
.bd-tab {
  height: px2rem(80px);
  line-height: px2rem(80px);
  font-size: px2rem(28px);
  color: #353535;
  border-bottom: px2rem(2px) solid #f3f3f3;
}
.bd-tab-item{
  position: relative;
  display: block;
  float: left;
  width: 50%;
  text-align: center;
}
.bd-tab-link{
  color: #353535;
}
.bd-tab-item-line{
  position: absolute;
  display: none;
  left: 50%;
  bottom: px2rem(-2px);
  margin-left: px2rem(-23px);
  height: px2rem(3px);
  width: px2rem(46px);
  background-color: #0b9ede;
}
.current .bd-tab-link{
  color: #0b9ede;
}
.current .bd-tab-item-line{
  display: block;
}


.record-list,.rules-list{
  width: px2rem(750px);
  padding-bottom: px2rem(50px);
  overflow: scroll;
}
.record-list-wrap{
  width: px2rem(750px);
}
.rules-list-wrap{
  width: px2rem(975px);
}
.record-list-hd,.rules-list-hd{
  height: px2rem(56px);
  line-height: px2rem(56px);
  font-size: px2rem(24px);
  color: #353535;
  border-bottom: px2rem(2px) solid #f3f3f3;
}
.record-list-hd span,.rules-list-hd span{
  display: block;
  float: left;
  height: px2rem(56px);
}
.record-list-bd,.rules-list-bd{
  height: px2rem(80px);
  line-height: px2rem(80px);
  font-size: px2rem(24px);
  color: #808080;
  border-bottom: px2rem(2px) solid #f3f3f3;
}
.record-list-bd.even,.rules-list-bd.even{
  background-color: #f9f9f9;
}
.record-list-bd span,.rules-list-bd span{
  display: block;
  height: px2rem(80px);
  float: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.record-list-name{
  padding-left: px2rem(25px);
  width: px2rem(180px);
  text-align: left;
}
.record-list-change{
  width: px2rem(260px);
  text-align: left;
}
.record-list-change span{
  float: none;
  display: inline;
}
.record-list-time{
  width: px2rem(280px);
  text-align: left;
}


.rules-list-name{
  padding-left: px2rem(25px);
  width: px2rem(250px);
  text-align: left;
}
.rules-list-cycle{
  width: px2rem(150px);
  text-align: center;
}
.rules-list-times{
  width: px2rem(250px);
  text-align: center;
}
.rules-list-score{
  width: px2rem(150px);
  text-align: center;
}

.get-more{
  height: px2rem(85px);
  line-height: px2rem(85px);
  font-size: px2rem(26px);
  color: #808080;
  text-align: center;
}




