@charset "UTF-8";
@import '../base/mobileUtils';
@import '../base/utils'; 
@import '../base/mreset';
@import '../base/mobileGrid';

html,body{
	background-color: #fff;
}
.qt-w750{
	width: px2rem(750px);
	margin: 0 auto;
}
.ui-jbloan{
	width: px2rem(750px);
	//height: px2rem(577px);
	padding-top: px2rem(665px);
	background: #300e54 url(/styles/images/topic/jbloan/jbloanbg.png) 0 0 no-repeat;
	background-size: px2rem(750px) px2rem(1242px);
}
.ui-redpacket{
	width: px2rem(550px);
	height: px2rem(437px);
	margin: 0 auto;
	margin-bottom: px2rem(140px);
	background: url(/styles/images/topic/jbloan/redpacketbg.png) 0 0 no-repeat;
	background-size: px2rem(550px) px2rem(437px);
}
.ui-redpacket-hd{
	padding-top: px2rem(6px);
	padding-left: px2rem(60px);
	padding-right: px2rem(60px);
	height: px2rem(90px);
	line-height: px2rem(90px);
	font-size: px2rem(26px);
	text-align: center;
	color: #906e40;
	span{
		color: #f84a5c;
	}
}
.ui-redpacket-bd{
	padding-top: px2rem(44px);
	padding-left: px2rem(60px);
	padding-right: px2rem(60px);
	height: px2rem(80px);
	line-height: px2rem(80px);
	text-align: center;
	color: #f84a5c;
	b{
		font-size: px2rem(30px);
		padding-right: px2rem(15px);
	}
	strong{
		font-size: px2rem(60px);
	}
}
.ui-redpacket-btnbox{
	padding-top: px2rem(90px);
}
.ui-redpacket-btn{
	display: block;
	margin: 0 auto;
	width: px2rem(434px);
	height: px2rem(82px);
	line-height: px2rem(82px);
	text-align: center;
	font-size: px2rem(34px); 
	background: url(/styles/images/topic/jbloan/redpacketbtn.png) 0 0 no-repeat;
    background-size: px2rem(434px) px2rem(82px);
}
.ui-canclick{
	color: #926019;
}
.ui-noclick{
	color: #d3a923;
}
.ui-rule{
	padding-bottom: px2rem(74px);
}
.ui-rule-hd{
	width: px2rem(240px);
	height: px2rem(40px);
	line-height: px2rem(40px);
	margin: 0 auto; 
	font-size: px2rem(30px);
	text-align: center;
	background: url(/styles/images/topic/jbloan/rulebg.png) 0 0 no-repeat;
	background-size: px2rem(240px) px2rem(40px);
	color: #fff;
}
.ui-rule-bd{
	padding-top: px2rem(20px);
	padding-left: px2rem(50px);
	padding-right: px2rem(50px);
	p{
		line-height: px2rem(48px);
		font-size: px2rem(26px);
		color: #fff;
	}
}
.mask-layer {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.45;
  filter: alpha(opacity=45);
  -ms-filter: alpha(opacity=45);
  z-index: 99
}
.prompt-message{
  padding-top:px2rem(10px);
  padding-right:px2rem(40px);
  padding-bottom:px2rem(10px);
  padding-left:px2rem(40px);
  background:rgba(0,0,0,0.5);
  color:#fff;
  font-size:px2rem(24px);
  line-height:px2rem(60px);
  position:fixed;
  left:50%;
  top:50%;
  z-index:100;
  border-radius:px2rem(10px);
  display:none;
}
.ui-result{
	width: px2rem(530px);
	height: px2rem(530px);
	background-color: #fff;
	border-radius: px2rem(8px);
	display: none;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: px2rem(-265px); 
	margin-top: px2rem(-265px);
	z-index: 100; 
}
.ui-result-box{
	padding-top: px2rem(30px);
	padding-right: px2rem(30px);
	padding-bottom: px2rem(30px);
	padding-left: px2rem(30px);
	position: relative;
}
.ui-result-iconbox{
	padding-top: px2rem(66px);
	padding-left: px2rem(144px);
}
.ui-result-icon{
	display: block;
	width: px2rem(166px);
	height: px2rem(151px);
	background: url(/styles/images/topic/jbloan/result_icon.png) 0 0 no-repeat;
	background-size: px2rem(166px) px2rem(151px);
}
.ui-result-inner{
	padding-top: px2rem(58px);
	height: px2rem(46px);
	line-height: px2rem(46px);
	font-size: px2rem(24px);
	color: #4c4c4c;
	text-align: center;
}
.ui-result-btnbox{
	padding-top: px2rem(46px);
}
.ui-result-btn{
	display: block;
	margin: 0 auto;
	width: px2rem(430px);
	height: px2rem(78px);
	line-height: px2rem(78px);
	text-align: center;
	font-size: px2rem(30px); 
	background: url(/styles/images/topic/jbloan/resultbtn.png) 0 0 no-repeat;
	background-size: px2rem(430px) px2rem(78px);
    color: #926019;
}
.ui-result-close{
	position: absolute;
	width: px2rem(26px);
	height: px2rem(26px);
	background: url(/styles/images/topic/jbloan/resultclose.png) 0 0 no-repeat;
	background-size: px2rem(26px) px2rem(26px);
	top: px2rem(40px);
	right: px2rem(40px);
}








