@Fcharset "UTF-8";
@import '../base/mobileUtils';
@import '../base/utils';
@import '../base/mreset';
@import '../base/mobileGrid';
@import '../inc/m_ui';
.ui-icon {
	display:block;
	background:url("../images/topic/brand1111/mobile/card_icon.png") no-repeat center top;
	vertical-align:top;
	background-size:px2rem(750px) px2rem(1510px);
}
body,html {
	height:100%;
}
.hidden {
	overflow:hidden;
}
.ui-head {
	background:#4e069a;
	.ui-banner {
		width:px2rem(750px);
		height:px2rem(433px);
		margin:0px auto;
		position:relative;
	}
	.banner-platwrap {
		width:px2rem(292px);
		height:px2rem(240px)
;		margin:0px auto;
		background:#4e069a;
		text-align:center;
	}
	.banner-wrap {
		padding-top:px2rem(66px);
	}
	.banner-platimg {
		height:px2rem(180px);
		background:#fff;
		line-height:px2rem(180px);
		img {
			height:px2rem(180px);
			vertical-align:top;
			max-width:px2rem(750px);
		}
	}
	.banner-platname {
		height:px2rem(60px);
		font-size:px2rem(30px);
		line-height:px2rem(60px);
		color:#fff;
		text-align:center;
		padding:0px px2rem(10px);
		overflow:hidden;
		text-overflow:ellipis;
		white-space:nowrap;
	}
	.banner-platcrash {
		font-size:px2rem(36px);
		line-height:px2rem(82px);
		color:#fff;
		font-weight:bold;
		text-align:center;
	}

}
main {
	background:#f0f0f0;
	width:px2rem(750px);
	margin:0px auto;
	padding-bottom:px2rem(140px);
}
.ui-commonhead {
	height:px2rem(132px);
	padding-top:px2rem(8px);
	.commonhead-tit {
		background-position:0px px2rem(-434px);
		height:px2rem(100px);
		text-align:center;
		color:#333;
		font-size:px2rem(36px);
		line-height:px2rem(128px);
		font-weight:bold;
	}
}
.ui-commonbody {
	width:px2rem(710px);
	margin:0px auto;
	background:#fff;
	border-radius:px2rem(10px);
}
.ui-receive {
	margin-top:px2rem(-8px);
	 .receive-body {
		width:px2rem(710px);
		margin:0px auto;
	 }
	.receive-card {
		height:px2rem(350px);
		background:#fff;
		border-radius:px2rem(10px);
		overflow:hidden;
		position:relative;
		text-align:center;
		margin-bottom:px2rem(30px);
		&:last-of-type {
 			margin-bottom:0px;
 		}
	}
	.receive-card-body {
		font-size:px2rem(24px);
		.color-red {
			color:#e2231a;
		}
	}
	.receive-card-name {
		color:#333;
		line-height:px2rem(44px);
	}
	.receive-card-crash {
		font-size:px2rem(60px);
		line-height:px2rem(96px);
		span {
			font-weight:bold;
		}
	}
	.receive-card-desc {
		display:inline-block;
		color:#666;
		padding:0px px2rem(25px);
		line-height:px2rem(46px);
		border:px2rem(2px) dashed #ccc;
		border-radius:px2rem(50px);
	}
	.receive-card-footer {
		position:absolute;
		height:px2rem(80px);
		width:100%;
		bottom:0px;
		left:0px;
		font-size:px2rem(24px);
		line-height:px2rem(80px);
		color:#fff;
		padding-top:px2rem(6px);
	}
	.receivebtn-icon {
		background-position:0px px2rem(-801px);
	}
	.receive-icon {
		position:absolute;
		display:none;
		top:0px;
		right:0px;
		width:px2rem(128px);
		height:px2rem(100px);
	}
	.receive-cardover {
		.receive-icon {
			display:block;
			background-position:0px px2rem(-1033px);
		}
		.receivebtn-icon {
			background-position:0px px2rem(-917px);
		}
		.receive-card-color,.color-red {
			color:#999;
		}
	}
	.receive-cardbrought {
		.receive-icon {
			display: block;
			background-position:px2rem(-187px)  px2rem(-1033px);
		}
		.receivebtn-icon {
			background-position:0px px2rem(-685px);
		}
		.receive-card-color,.color-red{
			color:#999;
		}
		.receive-card-color.receive-card-crash {
			color:#e2231a;
		}

	}
	.receive-cardnobrought {
		.receive-icon {
			display:block;
			background-position:px2rem(-363px)  px2rem(-1033px);
		}
		.receivebtn-icon {
			background-position:0px px2rem(-917px);
		}
		.receive-card-color,.color-red {
			color:#999;
		}
	}
	.receive-icon-nobrought {
		display:block;
		background-position:px2rem(-363px)  px2rem(-1033px);
	}
}
.ui-strategy {
	.strategy-body {
		-webkit-box-sizing:border-box;
		box-sizing:border-box;
		padding:px2rem(8px) px2rem(52px) px2rem(54px);
	}
	.strategy-item {
		padding-top:px2rem(32px);
		.item-title {
			font-size:px2rem(30px);
			line-height:px2rem(68px);
			color:#333;
			font-weight:bold;
			i {
				display:inline-block;
				width:px2rem(78px);
				height:px2rem(68px);
				vertical-align:top;
			}
		}
		.icon1 {
			background-position:px2rem(0px) px2rem(-556px);
		}
		.icon2 {
			background-position:px2rem(-92px) px2rem(-556px);
		}
		.icon3 {
			background-position:px2rem(-187px) px2rem(-556px);
		}
		.icon4 {
			background-position:px2rem(-272px) px2rem(-556px);
		}
		.icon5 {
			background-position:px2rem(-363px) px2rem(-556px);
		}
		.item-body {
			padding-top:px2rem(2px);
			font-size:px2rem(24px);
			line-height:px2rem(40px);
			color:#666;
		}
	}
}
.ui-explain {
	.explain-body {
		padding:px2rem(30px) 0px px2rem(28px);
	}
	.explain-list {
		line-height:px2rem(63px);
		padding:0px px2rem(20px) 0px px2rem(55px);
	}
	.explain-item {
		font-size:px2rem(24px);
		color:#666;
		position:relative;
		padding-left:px2rem(30px);
		i{
			position:absolute;
			top:px2rem(24px);
			left:0px;
			width:px2rem(16px);
			height:px2rem(16px);
			border-radius:50%;
			background:#e31d1a;
		}
		a {
			color:#ff2c27;
		}
	}
}
.ui-flayer {
	height:px2rem(80px);
	padding:px2rem(20px) 0px;
	position:fixed;
	width:100%;
	bottom:0px;
	left:0px;
	background:rgba(0,0,0,0.6);
	text-align:center;
	a {
		vertical-align:top;
		display:inline-block;
		height:px2rem(78px);
		line-height:px2rem(78px);
		width:px2rem(218px);
		border:1px solid transparent;
		font-size:px2rem(28px);
		color:#fff;
		margin:0px px2rem(50px);
		border-radius:px2rem(80px);
	}
	.flayer-link1 {
		background:#e31d1a;
		border-color:#e31d1a;
	}
	.flayer-link2 {
		border-color:#fff;
	}
	.flayer-link3 {
		padding:0px px2rem(50px);
	}
}
.ui-bombbox{
	display:none;
	position:fixed;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.6);
	top:0px;
	left:0px;
	.ui-bombbox-bg {
		width:100%;
		height:100%;
	}
	.bombbox-main {
		position:absolute;
		width:px2rem(650px);
		height:px2rem(310px);
		top:50%;
		left:50%;
		margin:px2rem(-155px) 0px 0px px2rem(-325px);
		background-position:left bottom;
		border-radius:px2rem(10px);
		text-align:center;
		color:#fff;
	}
	.bombbox-close {
		width:px2rem(46px);
		height:px2rem(46px);
		background-position:px2rem(-443px) px2rem(-556px);
		position:absolute;
		top:px2rem(30px);
		right:px2rem(30px);
	}
	.bombbox-title {
		font-size:px2rem(36px);
		font-weight:bold;
		padding-top:px2rem(38px);
		line-height:px2rem(58px);
	}
	.bombbox-desc {
		font-size:px2rem(24px);
		line-height:px2rem(64px);
	}
	.bombbox-link {
		padding-top:px2rem(30px);
		a{
			font-size:px2rem(28px);
			color:#fff;
			display:inline-block;
			width:px2rem(196px);
			height:px2rem(76px);
			border:px2rem(2px) solid transparent;
			line-height:px2rem(76px);
			margin:0px px2rem(15px);
			border-radius:px2rem(80px);
		}
		.link1 {
			background:#e31d1a;
			border-color:#e31d1a;
		}
		.link2 {
			border-color:#fff;
		}

	}
}

