@Fcharset "UTF-8";
@import '../base/mobileUtils';
@import '../base/utils';
@import '../base/mreset';
@import '../base/mobileGrid';
@import '../inc/m_ui';

body {
	background:#1b144a;
}
body,html {
	height:100%;
}
.hidden {
	overflow:hidden;
}
.zIndex {
	z-index:-1;
}
main {
	background:#1b144a url("../images/topic/brand1111/mobile/repeatbg.png") repeat-y top center;
	background-size:px2rem(750px) px2rem(1500px);
}
.ui-icon {
	display:block;
	background:url("../images/topic/brand1111/mobile/index_icon.png") no-repeat center top;
	vertical-align:top;
	background-size:px2rem(1000px) px2rem(2715px);
}
.ui-stroke {
	border:px2rem(6px) solid;
	// background:linear-gradient(#ffff4b,#ff29a8);
	border-image: -webkit-linear-gradient( red, blue) 30 30;
	border-image: -moz-linear-gradient( red, blue) 30 30;
	border-image: linear-gradient( red, blue) 30 30;
	border-radius:px2rem(15px);
}
.qt-pt34 {
	padding-top:px2rem(34px);
}
.ui-pinkbg {
	background-color:#ff0e90;
}
.ui-redbg {
	background-color:#ff2c27;
}
.ui-purplebg {
	background-color:#7c13fe;
}
.ui-commonbg {
	margin:0px auto;
	width:px2rem(672px);
	 padding:px2rem(4px);
	position:relative;
	// border:px2rem(6px) solid transparent;
	 background:linear-gradient(#ffff4b,#ff29a8);
	 background:-webkit-linear-gradient(#ffff4b,#ff29a8);
	 border-radius:px2rem(20px);
	// -webkit--webkit-border-image: url(../images/topic/brand1111/mobile/framebg.png) 30 30 stretch;
	//  border-image: url(../images/topic/brand1111/mobile/framebg.png) 30 30 stretch;
	.ui-commonbg-wrap {
		position:relative;
		width:px2rem(658px);
		margin:px2rem(7px);
		background-color:#4a0f6f;
		border-radius:px2rem(10px);
		overflow:hidden;
	}
	.ui-commonbg-wrapcolor {
		background:#4a0f6f;
	}
}
.ui-commonstroke {
	border-radius:px2rem(12px);
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	img {
		width:100%;
		height:100%;
	}
}
.ui-nav {
	width:100%;
	position:relative;
	height:px2rem(96px);
	margin-top:px2rem(-470px);
	.ui-envelope {
		width:100%;
		position:absolute;
		height:px2rem(436px);
		bottom:px2rem(80px);
		left:0px;
		z-index:3;
	}
	.ui-envelope-img {
		width:px2rem(750px);
		margin:0px auto;
		a {
			width:px2rem(400px);
			height:px2rem(330px);
			position:absolute;
			top:px2rem(106px);
			left:px2rem(18px);
			display:block;
		}
		img {
			margin-left:px2rem(-90px);
			height:px2rem(436px);
			vertical-align:top;
		}
	}
	.ui-nav-added {
		height:px2rem(110px);
		display: none;
	}
	.ui-nav-bg {
		position:absolute;
		top:px2rem(7px);
		left:0px;
		width:100%;
		height:px2rem(90px);
		background:#7b19c8;
	}
	.ui-nav-wrap {
		position:relative;
		width:px2rem(750px);
		padding-left:px2rem(23px);
		margin:0px auto;
		-webkit-box-sizing:border-box;
		box-sizing:border-box;
		background:#7b19c8;
		margin-top:px2rem(7px);
		height:px2rem(90px);
	}
	.ui-linear {
		position:absolute;
		z-index:2;
		top:0px;
		right:0px;
		height:px2rem(90px);
		width:px2rem(64px);
		background:-webkit-linear-gradient(left,rgba(123,25,200,0), rgba(123,25,200,1)) ;
		background:linear-gradient(left,rgba(123,25,200,0), rgba(123,25,200,1));

	}
	.nav-list {
		// padding:0px px2rem(23px);
	}
	.nav-item {
		width:px2rem(200px);
		margin-top:px2rem(-7px);
		a {
			display:block;
			text-align:center;
			color:#fff;
			font-size:px2rem(30px);
			line-height:px2rem(90px);
			padding:px2rem(7px) px2rem(7px) px2rem(13px);
		}
	}
	.item-active {
		background:url("../images/topic/brand1111/mobile/index_icon.png") no-repeat;
		background-size:px2rem(1000px) px2rem(2715px);
		background-position:px2rem(-450px) px2rem(-1382px);
	}
}
.ui-relative {
	width:px2rem(750px);
	position:relative;
	height:px2rem(104px);
	overflow:hidden;
	margin:0px auto;
}
.ui-navfixed {
	position:fixed;
	z-index:2;
	top:px2rem(-7px);
	left:50%;
	margin-left:px2rem(-375px);
}
.ui-commonbg-bodybg {
	height:px2rem(20px);
	background-position:0px px2rem(-1322px);
}

.ui-theme {
	position:relative;
	.banner {
		background:url("../images/topic/brand1111/mobile/theme.png") no-repeat center top;
		background-size:contain;
		width:px2rem(750px);
		height:px2rem(976px);
		margin:0px auto;
	}
	.banner2 {
		background:url("../images/topic/brand1111/mobile/theme2.png") no-repeat center top;
		background-size:contain;
	}
}
.ui-commonheader {
	padding-top:px2rem(20px);
	text-align:center;
	.commonheader-tit {
		font-size:px2rem(50px);
		color:#fff;
		line-height:px2rem(96px);
	}
	.ui-icon {
		display:inline-block;
		width:px2rem(106px);
		height:px2rem(40px);
		padding-top:px2rem(30px);
	}
	.commonheader-tit-text{
		padding:0px px2rem(20px);
	}
	.commonheader-tit-left {
		background-position:px2rem(0px) px2rem(-1534px);
	}
	.commonheader-tit-right {
		background-position:px2rem(-344px) px2rem(-1534px);
	}
	.commonheader-body {
		width:px2rem(638px);
		margin:0px auto;
		font-size:px2rem(28px);
		line-height:px2rem(42px);
		padding-bottom:px2rem(22px);
		text-align:center;
		color:#fff;
	}
}
.ui-explosion {
	position:relative;
	.explosion-body {
		padding:px2rem(10px) px2rem(10px) px2rem(50px);
		width:px2rem(658px);
		height:px2rem(730px);
		background-position:px2rem(0px) px2rem(-1692px);
		margin:0px auto;
	}
	.swiper-container-explosion {
		border-radius:px2rem(20px);
		overflow:hidden;
		background:#4a0f6f;
	}
	.explosion-icon {
		width:px2rem(132px);
		height:px2rem(132px);
		position:absolute;
		background-position:px2rem(-698px) px2rem(-1736px);
	}
	.explosion-icon15 {
		background-position:px2rem(-698px) px2rem(-1564px);
	}
	.explosion-countdown {
		position:absolute;
		top:0px;
		right:0px;
		width:px2rem(100px);
		height:px2rem(62px);
		border-radius:0px 0px px2rem(5px) px2rem(5px);
		background:#4a0f6f;
		font-size:px2rem(20px);
		color:#fff;
		line-height:px2rem(22px);
		text-align:center;
		.countdown1 {
			padding-top:px2rem(6px);
			line-height:px2rem(26px);
		}
		.countdown2 {
			font-weight:bold;
		}
	}
	.explosion-item {
		width:px2rem(658px);
		height:px2rem(730px);
		position:relative;
		overflow:hidden;
		border-radius:px2rem(20px);
		.item-title {
			height:px2rem(285px);
			background:#fff;
			.item-img {
				padding-top: px2rem(30px);
				height:px2rem(145px);
				text-align:center;
			}
			.trailer-img{
				padding-top:px2rem(96px);
				img {
					height:px2rem(105px);
				}
			}
			img {
				max-width: px2rem(650px);
        		height: px2rem(145px);
        		vertical-align:top;
			}
			.item-platbg {
				padding-top:px2rem(30px);
				text-align:center;
				span {
					display:inline-block;
					padding:0px px2rem(10px);
					height:px2rem(36px);
					border:1px solid #c8cae4;
					font-size:px2rem(20px);
					line-height:px2rem(36px);
					color:#4a0f6f;
					margin:0px px2rem(5px);
					border-radius:px2rem(5px);
				}
			}
		}
		.body-time {
			width:px2rem(80px);
			height:px2rem(100px);
			border-radius:px2rem(10px);
			background:#fff;
			text-align:center;
			font-size:px2rem(60px);
			font-family:"arial";
			line-height:px2rem(100px);
			color:#4a0f6f
		}
		.body-textdesc{
			font-size:px2rem(20px);
			line-height:px2rem(38px);
			color:#4a0f6f;
			text-align:center;
			padding-bottom:px2rem(47px);
			span {
				display:inline-block;
				padding:0px px2rem(32px);
				border-radius:px2rem(38px);
				background:#fff;
			}
		}
		.trailer-body {
			padding-top:px2rem(118px);
		}
		.body-trailer {
			width:px2rem(638px);
			margin:0px auto;
		}
		.trailer-time {
			margin:0px px2rem(5px);
		}
		.time-symbol {
			width:px2rem(14px);
			height:px2rem(48px);
			margin-top:px2rem(26px);
			background-position:px2rem(-972px) px2rem(-534px);
			padding:0px px2rem(12px);
		}
		.warn-body {
			height:px2rem(200px);
			.body-warn {
				width:px2rem(460px);
				margin:0px auto;
			}
		}
		.warn-text {
			padding:px2rem(40px);
			text-align:center;
		}
		.warn-text-rate {
			font-size:px2rem(70px);
			line-height:px2rem(86px);
			color:#fef238;
			span {
				font-size:px2rem(90px);
				font-weight:bold;
			}
			i{
				display:inline-block;
				padding-top:px2rem(38px);
				font-size:px2rem(36px);
				line-height:px2rem(48px);
				font-weight:bold;
			}
		}
		.warn-text-desc {
			font-size:px2rem(24px);
			line-height:px2rem(40px);
			color:#bfc1d5;
		}
		.warn-time {
			margin-left: px2rem(10px);
			margin-right: px2rem(10px);
		}
		.loan-body {
			width:px2rem(558px);
			margin:0px auto;
			height:px2rem(211px);
		}
		.loan-title {
			width:px2rem(558px);
			height:px2rem(38px);
			line-height:px2rem(38px);
			padding-top:px2rem(36px);
			color:#fff;
		}
		.loan-name {
			width:px2rem(290px);
			padding-left:px2rem(30px);
			font-size:px2rem(30px);
			white-space:nowrap;
			text-overflow:ellipsis;
			overflow:hidden;
		}
		.loan-kaquan {
			width:px2rem(214px);
			height:px2rem(38px);
			font-size:px2rem(20px);
			background:#fff;
			color:#4a0f6f;
			text-align:center;
			border-radius:px2rem(38px);
		}
		.loan-body-rate {
			padding:px2rem(24px) 0px px2rem(34px);
			color:#fff;
			text-align:center;
			color:#fff;
			.rate-left{
				width:px2rem(245px);
			}
			.rate-symbol{
				width:px2rem(66px);
				font-size:px2rem(70px);
				font-weight:bold;
				line-height:px2rem(88px);
			}
			.rate-right {
				width:px2rem(237px);
				color:#ffff16;
			}
			.rate-text {
				font-size:px2rem(90px);
				font-weight:bold;
				line-height:px2rem(88px);
				span{
					font-size:px2rem(36px);
					vertical-align:top;
					margin-top:px2rem(38px);
					line-height:px2rem(48px);
					display:inline-block;
				}
			}
			.rate-desc {
				font-size:px2rem(24px);
				line-height:px2rem(40px);
				color:#bfc1d5
			}
		}
		.loan-body-desc {
			position:relative;
			font-size:px2rem(24px);
			line-height:px2rem(28px);
			color:#bfc1d5;
			padding:0px px2rem(18px);
			.line {
				position:absolute;
				top:0px;
				left:px2rem(227px);
				height:px2rem(28px);
				border-left:1px solid #bfc1d5;
			}
		}
		.loan-footer {
			padding-top:px2rem(42px);
			a {
				display:block;
				height:px2rem(88px);
				border-radius:px2rem(10px);
				background:#ff2c27;
				font-size:px2rem(34px);
				line-height:px2rem(88px);
				color:#fff;
				text-align:center;
			}
			.end {
				background:#ccc;
			}
		}

	}
	.explosion-empty {
		width:100%;
		height:px2rem(730px);
		background:#fff;
	}
	.explosion-empty-img{
	    width: 100%;
	    padding: px2rem(150px) 0;
	    text-align: center;
	    img{
	        width: px2rem(301px);
	        height: px2rem(311px);
	    }
	}
	.explosion-empty-note {
		font-size:px2rem(30px);
		line-height:px2rem(60px);
		text-align:center;
	}
	.swiper-pagination {
		position:absolute;
		bottom:0px;
		height:px2rem(10px);
		width:px2rem(658px);
		text-align:center;
		left:50%;
		margin-left:px2rem(-329px);
		z-index:1;
		span {
			width:px2rem(48px);
			height:px2rem(8px);
			border:px2rem(1px) solid #fff;
			background:#transparent;
			border-radius:px2rem(10px);
			margin:0px px2rem(7px);
			opacity:1;
			vertical-align:top;
		}
		.swiper-pagination-bullet-active {
			background:#fff;
		}
	}

}
.ui-privilege {
	color:#fff;
	.color {
		color:#ffff16;
	}
	.privilege-common {
		// width:px2rem(658px);
		//height:px2rem(620px);
		padding:px2rem(7px);
		margin:0px auto;
		text-align:center;
		position:relative;
		a {
			display:inline-block;
			height:px2rem(88px);
			text-align:center;
			font-size:px2rem(34px);
			line-height:px2rem(88px);
			border-radius:px2rem(10px);
			color:#fff;
		}

	}
	.qt-mb60 {
		margin-bottom:px2rem(60px);
	}
	.ui-strokebg {
		background-position:px2rem(0px) px2rem(-653px);
		height:px2rem(620px);
	}
	.privilege-common-logo {
		position:absolute;
		top:px2rem(0px);
		left:px2rem(0px);
		width:px2rem(170px);
		height:px2rem(170px);
		font-weight:bold;
	}
	.logo-community {
		background-position:px2rem(-698px) px2rem(0px);
	}
	.logo-accounting {
		background-position:px2rem(-698px) px2rem(-534px);
	}
	.logo-platform {
		background-position:px2rem(-698px) px2rem(-954px);
	}
	.privilege-common-img {
		display:inline-block;
	}
	.img-community {
		width:px2rem(320px);
		height:px2rem(304px);
		margin-top:px2rem(34px);
		background-position:px2rem(-698px) px2rem(-190px);
	}
	.img-vote{
		width:px2rem(264px);
		height:px2rem(310px);
		margin-top:px2rem(10px);
		background-position:px2rem(-700px) px2rem(-2135px);
	}
	.img-accounting {
		width:px2rem(185px);
		height:px2rem(185px);
		margin-top:px2rem(30px);
		background-position:px2rem(-698px) px2rem(-744px);
	}
	.img-platform {
		width:px2rem(264px);
		height:px2rem(344px);
		margin-top:px2rem(20px);
		background-position:px2rem(-698px) px2rem(-1164px);
	}
	.privilege-common-tit {
		padding-top:px2rem(38px);
		font-size:px2rem(50px);
		line-height:px2rem(72px);
		font-weight:bold;
	}
	.privilege-common-desc {
		font-size:px2rem(24px);
		line-height:px2rem(60px);
	}
	.privilege-common-link {
		position:absolute;
		bottom:px2rem(60px);
		width:100%;
		a {
			width:px2rem(340px);
		}
	}
	.ui-interest {
		.interest-tit {
			padding:px2rem(42px) 0 px2rem(28px);
			font-size:px2rem(50px);
			line-height:px2rem(66px);
		}
		.body-text {
			font-size:px2rem(90px);
			line-height:px2rem(128px);
			font-weight:bold;
			span {
				font-size:px2rem(36px);
			}
		}
		.body-desc {
			padding:0px px2rem(26px);
			display:inline-block;
			border-radius:px2rem(66px);
			line-height:px2rem(66px);
			border:px2rem(2px) solid #ffff16;
			background:#3f0a61;
			font-size:px2rem(24px);
		}
		.interest-link {
			padding-top:px2rem(68px);
			a {
				margin:0px px2rem(18px);
				width:px2rem(260px);
			}
		}
	}
}
.ui-investment {
	.investment-list{
		width:px2rem(638px);
		margin:0px auto;
	}
	.investment-item {
		background:#40085d;
		width:px2rem(212px);
		height:px2rem(180px);
		padding:px2rem(10px) 0px 0px;
 		text-align:center;
 		&:nth-of-type(3n+1) {
 			border-radius:px2rem(8px) 0px 0px px2rem(8px);
 		}
 		&:nth-of-type(3n) {
 			border-radius:0px px2rem(8px)  px2rem(8px) 0px;
 		}
 		&:last-of-type {
 			border-radius:px2rem(8px);
 		}
 	}
 	.investment-icon {
		position:absolute;
		width:px2rem(52px);
		height:px2rem(52px);
		top:0px;
		left:0px;
		background-position:right top;
 	}
 	.investment-link {
		width:px2rem(195px);
		display:inline-block;
		position:relative;
		img {
			width:px2rem(195px);
			height:px2rem(120px);
			border-radius:px2rem(4px);
			overflow:hidden;
			background:#fff;
		}
		.text {
			display:block;
			height:px2rem(60px);
			overflow:hidden;
			text-overflow:ellipsis;
			white-space:nowrap;
			font-size:px2rem(22px);
			color:#fff;
			line-height:px2rem(60px);
			width:px2rem(195px);
		}
	}
	.qt-mt-10 {
		margin-top:px2rem(-10px);
	}
}
.ui-luckdraw {
	padding-top:px2rem(34px);
	.luckdraw-winningroll {
		width:px2rem(708px);
		height:px2rem(54px);
		overflow:hidden;
		background:#9618ef;
		margin:px2rem(-7px) auto px2rem(20px);
		border-radius:px2rem(5px);
	}
	.winningroll-item {
		font-size:px2rem(20px);
		color:#fff;
		line-height:px2rem(54px);
		padding-left:px2rem(20px);
		height:px2rem(54px);
		text-overflow:ellipsis;
		overflow:hidden;
		white-space:nowrap;
		width:px2rem(326px);
		.text {
			padding:0px px2rem(20px);
		}
	}
	.luckdraw-prize {
		width:px2rem(718px);
		margin:0px auto;
		.luckdraw-prize-lump {
			width:px2rem(672px);
			height:px2rem(672px);
			padding:px2rem(23px);
			background:url("../images/topic/brand1111/mobile/prizelist.png") no-repeat left top;
			background-size:px2rem(1500px) px2rem(740px);
			position:relative;
		}
		.luckdraw-prize-lumpflashing{
			background-position:top right;
		}
		.luckdraw-prize-body {
			position:relative;
			padding:px2rem(5px);
			width:px2rem(660px);
			margin:0px auto;
		}
		.prize-list {
			height:px2rem(662px);
			overflow:hidden;
			background:#2e0745;
		}
		.prize-item {
			width:px2rem(155px);
			height:px2rem(155px);
			border:px2rem(5px) solid #2e0745;
			background:#fff;
			text-align:center;
			&:nth-of-type(9){
				margin-right:px2rem(330px);
			}
		}
		.prize-itemactive {
			border-color:#ff0e90;
		}
		.prize-img {
			height:px2rem(106px);
    		margin: 0 auto;
    		padding-top: px2rem(10px);
    		img {
    			height:px2rem(106px);
    			line-height:px2rem(106px);
    		}
		}
		.prize-name {
			font-size:px2rem(20px);
			line-height:px2rem(38px);
			height:px2rem(38px);
			overflow:hidden;
			text-overflow:ellipsis;
			white-space:nowrap;
			color:#333;
			padding:0px px2rem(10px);
		}
		.prize-btn {
			position:absolute;
			top:px2rem(340px);
			left:px2rem(175px);
			width:px2rem(320px);
		}
		.prize-btn-link {
			background-position:px2rem(0px) px2rem(-1382px);
			width:px2rem(320px);
			height:px2rem(112px);
		}
		.prize-btn-text {
			font-size:px2rem(28px);
			line-height:px2rem(53px);
			text-align:center;
			color:#fff;
			span {
				font-size:px2rem(30px);
				color:#ffff16;
				font-weight:bold;
			}
		}
	}
	.prize-change {
		padding-top:px2rem(26px);
		text-align:center;
	}
	.prize-change-link {
		display:inline-block;
		width:px2rem(700px);
		height:px2rem(88px);
		background:#ff2c27;
		font-size:px2rem(34px);
		line-height:px2rem(88px);
		color:#fff;
		border-radius:px2rem(10px);
	}
	.prize-change-text {
		padding-top:px2rem(30px);
		font-size:px2rem(24px);
		line-height:px2rem(22px);
		color:#999;
	}
}
.ui-coupons {
	.coupons-list {
		width:px2rem(638px);
		margin:0px auto;
		padding-top:px2rem(2px);
		border-radius:px2rem(10px);
		overflow:hidden;
	}
	.coupons-item{
		background:#40085d;
		width:px2rem(212px);
		text-align:center;
		padding:px2rem(8px) 0px px2rem(10px);
	}
	.coupons-item-link{
		display:inline-block;
		width:px2rem(195px);
		height:px2rem(120px);border-radius:px2rem(6px);
		overflow:hidden;
		background:#fff;
		text-align:center;
		line-height:px2rem(120px);
		img {
			max-width:px2rem(195px);
			height:px2rem(120px);
			border-radius:px2rem(6px);
		}
	}

}
.ui-rule {
	.ui-commonheader {
		padding-bottom:px2rem(4px);
	}
	.rule-list {
		padding:0px px2rem(30px) ;
	}
	.rule-item {
		padding:px2rem(22px) 0px;
		border-bottom:px2rem(2px) dashed #999;
		font-size:px2rem(28px);
		line-height:px2rem(42px);
		color:#fff;
		a {
			color:#ff2c27;
		}
		&:last-of-type{
			border:none;
		}
	}
}
//弹层
.ui-layer {
	display:none;
	position:fixed;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.7);
	top:0px;
	left:0px;
	z-index:10;
	.ui-layer-bg {
		width:100%;
		height:100%;
	}
}
.ui-layericon {
	background:url('../images/topic/brand1111/mobile/bombbg.png') no-repeat top center;
	background-size:px2rem(650px) px2rem(1647px);
}
.ui-layer-common {
	position:absolute;
	top:50%;
	left:50%;
	color:#fff;
	width:px2rem(650px);
	margin-left:px2rem(-325px);
	.ui-link{
		display:inline-block;
		height:px2rem(78px);
		font-size:px2rem(28px);
		color:#fff;
		line-height:px2rem(76px);
		border:px2rem(2px) solid transparent;
		padding:0px px2rem(38px);
		margin:0px px2rem(15px);
		border-radius:px2rem(78px);
	}
	.link1 {
		background:#ff0ec3;
		border-color:#ff0ec3;
	}
	.link2 {
		background:transparent;
		border-color:#fff;
	}
}
.ui-layer-close {
	display:block;
	position:absolute;
	width:px2rem(47px);
	height:px2rem(47px);
	top:px2rem(-47px);
	right:px2rem(-47px);
	background-position:px2rem(0px) px2rem(-643px);
}
.ui-layerrule {
	height:px2rem(888px);
	background-position:px2rem(0px) px2rem(-758px);
	margin-top:px2rem(-444px);
	background-color:#4a0f6f;
	border-radius:px2rem(10px);
	.layerrule-title {
		padding-bottom:px2rem(6px);
		font-size:px2rem(36px);
		line-height:px2rem(94px);
		text-align:center;
		font-weight:bold;
	}
	.layerrule-body	{
		width:px2rem(610px);
		height:px2rem(698px);
		background:#360555;
		overflow-y:scroll;
		margin:0px auto;
		border-radius:px2rem(10px);
	}
	.layerrule-list {
		margin-top:px2rem(-16px);
		padding:0px px2rem(38px) px2rem(20px) px2rem(20px);

	}
	.layerrule-item{
		padding-top:px2rem(20px);
		.item-tit {
			font-size:px2rem(30px);
			line-height:px2rem(62px);
			color:#ffea34;
			font-weight:bold;

		}
		.item-text {
			font-size:px2rem(24px);
			line-height:px2rem(35px);
		}
		.item-link {
			padding-top:px2rem(14px);
			text-align:left;
		}
		.ui-link {
			margin:0px px2rem(30px) 0px 0px;
		}
	}
}
.ui-layerprize {
	height:px2rem(587px);
	margin-top:px2rem(-293.5px);
	color:#fff;
	.layerprize-wrap {
		text-align:center;
	}
	.layerprize-img {
		padding-top:px2rem(60px);
		height:px2rem(216px);
		img{
			height:px2rem(216px);
			border-radius:px2rem(10px);
			overflow:hidden;
		}
	}
	.layerprize-name {
		font-size:px2rem(36px);
		line-height:px2rem(96px);
		span {
			color:#ffea34;
		}
	}
	.layerprize-link {
		padding-top:px2rem(10px);
	}
	.layerprize-desc {
		font-size:px2rem(24px);
		line-height:px2rem(104px);
		color:#999;
	}
}
.ui-redpacket {
	display:block;
	position:fixed;
	bottom:px2rem(50px);
	right:0px;
	width:px2rem(170px);
	height:px2rem(112px);
	background-position:px2rem(-698px) px2rem(-1923px);
	z-index:5;
}
.ui-redpacketstart {
	text-align:center;
	.redpacketstart-wrap {
		position:absolute;
		left:50%;
		top:50%;
		width:px2rem(650px);
		height:px2rem(800px);
		margin:px2rem(-400px) 0px 0px px2rem(-325px);
		background:#1b144a url("../images/topic/brand1111/mobile/redbg.png") repeat-y top center;
		background-size:px2rem(650px) px2rem(800px);
	}
	.redpacketstart-title {
		padding-top:px2rem(455px);
		font-size:px2rem(40px);
		line-height:px2rem(82px);
		font-weight:bold;
		color:#ffea34;
	}
	.redpacketstart-body {
		font-size:px2rem(24px);
		line-height:px2rem(36px);
		color:#fff;

	}
	.redpacketstart-link{
		padding-top:px2rem(42px);
		a {
			display:inline-block;
			height:px2rem(76px);
			border:px2rem(2px) solid transparent;
			line-height:px2rem(76px);
			border-radius:px2rem(80px);
			padding:0px px2rem(46px);
			margin:0px px2rem(15px);
			color:#fff;
		}
		.link1 {
			background:#ff2c27;
			border-color:#ff2c27;
		}
		.link2 {
			border-color:#fff;
		}
	}
}
footer {
	font-size:px2rem(24px);
	line-height:px2rem(106px);
	color:#67657d;
	text-align:center;

}