@charset "UTF-8";
@import '../base/mobileUtils';
@import '../base/utils'; 
@import '../base/mreset';
@import '../base/mobileGrid';

html,body{
	background-color: #fff;
}
.ui-logobox{
	padding-top: px2rem(90px);
	padding-bottom: px2rem(60px);
}
.ui-logo-double11{
	width: px2rem(187px);
	height: px2rem(174px);
	margin: 0 auto;
	background: url(/styles/images/topic/double/mobile/logo-double11.png) 0 0 no-repeat;
	background-size: px2rem(187px) px2rem(174px);
}
.qt-w750{
	width: px2rem(750px);
	margin: 0 auto;
}
.ui-fcode{
	padding-top: px2rem(50px);
	padding-right: px2rem(30px);
	padding-left: px2rem(30px);
}
.ui-fcode-list{
	height: px2rem(90px);
	padding-bottom: px2rem(50px);
}
.ui-fcode-list-text{
	width: 100%;
	height: px2rem(90px);
	line-height: px2rem(90px);
	text-indent: px2rem(32px);
	font-size: px2rem(30px);
	color: #333;
	border: none;
	background-color: #f0f0f0;
}
.ui-fcode-list-text::-webkit-input-placeholder{  /* WebKit browsers*/ 
	color: #c6c6c6;
}
.ui-fcode-list-text:-moz-placeholder{ /* Mozilla Firefox 4 to 18 */
	color: #c6c6c6;
}
.ui-fcode-list-text::-moz-placeholder{ /* Mozilla Firefox 19+ */
	color: #c6c6c6;
}
.ui-fcode-list-text::-ms-input-placeholder{ /* Internet Explorer 10+*/ 
	color: #c6c6c6;
}
.ui-fcode-list-btn{
	width: 100%;
	height: px2rem(90px);
	line-height: px2rem(90px);
	text-indent: px2rem(32px);
	font-size: px2rem(30px);
	color: #fff;
	background-color: #fe9833;
	text-align: center;
	border: none;
	border-radius: px2rem(5px);
}
.ui-result{
	width: px2rem(520px);
	height: px2rem(620px);
	background-color: #fff;
	border-radius: px2rem(5px);
	display: none;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: px2rem(-250px); 
	margin-top: px2rem(-310px);
	z-index: 100; 
}
.ui-result-box{
	padding-left: px2rem(40px);
	padding-right: px2rem(40px);
}
.ui-result-succeed{
	.ui-result-iconbox{
		padding-top: px2rem(108px);
		padding-bottom: px2rem(20px);
	}
	.ui-result-inner{
		height: px2rem(54px);
	}
}
.ui-result-succeed-icon{
	width: px2rem(154px);
	height: px2rem(198px);
	margin: 0 auto;
	background: url(/styles/images/topic/double/mobile/ui-result-succeed-icon.png) 0 0 no-repeat;
	background-size: px2rem(154px) px2rem(198px);
}
.ui-result-fail{
	.ui-result-iconbox{
		padding-top: px2rem(118px);
		padding-bottom: px2rem(45px);
	}
	.ui-result-inner{
		height: px2rem(64px);
	}
}
.ui-result-fail-icon{
	width: px2rem(154px);
	height: px2rem(154px);
	margin: 0 auto;
	background: url(/styles/images/topic/double/mobile/ui-result-fail-icon.png) 0 0 no-repeat;
	background-size: px2rem(154px) px2rem(154px);
}
.ui-result-title{
	height: px2rem(75px);
	line-height: px2rem(75px);
	font-size: px2rem(30px);
	color: #333;
	text-align: center;
	@include text-ellipsis;
	font-weight: bold;
}
.ui-result-inner{
	line-height: px2rem(32px);
	font-size: px2rem(24px);
	color: #909baa;
	text-align: center;
}
.ui-color{
	color: #ff1212;
	padding-left: px2rem(10px);
	padding-right: px2rem(10px);
}
.ui-result-btnbox{
	padding-top: px2rem(42px);
}
.ui-result-btn{
	display: block;
	margin: 0 auto;
	width: px2rem(440px);
	height: px2rem(84px);
	line-height: px2rem(84px);
	text-align: center;
	font-size: px2rem(30px); 
	background-color: #fe9833;
    color: #fff;
    border-radius: px2rem(5px);
}
.mask-layer {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.45;
  filter: alpha(opacity=45);
  -ms-filter: alpha(opacity=45);
  z-index: 99
}
.prompt-message{
  padding-top:px2rem(10px);
  padding-right:px2rem(40px);
  padding-bottom:px2rem(10px);
  padding-left:px2rem(40px);
  background:rgba(0,0,0,0.5);
  color:#fff;
  font-size:px2rem(24px);
  line-height:px2rem(60px);
  position:fixed;
  left:50%;
  top:50%;
  z-index:100;
  border-radius:px2rem(10px);
  display:none;
}





