@Fcharset "UTF-8";
@import '../base/mobileUtils';
@import '../base/utils'; 
@import '../base/mreset';
@import '../base/mobileGrid';
@import '../inc/m_ui';
@import '../inc/footer-mobile';

html, body {
    position: relative;
    height: 100%;
}

.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    position: relative;
    background: #202123 url(/styles/images/topic/brand1018/mobile/banner.png) no-repeat 0 0;
    background-size: cover;
}
.swiper-pagination-bullet{
    background: transparent;
}
.ui-brand-list{
    position: relative;
    text-align: center;
    background: #202123 url(/styles/images/topic/brand1018/mobile/background.png) no-repeat 0 0;
    background-size: cover;
}
.ui-banner{
    width: 100%;
    margin: 0 auto;
}
.ui-brand-list-item{
    position: relative;
    margin: px2rem(160px) auto 0;
    width: px2rem(598px);
    height: px2rem(780px);
    border-radius: px2rem(10px);
    overflow: hidden;
    background-color: #fff;
}
.ui-brand-title{
    height: px2rem(84px);
    line-height: px2rem(84px);
    font-size: px2rem(34px);
    color: #fff; 
}
.ui-brand-note{
    padding-top: px2rem(30px);
    color: #333;
    font-size: px2rem(38px);
    font-weight: bold;
    line-height: px2rem(60px);
    strong{
        color: #e83030;
    }
}
.ui-brand-descripe{
    color: #333;
    font-size: px2rem(30px);
    line-height: px2rem(75px);
    padding-bottom: px2rem(5px);
    span{
        color: #e83030;
    }
}
.ui-brand-icons-first{
    margin: px2rem(44px) auto px2rem(70px);
    width: px2rem(200px);
    height: px2rem(242px);
    background: url(/styles/images/topic/brand1018/mobile/logo.png) no-repeat px2rem(17px) 0;
    background-size: px2rem(200px) px2rem(1100px);
}
.ui-brand-icons-second{
    margin: px2rem(65px) auto px2rem(70px);
    width: px2rem(200px);
    height: px2rem(242px);
    background: url(/styles/images/topic/brand1018/mobile/logo.png) no-repeat px2rem(8px) px2rem(-250px);
    background-size: px2rem(200px) px2rem(1100px);
}
.ui-brand-icons-third{
    margin: px2rem(44px) auto px2rem(75px);
    width: px2rem(200px);
    height: px2rem(242px);
    background: url(/styles/images/topic/brand1018/mobile/logo.png) no-repeat px2rem(20px) px2rem(-500px);
    background-size: px2rem(200px) px2rem(1100px);
}
.ui-brand-icons-fourth{
    margin: px2rem(44px) auto px2rem(70px);
    width: px2rem(200px);
    height: px2rem(242px);
    background: url(/styles/images/topic/brand1018/mobile/logo.png) no-repeat px2rem(13px) px2rem(-750px);
    background-size: px2rem(200px) px2rem(1100px);
}
.ui-brand-button{
    display: block;
    margin: 0 auto;
    width: px2rem(300px);
    height: px2rem(90px);
    line-height: px2rem(90px);
    border-radius: px2rem(10px);
    color: #fff;
    font-size: px2rem(36px);
}
.ui-nextmore{
    position: absolute;
    bottom: px2rem(55px);
    left: 50%;
    margin-left: px2rem(-70px);
    width: px2rem(140px);
    text-align: center;
}
.ui-nextmore-icons{
    margin: 0 auto;
    width: px2rem(75px);
    height: px2rem(62px);
    background: url(/styles/images/topic/brand1018/mobile/logo.png) no-repeat 0 px2rem(-1000px);
    background-size: px2rem(200px) px2rem(1100px);
}
.ui-nextmore-icons-last{
    margin: 0 auto;
    width: px2rem(75px);
    height: px2rem(62px);
    background: url(/styles/images/topic/brand1018/mobile/logo.png) no-repeat px2rem(-131px) px2rem(-1000px);
    background-size: px2rem(200px) px2rem(1100px);
}
.ui-nextmore-text{
    padding-top: px2rem(20px);
    line-height: px2rem(30px);
    font-size: px2rem(30px);
    color: #fff;
}
.ui-brand-list-red{
    .ui-brand-title{
        background-color: #e83030;
    }
    .ui-brand-button{
        background-color: #e83030;
    }
}
.ui-brand-list-orange{
    .ui-brand-title{
        background-color: #fe9418;
    }
    .ui-brand-button{
        background-color: #fe9418;
    }
}
@-webkit-keyframes slideInDown {
    25% {
        -webkit-transform: translateY(-10px);
    }
    50%, 100% {
        -webkit-transform: translateY(0);
    }
    75% {
        -webkit-transform: translateY(10px);
    }
}
@-moz-keyframes slideInDown {
    25% {
        -webkit-transform: translateY(-10px);
    }
    50%, 100% {
        -webkit-transform: translateY(0);
    }
    75% {
        -webkit-transform: translateY(10px);
    }
}
@-ms-keyframes slideInDown {
    25% {
        -webkit-transform: translateY(-10px);
    }
    50%, 100% {
        -webkit-transform: translateY(0);
    }
    75% {
        -webkit-transform: translateY(10px);
    }
}
@-o-keyframes slideInDown {
    25% {
        -webkit-transform: translateY(-10px);
    }
    50%, 100% {
        -webkit-transform: translateY(0);
    }
    75% {
        -webkit-transform: translateY(10px);
    }
}
@keyframes slideInDown {
    25% {
        -webkit-transform: translateY(-10px);
    }
    50%, 100% {
        -webkit-transform: translateY(0);
    }
    75% {
        -webkit-transform: translateY(10px);
    }
}
.ui-animated-infinite-slidemove{
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}
@keyframes iphone{
  0% {
    transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);
    -moz-transform:rotate(-90deg);
    -o-transform:rotate(-90deg);
  }25%{
    transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -o-transform:rotate(0deg);
  }50%{
    transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -o-transform:rotate(0deg);
  }75%{
    transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);
    -moz-transform:rotate(-90deg);
    -o-transform:rotate(-90deg);
  }100%{
    transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);
    -moz-transform:rotate(-90deg);
    -o-transform:rotate(-90deg);
  }
}



.ui-hengping{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 300;
  background-color: #000;
  
  .content{
    position: absolute;
    top: 50%;
    left:50%;
    width: 100%;
    height: px2rem(230px);
    margin-left: -50%;
    margin-top: px2rem(-115px);
    text-align: center;
    line-height: 1.5rem;
    .img{
      width: px2rem(150px);
    }
    .text{
      text-align: center;
      font-size: .3rem;
      color: #fff;
      white-space: nowrap;
      overflow: visible;
    }
  }
}

.hengpingAnimate{
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  animation: iphone 1.6s ease-in infinite
}