@Fcharset "UTF-8";
@import '../base/mobileUtils';
@import '../base/utils'; 
@import '../base/mreset';
@import '../base/mobileGrid';
@import '../mod/dialog'; 
@import '../inc/m_ui';
@import '../inc/footer-mobile';

body{
    background: #115e4c url(/styles/images/topic/financial/mobile/welfare.png) no-repeat center top;
    background-size: px2rem(750px) px2rem(570px);
    padding-top: px2rem(30px);
}
.ui-section{
    width: px2rem(750px);
    margin: 0 auto;
}
.ui-banner{
    height: px2rem(330px);
}
.ui-total{
    padding: px2rem(25px);
    height: px2rem(160px);
    text-align: center;
}
.ui-total-number{
    font-size: px2rem(78px);
    color: #317b05;
    font-weight: bold;
}
.ui-total-note{
    font-size: px2rem(20px);
    color: #0b4537;
    font-weight: bold;
}
.ui-welfare-title{
    padding-top: px2rem(35px);
    font-size: px2rem(30px);
    color: #7ec2b3;
    text-align: center;
}
.ui-icon-welfare{
    //display: inline-block;
    display: none;
    width: px2rem(65px);
    height: px2rem(64px);
    line-height: px2rem(60px);
    background: url(/styles/images/topic/financial/mobile/icons.png) no-repeat 0 px2rem(-119px);
    background-size: px2rem(400px) px2rem(400px);
    vertical-align: middle;

}
.ui-welfare-content{
    font-size: px2rem(20px);
    color: #7ec2b3;
    line-height: px2rem(36px);
    padding: 0 px2rem(35px);
    a{
        font-size: px2rem(20px);
        color: #fff116;
    }
}
.ui-welfare-btn{
    text-align: center;
    a{
        display: inline-block;
        margin-top: px2rem(50px);
        width: px2rem(293px);
        height: px2rem(87px);
        line-height: px2rem(77px);
        color: #fff;
        font-size: px2rem(30px);
        text-align: center;
        background: url(/styles/images/topic/financial/mobile/icons.png) no-repeat px2rem(-106px) px2rem(-119px);
        background-size: px2rem(400px) px2rem(400px);
    }
  
}   
.ui-welfare-list{
    padding: 0 px2rem(15px) px2rem(90px);
}
.ui-welfare-list-item{   
    float: left;
    margin: px2rem(20px) px2rem(20px) 0; 
    background-color: rgba(255,255,255,0.21);
    padding: px2rem(5px);
    border-radius: px2rem(10px);
    width: px2rem(189px); 
    height: px2rem(111px);
    overflow: hidden;
    
    span{
        display: table-cell;
        width: px2rem(189px); 
        height: px2rem(111px);
        text-align: center;
        vertical-align: middle;
        background-color: #fff;
        border-radius: px2rem(10px);
        overflow: hidden;
    }
    img{
        max-width: px2rem(189px);
        max-height:  px2rem(111px);
        border-radius: px2rem(5px);
        background-color: #fff;
    }
}

.ui-welfare-pic{
    width: px2rem(700px);
    height: px2rem(395px);
    margin: 0 auto;
    overflow: hidden;
}
.ui-welfare-pic-item{
    width: px2rem(700px);
    height: px2rem(395px);
    display: table-cell;
    text-align: center;
    img{
        width: px2rem(700px);
        vertical-align: middle;
    }
}
.bx-wrapper{
    position: relative;
    margin: px2rem(20px) 0;
}
.bx-has-pager{
    position: absolute;
    bottom: px2rem(20px);
    right: px2rem(20px);
}
.bx-pager-item{
    float: left;
    margin-right: px2rem(20px);
    .active{
        background-color: #115e4c;
    }
}
.bx-pager-link{
    display: block;
    width: px2rem(15px);
    height: px2rem(15px);
    text-indent: px2rem(10000px);
    overflow: hidden;
    border-radius: px2rem(10px);
    background-color: rgba(255,255,255,0.5);
}







