@Fcharset "UTF-8";
@import '../base/mobileUtils';
@import '../base/utils'; 
@import '../base/mreset';
@import '../base/mobileGrid';
@import '../mod/dialog'; 
@import '../inc/m_ui';
@import '../inc/footer-mobile';

body{
    background: #f77400 url(/styles/images/topic/financial/mobile/banner.png) no-repeat center top;
    background-size: px2rem(750px) px2rem(416px);
}
.ui-section{
    width: px2rem(750px);
    margin: 0 auto;
}
.ui-banner{
    height: px2rem(350px);
}
.ui-bill{
    float: left;
    margin-left: px2rem(30px);
    background: #259fd8 url(/styles/images/topic/financial/mobile/bg_bill.png) no-repeat px2rem(211px) px2rem(112px);
    background-size: px2rem(109px) px2rem(43px);
}
.ui-public{
    float: right;
    margin-right: px2rem(30px);
    background: #5caa3f url(/styles/images/topic/financial/mobile/bg_public.png) no-repeat right bottom;
    background-size: px2rem(205px) px2rem(103px);
}
.ui-financial{
    width: px2rem(282px);
    height: px2rem(155px);
    padding: px2rem(10px) px2rem(24px) 0;
}
.ui-financial-title{
    display: inline;
    padding: 0 0 px2rem(10px);
    font-size: px2rem(24px);
    font-weight: bold;
    color: #fff;
    line-height: px2rem(35px);
    border-bottom: 1px solid #fff;
}
.ui-financial-note{
    height: px2rem(50px);
    line-height: px2rem(50px);
    font-size: px2rem(20px);
    color: #fee300;
}
.ui-bill-btn{
    display: block;
    background-color: #1a84b5;
    width: px2rem(136px);
    height: px2rem(34px);
    line-height: px2rem(34px);
    text-align: center;
    color: #fff;
    font-size: px2rem(20px);
    border-radius: px2rem(18px);
}
.ui-public-btn{
    display: block;
    background-color: #3c7d25;
    width: px2rem(136px);
    height: px2rem(34px);
    line-height: px2rem(34px);
    text-align: center;
    color: #fff;
    font-size: px2rem(20px);
    border-radius: px2rem(18px);
}
.ui-ranking{
    
}
.ui-icons-ranking{
    display: inline-block;
}
.ui-ranking-title{
    font-size: px2rem(48px);
    color: #fff;
    text-align: center;
}
.ui-ranking-note{
    margin: px2rem(15px) px2rem(40px);
    font-size: px2rem(20px);
    color: #fff;
    line-height: px2rem(30px);
}
.ui-ranking-btn{
    display: block;
    margin: 0 auto;
    width: px2rem(232px);
    height: px2rem(61px);
    line-height: px2rem(61px);
    background-color: #ffce00;
    box-shadow: 0 px2rem(7px) 0 #9e4910;
    border-radius: px2rem(8px);
    font-size: px2rem(30px);
    color: #9e4910;
    text-align: center;
    font-weight: 500;
}
.ui-invite{
    width: px2rem(686px);
    margin: 0 auto;
    padding: px2rem(10px) 0;
}
.ui-invite-title{
    float: left;
    padding-top: px2rem(25px);
    width: px2rem(216px);
    height: px2rem(83px);
    margin: px2rem(25px) px2rem(6px) 0;
    background: url(/styles/images/topic/financial/mobile/bg_invite_title.png) no-repeat 0 0;
    background-size: px2rem(216px) px2rem(108px);
}
.ui-invite-item{
    float: left;
    padding-left: px2rem(35px);
    padding-top: px2rem(25px);
    width: px2rem(181px);
    height: px2rem(83px);
    text-align: center; 
    color: #fff;
    margin: px2rem(25px) px2rem(6px) 0;
    background: url(/styles/images/topic/financial/mobile/bg_invite1.png) no-repeat 0 0;
    background-size: px2rem(216px) px2rem(108px);
}
.ui-font14{
    font-size: px2rem(14px);
    line-height: px2rem(25px);
}
.ui-font25{
    font-size: px2rem(25px);
}
.ui-font28{
    font-size: px2rem(28px);
}
.ui-font32{
    font-size: px2rem(32px);
}
.ui-invite-note{
    width: px2rem(674px);
    margin: 0 auto;    
    padding: px2rem(10px) 0 px2rem(30px);
    font-size: px2rem(24px);
    color: #fff;
}
.ui-order{
    font-size: px2rem(26px);
    color: #333;
    width: px2rem(659px);
    margin: 0 auto;
    text-align: center;
    padding-bottom: px2rem(40px);
}
.ui-order-invite{
    background: url(/styles/images/topic/financial/mobile/bg_invite_list.png) no-repeat 0 0;
    background-size: px2rem(660px) px2rem(1120px);
}
.ui-order-loan{
    background: url(/styles/images/topic/financial/mobile/bg_loan_list.png) no-repeat 0 0;
    background-size: px2rem(660px) px2rem(1120px);
}
.ui-order-title{
    padding-top: px2rem(20px);
    padding-bottom: px2rem(12px);
    height: px2rem(50px);
    line-height: px2rem(50px);
    font-size: px2rem(30px);
    color: #92490c;
}
.ui-order-list{
    //margin-top: px2rem(20px);
    line-height: px2rem(80px);
    color: #333;
    text-align: center;
}
.ui-order-list-title{
    margin: 0 px2rem(46px) 0 px2rem(42px);
    padding: 0 px2rem(24px);
    background-color: #fff5e4;
    .ui-order-number{
        color: #333;
    }
}
.ui-order-list-item{
    margin: 0 px2rem(46px) 0 px2rem(42px);
    padding-left: px2rem(48px);
}
.ui-order-list-item:nth-child(even){
    background-color: #f6f6f6;
}
.ui-order-name{
    float: left;
    width: px2rem(280px);
}
.ui-order-number{
    float: right;
    width: px2rem(180px);
    color: #ff2b5e;
}
.ui-icons-first{
    float: left;
    font-size: px2rem(26px);
    color: #fff;
    margin-top: px2rem(16px);
    margin-right: px2rem(12px);
    width: px2rem(48px);
    height: px2rem(43px);
    line-height: px2rem(60px);
    background: url(/styles/images/topic/financial/mobile/icons.png) no-repeat px2rem(-48px) 0;
    background-size: px2rem(400px) px2rem(400px);
}
.ui-icons-second{
    float: left;
    font-size: px2rem(26px);
    color: #fff;
    margin-top: px2rem(16px);
    margin-right: px2rem(12px);
    width: px2rem(48px);
    height: px2rem(43px);
    line-height: px2rem(60px);
    background: url(/styles/images/topic/financial/mobile/icons.png) no-repeat px2rem(-108px) 0;
    background-size: px2rem(400px) px2rem(400px);
}
.ui-icons-third{
    float: left;
    font-size: px2rem(26px);
    color: #fff;
    margin-top: px2rem(16px);
    margin-right: px2rem(12px);
    width: px2rem(48px);
    height: px2rem(43px);
    line-height: px2rem(60px);
    background: url(/styles/images/topic/financial/mobile/icons.png) no-repeat px2rem(-168px) 0;
    background-size: px2rem(400px) px2rem(400px);
}
.ui-icons-mine{
    float: left;
    font-size: px2rem(26px);
    color: #fff;
    margin-top: px2rem(30px);
    margin-right: px2rem(12px);
    width: px2rem(48px);
    height: px2rem(33px);
    line-height: px2rem(56px);
    background: url(/styles/images/topic/financial/mobile/icons.png) no-repeat px2rem(-218px) 0;
    background-size: px2rem(400px) px2rem(400px);
}
.ui-order-line{
    float: left;
    margin-right: px2rem(12px);
    width: px2rem(48px);
    line-height: px2rem(83px);
    text-align: center;
    font-size: px2rem(26px);
    color: #f75752;
}

.ui-order-list-mine{
    height: px2rem(83px);
    line-height: px2rem(95px);
    margin: 0 px2rem(46px) 0 px2rem(42px);
    padding-left: px2rem(48px);
    background-color: #f3f5f9;
}
.ui-invite-top{
    width: px2rem(659px);
    height: px2rem(100px);
    background: url(/styles/images/topic/financial/mobile/bg_invite_top.png) no-repeat 0 0;
    background-size: px2rem(659px) px2rem(100px);
}
.ui-invite-bottom{
    width: px2rem(659px);
    height: px2rem(54px);
    background: url(/styles/images/topic/financial/mobile/bg_invite_bottom.png) no-repeat 0 0;
    background-size: px2rem(659px) px2rem(54px);
}
.ui-invite-content{
    width: px2rem(659px);
    background: url(/styles/images/topic/financial/mobile/bg_invite_side.png) repeat-y 0 0;
    background-size: px2rem(659px) px2rem(50px);
}
.ui-loan-top{
    width: px2rem(659px);
    height: px2rem(100px);
    background: url(/styles/images/topic/financial/mobile/bg_loan_top.png) no-repeat 0 0;
    background-size: px2rem(659px) px2rem(100px);
}
.ui-loan-bottom{
    width: px2rem(659px);
    height: px2rem(54px);
    background: url(/styles/images/topic/financial/mobile/bg_loan_bottom.png) no-repeat 0 0;
    background-size: px2rem(659px) px2rem(54px);
}
.ui-loan-content{
    width: px2rem(659px);
    background: url(/styles/images/topic/financial/mobile/bg_loan_side.png) repeat-y 0 0;
    background-size: px2rem(659px) px2rem(50px);
}

.ui-hotloan{
    width: px2rem(600px);
    border-radius: px2rem(10px);
    overflow: hidden;
    margin: 0 auto 0;
    padding: px2rem(40px) px2rem(30px);
    background: #dd222d url(/styles/images/topic/financial/mobile/bg_hotloan.png) no-repeat 0 0;
    background-size: px2rem(710px) px2rem(100px);
    font-size: px2rem(24px);
    line-height: px2rem(48px);
    color: #fff;
}
.ui-financial-titles{
    font-size: px2rem(40px);
    color: #fff;
    line-height: px2rem(50px);
    text-align: center;
    margin-bottom: px2rem(40px);
}
.ui-icons-rule{
    display: inline-block;
    margin-right: px2rem(15px); 
    width: px2rem(40px);
    height: px2rem(49px);
    vertical-align: bottom;
    background: url(/styles/images/topic/financial/mobile/icons.png) no-repeat px2rem(-48px) px2rem(-186px);
    background-size: px2rem(400px) px2rem(400px);    
}
.ui-friendly{
    line-height: px2rem(90px);
    text-align: center;
    font-size: px2rem(20px);
    color: #fff;
    margin-bottom: px2rem(10px);
}
.ui-redland{
    position: fixed;
    top: px2rem(260px);
    right: 0;
    width: px2rem(192px);
    height: px2rem(193px);
    background: url(/styles/images/topic/financial/mobile/sign.png) no-repeat 0 0;
    background-size: px2rem(192px) px2rem(193px);
   
}

