@Fcharset "UTF-8";
@import '../base/mobileUtils';
@import '../base/utils'; 
@import '../base/mreset';
@import '../base/mobileGrid';
@import '../inc/m_ui';
@import '../inc/footer-mobile';


body{
    background-color: #131021;
    background-position: center 0;         
    background-size: px2rem(750px) px2rem(1334px);
    background-image: url(/styles/images/topic/brand818/mobile/preheat.jpg);
    background-repeat: no-repeat;
}

.ui-section{
    width: px2rem(750px);
    margin: 0 auto;
}

.ui-brandmain{
    height: px2rem(524px);
    padding-right: px2rem(10px);
    padding-top: px2rem(810px);
}

.ui-brandmain-btn{
    display: block;
    margin: 0 auto;
    width: px2rem(444px);
    height: px2rem(174px);
    background-position: 0 0;         
    background-size: px2rem(888px) px2rem(174px);
    background-image: url(/styles/images/topic/brand818/mobile/preheat_icons.png);
    background-repeat: no-repeat;
    &:active{
        background-position: px2rem(-446px) 0;
        background-color: transparent;
    }
}
.ui-brandmain-note{
    padding-top: px2rem(25px);
    color: #d8d1aa;
    font-size: px2rem(34px);
    line-height: px2rem(54px);
    text-align: center;
}




