@Fcharset "UTF-8";
a:hover {
  text-decoration: none; }

.qt-mt10 {
  margin-top: 0.1333333333rem; }

.qt-mt20 {
  margin-top: 0.2666666667rem; }

.qt-mt30 {
  margin-top: 0.4rem; }

.qt-mt40 {
  margin-top: 0.5333333333rem; }

.qt-mt50 {
  margin-top: 0.6666666667rem; }

.qt-mr10 {
  margin-right: 0.1333333333rem; }

.qt-mr20 {
  margin-right: 0.2666666667rem; }

.qt-mr30 {
  margin-right: 0.4rem; }

.qt-mr40 {
  margin-right: 0.5333333333rem; }

.qt-mr50 {
  margin-right: 0.6666666667rem; }

.qt-mr220 {
  margin-right: 2.9333333333rem; }

.qt-mb10 {
  margin-bottom: 0.1333333333rem; }

.qt-mb20 {
  margin-bottom: 0.2666666667rem; }

.qt-mb30 {
  margin-bottom: 0.4rem; }

.qt-mb40 {
  margin-bottom: 0.5333333333rem; }

.qt-mb50 {
  margin-bottom: 0.6666666667rem; }

.qt-ml10 {
  margin-left: 0.1333333333rem; }

.qt-ml20 {
  margin-left: 0.2666666667rem; }

.qt-ml25 {
  margin-left: 0.3333333333rem; }

.qt-ml30 {
  margin-left: 0.4rem; }

.qt-ml40 {
  margin-left: 0.5333333333rem; }

.qt-ml50 {
  margin-left: 0.6666666667rem; }

.qt-pt10 {
  padding-top: 0.1333333333rem; }

.qt-pt15 {
  padding-top: 0.2rem; }

.qt-pt20 {
  padding-top: 0.2666666667rem; }

.qt-pt30 {
  padding-top: 0.4rem; }

.qt-pt40 {
  padding-top: 0.5333333333rem; }

.qt-pt50 {
  padding-top: 0.6666666667rem; }

.qt-pr10 {
  padding-right: 0.1333333333rem; }

.qt-pr20 {
  padding-right: 0.2666666667rem !important; }

.qt-pr30 {
  padding-right: 0.4rem; }

.qt-pr40 {
  padding-right: 0.5333333333rem; }

.qt-pr50 {
  padding-right: 0.6666666667rem; }

.qt-pb10 {
  padding-bottom: 0.1333333333rem !important; }

.qt-pb20 {
  padding-bottom: 0.2666666667rem; }

.qt-pb30 {
  padding-bottom: 0.4rem; }

.qt-pb40 {
  padding-bottom: 0.5333333333rem; }

.qt-pb50 {
  padding-bottom: 0.6666666667rem; }

.qt-pl10 {
  padding-left: 0.1333333333rem; }

.qt-pl20 {
  padding-left: 0.2666666667rem; }

.qt-pl30 {
  padding-left: 0.4rem; }

.qt-pl40 {
  padding-left: 0.5333333333rem; }

.qt-pl50 {
  padding-left: 0.6666666667rem; }

.qt-gl {
  float: left; }

.qt-gr {
  float: right; }

.ui-font-arial {
  font-family: arial; }

.ui-icons-more {
  width: 0.1866666667rem;
  height: 0.32rem;
  background: url(/styles/images/common/mobile/icons.png) no-repeat -0.16rem -2.28rem;
  background-size: 4.7733333333rem 2.7866666667rem; }

#lightbox_wrap {
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.83);
  z-index: 998; }

@Fcharset "UTF-8";
.ui-form .ui-item.first {
  border-top: 1px solid #d7d7d7; }
.ui-form .ui-submit-parent {
  border-top: 1px solid #d7d7d7;
  padding-top: 0.8rem; }
.ui-form .ui-item-label {
  width: 0.7733333333rem;
  text-align: center;
  height: 1.1733333333rem;
  line-height: 1.1733333333rem;
  margin-left: -100%; }
.ui-form .ui-item-icon {
  width: 0.3066666667rem;
  height: 0.4rem;
  vertical-align: middle; }
.ui-form .ui-item-text {
  height: 1.1733333333rem;
  width: 100%; }
.ui-form .ui-item-text-wrap {
  padding-left: 0.7733333333rem; }
.ui-form .ui-item-extra {
  float: left;
  width: 2.6666666667rem;
  height: 1.1733333333rem;
  line-height: 1.1733333333rem;
  background: #fff;
  margin-left: -2.6666666667rem; }
.ui-form .ui-input {
  border: none;
  background: #fff;
  height: 1.1733333333rem;
  line-height: 1.1733333333rem;
  font-size: 0.4rem;
  color: #999;
  width: 100%; }
.ui-form .ui-submit {
  background: #2a8ce7;
  height: 1.0666666667rem;
  line-height: 1.0666666667rem;
  color: #fff;
  font-size: 0.48rem;
  text-align: center;
  border-radius: 8px;
  border: none;
  width: 100%; }

@-o-keyframes circle {
  0% {
    -webkit-transform: translateX(0) scale(0);
    transform: translateX(0) scale(0);
    z-index: 3; }
  17% {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    z-index: 3; }
  34% {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    z-index: 3; }
  51% {
    -webkit-transform: translateX(-0.5333333333rem) scale(1);
    transform: translateX(-0.5333333333rem) scale(1);
    z-index: 1; }
  68% {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    z-index: 1; }
  85% {
    -webkit-transform: translateX(0.5333333333rem) scale(1);
    transform: translateX(0.5333333333rem) scale(1);
    z-index: 1; }
  100% {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    z-index: 1; } }
@-moz-keyframes circle {
  0% {
    -webkit-transform: translateX(0) scale(0);
    transform: translateX(0) scale(0);
    z-index: 3; }
  17% {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    z-index: 3; }
  34% {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    z-index: 3; }
  51% {
    -webkit-transform: translateX(-0.5333333333rem) scale(1);
    transform: translateX(-0.5333333333rem) scale(1);
    z-index: 1; }
  68% {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    z-index: 1; }
  85% {
    -webkit-transform: translateX(0.5333333333rem) scale(1);
    transform: translateX(0.5333333333rem) scale(1);
    z-index: 1; }
  100% {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    z-index: 1; } }
@-webkit-keyframes circle {
  0% {
    -webkit-transform: translateX(0) scale(0);
    transform: translateX(0) scale(0);
    z-index: 3; }
  17% {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    z-index: 3; }
  34% {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    z-index: 3; }
  51% {
    -webkit-transform: translateX(-0.5333333333rem) scale(1);
    transform: translateX(-0.5333333333rem) scale(1);
    z-index: 1; }
  68% {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    z-index: 1; }
  85% {
    -webkit-transform: translateX(0.5333333333rem) scale(1);
    transform: translateX(0.5333333333rem) scale(1);
    z-index: 1; }
  100% {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    z-index: 1; } }
@keyframes circle {
  0% {
    -webkit-transform: translateX(0) scale(0);
    transform: translateX(0) scale(0);
    z-index: 3; }
  17% {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    z-index: 3; }
  34% {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    z-index: 3; }
  51% {
    -webkit-transform: translateX(-0.5333333333rem) scale(1);
    transform: translateX(-0.5333333333rem) scale(1);
    z-index: 1; }
  68% {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    z-index: 1; }
  85% {
    -webkit-transform: translateX(0.5333333333rem) scale(1);
    transform: translateX(0.5333333333rem) scale(1);
    z-index: 1; }
  100% {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    z-index: 1; } }
.ui-circle {
  position: absolute; }
  .ui-circle .circle-wrap {
    position: relative; }
  .ui-circle .b-r {
    -webkit-animation: circle 3s linear both infinite;
    -moz-animation: circle 3s linear both infinite;
    -o-animation: circle 3s linear both infinite;
    animation: circle 3s linear both infinite; }
  .ui-circle .b-b {
    -webkit-animation: circle 3s linear both infinite  -1s;
    -moz-animation: circle 3s linear both infinite  -1s;
    -o-animation: circle 3s linear both infinite  -1s;
    -webkit-animation: circle 3s linear both infinite  -1s; }
  .ui-circle .b-y {
    -webkit-animation: circle 3s linear both infinite  -2s;
    -moz-animation: circle 3s linear both infinite  -2s;
    -o-animation: circle 3s linear both infinite  -2s;
    -webkit-animation: circle 3s linear both infinite  -2s; }
  .ui-circle .b-r, .ui-circle .b-b, .ui-circle .b-y {
    width: 0.2rem;
    height: 0.2rem;
    border-radius: 50%;
    background: teal;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -0.0933333333rem;
    background: red; }
  .ui-circle .b-r {
    background: #ff6114;
    z-index: 3; }
  .ui-circle .b-b {
    background: #14d6ff;
    z-index: -1; }
  .ui-circle .b-y {
    background: #ffd200;
    z-index: -1; }

.ui-alert-box {
  position: fixed;
  top: 50%;
  width: 100%;
  text-align: center;
  margin-top: -0.6666666667rem;
  z-index: 9999; }

.ui-alert {
  display: inline-block;
  height: 1.3333333333rem;
  line-height: 1.3333333333rem;
  border-radius: 0.1066666667rem;
  padding: 0 0.4rem;
  color: #fff;
  font-size: 0.4266666667rem;
  background-color: rgba(71, 79, 89, 0.85); }

.shack {
  -moz-animation: shack .1s .5s;
  -webkit-animation: shack .1s .5s;
  -o-animation: shack .1s .5s;
  -ms-animation: shack .1s .5s;
  animation: shack .1s .5s; }

@-ms-keyframes shack {
  0% {
    left: 0px; }
  25% {
    left: 10px; }
  50% {
    left: -5px; }
  75% {
    left: 10px; }
  100% {
    left: 0; } }
@-moz-keyframes shack {
  0% {
    left: 0px; }
  25% {
    left: 10px; }
  50% {
    left: -5px; }
  75% {
    left: 10px; }
  100% {
    left: 0; } }
@-o-keyframes shack {
  0% {
    left: 0px; }
  25% {
    left: 10px; }
  50% {
    left: -5px; }
  75% {
    left: 10px; }
  100% {
    left: 0; } }
@-webkit-keyframes shack {
  0% {
    left: 0px; }
  25% {
    left: 10px; }
  50% {
    left: -5px; }
  75% {
    left: 10px; }
  100% {
    left: 0; } }
@keyframes shack {
  0% {
    left: 0px; }
  25% {
    left: 10px; }
  50% {
    left: -5px; }
  75% {
    left: 10px; }
  100% {
    left: 0; } }
.ui-loading {
  line-height: 1.3333333333rem;
  font-size: 0.3733333333rem;
  text-align: center; }

.ui-backtop {
  display: none;
  position: fixed;
  right: 0.4266666667rem;
  bottom: 2.9333333333rem;
  width: 1.0666666667rem;
  height: 1.0666666667rem;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.6) url(/styles/images/common/mobile/icons.png) no-repeat 0.2666666667rem -0.8666666667rem;
  background-size: 4.7733333333rem 2.7866666667rem;
  z-index: 990; }

.ui-empty img {
  display: block;
  margin: 2.5333333333rem auto 0.1333333333rem; }

.ui-empty-descript {
  color: #bbb;
  font-size: 0.4rem;
  text-align: center; }

.mask-layer {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.45;
  filter: alpha(opacity=45);
  -ms-filter: alpha(opacity=45);
  z-index: 99; }

.ui-loans-prize {
  display: block;
  margin: 1.0666666667rem auto 0;
  width: 3.4666666667rem;
  height: 0.6933333333rem;
  line-height: 0.6933333333rem;
  text-align: center;
  font-size: 0.4266666667rem;
  color: #3492E9;
  border: 0.0266666667rem solid #3492E9;
  border-radius: 0.9866666667rem; }

html, body {
  background-color: #f4af6e; }

a:hover {
  text-decoration: none; }

.ui-section {
  min-height: 17.7733333333rem; }

.ui-fstart-item1 {
  height: 17.7733333333rem;
  background: url(/styles/images/topic/brand618/mobile/start1.jpg) no-repeat 0 0;
  background-size: 10rem 17.7733333333rem; }

.ui-fstart-item2 {
  height: 17.7733333333rem;
  background: url(/styles/images/topic/brand618/mobile/start2.jpg) no-repeat 0 0;
  background-size: 10rem 17.7733333333rem; }

.ui-fstart-item-next {
  position: absolute;
  bottom: 0.2666666667rem;
  width: 100%; }

.ui-fstart-item-next-note {
  font-size: 0.4rem;
  color: #fff;
  line-height: 0.7333333333rem;
  text-align: center; }

.ui-icons-next {
  margin: 0 auto;
  width: 0.6666666667rem;
  height: 0.48rem;
  background: url(/styles/images/topic/brand618/mobile/next.png) no-repeat 0 0;
  background-size: 0.6666666667rem 0.48rem; }

.ui-pt1183 {
  padding-top: 15.7733333333rem; }

.ui-pt550 {
  padding-top: 7.3333333333rem; }

.ui-answer-btn a {
  display: block;
  margin: 0 auto;
  width: 6.5333333333rem;
  height: 1.1733333333rem;
  line-height: 1.1733333333rem;
  text-align: center;
  font-size: 0.4rem;
  color: #fff;
  border-radius: 0.1333333333rem;
  background-color: #d8323d; }

.ui-list {
  min-height: 17.7733333333rem;
  background: url(/styles/images/topic/brand618/mobile/list.jpg) no-repeat 0 0;
  background-size: 10rem 17.7733333333rem; }

.ui-question {
  padding: 1.4666666667rem 1.1333333333rem 0;
  font-size: 0.4rem;
  line-height: 1.12rem;
  color: #333; }

.ui-answer {
  margin: 0.5333333333rem auto 0;
  width: 7.8rem;
  height: 3.88rem; }

.ui-answer-item1 {
  width: 7.8rem;
  height: 1.6rem;
  border-radius: 0.1333333333rem;
  font-size: 0.4rem;
  line-height: 0.5333333333rem;
  background: url(/styles/images/topic/brand618/mobile/answer_bg.png) no-repeat 0 0;
  background-size: 7.8rem 3.88rem; }
  .ui-answer-item1 a {
    display: table-cell;
    color: #333;
    padding-left: 1.7333333333rem;
    padding-right: 0.2666666667rem;
    vertical-align: middle;
    width: 5.8rem;
    height: 1.6rem; }
  .ui-answer-item1:active {
    background-color: #e8e8e8; }

.ui-answer-item2 {
  margin-top: 0.6666666667rem;
  width: 7.8rem;
  height: 1.6rem;
  border-radius: 0.1333333333rem;
  font-size: 0.4rem;
  line-height: 0.5333333333rem;
  background: url(/styles/images/topic/brand618/mobile/answer_bg.png) no-repeat 0 -2.2666666667rem;
  background-size: 7.8rem 3.88rem; }
  .ui-answer-item2 a {
    display: table-cell;
    color: #333;
    padding-left: 1.7333333333rem;
    padding-right: 0.2666666667rem;
    vertical-align: middle;
    width: 5.8rem;
    height: 1.6rem; }
  .ui-answer-item2:active {
    background-color: #e8e8e8; }

.ui-fresult {
  height: 17.7733333333rem;
  background: url(/styles/images/topic/brand618/mobile/result.jpg) no-repeat 0 0;
  background-size: 10rem 17.7733333333rem; }

.ui-fresult-img {
  padding-top: 0.8rem;
  margin: 0 auto 0.2666666667rem;
  width: 5.6266666667rem;
  height: 5.6266666667rem; }
  .ui-fresult-img img {
    width: 5.6266666667rem;
    height: 5.6266666667rem; }

.ui-fresult-title {
  font-size: 0.4rem;
  color: #333;
  text-align: center;
  line-height: 0.9333333333rem; }

.ui-fresult-result {
  text-align: center; }
  .ui-fresult-result strong {
    display: inline-block;
    padding: 0 0.8rem;
    background-color: #714233;
    height: 1.3066666667rem;
    line-height: 1.3066666667rem;
    border-radius: 0.6666666667rem;
    font-size: 0.5333333333rem;
    color: #fff; }

.ui-fresult-introduce {
  font-size: 0.3733333333rem;
  line-height: 0.64rem;
  color: #333;
  padding: 1.0666666667rem 1.0666666667rem 0.5333333333rem; }

.ui-fresult-again {
  margin: 0 auto;
  width: 2.3466666667rem;
  height: 0.6133333333rem;
  line-height: 0.6133333333rem;
  text-align: center;
  border-radius: 0.1333333333rem;
  border: 2px solid #da3c3c;
  font-size: 0.3466666667rem;
  color: #da3c3c; }

.ui-btnbox {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 1.3333333333rem;
  background-color: rgba(93, 88, 89, 0.9);
  z-index: 100; }

.ui-btnbox-item {
  float: left;
  width: 50%;
  height: 1.3333333333rem;
  text-align: center; }

.ui-btnbox-line {
  float: right;
  margin-top: 0.2666666667rem;
  width: 2px;
  height: 0.8rem;
  background-color: rgba(255, 255, 255, 0.4); }

.ui-fresult-gift {
  display: inline-block;
  margin-top: 0.2666666667rem;
  width: 3.5466666667rem;
  height: 0.7466666667rem;
  border: 2px solid #da3c3c;
  line-height: 0.8rem;
  text-align: center;
  font-size: 0.4rem;
  color: #fff;
  border-radius: 0.3733333333rem;
  background-color: #da3c3c; }

.ui-fresult-show {
  display: inline-block;
  margin-top: 0.2666666667rem;
  width: 3.5466666667rem;
  height: 0.7466666667rem;
  border: 2px solid #fff;
  line-height: 0.8rem;
  text-align: center;
  font-size: 0.4rem;
  color: #fff;
  border-radius: 0.3733333333rem; }

.ui-fshow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999; }

.ui-fshow-img {
  padding: 0.5333333333rem 0; }
  .ui-fshow-img img {
    display: block;
    margin: 0 auto;
    width: 8rem; }

.ui-fshow-title {
  font-weight: bord;
  color: #fff;
  font-size: 0.6133333333rem;
  text-align: center;
  line-height: 1rem; }

.ui-fshow-note {
  color: #fff;
  font-size: 0.48rem;
  text-align: center;
  line-height: 1rem; }

.ui-fshow-weixin {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999; }
  .ui-fshow-weixin img {
    display: block;
    margin: 0 auto;
    width: 8.6666666667rem;
    height: 7.6266666667rem; }

.ui-fshow-gift {
  position: fixed;
  top: 3.9333333333rem;
  left: 50%;
  padding-top: 0.8rem;
  margin-left: -3.6133333333rem;
  width: 7.24rem;
  height: 4rem;
  border-radius: 0.2666666667rem;
  background-color: #fff;
  z-index: 999; }

.ui-fshow-gift-close {
  position: absolute;
  top: -0.5333333333rem;
  right: -0.5333333333rem;
  width: 0.6133333333rem;
  height: 0.6133333333rem;
  margin: 0 auto;
  background: url(/styles/images/topic/brand618/mobile/icons.png) no-repeat -4.72rem -1.4933333333rem;
  background-size: 5.3333333333rem 5.3333333333rem; }

.ui-fshow-gift-img {
  width: 1.3333333333rem;
  height: 1.3333333333rem;
  margin: 0 auto;
  background: url(/styles/images/topic/brand618/mobile/icons.png) no-repeat -4rem 0;
  background-size: 5.3333333333rem 5.3333333333rem; }

.ui-fshow-gift-title {
  font-size: 0.4rem;
  color: #333;
  line-height: 1.3333333333rem;
  text-align: center; }

.ui-fshow-gift-btn a {
  display: block;
  margin: 0 auto;
  width: 2.3466666667rem;
  height: 0.6133333333rem;
  line-height: 0.6133333333rem;
  text-align: center;
  border-radius: 0.1333333333rem;
  border: 2px solid #da3c3c;
  font-size: 0.3466666667rem;
  color: #da3c3c; }

.ui-circle {
  z-index: 112; }

@-o-keyframes jump {
  0% {
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1); }
  25% {
    -webkit-transform: translateY(-0.2666666667rem) scale(1);
    transform: translateY(-0.2666666667rem) scale(1); }
  50% {
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1); }
  75% {
    -webkit-transform: translateY(0.2666666667rem) scale(1);
    transform: translateY(0.2666666667rem) scale(1); }
  100% {
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1); } }
@-moz-keyframes jump {
  0% {
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1); }
  25% {
    -webkit-transform: translateY(-0.2666666667rem) scale(1);
    transform: translateY(-0.2666666667rem) scale(1); }
  50% {
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1); }
  75% {
    -webkit-transform: translateY(0.2666666667rem) scale(1);
    transform: translateY(0.2666666667rem) scale(1); }
  100% {
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1); } }
@-webkit-keyframes jump {
  0% {
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1); }
  25% {
    -webkit-transform: translateY(-0.2666666667rem) scale(1);
    transform: translateY(-0.2666666667rem) scale(1); }
  50% {
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1); }
  75% {
    -webkit-transform: translateY(0.2666666667rem) scale(1);
    transform: translateY(0.2666666667rem) scale(1); }
  100% {
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1); } }
@keyframes jump {
  0% {
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1); }
  25% {
    -webkit-transform: translateY(-0.2666666667rem) scale(1);
    transform: translateY(-0.2666666667rem) scale(1); }
  50% {
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1); }
  75% {
    -webkit-transform: translateY(0.2666666667rem) scale(1);
    transform: translateY(0.2666666667rem) scale(1); }
  100% {
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1); } }
.ui-animate-jump {
  -webkit-animation: jump 1s linear both infinite;
  -moz-animation: jump 1s linear both infinite;
  -o-animation: jump 1s linear both infinite;
  animation: jump 1s linear both infinite; }

/*# sourceMappingURL=topic_brand618_fatherday.css.map */
