@Fcharset "UTF-8";
@import '../base/mobileUtils';
@import '../base/utils';
@import '../base/mreset';
@import '../base/grid';
@import '../mod/dialog';
@import '../inc/m_ui';


.mod-floatlayer {
  display: none;
}

body{
  width: 100%;
  position: relative;
  height: px2rem(1334px);
  overflow: hidden;
}
.footer{
  display: none;
}

.context{
  width: 100%;
  height: px2rem(1334px);
  position: absolute;
  z-index: 1;
  background: url("/styles/images/topic/eyepreheat/mobile/yurebj1.png") no-repeat;
  background-size: 100% 100%;
}
.context img{
  display: block;
  width: 100%;
  height: 100%;
}
.preheat-btn-box{
  width: px2rem(336px);
  height: px2rem(328px);
  margin:px2rem(360px) auto 0;
}
.preheat-btn{
  width: px2rem(336px);
  height: px2rem(328px);
  position: relative;
  top:0;
  left: 0;
  right: 0;
  z-index: 2;
}
.spin-btn{
  display: none;
  width: px2rem(336px);
  height: px2rem(328px);
  position: absolute;
  top:0;
  left:0;
  background: url("/styles/images/topic/eyepreheat/mobile/zhuan.png") no-repeat;
  background-size: 100% 100%;
  z-index: 3;
  margin-top: px2rem(-14px);
}
.bottom-btn{
  width: px2rem(300px);
  height: px2rem(300px);
  background: url("/styles/images/topic/eyepreheat/mobile/an.png") no-repeat;
  background-size: 100% 100%;
  position: absolute;
  left:0;
  right: 0;
  margin: auto;
  z-index: 4;
}
.breathmove{
  animation-name: breath;
  animation-duration: 2700ms;
  animation-iteration-count: infinite;
}
.top-btn{
  width: px2rem(300px);
  height: px2rem(300px);
  background: url("/styles/images/topic/eyepreheat/mobile/liang.png") no-repeat;
  background-size: 100% 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 5;
  cursor: pointer;

}
.false-btn{
  width: px2rem(300px);
  height: px2rem(300px);
  background: url("/styles/images/topic/eyepreheat/mobile/liang.png") no-repeat;
  background-size: 100% 100%;
  position: absolute;
  z-index: 5;
  cursor: pointer;
}
.rotatemove{
  display: block;
  animation:circle 1s infinite linear;
}
@keyframes circle{
  0%{ transform:rotate(0deg); }
  100%{ transform:rotate(-360deg); }
}

@keyframes breath{
  0%{ opacity: 0.4;}
  50%{opacity: 1;}
  100%{ opacity: 0.4;}
}
.preheat-title{
  width: px2rem(450px);
  height:px2rem(110px);
  margin: px2rem(445px) auto 0px;
}
.preheat-top{
  width: px2rem(450px);
  height:px2rem(110px);
  position: relative;
  left: 0;
  right: 0;
  top:0;
  z-index: 10;
}
.preheat-eye{
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left: 0;
  overflow: hidden;
  z-index: 11;
}
.left-eye{
  width: px2rem(110px);
  height: px2rem(110px);
  float: left;
  background:url("/styles/images/topic/eyepreheat/mobile/h5eye.png") no-repeat;
  background-size: 100% 100%;
}

.right-eye{
  float: right;
  width: px2rem(110px);
  height: px2rem(110px);
  background:url("/styles/images/topic/eyepreheat/mobile/h5eye.png") no-repeat;
  background-size: 100% 100%;
}

.preheat-battery{
  visibility:hidden;
  width: px2rem(454px);
  height: px2rem(150px);
  position: absolute;
  top:0;
  bottom:0;
  left: 0;
  right: 0;
  margin: auto;
  overflow: hidden;
  z-index: 11;
}
.charge{
  width: px2rem(454px);
  height: px2rem(150px);
  background: url("/styles/images/topic/eyepreheat/mobile/dianchik.png") no-repeat;
  background-size: 100% 100%;
}
.charge-bj{
  width: px2rem(396px);
  height: px2rem(114px);
  background: url("/styles/images/topic/eyepreheat/mobile/dianliang.png") no-repeat;
  background-size:100% 100%;
  position: absolute;
  top:0;
  left:0;
  z-index: 12;
}
.charge-box{
  width:0;
  height: px2rem(114px);
  position: absolute;
  top:px2rem(18px);
  left:px2rem(18px);
  z-index: 13;
  overflow: hidden;
}
.charge-success{
  display: none;
  text-align: center;
  height: px2rem(40px);
  font-size: px2rem(24px);
  color: #feffff;
  line-height: px2rem(40px);
  position: absolute;
  left: 0;
  right: 0;
  top:0;
  bottom:0;
  margin: auto;
  z-index: 13;
  text-shadow:0px 0px px2rem(10px) #2087ad;
}

.move_animate{
  transition: width 2.5s;
}
.move_in{
  width: px2rem(396px);
}
.move_out{
  width: 0;
}

.preheat-need{
  height: px2rem(24px);
  position: absolute;
  left: 0;
  right: 0;
  top:px2rem(720px);
  margin: auto;
  z-index: 20;
  text-align: center;
}
.preheat-need-save{
  font-size: px2rem(24px);
  line-height: px2rem(24px);
  color: #ffffff;
}
.preheat-need-save span{
  font-size:px2rem(24px);
  line-height:px2rem(24px);
  color: #efbf02;
}
.bj{
  display: none;
  width: 100%;
  height: 100%;
  background: #000000;
  filter:alpha(opacity=90); /* IE */
  -moz-opacity:0.9; /* 老版Mozilla */
  -khtml-opacity:0.9; /* 老版Safari */
  opacity: 0.9; /* 支持opacity的浏览器*/
  position: absolute;
  top:0;
  z-index: 30;
}
.remind{
  display: none;
  width: px2rem(544px);
  height: px2rem(190px);
  position: absolute;
  top:px2rem(300px);
  left:0;
  right: 0;
  margin: auto;
  z-index: 100;
}
.remind-img{
  width: px2rem(544px);
  height: px2rem(170px);
}
.remind-img img{
  width: 100%;
  height: 100%;
}
.remind-btn{
  display: block;
  width: 90px;
  height: 33px;
  background: #1dadd6;
  font-size: 14px;
  color: #fff;
  line-height: 33px;
  text-align: center;
  position: absolute;
  left:0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 40;
  cursor: pointer;
}
.popupBasic{
  display: none;
  position: absolute;
  z-index: 100;
  top: 50%;
  left:50%;
  transform:translate(-50%, -50%);
  -webkit-transform:translate(-50%, -50%);
  -moz-transform:translate(-50%, -50%);
  -o-transform:translate(-50%, -50%);
  text-align: center;
  padding: .4rem .7rem;
  transition:opacity 1s;
  opacity: 0;
  div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .7;
    z-index: 0;
    border-radius: .2rem;
  }
  span{
    position: relative;
    color: #fff;
    font-size: .24rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    z-index: 1;
  }
}

.shake_popup{
  opacity: 1;
  animation: shack .1s .5s;
}
@keyframes shack{
  0%{left:50%;}
  25% {left: 52%;}
  50% {left: 51%;}
  75% {left: 49%;}
  100% {left: 50%;}
}
.charge-wrong{
  display: none;
  text-align: center;
  height: px2rem(40px);
  font-size: px2rem(24px);
  color: #feffff;
  line-height: px2rem(40px);
  position: absolute;
  left: 0;
  right: 0;
  top:0;
  bottom:0;
  margin: auto;
  z-index: 13;
  text-shadow:0px 0px px2rem(10px) #3ed8ff ;
}