@Fcharset "UTF-8";
@import '../base/mobileUtils';
@import '../base/utils';
@import '../base/mreset';
@import '../base/grid';
@import '../mod/dialog';

.template_carnival{
    background:url("/styles/images/carnival/bodybg.png") 0 0 repeat; 
}
.carnival-full{
    width:100%;
}
.carnival-center{
    width:px2rem(750px);
    padding-bottom:px2rem(50px);
    margin:0 auto;
}
.mod-carnival-top{
    width:100%;
    height:px2rem(70px);
    overflow:hidden;
    background-color:#ffe4e1;
    ul{
        height:px2rem(70px);
    }
    li{
        float:left;
        color:#881e0c;
        height:px2rem(70px);
        line-height:px2rem(70px);
        @include font-dpr(14px);
        padding-right:px2rem(20px);
        span{
            padding-left:px2rem(16px);
            padding-right:px2rem(16px);
        }
        a{
            color:#881e0c;
        }
    }
}
.mod-carnival-head{
    img{
        width:100%;
        //height:px2rem(502px);
    }
}
.mod-carnival-signIn{
    padding-top:px2rem(25px);
    padding-left:px2rem(24px);
    .bd{
        padding-top:px2rem(20px);
        padding-left:px2rem(20px);
        padding-bottom:px2rem(20px);
        .tag{
            width:px2rem(104px);
            height:px2rem(72px);
            float:left;
            img{
                width:px2rem(104px);
            }
        }
        .inner{
            float:left;
            width:px2rem(570px);
            padding-top:px2rem(10px);
            padding-left:px2rem(20px);
            color:#fff;
            @include font-dpr(14px);
            line-height:px2rem(46px);
        }
    }
    .hd{
        a{
            display:block;
            width:px2rem(470px);
            height:px2rem(70px);
            line-height:px2rem(70px);
            margin:0 auto;
            background-color:#fae325;
            color:#ec3020;
            text-align:center;
            @include font-dpr(24px);
            border-radius:10px;
        }
        a:hover{
            text-decoration:none;
        }
    }
}
.mod-carnival-lottery{
    padding-left:px2rem(23px);
    padding-right:px2rem(23px);
    width:px2rem(704px);
    height:px2rem(619px);
    .content{
        width:px2rem(704px);
        height:px2rem(619px);
        margin:0 auto;
    }
    .contentbg{
        width:px2rem(704px);
        height:px2rem(619px); 
        left:0;
        top:0;
        z-index:1;
    }
    .hd{
       width:px2rem(675px);
       height:px2rem(48px);
       padding-top:px2rem(39px);
       text-align:right;
       line-height:px2rem(48px);
       z-index:2;
       a{
            color:#fff;
            @include font-dpr(14px);
       }
    }
    .bd{
        width:px2rem(657px);
        height:px2rem(475px);
        padding-left:px2rem(18px);
        z-index:2;
        left:0;
        top:px2rem(87px);
    }
    .circle{
        width:px2rem(657px);
        height:px2rem(475px);
        left:px2rem(18px);
        top:0;
        li{
            width:px2rem(198px);
            height:px2rem(138px);
            position:absolute;
            .box{
                width:px2rem(198px);
                height:px2rem(138px);
                position:absolute;
                left:0;
                top:0;
            }
            .inner{
                width:px2rem(198px);
                height:px2rem(138px);
                text-align:center;
                line-height:px2rem(138px);
                position:absolute;
                z-index:2;
                img,b{
                    vertical-align:middle;
                }
                b{
                    display:inline-block;
                }
                img{
                   width:px2rem(198px);
                   height:px2rem(138px); 
                }
            }
            .winbg{
                width:px2rem(198px);
                height:px2rem(138px);
                position:absolute;
                left:0;
                top:0;
                z-index:1;
                display:none;
            }
            .win{
               .winbg{display:block;}
            }
        }
        .list0{
            width:px2rem(183px);
            height:px2rem(31px);
            left:px2rem(239px);
            top:px2rem(186px);
            padding-top:px2rem(64px);
            text-align:center;
            .change{
                height:px2rem(31px);
                line-height:px2rem(31px);
                color:#fff;
                @include font-dpr(8px);
            }
            em{
                font-style:italic;
            }
            span{color:#fae325;}
        }
        .list1{
            left:px2rem(17px);
            top:px2rem(15px);
        }
        .list2{
            left:px2rem(230px);
            top:px2rem(15px);
        }
        .list3{
            left:px2rem(444px);
            top:px2rem(15px);
        }
        .list4{
            left:px2rem(444px);
            top:px2rem(169px);
        }
        .list5{
            left:px2rem(444px);
            top:px2rem(322px);
        }
        .list6{
            left:px2rem(230px);
            top:px2rem(322px);
        }
        .list7{
            left:px2rem(17px);
            top:px2rem(322px);
        }
        .list8{
            left:px2rem(17px);
            top:px2rem(169px);
        }
    }
}
.mod-carnival-rules{
    position:relative;
    padding-left:px2rem(23px);
    padding-right:px2rem(24px);
    margin-top:px2rem(-14px);
    width:px2rem(704px);
    z-index:1;
    img{
       width:px2rem(704px); 
       display:block;
    }
    .crules1{
        height:px2rem(410px);
    }
    .crules2{
        height:px2rem(569px);
    }
    .crules3{
        height:px2rem(650px);
    }
    .crules4{
        height:px2rem(570px);
    }
    .crules5{
        height:px2rem(385px);
    }
    
}
.mod-carnival-title{
    height:px2rem(70px);
    padding-left:px2rem(23px);
    padding-right:px2rem(23px);
    background:#fff;
    position:relative;
    .middle{
        width:100%;
        height:px2rem(70px);
        line-height:px2rem(70px);
        @include font-dpr(17px);
        color:#000;
        text-align:center;
    }
    .left{
        height:px2rem(70px);
        left:px2rem(23px);
        top:0;
        img,span{
            vertical-align:middle;
        }
        span{
            display:inline-block;
            color:#333;
            @include font-dpr(17px);
            padding-left:px2rem(12px);
            line-height:px2rem(70px);
        }
        img{
            width:px2rem(25px);
            height:px2rem(40px);
        }
    }
    .right{
        height:px2rem(70px);
        right:px2rem(23px);
        top:0;
        img,span{
            vertical-align:middle;
        }
        span{
            display:inline-block;
            color:#e61b1e;
            padding-right:px2rem(12px);
            @include font-dpr(14px);
            line-height:px2rem(70px);
        }
        img{
            width:px2rem(16px);
            height:px2rem(27px);
        }
    }
}
.mod-carnival-platform{
    padding-top:px2rem(20px);
    padding-left:px2rem(23px);
    padding-right:px2rem(23px);
    .hd{
        width:px2rem(704px);
        height:px2rem(62px);
        .innerbg,.inner{
            left:0;
            top:0;
            width:px2rem(704px);
            height:px2rem(62px);
        }
        .innerbg{
            z-index:1;
        }
        .inner{
            z-index:2;
            text-align:center;
            color:#fae325;
            line-height:px2rem(52px);
            @include font-dpr(14px);
            span{
                padding:px2rem(4px);
            }
        }
    }
    .bd{
        width:px2rem(704px);
    }
    .ulist{
        padding-top:px2rem(23px);
        padding-left:px2rem(24px);
        background-color:#b7282b;
        width:px2rem(680px);
        li{
            width:px2rem(310px);
            height:px2rem(290px);
            padding-right:px2rem(30px);
            padding-bottom:px2rem(24px);
            float:left;
        }
        .inner{
            width:px2rem(310px);
            height:px2rem(214px);
            padding-top:px2rem(42px);
            padding-bottom:px2rem(34px);
            background-color:#f8ecd9;
            a:hover{
                text-decoration:none;
            }
        }
        .logo{
            height:px2rem(66px);
            text-align:center;
            img,span{
                vertical-align:px2rem(66px);
            }
            span{line-height:px2rem(66px);}
            img{
               width:px2rem(214px);
               height:px2rem(66px); 
            }
        }
        .middle{
            padding-top:px2rem(16px);
            height:px2rem(56px);
            line-height:px2rem(56px);
            @include font-dpr(12px);
            color:#e9463f;
            text-align:center;
            @include text-ellipsis;
            a{color:#e9453e;}
        }
        .bottom{
            padding-top:px2rem(24px);
            height:px2rem(52px);
            a{
                width:px2rem(245px);
                heihgt:px2rem(52px);
                line-height:px2rem(52px);
                @include font-dpr(15px);
                text-align:center;
                margin:0 auto;
                display:block;
                background-color:#e9453e;
                color:#fff;
                border-radius:5px;
            }
            a:hover{
                text-decoration:none;
            }
        }
    }
}

.mod-carnival-address{
    padding-left:px2rem(23px);
    padding-right:px2rem(23px);
    width:px2rem(704px);
    .ulist{
        width:px2rem(704px);
        padding-top:px2rem(18px);
    }
    li{
        width:px2rem(704px);
        padding-top:px2rem(35px);
        span,.txtbox{
            float:left;
        }
        span{
            width:px2rem(150px);
            padding-right:px2rem(20px);
            height:px2rem(70px);
            line-height:px2rem(70px);
            @include font-dpr(14px);
            text-align:right;
            color:#fff;
        }
        .txtbox{
            width:px2rem(528px);
        }
        .text{
            width:px2rem(520px);
            height:px2rem(60px);
            padding-top:px2rem(4px);
            padding-bottom:px2rem(4px);
            padding-left:px2rem(6px);
            border:1px solid #fff;
            @include font-dpr(14px);
            background:none;
            color:#fff;
        }
        p{
           width:px2rem(528px);
           line-height:px2rem(70px);
           color:#fff;
           word-wrap: break-word;
           @include font-dpr(14px);
        }
    }
    .tips{
       padding-top:px2rem(20px); 
       line-height:px2rem(70px); 
       @include font-dpr(14px);
       color:#fae325;
    }
    .btnbox{
        padding-top:px2rem(40px);
        text-align:center;
        .btn{
            width:px2rem(468px);
            height:px2rem(70px);
            background-color:#fae325;
            color:#ec3020;
            @include font-dpr(20px);
            line-height:px2rem(70px);
            text-align:center;
            border:none;
            cursor:pointer;
            border-radius:10px;
        }
     }
}
input[type="text"]::-webkit-input-placeholder{
      color:#fff;
}
input[type="text"]:-moz-placeholder{
  color:#fff;
}
input[type="text"]::-moz-placeholder{
  color:#fff;
}
input[type="text"]:-ms-input-placeholder{
  color:#fff;
}
input[type="password"]::-webkit-input-placeholder{
  color:#fff;
}
input[type="password"]:-moz-placeholder{
  color:#fff;
}
input[type="password"]::-moz-placeholder{
  color:#fff;
}
input[type="password"]:-ms-input-placeholder{
  color:#fff;
}
.mod-carnival-pocket{
    padding-top:px2rem(23px);
    padding-left:px2rem(23px);
    padding-right:px2rem(23px);
    width:px2rem(704px);
    .inner{
        padding-bottom:px2rem(55px);
    }
    table{
        width:100%;
        th,td{
            border:1px solid #fff;
            text-align:center;
            color:#fff;
        }
        th{
            height:px2rem(70px);
            line-height:px2rem(70px);
            @include font-dpr(14px);
        }
        .first{width:px2rem(120px);}
        .second{width:px2rem(360px);}
        .third{width:px2rem(220px);}
        td{
            padding-top:px2rem(18px);
            padding-bottom:px2rem(12px);
            line-height:px2rem(38px);
            @include font-dpr(12px);
            a{color:#fff;}
        }
    }
    .rules{
        width:px2rem(704px);
        img{
            width:px2rem(704px);
        }
    }
}
.carnival_dialog{
    width:px2rem(586px);
    display:none;
    .content{
       padding:px2rem(20px);
       background:#f73d3d;
       width:px2rem(546px);
       border-radius:px2rem(10px);
    }
    .closed{
        width:px2rem(586px);
        height:px2rem(184px);
        text-align:center;
        .top,bottom,img{
            width:px2rem(97px);
        }
        .top,.bottom{
            margin:0 auto;
        }
        .top{
            height:px2rem(84px);
            img{
                height:px2rem(84px);
            }
        }
        .bottom{
            height:px2rem(100px);
            img{
                height:px2rem(100px);
            }
        }
    }
    .signinRules{
        width:px2rem(546px);
        img{
            width:px2rem(546px);
            height:px2rem(588px);
        }
    }
    .messageTip{
        width:px2rem(546px);
        //height:px2rem(300px);
        p{
            padding-top:px2rem(60px);
            padding-bottom:px2rem(60px);
            line-height:30px;
            @include font-dpr(12px);
            text-align:center;
            color:#fff;
        }
    }
    .winningtip{
        padding-top:px2rem(36px);
        padding-bottom:px2rem(12px);
        .win{
            paddint-left:px2rem(10px);
            line-height:px2rem(60px);
            @include font-dpr(12px);
            color:#fff;
            text-align:center;
            span{
                @include font-dpr(15px);
                padding-left:px2rem(16px);
                color:#fae325; 
            }
        }
        .copy{
            padding-top:px2rem(34px);
            padding-bottom:px2rem(32px);
            height:px2rem(40px);
            a{
                display:block;
                width:px2rem(400px);
                height:px2rem(60px);
                line-height:px2rem(60px);
                margin:0 auto;
                background-color:#fae325;
                text-align:center;
                border-radius:10px;
                color:#ec3020;
                @include font-dpr(17px);
            }
            a:hvoer{
                text-decoration:none;
            }
        }
        .inst{
          line-height:px2rem(48px);  
          color:#fff;
          @include font-dpr(12px);
        }
    }
}

.carnival_myshare{
    z-index:33;
    width:100%;
    display:none;
    position:absolute;
    left:50%;
    top:0;
    margin-left:-50%;
    img{width:100%;}
}
.carnival_myshare2{
    z-index:33;
    width:100%;
    display:none;
    position:absolute;
    left:50%;
    top:0;
    margin-left:-50%;
    img{width:100%;}
}