@Fcharset "UTF-8";
@import '../base/mobileUtils';
@import '../base/utils'; 
@import '../base/mreset';
@import '../base/mobileGrid';
@import '../inc/m_ui';

.ui-section{
    width: px2rem(636px);
    margin: 0 auto;
    padding: px2rem(60px) px2rem(57px);
}
html,body{
    background-color: #db4d36;
}
.ui-banner{
    margin: 0 auto;
    width: px2rem(610px);
    height: px2rem(206px);
    background: url(/styles/images/topic/brand1018/mobile/jbloan.png) no-repeat 0 0;
    background-size: px2rem(610px) px2rem(300px);
}
.ui-brandjb{
    margin-top: px2rem(60px);
    background-color: #fff;
    border-radius: px2rem(10px);
    padding: px2rem(40px);
    text-align: center;
    color: #333;
}
.ui-brandjb-title{
    font-size: px2rem(36px);
    line-height: px2rem(45px);
    margin-bottom: px2rem(25px);
}
.ui-brandjb-amount{
    font-weight: bold;
    font-size: px2rem(80px);
    color: #db4d36;
    line-height: px2rem(80px);
}
.ui-brandjb-note{
    font-size: px2rem(24px);
    line-height: px2rem(40px);
}
.ui-brandjb-button{
    display: block;
    margin: px2rem(35px) auto 0;
    width: px2rem(296px);
    height: px2rem(88px);
    line-height: px2rem(88px);
    color: #fff;
    font-size: px2rem(30px);
    border-radius: px2rem(10px);
    background-color: #db4d36;
}
.ui-brandjb-buttoned{
    margin: px2rem(35px) auto 0;
    width: px2rem(296px);
    height: px2rem(88px);
    line-height: px2rem(88px);
    color: #fff;
    font-size: px2rem(30px);
    border-radius: px2rem(10px);
    background-color: #b2b2b2;
}
.ui-mycard{
    margin: px2rem(60px) auto 0;
    width: px2rem(435px);
    height: px2rem(40px);
    background: url(/styles/images/topic/brand1018/mobile/jbloan.png) no-repeat 0 px2rem(-260px);
    background-size: px2rem(610px) px2rem(300px);
}
.ui-rule{
    font-size: px2rem(28px);
    color: #f1c5c0;
    margin-top: px2rem(60px);
}
.ui-rule-title{
    text-align: center;
    font-size: px2rem(36px);
    line-height: px2rem(45px);
    margin-bottom: px2rem(25px);
}
.ui-rule-list{

}
.ui-rule-list-item{
    margin-bottom: px2rem(25px);
    line-height: px2rem(48px);
    a{
        color: #fff;
    }
}
.ui-brandps{
    margin-top: px2rem(60px);
    text-align: center;
    font-size: px2rem(20px);
    color: #f1c5c0;
}




