@charset "UTF-8";
// Core variables and mixins
@import "../base/mobileVariables";
@import "../base/bs/mobilemixins";


// Reset and dependencies
@import "../base/bs/normalize";
@import "../base/bs/print";

// Core CSS
@import "../base/bs/scaffolding";
@import "../base/bs/type";
@import "../base/bs/forms";
@import "../base/bs/buttons";
@import "../base/bs/mobile-grid";

@import "../base/bs/mobilenav";
@import "../base/bs/progress-bars";
@import "../base/bs/thumbnails";
@import "../base/bs/dropdowns";

@import '../base/utils';
@import '../base/mreset';
@import "../mod/dialog";

@import '../base/mobileUtils';

//clearfix
@mixin clearfix {
  *zoom: 1;
  &:before, &:after {
    content: '\20';
    display: table;
    height:0;
    overflow:hidden;
  }
  &:after {
    clear: both;
  }
}
.clearfix{
  @include clearfix;
}

.clear{
  display:table;
  height:0;
  overflow:hidden;
  clear:both;
  line-height:0;
}

#cnzz_stat_icon_1254402620{
    display:none;
}
.contant {
    position:relative;
    overflow:hidden;
    width:100%;
    webkit-transform-origin:left bottom;
    transform-origin:left bottom;
    background:#24292c;
    .slide {
        position:absolute;
    }
    .share-wrap {
        display:none;
        position:absolute;
        top:0px;
        left:0px;
        z-index:20;
        width:100%;
        height:100%;
        background:rgba(0,0,0,0.7) url(/styles/images/topic/qipashuo/qps-meng.png) left top no-repeat;
        background-size:contain;
    }
    .mod-wrap{
        overflow:hidden;
        position:relative;
        .zindex {
            position:relative;
            z-index:10;
        }
        .turn {
            width:100%;
            height:pxToRem(50px);
            position:absolute;
            z-index:6;
            bottom:pxToRem(50px);
            .bg{
                position:absolute;
                left:50%;
                margin-left:pxToRem(-25px);
                width:pxToRem(54px);
                height:pxToRem(50px);
                overflow:hidden;
                img{
                    width:100%;
                    height:100%;
                    margin-top:pxToRem(-50px);
                    opacity:0;
                    -webkit-animation:motion 1s linear infinite;
                    -moz-animation:motion 1s linear infinite;
                    -ms-animation:motion 1s linear infinite;
                    -o-animation:motion 1s linear infinite;
                    animation:motion 1s linear infinite;
                    @at-root {
                        @-webkit-keyframes motion{
                            0% {
                                margin-top:pxToRem(-50px);
                                 opacity:0;
                            }
                             33% {
                                margin-top:pxToRem(-31px);
                                 opacity:1;
                            }
                             66% {
                                margin-top:pxToRem(-14px);
                                opacity:0;
                            }
                            100% {
                                 margin-top:pxToRem(0px);
                                 opacity:1;
                            }

                        }
                        @-moz-keyframes motion{
                            0% {
                                margin-top:pxToRem(-50px);
                                 opacity:0;
                            }
                             33% {
                                margin-top:pxToRem(-31px);
                                 opacity:1;
                            }
                             66% {
                                margin-top:pxToRem(-14px);
                                opacity:0;
                            }
                            100% {
                                 margin-top:pxToRem(0px);
                                 opacity:1;
                            }

                        }
                        @-o-keyframes motion{
                            0% {
                                margin-top:pxToRem(-50px);
                                 opacity:0;
                            }
                             33% {
                                margin-top:pxToRem(-31px);
                                 opacity:1;
                            }
                             66% {
                                margin-top:pxToRem(-14px);
                                opacity:0;
                            }
                            100% {
                                 margin-top:pxToRem(0px);
                                 opacity:1;
                            }

                        }
                        @-ms-keyframes motion{
                            0% {
                                margin-top:pxToRem(-50px);
                                 opacity:0;
                            }
                             33% {
                                margin-top:pxToRem(-31px);
                                 opacity:1;
                            }
                             66% {
                                margin-top:pxToRem(-14px);
                                opacity:0;
                            }
                            100% {
                                 margin-top:pxToRem(0px);
                                 opacity:1;
                            }

                        }
                        @keyframes motion{
                            0% {
                                margin-top:pxToRem(-50px);
                                 opacity:0;
                            }
                             33% {
                                margin-top:pxToRem(-31px);
                                 opacity:1;
                            }
                             66% {
                                margin-top:pxToRem(-14px);
                                opacity:0;
                            }
                            100% {
                                 margin-top:pxToRem(0px);
                                 opacity:1;
                            }

                        }
                    }

                }
            }
        }
        .share {
            margin:0px auto;
            margin-top:pxToRem(15px);
            width:pxToRem(265px);
            height:pxToRem(46px);
            line-height:pxToRem(35px);
            border:pxToRem(2px) solid #44b69b;
            border-radius:pxToRem(46px);
            padding-left:pxToRem(22px);
            padding-top:pxToRem(5px);
            font-size:pxToRem(24px);
            cursor:pointer;
            a {
                color:#44b69b;
                display:inline-block;
                padding-left:pxToRem(52px);
                margin:0px auto;
                height:pxToRem(36px);
                background:url(/styles/images/topic/qipashuo/qps-share.png) left center no-repeat;
                background-size:contain;
            }
        }
    }
    .ui {
        display:none;
        position:fixed;
        top:50%;
        left:50%;
        padding-left:pxToRem(10px);
        padding-right:pxToRem(10px);
        border-radius:pxToRem(10px);
        background:rgba(0,0,0,0.5);
        color:#ffffff;
        z-index:20;
        line-height:pxToRem(40px);
        font-size:pxToRem(20px);
    }
    .mod-index {
        position:relative;
    }
    .mod-video,.mod-commentlist,.mod-comment {
        background:#24292c;
    }
    .mod-comment {
        position:relative;
    }
}
.mod-index {
    background: url("/styles/images/topic/qipashuo/qpsbanner.png") no-repeat center top;
    background-size: 100% auto;
    .banner{
        position:absolute;
        top:0px;
        height:pxToRem(590px);
        width:100%;
        z-index:5;
        /*-mebkit-transform-origin:center bottom;
        -ms-transform-origin:center bottom;
        -moz-transform-origin:center bottom;
        -o-transform-origin:center bottom;
        transform-origin:center bottom;
        bottom:pxToRem(-40px);

        -webkit-animation:motionturn 5s linear forwards;
        -moz-animation:motionturn 5s linear forwards;
        -o-animation:motionturn 5s linear forwards;
        -ms-animation:motionturn 5s linear forwards;
        animation:motionturn 5s linear forwards;
        @at-root {
            @-webkit-keyframes motionturn{
                0% {
                    -webkit-transform:scale(1);
                }
                75% {
                    -webkit-transform:scale(1.7);
                }
                100% {
                    -webkit-transform:scale(1);
                }

            }
            @-moz-keyframes motionturn{
                0% {
                    -moz-transform:scale(1);
                }
                75% {
                    -moz-transform:scale(1.7);
                }
                100% {
                    -moz-transform:scale(1);
                }

            }
            @-ms-keyframes motionturn{
                0% {
                    -ms-transform:scale(1);
                }
                75% {
                    -ms-transform:scale(1.7);
                }
                100% {
                    -ms-transform:scale(1);
                }

            }
            @-o-keyframes motionturn{
                0% {
                    -o-transform:scale(1);
                }
                75% {
                    -o-transform:scale(1.7);
                }
                100% {
                    -o-transform:scale(1);
                }

            }
            @keyframes motionturn{
                0% {
                    transform:scale(1);
                }
                75% {
                    transform:scale(1.7);
                }
                100% {
                    transform:scale(1);
                }

            }
        }*/
        .sponsor {
            display:block;
            position:relative;
            height:pxToRem(104px);
            z-index:10;
            margin:0px auto;
            margin-top:pxToRem(150px);
            img {
                height:100%;
                display: block;
            }
        }
        .bg {
            width:100%;
            height:pxToRem(662px);
            position:absolute;
            background:#fff;
            top:0px;
        }
    }
    .main {
        position:relative;
        z-index:10;
        margin-top:pxToRem(590px);
        width:100%;
        .word{
            img{
                width:100%;
            }
        }
        .bg {
            position:absolute;
            top:pxToRem(62px);
            left:pxToRem(414px);
            width:pxToRem(80px);
            height:pxToRem(14px);
            overflow:hidden;
            img {
                width:pxToRem(80px);
                height:pxToRem(14px);
                position:absolute;
                top:0px;
                right:pxToRem(76px);
                -webkit-animation:motionpage 3s ease-in-out infinite;
                -moz-animation:motionpage 3s ease-in-out infinite;
                -ms-animation:motionpage 3s ease-in-out infinite;
                 -o-animation:motionpage 3s ease-in-out infinite;
                 animation:motionpage 3s ease-in-out infinite;
                @at-root {
                    @-webkit-keyframes motionpage{
                        0% {
                            right:pxToRem(76px);
                        }
                        90% {
                             right:pxToRem(0px);
                        }
                        100% {
                             right:pxToRem(0px);
                        }

                    }
                    @-moz-keyframes motionpage{
                        0% {
                            right:pxToRem(76px);
                        }
                        90% {
                             right:pxToRem(0px);
                        }
                        100% {
                             right:pxToRem(0px);
                        }

                    }
                    @-ms-keyframes motionpage{
                        0% {
                            right:pxToRem(76px);
                        }
                        90% {
                             right:pxToRem(0px);
                        }
                        100% {
                             right:pxToRem(0px);
                        }

                    }
                    @-o-keyframes motionpage{
                        0% {
                            right:pxToRem(76px);
                        }
                        90% {
                             right:pxToRem(0px);
                        }
                        100% {
                             right:pxToRem(0px);
                        }

                    }
                    @keyframes motionpage{
                        0% {
                            right:pxToRem(76px);
                        }
                        90% {
                             right:pxToRem(0px);
                        }
                        100% {
                             right:pxToRem(0px);
                        }

                    }
                }
            }
        }
    }
}
.mod-video {
    .head {
        background:#f4f5fa url(/styles/images/topic/qipashuo/qps-banner3.png) center bottom no-repeat;
        background-size:contain;
        height:pxToRem(128px);
        span {
            display:inline-block;
            padding-top:pxToRem(8px);
            padding-left:pxToRem(100px);
            font-size:pxToRem(18px);
            color:#24292c;
        }
        .max-width {
             max-width:pxToRem(430px);
        }
        .head-title {
            height:pxToRem(58px);
            margin-left:pxToRem(196px);
            line-height:pxToRem(58px);
            color:#ffffff;
            font-size:pxToRem(24px);
            position:relative;
            background:#ea544a;
            border-radius:pxToRem(10px);
            padding-left:pxToRem(22px);
            padding-right:pxToRem(22px);
            &:after {
                content:"";
                position:absolute;
                bottom:pxToRem(-14px);
                left:pxToRem(22px);
                width:pxToRem(25px);
                height:pxToRem(15px);
                background:url(/styles/images/topic/qipashuo/qpsD.png) left top  no-repeat;
                background-size:contain;
            }
            div {
                height:pxToRem(58px);
                float:left;
                background-size:cover;
            }
            .left {
                height:100%;
                width:pxToRem(22px);
            }
            .title{
                background:url(/styles/images/topic/qipashuo/huaKuangCenter.png) center center repeat;
                text-align:center;
                 position:absolute;
                 white-space: nowrap;
            }

        }
    }
    .video {
        width:pxToRem(586px);
        height:pxToRem(418px);
        border-radius:pxToRem(5px);
        margin:0px auto;
        margin-top:pxToRem(30px);
        background:#24292c;
        overflow: hidden;
        /*background:#24292c url(/styles/images/topic/qipashuo/qpsvideo.jpg) center center no-repeat;
        background-size:100% 80%;*/
        .bg {
            position:absolute;
            width:pxToRem(586px);
            height:80%;
            top:10%;
            img{
                width:100%;
                height:100%;
            }
        }
        #youkuplayer{
            position:relative;
        }
        a {
            display:inline-block;
            width:pxToRem(586px);
            height:pxToRem(418px);
            background:url(/styles/images/topic/qipashuo/qpsan.png) center center no-repeat;
            background-size:pxToRem(120px);
            position:absolute;
            border:pxToRem(2px) solid #b5e0f5;
            z-index:5;
        }
    }
    .video-wrap {
       .turn {
           bottom:pxToRem(-60px);
       }
    }

}
.mod-commentlist {
    padding-top:pxToRem(70px);
    .banner {
        width:100%;
        height:pxToRem(314px);
        img{
            width:100%;
            height:100%;
        }
    }
    .title {
        color:#ffffff;
        font-size:pxToRem(22px);
        text-align:center;
        line-height:pxToRem(36px);
    }
    .text {
        width:pxToRem(564px);
        margin:0px auto;
        padding-top:pxToRem(10px);
        textarea {
            font-size:pxToRem(24px);
            background:#ffffff;
            height:pxToRem(182px);
            width:pxToRem(564px);
            border-radius:pxToRem(5px);
            padding:pxToRem(10px);
            overflow-y:hidden;
        }
        .btn {
            padding:0px;
            margin-top:pxToRem(14px);
            width:100%;
            height:pxToRem(60px);
            background:#ea544a;
            color:#ffffff;
            text-align:center;
            line-height:pxToRem(60px);
            border-radius:pxToRem(5px);
            font-size:pxToRem(28px);
        }
    }
}
.mod-comment {
    padding-top:pxToRem(10px);
    .banner {
        width:100%;
        height:pxToRem(50px);
        position:absolute;
        z-index:100;
        top:pxToRem(10px);
        background:#24292c;
        img{
            width:100%;
             height:pxToRem(170px);
        }
        .title {
            border:pxToRem(2px) solid #46bfa2;
            border-radius:pxToRem(5px);
            overflow:hidden;
            width:pxToRem(566px);
            margin:0px auto;
            background:#24292c;
            a {
                width:pxToRem(280px);
                float:left;
                color:#46bfa2;
                font-size:pxToRem(22px);
                background:transparent;
                text-align:center;
                height:pxToRem(50px);
                line-height:pxToRem(50px);
                text-decoration: none;
            }
            .active {
                background:#46bfa2;
                color:#ffffff;
            }
            .right {
                float:right;
            }
        }
    }
    .main {
        width:pxToRem(566px);
        margin:0px auto;
        margin-top:pxToRem(16px);
        .regain {
            display:none;
            position:fixed;
            height:pxToRem(70px);
            font-weight:normal;
            width:100%;
            background:#24292c;
            color:#ffffff;
            font-size:pxToRem(30px);
            text-align:center;
            line-height:pxToRem(70px);
            bottom:0px;
            left:0px;
            .regain-wrap {
                border-radius:pxToRem(10px);
                height:100%;
                width:100%;
                background:rgba(137,138,137,0.5);
                box-shadow:0px 0px 20px rgba(68,182,188,0.5);
            }
        }
        .list {
            position:relative;
            padding-top:pxToRem(50px);
            padding-bottom:pxToRem(80px);
            .comment-slide {
                top:0px;
            }
            .com-wrap{
                display:none;
            }
            .show{
                display:block;
            }
            li {
                padding-top:pxToRem(22px);
                padding-bottom:pxToRem(22px);
                border-bottom:pxToRem(2px) solid #909090;
            }
            .detail {
                float:right;
                width:pxToRem(496px);
                padding-left:pxToRem(20px);
                font-size:pxToRem(24px);
                color:#888888;
                .info {
                    color:#449687;
                }
                .comment {
                     width:pxToRem(476px);
                     word-wrap:break-word;
                }
                .clearfix {
                    padding-top:pxToRem(24px);
                }
                .time {
                    float:left;
                    font-size:pxToRem(18px);
                }
                a.praise {
                    float:right;
                    em {
                        display:inline-block;
                        height:pxToRem(20px);
                        float:left;
                        width:pxToRem(24px);
                        background:url(/styles/images/topic/qipashuo/qps-zan2.png) left bottom no-repeat;
                        background-size:contain;
                    }
                    &:hover em{
                        background:url(/styles/images/topic/qipashuo/qps-zan1.png) left bottom no-repeat;
                        background-size:contain;
                    }
                    span{
                        display:none;
                    }
                    i{
                        color:#ea544a;
                        padding-left:pxToRem(12px);
                        float:left;
                        font-style:normal;
                        font-size:pxToRem(18px);
                        line-height:pxToRem(20px);
                    }
                }
            }
            .face {
                width:pxToRem(70px);
                height:pxToRem(70px);
                border:pxToRem(4px) solid #ffffff;
                border-radius:50%;
                overflow:hidden;
                float:left;
                img {
                    width:pxToRem(62px);
                    height:pxToRem(62px);
                }
            }
        }
    }
}

#lightbox_wrap {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.75;
    filter: alpha(opacity=75);
    -ms-filter: alpha(opacity=75);
    z-index: 31;
}
.qps_dialog{
    width:pxToRem(584px);
    //height:pxToRem(600px);
    border-radius:pxToRem(30px);
    position: absolute;
    display:none;
    .content{
        padding-top:pxToRem(66px);
        padding-right:pxToRem(54px);
        padding-bottom:pxToRem(42px);
        padding-left:pxToRem(54px);
        background:#fff;
        .tip{
            text-align:center;
            font-size:pxToRem(30px);
        }
    }
    .closed{
        position:absolute;
        top:pxToRem(23px);
        right:pxToRem(24px);
        width:pxToRem(43px);
        height:pxToRem(43px);
        img{
            width:pxToRem(43px);
            height:pxToRem(43px);
        }
    }
    .qps_gift{
        padding-top:pxToRem(25px);
    }
    .giftlist{
        width:pxToRem(476px);
        height:pxToRem(324px);
        position:relative;
        li{
            position: absolute;
            width:pxToRem(135px);
            height:pxToRem(135px);
            border:1px solid #ccc;
            overflow:hidden;
            img{
                width:pxToRem(135px);
                height:pxToRem(135px);
            }
        }
        li.active{
            border-color:#f2938d;
        }
        .list1{
            left:pxToRem(0px);
            top:pxToRem(0px);
        }
        .list2{
            left:pxToRem(169px);
            top:pxToRem(0px);
        }
        .list3{
            left:pxToRem(339px);
            top:pxToRem(0px);
        }
        .list6{
            left:pxToRem(0px);
            top:pxToRem(187px);
        }
        .list5{
            left:pxToRem(169px);
            top:pxToRem(187px);
        }
        .list4{
            left:pxToRem(339px);
            top:pxToRem(187px);
        }
    }
    .lucky{
        padding-top:pxToRem(40px);
        a,img{
            display:block;
            width:pxToRem(330px);
            height:pxToRem(102px);
            margin:0 auto;
        }

    }
    .qps_win{
        .what{
            padding-top:pxToRem(35px);
            padding-bottom:pxToRem(25px);
        }
        .gift{
            width:pxToRem(135px);
            height:pxToRem(135px);
            border:1px solid #f2938d;
            margin:0 auto;
            overflow:hidden;
            img{
                width:pxToRem(135px);
                height:pxToRem(135px);
            }
        }
        .tip1{
            line-height:pxToRem(48px);
            font-size:pxToRem(36px);
            text-align:center;
            color:#ea544a;
            font-weight:bold;
        }
        .tip2{
            line-height:pxToRem(70px);
            font-size:pxToRem(50px);
            text-align:center;
            color:#787878;
            font-weight:bold;
        }
        .btnbox{
            padding-top:pxToRem(34px);
            .subShare{
                display:block;
                width:pxToRem(330px);
                height:pxToRem(102px);
                background-color:#ea544a;
                color:#fff;
                font-size:pxToRem(42px);
                text-align:center;
                margin:0 auto;
                border-radius:pxToRem(10px);
                line-height:pxToRem(102px);
                font-weight:bold;
                border:none;
            }
        }
        .phone{
            padding-top:pxToRem(10px);
            padding-bottom:pxToRem(10px);
            p{
                height:pxToRem(50px);
                line-height:pxToRem(50px);
                font-size:pxToRem(30px);
            }
            input{
                border:1px solid #ccc;
                background:#fff;
                height:pxToRem(60px);
                line-height:pxToRem(60px);
                width:98%;
                font-size:pxToRem(30px);
            }
        }
    }
}