@Fcharset "UTF-8";
@import '../base/mobileUtils';
@import '../base/utils'; 
@import '../base/mreset';
@import '../base/mobileGrid';
@import '../mod/dialog'; 
@import '../inc/m_ui';
@import '../inc/footer-mobile';

body{
    background: #f77400;
    padding-top: px2rem(30px);
}
.ui-section{
    width: px2rem(750px);
    margin: 0 auto;
}
.ui-card{
    margin: px2rem(70px) px2rem(20px) px2rem(55px);
    padding: px2rem(20px) 0 px2rem(1px);
    background: #2888e0 url(/styles/images/topic/financial/mobile/bg_cooperation.png) no-repeat 0 0;
    background-size: px2rem(710px) px2rem(100px);
}
.ui-financial-title{
    font-size: px2rem(40px);
    color: #fff;
    line-height: px2rem(37px);
    text-align: center;
}
.ui-financial-note{
    font-size: px2rem(20px);
    color: #fff;
    text-align: center;
    line-height: px2rem(50px);
}
.ui-icons-fire{
    display: inline-block;
    margin-right: px2rem(15px); 
    width: px2rem(24px);
    height: px2rem(37px);
    vertical-align: bottom;
    background: url(/styles/images/topic/financial/mobile/icons.png) no-repeat px2rem(-158px) px2rem(-69px);
    background-size: px2rem(400px) px2rem(400px);    
}
.ui-back{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #9e4910;
    height: px2rem(70px);
    z-index: 99;
}
.ui-icons-back{
    float: left;
    width: px2rem(20px);
    height: px2rem(35px);
    margin: px2rem(17px);
    background: url(/styles/images/topic/financial/mobile/icons.png) no-repeat px2rem(-285px) 0;
    background-size: px2rem(400px) px2rem(400px);
}
.ui-back-history{
    float: left;
    width: px2rem(150px);
    font-size: px2rem(30px);
    color: #fff;
    line-height: px2rem(70px);
}
.ui-back-title{
    margin: 0 px2rem(150px);
    font-size: px2rem(30px);
    color: #fff;
    line-height: px2rem(70px);
    text-align: center;
}
.ui-hotplat{
    margin: px2rem(70px) px2rem(20px) px2rem(55px);
    padding: px2rem(20px) 0 px2rem(1px);
    background: #8f2bef url(/styles/images/topic/financial/mobile/bg_hotplatform.png) no-repeat 0 0;
    background-size: px2rem(710px) px2rem(100px);
}
.ui-hotplatform-list{
    padding: 0 px2rem(8px) px2rem(20px);
}
.ui-hotplatform-item{
    float: left;
    width: px2rem(210px);
    height: px2rem(265px);
    overflow: hidden;
    padding-bottom: px2rem(20px);
    margin: px2rem(20px) px2rem(10px) 0;
    background-color: #fff;
    a{
        display: block;
    }
}
.ui-hotplatform-item-box{
    margin: px2rem(10px);
    height: px2rem(65px);
    overflow: hidden;
}
.ui-hotplatform-item-logo{
    display: table-cell;
    width: px2rem(190px);
    height: px2rem(65px);
    vertical-align: middle;
    text-align: center;
    img{
        max-width: px2rem(190px);
        max-height: px2rem(65px);
    }
}
.ui-hotplatform-item-bg{
    height: px2rem(45px);
    text-align: center;
    overflow: hidden;
}
.ui-bg-item{
    margin-top: px2rem(10px); 
    display: inline-block;
    padding: px2rem(3px);
    line-height: px2rem(20px);
    border: 1px solid #11aee5;
    color: #11aee5;
    font-size: px2rem(18px);
    border-radius: px2rem(5px);

}
.ui-hotplatform-item-note{
    margin: 0 px2rem(15px);
    line-height: px2rem(36px);
    color: #333;
    font-size: px2rem(18px);
}
.ui-hotplatform-item-rate{
    margin: px2rem(10px) 0;
    color: #f95520;
    font-weight: bold;
    text-align: center;
    height: px2rem(60px);
    line-height: px2rem(60px);
    overflow: hidden;
    span{
        display: inline-block;
        height: px2rem(60px);
        
    }
}
.ui-font-add{
    font-size: px2rem(30px);
    vertical-align: top;
}
.ui-font-50{
    font-size: px2rem(50px);
}
.ui-font-mark{
    font-size: px2rem(30px);
    vertical-align: bottom;
}
.ui-hotplatform-item-tag{
    font-size: px2rem(18px);
    color: #f95520;
    line-height: px2rem(30px);
    text-align: center;
}
.ui-ranking-box{
    text-align: center;
    padding: px2rem(10px) 0;
}
.ui-ranking-btn{
    display: inline-block;
    width: px2rem(232px);
    height: px2rem(61px);
    line-height: px2rem(61px);
    background-color: #ffce00;
    box-shadow: 0 px2rem(7px) 0 #9e4910;
    border-radius: px2rem(8px);
    font-size: px2rem(30px);
    color: #9e4910;
    text-align: center;
    font-weight: 500;
}