@charset "UTF-8";
@Fcharset "UTF-8";
.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: '\20';
    display: table;
    height: 0;
    overflow: hidden; }
  .clearfix:after {
    clear: both; }

.clear {
  display: table;
  height: 0;
  overflow: hidden;
  clear: both;
  line-height: 0; }

.spacpce-form-list {
  padding-top: 10px; }

.spacpce-form-left {
  display: block;
  float: left;
  padding-left: 50px;
  height: 36px;
  line-height: 36px;
  width: 100px;
  font-size: 14px;
  color: #666; }

.spacpce-form-center {
  float: left; }

.spacpce-form-input-value {
  display: block;
  float: left;
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  font-weight: bold;
  color: #666; }

.spacpce-form-input {
  display: block;
  float: left;
  width: 278px;
  padding: 0 10px;
  height: 34px;
  line-height: 34px;
  font-size: 14px;
  color: #333;
  border: 1px solid #e8e8e8;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

.spacpce-form-input-m {
  width: 150px; }

.spacpce-form-input-btn {
  display: block;
  float: left;
  height: 36px;
  width: 110px;
  line-height: 36px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-left: 20px;
  font-size: 14px;
  color: #fff;
  background-color: #0080cc;
  text-align: center;
  cursor: pointer;
  transition: all .2s ease-in-out; }

.spacpce-form-input-btn:hover {
  background-color: #0070bc; }

.spacpce-form-input-btn.disabled {
  background-color: #ccc; }

.spacpce-form-input-link {
  display: block;
  float: left;
  margin-left: 20px;
  height: 36px;
  line-height: 36px; }

.spacpce-form-error {
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  color: #ea544a; }

.spacpce-form-error span {
  display: none; }

.spacpce-form-error i {
  display: block;
  width: 14px;
  height: 12px;
  margin: 3px 3px 0 0;
  float: left;
  background: url(/styles/images/member/icon.png);
  background-position: -318px -52px; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
    .spacpce-form-error i {
      background: transparent url("/styles/images/member/icon.png") 0px 0px no-repeat;
      background-size: 550px 140px; } }
  @media only screen and (min--moz-device-pixel-ratio: 1.5) {
    .spacpce-form-error i {
      background: transparent url("/styles/images/member/icon.png") 0px 0px no-repeat;
      background-size: 550px 140px; } }
  @media only screen and (min-device-pixel-ratio: 1.5) {
    .spacpce-form-error i {
      background: transparent url("/styles/images/member/icon.png") 0px 0px no-repeat;
      background-size: 550px 140px; } }
  @media only screen and (-o-min-device-pixel-ratio: 3 / 2) {
    .spacpce-form-error i {
      background: transparent url("/styles/images/member/icon.png") 0px 0px no-repeat;
      background-size: 550px 140px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
    .spacpce-form-error i {
      background-position: -318px -80px; } }
  @media only screen and (min--moz-device-pixel-ratio: 1.5) {
    .spacpce-form-error i {
      background-position: -318px -80px; } }
  @media only screen and (min-device-pixel-ratio: 1.5) {
    .spacpce-form-error i {
      background-position: -318px -80px; } }
  @media only screen and (-o-min-device-pixel-ratio: 3 / 2) {
    .spacpce-form-error i {
      background-position: -318px -80px; } }

.spacpce-form-submit {
  height: 34px;
  width: 90px;
  line-height: 32px;
  border: 1px solid #0080cc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 14px;
  color: #0080cc;
  text-align: center;
  margin: 10px 0 0 200px;
  background-color: transparent;
  transition: all .2s ease-in-out;
  cursor: pointer; }

.spacpce-form-submit:hover {
  background-color: #0080cc;
  color: #fff; }

.spacpce-form-submit.disabled {
  border-color: #ccc;
  color: #fff;
  background-color: #ccc; }

/*!
 * Reset
 */
html {
  color: #454545;
  background: #f0f0f0;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  margin: 0;
  padding: 0;
  font-family: 'PingFang SC', 'PingFang TC', 'Noto Sans CJK SC', 'Noto Sans CJK TC', 'Microsoft YaHei', Helvetica, Arial; }

audio, canvas, video {
  display: inline-block; }

input, select, textarea {
  font-size: 1rem; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

th {
  text-align: inherit; }

fieldset, img {
  border: none; }

img {
  border: none; }

iframe {
  display: block; }

abbr, acronym {
  border: 0;
  font-variant: normal; }

del {
  text-decoration: line-through; }

address, caption, cite, code, dfn, em, th, var {
  font-style: normal;
  font-weight: 500; }

ol, ul, li {
  list-style: none; }

q:before, q:after {
  content: ''; }

sub, sup {
  font-size: 0.75rem;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

a:hover {
  text-decoration: underline; }

ins, a {
  text-decoration: none; }

textarea {
  resize: none;
  overflow: auto; }

input, textarea {
  outline: none; }

a {
  color: #0081cb;
  outline: none; }

input[type="button"], input[type="submit"], input[type="reset"] {
  -webkit-appearance: none;
  border-radius: none; }

textarea {
  -webkit-appearance: none; }

@media screen {
  .qt-col {
    display: table;
    width: 100%; }

  .qt-col1 {
    float: left;
    width: 20%; }

  .qt-col2 {
    float: right;
    width: 20%; }

  .qt-col3 {
    width: auto;
    margin: 0 20%; }

  .qt-cbox {
    padding: 0 10px; }

  .qt-cbox-left {
    padding: 0 10px 0 0; }

  .qt-cbox-right {
    padding: 0 0 0 10px; }

  /**
  * @ Grid Module
  */
  .qt-grid {
    display: table;
    width: 100%;
    table-layout: fixed;
    list-style-type: none;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0; }

  .qt-flow {
    display: block;
    clear: both;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    max-width: 1200px; }

  .qt-gl {
    float: left;
    margin: 0; }

  .qt-gr {
    float: right;
    margin: 0 0 0 -5px; }

  .qt-por {
    position: relative; }

  .qt-g10 {
    width: 10%; }

  .qt-g16 {
    width: 16%; }

  .qt-g20 {
    width: 20%; }

  .qt-g40 {
    width: 40%; }

  .qt-g60 {
    width: 60%; }

  .qt-g80 {
    width: 80%; }

  .qt-g24 {
    width: 24%; }

  .qt-g25 {
    width: 25%; }

  .qt-g30 {
    width: 30%; }

  .qt-g33 {
    width: 33.333%; }

  .qt-g50 {
    width: 50%; }

  .qt-g66 {
    width: 66.666%; }

  .qt-g65 {
    width: 65%; }

  .qt-g75 {
    width: 75%; }

  .qt-g38 {
    width: 38.2%; }

  .qt-g62 {
    width: 61.8%; }

  .qt-g84 {
    width: 84%; }

  .qt-g90 {
    width: 89.99%; }

  /*等高*/
  .qt-eqh {
    overflow: hidden; }

  /*等高元素*/
  .qt-eqh .qt-eqh-item {
    padding-bottom: 10000px;
    margin-bottom: -10000px;
    *padding-bottom: 0px;
    *margin-bottom: 0px; } }
.qt-w {
  margin: 0 auto;
  width: 1200px; }

.qt-pr {
  position: relative; }

.qt-pa {
  position: absolute; }

.qt-m {
  width: 100%; }

.qt-pr20 {
  padding-right: 20px; }

.qt-pt0 {
  padding-top: 0 !important; }

.qt-pt10 {
  padding-top: 10px; }

.qt-pt15 {
  padding-top: 15px; }

.qt-pt20 {
  padding-top: 20px; }

.qt-pt25 {
  padding-top: 25px; }

.qt-pt30 {
  padding-top: 30px; }

.qt-pt35 {
  padding-top: 35px; }

.qt-pt40 {
  padding-top: 40px; }

.qt-pt45 {
  padding-top: 45px; }

.qt-pr0 {
  padding-right: 0 !important; }

.qt-pr10 {
  padding-right: 10px; }

.qt-pr15 {
  padding-right: 15px; }

.qt-pr20 {
  padding-right: 20px; }

.qt-pr25 {
  padding-right: 25px; }

.qt-pr30 {
  padding-right: 30px; }

.qt-pr35 {
  padding-right: 35px; }

.qt-pr40 {
  padding-right: 40px; }

.qt-pr45 {
  padding-right: 45px; }

.qt-pb0 {
  padding-bottom: 0 !important; }

.qt-pb10 {
  padding-bottom: 10px; }

.qt-pb15 {
  padding-bottom: 15px; }

.qt-pb20 {
  padding-bottom: 20px; }

.qt-pb25 {
  padding-bottom: 25px; }

.qt-pb30 {
  padding-bottom: 30px; }

.qt-pb35 {
  padding-bottom: 35px; }

.qt-pb40 {
  padding-bottom: 40px; }

.qt-pb45 {
  padding-bottom: 45px; }

.qt-pl0 {
  padding-left: 0 !important; }

.qt-pl10 {
  padding-left: 10px; }

.qt-pl15 {
  padding-left: 15px; }

.qt-pl20 {
  padding-left: 20px; }

.qt-pl25 {
  padding-left: 25px; }

.qt-pl30 {
  padding-left: 30px; }

.qt-pl35 {
  padding-left: 35px; }

.qt-pl40 {
  padding-left: 40px; }

.qt-pl45 {
  padding-left: 45px; }

.qt-mt5 {
  margin-top: 5px; }

.qt-mt10 {
  margin-top: 10px; }

.qt-mt15 {
  margin-top: 15px; }

.qt-mt20 {
  margin-top: 20px; }

.qt-mt22 {
  margin-top: 22px; }

.qt-mt25 {
  margin-top: 25px; }

.qt-mt30 {
  margin-top: 30px; }

.qt-mt35 {
  margin-top: 35px; }

.qt-mt40 {
  margin-top: 40px; }

.qt-mt45 {
  margin-top: 45px; }

.qt-mt50 {
  margin-top: 50px; }

.qt-mr5 {
  margin-right: 5px; }

.qt-mr10 {
  margin-right: 10px; }

.qt-mr15 {
  margin-right: 15px; }

.qt-mr20 {
  margin-right: 20px; }

.qt-mr22 {
  margin-right: 22px; }

.qt-mr25 {
  margin-right: 25px; }

.qt-mr30 {
  margin-right: 30px; }

.qt-mr35 {
  margin-right: 35px; }

.qt-mr40 {
  margin-right: 40px; }

.qt-mr45 {
  margin-right: 45px; }

.qt-mr50 {
  margin-right: 50px; }

.qt-mb5 {
  margin-bottom: 5px; }

.qt-mb10 {
  margin-bottom: 10px; }

.qt-mb15 {
  margin-bottom: 15px; }

.qt-mb20 {
  margin-bottom: 20px; }

.qt-mb22 {
  margin-bottom: 22px; }

.qt-mb25 {
  margin-bottom: 25px; }

.qt-mb30 {
  margin-bottom: 30px; }

.qt-mb35 {
  margin-bottom: 35px; }

.qt-mb40 {
  margin-bottom: 40px; }

.qt-mb45 {
  margin-bottom: 45px; }

.qt-mb50 {
  margin-bottom: 50px; }

.qt-ml5 {
  margin-left: 5px; }

.qt-ml10 {
  margin-left: 10px; }

.qt-ml15 {
  margin-left: 15px; }

.qt-ml20 {
  margin-left: 20px; }

.qt-ml22 {
  margin-left: 22px; }

.qt-ml25 {
  margin-left: 25px; }

.qt-ml30 {
  margin-left: 30px; }

.qt-ml35 {
  margin-left: 35px; }

.qt-ml40 {
  margin-left: 40px; }

.qt-ml45 {
  margin-left: 45px; }

.qt-ml50 {
  margin-left: 50px; }

.qt-flowhidden {
  overflow: hidden; }

#lightbox_wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.75;
  filter: alpha(opacity=75);
  -ms-filter: alpha(opacity=75);
  z-index: 998; }

.qt-white {
  background-color: #fff;
  border-radius: 2px; }

.main {
  width: 100%;
  float: left; }
  .main .wrap {
    margin-right: 420px;
    position: relative;
    padding-top: 51px; }

.sub {
  width: 390px;
  float: left;
  margin-left: -390px; }

.mod-userinfo {
  height: 72px;
  line-height: 72px;
  overflow: hidden; }
  .mod-userinfo .qt-gl {
    font-size: 14px;
    color: #383838; }
    .mod-userinfo .qt-gl span {
      font-size: 30px;
      color: #383838;
      font-family: Micorsoft YaHei;
      line-height: 72px;
      font-weight: bold;
      margin-right: 10px; }
  .mod-userinfo .ui-follow {
    float: left;
    margin-left: 20px;
    margin-top: 21px; }

.mod-sbox {
  background: #fff; }
  .mod-sbox .hd {
    height: 40px;
    line-height: 40px;
    background: #faf9f9;
    font-size: 16px;
    padding: 0 22px;
    border-left: 5px solid #0080cc;
    color: #383838;
    border-bottom: 1px solid #ececec; }
    .mod-sbox .hd h3 {
      font-family: Microsoft YaHei;
      display: inline;
      float: left; }
    .mod-sbox .hd a {
      color: #787878;
      font-family: arial;
      float: right;
      font-size: 14px; }

.qt-1920 {
  position: relative;
  overflow: hidden; }

.qt-1920-wrap {
  width: 1920px;
  position: relative;
  left: 50%;
  margin-left: -960px;
  overflow: hidden; }

.page_section {
  min-height: 600px;
  padding-bottom: 50px; }

.nowrap {
  white-space: nowrap;
  word-wrap: normal;
  word-break: normal; }

.mod-leftfixed .sub {
  float: left;
  margin-left: -100%; }
.mod-leftfixed .main {
  float: left;
  width: 100%; }

._logo1 {
  display: block; }

._logo2 {
  display: none; }

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
  ._logo1 {
    display: none; }

  ._logo2 {
    display: block; } }
@media only screen and (min--moz-device-pixel-ratio: 1.5) {
  ._logo1 {
    display: none; }

  ._logo2 {
    display: block; } }
@media only screen and (min-device-pixel-ratio: 1.5) {
  ._logo1 {
    display: none; }

  ._logo2 {
    display: block; } }
@media only screen and (-o-min-device-pixel-ratio: 3 / 2) {
  ._logo1 {
    display: none; }

  ._logo2 {
    display: block; } }
.dialog {
  position: absolute;
  z-index: 999;
  background-color: #fff;
  border-radius: 5px; }

.dialog_title,
.dialog_content,
.dialog_footer {
  padding: 10px 15px; }

.dialog_content {
  padding: 20px 40px;
  color: #787878;
  font-size: 14px; }

.dialog_title {
  font-size: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: relative;
  background-color: #3dbbf9;
  color: #fff;
  font-family: Microsoft YaHei;
  padding: 15px 30px; }

.dialog_title .why {
  font-size: 12px;
  float: right;
  margin-right: 40px;
  line-height: 28px;
  color: #0080cc; }

.dialog_title .why em {
  width: 14px;
  height: 14px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  background: url(/styles/images/common/icons.png) no-repeat -34px -200px;
  vertical-align: top;
  *vertical-align: middle;
  margin-top: 7px;
  *margin-top: 0;
  margin-right: 5px; }

.dialog_title .closebtn {
  position: absolute;
  top: 14px;
  right: 30px;
  width: 31px;
  height: 31px;
  display: block;
  background: url(/styles/images/common/icons.png) no-repeat -115px -107px;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out; }

.dialog_title .closebtn:hover {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  transform: rotate(360deg); }

.newdialog {
  border: 2px solid #f0f0f0; }

.newdialog .dialog_title {
  background-color: #fff;
  color: #7b7b7b;
  font-size: 18px; }

@Fcharset "UTF-8";
.ui-form .ui-item.first {
  border-top: 1px solid #d7d7d7; }
.ui-form .ui-submit-parent {
  border-top: 1px solid #d7d7d7;
  padding-top: 0.8rem; }
.ui-form .ui-item-label {
  width: 0.7733333333rem;
  text-align: center;
  height: 1.1733333333rem;
  line-height: 1.1733333333rem;
  margin-left: -100%; }
.ui-form .ui-item-icon {
  width: 0.3066666667rem;
  height: 0.4rem;
  vertical-align: middle; }
.ui-form .ui-item-text {
  height: 1.1733333333rem;
  width: 100%; }
.ui-form .ui-item-text-wrap {
  padding-left: 0.7733333333rem; }
.ui-form .ui-item-extra {
  float: left;
  width: 2.6666666667rem;
  height: 1.1733333333rem;
  line-height: 1.1733333333rem;
  background: #fff;
  margin-left: -2.6666666667rem; }
.ui-form .ui-input {
  border: none;
  background: #fff;
  height: 1.1733333333rem;
  line-height: 1.1733333333rem;
  font-size: 0.4rem;
  color: #999;
  width: 100%; }
.ui-form .ui-submit {
  background: #2a8ce7;
  height: 1.0666666667rem;
  line-height: 1.0666666667rem;
  color: #fff;
  font-size: 0.48rem;
  text-align: center;
  border-radius: 8px;
  border: none;
  width: 100%; }

@-o-keyframes circle {
  0% {
    -webkit-transform: translateX(0) scale(0);
    transform: translateX(0) scale(0);
    z-index: 3; }
  17% {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    z-index: 3; }
  34% {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    z-index: 3; }
  51% {
    -webkit-transform: translateX(-0.5333333333rem) scale(1);
    transform: translateX(-0.5333333333rem) scale(1);
    z-index: 1; }
  68% {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    z-index: 1; }
  85% {
    -webkit-transform: translateX(0.5333333333rem) scale(1);
    transform: translateX(0.5333333333rem) scale(1);
    z-index: 1; }
  100% {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    z-index: 1; } }
@-moz-keyframes circle {
  0% {
    -webkit-transform: translateX(0) scale(0);
    transform: translateX(0) scale(0);
    z-index: 3; }
  17% {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    z-index: 3; }
  34% {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    z-index: 3; }
  51% {
    -webkit-transform: translateX(-0.5333333333rem) scale(1);
    transform: translateX(-0.5333333333rem) scale(1);
    z-index: 1; }
  68% {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    z-index: 1; }
  85% {
    -webkit-transform: translateX(0.5333333333rem) scale(1);
    transform: translateX(0.5333333333rem) scale(1);
    z-index: 1; }
  100% {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    z-index: 1; } }
@-webkit-keyframes circle {
  0% {
    -webkit-transform: translateX(0) scale(0);
    transform: translateX(0) scale(0);
    z-index: 3; }
  17% {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    z-index: 3; }
  34% {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    z-index: 3; }
  51% {
    -webkit-transform: translateX(-0.5333333333rem) scale(1);
    transform: translateX(-0.5333333333rem) scale(1);
    z-index: 1; }
  68% {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    z-index: 1; }
  85% {
    -webkit-transform: translateX(0.5333333333rem) scale(1);
    transform: translateX(0.5333333333rem) scale(1);
    z-index: 1; }
  100% {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    z-index: 1; } }
@keyframes circle {
  0% {
    -webkit-transform: translateX(0) scale(0);
    transform: translateX(0) scale(0);
    z-index: 3; }
  17% {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    z-index: 3; }
  34% {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    z-index: 3; }
  51% {
    -webkit-transform: translateX(-0.5333333333rem) scale(1);
    transform: translateX(-0.5333333333rem) scale(1);
    z-index: 1; }
  68% {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    z-index: 1; }
  85% {
    -webkit-transform: translateX(0.5333333333rem) scale(1);
    transform: translateX(0.5333333333rem) scale(1);
    z-index: 1; }
  100% {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    z-index: 1; } }
.ui-circle {
  position: absolute; }
  .ui-circle .circle-wrap {
    position: relative; }
  .ui-circle .b-r {
    -webkit-animation: circle 3s linear both infinite;
    -moz-animation: circle 3s linear both infinite;
    -o-animation: circle 3s linear both infinite;
    animation: circle 3s linear both infinite; }
  .ui-circle .b-b {
    -webkit-animation: circle 3s linear both infinite  -1s;
    -moz-animation: circle 3s linear both infinite  -1s;
    -o-animation: circle 3s linear both infinite  -1s;
    -webkit-animation: circle 3s linear both infinite  -1s; }
  .ui-circle .b-y {
    -webkit-animation: circle 3s linear both infinite  -2s;
    -moz-animation: circle 3s linear both infinite  -2s;
    -o-animation: circle 3s linear both infinite  -2s;
    -webkit-animation: circle 3s linear both infinite  -2s; }
  .ui-circle .b-r, .ui-circle .b-b, .ui-circle .b-y {
    width: 0.2rem;
    height: 0.2rem;
    border-radius: 50%;
    background: teal;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -0.0933333333rem;
    background: red; }
  .ui-circle .b-r {
    background: #ff6114;
    z-index: 3; }
  .ui-circle .b-b {
    background: #14d6ff;
    z-index: -1; }
  .ui-circle .b-y {
    background: #ffd200;
    z-index: -1; }

.ui-alert-box {
  position: fixed;
  top: 50%;
  width: 100%;
  text-align: center;
  margin-top: -0.6666666667rem;
  z-index: 9999; }

.ui-alert {
  display: inline-block;
  height: 1.3333333333rem;
  line-height: 1.3333333333rem;
  border-radius: 0.1066666667rem;
  padding: 0 0.4rem;
  color: #fff;
  font-size: 0.4266666667rem;
  background-color: rgba(71, 79, 89, 0.85); }

.shack {
  -moz-animation: shack .1s .5s;
  -webkit-animation: shack .1s .5s;
  -o-animation: shack .1s .5s;
  -ms-animation: shack .1s .5s;
  animation: shack .1s .5s; }

@-ms-keyframes shack {
  0% {
    left: 0px; }
  25% {
    left: 10px; }
  50% {
    left: -5px; }
  75% {
    left: 10px; }
  100% {
    left: 0; } }
@-moz-keyframes shack {
  0% {
    left: 0px; }
  25% {
    left: 10px; }
  50% {
    left: -5px; }
  75% {
    left: 10px; }
  100% {
    left: 0; } }
@-o-keyframes shack {
  0% {
    left: 0px; }
  25% {
    left: 10px; }
  50% {
    left: -5px; }
  75% {
    left: 10px; }
  100% {
    left: 0; } }
@-webkit-keyframes shack {
  0% {
    left: 0px; }
  25% {
    left: 10px; }
  50% {
    left: -5px; }
  75% {
    left: 10px; }
  100% {
    left: 0; } }
@keyframes shack {
  0% {
    left: 0px; }
  25% {
    left: 10px; }
  50% {
    left: -5px; }
  75% {
    left: 10px; }
  100% {
    left: 0; } }
.ui-loading {
  line-height: 1.3333333333rem;
  font-size: 0.3733333333rem;
  text-align: center; }

.ui-backtop {
  display: none;
  position: fixed;
  right: 0.4266666667rem;
  bottom: 2.9333333333rem;
  width: 1.0666666667rem;
  height: 1.0666666667rem;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.6) url(/styles/images/common/mobile/icons.png) no-repeat 0.2666666667rem -0.8666666667rem;
  background-size: 4.7733333333rem 2.7866666667rem;
  z-index: 990; }

.ui-empty img {
  display: block;
  margin: 2.5333333333rem auto 0.1333333333rem; }

.ui-empty-descript {
  color: #bbb;
  font-size: 0.4rem;
  text-align: center; }

.mask-layer {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.45;
  filter: alpha(opacity=45);
  -ms-filter: alpha(opacity=45);
  z-index: 99; }

.ui-loans-prize {
  display: block;
  margin: 1.0666666667rem auto 0;
  width: 3.4666666667rem;
  height: 0.6933333333rem;
  line-height: 0.6933333333rem;
  text-align: center;
  font-size: 0.4266666667rem;
  color: #3492E9;
  border: 0.0266666667rem solid #3492E9;
  border-radius: 0.9866666667rem; }

body, html {
  background: #3e2056; }

body {
  position: relative;
  background: url("/styles/images/topic/bigcarnival/mobile/headtop.png") no-repeat;
  background-size: 100%; }

.top {
  width: 100%;
  height: 7.1733333333rem;
  overflow: hidden; }

.moudle {
  width: 9.4666666667rem;
  margin: 0 auto;
  overflow: hidden; }

.special-money {
  height: 2.7733333333rem;
  margin-top: 4.3733333333rem;
  background: url("/styles/images/topic/bigcarnival/mobile/bggreen.png");
  background-repeat: no-repeat;
  background-size: contain; }
  .special-money .title {
    height: 0.4rem;
    line-height: 0.4rem;
    text-align: center;
    color: #3a3731;
    font-size: 0.3733333333rem;
    font-weight: 800;
    letter-spacing: 0.0133333333rem;
    margin-top: 0.4133333333rem; }
  .special-money .money {
    margin: 0.4rem auto;
    overflow: hidden;
    padding-left: 0.6666666667rem; }
    .special-money .money .moneyhide {
      display: none; }
    .special-money .money span {
      float: left; }
    .special-money .money .comma {
      display: block;
      height: 1.04rem;
      width: 0.4666666667rem;
      font-weight: 900;
      font-size: 0.6666666667rem;
      line-height: 1.04rem;
      color: #3a3731; }
    .special-money .money .money-list {
      width: 0.7066666667rem;
      height: 1.04rem;
      display: block;
      background: #3a3731;
      text-align: center;
      line-height: 1.04rem;
      color: #ffffff;
      font-size: 0.6666666667rem;
      border-radius: 0.1333333333rem;
      margin-right: 0.1333333333rem; }

.rule {
  height: 2.0533333333rem;
  background: url("/styles/images/topic/bigcarnival/mobile/bgblack.png") no-repeat;
  background-size: contain; }
  .rule .rule-explain {
    width: 8.1333333333rem;
    padding: 0.2666666667rem 0.6666666667rem 0 0.6666666667rem;
    font-size: 0.2933333333rem;
    color: #ffffff; }
    .rule .rule-explain span {
      color: #eb1440; }

.surprised {
  height: 5.3333333333rem;
  background: url("/styles/images/topic/bigcarnival/mobile/h5hdend.png") no-repeat;
  background-size: contain;
  overflow: hidden; }
  .surprised .surprised-pic {
    display: block;
    position: absolute;
    width: 1.2533333333rem;
    height: 1.0266666667rem;
    background: url("/styles/images/topic/bigcarnival/mobile/jx.png") no-repeat;
    background-size: contain;
    top: 0;
    left: 0.2666666667rem; }
  .surprised .surprised-content {
    width: 7.16rem;
    height: 0.4666666667rem;
    margin-left: 1.8rem;
    margin-top: 0.4rem; }
    .surprised .surprised-content .surprised-title {
      float: left;
      width: 5.4666666667rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
      .surprised .surprised-content .surprised-title .surprised-title-name {
        font-size: 0.4rem;
        color: #383838;
        font-weight: 800;
        text-decoration: none; }
    .surprised .surprised-content .ongoing {
      float: left;
      height: 0.4666666667rem;
      line-height: 0.4666666667rem;
      background: #07a337;
      border-radius: 0.1333333333rem;
      font-size: 0.24rem;
      color: #ffffff;
      padding-left: 0.1333333333rem;
      padding-right: 0.1333333333rem; }

.rate-box {
  height: 0.9333333333rem;
  overflow: hidden;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  padding-left: 0.1333333333rem;
  padding-right: 0.1333333333rem; }

.rates-box-item {
  height: 0.8666666667rem;
  float: left; }

.bright {
  border-right: 1px dashed #cecece; }

.rates-list-one {
  padding: 0 0.4rem 0 0.5333333333rem; }
  .rates-list-one .black-rate {
    font-size: 0.48rem;
    color: #383838; }
    .rates-list-one .black-rate .small-rate {
      font-size: 0.2666666667rem;
      color: #383838; }

.rate-title {
  font-size: 0.2666666667rem;
  color: #787878;
  margin-top: 10px; }

.rates-list-two {
  padding: 0 0.3866666667rem; }
  .rates-list-two .red-rate {
    font-size: 0.48rem;
    color: #eb1440; }
    .rates-list-two .red-rate .small-rate {
      font-size: 0.2666666667rem;
      color: #eb1440; }

.rates-list-three {
  padding: 0 0.3866666667rem; }
  .rates-list-three .month-rate {
    font-size: 0.2933333333rem;
    color: #383838;
    padding-top: 0.16rem; }

.rates-list-four {
  padding-left: 0.32rem; }
  .rates-list-four .quota-rate {
    font-size: 0.2133333333rem;
    color: #383838;
    padding-top: 0.2rem; }

.investbtn {
  width: 3.3333333333rem;
  height: 0.8rem;
  display: block;
  margin: 0 auto;
  background: url("/styles/images/topic/bigcarnival/mobile/pcbtn.png") no-repeat;
  background-size: contain;
  line-height: 0.8rem;
  text-align: center;
  font-size: 0.32rem;
  font-weight: 800;
  color: #ffffff;
  text-decoration: none; }

.investbtn:hover {
  text-decoration: none; }

.platetitle {
  height: 1.5733333333rem;
  overflow: hidden; }
  .platetitle .platetitle-box {
    height: 0.7466666667rem;
    margin: 0.4rem auto; }
    .platetitle .platetitle-box .platetitle-left {
      width: 1.0266666667rem;
      height: 0.7466666667rem;
      float: left;
      background: url("/styles/images/topic/bigcarnival/mobile/titleleft.png") no-repeat;
      background-size: contain;
      margin-left: 0.7466666667rem; }
    .platetitle .platetitle-box .platetitle-center {
      width: 5.4666666667rem;
      height: 0.7466666667rem;
      float: left;
      margin-left: 0.24rem;
      margin-right: 0.24rem; }
      .platetitle .platetitle-box .platetitle-center h2 {
        font-size: 0.5333333333rem;
        color: #f4f4f4;
        float: left; }
      .platetitle .platetitle-box .platetitle-center .point {
        float: left;
        width: 0.1866666667rem;
        height: 0.1866666667rem;
        margin-left: 0.1333333333rem;
        margin-right: 0.1333333333rem;
        background: #f4f4f4;
        border-radius: 50%;
        margin-top: 18px; }
    .platetitle .platetitle-box .platetitle-right {
      width: 1.12rem;
      height: 0.7466666667rem;
      float: left;
      background: url("/styles/images/topic/bigcarnival/mobile/titleright.png") no-repeat;
      background-size: contain; }

.eleven {
  height: 4.7066666667rem;
  background: url("/styles/images/topic/bigcarnival/mobile/bluebj.png") no-repeat;
  background-size: contain; }

.double-eleven {
  width: 9.2rem;
  height: 4.4533333333rem;
  margin: 0.1466666667rem auto;
  background: #ffffff;
  position: relative;
  overflow: hidden; }

.context-box {
  overflow: hidden;
  position: relative; }

.context-left {
  float: left;
  position: relative;
  left: 50%; }

.content-info {
  float: left;
  position: relative;
  left: -50%; }

.rate-list {
  width: 6.6666666667rem;
  height: 1.0666666667rem;
  margin-top: 0.2666666667rem;
  margin-left: 1.4rem;
  margin-bottom: 0.2rem;
  overflow: hidden; }

.sign {
  width: 1.0266666667rem;
  height: 0.92rem;
  background: url("/styles/images/topic/bigcarnival/mobile/shuang11.png") no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 20px;
  display: block; }

.context {
  line-height: 0.3733333333rem;
  font-size: 0.24rem;
  padding: 0 8px;
  float: left;
  margin-right: 0.2666666667rem;
  color: #999999;
  border: 1px solid #999999; }

.eleven-content {
  width: 6.2rem;
  margin-top: 0.4rem;
  margin-left: 1.8rem;
  margin-bottom: 0.2666666667rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.surprised-title-name {
  font-size: 0.4rem;
  color: #383838;
  font-weight: 800; }

.risk {
  width: 3rem;
  color: #b1b1b1;
  font-size: 0.2666666667rem;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0.1333333333rem auto; }

.golden-eggs {
  height: 2.44rem;
  margin-bottom: 0.4rem;
  background: url("/styles/images/topic/bigcarnival/mobile/pinkbj.png") no-repeat;
  background-size: contain; }

.golden {
  width: 8.64rem;
  height: 2rem;
  margin: 0.1333333333rem auto;
  background: #ffffff;
  padding-left: 0.56rem;
  padding-top: 0.1733333333rem; }

.golden-left {
  height: 1.7333333333rem;
  float: left; }

.golden-right {
  display: block;
  width: 3.3333333333rem;
  height: 0.9866666667rem;
  line-height: 0.9866666667rem;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  font-size: 0.4rem;
  font-weight: 800;
  float: left;
  margin-left: 0.2666666667rem;
  margin-top: 0.1333333333rem;
  background: url("/styles/images/topic/bigcarnival/mobile/readybtn.png") no-repeat;
  background-size: contain; }

.golden-prompt {
  float: left;
  display: none;
  font-size: 0.4rem;
  margin-top: 0.1333333333rem;
  margin-left: 1.6rem;
  text-decoration: underline; }

.golden-top {
  height: 1.3333333333rem;
  margin-bottom: 0.1066666667rem; }

.egg-numb {
  float: left; }
  .egg-numb h2 {
    font-size: 0.6133333333rem;
    color: #f52938;
    font-weight: 800;
    line-height: 0.88rem; }
  .egg-numb p {
    font-size: 0.4rem;
    color: #f52938; }

.egg-pic {
  float: left;
  margin-left: 0.1866666667rem; }

.everyday {
  float: left;
  font-size: 0.32rem;
  color: #383838; }

.golden-bottom {
  height: 0.4rem; }

.activity {
  height: 11.9333333333rem;
  overflow: hidden; }
  .activity li {
    float: left;
    width: 4.6rem;
    height: 5.8266666667rem; }

.break-egg {
  margin-bottom: 0.2666666667rem;
  margin-right: 0.2666666667rem;
  background: url("/styles/images/topic/bigcarnival/mobile/jinchui.png") no-repeat;
  background-size: contain; }
  .break-egg .break-egg-btn {
    background: url("/styles/images/topic/bigcarnival/mobile/zjdbtn.png") no-repeat;
    background-size: contain; }

.invite {
  margin-bottom: 0.2666666667rem;
  background: url("/styles/images/topic/bigcarnival/mobile/yaoqing.png") no-repeat;
  background-size: contain; }
  .invite .invite-btn {
    background: url("/styles/images/topic/bigcarnival/mobile/yqbtn.png") no-repeat;
    background-size: contain; }

.tigger {
  margin-right: 0.2666666667rem;
  background: url("/styles/images/topic/bigcarnival/mobile/laohuji.png") no-repeat;
  background-size: contain; }
  .tigger .tigger-btn {
    background: url("/styles/images/topic/bigcarnival/mobile/lhjbtn.png") no-repeat;
    background-size: contain; }

.balloon {
  background: url("/styles/images/topic/bigcarnival/mobile/shuangjiaxi.png") no-repeat;
  background-size: contain; }
  .balloon .balloon-btn {
    background: url("/styles/images/topic/bigcarnival/mobile/zqqbtn.png") no-repeat;
    background-size: contain; }

.btn-place {
  display: block;
  width: 3.3466666667rem;
  height: 0.7333333333rem;
  margin-left: 0.6rem;
  margin-top: 4.6rem; }

.prompt {
  height: 1.4666666667rem;
  overflow: hidden;
  margin-top: 0.36rem; }

.my-reward {
  width: 4.56rem;
  height: 1.4666666667rem;
  float: left;
  background: url("/styles/images/topic/bigcarnival/mobile/bottomleft.png") no-repeat;
  background-size: contain; }

.reward {
  width: 4.32rem;
  height: 1.2rem;
  background: #ffffff;
  margin: 0.1333333333rem auto;
  cursor: pointer; }

.strategy-box {
  width: 4.32rem;
  height: 1.2rem;
  background: #ffffff;
  margin: 0.1333333333rem auto;
  cursor: pointer; }

.venture {
  font-size: 0.2666666667rem;
  color: #ffffff;
  text-align: center;
  margin-top: 0.36rem;
  margin-bottom: 0.1333333333rem; }

.strategy {
  float: left;
  margin-left: 0.3466666667rem;
  width: 4.56rem;
  height: 1.4666666667rem;
  background: url("/styles/images/topic/bigcarnival/mobile/bottomright.png") no-repeat;
  background-size: contain; }

.reward-pic {
  display: block;
  float: left;
  width: 0.5066666667rem;
  height: 0.7066666667rem;
  background: url("/styles/images/topic/bigcarnival/mobile/qiandai.jpg") no-repeat;
  background-size: contain;
  margin-right: 20px;
  margin-top: 0.24rem;
  margin-left: 0.9066666667rem; }

.reward-text {
  font-size: 0.4rem;
  color: #d21d3c;
  display: block;
  float: left;
  margin-top: 0.4rem; }

.strategy-pic {
  display: block;
  float: left;
  width: 0.52rem;
  height: 0.6rem;
  background: url("/styles/images/topic/bigcarnival/mobile/shuoming.png") no-repeat;
  background-size: contain;
  margin-right: 20px;
  margin-top: 0.2933333333rem;
  margin-left: 0.5866666667rem; }

.strategy-text {
  font-size: 0.4rem;
  color: #d21d3c;
  display: block;
  float: left;
  margin-top: 0.36rem; }

.pop {
  display: none;
  width: 100%;
  height: 100%;
  background: #000000;
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
  position: absolute;
  z-index: 200;
  top: 0; }

.pop-up {
  display: none;
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  position: absolute;
  top: 2.7333333333rem;
  left: 0;
  right: 0;
  margin: auto;
  width: 8.9333333333rem;
  height: 4.7066666667rem;
  background: url("/styles/images/topic/bigcarnival/mobile/tcbj.png") no-repeat;
  background-size: contain;
  z-index: 10000; }
  .pop-up .hidebtn {
    display: block;
    width: 0.8133333333rem;
    height: 0.8rem;
    background: url("/styles/images/topic/bigcarnival/mobile/tcclose.png") no-repeat;
    background-size: contain;
    margin-top: -4.9333333333rem;
    float: right;
    margin-right: -0.2666666667rem; }

.pop-box {
  width: 8.6266666667rem;
  height: 4.4533333333rem;
  margin: 0.16rem auto;
  background: #ffffff;
  overflow: hidden; }

.pop-title {
  text-align: center;
  height: 0.5066666667rem;
  line-height: 0.5066666667rem;
  margin: 0 auto;
  font-size: 0.48rem;
  color: #383838;
  font-weight: 800;
  padding-top: 0.6133333333rem; }

.income {
  font-size: 0.6666666667rem;
  color: #ee0a3b;
  text-align: center;
  margin: 0 auto;
  font-weight: 800;
  padding-top: 0.4666666667rem; }

.illustrate {
  height: 1.2rem;
  padding-left: 0.4rem;
  padding-right: 0.28rem;
  padding-top: 0.28rem; }
  .illustrate p {
    font-size: 0.3066666667rem;
    color: #787878;
    padding-top: 0.08rem; }

.pop-invite {
  display: none;
  width: 8.3066666667rem;
  height: 8.8rem;
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  position: absolute;
  top: 0.96rem;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 10000; }

.know {
  display: block;
  margin-left: 1rem;
  width: 2.0266666667rem;
  height: 1.12rem;
  background: url("/styles/images/topic/bigcarnival/mobile/zhenzhidao.png") no-repeat;
  background-size: contain; }

.stance-pic {
  width: 9.4666666667rem;
  height: 3.5466666667rem;
  background: url("/styles/images/topic/bigcarnival/mobile/h5zwt.png") no-repeat;
  background-size: contain; }

.return {
  display: block;
  width: 2.2666666667rem;
  height: 0.5466666667rem;
  position: absolute;
  top: 0.2666666667rem;
  left: 0.1733333333rem;
  font-size: 0.32rem;
  font-weight: 800;
  text-indent: 0.4666666667rem;
  color: #ffffff;
  text-decoration: none;
  line-height: 0.5466666667rem;
  background: url("/styles/images/topic/bigcarnival/mobile/return.png") no-repeat;
  background-size: contain; }

.ui-laons-empty {
  width: 4.7066666667rem;
  height: 2.3466666667rem;
  margin: 0.5333333333rem auto;
  background: url("/styles/images/topic/bigcarnival/mobile/empty.png") no-repeat;
  background-size: contain; }

.income-hidden {
  display: none; }

.popupBasic {
  display: none;
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  text-align: center;
  padding: .4rem .7rem;
  transition: opacity 1s;
  opacity: 0; }
  .popupBasic div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .7;
    z-index: 0;
    border-radius: .2rem; }
  .popupBasic span {
    position: relative;
    color: #fff;
    font-size: .24rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    z-index: 1; }

.shake_popup {
  opacity: 1;
  animation: shack .1s .5s; }

@keyframes shack {
  0% {
    left: 50%; }
  25% {
    left: 52%; }
  50% {
    left: 51%; }
  75% {
    left: 49%; }
  100% {
    left: 50%; } }
.sell-out {
  float: left;
  height: 0.4666666667rem;
  line-height: 0.4666666667rem;
  background: #b5b5b5;
  border-radius: 0.1333333333rem;
  font-size: 0.24rem;
  color: #ffffff;
  padding-left: 0.1333333333rem;
  padding-right: 0.1333333333rem; }

.boxmoudle {
  width: 10rem;
  margin: 0 auto; }

.has-brought {
  display: none; }

/*# sourceMappingURL=topic_bigcarnival.css.map */
