@Fcharset "UTF-8";
@import '../base/mobileUtils';
@import '../base/utils';
@import '../base/mreset';
@import '../base/mobileGrid';
@import '../inc/m_ui';
.ui-icon {
	display:block;
	background:url("../images/topic/brand1111/mobile/privilegedouble_icon.png") no-repeat center top;
	vertical-align:top;
	background-size:px2rem(750px) px2rem(2500px);
}
body {
	background:#1b144a;
	.item-red{
		color:#ff3030;
	}
	.item-yellow{
		color:#fff200;
	}
	.item-blue{
		color:#3dcfff;
	}
	.item-bold {
		font-weight:bold;
	}
}
.ui-head {
	width:px2rem(750px);
	margin:0px auto;
	text-align:center;
	.ui-theme {
		height:px2rem(130px);
		padding-top:px2rem(350px);
		background:url("../images/topic/brand1111/mobile/privilegedouble_theme.png") no-repeat center top;
		background-size:px2rem(750px) px2rem(480px);
	}
	.head-crash {
		font-size:px2rem(26px);
		line-height:px2rem(62px);
		color:#fefefe;
		span {
			font-size:px2rem(34px);
		}
		i {
			display:inline-block;
			width:px2rem(48px);
			height:px2rem(52px);
			background-position:px2rem(-308px) px2rem(-2158px);
		}
	}
	.red {
		color:#ff3030;
	}
	.head-main {
		background-position:px2rem(-28px) px2rem(-2050px);
		width:px2rem(691px);
		margin:0px auto;
		height:px2rem(65px);
		font-size:px2rem(24px);
		font-weight:bold;
		color:#fff;
		line-height:px2rem(65px);
	}
}
main {
	width:px2rem(750px);
	margin:0px auto;
}
.ui-invest {
	padding-top:px2rem(28px);
	text-align:center;
	position:relative;
	.ui-investbtn {
		display:inline-block;
		font-size:px2rem(24px);
		line-height:px2rem(58px);
		color:#fff;
		padding:0px px2rem(64px);
		background:#ff0000;
		border-radius:px2rem(58px);
	}
}
.ui-grade {
	margin-top:px2rem(-67px);
	.grade-body {
		height:px2rem(1118px);
		background-position:center top;
	}
	.grade-body-title {
		padding:px2rem(11px) 0px px2rem(21px);
		font-size:px2rem(24px);
		font-weight:bold;
		color:#fff;
		line-height:px2rem(49px);
		text-align:center;
		.ui-icon {
			display:inline-block;
			width:px2rem(38px);
			height:px2rem(49px);
		}
		.icon-left {
			background-position:0px px2rem(-2158px);
		}
		.icon-right {
			background-position:px2rem(-129px) px2rem(-2158px);
		}
	}
	.p106{
		padding-top:px2rem(117px);
	}
	.p58{
		padding-top:px2rem(58px);
	}

	.grade-desc {
		padding-top:px2rem(20px);
		font-size:px2rem(22px);
		color:#fff;
		text-align:center;
		line-height:px2rem(62px);
		i{
			display:inline-block;
			width:px2rem(26px);
			height:px2rem(38px);
			background-position:px2rem(-244px) px2rem(-2133px);
		}
	}
	.grade-table {
		width:px2rem(656px);
		height:px2rem(392px);
		margin:0px auto;
	}
	.grade-item {
		font-size:px2rem(22px);
		color:#666;
		line-height:px2rem(100px);
		text-align:center;
		height:px2rem(100px);
		.qt-gl {
			height:px2rem(100px);
		}
	}
	.item1 {
		width:px2rem(188px);
		font-weight:bold;
		color:#353535;
	}
	.item2 {
		width:px2rem(154px);
	}
	.item3 {
		width:px2rem(158px);
	}
	.item4 {
		width:px2rem(152px);
	}
	.item5 {
		width:px2rem(188px);
	}
	.item6 {
		width:px2rem(222px);
	}
	.item7 {
		width:px2rem(244px);
	}
	.item8 {
		padding-top:px2rem(14px);
		overflow:hidden;
		line-height:px2rem(36px);
		-webkit-box-sizing:border-box;
		box-sizing:border-box;
		span {
			display:block;
		}
	}
	.item-vip {
		font-size:px2rem(26px);
		font-weight:bold;
	}
}
.ui-strategy {
	position:relative;
	width:px2rem(750px);
	margin:0px auto;
	.strategy-title {
		background-position:0px px2rem(-1150px);
		height:px2rem(190px);
	}
	.strategy-body {
		overflow:hidden;
		height:px2rem(585px);
		overflow:hidden;
		background:url("../images/topic/brand1111/mobile/privilegedouble_bg.png") no-repeat center top;
		background-size:px2rem(750px) px2rem(585px);
	}
	.strategy-list {
		padding:px2rem(44px) px2rem(46px) 0px;
	}
	.strategy-item {
		font-size:px2rem(22px);
		color:#666;
		line-height:px2rem(40px);
		padding-left:px2rem(28px);
		width:px2rem(630px);
		margin:0px auto;
		-webkit-box-sizing:border-box;
		box-sizing:border-box;
		i {
			display:inline-block;
			margin-left:px2rem(-30px);
			margin-top:px2rem(10px);
			width:px2rem(16px);
			height:px2rem(16px);
			background:#ff0000;
			-webkit-transform:rotate(45deg);
			transform:rotate(45deg);

		}
		span,a {
			color:#ff3030;
		}
	}
}
.ui-footer {
	width:px2rem(750px);
	height:px2rem(385px);
	margin:0px auto;
	margin-top:px2rem(-211px);
	background-position:0px px2rem(-1620px);
}
