@Fcharset "UTF-8";
@import '../base/mobileUtils';
@import '../base/utils'; 
@import '../base/mreset';
@import '../base/mobileGrid';
@import '../mod/dialog'; 
@import '../inc/m_ui';
@import '../inc/footer-mobile';

body{
    background: #f77400 url(/styles/images/topic/financial/mobile/banner2.png) no-repeat center top;
    background-size: px2rem(750px) px2rem(416px);
}
.ui-section{
    width: px2rem(750px);
    margin: 0 auto;
}
.ui-banner{
    height: px2rem(346px);
}
.ui-hotloan{
    width: px2rem(670px);
    margin: 0 auto;
    padding: px2rem(10px) px2rem(18px) px2rem(18px);
    background: #dd222d url(/styles/images/topic/financial/mobile/bg_hotloan.png) no-repeat 0 0;
    background-size: px2rem(710px) px2rem(100px);
}
.ui-hotloan-nav{
    padding-top: px2rem(19px);
    height: px2rem(51px);
    border-bottom: 1px dashed #fff;
    margin-bottom: px2rem(20px);
}
.ui-hotloan-nav-item{
    float: left;
    width: 25%;
    line-height: px2rem(32px);
    vertical-align: middle;
    a{
        font-size: px2rem(20px); 
        color: #fff;
    }
}
.ui-hotloan-nav-item-sign{
    text-align: center;
    .ui-icons{
        display: inline-block;
        margin-right: px2rem(10px); 
        width: px2rem(31px);
        height: px2rem(32px);
        vertical-align: top;
        background: url(/styles/images/topic/financial/mobile/icons.png) no-repeat 0 px2rem(-69px);
        background-size: px2rem(400px) px2rem(400px);

    }
}
.ui-hotloan-nav-item-welfare{
    text-align: center;
    .ui-icons{
        display: inline-block;
        margin-right: px2rem(10px); 
        width: px2rem(30px);
        height: px2rem(32px);
        vertical-align: top;
        background: url(/styles/images/topic/financial/mobile/icons.png) no-repeat px2rem(-42px) px2rem(-66px);
        background-size: px2rem(400px) px2rem(400px);

    }
}
.ui-hotloan-nav-item-gl{
    text-align: center;
    //text-align: left;
    .ui-icons{
        display: inline-block;
        margin-right: px2rem(10px); 
        width: px2rem(23px);
        height: px2rem(32px);
        vertical-align: top;
        background: url(/styles/images/topic/financial/mobile/icons.png) no-repeat px2rem(-83px) px2rem(-66px);
        background-size: px2rem(400px) px2rem(400px);
    }
}
.ui-hotloan-nav-item-more{
    text-align: center;
    //text-align: right;
    .ui-icons{
        display: inline-block;
        margin-right: px2rem(10px); 
        width: px2rem(30px);
        height: px2rem(32px);
        vertical-align: top;
        background: url(/styles/images/topic/financial/mobile/icons.png) no-repeat px2rem(-117px) px2rem(-69px);
        background-size: px2rem(400px) px2rem(400px);

    }
}
.ui-hotloan-red{
    width: px2rem(285px);
    padding: px2rem(18px);
    background: #fd3b47 url(/styles/images/topic/financial/mobile/bg_rate.png) no-repeat px2rem(175px) px2rem(135px);
    background-size: px2rem(138px) px2rem(108px);
}
.ui-hotloan-blue{
    width: px2rem(285px);
    padding: px2rem(18px);
    background: #259fd8;
    background: #259fd8 url(/styles/images/topic/financial/mobile/bg_card.png) no-repeat px2rem(175px) px2rem(140px);
    background-size: px2rem(128px) px2rem(98px);
}
.ui-hotloan-title{
    display: inline-block;
    line-height: px2rem(37px);
    font-size: px2rem(32px);
    color: #fff;
    font-weight: bold;
    padding-bottom: px2rem(17px);
    margin-bottom: px2rem(17px);
    border-bottom: 1px solid #fff;
}
.ui-hotloan-note{
    font-size: px2rem(20px);
    color: #fee300;
    line-height: px2rem(30px);
}
.ui-rate-btn{
    display: block;
    width: px2rem(136px);
    height: px2rem(34px);
    line-height: px2rem(34px);
    border-radius: px2rem(17px);
    text-align: center;
    font-size: px2rem(20px);
    color: #fff;
    margin-top: px2rem(25px);
    background-color: #d22b3c;
}
.ui-card-btn{
    display: block;
    width: px2rem(136px);
    height: px2rem(34px);
    line-height: px2rem(34px);
    border-radius: px2rem(17px);
    text-align: center;
    font-size: px2rem(20px);
    color: #fff;
    margin-top: px2rem(25px);
    background-color: #1a84b5;
}
.ui-icons-fire{
    display: inline-block;
    margin-right: px2rem(15px); 
    width: px2rem(24px);
    height: px2rem(37px);
    vertical-align: bottom;
    background: url(/styles/images/topic/financial/mobile/icons.png) no-repeat px2rem(-158px) px2rem(-69px);
    background-size: px2rem(400px) px2rem(400px);    
}
.ui-icons-card{
    display: inline-block;
    margin-right: px2rem(15px); 
    width: px2rem(33px);
    height: px2rem(37px);
    vertical-align: bottom;
    background: url(/styles/images/topic/financial/mobile/icons.png) no-repeat px2rem(-193px) px2rem(-61px);
    background-size: px2rem(400px) px2rem(400px);    

}
.ui-icons-gift{
    display: inline-block;
    margin-right: px2rem(15px); 
    width: px2rem(30px);
    height: px2rem(37px);
    vertical-align: bottom;
    background: url(/styles/images/topic/financial/mobile/icons.png) no-repeat px2rem(-237px) px2rem(-66px);
    background-size: px2rem(400px) px2rem(400px);    

}
.ui-icons-invite{
    display: inline-block;
    margin-right: px2rem(15px); 
    width: px2rem(31px);
    height: px2rem(45px);
    vertical-align: bottom;
    background: url(/styles/images/topic/financial/mobile/icons.png) no-repeat px2rem(-278px) px2rem(-66px);
    background-size: px2rem(400px) px2rem(400px);    
}
.ui-icons-cooperation{
    display: inline-block;
    margin-right: px2rem(15px); 
    width: px2rem(40px);
    height: px2rem(37px);
    vertical-align: bottom;
    background: url(/styles/images/topic/financial/mobile/icons.png) no-repeat px2rem(-320px) px2rem(-64px);
    background-size: px2rem(400px) px2rem(400px);    

}
.ui-hotplatform{
    margin: px2rem(20px);
    padding: px2rem(20px) px2rem(8px);
    background: #8f2bef url(/styles/images/topic/financial/mobile/bg_hotplatform.png) no-repeat 0 0;
    background-size: px2rem(710px) px2rem(100px);
}
.ui-financial-title{
    font-size: px2rem(40px);
    color: #fff;
    line-height: px2rem(37px);
    text-align: center;
}
.ui-financial-note{
    font-size: px2rem(20px);
    color: #fff;
    text-align: center;
    line-height: px2rem(50px);
    margin-bottom: px2rem(15px);
}
.ui-hotplatform-list{
}
.ui-hotplatform-item{
    float: left;
    width: px2rem(210px);
    overflow: hidden;
    padding-bottom: px2rem(20px);
    margin: 0 px2rem(10px);
    background-color: #fff;
}
.ui-hotplatform-item-box{
    margin: px2rem(10px);
    height: px2rem(65px);
    overflow: hidden;
}
.ui-hotplatform-item-logo{
    display: table-cell;
    width: px2rem(190px);
    height: px2rem(65px);
    vertical-align: middle;
    text-align: center;
    img{
        max-width: px2rem(190px);
        max-height: px2rem(65px);
    }
}
.ui-hotplatform-item-bg{
    height: px2rem(45px);
    text-align: center;
    overflow: hidden;
}
.ui-bg-item{
    margin-top: px2rem(10px); 
    display: inline-block;
    padding: px2rem(3px);
    line-height: px2rem(20px);
    border: 1px solid #11aee5;
    color: #11aee5;
    font-size: px2rem(18px);
    border-radius: px2rem(5px);

}
.ui-hotplatform-item-note{
    margin: 0 px2rem(12px);
    line-height: px2rem(36px);
    color: #333;
    font-size: px2rem(18px);
}
.ui-hotplatform-item-btn{
    display: block;
    margin: px2rem(20px) auto 0;
    width: px2rem(172px);
    height: px2rem(42px);
    line-height: px2rem(42px);
    text-align: center;
    border-radius: px2rem(4px);
    border: 1px solid #1f83df;
    color: #259fd8;
    font-size: px2rem(24px);
}
.ui-integral{
    background: #ffd400 url(/styles/images/topic/financial/mobile/bg_integrals.png) no-repeat 0 0;
    background-size: px2rem(710px) px2rem(483px);
    margin: px2rem(20px);
    padding: px2rem(20px);
    height: px2rem(443px);
    .ui-financial-title{
        color: #a65003;
    }
    .ui-financial-note{
        color: #a65003;
    }
    a{
        display: block;
        height: px2rem(350px);
    }
}
.ui-integral-item{
    width: px2rem(325px);
    height: px2rem(325px);
    border-radius: px2rem(10px);
    background-color: #fff;
    img{
        display: block;
        width: px2rem(172px);
        height: px2rem(194px);
        padding: px2rem(50px) 0 px2rem(15px);
        margin: 0 auto;
    }
    span{
        display: block;
        text-align: center;
        line-height: px2rem(60px);
        font-size: px2rem(24px);
        color: #333;
    }
}
.ui-invite{
    margin: px2rem(20px);
    padding: px2rem(20px) 0 px2rem(35px);
    background: #8f2bef url(/styles/images/topic/financial/mobile/bg_invite.png) no-repeat 0 0;
    background-size: px2rem(710px) px2rem(100px);
    .ui-financial-title{
        line-height: px2rem(45px);
    }
    a{
        display: block;
    }
}
.ui-invite-pic{
    img{
        display: block;
        margin: 0 auto;
        width: px2rem(669px);
        height: px2rem(181px);
    }
}
.ui-cooperation{
    margin: 0 px2rem(20px);
    padding: px2rem(20px) px2rem(8px) 0;
    background: #2888e0 url(/styles/images/topic/financial/mobile/bg_cooperation.png) no-repeat 0 0;
    background-size: px2rem(710px) px2rem(100px);
}
.ui-cooperation-item{
    float: left;
    margin: 0 px2rem(8px) px2rem(20px);
}
.ui-cooperation-logo{
    display: table-cell;
    width: px2rem(152px);
    height: px2rem(130px);
    vertical-align: middle;
    background-color: #fff;
    text-align: center;
    img{
        display: block;
        max-width: px2rem(155px);
    }
}
.ui-friendly{
    line-height: px2rem(90px);
    text-align: center;
    font-size: px2rem(20px);
    color: #fff;
}
.ui-redland518{
    position: fixed;
    top: px2rem(260px);
    right: px2rem(20px);
    width: px2rem(192px);
    height: px2rem(193px);
    background: url(/styles/images/topic/financial/mobile/518float.png) no-repeat 0 0;
    background-size: px2rem(192px) px2rem(193px);
   
}

