@Fcharset "UTF-8";
@import '../base/mobileUtils';
@import '../base/utils';
@import '../base/mreset';
@import '../base/grid';
@import '../inc/m_ui';
.banner {
  width:100%;
}
.bg {
  background: #31be79;
}
.main {
  padding-left: px2rem(30px);
  padding-right: px2rem(30px);
  padding-bottom:px2rem(100px);
  float: none;
  width: auto;
}
.section1 {
  position:relative;
  padding-top:px2rem(48px);
  padding-bottom: px2rem(25px);
  .section1-fly {
    position: absolute;
    width:px2rem(175px);
    height:px2rem(105px);
    top:px2rem(-20px);
    left:px2rem(-26px);
    z-index: 5;
    img {
      width:100%;
    }
  }
  .section1-rmb {
    position: absolute;
    width:px2rem(74px);
    height:px2rem(71px);
    bottom:px2rem(-26px);
    left:px2rem(-30px);
    img {
      width:100%;
    }
  }
  .section1-title {
    height:px2rem(42px);
    background: #1978d6;
    border-radius: 15px 15px 0px 0px;
    position: relative;
  }
  .section1-main {
    position: relative;
    height:px2rem(294px);
    background: #fff;
    border-radius: 0px 0px 15px 15px;
  }
  .section1-main-title {
    padding-left: px2rem(26px);
    padding-right: px2rem(26px);
    line-height: px2rem(38px);
    padding-top:px2rem(24px);
    padding-bottom:px2rem(22px);
  }
  .section1-main-title-wrap {
    width:100%;
  }
  .section1-main-title-left {
    float: left;
    padding-top:px2rem(22px);
    width:px2rem(154px);
    border-bottom:2px solid #383838;
    margin-left:-100%;
  }
  .section1-main-title-center {
    float: left;
    width:100%;
    text-align: center;
    font-size: px2rem(30px);
    color:#383838;
  }
  .section1-main-title-right {
    float: left;
    padding-top:px2rem(22px);
    width:px2rem(154px);
    border-bottom:2px solid #383838;
    margin-left:px2rem(-154px);
  }
  .section1-main-title-center-warp {
    padding-left: px2rem(154px);
    padding-right: px2rem(154px);
    text-overflow: clip;
    overflow: hidden;
    white-space: nowrap;
  }
  .section1-main-body {
    padding-bottom:px2rem(28px);
    text-align: center;
  }
  .section1-main-body-num {
    display: inline-block;
  }
  .section1-main-body-num-text {
    display: inline-block;
    width:px2rem(52px);
    height:px2rem(78px);
    line-height: px2rem(78px);
    text-align: center;
    background: #3a3732;
    color:#fff;
    font-family: arial;
    border-radius: 5px;
    font-size:px2rem(68px);
    font-weight: bold;
    margin-right:px2rem(15px)
  }
  .section1-main-body-text {
    display: inline-block;
    font-size:px2rem(24px);
    color:#fa4860;
    padding-top:px2rem(8px);
    line-height: px2rem(30px);
  }
  .section1-main-body-btn-text {
    display: block;
    width:px2rem(309px);
    height: px2rem(70px);
    margin:0px auto;
    line-height: px2rem(62px);
    font-size: px2rem(30px);
    text-align: center;
    color:#fff;
    text-decoration: none;
    background: url("/styles/images/topic/fly_icon2.png")  px2rem(-11px)  px2rem(-289px) no-repeat;
    background-size:px2rem(330px) px2rem(360px);
  }
  .section1-main-body-btn-active {
    background: url("/styles/images/topic/fly/fly_icon.png") left top no-repeat;
    background-size: contain;
  }
  .section1-main-body-btn {
    background: url("/styles/images/topic/fly/fly_icon.png") left top no-repeat;
    background-size: contain;
  }
  .section-main-mod1-prize {
    position:absolute;
    left:0px;
    bottom:0px;
    line-height: px2rem(40px);
    text-align: center;
    width:100%;
    a {
      color:#1a8ad4;
      font-size: px2rem(18px);
    }
  }
}
.mod-section {
  padding-top:px2rem(40px);
  .mod-section-title {
    width:px2rem(154px);
    height:px2rem(50px);
    line-height: px2rem(50px);
    color:#fff;
    font-size: px2rem(24px);
    font-weight: bold;
    text-indent: px2rem(20px);
    background: #21905a;
  }
  .mod-section-body {
    padding-top:px2rem(10px);
    line-height: px2rem(44px);
  }
  .mod-section-body-text {
    width: 100%;
    color:#fff;
    font-size: px2rem(24px);
    float: left;
  }
  .mod-section-body-care {
    color:#fee302;
    font-size: px2rem(24px);
    float: left;
  }
  .pd-pt40 {
    padding-top:px2rem(40px)
  }
  a.mod-section-body-care {
    text-decoration: underline;
  }
}
.section-fly {
  position:fixed;
  height:100%;
  width:100%;
  top:0px;
  left:0px;
  z-index: 100;
  .section-fly-mask {
    width:100%;
    height:100%;
    background: #000;
    @include  opacity(0.66);
  }
  .section-fly-main {
    width:px2rem(700px);
    height:px2rem(304px);
    position:absolute;
    top:50%;
    left:50%;
    margin-left:px2rem(-350px);
    margin-top:px2rem(-152px);
  }
  .section-fly-main-title {
    height:px2rem(42px);
    width: 100%;
    background: #1978d6;
    border-radius: 15px 15px 0px 0px;
  }
  .section-fly-main-title-fly {
    position:absolute;
    width:px2rem(175px);
    height:px2rem(105px);
    top:px2rem(-20px);
    left:px2rem(-26px);
    background: url("/styles/images/topic/fly/fly_fly.png") left center no-repeat ;
    background-size:contain;
  }
  .section-fly-close {
    position:absolute;
    right:px2rem(-7px);
    top:px2rem(-2px);
    height: px2rem(36px);
    width: px2rem(36px);
    background: url("/styles/images/topic/fly_icon.png") left top no-repeat ;
    background-size: px2rem(36px) px2rem(105px);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  .section-fly-main-body {
    width:100%;
    //height: px2rem(164px);
    background: #fff;
    border-radius: 0px 0px 15px 15px;
    text-align: center;
    padding:px2rem(98px) 0px px2rem(128px);
    .section-fly-main-body-text {
      line-height: px2rem(36px);
      padding-left: px2rem(56px);
      font-size:px2rem(30px);
      font-weight: bold;
      color:#000;
      word-break: break-all;
      display: inline-block;
      max-width:644px;
      background: url("/styles/images/topic/fly_icon.png") px2rem(0px) px2rem(-68px) no-repeat;
      background-size: px2rem(36px) px2rem(105px);
    }
  }
}
.section-main-prize {
  width:100%;
  margin:0px auto;
  padding:px2rem(38px) 0px px2rem(15px);
  .section-main-prize-warp {
    background: #4cd290;
    width:100%;
    border-radius: 15px;
    padding:px2rem(14px) 0px px2rem(28px);
  }
  .section-main-prize-title {
    line-height: px2rem(46px);
    width:px2rem(646px);
    margin: 0px auto;
    font-size:px2rem(30px);
    font-weight: bold;
    color:#fff;
  }
  .section-main-prize-title-left {
    float: left;
    height:px2rem(24px);
    border-bottom:2px solid #69e4a7;
    width:px2rem(196px);
    margin-left:-100%;
  }
  .section-main-prize-title-center {
    float: left;
    width:100%;
  }
  .section-main-prize-title-center-text {
    padding:0px px2rem(196px);;
    text-align: center;
    display: block;
  }
  .section-main-prize-title-right {
    float: left;
    height:px2rem(24px);
    border-bottom:2px solid #69e4a7;
    width:px2rem(196px);
    margin-left:px2rem(-196px);;
  }
  .section-prize-content {
    width:px2rem(646px);
    margin:0px auto;
    padding:px2rem(16px) 0px 0px;
    line-height: px2rem(45px);
    font-size:px2rem(24px);
    color:#fff;
    text-align: center;
    .section-prize-content-left {
      float:left;
      width:100%
    }
    .section-prize-content-right-wrap {
      width:px2rem(322px);
      border-right:1px solid #69e4a7;
      position:relative;
      top:0px;
      left:0px;
      .extra-top {
        background:#4cd290;
        position:absolute;
        top:0px;
        height:13px;
        right:-1px;
        width:4px;
      }
      .extra-bottom {
        background:#4cd290;
        position:absolute;
        bottom:0px;
        height:13px;
        right:-1px;
        width:4px;
      }
    }
    .section-prize-item-left-name {
      float:left;
      text-align: center;
    }
    .section-prize-item-left-phone {
      float:right;
      width:px2rem(136px);
      padding:0px px2rem(40px) 0px 0px;
    }
    .section-prize-content-right {
      float:left;
      width:px2rem(322px);
      margin-left:px2rem(-322px);
    }
    .section-prize-item-right-name {
      float:left;
      text-align: center;
      padding: 0px px2rem(40px) 0px px2rem(40px);
    }
    .section-prize-item-right-phone {
      float:right;
      width:px2rem(136px);
    }
  }
}