@charset "UTF-8";
@Fcharset "UTF-8";
.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: '\20';
    display: table;
    height: 0;
    overflow: hidden; }
  .clearfix:after {
    clear: both; }

.clear {
  display: table;
  height: 0;
  overflow: hidden;
  clear: both;
  line-height: 0; }

.spacpce-form-list {
  padding-top: 10px; }

.spacpce-form-left {
  display: block;
  float: left;
  padding-left: 50px;
  height: 36px;
  line-height: 36px;
  width: 100px;
  font-size: 14px;
  color: #666; }

.spacpce-form-center {
  float: left; }

.spacpce-form-input-value {
  display: block;
  float: left;
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  font-weight: bold;
  color: #666; }

.spacpce-form-input {
  display: block;
  float: left;
  width: 278px;
  padding: 0 10px;
  height: 34px;
  line-height: 34px;
  font-size: 14px;
  color: #333;
  border: 1px solid #e8e8e8;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

.spacpce-form-input-m {
  width: 150px; }

.spacpce-form-input-btn {
  display: block;
  float: left;
  height: 36px;
  width: 110px;
  line-height: 36px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-left: 20px;
  font-size: 14px;
  color: #fff;
  background-color: #0080cc;
  text-align: center;
  cursor: pointer;
  transition: all .2s ease-in-out; }

.spacpce-form-input-btn:hover {
  background-color: #0070bc; }

.spacpce-form-input-btn.disabled {
  background-color: #ccc; }

.spacpce-form-input-link {
  display: block;
  float: left;
  margin-left: 20px;
  height: 36px;
  line-height: 36px; }

.spacpce-form-error {
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  color: #ea544a; }

.spacpce-form-error span {
  display: none; }

.spacpce-form-error i {
  display: block;
  width: 14px;
  height: 12px;
  margin: 3px 3px 0 0;
  float: left;
  background: url(/styles/images/member/icon.png);
  background-position: -318px -52px; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
    .spacpce-form-error i {
      background: transparent url("/styles/images/member/icon.png") 0px 0px no-repeat;
      background-size: 550px 140px; } }
  @media only screen and (min--moz-device-pixel-ratio: 1.5) {
    .spacpce-form-error i {
      background: transparent url("/styles/images/member/icon.png") 0px 0px no-repeat;
      background-size: 550px 140px; } }
  @media only screen and (min-device-pixel-ratio: 1.5) {
    .spacpce-form-error i {
      background: transparent url("/styles/images/member/icon.png") 0px 0px no-repeat;
      background-size: 550px 140px; } }
  @media only screen and (-o-min-device-pixel-ratio: 3 / 2) {
    .spacpce-form-error i {
      background: transparent url("/styles/images/member/icon.png") 0px 0px no-repeat;
      background-size: 550px 140px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
    .spacpce-form-error i {
      background-position: -318px -80px; } }
  @media only screen and (min--moz-device-pixel-ratio: 1.5) {
    .spacpce-form-error i {
      background-position: -318px -80px; } }
  @media only screen and (min-device-pixel-ratio: 1.5) {
    .spacpce-form-error i {
      background-position: -318px -80px; } }
  @media only screen and (-o-min-device-pixel-ratio: 3 / 2) {
    .spacpce-form-error i {
      background-position: -318px -80px; } }

.spacpce-form-submit {
  height: 34px;
  width: 90px;
  line-height: 32px;
  border: 1px solid #0080cc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 14px;
  color: #0080cc;
  text-align: center;
  margin: 10px 0 0 200px;
  background-color: transparent;
  transition: all .2s ease-in-out;
  cursor: pointer; }

.spacpce-form-submit:hover {
  background-color: #0080cc;
  color: #fff; }

.spacpce-form-submit.disabled {
  border-color: #ccc;
  color: #fff;
  background-color: #ccc; }

/*!
 * Reset
 */
html {
  color: #454545;
  background: #f0f0f0;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  margin: 0;
  padding: 0;
  font-family: 'PingFang SC', 'PingFang TC', 'Noto Sans CJK SC', 'Noto Sans CJK TC', 'Microsoft YaHei', Helvetica, Arial; }

audio, canvas, video {
  display: inline-block; }

input, select, textarea {
  font-size: 1rem; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

th {
  text-align: inherit; }

fieldset, img {
  border: none; }

img {
  border: none; }

iframe {
  display: block; }

abbr, acronym {
  border: 0;
  font-variant: normal; }

del {
  text-decoration: line-through; }

address, caption, cite, code, dfn, em, th, var {
  font-style: normal;
  font-weight: 500; }

ol, ul, li {
  list-style: none; }

q:before, q:after {
  content: ''; }

sub, sup {
  font-size: 0.75rem;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

a:hover {
  text-decoration: underline; }

ins, a {
  text-decoration: none; }

textarea {
  resize: none;
  overflow: auto; }

input, textarea {
  outline: none; }

a {
  color: #0081cb;
  outline: none; }

input[type="button"], input[type="submit"], input[type="reset"] {
  -webkit-appearance: none;
  border-radius: none; }

textarea {
  -webkit-appearance: none; }

@media screen {
  .qt-col {
    display: table;
    width: 100%; }

  .qt-col1 {
    float: left;
    width: 20%; }

  .qt-col2 {
    float: right;
    width: 20%; }

  .qt-col3 {
    width: auto;
    margin: 0 20%; }

  .qt-cbox {
    padding: 0 10px; }

  .qt-cbox-left {
    padding: 0 10px 0 0; }

  .qt-cbox-right {
    padding: 0 0 0 10px; }

  /**
  * @ Grid Module
  */
  .qt-grid {
    display: table;
    width: 100%;
    table-layout: fixed;
    list-style-type: none;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0; }

  .qt-flow {
    display: block;
    clear: both;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    max-width: 1200px; }

  .qt-gl {
    float: left;
    margin: 0; }

  .qt-gr {
    float: right;
    margin: 0 0 0 -5px; }

  .qt-por {
    position: relative; }

  .qt-g10 {
    width: 10%; }

  .qt-g16 {
    width: 16%; }

  .qt-g20 {
    width: 20%; }

  .qt-g40 {
    width: 40%; }

  .qt-g60 {
    width: 60%; }

  .qt-g80 {
    width: 80%; }

  .qt-g24 {
    width: 24%; }

  .qt-g25 {
    width: 25%; }

  .qt-g30 {
    width: 30%; }

  .qt-g33 {
    width: 33.333%; }

  .qt-g50 {
    width: 50%; }

  .qt-g66 {
    width: 66.666%; }

  .qt-g65 {
    width: 65%; }

  .qt-g75 {
    width: 75%; }

  .qt-g38 {
    width: 38.2%; }

  .qt-g62 {
    width: 61.8%; }

  .qt-g84 {
    width: 84%; }

  .qt-g90 {
    width: 89.99%; }

  /*等高*/
  .qt-eqh {
    overflow: hidden; }

  /*等高元素*/
  .qt-eqh .qt-eqh-item {
    padding-bottom: 10000px;
    margin-bottom: -10000px;
    *padding-bottom: 0px;
    *margin-bottom: 0px; } }
.qt-w {
  margin: 0 auto;
  width: 1200px; }

.qt-pr {
  position: relative; }

.qt-pa {
  position: absolute; }

.qt-m {
  width: 100%; }

.qt-pr20 {
  padding-right: 20px; }

.qt-pt0 {
  padding-top: 0 !important; }

.qt-pt10 {
  padding-top: 10px; }

.qt-pt15 {
  padding-top: 15px; }

.qt-pt20 {
  padding-top: 20px; }

.qt-pt25 {
  padding-top: 25px; }

.qt-pt30 {
  padding-top: 30px; }

.qt-pt35 {
  padding-top: 35px; }

.qt-pt40 {
  padding-top: 40px; }

.qt-pt45 {
  padding-top: 45px; }

.qt-pr0 {
  padding-right: 0 !important; }

.qt-pr10 {
  padding-right: 10px; }

.qt-pr15 {
  padding-right: 15px; }

.qt-pr20 {
  padding-right: 20px; }

.qt-pr25 {
  padding-right: 25px; }

.qt-pr30 {
  padding-right: 30px; }

.qt-pr35 {
  padding-right: 35px; }

.qt-pr40 {
  padding-right: 40px; }

.qt-pr45 {
  padding-right: 45px; }

.qt-pb0 {
  padding-bottom: 0 !important; }

.qt-pb10 {
  padding-bottom: 10px; }

.qt-pb15 {
  padding-bottom: 15px; }

.qt-pb20 {
  padding-bottom: 20px; }

.qt-pb25 {
  padding-bottom: 25px; }

.qt-pb30 {
  padding-bottom: 30px; }

.qt-pb35 {
  padding-bottom: 35px; }

.qt-pb40 {
  padding-bottom: 40px; }

.qt-pb45 {
  padding-bottom: 45px; }

.qt-pl0 {
  padding-left: 0 !important; }

.qt-pl10 {
  padding-left: 10px; }

.qt-pl15 {
  padding-left: 15px; }

.qt-pl20 {
  padding-left: 20px; }

.qt-pl25 {
  padding-left: 25px; }

.qt-pl30 {
  padding-left: 30px; }

.qt-pl35 {
  padding-left: 35px; }

.qt-pl40 {
  padding-left: 40px; }

.qt-pl45 {
  padding-left: 45px; }

.qt-mt5 {
  margin-top: 5px; }

.qt-mt10 {
  margin-top: 10px; }

.qt-mt15 {
  margin-top: 15px; }

.qt-mt20 {
  margin-top: 20px; }

.qt-mt22 {
  margin-top: 22px; }

.qt-mt25 {
  margin-top: 25px; }

.qt-mt30 {
  margin-top: 30px; }

.qt-mt35 {
  margin-top: 35px; }

.qt-mt40 {
  margin-top: 40px; }

.qt-mt45 {
  margin-top: 45px; }

.qt-mt50 {
  margin-top: 50px; }

.qt-mr5 {
  margin-right: 5px; }

.qt-mr10 {
  margin-right: 10px; }

.qt-mr15 {
  margin-right: 15px; }

.qt-mr20 {
  margin-right: 20px; }

.qt-mr22 {
  margin-right: 22px; }

.qt-mr25 {
  margin-right: 25px; }

.qt-mr30 {
  margin-right: 30px; }

.qt-mr35 {
  margin-right: 35px; }

.qt-mr40 {
  margin-right: 40px; }

.qt-mr45 {
  margin-right: 45px; }

.qt-mr50 {
  margin-right: 50px; }

.qt-mb5 {
  margin-bottom: 5px; }

.qt-mb10 {
  margin-bottom: 10px; }

.qt-mb15 {
  margin-bottom: 15px; }

.qt-mb20 {
  margin-bottom: 20px; }

.qt-mb22 {
  margin-bottom: 22px; }

.qt-mb25 {
  margin-bottom: 25px; }

.qt-mb30 {
  margin-bottom: 30px; }

.qt-mb35 {
  margin-bottom: 35px; }

.qt-mb40 {
  margin-bottom: 40px; }

.qt-mb45 {
  margin-bottom: 45px; }

.qt-mb50 {
  margin-bottom: 50px; }

.qt-ml5 {
  margin-left: 5px; }

.qt-ml10 {
  margin-left: 10px; }

.qt-ml15 {
  margin-left: 15px; }

.qt-ml20 {
  margin-left: 20px; }

.qt-ml22 {
  margin-left: 22px; }

.qt-ml25 {
  margin-left: 25px; }

.qt-ml30 {
  margin-left: 30px; }

.qt-ml35 {
  margin-left: 35px; }

.qt-ml40 {
  margin-left: 40px; }

.qt-ml45 {
  margin-left: 45px; }

.qt-ml50 {
  margin-left: 50px; }

.qt-flowhidden {
  overflow: hidden; }

#lightbox_wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.75;
  filter: alpha(opacity=75);
  -ms-filter: alpha(opacity=75);
  z-index: 998; }

.qt-white {
  background-color: #fff;
  border-radius: 2px; }

.main {
  width: 100%;
  float: left; }
  .main .wrap {
    margin-right: 420px;
    position: relative;
    padding-top: 51px; }

.sub {
  width: 390px;
  float: left;
  margin-left: -390px; }

.mod-userinfo {
  height: 72px;
  line-height: 72px;
  overflow: hidden; }
  .mod-userinfo .qt-gl {
    font-size: 14px;
    color: #383838; }
    .mod-userinfo .qt-gl span {
      font-size: 30px;
      color: #383838;
      font-family: Micorsoft YaHei;
      line-height: 72px;
      font-weight: bold;
      margin-right: 10px; }
  .mod-userinfo .ui-follow {
    float: left;
    margin-left: 20px;
    margin-top: 21px; }

.mod-sbox {
  background: #fff; }
  .mod-sbox .hd {
    height: 40px;
    line-height: 40px;
    background: #faf9f9;
    font-size: 16px;
    padding: 0 22px;
    border-left: 5px solid #0080cc;
    color: #383838;
    border-bottom: 1px solid #ececec; }
    .mod-sbox .hd h3 {
      font-family: Microsoft YaHei;
      display: inline;
      float: left; }
    .mod-sbox .hd a {
      color: #787878;
      font-family: arial;
      float: right;
      font-size: 14px; }

.qt-1920 {
  position: relative;
  overflow: hidden; }

.qt-1920-wrap {
  width: 1920px;
  position: relative;
  left: 50%;
  margin-left: -960px;
  overflow: hidden; }

.page_section {
  min-height: 600px;
  padding-bottom: 50px; }

.nowrap {
  white-space: nowrap;
  word-wrap: normal;
  word-break: normal; }

.mod-leftfixed .sub {
  float: left;
  margin-left: -100%; }
.mod-leftfixed .main {
  float: left;
  width: 100%; }

._logo1 {
  display: block; }

._logo2 {
  display: none; }

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
  ._logo1 {
    display: none; }

  ._logo2 {
    display: block; } }
@media only screen and (min--moz-device-pixel-ratio: 1.5) {
  ._logo1 {
    display: none; }

  ._logo2 {
    display: block; } }
@media only screen and (min-device-pixel-ratio: 1.5) {
  ._logo1 {
    display: none; }

  ._logo2 {
    display: block; } }
@media only screen and (-o-min-device-pixel-ratio: 3 / 2) {
  ._logo1 {
    display: none; }

  ._logo2 {
    display: block; } }
.dialog {
  position: absolute;
  z-index: 999;
  background-color: #fff;
  border-radius: 5px; }

.dialog_title,
.dialog_content,
.dialog_footer {
  padding: 10px 15px; }

.dialog_content {
  padding: 20px 40px;
  color: #787878;
  font-size: 14px; }

.dialog_title {
  font-size: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: relative;
  background-color: #3dbbf9;
  color: #fff;
  font-family: Microsoft YaHei;
  padding: 15px 30px; }

.dialog_title .why {
  font-size: 12px;
  float: right;
  margin-right: 40px;
  line-height: 28px;
  color: #0080cc; }

.dialog_title .why em {
  width: 14px;
  height: 14px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  background: url(/styles/images/common/icons.png) no-repeat -34px -200px;
  vertical-align: top;
  *vertical-align: middle;
  margin-top: 7px;
  *margin-top: 0;
  margin-right: 5px; }

.dialog_title .closebtn {
  position: absolute;
  top: 14px;
  right: 30px;
  width: 31px;
  height: 31px;
  display: block;
  background: url(/styles/images/common/icons.png) no-repeat -115px -107px;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out; }

.dialog_title .closebtn:hover {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  transform: rotate(360deg); }

.newdialog {
  border: 2px solid #f0f0f0; }

.newdialog .dialog_title {
  background-color: #fff;
  color: #7b7b7b;
  font-size: 18px; }

@Fcharset "UTF-8";
.ui-form .ui-item.first {
  border-top: 1px solid #d7d7d7; }
.ui-form .ui-submit-parent {
  border-top: 1px solid #d7d7d7;
  padding-top: 0.8rem; }
.ui-form .ui-item-label {
  width: 0.7733333333rem;
  text-align: center;
  height: 1.1733333333rem;
  line-height: 1.1733333333rem;
  margin-left: -100%; }
.ui-form .ui-item-icon {
  width: 0.3066666667rem;
  height: 0.4rem;
  vertical-align: middle; }
.ui-form .ui-item-text {
  height: 1.1733333333rem;
  width: 100%; }
.ui-form .ui-item-text-wrap {
  padding-left: 0.7733333333rem; }
.ui-form .ui-item-extra {
  float: left;
  width: 2.6666666667rem;
  height: 1.1733333333rem;
  line-height: 1.1733333333rem;
  background: #fff;
  margin-left: -2.6666666667rem; }
.ui-form .ui-input {
  border: none;
  background: #fff;
  height: 1.1733333333rem;
  line-height: 1.1733333333rem;
  font-size: 0.4rem;
  color: #999;
  width: 100%; }
.ui-form .ui-submit {
  background: #2a8ce7;
  height: 1.0666666667rem;
  line-height: 1.0666666667rem;
  color: #fff;
  font-size: 0.48rem;
  text-align: center;
  border-radius: 8px;
  border: none;
  width: 100%; }

@-o-keyframes circle {
  0% {
    -webkit-transform: translateX(0) scale(0);
    transform: translateX(0) scale(0);
    z-index: 3; }
  17% {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    z-index: 3; }
  34% {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    z-index: 3; }
  51% {
    -webkit-transform: translateX(-0.5333333333rem) scale(1);
    transform: translateX(-0.5333333333rem) scale(1);
    z-index: 1; }
  68% {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    z-index: 1; }
  85% {
    -webkit-transform: translateX(0.5333333333rem) scale(1);
    transform: translateX(0.5333333333rem) scale(1);
    z-index: 1; }
  100% {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    z-index: 1; } }
@-moz-keyframes circle {
  0% {
    -webkit-transform: translateX(0) scale(0);
    transform: translateX(0) scale(0);
    z-index: 3; }
  17% {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    z-index: 3; }
  34% {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    z-index: 3; }
  51% {
    -webkit-transform: translateX(-0.5333333333rem) scale(1);
    transform: translateX(-0.5333333333rem) scale(1);
    z-index: 1; }
  68% {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    z-index: 1; }
  85% {
    -webkit-transform: translateX(0.5333333333rem) scale(1);
    transform: translateX(0.5333333333rem) scale(1);
    z-index: 1; }
  100% {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    z-index: 1; } }
@-webkit-keyframes circle {
  0% {
    -webkit-transform: translateX(0) scale(0);
    transform: translateX(0) scale(0);
    z-index: 3; }
  17% {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    z-index: 3; }
  34% {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    z-index: 3; }
  51% {
    -webkit-transform: translateX(-0.5333333333rem) scale(1);
    transform: translateX(-0.5333333333rem) scale(1);
    z-index: 1; }
  68% {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    z-index: 1; }
  85% {
    -webkit-transform: translateX(0.5333333333rem) scale(1);
    transform: translateX(0.5333333333rem) scale(1);
    z-index: 1; }
  100% {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    z-index: 1; } }
@keyframes circle {
  0% {
    -webkit-transform: translateX(0) scale(0);
    transform: translateX(0) scale(0);
    z-index: 3; }
  17% {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    z-index: 3; }
  34% {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    z-index: 3; }
  51% {
    -webkit-transform: translateX(-0.5333333333rem) scale(1);
    transform: translateX(-0.5333333333rem) scale(1);
    z-index: 1; }
  68% {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    z-index: 1; }
  85% {
    -webkit-transform: translateX(0.5333333333rem) scale(1);
    transform: translateX(0.5333333333rem) scale(1);
    z-index: 1; }
  100% {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    z-index: 1; } }
.ui-circle {
  position: absolute; }
  .ui-circle .circle-wrap {
    position: relative; }
  .ui-circle .b-r {
    -webkit-animation: circle 3s linear both infinite;
    -moz-animation: circle 3s linear both infinite;
    -o-animation: circle 3s linear both infinite;
    animation: circle 3s linear both infinite; }
  .ui-circle .b-b {
    -webkit-animation: circle 3s linear both infinite  -1s;
    -moz-animation: circle 3s linear both infinite  -1s;
    -o-animation: circle 3s linear both infinite  -1s;
    -webkit-animation: circle 3s linear both infinite  -1s; }
  .ui-circle .b-y {
    -webkit-animation: circle 3s linear both infinite  -2s;
    -moz-animation: circle 3s linear both infinite  -2s;
    -o-animation: circle 3s linear both infinite  -2s;
    -webkit-animation: circle 3s linear both infinite  -2s; }
  .ui-circle .b-r, .ui-circle .b-b, .ui-circle .b-y {
    width: 0.2rem;
    height: 0.2rem;
    border-radius: 50%;
    background: teal;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -0.0933333333rem;
    background: red; }
  .ui-circle .b-r {
    background: #ff6114;
    z-index: 3; }
  .ui-circle .b-b {
    background: #14d6ff;
    z-index: -1; }
  .ui-circle .b-y {
    background: #ffd200;
    z-index: -1; }

.ui-alert-box {
  position: fixed;
  top: 50%;
  width: 100%;
  text-align: center;
  margin-top: -0.6666666667rem;
  z-index: 9999; }

.ui-alert {
  display: inline-block;
  height: 1.3333333333rem;
  line-height: 1.3333333333rem;
  border-radius: 0.1066666667rem;
  padding: 0 0.4rem;
  color: #fff;
  font-size: 0.4266666667rem;
  background-color: rgba(71, 79, 89, 0.85); }

.shack {
  -moz-animation: shack .1s .5s;
  -webkit-animation: shack .1s .5s;
  -o-animation: shack .1s .5s;
  -ms-animation: shack .1s .5s;
  animation: shack .1s .5s; }

@-ms-keyframes shack {
  0% {
    left: 0px; }
  25% {
    left: 10px; }
  50% {
    left: -5px; }
  75% {
    left: 10px; }
  100% {
    left: 0; } }
@-moz-keyframes shack {
  0% {
    left: 0px; }
  25% {
    left: 10px; }
  50% {
    left: -5px; }
  75% {
    left: 10px; }
  100% {
    left: 0; } }
@-o-keyframes shack {
  0% {
    left: 0px; }
  25% {
    left: 10px; }
  50% {
    left: -5px; }
  75% {
    left: 10px; }
  100% {
    left: 0; } }
@-webkit-keyframes shack {
  0% {
    left: 0px; }
  25% {
    left: 10px; }
  50% {
    left: -5px; }
  75% {
    left: 10px; }
  100% {
    left: 0; } }
@keyframes shack {
  0% {
    left: 0px; }
  25% {
    left: 10px; }
  50% {
    left: -5px; }
  75% {
    left: 10px; }
  100% {
    left: 0; } }
.ui-loading {
  line-height: 1.3333333333rem;
  font-size: 0.3733333333rem;
  text-align: center; }

.ui-backtop {
  display: none;
  position: fixed;
  right: 0.4266666667rem;
  bottom: 2.9333333333rem;
  width: 1.0666666667rem;
  height: 1.0666666667rem;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.6) url(/styles/images/common/mobile/icons.png) no-repeat 0.2666666667rem -0.8666666667rem;
  background-size: 4.7733333333rem 2.7866666667rem;
  z-index: 990; }

.ui-empty img {
  display: block;
  margin: 2.5333333333rem auto 0.1333333333rem; }

.ui-empty-descript {
  color: #bbb;
  font-size: 0.4rem;
  text-align: center; }

.mask-layer {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.45;
  filter: alpha(opacity=45);
  -ms-filter: alpha(opacity=45);
  z-index: 99; }

.ui-loans-prize {
  display: block;
  margin: 1.0666666667rem auto 0;
  width: 3.4666666667rem;
  height: 0.6933333333rem;
  line-height: 0.6933333333rem;
  text-align: center;
  font-size: 0.4266666667rem;
  color: #3492E9;
  border: 0.0266666667rem solid #3492E9;
  border-radius: 0.9866666667rem; }

body {
  position: relative; }

body, html {
  background: #000;
  color: #fff; }

.header {
  height: 6.5333333333rem;
  position: relative; }
  .header .inner {
    height: 1.6266666667rem;
    width: 100%;
    padding-top: 4.7466666667rem;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center; }
  .header .item {
    width: 3.0666666667rem;
    height: 1.6266666667rem;
    position: relative;
    margin-left: 0.1866666667rem;
    display: inline-block;
    margin: 0 auto; }
    .header .item .wrap {
      width: 2.9066666667rem;
      height: 1.6266666667rem;
      background-color: #2d8101; }
    .header .item img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0; }
    .header .item.current .wrap {
      background-color: #3ba267; }

.guessing {
  height: 13.7733333333rem;
  width: 9.6rem;
  margin: 0 auto;
  background: url(/styles/images/topic/eyeozb/mobile/bg.png) no-repeat;
  background-size: 100% 100%;
  margin-bottom: 0.7333333333rem; }
  .guessing .time {
    padding-top: 0.6rem;
    line-height: 0.64rem;
    font-weight: bold;
    text-align: center; }
    .guessing .time b {
      font-size: 0.64rem;
      color: #fff;
      vertical-align: middle;
      padding: 0 0.16rem; }
    .guessing .time span {
      font-size: 0.32rem;
      color: #fddc18; }
  .guessing .match {
    overflow: hidden;
    padding: 0.1333333333rem 0.5333333333rem 0;
    height: 3.6rem; }
    .guessing .match .country {
      overflow: hidden; }
      .guessing .match .country .l, .guessing .match .country .c, .guessing .match .country .r {
        width: 33.3%;
        font-size: 0.4533333333rem;
        font-weight: bold;
        color: #fddc18;
        text-align: center; }
        .guessing .match .country .l div, .guessing .match .country .c div, .guessing .match .country .r div {
          text-align: center; }
      .guessing .match .country .l img, .guessing .match .country .r img {
        width: 1.0666666667rem; }
      .guessing .match .country .c img {
        width: 0.8533333333rem;
        margin-top: 0.4533333333rem; }
    .guessing .match .tools {
      overflow: hidden;
      padding-top: 0.1333333333rem; }
      .guessing .match .tools .l, .guessing .match .tools .c, .guessing .match .tools .r {
        width: 33.3%;
        color: #fff;
        text-align: center; }
      .guessing .match .tools input {
        width: 2.2933333333rem;
        height: 0.8266666667rem;
        border: none;
        background: url(/styles/images/topic/eyeozb/mobile/button_bg.png) no-repeat;
        background-size: 100% 100%;
        font-size: 0.24rem;
        font-weight: bold;
        color: #fff; }
      .guessing .match .tools input.active {
        background: url(/styles/images/topic/eyeozb/mobile/button_bg_hover.png) no-repeat;
        background-size: 100% 100%; }
    .guessing .match .message {
      font-size: 0.3466666667rem;
      text-align: center;
      color: #fff;
      padding-top: 0.1333333333rem; }
    .guessing .match .guessed {
      font-size: 0.5866666667rem;
      line-height: 0.5866666667rem;
      text-align: center;
      color: #fff;
      font-weight: bold;
      padding-top: 0.6rem; }
      .guessing .match .guessed span {
        color: #fddc18; }
      .guessing .match .guessed img {
        width: 0.7466666667rem;
        vertical-align: middle; }
  .guessing .tender .hd {
    text-align: center;
    height: 0.7733333333rem;
    line-height: 0.7733333333rem;
    padding-top: 0.16rem; }
    .guessing .tender .hd .t {
      font-size: 0.7733333333rem;
      vertical-align: middle; }
    .guessing .tender .hd .status {
      display: inline-block;
      font-size: 0.2666666667rem;
      width: 1.5733333333rem;
      height: 0.4266666667rem;
      line-height: 0.4266666667rem;
      text-align: center;
      vertical-align: middle;
      border-radius: 5px;
      margin-left: 5px; }
      .guessing .tender .hd .status.ing {
        background-color: #159f49; }
      .guessing .tender .hd .status.ed {
        background-color: #828282; }
  .guessing .tender .bd {
    padding-top: 0.2666666667rem; }
    .guessing .tender .bd .default {
      text-align: center; }
      .guessing .tender .bd .default img {
        width: 7.0266666667rem; }
    .guessing .tender .bd .title {
      font-size: 0.5066666667rem;
      text-align: center;
      line-height: 1.1733333333rem;
      font-weight: bold; }
    .guessing .tender .bd .inner {
      width: 7rem;
      height: 1.2533333333rem;
      margin: 0 auto;
      background: url(/styles/images/topic/eyeozb/mobile/countdown_bg.png) no-repeat;
      background-size: 100% 100%;
      font-size: 0.84rem; }
      .guessing .tender .bd .inner b {
        display: inline-block;
        width: 0.2266666667rem; }
      .guessing .tender .bd .inner span {
        display: inline-block;
        width: 0.84rem;
        line-height: 1.2533333333rem;
        text-align: center; }
      .guessing .tender .bd .inner em {
        display: inline-block;
        width: 0.64rem; }
  .guessing .tender .ft {
    padding-top: 0.2666666667rem; }
    .guessing .tender .ft .logo {
      width: 2.64rem;
      height: 1.4933333333rem;
      margin: 0 auto;
      background-color: #159f49;
      border-radius: 0.1066666667rem;
      padding: 0.1333333333rem; }
      .guessing .tender .ft .logo .wrap {
        background-color: #fff;
        height: 100%;
        text-align: center;
        line-height: 1.4933333333rem;
        border-radius: 0.1066666667rem; }
        .guessing .tender .ft .logo .wrap img {
          vertical-align: middle; }
    .guessing .tender .ft .title {
      color: #fddc18;
      font-size: 0.3733333333rem;
      text-align: center;
      line-height: 0.8533333333rem;
      overflow: hidden;
      height: 0.8533333333rem; }
    .guessing .tender .ft .rate {
      text-align: center; }
      .guessing .tender .ft .rate .c_fddc18 {
        color: #fddc18; }
      .guessing .tender .ft .rate .top b {
        font-size: 1.1733333333rem; }
      .guessing .tender .ft .rate .top span {
        font-size: 0.3466666667rem; }
      .guessing .tender .ft .rate .top em {
        font-size: 0.7733333333rem;
        padding: 0 0.2rem; }
      .guessing .tender .ft .rate .bottom span {
        font-size: 0.32rem;
        display: inline-block;
        padding: 0 0.4666666667rem; }
      .guessing .tender .ft .rate .summary {
        line-height: 1.0666666667rem;
        font-size: 0.32rem; }
    .guessing .tender .ft .btn {
      text-align: center; }
      .guessing .tender .ft .btn img {
        width: 3.8933333333rem;
        height: 1.4133333333rem; }

.guessover {
  width: 9.6rem;
  margin: 0 auto;
  margin-bottom: 0.7333333333rem; }

.rule {
  width: 9.6133333333rem;
  margin: 0 auto; }
  .rule img {
    width: 100%; }

.local-title img {
  width: 100%; }

.zhuanpan {
  width: 9.7333333333rem;
  height: 7.36rem;
  background: url(/styles/images/topic/eyeozb/mobile/zhuanpan.png) no-repeat;
  background-size: 100% 100%;
  margin: 0 auto;
  position: relative; }
  .zhuanpan .item {
    width: 2rem;
    height: 1.4rem;
    line-height: 1.4rem;
    position: absolute;
    border-radius: 0.0933333333rem;
    vertical-align: middle;
    text-align: center; }
    .zhuanpan .item .wrap {
      width: 2rem;
      height: 1.4rem;
      line-height: 1.4rem;
      position: relative; }
    .zhuanpan .item img {
      width: 100%;
      vertical-align: middle; }
    .zhuanpan .item .tag {
      position: absolute;
      display: none;
      top: -0.0266666667rem;
      left: -0.0266666667rem;
      width: 2.0533333333rem;
      height: 1.4666666667rem;
      z-index: 1; }
  .zhuanpan .item-1 {
    top: 0.6266666667rem;
    left: 0.5866666667rem; }
  .zhuanpan .item-2 {
    top: 0.6266666667rem;
    left: 2.7466666667rem; }
  .zhuanpan .item-3 {
    top: 0.6266666667rem;
    left: 4.92rem; }
  .zhuanpan .item-4 {
    top: 0.6266666667rem;
    left: 7.08rem; }
  .zhuanpan .item-5 {
    top: 2.1866666667rem;
    left: 7.08rem; }
  .zhuanpan .item-6 {
    top: 3.7333333333rem;
    left: 7.08rem; }
  .zhuanpan .item-7 {
    top: 5.2933333333rem;
    left: 7.08rem; }
  .zhuanpan .item-8 {
    top: 5.2933333333rem;
    left: 4.92rem; }
  .zhuanpan .item-9 {
    top: 5.2933333333rem;
    left: 2.7466666667rem; }
  .zhuanpan .item-10 {
    top: 5.2933333333rem;
    left: 0.5866666667rem; }
  .zhuanpan .item-11 {
    top: 3.7333333333rem;
    left: 0.5866666667rem; }
  .zhuanpan .item-12 {
    top: 2.1866666667rem;
    left: 0.5866666667rem; }
  .zhuanpan .center {
    width: 4.3333333333rem;
    height: 3.2266666667rem;
    top: 2.0266666667rem;
    left: 2.6666666667rem;
    position: absolute; }
    .zhuanpan .center .time {
      padding-top: 0.1733333333rem;
      height: 0.6666666667rem;
      line-height: 0.6666666667rem;
      text-align: center;
      font-size: 0.2133333333rem; }
      .zhuanpan .center .time span {
        color: #fff300; }
    .zhuanpan .center .btn {
      text-align: center; }
      .zhuanpan .center .btn img {
        width: 3.92rem; }
    .zhuanpan .center .summary {
      display: block;
      text-align: center;
      line-height: 0.5866666667rem;
      font-size: 0.24rem;
      font-weight: bold;
      color: #fff300; }

.current-1 .item-1 .tag {
  display: block; }

.current-2 .item-2 .tag {
  display: block; }

.current-3 .item-3 .tag {
  display: block; }

.current-4 .item-4 .tag {
  display: block; }

.current-5 .item-5 .tag {
  display: block; }

.current-6 .item-6 .tag {
  display: block; }

.current-7 .item-7 .tag {
  display: block; }

.current-8 .item-8 .tag {
  display: block; }

.current-9 .item-9 .tag {
  display: block; }

.current-10 .item-10 .tag {
  display: block; }

.current-11 .item-11 .tag {
  display: block; }

.current-12 .item-12 .tag {
  display: block; }

.bigbtn {
  text-align: center;
  padding: 0.2rem 0 0.2rem; }
  .bigbtn img {
    width: 9.6rem; }

.party {
  width: 9.6rem;
  height: 5.1466666667rem;
  margin: 0 auto;
  background: url(/styles/images/topic/eyeozb/mobile/activity_bg.png) no-repeat;
  background-size: 100% 100%;
  margin-bottom: 0.2rem; }
  .party .inner {
    padding-top: 3.4933333333rem;
    padding-left: 0.7333333333rem;
    font-size: 0.72rem;
    color: #383838; }
    .party .inner span {
      line-height: 1.0666666667rem;
      display: inline-block;
      width: 0.72rem;
      text-align: center; }
    .party .inner b {
      width: 0.1866666667rem;
      display: inline-block; }
    .party .inner em {
      width: 0.56rem;
      display: inline-block; }

.runway {
  width: 7.4666666667rem;
  height: 0.6rem;
  line-height: 0.6rem;
  font-size: 0.32rem;
  position: absolute;
  left: 50%;
  margin-left: -3.7333333333rem;
  top: -0.6rem;
  color: #fff;
  text-align: center; }
  .runway span {
    color: #fff300; }
  .runway li {
    display: none; }
    .runway li.current {
      display: block; }

.nav {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 1.4rem;
  background: #34975c;
  border-top: 0.0666666667rem solid #30895c;
  text-align: center;
  z-index: 11; }
  .nav .hover {
    display: none; }
  .nav .item {
    display: inline-block;
    width: 1.3066666667rem;
    margin: 0 0.2666666667rem; }
    .nav .item img {
      width: 100%; }
  .nav .item.current .default {
    display: none; }
  .nav .item.current .hover {
    display: inline-block; }

.sub-header {
  height: 5.76rem;
  position: relative; }

.shdz_btn {
  display: block;
  width: 2.2666666667rem;
  height: 0.8533333333rem;
  background: url(/styles/images/topic/eyeozb/mobile/shdz.png) no-repeat;
  background-size: 100% 100%;
  position: absolute;
  bottom: 0.28rem;
  left: 0.4rem; }

.lasttitle {
  padding-bottom: 1.3333333333rem; }

.main-wrap {
  width: 9.2rem;
  background-color: #159f49;
  margin: 0 auto;
  position: relative;
  min-height: 5.3333333333rem;
  padding-top: 1.8rem;
  padding-bottom: 2rem; }
  .main-wrap .title {
    position: absolute;
    width: 4.04rem;
    height: 0.9333333333rem;
    background: url(/styles/images/topic/eyeozb/mobile/main-title.png) no-repeat;
    background-size: 100% 100%;
    top: -1.04rem;
    left: 50%;
    margin-left: -2.0133333333rem;
    padding-top: 1.3333333333rem;
    text-align: center;
    font-size: 0.48rem; }
  .main-wrap .summary img {
    width: 100%; }
  .main-wrap .summary h3 {
    padding: 0 0.24rem;
    font-size: 0.48rem;
    padding-bottom: 0.3466666667rem; }
    .main-wrap .summary h3 span {
      color: #fddc18; }
  .main-wrap .summary p {
    padding: 0 0.24rem;
    font-size: 0.32rem;
    line-height: 1.5em;
    padding-bottom: 0.2133333333rem; }
  .main-wrap form {
    padding: 0 0.3466666667rem; }
    .main-wrap form .tit {
      font-size: 0.48rem; }
    .main-wrap form .item {
      margin-top: 0.6666666667rem; }
    .main-wrap form input, .main-wrap form .input {
      width: 100%;
      font-size: 0.48rem;
      line-height: 1.1466666667rem;
      height: 1.1466666667rem;
      border: 1px solid #257746;
      background: #fff;
      text-indent: 0.16rem; }
    .main-wrap form .input {
      color: #000;
      overflow: hidden; }
    .main-wrap form .more {
      margin-top: 1.3333333333rem; }

table tr:nth-of-type(odd) {
  background-color: #117f3a; }
table th, table td {
  padding: 0.16rem 0;
  font-size: 0.32rem;
  text-align: center; }
table span {
  color: #fddc18; }

.more {
  width: 8.4rem;
  height: 0.88rem;
  line-height: 0.88rem;
  background: url(/styles/images/topic/eyeozb/mobile/more.png) no-repeat;
  background-size: 100% 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 0.4rem;
  margin-top: 0.3466666667rem; }
  .more.current {
    background: url(/styles/images/topic/eyeozb/mobile/more-hover.png) no-repeat;
    background-size: 100% 100%; }

.shdz {
  min-height: 12rem; }

.wdxz h3 {
  font-size: 0.4rem;
  padding: 0 0.3466666667rem;
  padding-bottom: 0.2666666667rem; }
  .wdxz h3 span {
    color: #fddc18; }
.wdxz p {
  padding: 0 0.5333333333rem;
  font-size: 0.32rem;
  line-height: 1.5em;
  padding-bottom: 0.2133333333rem; }

.box {
  background: rgba(0, 0, 0, 0.1);
  margin-bottom: 0.3466666667rem; }
  .box .subtitle {
    font-size: 0.4rem;
    text-align: center;
    margin: 0 auto;
    padding: 0.4rem 0; }
    .box .subtitle span {
      height: 0.68rem;
      line-height: 0.68rem;
      padding: 0 0.4rem;
      display: inline-block;
      border-radius: 0.3333333333rem;
      background: rgba(0, 0, 0, 0.3); }
  .box .fullimg {
    width: 100%; }
  .box ul {
    overflow: hidden;
    padding-bottom: 0.3333333333rem; }
  .box li {
    text-align: center;
    width: 20%;
    float: left; }
  .box .tit {
    font-size: 0.32rem;
    padding-bottom: 0.2666666667rem; }
  .box .img {
    text-align: center;
    overflow: hidden;
    height: 1.0666666667rem; }
    .box .img .imgparent {
      position: relative;
      width: 1.0666666667rem;
      height: 1.0666666667rem;
      overflow: hidden;
      border-radius: 50%;
      margin: auto; }
    .box .img img {
      width: 3.0666666667rem;
      position: absolute;
      left: 50%;
      top: -0.2266666667rem;
      margin-left: -1.5333333333rem; }
  .box .mingci img {
    width: 2.08rem;
    position: absolute;
    left: 50%;
    top: -0.04rem;
    margin-left: -1.04rem; }
  .box .num {
    line-height: 0.8533333333rem;
    font-size: 0.32rem; }
  .box .hascount_0 .img {
    position: relative;
    height: 1.0666666667rem; }
    .box .hascount_0 .img .mask {
      width: 1.0666666667rem;
      height: 1.0666666667rem;
      background: rgba(0, 0, 0, 0.6);
      border-radius: 50%;
      position: absolute;
      left: 50%;
      top: 50%;
      margin-top: -0.5333333333rem;
      margin-left: -0.5333333333rem; }

.zhuanpan-alert {
  position: fixed;
  width: 9.2rem;
  height: 6.2666666667rem;
  left: 50%;
  top: 50%;
  margin-top: -3.1333333333rem;
  margin-left: -4.6rem;
  background: url(/styles/images/topic/eyeozb/mobile/zhuanpan_alert.png) no-repeat;
  background-size: 100% 100%;
  z-index: 10; }
  .zhuanpan-alert h3 {
    padding-top: 1.1466666667rem;
    font-size: 0.5333333333rem;
    text-align: center; }
  .zhuanpan-alert p {
    font-size: 0.32rem;
    padding: 0 0.8933333333rem;
    padding-top: 1.0133333333rem;
    line-height: 1.5em;
    text-align: center; }
  .zhuanpan-alert .closer {
    width: 7.76rem;
    height: 1.4266666667rem;
    background: url(/styles/images/topic/eyeozb/mobile/closer.png) no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
    margin-top: 0.5733333333rem; }

.alert-mask {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 9;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0; }

.traverse-ban {
  display: none;
  width: 100%;
  padding-top: 1.3333333333rem;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  font-size: 0.8rem;
  color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10; }

.active3 {
  height: 13.7733333333rem;
  width: 9.6rem;
  margin: 0 auto;
  background: url(/styles/images/topic/eyeozb/mobile/bg.png) no-repeat;
  background-size: 100% 100%;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem; }
  .active3 .wrapper {
    height: 6.72rem; }
  .active3 .line80 {
    height: 1.0666666667rem; }
  .active3 .time {
    font-size: 0.48rem;
    font-weight: bold;
    text-align: center;
    color: #fff100;
    line-height: 1.8666666667rem; }
  .active3 .tip {
    border-radius: 0.1066666667rem;
    width: 7.2rem;
    margin: 0 auto; }
    .active3 .tip .tit {
      line-height: 0.7466666667rem;
      color: #fff;
      font-size: 0.32rem;
      text-align: center;
      border-bottom: 1px double #026e27; }
      .active3 .tip .tit span {
        color: #fff100; }
    .active3 .tip .cont {
      text-align: center; }
    .active3 .tip.green {
      background: #159f49;
      margin-top: 0.32rem; }
      .active3 .tip.green .cont {
        line-height: 1.12rem;
        height: 1.12rem;
        font-size: 0.4533333333rem;
        font-weight: bold; }
        .active3 .tip.green .cont span {
          color: #fff100; }
    .active3 .tip.red {
      background: #ea5f54; }
      .active3 .tip.red .tit {
        border-color: #cc4b44;
        line-height: 0.96rem; }
      .active3 .tip.red .cont {
        line-height: 1.12rem;
        height: 2.72rem;
        font-size: 0.4533333333rem;
        font-weight: bold; }
        .active3 .tip.red .cont p {
          font-size: 0.5333333333rem; }
        .active3 .tip.red .cont span {
          color: #fff100;
          font-size: 0.8rem; }
    .active3 .tip.gray {
      background: #9b9b9b; }
      .active3 .tip.gray .tit {
        border-color: #6e6e6e;
        line-height: 0.96rem; }
      .active3 .tip.gray .cont {
        line-height: 1.12rem;
        height: 4.2rem;
        font-size: 0.4533333333rem; }
        .active3 .tip.gray .cont .f60 {
          font-size: 0.8rem;
          padding-top: 0.2666666667rem;
          font-weight: bold; }
        .active3 .tip.gray .cont .f64 {
          font-size: 0.8533333333rem;
          font-weight: bold; }
        .active3 .tip.gray .cont .f40 {
          font-size: 0.5333333333rem; }
        .active3 .tip.gray .cont span {
          color: #fff100; }
  .active3 .info {
    padding-top: 0.4rem; }
    .active3 .info p {
      text-align: center;
      font-size: 0.4rem;
      line-height: 1.5em; }
      .active3 .info p span {
        color: #fff100; }
  .active3 .redinfo {
    width: 7.2rem;
    margin: auto;
    font-size: 0.32rem;
    padding-top: 0.5066666667rem;
    line-height: 1.5em; }
  .active3 .jb-list {
    width: 8.5333333333rem;
    margin: 0 auto;
    overflow: hidden; }
    .active3 .jb-list dl {
      width: 25%;
      float: left;
      text-align: center; }
    .active3 .jb-list dd {
      text-align: center; }
      .active3 .jb-list dd img {
        width: 1.8666666667rem; }
    .active3 .jb-list .t {
      font-size: 0.2666666667rem;
      line-height: 0.5333333333rem;
      padding-top: 0.32rem; }
    .active3 .jb-list .s {
      font-size: 0.32rem;
      line-height: 0.4533333333rem;
      color: #fff100; }

.sharebox {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 12;
  display: none; }
  .sharebox img {
    width: 100%; }

.infotools {
  width: 100%;
  height: 5.6666666667rem;
  padding-top: 0.9333333333rem;
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 12;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out; }
  .infotools.hide {
    bottom: -7.3333333333rem; }
  .infotools p {
    height: 1.0666666667rem;
    line-height: 0.5333333333rem;
    font-size: 0.32rem;
    text-align: center;
    padding: 0 0.9333333333rem;
    padding-bottom: 0.9333333333rem; }
  .infotools p.align_l {
    text-align: left; }
  .infotools .btns {
    width: 7.52rem;
    height: 1.0933333333rem;
    line-height: 1.0933333333rem;
    font-size: 0.4266666667rem;
    text-align: center;
    color: #fff;
    margin: 0 auto;
    border-radius: 0.1066666667rem;
    margin-bottom: 0.5333333333rem; }
  .infotools .btns.yes {
    background: #ec5f54; }
  .infotools .btns.no {
    background: #fff;
    color: #999; }

/*# sourceMappingURL=topic_eyeozb.css.map */
