@Fcharset "UTF-8";
@import '../base/mobileUtils';
@import '../base/utils';
@import '../base/mreset';
@import '../base/grid';
@import '../mod/dialog';
@import '../inc/m_ui';

body{
  width: 100%;
  background: #000710;
  position: relative;
  overflow: hidden;
}
.title{
  width: px2rem(519px);
  height: px2rem(53px);
  margin:px2rem(48px) auto 0px;
  background: url("/styles/images/topic/borntolove/mobile/pttitle.png") no-repeat;
  background-size: 100% 100%;
}
.compose{
  margin: px2rem(42px) auto 0px;
  width: px2rem(600px);
  height: px2rem(430px);
  border-radius: px2rem(10px);
  background: #eeeeee;
}
.compose-top{
  width: px2rem(600px);
  height: px2rem(102px);
  font-size: px2rem(38px);
  background: #50baeb;
  color: #fffefe;
  font-weight: 800;
  line-height: px2rem(102px);
  text-align: center;
}
.compose-content{
  overflow: hidden;
  height: px2rem(150px);
  margin-top: px2rem(34px);
  li{
    float: left;
    width: px2rem(185px);
    height: px2rem(150px);
    overflow: hidden;
  }
  .compose-width{
    width: px2rem(220px);
  }
}
.compose-border{
  border-left: 2px solid #ccc;
  border-right: 2px solid #ccc;
}
.compose-numb{
  width: 100%;
  font-size: px2rem(38px);
  color: #50baeb;
  margin-top: px2rem(15px);
  text-align: center;
}
.compose-name{
  color: #999999;
  width: 100%;
  font-size: px2rem(32px);
  margin-top: px2rem(15px);
  text-align: center;
}
.compose-check{
  display: block;
  width: px2rem(540px);
  height: px2rem(80px);
  background: #50baeb;
  line-height: px2rem(80px);
  color: #ffffff;
  text-align: center;
  font-size: px2rem(34px);
  margin: px2rem(34px) auto 0px;
  border-radius: px2rem(10px);
}
.compose-record{
  width: 100%;
  color: #999999;
  font-size: px2rem(28px);
  margin-top: px2rem(48px);
  text-align: center;
}

.sagacity{
  width: px2rem(605px);
  height: px2rem(792px);
  margin: px2rem(78px) auto 0px;
}
.sagacity-title{
  padding-left:px2rem(20px);
  width: px2rem(585px);
  height:px2rem(40px);
  line-height: px2rem(40px);
  border-left: px2rem(9px) solid #50baeb;
  overflow: hidden;
  margin-bottom:px2rem(32px);
  .sagacity-name{
    line-height: px2rem(40px);
    font-size:px2rem(40px);
    color: #eeeeee;
    float: left;
  }

  p{
    float: right;
    height: px2rem(40px);
    line-height: px2rem(40px);
    font-size: px2rem(28px);
    color: #999999;
    span{
      color: #50baeb;
    }
  }
}
.sagacity-box{
  width: px2rem(605px);
  height: px2rem(722px);
  position: relative;
}
.sagacity-bj{
  display: none;
  width: px2rem(607px);
  height: px2rem(725px);
  position: absolute;
  top:0;
  left: -1px;
  z-index: 99;
  background-color:#000;
  filter:alpha(opacity=85);
  -moz-opacity:0.85;
  opacity:0.85;
  border-bottom-right-radius:px2rem(10px);
  border-bottom-left-radius:px2rem(10px);
}
.sagacity-lose {
  display: none;
  width: px2rem(605px);
  height: px2rem(722px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  overflow: hidden;

  .abandon {
    width: px2rem(49px);
    height: px2rem(49px);
    background: url("/styles/images/topic/borntolove/mobile/cha.png") no-repeat;
    background-size: 100% 100%;
    float: right;
    margin-top: px2rem(20px);
    margin-right: px2rem(28px);
  }
  .sagacity-lose-img {
    width: px2rem(230px);
    height: px2rem(295px);
    background: url("/styles/images/topic/borntolove/mobile/shibai.png") no-repeat;
    background-size: 100% 100%;
    margin: px2rem(108px) auto 0px;
  }
  .sagacity-encourage {
    color: #ffffff;
    font-size: px2rem(34px);
    width: 100%;
    text-align: center;
    margin-top: px2rem(30px);
  }
  .sagacity-lose-btn {
    display: block;
    width: px2rem(345px);
    height: px2rem(70px);
    background: #50baeb;
    line-height: px2rem(70px);
    text-align: center;
    font-size: px2rem(27px);
    color: #fff;
    margin: px2rem(100px) auto 0px;
    border-radius: px2rem(10px);
  }
}

.sagacity-success{
  width: px2rem(605px);
  height: px2rem(722px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  overflow: hidden;
  display: none;
  .abandon {
    width: px2rem(49px);
    height: px2rem(49px);
    background: url("/styles/images/topic/borntolove/mobile/cha.png") no-repeat;
    background-size: 100% 100%;
    float: right;
    margin-top: px2rem(20px);
    margin-right: px2rem(28px);
  }
  .sagacity-lose-img {
    width: px2rem(230px);
    height: px2rem(295px);
    background: url("/styles/images/topic/borntolove/mobile/chenggong.png") no-repeat;
    background-size: 100% 100%;
    margin: px2rem(108px) auto 0px;
  }
  .sagacity-encourage {
    color: #ffffff;
    font-size: px2rem(32px);
    width: 100%;
    text-align: center;
    margin-top: px2rem(30px);
    span{
      color: #46a2cd;
      font-size: px2rem(32px);
    }
  }
  .sagacity-lose-btn {
    display: block;
    width: px2rem(345px);
    height: px2rem(70px);
    background: #50baeb;
    line-height: px2rem(70px);
    text-align: center;
    font-size: px2rem(27px);
    color: #fff;
    margin: px2rem(80px) auto 0px;
    border-radius: px2rem(10px);
  }
}

.sagacity-jigsaw{
  width: px2rem(605px);
  height:px2rem(598px);
  overflow: hidden;
  border-top-right-radius:px2rem(10px);
  border-top-left-radius:px2rem(10px);
  position: relative;
  z-index: 10;
  li{
    float: left;
  }
  .sagacity-item{
    position: relative;
    img{
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  .sagacity-nub{
    width: px2rem(80px);
    height:px2rem(60px);
    color: #fff;
    background: #5c5c5c;
    line-height: px2rem(60px);
    text-align: center;
    font-size: px2rem(28px);
    position: absolute;
    border-radius: px2rem(30px);
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .cover-layer{
    display: none;
  }
  .bright{
    .cover-layer{
      position: absolute;
      top:0;
      display:block;
      width: 100%;
      height: 100%;
      background-color:#000;
      filter:alpha(opacity=50);
      -moz-opacity:0.5;
      opacity:0.5;
    }
    .sagacity-nub{
      display: none;
    }
  }
}
.success{
  background: #50baeb;
  border-top:1px solid #343434;
  width: 100%;
  height: px2rem(124px);
  text-align: center;
  line-height: px2rem(124px);
  font-size: px2rem(36px);
  color: #ffffff;
  border-radius:0 0 px2rem(10px) px2rem(10px);
  cursor: pointer;
}

.oneclass{
  width: px2rem(204px);
  height: px2rem(202px);
}
.twoclass{
  width: px2rem(202px);
  height: px2rem(202px);
}
.threeclass{
  width:px2rem(198px);
  height: px2rem(202px);
}
.fourclass{
  width: px2rem(204px);
  height: px2rem(204px);
}
.fiveclass{
  width: px2rem(202px);
  height: px2rem(204px);
}
.sixclass{
  width: px2rem(198px);
  height: px2rem(204px);
}
.sevenclass{
  width: px2rem(204px);
  height: px2rem(192px);
}
.eightclass{
  width: px2rem(202px);
  height: px2rem(192px);
}
.nineclass{
  width: px2rem(198px);
  height: px2rem(192px);
}
.jigsaw-foot{
  width: 100%;
  height: px2rem(50px);
}