@Fcharset "UTF-8";
.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: '\20';
    display: table;
    height: 0;
    overflow: hidden; }
  .clearfix:after {
    clear: both; }

.clear {
  display: table;
  height: 0;
  overflow: hidden;
  clear: both;
  line-height: 0; }

.spacpce-form-list {
  padding-top: 10px; }

.spacpce-form-left {
  display: block;
  float: left;
  padding-left: 50px;
  height: 36px;
  line-height: 36px;
  width: 100px;
  font-size: 14px;
  color: #666; }

.spacpce-form-center {
  float: left; }

.spacpce-form-input-value {
  display: block;
  float: left;
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  font-weight: bold;
  color: #666; }

.spacpce-form-input {
  display: block;
  float: left;
  width: 278px;
  padding: 0 10px;
  height: 34px;
  line-height: 34px;
  font-size: 14px;
  color: #333;
  border: 1px solid #e8e8e8;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

.spacpce-form-input-m {
  width: 150px; }

.spacpce-form-input-btn {
  display: block;
  float: left;
  height: 36px;
  width: 110px;
  line-height: 36px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-left: 20px;
  font-size: 14px;
  color: #fff;
  background-color: #0080cc;
  text-align: center;
  cursor: pointer;
  transition: all .2s ease-in-out; }

.spacpce-form-input-btn:hover {
  background-color: #0070bc; }

.spacpce-form-input-btn.disabled {
  background-color: #ccc; }

.spacpce-form-input-link {
  display: block;
  float: left;
  margin-left: 20px;
  height: 36px;
  line-height: 36px; }

.spacpce-form-error {
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  color: #ea544a; }

.spacpce-form-error span {
  display: none; }

.spacpce-form-error i {
  display: block;
  width: 14px;
  height: 12px;
  margin: 3px 3px 0 0;
  float: left;
  background: url(/styles/images/member/icon.png);
  background-position: -318px -52px; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
    .spacpce-form-error i {
      background: transparent url("/styles/images/member/icon.png") 0px 0px no-repeat;
      background-size: 550px 140px; } }
  @media only screen and (min--moz-device-pixel-ratio: 1.5) {
    .spacpce-form-error i {
      background: transparent url("/styles/images/member/icon.png") 0px 0px no-repeat;
      background-size: 550px 140px; } }
  @media only screen and (min-device-pixel-ratio: 1.5) {
    .spacpce-form-error i {
      background: transparent url("/styles/images/member/icon.png") 0px 0px no-repeat;
      background-size: 550px 140px; } }
  @media only screen and (-o-min-device-pixel-ratio: 3 / 2) {
    .spacpce-form-error i {
      background: transparent url("/styles/images/member/icon.png") 0px 0px no-repeat;
      background-size: 550px 140px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
    .spacpce-form-error i {
      background-position: -318px -80px; } }
  @media only screen and (min--moz-device-pixel-ratio: 1.5) {
    .spacpce-form-error i {
      background-position: -318px -80px; } }
  @media only screen and (min-device-pixel-ratio: 1.5) {
    .spacpce-form-error i {
      background-position: -318px -80px; } }
  @media only screen and (-o-min-device-pixel-ratio: 3 / 2) {
    .spacpce-form-error i {
      background-position: -318px -80px; } }

.spacpce-form-submit {
  height: 34px;
  width: 90px;
  line-height: 32px;
  border: 1px solid #0080cc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 14px;
  color: #0080cc;
  text-align: center;
  margin: 10px 0 0 200px;
  background-color: transparent;
  transition: all .2s ease-in-out;
  cursor: pointer; }

.spacpce-form-submit:hover {
  background-color: #0080cc;
  color: #fff; }

.spacpce-form-submit.disabled {
  border-color: #ccc;
  color: #fff;
  background-color: #ccc; }

/*!
 * Reset
 */
html {
  color: #454545;
  background: #f0f0f0;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  margin: 0;
  padding: 0;
  font-family: 'PingFang SC', 'PingFang TC', 'Noto Sans CJK SC', 'Noto Sans CJK TC', 'Microsoft YaHei', Helvetica, Arial; }

audio, canvas, video {
  display: inline-block; }

input, select, textarea {
  font-size: 1rem; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

th {
  text-align: inherit; }

fieldset, img {
  border: none; }

img {
  border: none; }

iframe {
  display: block; }

abbr, acronym {
  border: 0;
  font-variant: normal; }

del {
  text-decoration: line-through; }

address, caption, cite, code, dfn, em, th, var {
  font-style: normal;
  font-weight: 500; }

ol, ul, li {
  list-style: none; }

q:before, q:after {
  content: ''; }

sub, sup {
  font-size: 0.75rem;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

a:hover {
  text-decoration: underline; }

ins, a {
  text-decoration: none; }

textarea {
  resize: none;
  overflow: auto; }

input, textarea {
  outline: none; }

a {
  color: #0081cb;
  outline: none; }

input[type="button"], input[type="submit"], input[type="reset"] {
  -webkit-appearance: none;
  border-radius: none; }

textarea {
  -webkit-appearance: none; }

a:hover {
  text-decoration: none; }

.qt-mt10 {
  margin-top: 0.1333333333rem; }

.qt-mt20 {
  margin-top: 0.2666666667rem; }

.qt-mt30 {
  margin-top: 0.4rem; }

.qt-mt40 {
  margin-top: 0.5333333333rem; }

.qt-mt50 {
  margin-top: 0.6666666667rem; }

.qt-mr10 {
  margin-right: 0.1333333333rem; }

.qt-mr20 {
  margin-right: 0.2666666667rem; }

.qt-mr30 {
  margin-right: 0.4rem; }

.qt-mr40 {
  margin-right: 0.5333333333rem; }

.qt-mr50 {
  margin-right: 0.6666666667rem; }

.qt-mr220 {
  margin-right: 2.9333333333rem; }

.qt-mb10 {
  margin-bottom: 0.1333333333rem; }

.qt-mb20 {
  margin-bottom: 0.2666666667rem; }

.qt-mb30 {
  margin-bottom: 0.4rem; }

.qt-mb40 {
  margin-bottom: 0.5333333333rem; }

.qt-mb50 {
  margin-bottom: 0.6666666667rem; }

.qt-ml10 {
  margin-left: 0.1333333333rem; }

.qt-ml20 {
  margin-left: 0.2666666667rem; }

.qt-ml25 {
  margin-left: 0.3333333333rem; }

.qt-ml30 {
  margin-left: 0.4rem; }

.qt-ml40 {
  margin-left: 0.5333333333rem; }

.qt-ml50 {
  margin-left: 0.6666666667rem; }

.qt-pt10 {
  padding-top: 0.1333333333rem; }

.qt-pt15 {
  padding-top: 0.2rem; }

.qt-pt20 {
  padding-top: 0.2666666667rem; }

.qt-pt30 {
  padding-top: 0.4rem; }

.qt-pt40 {
  padding-top: 0.5333333333rem; }

.qt-pt50 {
  padding-top: 0.6666666667rem; }

.qt-pr10 {
  padding-right: 0.1333333333rem; }

.qt-pr20 {
  padding-right: 0.2666666667rem !important; }

.qt-pr30 {
  padding-right: 0.4rem; }

.qt-pr40 {
  padding-right: 0.5333333333rem; }

.qt-pr50 {
  padding-right: 0.6666666667rem; }

.qt-pb10 {
  padding-bottom: 0.1333333333rem !important; }

.qt-pb20 {
  padding-bottom: 0.2666666667rem; }

.qt-pb30 {
  padding-bottom: 0.4rem; }

.qt-pb40 {
  padding-bottom: 0.5333333333rem; }

.qt-pb50 {
  padding-bottom: 0.6666666667rem; }

.qt-pl10 {
  padding-left: 0.1333333333rem; }

.qt-pl20 {
  padding-left: 0.2666666667rem; }

.qt-pl30 {
  padding-left: 0.4rem; }

.qt-pl40 {
  padding-left: 0.5333333333rem; }

.qt-pl50 {
  padding-left: 0.6666666667rem; }

.qt-gl {
  float: left; }

.qt-gr {
  float: right; }

.ui-font-arial {
  font-family: arial; }

.ui-icons-more {
  width: 0.1866666667rem;
  height: 0.32rem;
  background: url(/styles/images/common/mobile/icons.png) no-repeat -0.16rem -2.28rem;
  background-size: 4.7733333333rem 2.7866666667rem; }

#lightbox_wrap {
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.83);
  z-index: 998; }

.dialog {
  position: absolute;
  z-index: 999;
  background-color: #fff;
  border-radius: 5px; }

.dialog_title,
.dialog_content,
.dialog_footer {
  padding: 10px 15px; }

.dialog_content {
  padding: 20px 40px;
  color: #787878;
  font-size: 14px; }

.dialog_title {
  font-size: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: relative;
  background-color: #3dbbf9;
  color: #fff;
  font-family: Microsoft YaHei;
  padding: 15px 30px; }

.dialog_title .why {
  font-size: 12px;
  float: right;
  margin-right: 40px;
  line-height: 28px;
  color: #0080cc; }

.dialog_title .why em {
  width: 14px;
  height: 14px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  background: url(/styles/images/common/icons.png) no-repeat -34px -200px;
  vertical-align: top;
  *vertical-align: middle;
  margin-top: 7px;
  *margin-top: 0;
  margin-right: 5px; }

.dialog_title .closebtn {
  position: absolute;
  top: 14px;
  right: 30px;
  width: 31px;
  height: 31px;
  display: block;
  background: url(/styles/images/common/icons.png) no-repeat -115px -107px;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out; }

.dialog_title .closebtn:hover {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  transform: rotate(360deg); }

.newdialog {
  border: 2px solid #f0f0f0; }

.newdialog .dialog_title {
  background-color: #fff;
  color: #7b7b7b;
  font-size: 18px; }

@Fcharset "UTF-8";
.ui-form .ui-item.first {
  border-top: 1px solid #d7d7d7; }
.ui-form .ui-submit-parent {
  border-top: 1px solid #d7d7d7;
  padding-top: 0.8rem; }
.ui-form .ui-item-label {
  width: 0.7733333333rem;
  text-align: center;
  height: 1.1733333333rem;
  line-height: 1.1733333333rem;
  margin-left: -100%; }
.ui-form .ui-item-icon {
  width: 0.3066666667rem;
  height: 0.4rem;
  vertical-align: middle; }
.ui-form .ui-item-text {
  height: 1.1733333333rem;
  width: 100%; }
.ui-form .ui-item-text-wrap {
  padding-left: 0.7733333333rem; }
.ui-form .ui-item-extra {
  float: left;
  width: 2.6666666667rem;
  height: 1.1733333333rem;
  line-height: 1.1733333333rem;
  background: #fff;
  margin-left: -2.6666666667rem; }
.ui-form .ui-input {
  border: none;
  background: #fff;
  height: 1.1733333333rem;
  line-height: 1.1733333333rem;
  font-size: 0.4rem;
  color: #999;
  width: 100%; }
.ui-form .ui-submit {
  background: #2a8ce7;
  height: 1.0666666667rem;
  line-height: 1.0666666667rem;
  color: #fff;
  font-size: 0.48rem;
  text-align: center;
  border-radius: 8px;
  border: none;
  width: 100%; }

@-o-keyframes circle {
  0% {
    -webkit-transform: translateX(0) scale(0);
    transform: translateX(0) scale(0);
    z-index: 3; }
  17% {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    z-index: 3; }
  34% {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    z-index: 3; }
  51% {
    -webkit-transform: translateX(-0.5333333333rem) scale(1);
    transform: translateX(-0.5333333333rem) scale(1);
    z-index: 1; }
  68% {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    z-index: 1; }
  85% {
    -webkit-transform: translateX(0.5333333333rem) scale(1);
    transform: translateX(0.5333333333rem) scale(1);
    z-index: 1; }
  100% {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    z-index: 1; } }
@-moz-keyframes circle {
  0% {
    -webkit-transform: translateX(0) scale(0);
    transform: translateX(0) scale(0);
    z-index: 3; }
  17% {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    z-index: 3; }
  34% {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    z-index: 3; }
  51% {
    -webkit-transform: translateX(-0.5333333333rem) scale(1);
    transform: translateX(-0.5333333333rem) scale(1);
    z-index: 1; }
  68% {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    z-index: 1; }
  85% {
    -webkit-transform: translateX(0.5333333333rem) scale(1);
    transform: translateX(0.5333333333rem) scale(1);
    z-index: 1; }
  100% {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    z-index: 1; } }
@-webkit-keyframes circle {
  0% {
    -webkit-transform: translateX(0) scale(0);
    transform: translateX(0) scale(0);
    z-index: 3; }
  17% {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    z-index: 3; }
  34% {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    z-index: 3; }
  51% {
    -webkit-transform: translateX(-0.5333333333rem) scale(1);
    transform: translateX(-0.5333333333rem) scale(1);
    z-index: 1; }
  68% {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    z-index: 1; }
  85% {
    -webkit-transform: translateX(0.5333333333rem) scale(1);
    transform: translateX(0.5333333333rem) scale(1);
    z-index: 1; }
  100% {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    z-index: 1; } }
@keyframes circle {
  0% {
    -webkit-transform: translateX(0) scale(0);
    transform: translateX(0) scale(0);
    z-index: 3; }
  17% {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    z-index: 3; }
  34% {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    z-index: 3; }
  51% {
    -webkit-transform: translateX(-0.5333333333rem) scale(1);
    transform: translateX(-0.5333333333rem) scale(1);
    z-index: 1; }
  68% {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    z-index: 1; }
  85% {
    -webkit-transform: translateX(0.5333333333rem) scale(1);
    transform: translateX(0.5333333333rem) scale(1);
    z-index: 1; }
  100% {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    z-index: 1; } }
.ui-circle {
  position: absolute; }
  .ui-circle .circle-wrap {
    position: relative; }
  .ui-circle .b-r {
    -webkit-animation: circle 3s linear both infinite;
    -moz-animation: circle 3s linear both infinite;
    -o-animation: circle 3s linear both infinite;
    animation: circle 3s linear both infinite; }
  .ui-circle .b-b {
    -webkit-animation: circle 3s linear both infinite  -1s;
    -moz-animation: circle 3s linear both infinite  -1s;
    -o-animation: circle 3s linear both infinite  -1s;
    -webkit-animation: circle 3s linear both infinite  -1s; }
  .ui-circle .b-y {
    -webkit-animation: circle 3s linear both infinite  -2s;
    -moz-animation: circle 3s linear both infinite  -2s;
    -o-animation: circle 3s linear both infinite  -2s;
    -webkit-animation: circle 3s linear both infinite  -2s; }
  .ui-circle .b-r, .ui-circle .b-b, .ui-circle .b-y {
    width: 0.2rem;
    height: 0.2rem;
    border-radius: 50%;
    background: teal;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -0.0933333333rem;
    background: red; }
  .ui-circle .b-r {
    background: #ff6114;
    z-index: 3; }
  .ui-circle .b-b {
    background: #14d6ff;
    z-index: -1; }
  .ui-circle .b-y {
    background: #ffd200;
    z-index: -1; }

.ui-alert-box {
  position: fixed;
  top: 50%;
  width: 100%;
  text-align: center;
  margin-top: -0.6666666667rem;
  z-index: 9999; }

.ui-alert {
  display: inline-block;
  height: 1.3333333333rem;
  line-height: 1.3333333333rem;
  border-radius: 0.1066666667rem;
  padding: 0 0.4rem;
  color: #fff;
  font-size: 0.4266666667rem;
  background-color: rgba(71, 79, 89, 0.85); }

.shack {
  -moz-animation: shack .1s .5s;
  -webkit-animation: shack .1s .5s;
  -o-animation: shack .1s .5s;
  -ms-animation: shack .1s .5s;
  animation: shack .1s .5s; }

@-ms-keyframes shack {
  0% {
    left: 0px; }
  25% {
    left: 10px; }
  50% {
    left: -5px; }
  75% {
    left: 10px; }
  100% {
    left: 0; } }
@-moz-keyframes shack {
  0% {
    left: 0px; }
  25% {
    left: 10px; }
  50% {
    left: -5px; }
  75% {
    left: 10px; }
  100% {
    left: 0; } }
@-o-keyframes shack {
  0% {
    left: 0px; }
  25% {
    left: 10px; }
  50% {
    left: -5px; }
  75% {
    left: 10px; }
  100% {
    left: 0; } }
@-webkit-keyframes shack {
  0% {
    left: 0px; }
  25% {
    left: 10px; }
  50% {
    left: -5px; }
  75% {
    left: 10px; }
  100% {
    left: 0; } }
@keyframes shack {
  0% {
    left: 0px; }
  25% {
    left: 10px; }
  50% {
    left: -5px; }
  75% {
    left: 10px; }
  100% {
    left: 0; } }
.ui-loading {
  line-height: 1.3333333333rem;
  font-size: 0.3733333333rem;
  text-align: center; }

.ui-backtop {
  display: none;
  position: fixed;
  right: 0.4266666667rem;
  bottom: 2.9333333333rem;
  width: 1.0666666667rem;
  height: 1.0666666667rem;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.6) url(/styles/images/common/mobile/icons.png) no-repeat 0.2666666667rem -0.8666666667rem;
  background-size: 4.7733333333rem 2.7866666667rem;
  z-index: 990; }

.ui-empty img {
  display: block;
  margin: 2.5333333333rem auto 0.1333333333rem; }

.ui-empty-descript {
  color: #bbb;
  font-size: 0.4rem;
  text-align: center; }

.mask-layer {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.45;
  filter: alpha(opacity=45);
  -ms-filter: alpha(opacity=45);
  z-index: 99; }

.ui-loans-prize {
  display: block;
  margin: 1.0666666667rem auto 0;
  width: 3.4666666667rem;
  height: 0.6933333333rem;
  line-height: 0.6933333333rem;
  text-align: center;
  font-size: 0.4266666667rem;
  color: #3492E9;
  border: 0.0266666667rem solid #3492E9;
  border-radius: 0.9866666667rem; }

.ui-footer {
  height: 5.0666666667rem;
  line-height: 0.4533333333rem;
  font-size: 0.32rem;
  color: #A4A4A4;
  text-align: center;
  background-color: #efefef; }

.ui-footer-top {
  padding-top: 0.8533333333rem;
  margin-bottom: 0.4266666667rem; }

.ui-footer-bottom {
  padding-bottom: 1.6rem; }

body {
  background: #115e4c url(/styles/images/topic/financial/mobile/welfare.png) no-repeat center top;
  background-size: 10rem 7.6rem;
  padding-top: 0.4rem; }

.ui-section {
  width: 10rem;
  margin: 0 auto; }

.ui-banner {
  height: 4.4rem; }

.ui-total {
  padding: 0.3333333333rem;
  height: 2.1333333333rem;
  text-align: center; }

.ui-total-number {
  font-size: 1.04rem;
  color: #317b05;
  font-weight: bold; }

.ui-total-note {
  font-size: 0.2666666667rem;
  color: #0b4537;
  font-weight: bold; }

.ui-welfare-title {
  padding-top: 0.4666666667rem;
  font-size: 0.4rem;
  color: #7ec2b3;
  text-align: center; }

.ui-icon-welfare {
  display: none;
  width: 0.8666666667rem;
  height: 0.8533333333rem;
  line-height: 0.8rem;
  background: url(/styles/images/topic/financial/mobile/icons.png) no-repeat 0 -1.5866666667rem;
  background-size: 5.3333333333rem 5.3333333333rem;
  vertical-align: middle; }

.ui-welfare-content {
  font-size: 0.2666666667rem;
  color: #7ec2b3;
  line-height: 0.48rem;
  padding: 0 0.4666666667rem; }
  .ui-welfare-content a {
    font-size: 0.2666666667rem;
    color: #fff116; }

.ui-welfare-btn {
  text-align: center; }
  .ui-welfare-btn a {
    display: inline-block;
    margin-top: 0.6666666667rem;
    width: 3.9066666667rem;
    height: 1.16rem;
    line-height: 1.0266666667rem;
    color: #fff;
    font-size: 0.4rem;
    text-align: center;
    background: url(/styles/images/topic/financial/mobile/icons.png) no-repeat -1.4133333333rem -1.5866666667rem;
    background-size: 5.3333333333rem 5.3333333333rem; }

.ui-welfare-list {
  padding: 0 0.2rem 1.2rem; }

.ui-welfare-list-item {
  float: left;
  margin: 0.2666666667rem 0.2666666667rem 0;
  background-color: rgba(255, 255, 255, 0.21);
  padding: 0.0666666667rem;
  border-radius: 0.1333333333rem;
  width: 2.52rem;
  height: 1.48rem;
  overflow: hidden; }
  .ui-welfare-list-item span {
    display: table-cell;
    width: 2.52rem;
    height: 1.48rem;
    text-align: center;
    vertical-align: middle;
    background-color: #fff;
    border-radius: 0.1333333333rem;
    overflow: hidden; }
  .ui-welfare-list-item img {
    max-width: 2.52rem;
    max-height: 1.48rem;
    border-radius: 0.0666666667rem;
    background-color: #fff; }

.ui-welfare-pic {
  width: 9.3333333333rem;
  height: 5.2666666667rem;
  margin: 0 auto;
  overflow: hidden; }

.ui-welfare-pic-item {
  width: 9.3333333333rem;
  height: 5.2666666667rem;
  display: table-cell;
  text-align: center; }
  .ui-welfare-pic-item img {
    width: 9.3333333333rem;
    vertical-align: middle; }

.bx-wrapper {
  position: relative;
  margin: 0.2666666667rem 0; }

.bx-has-pager {
  position: absolute;
  bottom: 0.2666666667rem;
  right: 0.2666666667rem; }

.bx-pager-item {
  float: left;
  margin-right: 0.2666666667rem; }
  .bx-pager-item .active {
    background-color: #115e4c; }

.bx-pager-link {
  display: block;
  width: 0.2rem;
  height: 0.2rem;
  text-indent: 133.3333333333rem;
  overflow: hidden;
  border-radius: 0.1333333333rem;
  background-color: rgba(255, 255, 255, 0.5); }

/*# sourceMappingURL=topic_financial_welfare.css.map */
