@Fcharset "UTF-8";
@import '../base/mobileUtils';
@import '../base/utils';
@import '../base/mreset';
@import '../base/grid';
@import '../mod/dialog';

body{
    background:#bc1b3d;
}

.mod-rolleffect{
    width:100%;
    height:px2rem(70px);
    overflow:hidden;
    background-color:#f9efb1;
    ul{
        height:px2rem(70px);
    }
    li{
        float:left;
        color:#520616;
        height:px2rem(70px);
        line-height:px2rem(70px);
        @include font-dpr(12px);
        padding-right:px2rem(20px);
        span{
            padding-left:px2rem(16px);
            padding-right:px2rem(16px);
        }
        a{
            color:#520616;
        }
    }
}

.mod-banner{
    img{
        width:100%;
    }
}

.mod-desc{
    padding:px2rem(18px) 0 px2rem(54px);
    .inner{
        height: px2rem(54px);
        background:url("/styles/images/mobile/yxj/yxj-desc.png") no-repeat center;
        background-size:contain;
    }
}

.mod-usermobile{
    padding-bottom:px2rem(24px);
    line-height: px2rem(79px);
    @include font-dpr(12px);
    color:#fff;
    text-align: center;
}

.mod-redbag{
    position: relative;
    min-height: px2rem(516px);
    background:url("/styles/images/mobile/yxj/yxj-redbag.png") no-repeat center top;
    background-size: contain;
    .inner-open,.inner-opened{
        margin:0 auto;
        min-width:px2rem(279px);
        min-height:px2rem(374px);
    }
    .inner-open{
        .point{
            margin-bottom: px2rem(35px);
            line-height: px2rem(47px);
            @include font-dpr(10px);
            text-align: center;
            color: #fff;
            span{
                padding:2px;
                color:#fff402;
            }
        }
        .luck{
            margin:0 auto;
            margin-bottom: px2rem(66px);
            width:px2rem(100px);
            height:px2rem(125px);
            background:url("/styles/images/mobile/yxj/yxj-luck.png") no-repeat center;
            background-size:contain;
        }
        .btn-open{
            display: block;
            margin:0 auto;
            width:px2rem(219px);
            height:px2rem(60px);
            background:url("/styles/images/mobile/yxj/yxj-btn-open.png") no-repeat center;
            background-size: contain;
            text-indent: -999em;
            overflow: hidden;
        }
    }
    .inner-opened{
        .point{
            margin-bottom: px2rem(35px);
            line-height: px2rem(49px);
            text-align: center;
            @include font-dpr(10px);
            color: #fabd30;
        }
        .redbag{
            margin:0 auto;
            margin-bottom: px2rem(66px);
            min-width:px2rem(100px);
            min-height:px2rem(125px);
            @include font-dpr(8px);
            color:#4a0c17;
            line-height: px2rem(33px);
            text-align: center;
            p{
                line-height: px2rem(50px);
                @include font-dpr(10px);
                span{
                    @include font-dpr(15px);
                }
            }

        }
        .btn-openmore{
            display: block;
            margin: 0 auto;
            width:px2rem(219px);
            height:px2rem(60px);
            background:url("/styles/images/mobile/yxj/yxj-btn-openmore.png") no-repeat center;
            background-size:contain;
            text-indent: -999em;
            overflow: hidden;
        }
    }
    .remark{
        padding-top:px2rem(129px);
        line-height: px2rem(47px);
        @include font-dpr(10px);
        text-align: center;
        color:#fff;

    }
}

.mod-lantern{
    padding:px2rem(40px) 0 px2rem(56px);
    .inner{
        min-height:px2rem(665px);
        background:url("/styles/images/mobile/yxj/yxj-lantern.png") no-repeat center;
        background-size: contain;
        p{
            margin-bottom: px2rem(28px);
            line-height: px2rem(47px);
            padding-top: px2rem(188px);
            @include font-dpr(12px);
            color:#fff;
            text-align: center;
        }
    }
}
.loadApp{
    padding:px2rem(53px) 0;
}
.btn-loadApp{
    display: block;
    margin: 0 auto;
    width:px2rem(516px);
    height:px2rem(103px);
    background:url("/styles/images/mobile/yxj/yxj-btn-loadapp.png") no-repeat top;
    background-size: contain;
    text-indent: -999em;
    overflow: hidden;
}

.mod-tip{
    .hd{
        padding-top:px2rem(117px);
        background:url("/styles/images/mobile/yxj/yxj-tip.png") no-repeat top;
        background-size: contain;
    }
    .bd{
        padding: px2rem(20px) px2rem(41px) px2rem(200px);
        p{
            line-height:px2rem(47px);
            @include font-dpr(10px);
            color:#fff;
        }
    }
}


/*弹出层样式*/
.yxj-pop,.yxj-simpop{
    border:px2rem(3.5px) solid #d6c9a3;
    border-radius: px2rem(13px);
    background: #e8564c;
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#FF0000',endColorStr='#F9F900',gradientType='0');
    background: -moz-linear-gradient(top, #f06349, #db4250);
    background: -o-linear-gradient(top,#f06349, #db4250);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f06349), to(#db4250));
    background: linear-gradient(bottom,#f06349,#db4250);
    .dialog_title{
        padding:0;
        .closebtn{
            top:px2rem(-4.7px);
            right:px2rem(-4.7px);
            width:px2rem(50px);
            height:px2rem(50px);
            background: url("/styles/images/topic/yxj/yxj_pop_btnclose.png") no-repeat center;
            background-size: contain;
        }
    }
    .dialog_content{
        padding:0;
        .congratulate{
            padding-top: px2rem(32px);
            line-height: px2rem(63px);
            @include font-dpr(18px);
            color:#fff402;
        }
        .money{
            line-height: px2rem(91px);
            @include font-dpr(30px);
            color:#fff402;
        }
        .remark{
            margin-bottom: px2rem(28px);
            line-height: px2rem(56px);
            @include font-dpr(14px);
            color:#fff;
        }
        .noredbag{
            margin-bottom: px2rem(65px);
        }
    }
}
.yxj-simpop{
    .dialog_content{
        padding:0;
    }
    .closebtn{
        display:none;
    }
}
.yxj-simpop-cont{
    text-align: center;
    @include font-dpr(18px);
    line-height: px2rem(175px);
    color:#fff402;
}

.yxj-pop-cont{
    text-align: center;
    .btn-share{
        display:inline-block;
        vertical-align: middle;
        width:px2rem(234px);
        height:px2rem(63px);
        background: url("/styles/images/mobile/yxj/yxj_btn_share.png") no-repeat center;
        background-size: contain;
        text-indent: -999em;
        overflow: hidden;
    }
}
.share-tip{
    display:none;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.7);
    .inner{
        float:right;
        margin-right:px2rem(47px);
        margin-top:px2rem(36px);
        width:px2rem(466px);
        height:px2rem(405px);
        background:url("/styles/images/mobile/yxj/yxj-share-tip.png") no-repeat center;
        background-size: contain;
    }
}