@charset "UTF-8";
@import '../base/mobileUtils';
@import '../base/utils';
@import '../base/mreset';
@import '../mod/dialog';

html {
  max-height:999999px;
  background-color:  #c72626;
  font-family: "Microsoft YaHei",sans-serif;
}
.box{
  height:100vh;
  min-height: px2rem(1000px);
  overflow: hidden;
}
.red{
  position: relative;
  height:px2rem(1292px);
  background-image: url(/styles/images/weixin/red_588.png);
  background-size: px2rem(750px) px2rem(1292px);
  background-repeat: no-repeat;
}
.openapp-btn{
  position: absolute;
  display: block;
  top: px2rem(845px);
  left: 50%;
  height: px2rem(90px);
  width: px2rem(570px);
  margin-left: px2rem(-285px);
}