<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit" />

    <title> Demo - wdatepicker </title>
    <link rel="stylesheet" href="../css/common.css">
</head>
<body>
<script src="../libs/wdatePicker/wdatePicker.js"></script>

<input class="m-wdate w192" type="text" readonly onclick="WdatePicker()">

<input class="m-wdate w192" type="text" readonly onclick="WdatePicker({dateFmt:'yyyy-MM'})">

</body>
</html>