<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!-- IE / Chrome -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<!-- 360极速模式 -->
	<meta name="renderer" content="webkit" />
	<title> 员工离职手续清单 </title>

	<link rel="stylesheet" href="../libs/selectbox/selectbox-min.css">

	<link rel="stylesheet" href="../css/common.css">
	<link rel="stylesheet" href="../css/dimission.css">
</head>
<body>

<div class="g-site-wrap">
	<div class="g-site-top">

		<!-- g-head -->
		<div class="g-head clearfix">
    <h1 class="fl m-logo">
        <a href="/">
            <img width="86" class="fl logo" src="../img/logo.png" alt="滴滴">
            <span class="fl msg">eHR系统</span>
        </a>
    </h1>

    <ul class="fr m-login">
        <li class="fl avatar J_Avatar">
            <div class="info clearfix">
                <div class="fl pic m-coverimg" style="background-image: url(../img/tmp/avatar1-ORCH.jpg)"></div>
                <span class="fl name">Admin</span>
            </div>
            <div class="handle">
                <div class="inner">
                    <a href="#">注销</a>
                </div>
            </div>
        </li>
        <li class="fl help line">
            <i class="fl pic ico ico-help"></i>
            <a href="#" class="fl name">帮助</a>
        </li>
    </ul>

    <div class="m-search">
        <input class="search" type="text" placeholder="搜索HR政策流程">
        <span class="query ico ico-search"><input class="btn" type="submit"></span>
        <!--<ul class="datalist">-->
            <!--<li><a href="#">搜索</a></li>-->
            <!--<li><a href="#">搜索搜索</a></li>-->
            <!--<li><a href="#">搜索搜索搜索</a></li>-->
        <!--</ul>-->
    </div>
</div>

	</div>
	<div class="J_SiteBody g-site-body">
		
		<div class="J_SiteSide g-site-side">

    <div class="J_ScrollMenu">
        <!-- m-leftbar -->
        <ul class="m-leftbar">
            <!-- 选中状态的li添加class名active -->
            <li class="active">
                <a class="item" href="#">
                <span class="pic">
                    <i class="def ico ico-nav-home"></i>
                    <i class="now ico ico-nav-home2"></i>
                </span>
                    <span class="name">首页</span>
                </a>
            </li>
            <li>
                <a class="item" href="#">
                <span class="pic">
                    <i class="def ico ico-nav-info"></i>
                    <i class="now ico ico-nav-info2"></i>
                </span>
                    <span class="name">我的信息</span>
                </a>
            </li>
            <li>
                <a class="item" href="#">
                <span class="pic">
                    <i class="def ico ico-nav-salary"></i>
                    <i class="now ico ico-nav-salary2"></i>
                </span>
                    <span class="name">我的薪酬</span>
                </a>
            </li>
            <li>
                <a class="item" href="#">
                <span class="pic">
                    <i class="def ico ico-nav-team"></i>
                    <i class="now ico ico-nav-team2"></i>
                </span>
                    <span class="name">我的团队</span>
                </a>
            </li>
            <li>
                <a class="item" href="#">
                <span class="pic">
                    <i class="def ico ico-nav-structure"></i>
                    <i class="now ico ico-nav-structure2"></i>
                </span>
                    <span class="name">组织结构</span>
                </a>
            </li>
            <li>
                <a class="item" href="#">
                <span class="pic">
                    <i class="def ico ico-nav-prove"></i>
                    <i class="now ico ico-nav-prove2"></i>
                </span>
                    <span class="name">证明办理</span>
                </a>
            </li>
            <li>
                <a class="item" href="#">
                <span class="pic">
                    <i class="def ico ico-nav-welfare"></i>
                    <i class="now ico ico-nav-welfare2"></i>
                </span>
                    <span class="name">福利政策</span>
                </a>
            </li>
            <li>
                <a class="item" href="#">
                <span class="pic">
                    <i class="def ico ico-nav-service"></i>
                    <i class="now ico ico-nav-service2"></i>
                </span>
                    <span class="name">自助服务</span>
                </a>
            </li>
            <li>
                <a class="item" href="#">
                    <span class="pic">
                        <i class="def ico ico-nav-backlog"></i>
                        <i class="now ico ico-nav-backlog2"></i>
                    </span>
                    <span class="name">待办流程</span>
                    <span class="num">10</span>
                </a>
            </li>
            <li>
                <a class="item" href="#">
                <span class="pic">
                    <i class="def ico ico-nav-staff"></i>
                    <i class="now ico ico-nav-staff2"></i>
                </span>
                    <span class="name">查看员工信息</span>
                </a>
            </li>
        </ul>
    </div>

</div>

		<div class="J_SiteMain g-site-main">

			<div class="m-layout">
				<h2 class="m-title2">待办流程</h2>

				<div class="m-wrap p-dimission">
					<h1 class="title">员工离职手续清单</h1>

					<dl class="p-item p-item-site">
						<dt class="clearfix">员工编号：00001</dt>
						<dd>
							<ul class="clearfix">
								<li class="fl">
									<label class="fl w115">姓名：</label>
									<span class="fl value w230">赵日天</span>
								</li>
								<li class="fl">
									<label class="fl w105">部门：</label>
									<span class="fl value w220">产品技术部</span>
								</li>
								<li class="fl">
									<label class="fl w105">申请日期：</label>
									<span class="fl value w145">2015.01.01</span>
								</li>

								<li class="fl">
									<label class="fl w115">职务：</label>
									<span class="fl value w230">UI设计师</span>
								</li>
								<li class="fl">
									<label class="fl w105">入职日期：</label>
									<div class="fl w220">
										<input class="m-wdate w120" type="text" readonly onclick="WdatePicker()">
									</div>
								</li>
								<li class="fl">
									<label class="fl w105">预计离职日期：</label>
									<div class="fl w145">
										<input class="m-wdate w120" type="text" readonly onclick="WdatePicker()">
									</div>
								</li>

								<li class="fl">
									<label class="fl w115">员工邮箱：</label>
									<span class="fl value w230">10000@qq.com</span>
								</li>
								<li class="fl">
									<label class="fl w105">离职申请附件：</label>
									<div class="fl w220">
										<label class="m-file">
											<span class="file-name">文件.txt</span>
											<input type="file" />
											<i class="ico ico-file file-ico"></i>
										</label>
									</div>
								</li>
							</ul>
						</dd>
					</dl>

					<dl class="p-item">
						<dt>HRBP</dt>
						<dd>
							<ul class="clearfix">
								<li class="fl wb100">
									<label class="fl w140">离职状态：</label>
									<span class="fl value">即将离职</span>
								</li>
								<li class="fl wb100">
									<label class="fl w140">主要离职原因：</label>
									<span class="fl value">工资低</span>
								</li>
								<li class="fl wb100">
									<label class="fl w140">离职原因说明：</label>
									<span class="fl value">工资太低</span>
								</li>
								<li class="fl w350">
									<label class="fl w140">是否涉及经济补偿：</label>
									<span class="fl value">否</span>
								</li>
								<li class="fl w570">
									<label class="fl w170">如有相关金额为：</label>
									<span class="fl mr45 value">无</span>
									元，并附相关协议；
								</li>
								<li class="fl w350">
									<label class="fl w140">是否启动竟业限制：</label>
									<span class="fl value">否</span>
								</li>
								<li class="fl w570">
									<label class="fl w170">竟业限制期限为：</label>
									<span class="fl mr45 value">无</span>
									个月
								</li>
								<li class="fl w350">
									<label class="fl w140">离职去向：</label>
									<span class="fl value">创业</span>
								</li>
								<li class="fl w570">
									<label class="fl w170">是否接受回流：</label>
									<span class="fl value">是</span>
								</li>
								<li class="fl w350">
									<label class="fl w140">是否已找到新工作：</label>
									<span class="fl value">无</span>
								</li>
								<li class="fl w570">
									<label class="fl w170">新工作单位名称及岗位：</label>
									<span class="fl value">创业</span>
								</li>
								<li class="fl w350">
									<label class="fl w140">薪酬提升比例：</label>
									<span class="fl value">无</span>
								</li>
							</ul>
						</dd>
					</dl>

					<dl class="p-item">
						<dt>共享服务中心</dt>
						<dd>
							<ul>
								<li>
									<label class="m-check J_Check mt13"><input type="checkbox">确认离职日期，可以办理离职手续</label>
								</li>
							</ul>
						</dd>
					</dl>

					<dl class="p-item">
						<dt>安全部</dt>
						<dd>
							<ul>
								<li>
									<label class="m-check J_Check mt13"><input type="checkbox">确认统一身份认证权限消除</label>
								</li>
							</ul>
						</dd>
					</dl>

					<dl class="p-item">
						<dt>行政部</dt>
						<dd>
							<ul>
								<li>
									<label class="m-check J_Check mt13"><input type="checkbox">办公用品归还，如：办公电话、插线板等</label>
								</li>
							</ul>
						</dd>
					</dl>

					<dl class="p-item">
						<dt>行政部／工卡</dt>
						<dd>
							<ul class="clearfix">
								<li class="fl mr80">
									<label class="m-check J_Check mt13"><input type="checkbox">工卡返还</label>
								</li>

								<li class="fl">
									<div class="m-underline mt10">
										<label class="fl m-check J_Check"><input type="checkbox"></label>
										<span class="fl">工卡如丢失，需赔款</span>
										<input class="fl underline-input w80" type="text">
										<span class="fl">元</span>
									</div>
								</li>
							</ul>
						</dd>
					</dl>

					<dl class="p-item">
						<dt>HR／C&B</dt>
						<dd>
							<ul class="c-high">
								<li>
									劳动关系及工资结算至
									<input class="m-wdate w120" type="text" readonly onclick="WdatePicker()">
									社保保险交至
									<input class="m-wdate w120" type="text" readonly onclick="WdatePicker()">
								</li>
								<li>
									<div class="m-underline mt10">
										<span class="fl">是否需返还工资款／福利</span>
										<input class="fl underline-input w80" type="text">
										<span class="fl">元</span>
									</div>
								</li>
							</ul>
						</dd>
					</dl>

					<dl class="p-item">
						<dt>财务部</dt>
						<dd>
							<ul class="clearfix c-high">
								<li class="fl mr80">
									<div class="m-underline mt10">
										<span class="fl">个人欠款返还</span>
										<input class="fl underline-input w80" type="text">
										<span class="fl">元</span>
									</div>
								</li>
								<li class="fl">
									<div class="m-underline mt10">
										<span class="fl">个人返还工资及福利款</span>
										<input class="fl underline-input w80" type="text">
										<span class="fl">元</span>
									</div>
								</li>
							</ul>
						</dd>
					</dl>

					<dl class="p-item">
						<dt>IT资产组</dt>
						<dd>
							<ul class="clearfix">
								<li class="fl mr45">
									<label class="m-check J_Check mt13"><input type="checkbox">确认办公电脑／笔记本功能正常</label>
								</li>

								<li class="fl">
									<label class="m-check J_Check mt13"><input type="checkbox">办公电脑／笔记本已归还</label>
								</li>

								<li class="fl wb100">
									<div class="m-underline mt10">
										<label class="fl m-check J_Check"><input type="checkbox"></label>
										<span class="fl">办公资产个人需赔付</span>
										<input class="fl underline-input w80" type="text">
										<span class="fl">元</span>
									</div>
								</li>
							</ul>
						</dd>
					</dl>

					<dl class="p-item">
						<dt>IT资产组</dt>
						<dd>
							<ul class="c-high">
								<li>确认离职手续办理完成，开具离职证明。</li>
							</ul>
						</dd>
					</dl>

					<p class="p-submit">
						<a class="m-btn m-btn-orange" href="#">确 认</a>
						<a class="m-btn m-btn-white" href="#">取 消</a>
					</p>

				</div>

			</div>

		</div>
	</div>
</div>

<script src="../libs/jquery/jquery.min.js"></script>
<script src="../libs/jquery/jquery.slimscroll.min.js"></script>
<script src="../libs/selectbox/selectbox-min.js"></script>
<script src="../libs/wdatePicker/wdatePicker.js"></script>
<script src="../js/common.js"></script>
<script>
	$(function(){
		// 模拟select选择框 by http://aui.github.io/popupjs/doc/selectbox.html
		$('.J_Select').each(function(){
			selectbox(this);
		});
	});
</script>
</body>
</html>