<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!-- IE / Chrome -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<!-- 360极速模式 -->
	<meta name="renderer" content="webkit" />
	<title>测评题列表</title>
	<link rel="stylesheet" href="../libs/selectbox/selectbox-min.css">
	<link rel="stylesheet" href="../css/common.css">
	<link rel="stylesheet" href="../css/backlog.css">
	<link rel="stylesheet" href="../css/measurement.css">
</head>
<body>
	<div class="g-site-wrap">
	<div class="g-site-top">

		<!-- g-head -->
		<div class="g-head clearfix">
    <h1 class="fl m-logo">
        <a href="/">
            <img width="86" class="fl logo" src="../img/logo.png" alt="滴滴">
            <span class="fl msg">eHR系统</span>
        </a>
    </h1>

    <ul class="fr m-login">
        <li class="fl avatar J_Avatar">
            <div class="info clearfix">
                <div class="fl pic m-coverimg" style="background-image: url(../img/tmp/avatar1-ORCH.jpg)"></div>
                <span class="fl name">Admin</span>
            </div>
            <div class="handle">
                <div class="inner">
                    <a href="#">注销</a>
                </div>
            </div>
        </li>
        <li class="fl help line">
            <i class="fl pic ico ico-help"></i>
            <a href="#" class="fl name">帮助</a>
        </li>
    </ul>

    <div class="m-search">
        <input class="search" type="text" placeholder="搜索HR政策流程">
        <span class="query ico ico-search"><input class="btn" type="submit"></span>
        <!--<ul class="datalist">-->
            <!--<li><a href="#">搜索</a></li>-->
            <!--<li><a href="#">搜索搜索</a></li>-->
            <!--<li><a href="#">搜索搜索搜索</a></li>-->
        <!--</ul>-->
    </div>
</div>

	</div>
	<div class="J_SiteBody g-site-body">
		
		<div class="J_SiteSide g-site-side">

    <div class="J_ScrollMenu">
        <!-- m-leftbar -->
        <ul class="m-leftbar">
            <!-- 选中状态的li添加class名active -->
            <li class="active">
                <a class="item" href="#">
                <span class="pic">
                    <i class="def ico ico-nav-home"></i>
                    <i class="now ico ico-nav-home2"></i>
                </span>
                    <span class="name">首页</span>
                </a>
            </li>
            <li>
                <a class="item" href="#">
                <span class="pic">
                    <i class="def ico ico-nav-info"></i>
                    <i class="now ico ico-nav-info2"></i>
                </span>
                    <span class="name">我的信息</span>
                </a>
            </li>
            <li>
                <a class="item" href="#">
                <span class="pic">
                    <i class="def ico ico-nav-salary"></i>
                    <i class="now ico ico-nav-salary2"></i>
                </span>
                    <span class="name">我的薪酬</span>
                </a>
            </li>
            <li>
                <a class="item" href="#">
                <span class="pic">
                    <i class="def ico ico-nav-team"></i>
                    <i class="now ico ico-nav-team2"></i>
                </span>
                    <span class="name">我的团队</span>
                </a>
            </li>
            <li>
                <a class="item" href="#">
                <span class="pic">
                    <i class="def ico ico-nav-structure"></i>
                    <i class="now ico ico-nav-structure2"></i>
                </span>
                    <span class="name">组织结构</span>
                </a>
            </li>
            <li>
                <a class="item" href="#">
                <span class="pic">
                    <i class="def ico ico-nav-prove"></i>
                    <i class="now ico ico-nav-prove2"></i>
                </span>
                    <span class="name">证明办理</span>
                </a>
            </li>
            <li>
                <a class="item" href="#">
                <span class="pic">
                    <i class="def ico ico-nav-welfare"></i>
                    <i class="now ico ico-nav-welfare2"></i>
                </span>
                    <span class="name">福利政策</span>
                </a>
            </li>
            <li>
                <a class="item" href="#">
                <span class="pic">
                    <i class="def ico ico-nav-service"></i>
                    <i class="now ico ico-nav-service2"></i>
                </span>
                    <span class="name">自助服务</span>
                </a>
            </li>
            <li>
                <a class="item" href="#">
                    <span class="pic">
                        <i class="def ico ico-nav-backlog"></i>
                        <i class="now ico ico-nav-backlog2"></i>
                    </span>
                    <span class="name">待办流程</span>
                    <span class="num">10</span>
                </a>
            </li>
            <li>
                <a class="item" href="#">
                <span class="pic">
                    <i class="def ico ico-nav-staff"></i>
                    <i class="now ico ico-nav-staff2"></i>
                </span>
                    <span class="name">查看员工信息</span>
                </a>
            </li>
        </ul>
    </div>

</div>

		<div class="J_SiteMain g-site-main">

			<!-- p-backlog -->
			<div class="m-layout p-backlog J_Backlog">
				<h2 class="m-title2">360评测</h2>
				<span class="return">&lt;&nbsp;返回</span>
				<div class="m-wrap">
					<!-- m-tab -->
					<div class="m-tab J_Tab mdiv_b">
						
						<div class="bd">
							<div class="item active">

								
								<div class="cp">
									<div class="txt_nav">
									 	<h1>360xxx测评</h1>
									 	<p class="txt">欢迎语及注意事项，人才测评的方法很多，经常使用的主要有笔试或机考、心理测试、面试、情景模拟法等四种。企业在招聘人才时，究竟选择哪几种方法对应聘者进行测评，应该根据招聘的岗位而定，即企业在进行人才测评之前，应该作好岗位分析（即工作分析），只有明确目标岗位职责和知识、能力等结构后，才能让测评做到有的放矢。
    首先，对一些专业性较强的岗位或应聘人员过多时，可以考虑将在线测评（倍智标准在线测评一元起）作为初期筛选工具，只淘汰低分的岗位不合格者，但不惟分数论。</p>
									 </div>
							 </div>

								<!-- m-table -->
								<div class="p-table cp_div">
									<div class="indicators">
									 	<h3>测评题列表</h3>
									 	
									 </div>
									<div class="m-table definition">
										
                                            <p><span>1. </span> 测评题目测评题目测评题目，测评题目测评题目测评题目测评题目。
                                            </p>
                                        
										
										     <span class="pad_l">
												<label class="radio-inline">
												  <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 非常符合
												</label>
											     <label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 符合
</label>                                        <label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 中等符合
</label>                                        <label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 不符合
</label>                                        <label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 非常不符合
</label>
											</span>
											
									</div>
                                   <div class="m-table definition">
                                        
                                            <p><span>2. </span> “高数”最主要的是锻炼了人的逻辑思维能力,解题的过程实际上就是处理各种问题的过程,先对题目进行分析、弄清题意,然后考虑属于哪些知识点对于很多人来说过国家线是没有问题，但是单是过国家线还是不够的。
                                            </p>
                                        
                                        
                                             <span class="pad_l">
                                                <label class="radio-inline">
                                                  <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 非常符合
                                                </label>
                                                 <label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 符合
</label>                                        <label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 中等符合
</label>                                        <label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 不符合
</label>                                        <label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 非常不符合
</label>
                                            </span>
                                            
                                        </div>
                                        <div class="m-table definition">
                                        
                                            <p><span>3. </span> 对同一件事物有自己独特的看法,看一同件事情有自己的独特眼光,做同一件事情由自己独特的创意,特别是“创造力”最能体现出你的与众不同哲学与其他学科的不同之处在於其批判的方式、通常是系统化的方法，并且以理性论证为基矗 在日常用语中。
                                            </p>
                                        
                                        
                                             <span class="pad_l">
                                                <label class="radio-inline">
                                                  <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 非常符合
                                                </label>
                                                 <label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 符合
</label>                                        <label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 中等符合
</label>                                        <label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 不符合
</label>                                        <label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 非常不符合
</label>
                                            </span>
                                            
                                        </div>
                                        <div class="m-table definition">
                                        
                                            <p><span>4. </span> 对同一件事物有自己独特的看法,看一同件事情有自己的独特眼光,做同一件事情由自己独特的创意,特别是“创造力”最能体现出你的与众不同是理论化、系统化的世界观，是自然知识、社会知识、思维知识的概括和总结，是世界观和方法论的统一。
                                            </p>
                                        
                                        
                                             <span class="pad_l">
                                                <label class="radio-inline">
                                                  <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 非常符合
                                                </label>
                                                 <label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 符合
</label>                                        <label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 中等符合
</label>                                        <label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 不符合
</label>                                        <label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 非常不符合
</label>
                                            </span>
                                            
                                        </div>
                                        <div class="m-table definition">
                                        
                                            <p><span>5. </span> 处理各种问题要分清主次、考虑轻重缓急,说的就是这个意思.一大堆问题扑面而来,到底哪个是最重要的、最关键的、影响最大的,把所有的时间精力都集中起来。
                                            </p>
                                        
                                        
                                             <span class="pad_l">
                                                <label class="radio-inline">
                                                  <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 非常符合
                                                </label>
                                                 <label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 符合
</label>                                        <label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 中等符合
</label>                                        <label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 不符合
</label>                                        <label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 非常不符合
</label>
                                            </span>
                                            
                                        </div>
                                        <div class="m-table definition">
                                        
                                            <p><span>6. </span> 有人说哲学就是在你不知向左拐还是向右拐的时候,告诉你左有左的好处、右有右好处、左有左的坏处、右有右的坏处.是的,哲学并没有为我们指明向哪个方向拐,却全面分析了利弊,以便权衡得失,这就是马克思主义哲学的辩证思维方式。
                                            </p>
                                        
                                        
                                             <span class="pad_l">
                                                <label class="radio-inline">
                                                  <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 非常符合
                                                </label>
                                                 <label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 符合
</label>                                        <label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 中等符合
</label>                                        <label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 不符合
</label>                                        <label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 非常不符合
</label>
                                            </span>
                                            
                                        </div>
								</div>

							
							<div class="item">同"待我审批"</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

<script src="../libs/jquery/jquery.min.js"></script>
<script src="../libs/jquery/jquery.slimscroll.min.js"></script>
<script src="../libs/wdatePicker/wdatePicker.js"></script>
<script src="../libs/selectbox/selectbox-min.js"></script>
<script src="../js/common.js"></script>
<script src="../js/jquery.tab.js"></script>
<script>
	$(function(){
		// 模拟select选择框 by http://aui.github.io/popupjs/doc/selectbox.html
		$('.J_Select').each(function(){
			selectbox(this);
		});

		// tab切换
		$('.J_Tab').tabs('.hd li', '.bd .item');

	});
</script>
</body>
</html>