<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!-- IE / Chrome -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<!-- 360极速模式 -->
	<meta name="renderer" content="webkit" />
	<title> 离职证明 </title>
	<link rel="stylesheet" href="../css/common.css">
	<link rel="stylesheet" href="../css/print.css">
</head>
<body>

<div class="m-print m-print-leave">
	<!-- page -->
	<div class="page">
		<h2 class="print-title">离职证明</h2>

		<p class="print-intent lh36"><span class="print-underline">史小方</span>先生/女士(身份证号：<span class="print-underline">370828198804203269</span>)，自<span class="print-underline">2014年09月01日</span>至<span class="print-underline">2015年08月31日</span>在我司<span class="print-underline">专车事业部-大区管理中心</span>工作，离职时的职务为<span class="print-underline">服务支持专员</span>。我司于<span class="print-underline">2015年08月31日</span>解除劳动关系。</p>

		<p class="print-intent lh36">该人员入职时与我司签订了《北京嘀嘀无限员工保密协议书》，在离职后仍需履行该协议的义务，不得向任何单位和个人透露我司商业秘密。</p>

		<p class="print-text-right lh36">北京嘀嘀无限科技发展有限公司</p>
		<p class="print-text-right lh36">人力资源部</p>
		<p class="print-text-right lh36">2015年8月31日</p>

		<p class="print-remark">注：离职证明仅此一份，请妥善保管！</p>

		<p class="print-line">&nbsp;</p>

		<h2 class="print-stub">离职证明存根</h2>

		<table class="table-usr">
			<tr>
				<td><span class="bold">姓名：</span><span class="print-underline">史小方</span></td>
				<td><span class="bold">身份证号：</span><span class="print-underline">370828198804203269</span></td>
			</tr>
			<tr>
				<td><span class="bold">部门：</span><span class="print-underline">专车事业部-大区管理中心</span></td>
				<td><span class="bold">离职时职务：</span><span class="print-underline">服务支持专员</span></td>
			</tr>
		</table>

		<p class="lh30 pl6"><span class="bold">工作时间：</span><span class="print-underline">2014年09月01日至2015年08月31日</span></p>
		<p class="lh30 pl6 mb23"><span class="bold">证明开具日期：</span><span class="print-underline">2015年08月31日</span></p>

		<p class="print-intent lh36">本人确认，在职期间的工资、奖金、加班费、经济补偿等（如有）均已结清；在按照公司要求办理完毕全部离职交接事项后，公司将剩余工资及经济补偿、加班费、医疗补助费等（如有）款项将以银行转账形式在公司发薪日发放。</p>
		<p class="print-intent lh36 mb10">本人确认不再向公司主张任何权利，并保证离职后不为第三方以任何方式招聘公司在职员工或引诱其离职，否则公司有权利要求其赔偿由此行为产生的经济损失（包括但不限于为调查取证所产生的调查费及律师费等）。</p>

		<p class="ml300 bold lh21">员工声明：本人已阅读并确认全部内容。</p>
		<p class="ml300 bold lh21 mb39">签字确认：</p>

		<p class="print-text-right bold lh24 pr30">年<span class="pl38">月</span><span class="pl38">日</span></p>
	</div>
</div>

</body>
</html>