<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!-- IE / Chrome -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<!-- 360极速模式 -->
	<meta name="renderer" content="webkit" />
	<title> 收入证明 </title>
	<link rel="stylesheet" href="../css/common.css">
	<link rel="stylesheet" href="../css/print.css">
</head>
<body>

<!-- 中文 -->
<div class="m-print m-print-visa">
	<!-- page -->
	<div class="page">
		<!--page-hd-->
		<div class="page-hd"><img src="../img/print_logo.png" alt="北京嘀嘀无限科技发展有限公司"></div>

		<!--page-bd-->
		<div class="page-bd">
			<h2 class="print-title">工作单位证明</h2>

			<p>致：尊敬的签证官阁下</p>
			<p class="print-intent mb10">兹有我单位XXX先生/女士在北京嘀嘀无限科技发展有限公司，任xxxx职务，加入我单位的时间是20xx年xx月. 现我公司同意其利用假期前往xx（国家）旅游，假期为20xx年xx月xx日至20xx年xx月xx日。他(她)个人支付其在英国旅游期间的所有费用。</p>
			<p>申请人的具体情况如下：</p>
			<table class="print-table">
				<tr>
					<th>姓名</th>
					<th>性别</th>
					<th>出生日期</th>
					<th>护照号</th>
					<th>月薪</th>
					<th>职务</th>
				</tr>
				<tr>
					<td>赵日天</td>
					<td>女</td>
					<td>1990.xx.xx</td>
					<td>G1</td>
					<td>&yen;10000</td>
					<td>xx</td>
				</tr>
			</table>

			<p class="mb30">我公司担保他(她)遵守贵国的法律，按期归国。并继续在我公司任职。</p>
			<p class="mb30">特此证明！</p>
			<p>负责人签名：</p>
			<p>负责人直线电话：010-83042376</p>
			<p>日　　期：</p>
			<p>公司盖章：</p>
			<p>公司地址：北京市海淀区东北旺西路8号中关村软件园一期尚东数字山谷B区1号楼</p>
		</div>
	</div>
</div>

<!-- 英文 -->
<div class="m-print m-print-visa">
<!-- page -->
	<div class="page">
		<!--page-hd-->
		<div class="page-hd"><img src="../img/print_logo.png" alt="北京嘀嘀无限科技发展有限公司"></div>

		<!--page-bd-->
		<div class="page-bd">
			<h2 class="print-title">IDENTIFICATION</h2>

			<p>Dear Sir or Madam:</p>
			<p class="print-intent mb5">This is to certify that Mr（Ms）. XX is a xx manager of Beijing DIDI Technology co., LTD. He(She) has been working in our company from xx(月) 20xx（年）. He（She） has been permitted to travel to XX(国家) from 21th Nov 2015 to 28th Nov 2015. All his(her) expense and insurance will be covered by himself(herself).</p>
			<p>His details as follow:</p>
			<table class="print-table mb5">
				<tr>
					<th>Name</th>
					<th>Sex</th>
					<th>DOB</th>
					<th>Passport No</th>
					<th>Salary RMB</th>
					<th>Job title</th>
				</tr>
				<tr>
					<td>xx</td>
					<td>Male(female)</td>
					<td>1990.xx.xx</td>
					<td>G1</td>
					<td>10000(RMB)</td>
					<td>xx</td>
				</tr>
			</table>

			<p>My company guarantee he(she) abide by the laws of your country, return on schedule, and continue his(her) work in our company.</p>
			<p>This is to certify that</p>
			<p>Thank you very much for your time and I will appreciate your kindness and help! With all my regards, I wish all the best things in the world to you and your family.</p>
			<p>Yours Sincerely</p>
			<p>Signature of responsible person:</p>
			<p>Mobile of responsible person: 010-83042376</p>
			<p>Date:</p>
			<p>Company Sale:</p>
			<p>Company Address: Zone B, Digital valley, Software park no.2 Road, Haidian district, Beijing, P.R. China.</p>
		</div>
	</div>
</div>

</body>
</html>