<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!-- IE / Chrome -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<!-- 360极速模式 -->
	<meta name="renderer" content="webkit" />
	<title> 收入证明 </title>
	<link rel="stylesheet" href="../css/common.css">
	<link rel="stylesheet" href="../css/print.css">
</head>
<body>

<div class="m-print m-print-visa">
	<!-- page -->
	<div class="page">
		<!--page-hd-->
		<div class="page-hd"><img src="../img/print_logo.png" alt="北京嘀嘀无限科技发展有限公司"></div>

		<!--page-bd-->
		<div class="page-bd">
			<h2 class="print-title">工作单位证明</h2>

			<p>致：尊敬的签证官阁下</p>
			<p class="print-intent mb10">兹有我单位XXX先生/女士在北京嘀嘀无限科技发展有限公司，任xxxx职务，加入我单位的时间是20xx年xx月. 现我公司同意其利用假期前往xx（国家）旅游，假期为20xx年xx月xx日至20xx年xx月xx日。他(她)个人支付其在英国旅游期间的所有费用。</p>
			<p>申请人的具体情况如下：</p>
			<table class="print-table">
				<tr>
					<th>姓名</th>
					<th>性别</th>
					<th>出生日期</th>
					<th>护照号</th>
					<th>月薪</th>
					<th>职务</th>
				</tr>
				<tr>
					<td>赵日天</td>
					<td>女</td>
					<td>1990.xx.xx</td>
					<td>G1</td>
					<td>&yen;10000</td>
					<td>xx</td>
				</tr>
			</table>

			<p class="mb30">我公司担保他(她)遵守贵国的法律，按期归国。并继续在我公司任职。</p>
			<p class="mb30">特此证明！</p>
			<p>负责人签名：</p>
			<p>负责人直线电话：010-83042376</p>
			<p>日　　期：</p>
			<p>公司盖章：</p>
			<p>公司地址：北京市海淀区东北旺西路8号中关村软件园一期尚东数字山谷B区1号楼</p>
		</div>
	</div>

</div>

</body>
</html>