<include file='Template:header' />
<link rel="stylesheet" type="text/css" href="http://zs.ef360.com/_css/master.css">
<link rel="stylesheet" type="text/css" href="http://zs.ef360.com/_css/base.css">
<script type="text/javascript" src="http://www.ef360.com/_public2012/js/lin.package.js"></script>
<link rel="stylesheet" type="text/css" href="http://www.ef360.com/_public2012/js/owl.carousel/owl-carousel/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="http://www.ef360.com/_public2012/js/owl.carousel/owl-carousel/owl.theme.css">
<link rel="stylesheet" type="text/css" href="http://www.ef360.com/_public2012/js/owl.carousel/owl-carousel/owl.transitions.css">
<script src="http://www.ef360.com/_public2012/js/owl.carousel/owl-carousel/owl.carousel.js"></script>
<style type="text/css">
body {
  margin: 0 auto;
  background-color: #fff;
  font-family: "Microsoft YaHei", Verdana, Geneva, sans-serif;
}
.w-header {
  min-width: 1000px;
  border-bottom: 1px solid #dedede;
  background: #fff url(http://www.ef360.com/_Public/Images/ItemMenuBg.gif) repeat-x left bottom;
  padding: 0 10px;
  font-size: 12px;
  line-height: normal;
  position: relative;
  z-index: 9999998;
  height: 29px;
  overflow: hidden;
}
.w-page {
  overflow: hidden;
  min-width: 1020px;
}
.w-page-inner {
  z-index: 1;
  position: relative;
  width: 1000px;
  min-width: 1000px;
  zoom: 1;
  margin-left: auto;
  margin-right: auto;
}
.w-page-wrapper {
  display: block;
  position: relative;
  overflow: hidden;
  width: 1920px;
  left: 50%;
  top: 0;
  margin-left: -960px;
}
.wrapper {
  width: 1000px;
  min-width: 1000px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.duanluo {
  color: #222222;
  font-size: 14px;
  line-height: 26px;
}
.duanluo p {
  margin: 0;
  text-indent: 2em;
}
.owl-carousel .owl-wrapper-outer {
  z-index: 0;
  position: relative;
}
.owl-theme .owl-controls {
  margin: -55px auto 0;
  z-index: 999;
  position: relative;
  width: 1000px;
}
.owl-theme .owl-controls .owl-page span {
  background: #fff;
}
.owl-theme .owl-controls .owl-buttons {
  margin-top: 0px;
  height: 30px;
}
.owl-theme .owl-controls .owl-buttons .div {
  margin: 0;
}
.owl-theme .owl-controls .owl-buttons .owl-prev {
  float: left;
  margin: -300px 10px 10px;
  font-size: 72px;
  background: none;
  color: #fff;
}
.owl-theme .owl-controls .owl-buttons .owl-next {
  float: right;
  margin: -300px 10px 10px;
  font-size: 72px;
  background: none;
  color: #fff;
}
.w-section {
  font-size: 14px;
  line-height: 24px;
  color: #000;
  font-family: "Microsoft YaHei", Verdana, Arial, Helvetica;
}
.w-section p {
  text-indent: 2em;
}
.pic-list img {
  margin-right: 10px;
}
.news-list-box {
  background: #fff;
  margin-top: 20px;
}
.news-list {
  padding: 27px 0 40px 13px;
  font-family: "Microsoft YaHei", Verdana, Arial, Helvetica;
  margin: 16px;
}
.news-list li {
  float: left;
  width: 200px;
  background: #efefef;
  padding: 10px;
  margin: 13px 0 0 13px;
  _display: inline;
}
.news-list li .pic {
}
.news-list li .txt {
}
.news-list li .txt h3 {
  display: block;
  font-size: 14px;
  margin-top: 8px;
}
.news-list li .txt p {
  font-size: 12px;
  color: #666;
  margin-top: 4px;
}
</style>
</head>
<body>
</div>
</div>
</div>
<div class="w-page">
  <div class="w-page-inner">
    <div class="w-page-wrapper">
      <div class="owl-pic">
        <div class="item"><img src="http://zs.ef360.com/items/ouyue/images/index_01.jpg" /></div>
      </div>
      <script>
    $('.owl-pic').owlCarousel({
      autoPlay : true,
      lazyload : true,
      singleItem : true,
      navigation : true,
      navigationText : ['&lt;','&gt;'],
      addClassActive : true
    });
    </script> 
      
      <!-- 公司介绍-->
      <div style="background:url(http://zs.ef360.com/items/ouyue/images/index_02.jpg) no-repeat center top; height:949px;">
        <div class="duanluo wrapper">
          <div style="width:590px; padding:175px 0px 0px 0px ;">ouyue欧玥是广州辰尚服饰有限公司旗下女装品牌，创立于2008年，经过近10年的创新发展，ouyue欧玥已成为中国女装行业具影响力的品牌之一，采用女装、鞋包、饰品一站式的快时尚经营。</div>
          <div style="width:590px; padding:140px 0px 0px 0px ;">Ouyue欧玥自2008年创办开始，一直秉承将创新作为企业发展的源动力，结合世界服装行业发展趋势，根据中国现状，创立了以时尚成衣、精品鞋包、配饰等三位一体全品类经营的商业模式，在国内服装行业中独树一帜。</div>
          <div style="width:590px; padding:120px 0px 0px 0px ;"><br />
            1、一站式购物环境更加符合现代化快节奏的生活习惯<br />
            2、始终保持商品单价优势的同时保证了终端销售的客单价<br />
            3、更广阔的市场适应，覆盖1-5线城市的消费能力
            </div>
        </div>
      </div>
      <div style="background:url(http://zs.ef360.com/items/ouyue/images/index_03.jpg) no-repeat center top; height:495px;">
        <div class="duanluo wrapper">
          <div style="width:520px; padding:60px 0px 0px 450px; line-height:24px;">
            <div style=" padding-bottom:15px;"> <strong> 品牌核心价值：爱时尚 享舒适</strong><br />
              <strong> 市场定位</strong>：始终以大众市场消费为主导<br />
              <strong> 品牌个性</strong>：俏皮，清新，乐观，自由<br />
              <strong> 消费群体</strong>： 针对当代18～38岁阳光，时尚，浪漫，追求自我，品味雅致的年轻女性 </div>
            <div style=" padding-bottom:15px;"> <strong> 风格定位</strong>：欧美时尚风格、日韩淑女风格、运动休闲风格<br />
              <strong> 色彩定位</strong>：流行色为主导，经典色为辅助<br />
              <strong> 价格定位</strong>：平民化的价格定位，创造物超所值的时尚体验，春夏装：69-599元 <strong> 秋冬装</strong>：99-1299元 <br />
            </div>
            <strong> 陈列定位</strong>：生活化的终端零售组合<br />
            <strong> 市场定位</strong>：一，二线城市，一，二，三级商圈；三，四线城市，一，二级商圈<br />
            <strong> 终端定位置</strong>： 与“zara,H&M,C&A,UNIQLO,GUESS,ONLY,OCHIRLY,UR”等国际一，二线品牌相邻<br />
            <strong> 商品核心点</strong>：坚持设计给予服装足够的搭配空间，来满足现代都市女性注重独立的人格，追求品质的生活，关注新鲜与时尚的事物，在简约中表现优雅，清新，自在的生活方式 </div>
        </div>
      </div>
      
      <!-- 产品介绍-->
      <div style="background:url(http://zs.ef360.com/items/ouyue/images/index_04.jpg) no-repeat center top; height:477px;"></div>
     <div class="wrapper">
          <div id="pro_01" style="overflow:hidden;width:1000px;margin:0px auto;height:500; padding-top:10px;">
            <table cellspacing="0" cellpadding="0" class="pic-list">
              <tr>
                <td><a href="http://brand.ef360.com/103517/product/" target="_blank"><img src="http://zs.ef360.com/items/ouyue/images/pro_01/01.jpg" height="500" /></a></td>
                <td><a href="http://brand.ef360.com/103517/product/" target="_blank"><img src="http://zs.ef360.com/items/ouyue/images/pro_01/02.jpg"  height="500" /></a></td>
                <td><a href="http://brand.ef360.com/103517/product/" target="_blank"><img src="http://zs.ef360.com/items/ouyue/images/pro_01/03.jpg"  height="500" /></a></td>
                <td><a href="http://brand.ef360.com/103517/product/" target="_blank"><img src="http://zs.ef360.com/items/ouyue/images/pro_01/04.jpg"  height="500" /></a></td>
                <td><a href="http://brand.ef360.com/103517/product/" target="_blank"><img src="http://zs.ef360.com/items/ouyue/images/pro_01/05.jpg" height="500" /></a></td>
                <td><a href="http://brand.ef360.com/103517/product/" target="_blank"><img src="http://zs.ef360.com/items/ouyue/images/pro_01/06.jpg" height="500" /></a></td>
                <td><a href="http://brand.ef360.com/103517/product/" target="_blank"><img src="http://zs.ef360.com/items/ouyue/images/pro_01/07.jpg" height="500" /></a></td>
                <td><a href="http://brand.ef360.com/103517/product/" target="_blank"><img src="http://zs.ef360.com/items/ouyue/images/pro_01/08.jpg" height="500" /></a></td>
                <td><a href="http://brand.ef360.com/103517/product/" target="_blank"><img src="http://zs.ef360.com/items/ouyue/images/pro_01/09.jpg" height="500" /></a></td>
                <td><a href="http://brand.ef360.com/103517/product/" target="_blank"><img src="http://zs.ef360.com/items/ouyue/images/pro_01/10.jpg" height="500" /></a></td>
                <td><a href="http://brand.ef360.com/103517/product/" target="_blank"><img src="http://zs.ef360.com/items/ouyue/images/pro_01/11.jpg" height="500" /></a></td>
                <td><a href="http://brand.ef360.com/103517/product/" target="_blank"><img src="http://zs.ef360.com/items/ouyue/images/pro_01/12.jpg" height="500" /></a></td>
                <td><a href="http://brand.ef360.com/103517/product/" target="_blank"><img src="http://zs.ef360.com/items/ouyue/images/pro_01/13.jpg" height="500" /></a></td>
                <td><a href="http://brand.ef360.com/103517/product/" target="_blank"><img src="http://zs.ef360.com/items/ouyue/images/pro_01/14.jpg" height="500" /></a></td>
                <td><a href="http://brand.ef360.com/103517/product/" target="_blank"><img src="http://zs.ef360.com/items/ouyue/images/pro_01/15.jpg" height="500" /></a></td>
                <td><a href="http://brand.ef360.com/103517/product/" target="_blank"><img src="http://zs.ef360.com/items/ouyue/images/pro_01/16.jpg" height="500" /></a></td>
              </tr>
            </table>
            <script type="text/javascript">new Marquee("pro_01",2,1,1000,500,1,0,1000,1);</script> 
          </div>
        </div>
      <div style="background:url(http://zs.ef360.com/items/ouyue/images/index_06.jpg) no-repeat center top; height:732px;">
        <div class="duanluo wrapper">
          <div  style="padding-top:140px;">公司免费提供终端门店设计，规范加盟店铺的形象统一。从开店到运营，高级督导全程跟进服务。<br />
            严格的管理体系及专业的经营指导。<br />
            完善的产品线，快速更新的款式，紧跟时尚潮流。<br />
            快速极简的“欧玥”物流配送系统，保障货品及时配送。<br />
            强大的后台配货管理模式，严格控制好商品的库存。<br />
            网络在线平台管理，实现资源共享资源整合，共创“欧玥”新天地。</div>
          <div  style="padding-top:70px;">
            <div style=" font-size:16px; font-weight:bold; line-height:30px;">01 投资咨询</div>
            有投资合作意向者可以通过电话、微信、QQ、网上留言等方式进行咨询。</div>
          <div style=" font-size:16px; font-weight:bold; line-height:30px;">02 递交申请</div>
          索要并递交加盟申请表，上交候选店铺照片，以及相邻50米以内店铺照片。
          <div style=" font-size:16px; font-weight:bold; line-height:30px;">03 调查分析</div>
          公司专人接洽，对申请区域进行详细的调查分析和申请评估。
          <div style=" font-size:16px; font-weight:bold; line-height:30px;">04 签订协议</div>
          审核条件合格后，签订加盟协议，缴纳保证金，并商讨开业经营相关事宜。
          <div style=" font-size:16px; font-weight:bold; line-height:30px;">05 开业筹备</div>
          公司提前一个星期安排相关岗位人员培训，协助开业筹备。
          <div style=" font-size:16px; font-weight:bold; line-height:30px;">06 指导培训</div>
          后期对店铺全程经营指导，不定期培训学习。 </div>
      </div>
    </div>
    <div style="background:url(http://zs.ef360.com/items/ouyue/images/index_07.jpg) no-repeat center top; height:69px;"></div>
    <div class="wrapper" style=" padding-bottom:20px;" >
      <div id="pro_02" style="overflow:hidden;width:1000px; margin:0px auto 0px; padding:20px 0; height:300px;">
        <table border="0" cellspacing="0" cellpadding="0" class="pic-list">
          <tr>
            
            <td><img src="http://zs.ef360.com/items/ouyue/images/pro_02/01.jpg" width="500" height="300" /></td>
            
            <td><img src="http://zs.ef360.com/items/ouyue/images/pro_02/02.jpg" width="500" height="300" /></td>
            
            <td><img src="http://zs.ef360.com/items/ouyue/images/pro_02/03.jpg" width="500" height="300" /></td>
            
            <td><img src="http://zs.ef360.com/items/ouyue/images/pro_02/04.jpg" width="500" height="300" /></td>
            
            <td><img src="http://zs.ef360.com/items/ouyue/images/pro_02/05.jpg" width="500" height="300" /></td>
            
          </tr>
        </table>
      </div>
    </div>
    <script type="text/javascript">new Marquee("pro_02",2,1,1000,300,1,0,1000,1);</script>
    
  </div>
</div>
</div>
<div style="background:url(http://zs.ef360.com/items/ouyue/images/index_09.jpg) no-repeat center top; height:442px;">
      <div class="wrapper"> <a href="http://www.ouyuer.com/" target="_blank" style="display:block; height:422px;width:1000px; border:0px solid #F00; "></a> </div>
    </div>
<!--页尾-->
<div class="w-footer">
  <div class="wrapper">

<!-- 留言 begin -->
<div id="zs_Message"><a name="liuyan"></a>
  <iframe src="http://zs.ef360.com/_inc/Message_950.asp?ItemID=2062" width="100%" height="520"  frameborder="0" marginheight="0" marginwidth="0" scrolling="no"></iframe>
</div>

<!-- 留言 end-->

<!-- 新闻 begin -->
<style>
.zs-nbox { margin-top:20px; border: 1px solid #ddd; border-top:2px solid #ccc; background: #fff; }
.zs-nbox .hd{ height:50px; line-height:50px; font-family:'Microsoft YaHei'; }
.zs-nbox .hd h2{ padding:0 20px;font-size:22px; height:50px; line-height:50px;  }
.zs-nbox .bd{ padding:0 20px 20px;  }
.zs-newspic { padding:0 0 20px; margin-left:-1%; font-family:'Microsoft YaHei';  }
.zs-newspic li { float:left; width:49%; margin-left:1%; font-size: 14px; background:#f1f1f1; }
.zs-newspic li .pic{ float:left; margin-right:20px; }
.zs-newspic li .tit{ font-size:18px; padding:15px 20px 0;}
.zs-newspic li .desc{ font-size:14px; padding:15px 20px 0; color:#888; }
.zs-newspic li .pic img{ width:200px; height:150px; }
.zs-newslist { padding:0 0 0; line-height:30px; font-family:'Microsoft YaHei';}
.zs-newslist li { width:50%; float:left; font-size: 16px; line-height:32px; height:32px; overflow:hidden; }
.zs-newslist li .pic{ float:left;}
.zs-newslist li .pic img{ width:200px; height:150px; }
</style>

<div class="zs-nbox clearFix">
  <div class="hd">
    <h2>欧玥相关资讯</h2>
  </div>
  <div class="bd">
    <ul class="zs-newspic clearFix">
      
      <li>
        
        <div class="pic"><a href="http://news.ef360.com/Articles/2018-11-14/376850.html" target="_blank"><img src="http://img.ef360.com/EditManager/FileCustomer/news/201811/201811141310273890_400x300.jpg"></a></div>
        
        <div class="tit"><a href="http://news.ef360.com/Articles/2018-11-14/376850.html" target="_blank">谁说职场一定要衬衫+OL裙?欧玥女装2018秋冬玩转职场休闲风!</a></div>
        <div class="desc">你对职场穿搭的印象是什么?似乎绝大多数人的刻板印象都是衬衫+OL裙!但事实上，职场穿搭...</div>
        </li>
      
      <li>
        
        <div class="pic"><a href="http://news.ef360.com/Articles/2018-11-5/376564.html" target="_blank"><img src="http://img.ef360.com/EditManager/FileCustomer/news/201811/201811051156555614_400x300.jpg"></a></div>
        
        <div class="tit"><a href="http://news.ef360.com/Articles/2018-11-5/376564.html" target="_blank">欧玥女装唤醒彩虹元素 让你的秋冬亮出新高度</a></div>
        <div class="desc">从年初就打响流行预警的彩虹元素一路火入了秋冬季，沉闷的秋冬正需要亮色来点缀和温暖。...</div>
        </li>
      
    </ul>
    <ul class="zs-newslist clearFix">
      
      <li><strong>·</strong> <a href="http://news.ef360.com/Articles/2018-11-26/377136.html" target="_blank">欧玥短款羽绒服上新 明星们都爱穿你还在观望？</a></li>
      
      <li><strong>·</strong> <a href="http://news.ef360.com/Articles/2018-11-16/376943.html" target="_blank">欧玥（OUYUE）|天气说变就变，保暖的毛衣玥迷们有没有备好啊！</a></li>
      
      <li><strong>·</strong> <a href="http://news.ef360.com/Articles/2018-11-14/376850.html" target="_blank">谁说职场一定要衬衫+OL裙?欧玥女装2018秋冬玩转职场休闲风!</a></li>
      
      <li><strong>·</strong> <a href="http://news.ef360.com/Articles/2018-11-5/376564.html" target="_blank">欧玥女装唤醒彩虹元素 让你的秋冬亮出新高度</a></li>
      
      <li><strong>·</strong> <a href="http://news.ef360.com/Articles/2018-10-17/376263.html" target="_blank">欧玥（OUYUE）|腿不够长？那是你鞋子没搭对！</a></li>
      
      <li><strong>·</strong> <a href="http://news.ef360.com/Articles/2018-10-9/376153.html" target="_blank">这些牵动你少女心的小细节 欧玥女装2018秋季精心奉上了!</a></li>
      
      <li><strong>·</strong> <a href="http://news.ef360.com/Articles/2018-9-18/375671.html" target="_blank">欧玥女装 我已&ldquo;跪倒&rdquo;在你的连衣裙下</a></li>
      
      <li><strong>·</strong> <a href="http://news.ef360.com/Articles/2018-9-17/375614.html" target="_blank">欧玥OUYUE | 高颜值毛衣备好 时髦要趁早</a></li>
      
      <li><strong>·</strong> <a href="http://news.ef360.com/Articles/2018-9-4/375120.html" target="_blank">欧玥（OUYUE）|时尚入秋，没有卫衣怎么行？</a></li>
      
      <li><strong>·</strong> <a href="http://news.ef360.com/Articles/2018-8-28/374971.html" target="_blank">OL风、潮人咖、慵懒腔……欧玥女装2018秋冬为你打造多元时尚</a></li>
      
    </ul>
  </div>
</div>

<!-- 新闻 end-->

<!-- 版权 begin -->
<div id="zs_footer">
  <div id="zs_footer_logo"><a href="http://www.ef360.com/" target="_blank"><img src="/_Public/Images/logo/Logo_EF360_150_60.gif" title="华衣网" /></a></div>
  <div id="zs_footer_copyright"><span style="color: #FF0000;">本页面由 <strong>华衣网(原中国服装时尚网)</strong> 设计制作—本网特别设计之LOGO及招商页面为客户特别授权，未经同意请勿采用！违者必究！</span><br />
    品牌加盟咨询QQ群：102998561　80836417(服装|女装|男装群)　95173220(童装群)　102994190(内衣群)　57608143(饰品群)<br />
    业务咨询电话：021-32030306　　业务咨询QQ：634363622<br />
    <a href="http://www.ef360.com" target="_blank">华衣网</a> 提供技术支持 www.ef360.com &copy; 2005-2018 版权所有　　沪ICP备07503963号</div>
  <div style="display:none;"><script type="text/javascript" src="http://www.ef360.com/_Public2012/include/tongji.js"></script></div>
</div>
<!-- 版权 end--> 

<!-- 导航 begin --> 

<link href="http://zs.ef360.com/_css/Lin_Nav.css" rel="stylesheet" type="text/css">
<div class="lin-zs-bar" id="Lin_NavDiv">
  <div class="wrapper clearfix">
    <div class="lin-zs-bar-lft ti1"></div>
    <div class="lin-zs-bar-rgt">
      <a href="javascript:;" class="lin-zs-bar-btnmsg"></a>
      <a href="http://brand.ef360.com/103517/product/" target="_blank" class="lin-zs-bar-btnpro"></a>
      <a href="javascript:;" class="jiathis_button_weixin lin-zs-bar-btnwei"></a>
    </div>
    <div class="lin-zs-bar-close"><a href="javascript:;" class="lin-zs-bar-btnclose">X</a></div>
  </div>
</div>
<script type="text/javascript" src="http://www.ef360.com/_Public/_js/jquery.simplemodal.1.4.1.min.js"></script>
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1517896" id="jiashell_js" charset="utf-8"></script>
<script>

$('body').append($('.lin-zs-bar'));
$('.lin-zs-bar-btnclose').bind('click', function(){
  $('.lin-zs-bar').addClass('close'); 
})
$('.lin-zs-bar-btnmsg').bind('click', function(){
  OpenMessage();
})
function OpenMessage(){
  var src = "http://www.ef360.com";
  var src = "/_public/CommentNoTit.asp?TypeID=99&ItemID=2062/";
  var html = '<div id="osx-modal-content">';
  html += '<div id="osx-modal-title">在线咨询（欧玥女装诚邀加盟）&mdash;&mdash;广州辰尚服饰有限公司（欧玥）</div>';
  html += '<div class="close"><a href="#" class="simplemodal-close">x</a></div>';
  html += '<div id="osx-modal-data">';
  html += '<iframe id="CommentIframe" name="CommentIframe" frameborder="0" scrolling="no" allowtransparency="true" style="background-color:transparent" width="100%" height="510" src="'+src+'"></iframe>';
  html += '</div></div>';
  $.modal(html,{
    overlayId: 'osx-overlay',
    containerId: 'osx-container',
    closeHTML: null,
    maxHeight:560,
    minHeight:560,
    opacity: 50, 
    zIndex: 999999999999,
    overlayClose: false
  }); 
}
</script> 
<!-- 导航 end-->

<script type="text/javascript" src="http://www.ef360.com/_public2012/js/lin/lin.quickbar.js?v=20140417"></script>
<script type="text/javascript">  
var lin_document_title = document.title + '　　　';
function go_lin_document_title() {lin_document_title = lin_document_title.substring(1, lin_document_title.length) + lin_document_title.substring(0,1);document.title = lin_document_title;}  
setInterval("go_lin_document_title()",300);  
</script> 
</div>
</div>
</body>
</html>